.kkcc-btn-success{color:#fff;background-color:#857240;border-color:#857240}.form-control{width:40px;text-align:center}table{width:100%}.me-cart-view-table .radio input[type=radio]{position:relative;margin:0}.well{background-color:#000}


.delivery-email {
    width:100% !important;
    border: 0.5px solid #ccc !important;
    background-color :#fff !important;
}

.delivery-email:focus {
    border-color: #66afe9 !important;
}

.error-message {
    color : #ff3b30;
}