<div ng-include=" 'user/header/header.html' "></div>
<div class="header-beta">We are currently in open beta and you could experience minor issues,
    please do give us feedback on issues and any suggestions to help us improve the system.
    You can contact us on support@appmaker.lk</div>

<!--Google Analytics-->
<script>
    ga('set', 'page', 'my-apps');
    ga('send', 'pageview');
</script>

<div class="obl-dashboard-wrapper">
    <div class="obl-dashboard-apps">
        <div gridster="gridsterOpts">
            <ul class="clearfix">
                <li class="obl-dashboard-createApp">
                    <button type="button" ui-sref="user.templates"></button>
                </li>
                <li gridster-item="item" ng-repeat="item in widgets | filter: myFilter">
                    <div class="me-app-box-widget">
                        <div class="me-app-box-heading">
                            <img class="me-app-header-icon" ng-src="{{item.appIcon}}">
                            <span class="me-app-title">{{item.appName}}</span>
                        </div>
                        <div class="me-app-box-body" ng-click="goToEdit(item)">
                            <div class="me-app-name">
                                {{item.appName}}
                            </div>
                            <div  ng-if="item.isMobile">

                            <div class="me-app-box-view">
                                <img class="me-app-icon" height="340" width="189" ng-src="{{path}}{{item.userId}}/templates/{{item.id}}/img/background.jpg"></div>
                            </div>
                          <div  ng-if="!item.isMobile">

                            <div class="me-app-box-view">
                                <img class="me-app-icon" height="340" width="189" ng-src="{{path}}{{item.userId}}/progressiveTemplates/{{item.id}}/assets/images/test.png"></div>
                          </div>
                            <div class="me-app-details">

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
