<footer class="main-navigation">
  <!-- Footer - bloc-37 -->
  <div class="bloc bgc-white l-bloc hidden-xs hidden-sm hidden-lg hidden-md bottom-mobie-menu" id="bloc-37">
    <div class="container">
      <div class="row row-no-gutters">
        <div class="col-xs-3" (click)="navigate('','Home')">
          <div class="text-center">
            <span class="fa fa-home icon-sm main-footer-font"></span>
          </div>
          <h6 class="mg-md text-center-xs main-footer-font"  >
            Home
          </h6>
        </div>
        <div class="col-xs-3" (click)="navigate('appUser','My Account')">
          <div class="text-center">
            <span class="fa fa-user icon-sm main-footer-font"></span>
          </div>
          <h6 class="mg-md text-center-xs main-footer-font" >
            Profile
          </h6>
        </div>
        <div class="col-xs-3">
          <div class="text-center">
            <span class="fa fa-search icon-sm main-footer-font"></span>
          </div>
          <h6 class="mg-md text-center-xs main-footer-font">
            Search<br>
          </h6>
        </div>
        <div class="col-xs-3">
          <div class="text-center">
            <span class="fa fa-phone icon-sm main-footer-font"></span>
          </div>
          <h6 class="mg-md text-center-xs main-footer-font">
            Contact
          </h6>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer - bloc-37 END -->

<!-- Footer - bloc-38 -->
<footer class="main-navigation">
  <div class="bloc margin-top d-bloc " id="bloc-38">
    <div class="container bloc-sm">
      <div class="row">
        <div class="col-sm-12">
          <div class="row ">
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
              <a *ngIf="isFacebookUrlExists()"  href="{{ getFacebookUrl() }}" ><span class="fa fa-facebook icons icon-sm mobile-icons main-footer-font"></span></a>
              <a  *ngIf="isTwitterUrlExists()" href="{{ getTwitterUrl() }}"><span class="fa fa-twitter icons icon-sm mobile-icons main-footer-font"></span></a>
              <a  *ngIf="isInstagramUrlExists()" href="{{ getInstagramrUrl() }}"><span class="fa fa-instagram icons icon-sm mobile-icons main-footer-font"></span></a>
              <a  *ngIf="isPinterestUrlExists()"  href="{{ getPinterestrUrl() }}"><span class="fa fa-pinterest-p icons icon-sm mobile-icons main-footer-font"></span></a>
              <a *ngIf="isLinkedInUrlExists()" href="{{ getLinkedInUrl() }}"><span class="fa fa-linkedin icons icon-sm mobile-icons main-footer-font"></span></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <p class="text-center mobile-footer main-footer-header"  (click)="navigate('')">
                OUTFIT.LK 2018
              </p>
            </div>
            <div class="col-xs-12 col-sm-4 main-footer-font">
                <a target="_blank" href="https://www.otenro.com">built by www.otenro.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
