<footer class="main-footer-back footer-mobile  hidden-lg hidden-md">


  <!-- Footer - bloc-37 -->
  <div class="bloc main-footer-back main-footer-font  padding-top shadow-effect position-fix height-60" id="bloc-37">
    <div class="container">
      <div class="row row-no-gutters">
        <div class="col-xs-3" (click)="navigate('','Home')">
          <div class="text-center">
            <span class="fa fa-home icon-sm main-footer-header"></span>
          </div>
          <h6 class="mg-md text-center-xs main-footer-header"  >
            Home
          </h6>
        </div>
        <div class="col-xs-3" (click)="navigate('appUser','Edit Profile')" *ngIf="loginStatus">
          <div class="text-center">
            <span class="fa fa-user icon-sm main-footer-header"></span>
          </div>
          <h6 class="mg-md text-center-xs main-footer-header" >
            Profile
          </h6>
        </div>
        <div class="col-xs-3" (click)="navigate('shop','Search')">
          <div class="text-center">
            <span class="fa fa-search icon-sm main-footer-header"></span>
          </div>
          <h6 class="mg-md text-center-xs main-footer-header">
            Search<br>
          </h6>
        </div>
        <div class="col-xs-3" (click)="navigate('contact','Contact Us')">
          <div class="text-center">
            <span class="fa fa-phone icon-sm main-footer-header"></span>
          </div>
          <h6 class="mg-md text-center-xs main-footer-header">
            Contact
          </h6>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer - bloc-37 END -->

<!-- Footer - bloc-38 -->
<div class="bloc hidden-xs  hidden-sm  main-footer-back d-bloc" id="bloc-28">
  <div class="container cus-padding">
    <div class="flex">
      <!-- App logo and subscribe content -->
      <div class="inline" *ngIf="isApplogoExists">
        <!--<div id="subscribe-container">-->
          <!--<input id="subscribe-mail" class="main-footer-font"  type="text" placeholder="name@mail.com">-->
          <!--<input id="subscribe-button" type="button" class="btn btn-d btn-lg main-button" value="Subscribe">-->
          <!--<span class="main-footer-font">Subscribe for {{appName?.slice(0, appName?.length - 4)}} newsletters.</span>-->
        <!--</div>-->
        <div id="logo-image-container">
          <img src="{{imageUrl}}/footer.png&dummy={{dummy}}" width="150px"  />
        </div>
      </div>
      <!-- Quick links content -->
      <div id="quick-links" class="inline" [ngStyle]="{ 'margin-left': !isApplogoExists ? '10vw': '0px' }">
        <span class="main-footer-header">quick links</span>
        <a class="main-footer-font fit-content" [routerLink]="['/aboutus']">About us</a>
        <a class="main-footer-font fit-content"  [routerLink]="['/policies']">Policies</a>
        <a class="main-footer-font fit-content"  [routerLink]="['/terms']">Terms & conditions</a>
      </div>
      <!-- Customer care content -->
      <div id="cutomer-care" class="inline" [ngStyle]="{ 'margin-left': !isApplogoExists ? '10vw': '0px' }">
        <span id="customer-care-header" class="main-footer-header">CONNECT WITH US</span>
        <label class="main-footer-font" >Phone: {{phone}}</label>
        <label class="main-footer-font" >Email: {{email}}</label>
        <label class="main-footer-font" >Website: <a href="{{webSite}}">{{webSite}}</a></label>
        <a *ngIf="isFacebookUrlExists()" target="_blank" href="{{ getFacebookUrl() }}">
          <span class="fa fa-facebook icons icon-sm mobile-icons main-footer-font"></span>
        </a>
        <a *ngIf="isTwitterUrlExists()" target="_blank" href="{{ getTwitterUrl() }}">
          <span class="fa fa-twitter icons icon-sm mobile-icons main-footer-font"></span>
        </a>
        <a *ngIf="isInstagramUrlExists()" target="_blank" href="{{ getInstagramrUrl() }}">
          <span class="fa fa-instagram icons icon-sm mobile-icons main-footer-font"></span>
        </a>
        <a *ngIf="isPinterestUrlExists()" target="_blank" href="{{ getPinterestrUrl() }}">
          <span class="fa fa-pinterest-p icons icon-sm mobile-icons main-footer-font"></span>
        </a>
        <a *ngIf="isLinkedInUrlExists()" target="_blank" href="{{ getLinkedInUrl() }}">
          <span class="fa fa-linkedin icons icon-sm mobile-icons main-footer-font"></span>
        </a>
      </div>
    </div>

    <div id="footer-bottom">
      <div id="app-name" [ngClass]="{ 'appname-if-ipg': isIpgInfoExists(), 'appname-if-not-ipg': !isIpgInfoExists() }">
        <span class="main-footer-font">{{appName}}</span>
      </div>
      <!-- Accepted payment types -->
      <div id="accepted-payments" *ngIf="isIpgInfoExists()">
        <span class="main-footer-header">accepted payment types</span>
        <img *ngIf = "ipgInfo && ipgInfo.paypalEnable" src="assets/images/Paypal.png">
        <img *ngIf = "ipgInfo && ipgInfo.paypalEnable" src="assets/images/Visa.png">
        <img *ngIf = "ipgInfo && ipgInfo.paypalEnable" src="assets/images/Master.png">
        <img *ngIf = "ipgInfo && ipgInfo.paypalEnable" src="assets/images/Amex.png">

        <img *ngIf = "ipgInfo && ipgInfo.cashOnDeliveryEnable" src="assets/images/Cash-on-Delivery.png">
        <img *ngIf = "ipgInfo && ipgInfo.cashOnPickupEnable" src="assets/images/Cash-on-pickup.png">

        <img *ngIf = "ipgInfo && ipgInfo.payHereEnable" src="assets/images/PayApp.png">
        <img *ngIf = "ipgInfo && ipgInfo.payHereEnable" src="assets/images/mCash.png">
        <img *ngIf = "ipgInfo && ipgInfo.payHereEnable" src="assets/images/ezCash.png">
        <img *ngIf = "ipgInfo && ipgInfo.payHereEnable" src="assets/images/Vishwa.png">
        <img *ngIf = "ipgInfo && ipgInfo.payHereEnable && !ipgInfo.authorizeNetEnable && !ipgInfo.stripeEnable  && !ipgInfo.paypalEnable" src="assets/images/Visa.png">
        <img *ngIf = "ipgInfo && ipgInfo.payHereEnable && !ipgInfo.authorizeNetEnable && !ipgInfo.stripeEnable  && !ipgInfo.paypalEnable" src="assets/images/Master.png">
        <img *ngIf = "ipgInfo && ipgInfo.payHereEnable && !ipgInfo.authorizeNetEnable && !ipgInfo.stripeEnable  && !ipgInfo.paypalEnable" src="assets/images/Amex.png">

        <img *ngIf = "ipgInfo && (ipgInfo.authorizeNetEnable && !ipgInfo.stripeEnable  && !ipgInfo.paypalEnable)" src="assets/images/Visa.png">
        <img *ngIf = "ipgInfo && (ipgInfo.authorizeNetEnable && !ipgInfo.stripeEnable  && !ipgInfo.paypalEnable)" src="assets/images/Master.png">

        <img *ngIf = "ipgInfo && (ipgInfo.stripeEnable && !ipgInfo.authorizeNetEnable  && !ipgInfo.paypalEnable)" src="assets/images/Visa.png">
        <img *ngIf = "ipgInfo && (ipgInfo.stripeEnable && !ipgInfo.authorizeNetEnable  && !ipgInfo.paypalEnable)" src="assets/images/Master.png">
        <img *ngIf = "ipgInfo && (ipgInfo.stripeEnable && !ipgInfo.authorizeNetEnable  && !ipgInfo.paypalEnable)" src="assets/images/Amex.png">
      </div>
    </div>
  </div>
</div>