/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
:host  /deep/ .carousel {
  margin-bottom: 1.5rem;
}
/* Since positioning the image, we need to help out the caption */
:host  /deep/ .carousel-caption {
  z-index: 10;
  bottom: 3rem;
  height: 55%;
}

/* Declare heights because of positioning of img element */
:host  /deep/ .carousel-item {
  height: calc(50vh);
  background-color: #777;
}
 :host  /deep/ .carousel-item > img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

:host  /deep/ .carousel-control-prev, :host  /deep/ .carousel-control-next, :host  /deep/ .carousel-indicators{
	display: none;
}


/* ABOUT MAIN CONTENT
-------------------------------------------------- */
.about-main{
	padding:100px 0;
}

.about-main h1{
    font-size: 40px;
    font-weight: 700;
    color: #1c1f23;
}

.about-main h2{
	margin-top: 10px;
    margin-bottom: 27px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #b67c5a;
}

.about-main div{
	margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.9;
    color: #7b7d7f;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
:host  /deep/  app-marketing-option1-left .row .col-md-6:first-child{
 	width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 50px!important;
    display: flex;
}
:host  /deep/  app-marketing-option1-right .row .col-md-6:nth-child(1){
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 50px!important;
    display: flex;
}

:host  /deep/ .featurette-heading {
  font-size: 40px;
}

:host  /deep/ .featurette h3{

	margin-top: 10px;
    margin-bottom: 27px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #b67c5a;
}

:host  /deep/ .featurette p{
	margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.9;
    color: #7b7d7f;
}


/* Featurettes
------------------------- */

:host  /deep/ .featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}


/* news letter
------------------------- */

:host  /deep/ .b-form-newsletter {
  padding: 70px 25px 0 25px !important;
}


/* news letter
------------------------- */

.progress-list{
	margin-top: 10rem!important;
    margin-bottom: 5rem!important;
}

.progress-list p{
    margin-top: 7px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #1c1f23;
}

.progress-list span{
	display: block;
}

.progress-list span:first-child{
    font-size: 100px;
    letter-spacing: -0.1em;
    color: #b67c5a;
}

.progress-list .col-md-4{
	padding: 10px;
	border-right:1px solid #ccc;
	text-align:center;
}

.progress-list .col-md-4:last-child{
	border:0 !important;
}
