.footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0px -2px 20px 2px rgba(0, 0, 0, 0.12);
  background-color: #f5f5f5;
}

.footer .btn-group{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.footer .btn-group button{
  border: 0;
  color: #989898
}
.footer .btn-group button:active{
  color: #000;
  background-color: transparent;
  box-shadow: none;
}

.footer button.btn.btn-default:active:after {
  content: '';
  width: 55px;
  height: 5px;
  background: black;
  position: absolute;
  left: -5px;
  bottom: -14px;
}
