<footer class="footer">

  <div class="btn-group" role="group" aria-label="footer">
    <button type="button" class="btn btn-default" aria-label="Home" (click)="navigate('')">
      <i class="fa fa-home fa-lg"></i>
    </button>

    <button type="button" class="btn btn-default" aria-label="Policies" (click)="navigate('policies')">
      <i class="fa fa-shield fa-lg"></i>
    </button>
    <button type="button" class="btn btn-default" aria-label="Contact" (click)="navigate('contact')">
      <i class="fa fa-phone fa-lg"></i>
    </button>
    <button type="button" class="btn btn-default" aria-label="My Account"  data-toggle="modal" data-target="#myAccountModel">
      <i class="fa fa-user fa-lg"></i>
    </button>
  </div>
</footer>



<!-- My Account Model -->
<div class="modal fade" id="myAccountModel" tabindex="-1" role="dialog" aria-labelledby="myAccountModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h3 class="padding-bottom">Subscribe</h3>
        <p>Rs.20+tax per day</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>

        <button type="button" class="btn sub-button-sub btn-block"> Unsubscibe Now</button>
        <button type="button" class="btn sub-button-cancel btn-block" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
