<md-dialog aria-label="Manage Products" class="md-dialog-addProduct">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'add-product');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tabs  md-no-ink-bar ="false" md-no-ink="true" md-no-bar  md-center-tabs="false" md-selected="selectedTab"  md-autoselect="false"
                  md-dynamic-height="true">
            <!--Add Product Tab 1 content -->
            <md-tab ng-disabled="addProductsOptionParams.firstLocked">
                <md-tab-label>Product Type</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Choose Product Type</h1>
                    </div>
                    <div id="Navigation" class="add-prod md-dialog-main">
                        <div class="products-options">
                            <md-list flex>
                                <md-list-item class="md-3-line" ng-repeat="type in productTypes" ng-click="addType(type,1)">
                                    <div class="md-list-item-text" layout="column">
                                        <h1>{{type.type}}</h1>
                                        <h4>{{type.description}}</h4>
                                        <p class="color-link">{{type.status}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="back()">Cancel</md-button>
                            <!--<md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>-->
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

            <!-- Add Product Tab 2 content -->
            <md-tab ng-disabled="addProductsOptionParams.secondLocked">
                <md-tab-label>Add Details</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Add Product</h1>
                    </div>
                    <md-content layout-padding>
                        <form name="productForm">
                            <div class="md-dialog-main">
                                <div class="clearfix">

                                    <md-input-container class="md-block">
                                        <label>Name</label>
                                        <input md-maxlength="30"  ng-required="true" name="name" ng-model="product.name">
                                        <div ng-messages="productForm.name.$error" ng-show="productForm.name.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
                                        </div>
                                    </md-input-container>



                                    <md-input-container class="md-block">
                                        <label class="padding-bottom">Description</label>
                                        <br>
                                        <div>

                                            <md-menu class="paste-options">
                                                <!-- Trigger element is a md-button with an icon -->
                                                <md-button  id="addDescription" ng-click="$mdOpenMenu($event)" class="paste-button md-icon-button" aria-label="Open sample menu">
                                                    &nbsp;
                                                </md-button>
                                                <md-menu-content>
                                                    <md-menu-item><md-button ng-click="stripHtml()">Keep text only</md-button></md-menu-item>
                                                    <md-menu-item><md-button>Keep source formating</md-button></md-menu-item>
                                                </md-menu-content>
                                            </md-menu>

                                            <ng-quill-editor
                                                    name="editorText"
                                                    ng-model="product.detailedDesc"
                                                    ng-paste="pastedText(product.detailedDesc, $event)"
                                                    required>

                                            </ng-quill-editor>
                                            <!--<text-angular  rows="4" class="input-shadow-border" ng-model="product.detailedDesc" required></text-angular>-->
                                        </div>
                                        <!--<textarea type="area" required   name="detailedDesc" rows="1"  ng-model="product.detailedDesc"> </textarea>-->

                                        <div ng-messages="productForm.detailedDesc.$error" ng-show="productForm.detailedDesc.$dirty">
                                            <div ng-message="required">Description is required.</div>
                                        </div>
                                    </md-input-container>

                                    <!--SKU pattern removed-->

                                    <!--ng-pattern="/^\d*[1-9]\d*$/"-->


                                    <md-input-container class="md-block">
                                        <label>SKU</label>
                                        <input md-maxlength="10"
                                               required
                                               ng-disabled="skuFieldEnable"
                                               name="sku"
                                               ng-model="product.sku"
                                               ng-readonly="product.checked"
                                               >
                                        <!--<div class="error" ng-if="exist">Sku already exist</div>-->
                                        <div ng-messages="productForm.sku.$error" ng-show="productForm.sku.$dirty">
                                            <div ng-message="required">SKU is required.</div>
                                            <div ng-message="md-maxlength">The SKU must be less than 10 characters long.</div>
                                            <!--<div ng-message="pattern" class="my-message">That doesn't look like a valid SKU</div>-->
                                        </div>
                                    </md-input-container>


                                    <md-input-container class="md-block" flex="50">
                                        <label>Sub Category</label>
                                        <md-select class="" placeholder="Sub Category" ng-model="product.childId"
                                                   required>
                                            <md-option ng-value="ch.id" ng-repeat="ch in child ">{{ch.name}}
                                            </md-option>

                                            <md-option ng-click="newcategory ()">Create New Category</md-option>


                                        </md-select>


                                    </md-input-container>

                                    <md-input-container class="md-block" flex="50" ng-if = "liveApps == true" >
                                        <md-select class="" placeholder="Product type" ng-model="product.mainType" required>
                                            <md-option ng-value="type" ng-repeat="type in types ">{{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                </div>
                            </div>
                            <div class="md-dialog-buttons">
                                <div class="inner-section">

                                    <md-button class="me-default-button" ng-click="back()">Cancel</md-button>
                                    <!--<md-button class="me-default-button" ng-hide="product.sku" ng-click="answer('cancel')">Cancel</md-button>-->
                                    <md-button class="me-default-button" ng-disabled="productForm.$invalid" ng-click="generalDetails(product,2,skuFieldEnable)">Next</md-button>
                                </div>
                            </div>
                        </form>
                    </md-content>
                </md-tab-body>
            </md-tab>

            <!--Product Variants Tab-->
            <md-tab class="price-varients-tab" ng-if="isDigital==false" ng-disabled="addProductsOptionParams.thirdLocked" >
                <md-tab-label>Price & Variants</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Price & Variants</h1>
                    </div>
                    <form name="priceAndVariantsForm" novalidate>
                        <div class="custom-add-products">
                            <table class="me-hours-table">
                                <thead>
                                <th width="15%">Product Name</th>
                                <th width="8%">Sku</th>
                                <th width="8%">Price({{currency}})</th>
                                <th width="10%">Quantity</th>
                                <th width="10%">Weight(kg)</th>
                                <!--<th width="28%"><input type="text" required name="variantType" ng-model="selection" placeholder="Variant Name" list="variantType"/>-->
                                    <!--<datalist id="variantType">-->
                                        <!--<option value="Size">Size</option>-->
                                        <!--<option value="Weight">Weight</option>-->
                                        <!--<option value="Color">Color</option>-->
                                    <!--</datalist></th>-->
                                <th width="10%" data-ng-repeat="data in product.selection">
                                    <a data-ng-click="addNewVariant(product, data.name)">{{data.name}}</a>
                                </th>
                                <th  width="5%" style="text-align: center;" >
                                    <div data-ng-if="product.selection.length <=3 || product.selection.length==undefined">Add Variant
                                    <div  class="add-icon icon icon-plus" ng-click="addNewVariant(product)"></div>
                                    </div>
                                </th>
                                <th width="4%">Delete</th>
                                </thead>
                                <tbody>

                                <tr ng-repeat="data in product.variants">
                                    <td ng-model="data.name">
                                        <p class="product-name">{{data.name}}</p>
                                        <div disable-all="priceAndVariantsForm.$invalid" class="add-new-variant">
                                            <div class="add-icon icon icon-plus" ng-click="addVariant(selection,product,$index,data);generalDetails(data , 1)">
                                                <span>Add row</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <md-input-container style="width: 80px;">
                                            <input ng-blur="checkValidity(data.sku, $index)"  maxlength="10"
                                                   required
                                                   aria-label="SKU"
                                                   ng-disabled="initSku($index)&&!isNewProduct"
                                                   class="product-sku"
                                                   name="sku_{{$index}}"
                                                   ng-model="data.sku"
                                                   ng-readonly="data.checked"
                                                   ng-click="check($index)">
                                            <div class="error" ng-if="exist && $index == position">Sku already exist</div>
                                            <div ng-messages="priceAndVariantsForm['sku_'+$index].$error" ng-show="priceAndVariantsForm['sku_'+$index].$dirty">
                                                <div ng-message="required">SKU is required.</div>
                                                <!--<div ng-message="pattern" style="line-height:13px;" class="my-message">Invalid SKU</div>-->

                                            </div>
                                        </md-input-container>
                                    </td>
                                    <!--<td>-->
                                    <!--<md-input-container class="md-container-modify">-->
                                    <!--<input id ='vName_{{$index}}'  type="text" name="vName_{{$index}}" min="1"-->
                                    <!--maxlength="8" ng-model="data.vName"-->
                                    <!--ng-required="data.unlimited == false" ignore-mouse-wheel >-->
                                    <!--<div ng-messages="priceAndVariantsForm['vName_' + $index].$error"-->
                                    <!--ng-show="priceAndVariantsForm['vName_' + $index].$dirty">-->
                                    <!--<div ng-message="pattern">Invalid quantity</div>-->
                                    <!--<div ng-message="required" class="my-message">Required!</div>-->
                                    <!--</div>-->
                                    <!--</md-input-container>-->
                                    <!--</td>-->
                                    <td>
                                        <md-input-container class="md-container-modify">
                                            <input type="text"
                                                   aria-label="Price"
                                                   name="price_{{$index}}" ng-pattern="/^\d+(?:[.]\d{1,2}|$)$/" ng-model="data.price" required ignore-mouse-wheel>
                                            <div ng-messages="priceAndVariantsForm['price_' + $index].$error" ng-show="priceAndVariantsForm['price_' + $index].$dirty">
                                                <div ng-message="pattern">Invalid price</div>
                                                <div ng-message="required" class="my-message">Required!</div>
                                            </div>

                                        </md-input-container>
                                        <!--<span ng-show="priceAndVariantsForm['price_' + $index].$error.maxlength">Too lengthy</span></td>-->

                                    <td class="add-quantity">
                                        <md-input-container class="md-container-modify">
                                            <input id ='{{$index}}' ng-disabled="data.unlimited" type="text" name="qty_{{$index}}" min="1"
                                                   aria-label="Quantity"
                                                   ng-if="data.unlimited != true" ng-pattern="/^\d+(?:[.]\d{1}|$)$/" maxlength="8" ng-model="data.quantity"
                                                   ng-required="data.unlimited != true" ignore-mouse-wheel >
                                            <div ng-messages="priceAndVariantsForm['qty_' + $index].$error"
                                                 ng-show="priceAndVariantsForm['qty_' + $index].$dirty">
                                                <div ng-message="pattern">Invalid quantity</div>
                                                <div ng-message="required" class="my-message">Required!</div>
                                            </div>
                                        </md-input-container>
                                        <md-checkbox ng-change = 'setValue({{$index}})' ng-disable="data.quantity.$invalid"
                                                     ng-model="data.unlimited" aria-label="Unlimited">
                                            Unlimited
                                        </md-checkbox>

                                    </td>
                                    <td>

                                        <md-input-container class="md-container-modify">
                                            <input id ='weight_{{$index}}'    type="number" name="weight_{{$index}}" min="0"
                                                   aria-label="Weight"
                                                   min="0.00" name="price_{{$index}}" ng-pattern="/^\w+/" maxlength="8"
                                                   ng-model="data.weight" required ignore-mouse-wheel>
                                            <div ng-messages="priceAndVariantsForm['weight' + $index].$error"
                                                 ng-show="priceAndVariantsForm['weight' + $index].$dirty">
                                                <div ng-message="pattern">Invalid Weight</div>
                                                <div ng-message="required" class="my-message">Required!</div>
                                            </div>

                                        </md-input-container>

                                        <!--<md-input-container class="md-container-modify">-->
                                        <!--<input id ='weight_{{$index}}'  type="text" name="weight_{{$index}}" min="1"-->
                                        <!--aria-label="Weight"-->
                                        <!--ng-pattern="/^\w+/" maxlength="8" ng-model="data.weight"-->
                                        <!--ng-required="data.unlimited == false" ignore-mouse-wheel >-->
                                        <!--<div ng-messages="priceAndVariantsForm['weight_' + $index].$error"-->
                                        <!--ng-show="priceAndVariantsForm['weight_' + $index].$dirty">-->
                                        <!--<div ng-message="pattern">Invalid weight</div>-->
                                        <!--<div ng-message="required" class="my-message">Required!</div>-->
                                        <!--</div>-->
                                        <!--</md-input-container>-->




                                    </td>
                                    <!--<td>-->
                                        <!--<md-input-container class="md-container-modify md-text-input-custom">-->
                                            <!--<input ng-blur="validateInputValueVType(data.vType,'vType')" id ='vType_{{$index}}'  type="text" name="vType_{{$index}}" min="1"-->
                                                   <!--ng-pattern="/^\w+/"-->
                                                   <!--maxlength="12" ng-model="data.vType" placeholder="Variant Type"-->
                                                   <!--ng-required="data.unlimited == false" ignore-mouse-wheel >-->
                                            <!--<div ng-messages="priceAndVariantsForm['vType_' + $index].$error"-->
                                                 <!--ng-show="priceAndVariantsForm['vType_' + $index].$dirty">-->
                                                <!--<div ng-message="pattern">Invalid variant type</div>-->
                                                <!--<div ng-message="required" class="my-message">Required!</div>-->
                                            <!--</div>-->
                                        <!--</md-input-container>-->
                                    <!--</td>-->

                                    <!--<span ng-show="priceAndVariantsForm['qty_' + $index].$error.maxlength">Too lengthy</span></td>-->
                                    <td data-ng-repeat="SAD in data.selection">
                                        <md-input-container class="md-container-modify md-text-input-custom">
                                            <input ng-blur="validateInputValueVType(SAD.vType,'vType')" id ='vType_{{$index}}'  type="text" name="vType_{{$index}}" min="1"
                                                   ng-pattern="/^\w+/"
                                                   maxlength="12" ng-model="SAD.vType" placeholder="Variant Type"
                                                   required>
                                            <div ng-messages="priceAndVariantsForm['vType_' + $index].$error">
                                                <div ng-message="required" >Required!</div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                    <td></td>

                                    <td class="delete-icon">
                                        <img src="../../../images/delete-icon.png" ng-click="deleteVariant($index,data)">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </form>
                    <div class="md-dialog-buttons" style="padding:0 39px">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="back()">Cancel</md-button>
                            <!--<md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>-->
                            <md-button type="submit" ng-disabled="priceAndVariantsForm.$invalid || exist"
                                       class="me-default-button" ng-click="addProductVariants(data,3)">Next</md-button>
                        </div>
                    </div>

                </md-tab-body>
            </md-tab>

            <!--<md-tab ng-if="isDigital==true">-->
                <!--<md-tab-label>Pricing & Upload</md-tab-label>-->
                <!--<md-tab-body>-->
                    <!--<div class="md-dialog-header">-->
                        <!--<h1>Pricing & Uploads</h1>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-main">-->
                        <!--<div class="file-upload-wrapper clearfix">-->
                            <!--<p class="file-upload-msg">Select a product to upload</p>-->
                            <!--<div class="pull-left">-->
                                <!--<div class="me-file-upload rounded">-->
                                    <!--<div class="upload-wrapper">-->
                                        <!--<input type="button" ngf-select ng-model="File" ngf-accept="*"-->
                                               <!--aria-invalid="true" ngf-change="changeImage()" required/>-->
                                        <!--<span>select product</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="uploaded-section clearfix">-->
                            <!--<div class="uploaded-new-image">-->
                                <!--<p>Selected Product</p>-->
                                <!--<img ng-if="File == null" ng-src="../../../images/medium-placeholder.png" width="150"-->
                                     <!--height="150"/>-->
                                <!--<img ng-if="File != null" ngf-src="File" width="150" height="150"/>-->

                                <!--<button class="me-upload-image-button" ng-click="addFile(File)">Upload Image-->
                                <!--</button>-->
                            <!--</div>-->
                            <!--<div class="uploaded-old-images">-->
                                <!--<p>Add Pricing</p>-->
                                <!--<fieldset>-->
                                    <!--<p>Product Price</p>-->
                                    <!--<input type="number" name="name" ng-model="variants.price" id="input-price"-->
                                           <!--class="me-xs-input reset-inline" required ignore-mouse-wheel/>-->
                                <!--</fieldset>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-buttons">-->
                        <!--<div class="inner-section">-->
                            <!--&lt;!&ndash;<md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>&ndash;&gt;-->
                            <!--<md-button class="me-default-button" ng-click="back()">Cancel</md-button>-->
                            <!--<md-button class="me-default-button" ng-click="nextStep3Digital(3,product,variants,weight)">Next-->
                            <!--</md-button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-tab-body>-->
            <!--</md-tab>-->

            <md-tab ng-disabled="addProductsOptionParams.bannerLocked">
                    <md-tab-label>Upload Banner Image</md-tab-label>
                    <md-tab-body>
                        <div class="md-dialog-header">
                            <h1>Upload Banner Image</h1>
                        </div>
                        <div class="md-dialog-main">
                            <div class="file-upload-wrapper2 clearfix">
                                <label>Recommended image size : {{sizeBanner.w}}x{{sizeBanner.h}}px</label>
                                <div class="cropArea ">

                                    <ui-cropper image="myBannerImage" area-type="rectangle" aspect-ratio="aspectRatioBanner" result-image="picFile" result-image-size="sizeBanner">
                                    </ui-cropper>

                                </div>
                                <br>

                                <div class="inputField btn-material img-up">
                                    <span >{{bannerButtonName}}</span>
                                    <div class="img-up1" ng-if="!picFile">
                                        <input type="file" value="" ng-click = "cropBannerImage();"  id="fileInputbanner" class="file" size="100">

                                    </div>
                                    <div  ng-if="picFileBanner" class="img-up1" ng-click="addBannerImage(picFile)"></div>
                                </div>
                            </div>
                        <div class="uploaded-section image-upload clearfix" style="width:35%">
                            <div class="uploaded-new-image">
                                <img ng-if="picFileBanner == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                     height="150" style="display:none" />
                                <img ng-if="picFileBanner != null" ngf-src="picFileBanner" width="150" height="150" style="display:none" />
                            </div>
                            <div class="uploaded-old-images">
                                <p>Uploaded Banner Images</p>
                                <div class="old-images clearfix">
                                    <div class="old-image">
                                        <div>
                                            <input type="button" ng-click="deleteBanner(0)" value='delete'
                                                   class="image-delete-button"/>
                                            <img ng-click="setImage()" ng-if="bannerImage == null"
                                                 src="../../../images/small-placeholder.png" width="100%" />
                                            <img ng-click="setImage(0)" ng-if="bannerImage !== null" ngf-src="bannerImage"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="md-dialog-buttons" style="padding:0 39px">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="back()">Cancel</md-button>
                                <!--<md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>-->
                                <md-button type="submit" ng-disabled="priceAndVariantsForm.$invalid || exist"
                                           class="me-default-button" ng-click="addBanner(data,4)">Next</md-button>
                            </div>
                        </div>
                </md-tab-body>
            </md-tab>

            <md-tab ng-disabled="addProductsOptionParams.imageUploadLocked">
                <md-tab-label>Upload Image</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Upload Image</h1>
                    </div>
                    <div class="md-dialog-main">
                        <div class="file-upload-wrapper2 clearfix">
                            <label>Recommended image size : {{iSizeThird.w}}x{{iSizeThird.h}}px</label>
                            <div class="cropArea ">

                                <ui-cropper image="myImage" area-type="rectangle" aspect-ratio="thirdNaviAspectRatio" result-image="picFile" result-image-size="iSizeThird"  result-image-format="image/jpeg" result-image-quality="0.8">
                                </ui-cropper>

                            </div>
                            <br>
                            <fieldset>
                                <div ng-form name="myForm">
                                <div class="row">
                                        <label class="col-md-12">Video Url (optional)</label>
                                </div>
                                <input class="apikey input-shadow-border" ng-pattern = "/^(https\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$/" type="text" ng-model="product.videoUrl"
                                       name="url" placeholder="Paste your Youtube video URL" required />
                                    <span class="error" ng-show="myForm.url.$error.pattern">Invalid Youtube URL (ex: https://youtu.be/R4U-JgRx3iQ or https://www.youtube.com/watch?v=R4U-JgRx3iQ)</span>

                                </div>
                            </fieldset>


                            <div class="inputField btn-material img-up">
                                <span >{{buttonName}}</span>
                                <div class="img-up1" ng-if="!picFile">
                                    <input type="file" value="" ng-click = "cropImage();"  id="fileInput" class="file" size="100">

                                </div>
                                <div  ng-if="picFile" class="img-up1" ng-click="addImage(picFile,product.videoUrl)"></div>
                            </div>
                        </div>

                        <div class="uploaded-section image-upload clearfix">
                           <div class="uploaded-old-images">
                                <p>Uploaded Product Images</p>
                                <div class="old-images clearfix">
                                    <div class="old-image" ng-repeat="n in [].constructor(8) track by $index">
                                       <div ng-class="{special: defaultImage ==  $index}">
                                            <input type="button" ng-click="deleteImg( $index)" value='delete'
                                                   class="image-delete-button"/>
                                            <img ng-click="setImage()" ng-if="tmpImage[ $index].img == null"
                                                 src="../../../images/small-placeholder.png"  width="100%"/>
                                            <img id="1"  ng-click="defImg($index,tmpImage[$index].videoUrl)" ng-if="tmpImage[$index].img !== null" ngf-src="tmpImage[$index].img"/>
                                       </div>
                                        <md-input-container>
                                            <md-select class="img-sku-w" ng-disabled="!tmpImage[$index].img|| (originalSku.length == selectedSku.length && (tmpImage[$index].sku.length == $index || !tmpImage[$index].sku))" ng-change = "onChange(tmpImage[$index].sku, $index)" ng-model="tmpImage[$index].sku" placeholder="Select sku" multiple="">
                                                <md-option ng-value="variants" ng-repeat="variants in getSku(0)">{{ variants }}</md-option>
                                            </md-select>
                                            <div class="padding-vertical">
                                                <span ng-if = "tmpImage[$index].videoUrl">{{checkUrl(tmpImage[$index].videoUrl)}}</span>
                                                <span ng-if = "!tmpImage[$index].videoUrl">No video</span>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <!--<md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>-->
                            <md-button class="me-default-button" ng-click="back()">Cancel</md-button>
                            <md-button class="me-default-button" ng-disabled = "myForm.url.$error.pattern" ng-click="addOrUpdateProducts()">save </md-button>
                            <md-button class="me-default-button" ng-disabled = "myForm.url.$error.pattern" ng-click="saveAndPublishProducts()">save & publish</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>


    <!--
    <div class="dialog-controls clearfix">
        <md-button class="me-default-button" ng-click="hide()">Close</md-button>
    </div>
    -->
</md-dialog>