<md-dialog aria-label="Add Shipping Option">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'add-shipping-options');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="selectedTab" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab ng-disabled="shippingOptionParams.firstLocked">
                <md-tab-label>shipping types</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>shipping types</h1>
                    </div>
                    <div class="md-dialog-full">
                        <div class="products-options">
                            <a ng-click="moveToFlatRateOption()">
                                <h1>flat rate</h1>
                                <label>Define a charge for every order and a flat fee for every item</label>
                            </a>
                            <a ng-click="moveToWeightBasedOption()">
                                <h1>weight based</h1>
                                <label>Cost will depend on the total weight of the purchase</label>
                            </a>
                            <a ng-click="moveToPickupOption()">
                                <h1>pick up</h1>
                                <label>Define a location for the customer to  pickup the order</label>
                            </a>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="backToShippingView()">cancel</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="shippingOptionParams.secondLocked">
                <md-tab-label>flat rate</md-tab-label>

                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>flat rate</h1>
                    </div>

                    <div class="md-dialog-main clearfix">
                        <form name="flatRate" novalidate>
                        <fieldset>
                            <label>option name</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12" />
                            <input class="input-shadow-border" type="text" name="optionName" required ng-model="flatRates.optionName" />
                            <div ng-hide="flatRates.optionName.length > maxFlatRate">
                                <span class="information">Characters left: {{maxFlatRate - flatRates.optionName.length}}</span>
                            </div>
                            <div  ng-show="flatRates.optionName.length > maxFlatRate">
                                <span class="information">Characters left: </span> <span class="information"> {{maxFlatRate - flatRates.optionName.length}} </span>
                            </div>
                            <br>
                        </fieldset>

                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Per order fee({{currency}}) </label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input class="input-shadow-border"  type="text" name="preOrderFee" ng-pattern="/^\d+(.\d{1,2})?$/"
                                       ng-model="flatRates.preOrderFee" maxlength="10"  required/>
                                <br />
                                <span class="error" ng-show="flatRate.preOrderFee.$error.pattern">Only Positive numbers and Maximum two decimal places only</span>
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>Per item fee({{currency}})</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input class="input-shadow-border" type="text" name="feePerItem" ng-pattern="/^\d+(.\d{1,2})?$/"
                                       ng-model="flatRates.feePerItem" maxlength="10"  required/>
                                <br />
                                <span class="error" ng-show="flatRate.feePerItem.$error.pattern">Only Positive numbers and Maximum two decimal places only</span>
                            </fieldset>
                        </div>
                            </form>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="backToShippingView()">cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="flatRate.$invalid" ng-click="insertFlatRates(flatRates);">next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="shippingOptionParams.thirdLocked">
                <md-tab-label>weight based</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Weight based</h1>
                    </div>
                    <form name="weightBased" novalidate>
                    <div class="md-dialog-main clearfix">
                        <fieldset>
                            <label>option name</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12" />
                            <input class="input-shadow-border" type="text" name="name"  ng-pattern='/^[a-zA-Z0-9_ !-@#$&()\\-`.~+,=^<>{}[%*/\"]*$/' ng-model="weightRate.optionName" required/>
                            <br />
                            <!--<span class="error" ng-show="weightBased.name.$error.pattern">No symbols</span>-->
                            <div ng-hide="weightRate.optionName.length > maxWeightRate">
                                <span class="information">Characters left: {{maxWeightRate - weightRate.optionName.length}}</span>
                            </div>
                            <div  ng-show="weightRate.optionName.length > maxWeightRate">
                                <span class="information">Characters left:{{maxWeightRate - weightRate.optionName.length}}</span>
                            </div>
                        </fieldset>
                        <fieldset class="reset-margin">
                            <label>weight ranges</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12" />
                        </fieldset>
                        <table class="me-simple-table">
                            <thead>
                                <th class="simple-column">weight (kg)</th>
                                <th class="simple-column">cost({{currency}})</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in weightRate.weightRanges">
                                    <td class="weight-rate">
                                        <input id="startWeight{{$index}}" ng-blur="validateInputValue(data.startWeight,data.endWeight,'startWeight',$index)"
                                               class="input-shadow-border" type="text" name="weightField_{{$index}}" ng-pattern="/^\d*[0-9\.]\d*$/"
                                               ng-model="data.startWeight" maxlength="10" required>
                                        <br />
                                        <span ng-show="weightBased['weightField_'+$index].$error.pattern">
                                            Positive Numbers Only
                                        </span>
                                        <br />
                                            to
                                        <input id="endWeight{{$index}}" ng-blur="validateInputValue(data.startWeight,data.endWeight,'endWeight',$index)"
                                               class="input-shadow-border" type="text" name="endWeight_{{$index}}" ng-pattern="/^\d*[0-9\.]\d*$/"
                                               ng-model="data.endWeight" maxlength="10" required>
                                        <br />
                                        <span ng-show="weightBased['endWeight_'+$index].$error.pattern">
                                            Positive Number Only
                                        </span>
                                    </td>
                                    <td>
                                        <input class="input-shadow-border" type="text" name="cost_{{$index}}" ng-pattern="/^\d+(.\d{1,2})?$/"
                                               ng-model="data.cost" maxlength="10" required>
                                        <br />
                                        <span ng-show="weightBased['cost_'+$index].$error.pattern">
                                            Only Positive numbers and Maximum two decimal places only
                                        </span>
                                    </td>
                                    <td ng-if = "$index != 0">
                                        <div class='delete-icon'  ng-show="$index == 0 || $index ==(weightRate.weightRanges.length-1)">
                                            <img ng-click='deleteWeight($index)' name="deleteWeight_{{$index}}" src='../../../images/delete-icon.png'>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div disable-all="weightBased.$invalid">
                        <div class="icon icon-plus" ng-click="addNewWeightRange()"></div>
                        </div>
                    </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="backToShippingView()">cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="weightBased.$invalid" ng-click="insertWeightBase(weightRate)">next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="shippingOptionParams.pickupLocked">
                <md-tab-label>pick up</md-tab-label>

                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>pick up</h1>
                    </div>
                    <form name="pickUp" novalidate>
                    <div class="md-dialog-main clearfix">
                        <fieldset>
                            <label>Location Name</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12" />
                            <input type="text" class="input-shadow-border"  name="locationName"  required ng-model="pickup.locationName" />
                            <br />
                            <div ng-hide="pickup.locationName.length > maxPickup">
                                <span class="information">Characters left: {{maxPickup - pickup.locationName.length}}</span>
                            </div>
                            <div  ng-show="pickup.locationName.length > maxPickup">
                                <span class="information">Characters left: </span> <span class="information"> {{maxPickup - pickup.locationName.length}} </span>
                            </div>
                        </fieldset>
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Address Line 1</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input class="input-shadow-border"  type="text"  name="number" required ng-model="pickup.number"  />
                                <div ng-hide="pickup.number.length > maxPickup">
                                    <span class="information">Characters left: {{maxPickup - pickup.number.length}}</span>
                                </div>
                                <div  ng-show="pickup.number.length > maxPickup">
                                    <span class="information">Characters left: </span> <span class="information"> {{maxPickup - pickup.number.length}} </span>
                                </div>
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>Address Line 2</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input class="input-shadow-border"  type="text" name="streetAddress" required ng-model="pickup.streetAddress" />
                                <div ng-hide="pickup.streetAddress.length > maxPickup">
                                    <span class="information">Characters left: {{maxPickup - pickup.streetAddress.length}}</span>
                                </div>
                                <div  ng-show="pickup.streetAddress.length > maxPickup">
                                    <span class="information">Characters left: </span> <span class="information"> {{maxPickup - pickup.streetAddress.length}} </span>
                                </div>
                            </fieldset>
                            <fieldset class="col-2">
                                <label>City</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input class="input-shadow-border"  type="text" name="city" required ng-model="pickup.city" />
                                <div ng-hide="pickup.city.length > maxPickup">
                                    <span class="information">Characters left: {{maxPickup - pickup.city.length}}</span>
                                </div>
                                <div  ng-show="pickup.city.length > maxPickup">
                                    <span class="information">Characters left: </span> <span class="information"> {{maxPickup - pickup.city.length}} </span>
                                </div>
                                <br />
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>Country</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <!--<input type="text" name="country" ng-pattern="/^[a-zA-Z_ ]*$/" required ng-model="pickup.country" />-->
                                <md-select aria-label="Country Name" class=""  ng-model="pickup.country" required>
                                    <md-option ng-value="oneCountry.countryName" ng-repeat="oneCountry in countryList | orderBy:'countryName'">{{oneCountry.countryName}}</md-option>
                                </md-select>
                                <br />
                                <span class="error" ng-show="pickUp.country.$error.pattern">Characters only</span>
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>postal code</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input class="input-shadow-border"  type="text" maxlength="8" ng-pattern="/^[a-zA-Z0-9]*$/" name="postalCode" required ng-model="pickup.postalCode" />
                                <div ng-hide="pickup.postalCode.length > maxPostalCode">
                                    <span class="information">Characters left: {{maxPostalCode - pickup.postalCode.length}}</span>
                                </div>
                                <br />
                                <span class="error" ng-show="pickUp.postalCode.$error.pattern">No symbols</span>
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>Cost(optional)({{currency}})</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input class="input-shadow-border"  type="number" name="cost" ng-maxlength="8" ng-pattern="/^\d{1,5}(?:\.\d{2})?$/" ng-model="pickup.cost" />
                                <br />
                                <span class="error" ng-show="pickUp.cost.$error.pattern">Maximum two decimal places only</span>
                                <br />
                                <span class="error" ng-show="pickUp.cost.$error.maxlength">Do not exceed character limit of 5</span>
                            </fieldset>
                        </div>
                        <!--<div  float="left" class="icon icon-plus" ng-click="addPickUpLocations(pickup)" role="button" tabindex="0">
                        </div>
                        <div>
                            add more locations
                        </div>-->

                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="backToShippingView()">cancel</md-button>
                                <md-button class="me-default-button" ng-disabled="pickUp.$invalid" ng-click="insertPickup(pickup);">next</md-button>
                            </div>
                        </div>
                    </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="shippingOptionParams.countrySelectionLocked">
                <md-tab-label>Country Selections</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Country Selections</h1>
                    </div>
                    <div class="md-dialog-main clearfix">
                        <form class="clearfix" novalidate>
                            <!--<fieldset class="reset-margin">
                                <label>control where you ship to</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <md-radio-group ng-model="data.group" class="country-restrictions">
                                    <md-radio-button value="world">
                                        ship to the rest of the world
                                        <span class="restrictions-options-text">
                                            Make this shipping options available to the rest of the world.
                                            Wherever your other options do not allow.
                                        </span>
                                    </md-radio-button>
                                    <md-radio-button value="allowed">
                                        countries allowed
                                        <span class="restrictions-options-text">
                                            Make this shipping options available to the rest of the world.
                                            Wherever your other options do not allow.
                                        </span>
                                    </md-radio-button>
                                </md-radio-group>
                            </fieldset>-->

                            <!--<fieldset ng-show="data.group == 'allowed'">
                                <md-select aria-label="Countries" class=""  ng-model="country" required>
                                    <md-option ng-value="oneCountry.countryName"

                                               ng-repeat="oneCountry in countryList | orderBy:'countryName'">{{oneCountry.countryName}}</md-option>
                                </md-select>
                            </fieldset>-->
                            <fieldset class="row">
                                <div class="col-md-6 country-list">
                                    <label>Country List</label>
                                    <br>
                                    <input type="text" class="input-shadow-border"  ng-model="searchCountry">
                                    <br>
                                    <md-checkbox aria-label="Select All"
                                                 ng-checked="isChecked()"
                                                 md-indeterminate="isIndeterminate()"
                                                 ng-click="toggleAll()">
                                        <span ng-if="isChecked()">Un-</span>Select All
                                    </md-checkbox>

                                    <div ng-repeat="oneCountry in countryList | orderBy:'countryName' | filter:searchCountry"
                                         ng-model="country" required>
                                        <md-checkbox ng-checked="exists(oneCountry, selected)"
                                                     ng-click="toggle(oneCountry, selected)"
                                                     aria-label="oneCountry.countryName" >{{oneCountry.countryName}}
                                        </md-checkbox>
                                    </div>
                                </div>
                                <div class="col-md-6 country-list">
                                    <label>Selected Countries</label>
                                        <div ng-if ="IsSingleSelection === false" class="md-label" ng-repeat="country in selected">
                                            <!--<span>{{country.countryName}}</span>-->
                                            <md-checkbox ng-checked="exists(country, selected)"
                                                         ng-click="toggle(country, selected)"
                                                         aria-label="oneCountry.countryName" >{{country.countryName}}
                                            </md-checkbox>
                                        </div>
                                        <div ng-if ="IsSingleSelection" class="md-label" ng-repeat="country in selected">
                                            <!--<span>{{country.countryName}}</span>-->
                                            <md-checkbox ng-checked="exists(country, selected)"
                                                         ng-click="toggle(country, selected)"
                                                         aria-label="oneCountry.countryName" >{{country.countryName}}
                                            </md-checkbox>
                                        </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="backToShippingView()">cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="selected.length === 0" ng-click="updateCountryRestriction(data,selected,flatRates)">save</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>
    </md-dialog-content>
</md-dialog>
