<md-dialog aria-label="Store Settings">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'manage-store-settings');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="selectedTab" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>general</md-tab-label>
                <md-tab-body>

                    <div class="md-dialog-main">
                        <div class="md-dialog-header">
                            <h1>general</h1>
                        </div>
                        <form name="storeSettingsForm" class="clearfix" novalidate>
                            <fieldset>
                            <md-input-container class="md-block">
                                <label>App Name</label>
                                <input type="text" md-maxlength="25" maxlength="25" name="appName" ng-model="storeSettings.appName">
                                <!--<div ng-messages="storeSettingsForm.appName.$error" ng-show="storeSettingsForm.appName.$dirty">-->
                                    <!--<div ng-message="required">Name is required.</div>-->
                                    <!--<div ng-message="md-maxlength">The name must be less than 15 characters long.</div>-->
                                <!--</div>-->
                            </md-input-container>
                            </fieldset>
                            <fieldset class="col-2">
                                <label>select a currency</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <md-select placeholder="{{currencyPlaceHolder}}" ng-model="storeSettings.currency">
                                    <md-option ng-value="oneCurrency.sign" ng-repeat="oneCurrency in currencyList">{{oneCurrency.currency}}</md-option>
                                </md-select>
                            </fieldset>
                            <!--<fieldset class="col-1 reset-margin-right">-->
                                <!--<label>measurement standard</label>-->
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                                <!--<md-select class="" placeholder="{{measurementStandardsPlaceHolder}}" ng-model="storeSettings.measurementStandard" required>-->
                                    <!--<md-option ng-value="measurementStandards.measurementStandard" ng-repeat="measurementStandards in measurementTypeList">{{measurementStandards.measurementStandard}}</md-option>-->
                                <!--</md-select>-->
                            <!--</fieldset>-->
                            <fieldset class="col-2">
                                <label>next order number </label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input class="input-shadow-border" type="number" ng-model="storeSettings.orderNumber"
                                       placeholder="000001" ng-pattern="/^\d*[1-9]\d*$/" name="number" required />
                                <br>
                                <span class="error" ng-show="storeSettingsForm.number.$error.number">Not valid number!</span>
                                <span class="error" ng-show="storeSettingsForm.number.$error.pattern">Positive numbers only</span>
                            </fieldset>

                            <!--<fieldset class="col-2 reset-margin-right">-->
                                <!--<label>express checkout</label>-->
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                                <!--<div class="on-off-switch">-->
                                    <!--<input type="checkbox" ng-model="storeSettings.expressCheckout" name="on-off-switch" class="on-off-switch-checkbox" id="on-off-switch-1" >-->
                                    <!--<label class="on-off-switch-label" for="on-off-switch-1">-->
                                        <!--<span class="on-off-switch-inner"></span>-->
                                        <!--<span class="on-off-switch-switch"></span>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</fieldset>-->
                            <fieldset>
                                <label>select site type</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <!--<select class="form-control"-->
                                        <!--ng-model="storeSettings.siteType"-->
                                        <!--ng-options="siteTypes.siteType as siteTypes.siteType for siteTypes in siteTypeList">-->
                                <!--</select>-->
                                <md-select class="" placeholder="{{siteTypesPlaceHolder}}" ng-model="storeSettings.siteType" required>
                                    <md-option ng-value="siteTypes.siteType" ng-repeat="siteTypes in siteTypeList">{{siteTypes.siteType}}</md-option>
                                </md-select>
                            </fieldset>
                            <fieldset>
                                <label>allow Otenro to promote</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <div class="on-off-switch"  >
                                    <input type="checkbox" ng-model="storeSettings.allowPromote" name="on-off-switch"  class="on-off-switch-checkbox" id="on-off-switch-2">
                                    <label class="input-shadow-border on-off-switch-label" for="on-off-switch-2" for= "myonoffswitch">
                                        <span class="on-off-switch-inner"></span>
                                        <span class="on-off-switch-switch"></span>
                                    </label>
                                </div>
                            </fieldset>
                            <br />
                            <br />
                            <br />
                            <br />
                            <h2>business hours</h2>
                            <table class="me-hours-table">
                                        <thead>
                                        <tr>
                                            <th>Days</th>
                                            <th>Hours</th>
                                            <th>Minutes</th>
                                            <th>&nbsp;</th>
                                            <th>Hours</th>
                                            <th>Minutes</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                Weekdays
                                            </td>
                                            <td>
                                                <input  class="input-shadow-border" type="text" name="weekDayHours" min="0" max="12" step="1" ng-model="openHours.weekDaysOpenHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.weekDayHours.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.weekDayHours.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                <input  class="input-shadow-border" type="text" name="weekDaysOpenMinute" min="00" max="55" step="5" ng-model="openHours.weekDaysOpenMinute" ng-pattern="/^([0-5][0-9]|0)$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.weekDaysOpenMinute.$error.pattern">Invalid time!</span>
                                                <span  class="error2" ng-show="storeSettingsForm.weekDaysOpenMinute.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                AM to
                                            </td>
                                            <td>
                                                <input  class="input-shadow-border" type="text" name="weekDaysCloseHour" min="0" max="12" step="1" ng-model="openHours.weekDaysCloseHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.weekDaysCloseHour.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.weekDaysCloseHour.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                <input  class="input-shadow-border" type="text" name="weekDaysCloseMinute" min="00" max="55" step="5" ng-model="openHours.weekDaysCloseMinute" ng-pattern="/^([0-5][0-9]|0)$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.weekDaysCloseMinute.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.weekDaysCloseMinute.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                PM
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Saturday
                                            </td>
                                            <td>
                                                <input class="input-shadow-border" type="text" name="saturdayOpenHour" min="0" max="12" step="1" ng-model="openHours.saturdayOpenHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.saturdayOpenHour.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.saturdayOpenHour.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                <input class="input-shadow-border" type="text" name="saturdayOpenMinute" min="00" max="55" step="5" ng-model="openHours.saturdayOpenMinute" ng-pattern="/^([0-5][0-9]|0)$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.saturdayOpenMinute.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.saturdayOpenMinute.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>AM to</td>
                                            <td>
                                                <input class="input-shadow-border" type="text" name="saturdayCloseHour" min="0" max="12" step="1" ng-model="openHours.saturdayCloseHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.saturdayCloseHour.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.saturdayCloseHour.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                <input class="input-shadow-border" type="text" name="saturdayCloseMinute" min="00" max="55" step="5" ng-model="openHours.saturdayCloseMinute" ng-pattern="/^([0-5][0-9]|0)$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.saturdayCloseMinute.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.saturdayCloseMinute.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                PM
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Sunday
                                            </td>
                                            <td>
                                                <input class="input-shadow-border" type="text" name="sundayOpenHour" min="0" max="12" step="1" ng-model="openHours.sundayOpenHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.sundayOpenHour.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.sundayOpenHour.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                <input class="input-shadow-border" type="text" name="sundayOpenMinute" min="00" max="55" step="5" ng-model="openHours.sundayOpenMinute" ng-pattern="/^([0-5][0-9]|0)$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.sundayOpenMinute.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.sundayOpenMinute.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                AM to
                                            </td>
                                            <td>
                                                <input class="input-shadow-border" type="text" name="sundayCloseHour" min="0" max="12" step="1" ng-model="openHours.sundayCloseHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.sundayCloseHour.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.sundayCloseHour.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                <input class="input-shadow-border" type="text" name="sundayCloseMinute" min="00" max="55" step="5" ng-model="openHours.sundayCloseMinute" ng-pattern="/^([0-5][0-9]|0)$/" ng-required />
                                                <span class="error2" ng-show="storeSettingsForm.sundayCloseMinute.$error.pattern">Invalid time!</span>
                                                <span class="error2" ng-show="storeSettingsForm.sundayCloseMinute.$error.number">Please enter a number!</span>
                                            </td>
                                            <td>
                                                PM
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                            <!--<div class="md-dialog-buttons">
                                <div class="inner-section">
                                    <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                                    <md-button class="me-default-button" ng-click="addOpenHoursInfo(openHours)">Finish</md-button>
                                </div>
                            </div>-->
                            <br />
                            <!--<fieldset>-->
                                <!--<label>select language</label>-->
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                                <!--<md-select class="" placeholder="{{languagesPlaceHolder}}" ng-model="storeSettings.language" required>-->
                                    <!--<md-option ng-value="languages.language" ng-repeat="languages in languageList">{{languages.language}}</md-option>-->
                                <!--</md-select>-->
                            <!--</fieldset>-->
                            <fieldset>
                                <label>time and region</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <md-select class="" placeholder="{{timeAndRegionsPlaceHolder}}" ng-model="storeSettings.timeAndRegion" required>
                                    <md-option ng-value="timeAndRegions.timeAndRegion" ng-repeat="timeAndRegions in timeAndRegionList">{{timeAndRegions.timeAndRegion}}</md-option>
                                </md-select>
                            </fieldset>
                            <!--<fieldset>-->
                                <!--<label>search engine description</label>-->
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                                <!--<textarea ng-model="storeSettings.searchEngineDesc" rows="2"></textarea>-->
                            <!--</fieldset>-->
                    </form>
                    </div>

                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                            <md-button class="me-default-button" ng-click="saveStoreSettings(0,storeSettings,openHours)">save</md-button>
                            <md-button class="me-default-button" ng-click="saveStoreSettings(1,storeSettings,openHours)">next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>policies</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-main">
                        <div class="md-dialog-header">
                            <h1>policies</h1>
                            <md-checkbox aria-label="Show Map"  ng-model="storeSettings.showOnWebsitePolicies" ng-change="onCheckBoxChange('policies')">
                                Show on the Website Menu Bar
                            </md-checkbox>
                        </div>
                        <form name="policies" class="clearfix" novalidate>
                            <fieldset>
                                <label>return policy</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <div >

                                    <md-menu class="paste-options">
                                        <!-- Trigger element is a md-button with an icon -->
                                        <md-button  id="addReturnPolicy" ng-click="$mdOpenMenu($event)" class="paste-button md-icon-button" aria-label="Open sample menu">
                                            &nbsp;
                                        </md-button>
                                        <md-menu-content>
                                            <md-menu-item><md-button ng-click="stripHtml()">Keep text only</md-button></md-menu-item>
                                            <md-menu-item><md-button>Keep source formating</md-button></md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <ng-quill-editor
                                            name="editorText"
                                            ng-model="storeSettings.returnPolicy"
                                            ng-paste="pastedText(storeSettings.returnPolicy, $event, 'returnpolicy')"
                                            required
                                    >
                                    </ng-quill-editor>
                                    <!--<text-angular rows="4" class="input-shadow-border" ng-model="storeSettings.returnPolicy" required></text-angular>-->
                                </div>
                                <!--<textarea class="input-shadow-border" name="returnPolicy" rows="2" ng-model="storeSettings.returnPolicy"></textarea>-->
                                <!--<br />-->
                                <!--<div ng-hide="storeSettings.returnPolicy.length > maxReturnPolicy">-->
                                    <!--<span class="information">Characters left: {{maxReturnPolicy - storeSettings.returnPolicy.length}}</span>-->
                                <!--</div>-->
                                <!--<div  ng-show="storeSettings.returnPolicy.length > maxReturnPolicy">-->
                                    <!--<span class="information">Characters left: </span> <span class="information"> {{maxReturnPolicy - storeSettings.returnPolicy.length}} </span>-->
                                <!--</div>-->
                            </fieldset>
                            <fieldset>
                                <label>terms and conditions</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <div>
                                    <md-menu class="paste-options">
                                        <!-- Trigger element is a md-button with an icon -->
                                        <md-button  id="addTermsConditions" ng-click="$mdOpenMenu($event)" class="paste-button md-icon-button" aria-label="Open sample menu">
                                            &nbsp;
                                        </md-button>
                                        <md-menu-content>
                                            <md-menu-item><md-button ng-click="stripHtml()">Keep text only</md-button></md-menu-item>
                                            <md-menu-item><md-button>Keep source formating</md-button></md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <ng-quill-editor
                                            name="editorText"
                                            ng-model="storeSettings.termsAndCondition"
                                            ng-paste="pastedText(storeSettings.termsAndCondition, $event, 'termsconditions')"
                                            required
                                    >
                                    </ng-quill-editor>
                                    <!--<text-angular rows="4" class="input-shadow-border" ng-model="storeSettings.termsAndCondition" required></text-angular>-->
                                </div>
                                <!--<textarea class="input-shadow-border" name="termsAndCondition" rows="2" ng-model="storeSettings.termsAndCondition"></textarea>-->
                                <!--<br />-->
                                <!--<div ng-hide="storeSettings.termsAndCondition.length > maxTermsAndCondition">-->
                                    <!--<span class="information">Characters left: {{maxTermsAndCondition - storeSettings.termsAndCondition.length}}</span>-->
                                <!--</div>-->
                                <!--<div  ng-show="storeSettings.termsAndCondition.length > maxTermsAndCondition">-->
                                    <!--<span class="information">Characters left: </span> <span class="information"> {{maxTermsAndCondition - storeSettings.termsAndCondition.length}} </span>-->
                                <!--</div>-->
                            </fieldset>
                            <fieldset>
                                <label>privacy policy</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />

                                <div>
                                    <md-menu class="paste-options">
                                        <!-- Trigger element is a md-button with an icon -->
                                        <md-button  id="addPrivacyPolicy" ng-click="$mdOpenMenu($event)" class="paste-button md-icon-button" aria-label="Open sample menu">
                                            &nbsp;
                                        </md-button>
                                        <md-menu-content>
                                            <md-menu-item><md-button ng-click="stripHtml()">Keep text only</md-button></md-menu-item>
                                            <md-menu-item><md-button>Keep source formating</md-button></md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <ng-quill-editor
                                            name="editorText"
                                            ng-model="storeSettings.privacyPolicy"
                                            ng-paste="pastedText(storeSettings.privacyPolicy, $event, 'privacypolicy')"
                                            required
                                    >
                                    </ng-quill-editor>
                                    <!--<text-angular  rows="4" class="input-shadow-border" ng-model="storeSettings.privacyPolicy" required></text-angular>-->
                                </div>
                                <!--<textarea class="input-shadow-border" name="privacyPolicy" rows="2"  ng-model="storeSettings.privacyPolicy"></textarea>-->
                                <!--<br />-->
                                <!--<div ng-hide="storeSettings.privacyPolicy.length > maxPrivacyPolicy">-->
                                    <!--<span class="information">Characters left: {{maxPrivacyPolicy - storeSettings.privacyPolicy.length}}</span>-->
                                <!--</div>-->
                                <!--<div  ng-show="storeSettings.privacyPolicy.length > maxPrivacyPolicy">-->
                                    <!--<span class="information">Characters left: </span> <span class="information"> {{maxPrivacyPolicy - storeSettings.privacyPolicy.length}} </span>-->
                                <!--</div>-->
                            </fieldset>
                        </form>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                            <md-button class="me-default-button" ng-click="savePolicies(1,storeSettings)">save</md-button>
                            <md-button class="me-default-button" ng-click="savePolicies(2,storeSettings)">next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>About Us</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-main">
                        <div class="md-dialog-header">
                            <h1>About Us</h1>
                        </div>
                        <!--<input type="file" ngf-select="uploadPic(picFile)" ng-model="picFile" name="file" ngf-accept="'image/*'" required="">-->
                        <label>Select Image</label>
                        <div layout-gt-xs="row">
                            <div class="file-upload-wrapper clearfix">
                                <div class="cropArea">
                                    <ui-cropper image="myImage" area-type="rectangle" aspect-ratio="aspectRatio" result-image="picFile" result-image-size="size"   result-image-format="image/png/jpeg" result-image-quality="0.5">
                                    </ui-cropper>
                                </div>

                                <div class="inputField btn-material img-up">
                                    <span >{{buttonName}}</span>
                                    <div class="img-up1" ng-if="imageSelected">
                                        <input type="file" value="file"  ng-click = "cropImage($event);" id="fileInput" >
                                    </div>
                                    <div  ng-if="!imageSelected" class="img-up1" ng-click="addImage(picFile)"></div>

                                </div>

                            </div>
                            <div class="uploaded-section image-upload clearfix" style="width:35%">
                                <div class="uploaded-new-image">
                                    <img ng-if="picFile == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                         height="150" style="display:none" />
                                    <img ng-if="picFile != null" ngf-src="picFile" width="150" height="150" style="display:none" />
                                </div>
                                <div class="uploaded-old-images">
                                    <p>Uploaded AboutUs Image</p>
                                    <div class="old-images clearfix">
                                        <div class="old-image">
                                            <div>
                                                <input data-ng-if="tmpImage[0]" type="button" ng-click="deleteImg(0)" value='delete'
                                                       class="image-delete-button"/>
                                                <img ng-click="" ng-if="tmpImage[0] == null"
                                                     src="../../../images/small-placeholder.png" width="100%"/>
                                                <img ng-click="" ng-if="tmpImage[0] !== null" ngf-src="tmpImage[0]"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <label>Heading</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12" />
                            <input class="input-shadow-border" type="text" name="header" ng-pattern="/^[a-zA-Z0-9_ ]*$/" ng-model="storeSettings.header" required  />
                            <br />
                            <span class="error" ng-show="aboutUs.header.$error.pattern">No symbols</span>
                            <div ng-hide="storeSettings.header.length > maxAboutUsHeader">
                                <span class="information">Characters left: {{maxAboutUsHeader - storeSettings.header.length}}</span>
                            </div>
                            <div  ng-show="storeSettings.header.length > maxAboutUsHeader">
                                <span class="information">Characters left: </span> <span class="information"> {{maxAboutUsHeader - storeSettings.header.length}} </span>
                            </div>
                        </fieldset>
                        <md-checkbox aria-label="Show Map"  ng-model="storeSettings.showOnWebsiteAbout" ng-change="onCheckBoxChange('about_us')">
                            Show on the Website Menu Bar
                        </md-checkbox>
                        <fieldset>
                            <br>
                            <label>Content</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <!--<trix-editor angular-trix rows="4" ng-model="storeSettings.content"></trix-editor>-->
                            <div>
                                <md-menu class="paste-options">
                                    <!-- Trigger element is a md-button with an icon -->
                                    <md-button  id="addAboutUs" ng-click="$mdOpenMenu($event)" class="paste-button md-icon-button" aria-label="Open sample menu">
                                        &nbsp;
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item><md-button ng-click="stripHtml()">Keep text only</md-button></md-menu-item>
                                        <md-menu-item><md-button>Keep source formating</md-button></md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <ng-quill-editor
                                        name="editorText"
                                        ng-model="storeSettings.content"
                                        ng-paste="pastedText(storeSettings.content, $event,'aboutus')"
                                        required
                                >
                                </ng-quill-editor>
                                <!--<text-angular  rows="4" class="input-shadow-border" ng-model="storeSettings.content" required></text-angular>-->
                                <!--<trix-editor style="width:75%" angular-trix rows="4" class="input-shadow-border"  ng-model="emailHF.header" required></trix-editor>-->
                            </div>
                            <!--<textarea class="input-shadow-border" rows="4" name="content" ng-model="storeSettings.content"></textarea>-->
                        </fieldset>
                        </form>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <fieldset class="text-right reset-margin">
                                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                                <md-button class="me-default-button" ng-click="addAboutUs(2,storeSettings)">save</md-button>
                                <md-button class="me-default-button" ng-click="addAboutUs(3,storeSettings)">next</md-button>
                            </fieldset>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Contact Us</md-tab-label> asd
                <md-tab-body>
                    <!-- Address | Tel Phone -->
                    <form accept-charset="UTF-8" role="form" name="contactUs" novalidate>
                        <div class="md-dialog-main">
                            <div class="md-dialog-header">
                                <h1>Contact Us</h1>
                                <md-checkbox aria-label="Show Map"  ng-model="basicInfo.showOnWebsiteContact" ng-change="onCheckBoxChange('contact_us')">
                                    Show on the Website Menu Bar
                                </md-checkbox>
                            </div>
                            <fieldset>
                                <!-- Address -->
                                <label>Address</label>
                                <textarea type="text" class="input-shadow-border" name="address" ng-model="basicInfo.address" required ></textarea>
                                <div ng-hide="basicInfo.address.length > maxBasicInfoAddress">
                                    <span class="information">Characters left: {{maxBasicInfoAddress - basicInfo.address.length}}</span>
                                </div>
                                <div  ng-show="basicInfo.address.length > maxBasicInfoAddress">
                                    <span class="information">Characters left: </span>
                                    <span class="information">
                                        {{maxBasicInfoAddress - basicInfo.address.length}}
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <!-- Telephone -->
                                <label>Telephone</label>
                                <input class="input-shadow-border" type="text" name="telPhone" ng-model="basicInfo.telPhone" ng-pattern="/[0-9]+/" ui-mask="+99 99-9999-999"  required />
                            </fieldset>
                            <fieldset>
                                <!-- Email -->
                                <label>Email</label>
                                <input  type="email" name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                       ng-model="webInfo.email" required />
                                <span class="error help-block" ng-show="contactUs.email.$error.required">
                                  *
                                </span>
                                <span class="error help-block" ng-show="contactUs.email.$dirty && contactUs.email.$invalid">
                                  Enter a proper email
                                </span>
                            </fieldset>
                                <fieldset>
                                <!-- Web Site -->
                                <label>Website</label>
                                <input class="input-shadow-border" type="text" name="website" ng-model="webInfo.webSite"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" required />
                                <br/>
                                <span class="error" ng-if="contactUs.website.$error.pattern">Invalid url!  (https://www.sample.com or http://www.sample.com)</span>
                            </fieldset>
                            <fieldset>
                                <label>Twitter</label>
                                <input class="input-shadow-border" type="text" name="twitter" ng-model="webInfo.twitter"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="contactUs.twitter.$error.pattern">Invalid url!  (https://www.twitter.com/example)</span>
                            </fieldset>
                            <fieldset>
                                <label>Facebook</label>
                                <input class="input-shadow-border" type="text" name="facebook" ng-model="webInfo.facebook"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="contactUs.facebook.$error.pattern">Invalid url!  (https://www.facebook.com/example)</span>
                            </fieldset>
                            <fieldset>
                                <label>Instagram</label>
                                <input class="input-shadow-border" type="text" name="instagram" ng-model="webInfo.instagram"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="contactUs.instagram.$error.pattern">Invalid url!  (https://www.instagram.com/akiestar)</span>
                            </fieldset>
                            <fieldset>
                                <label>LinkedIn</label>
                                <input class="input-shadow-border" type="text" name="linkedin" ng-model="webInfo.linkedin"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="contactUs.linkedin.$error.pattern">Invalid url!  (https://www.linkedin.com/example)</span>
                            </fieldset>
                            <fieldset>
                                <label>Pinterest</label>
                                <input class="input-shadow-border" type="text" name="pinterest" ng-model="webInfo.pinterest"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="contactUs.pinterest.$error.pattern">Invalid url!  (https://www.pinterest.com/example)</span>
                            </fieldset>
                        </div>
                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                                <md-button ng-disabled = "contactUs.email.$invalid || contactUs.pinterest.$invalid || contactUs.linkedin.$invalid || contactUs.instagram.$invalid
                                            || contactUs.facebook.$invalid || contactUs.twitter.$invalid || contactUs.website.$invalid"
                                           class="me-default-button" ng-click="addContactUs(basicInfo,webInfo,googleMap,'save')">save</md-button>
                                <md-button ng-disabled = "contactUs.email.$invalid || contactUs.pinterest.$invalid || contactUs.linkedin.$invalid || contactUs.instagram.$invalid
                                            || contactUs.facebook.$invalid || contactUs.twitter.$invalid || contactUs.website.$invalid"
                                           class="me-default-button" ng-click="addContactUs(basicInfo,webInfo,googleMap,'next')">Next</md-button>
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Map Locations</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Manage Map Locations</h1>
                    </div>
                    <!-- Address | Tel Phone -->
                    <form name="basicInfoForm" novalidate>
                        <div class="md-dialog-main">
                            <md-checkbox aria-label="Show Map"  ng-model="webInfo.showmap">
                            Show the map on the app
                            </md-checkbox>
                            <br>
                            <br>
                            <fieldset>
                                <button class="btn-material" ng-click="addNewMapLocation()">
                                    Add new location
                                </button>
                            </fieldset>
                            <table class="me-simple-table">
                                <thead>
                                <th width="30%" class="simple-column">Name</th>
                                <th width="40%" class="simple-column">Address</th>
                                <th width="15%" class="simple-column">Edit</th>
                                <th width="15%" class="simple-column">Delete</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="branch in branches">
                                    <td>{{branch.name}}</td>
                                    <td>{{branch.address}}</td>
                                    <td><img width="15%" src="../../../images/edit-icon.svg" ng-click="addNewMapLocation(branch)"></td>
                                    <td><img width="15%" src="../../../images/delete-icon.svg" ng-click="deleteBranch(branch.id)"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--<div class="google-map-wrapper">-->

                            <!--<div class="google-map-container">-->
                            <!--<ui-gmap-google-map  center="map.center" zoom="map.zoom" draggable="true" events="map.events">-->
                            <!--<ui-gmap-marker ng-repeat="mp in map.markers" coords="mp.coords" icon="mp.icon" idkey="mp.id"></ui-gmap-marker>-->
                            <!--</ui-gmap-google-map>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<fieldset>-->
                            <!--{{map.markers[0].coords.latitude}}-->
                            <!--<br />-->
                            <!--{{map.markers[0].coords.longitude}}-->
                            <!--</fieldset>-->
                        </div>
                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                                <md-button class="me-default-button" ng-click="answer('finish')">Finish</md-button>
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <!--<md-tab>-->
                <!--<md-tab-label>social media</md-tab-label>-->
                    <!--<div class="md-dialog-header">-->
                        <!--<h1>social media</h1>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-main">-->
                        <!--<label>social media integration</label>-->
                        <!--<ul class="social-connect">-->
                            <!--<li>-->
                                <!--<a ng-click="tempUnavailable()" class="facebook-connect">connect to facebook</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ng-click="tempUnavailable()" class="google-connect">connect to google plus</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ng-click="tempUnavailable()" class="twitter-connect">connect to twitter</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ng-click="tempUnavailable()" class="tumbler-connect">connect to tumbler</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ng-click="tempUnavailable()" class="pinterest-connect">connect to pinterest</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-buttons">-->
                        <!--<div class="inner-section">-->
                            <!--<md-button class="me-default-button" ng-click="cancel()">cancel</md-button>-->
                           <!--<md-button ng-disabled="storeSettingsForm.$invalid" class="me-default-button" ng-click="nextStep(3)">next</md-button>-->
                        <!--</div>-->
                    <!--</div>-->
                  <!--</form>-->
                <!--</md-tab-body>-->
            <!--</md-tab>-->
            <!--<md-tab>
                <md-tab-label>users</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>users</h1>
                        <ul class="md-dialog-header-nav clearfix">
                            <li>
                                <a class="add-new-item" ng-click="addNewUser()">Add New User</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-dialog-main">
                        <label>current users</label>
                        <div class="users-section">
                            <div class="user-profile user-profile-selected clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>senduran</h1>
                                        <p>system admin</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                            <div class="user-profile clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>rakitha</h1>
                                        <p>system user</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                            <div class="user-profile clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>ishan</h1>
                                        <p>system user</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                            <div class="user-profile clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>rakitha</h1>
                                        <p>system user</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                            <div class="user-profile clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>ishan</h1>
                                        <p>system user</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer()">Finish</md-button>
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>-->
        </md-tabs>
    </md-dialog-content>
</md-dialog>