<md-dialog aria-label="Taxes">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', '/user/edit/commerce/manageIPGIntegrationView.html');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>Payment Settings</h1>
        </div>
        <div class="md-dialog-main clearfix">
            <label>Cash Payment</label>
            <fieldset class="cash-payment">
                <label>Cash On Pickup</label>
                <div class="on-off-switch">
                        <input type="checkbox" ng-model="IPGSettings.cashOnPickupEnable" name="on-off-switch"
                               class="on-off-switch-checkbox" id="on-off-switch-4">
                        <label class="input-shadow-border on-off-switch-label" for="on-off-switch-4">
                            <span class="on-off-switch-inner"></span>
                            <span class="on-off-switch-switch"></span>
                        </label>
                </div>
            </fieldset>
            <fieldset class="cash-payment">
                <label>Cash on delivery</label>
                <div class="on-off-switch">
                        <input type="checkbox" ng-model="IPGSettings.cashOnDeliveryEnable" name="on-off-switch"
                               class="on-off-switch-checkbox" id="on-off-switch-1">
                        <label class="input-shadow-border on-off-switch-label" for="on-off-switch-1">
                            <span class="on-off-switch-inner"></span>
                            <span class="on-off-switch-switch"></span>
                        </label>
                </div>
            </fieldset>

            <fieldset>
                <div class="row">
                    <div class="col-md-3">
                        <label>Paypal</label>
                    </div>
                    <div class="col-md-3">
                        <div class="on-off-switch">
                            <input type="checkbox" ng-model="IPGSettings.paypalEnable" name="on-off-switch"
                                   class="on-off-switch-checkbox" id="on-off-switch-2">

                            <label class="input-shadow-border on-off-switch-label" for="on-off-switch-2">
                                <span class="on-off-switch-inner"></span>
                                <span class="on-off-switch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <input class="apikey input-shadow-border" type="text" ng-model="IPGSettings.paypalKey"
                         name="number" placeholder="Paypal API Key" required />

            </fieldset>

            <fieldset>
                <div class="row">
                    <div class="col-md-3">
                        <label>Stripe</label>
                    </div>
                    <div class="col-md-3">
                        <div class="on-off-switch">
                            <input type="checkbox" ng-model="IPGSettings.stripeEnable" name="on-off-switch" class="on-off-switch-checkbox" id="on-off-switch-3">
                            <label class="input-shadow-border on-off-switch-label" for="on-off-switch-3">
                                <span class="on-off-switch-inner"></span>
                                <span class="on-off-switch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <input class="apikey input-shadow-border" type="text" ng-model="IPGSettings.stripeKey"
                       name="number" placeholder="Stripe API Key" required />

            </fieldset>

            <fieldset>
                <div class="row">
                    <div class="col-md-3">
                        <label>Authorize.net</label>
                    </div>
                    <div class="col-md-3">
                        <div class="on-off-switch">
                            <input type="checkbox" ng-model="IPGSettings.authorizeNetEnable" name="on-off-switch" class="on-off-switch-checkbox" id="on-off-switch-5">
                            <label class="input-shadow-border on-off-switch-label" for="on-off-switch-5">
                                <span class="on-off-switch-inner"></span>
                                <span class="on-off-switch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <input class="apikey input-shadow-border" type="text" ng-model="IPGSettings.apiLoginId"
                       name="number" placeholder="API login id" required /><br /><br />
                <input class="apikey input-shadow-border" type="text" ng-model="IPGSettings.transactionKey"
                       name="number" placeholder="Transaction key" required />

            </fieldset>

        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                <md-button class="me-default-button" ng-click="saveIGPSettings(IPGSettings)">Save</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>