<md-dialog class="inventory-css" aria-label="Inventory" style="width:1000px">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'manage-inventory');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <!--<md-tab-label>all orders</md-tab-label>-->
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">inventory</h1>
                            <fieldset class="col-2 pull-right reset-margin">
                                    <input type="text" required="" ng-change="refreshData()" ng-model="search.name" class="input-shadow-border me-search-input" name="name">
                                    <input type="submit" value="search" class="me-search-button">
                            </fieldset>
                        </div>
                    </div>
                    <div class="md-dialog-main fixed-inventory">
                        <form name="inventoryForm" class="allItems" novalidate>
                            <!--<tree-grid tree-data="tree_data"></tree-grid>-->
                        <!--<table class="me-checkbox-table">-->
                            <!--<thead>-->
                                <!--<th class="checkbox-column">-->
                                    <!--<md-checkbox md-no-ink  aria-label="Check all"></md-checkbox>-->
                                <!--</th>-->
                                <!--<th>sku#</th>-->
                                <!--<th class="item-name-column">item name</th>-->
                                <!--<th class="id-column">qty</th>-->
                                <!--<th>price</th>-->
                                <!--<th>sale price</th>-->
                                <!--<th>Delete</th>-->
                            <!--</thead>-->

                            <tree-grid
                                    tree-data="inventoryList"
                                    icon-leaf     = "gylphycon-treegrid glyphicon glyphicon-unchecked"
                                    icon-expand   = "gylphycon-treegrid glyphicon glyphicon-plus"
                                    icon-collapse = "gylphycon-treegrid glyphicon glyphicon-minus"
                                    col-defs= "col_defs">

                            </tree-grid>

                            <!--<tbody class="scrolling">-->
                                <!--<tr  dir-paginate="inventory in inventoryList | filter:search | itemsPerPage: pageSize" current-page="currentPage">-->
                                    <!--<td class="checkbox-row">-->
                                        <!--<md-checkbox md-no-ink  aria-label="Check one item"></md-checkbox>-->
                                    <!--</td>-->
                                    <!--<td ng-model="inventory.name">{{inventory.sku}}</td>-->
                                    <!--<td>-->
                                        <!--<a href="" ng-model="inventory.name" ng-click="goToEditProductWindow(inventory)">{{inventory.name}}</a>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input type="text"  name="quantity" ng-model="inventory.quantity" />-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input type="text" ng-model="inventory.price" />-->
                                    <!--</td>-->
                                    <!--&lt;!&ndash;<td><a href="javascript:void(0);" class="sale-yes" ng-click="openMiniLightBox()"><input type="number" ng-model="inventory.sale"/></a></td>&ndash;&gt;-->
                                    <!--<td class="sale-yes">-->
                                        <!--<input style="color:red" type="text"  ng-model="inventory.discount"/></td>-->
                                    <!--<td>-->
                                        <!--<img width="25" src="../../../images/delete-icon-inventory.svg" ng-click="deletePro($index,inventory)">-->
                                    <!--</td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->


                            </form>

                        <!--<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>-->

                    </div>

                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="hide()">Close</md-button>
                            <md-button class="me-default-button" ng-click="addProduct()">Add Product</md-button>
                            <md-button ng-csv="getArray()" csv-header="['Name', 'SKU', 'Price', 'Quantity', 'Weight','Variants']" filename="products.csv"  class="me-default-button">export as csv</md-button>
                            <!--<md-button class="me-default-button" ng-disabled="inventoryForm.$invalid" type="submit"ng-click="updateInventory()">Save</md-button>-->
                        </div>
                    </div>

                    <div class="mini-light-box" ng-show="miniLightBoxShow">
                        <h1>On sale</h1><br />
                        <form class="clearfix" novalidate>
                            <fieldset class="inline-checkboxes">
                                <md-radio-group ng-model="data.group2">
                                    <md-radio-button value="yes">yes</md-radio-button>
                                    <md-radio-button value="no">no</md-radio-button>
                                </md-radio-group>
                            </fieldset>
                            <fieldset class="option-2-section">
                                <label>price</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="text" name="name" class="me-dollar-input" required />
                                <span class="me-dollar-placeholder">$</span>
                            </fieldset>
                            <fieldset class="option-2-mid text-center">
                                <label>or</label>
                            </fieldset>
                            <fieldset class="option-2-section">
                                <label>percentage</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="text" name="name" class="me-percentage-input" required />
                                <span class="me-percentage-placeholder">%</span>
                            </fieldset>
                            <fieldset class="text-right reset-margin">
                                <button class="me-default-button" ng-click="closeMiniLightBox()">close</button>
                                <button class="me-default-button">save</button>
                            </fieldset>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>