<md-dialog aria-label="Inventory"  style="width:900px">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'manage-email-settings');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="selectedIndex" md-no-ink="true" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Email Delivery</md-tab-label>
                <md-tab-body>

                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Email Delivery</h1>
                        </div>
                    </div>
                    <form name="emailDeliveryForm" novalidate>
                        <div class="md-dialog-main">
                            <md-input-container class="md-block" flex="50">
                                <label>from email</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                        name="fromEmail"  md-maxlength="50"  ng-required="true" ng-model="emailDel.fromEmail"/>
                                <div ng-messages="emailDeliveryForm.fromEmail.$error" ng-show="emailDeliveryForm.fromEmail.$dirty">
                                    <div ng-message="required">Email is required.</div>
                                    <div ng-message="md-maxlength">The email must be less than 50 characters long.</div>
                                    <div ng-message="pattern"> Invalid Email Address</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="50">
                                <label>reply to email</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                        name="replyToEmail"  md-maxlength="50"  ng-required="true" ng-model="emailDel.replyToEmail"/>
                                <div ng-messages="emailDeliveryForm.replyToEmail.$error" ng-show="emailDeliveryForm.replyToEmail.$dirty">
                                    <div ng-message="required">Email is required.</div>
                                    <div ng-message="md-maxlength">The email must be less than 50 characters long.</div>
                                    <div ng-message="pattern"> Invalid Email Address</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="50">
                                <label>alert email</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                        name="alertEmail"  md-maxlength="50"  ng-required="true" ng-model="emailDel.alertEmail"/>
                                <div ng-messages="emailDeliveryForm.alertEmail.$error" ng-show="emailDeliveryForm.alertEmail.$dirty">
                                    <div ng-message="required">Email is required.</div>
                                    <div ng-message="md-maxlength">The email must be less than 50 characters long.</div>
                                    <div ng-message="pattern"> Invalid Email Address</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="30">
                                <label>alert at (%)</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input   ng-pattern="/^[0-9%]+$/"
                                        name="alertAt"  md-maxlength="2"  ng-required="true" ng-model="emailDel.alertAt"/>
                                <div ng-messages="emailDeliveryForm.alertAt.$error" ng-show="emailDeliveryForm.alertAt.$dirty">
                                    <div ng-message="required">Alert precentage is required.</div>
                                    <div ng-message="md-maxlength">Only between 100 - 0</div>
                                    <div ng-message="pattern">Numbers only</div>
                                </div>
                            </md-input-container>


                        </div>

                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <!--<md-button class="me-default-button" ng-click="saveEmailDeliInfo(emailDel,'save')">Save-->
                                <!--</md-button>-->
                                <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                <md-button class="me-default-button" ng-disabled="emailDeliveryForm.$invalid" ng-click="saveEmailDeliInfo(emailDel,'next')">Next</md-button>
                            </div>

                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="enableTab">

                <md-tab-label>Account Settings</md-tab-label>
                <md-tab-body>

                    <div class="md-dialog-header">
                        <h1>Account Settings</h1>
                    </div>
                    <md-content layout-padding>
                        <form name="emailSettingsForm">
                            <div class="md-dialog-main">
                                <div class="clearfix">

                                    <md-input-container class="md-block" flex="50">
                                        <label>Domain name</label>
                                        <input required md-maxlength="50"  name="domainName" ng-model="emailSettings.domainName">
                                        <div ng-messages="emailSettingsForm.domainName.$error" ng-show="emailSettingsForm.domainName.$dirty">
                                            <div ng-message="required">Domain Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 50 characters long.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex="50">
                                        <label>Username</label>
                                        <input required md-maxlength="50"  name="emailUsername" ng-model="emailSettings.emailUsername">

                                        <div ng-messages="emailSettingsForm.emailUsername.$error" ng-show="emailSettingsForm.emailUsername.$dirty">
                                            <div ng-message="required">Email Username is required.</div>
                                        </div>
                                    </md-input-container>


                                    <md-input-container class="md-block" flex="50">
                                        <label>password</label>
                                        <input required name="emailPassword" ng-model="emailSettings.emailPassword">
                                        <!--<md-checkbox ng-model="isShow" aria-label="Show Password">-->
                                            <!--Show-->
                                        <!--</md-checkbox>-->
                                        <div ng-messages="emailSettingsForm.emailPassword.$error" ng-show="emailSettingsForm.emailPassword.$dirty">
                                            <div ng-message="required">Password is required.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <md-checkbox ng-model="emailSettings.sslEnabled" aria-label="Finished?">
                                            SSL enabled
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="md-dialog-buttons">
                                <div class="inner-section">
                                    <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                    <md-button class="me-default-button" ng-click="updateEmailSettings(emailSettings,'save','emailSettings')">Save
                                    </md-button>
                                    <md-button class="me-default-button" ng-disabled="emailSettingsForm.$invalid"  ng-click="updateEmailSettings(emailSettings,'next','emailSettings')">Next</md-button>
                                </div>
                            </div>
                        </form>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <!--<md-tab ng-disabled="enableTab">-->
                <!--<md-tab-label>Header and Footer</md-tab-label>-->
                <!--<md-tab-body>-->
                    <!--<div class="md-dialog-header">-->
                        <!--<div class="md-dialog-header-nav clearfix">-->
                            <!--<h1 class="pull-left">Header and Footer</h1>-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<form name="headerFooterForm" novalidate>-->
                    <!--<div class="md-dialog-main">-->
                        <!--<div class="row">-->
                            <!--<div class="col-lg-7 col-md-7">-->
                                <!--<div class="email-image-upload uploaded-section clearfix">-->
                                    <!--<div class="uploaded-new-image3">-->
                                        <!--<label>Insert Header Image</label><br>-->

                                        <!--<button class="btn-material" ngf-select ng-model="picFileHeader" ngf-accept="image/*"-->
                                                <!--aria-invalid="true" ngf-change="changeImage()" required>-->
                                            <!--Upload Image-->
                                        <!--</button>-->
                                        <!--<p></p><br>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<label>Header</label>-->
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <!--<div class="custom-trix">-->
                                    <!--<text-angular style="width:75%" rows="4" class="input-shadow-border" ng-model="emailHF.header" required></text-angular>-->
                                    <!--&lt;!&ndash;<trix-editorsada style="width:75%" angular-trix rows="4" class="input-shadow-border"  ng-model="emailHF.header" required></trix-editor>&ndash;&gt;-->
                                <!--</div>-->
                                <!--<p>-->
                                    <!--<br>-->
                                    <!--<label>Select below to add to the email</label>-->
                                    <!--<md-checkbox aria-label="Delivery and shhipping Details" ng-model="data.delivery">-->
                                        <!--Delivery and shhipping Details-->
                                    <!--</md-checkbox>-->
                                    <!--<br>-->

                                    <!--<md-checkbox aria-label="Order" ng-model="data.order">-->
                                        <!--Order-->
                                    <!--</md-checkbox>-->
                                    <!--<br>-->

                                    <!--<md-checkbox aria-label="Store details">-->
                                        <!--Store details-->
                                    <!--</md-checkbox>-->
                                <!--</p>-->
                            <!--</div>-->
                            <!--<div class="col-lg-5 col-md-5" style="zoom:0.7; background: #ebebeb;">-->
                                <!--<img ng-if="picFileHeader == null" ng-src="images/medium-placeholder.png"  width="100%" height="80px" style="display: block;margin: auto;"/><br>-->
                                <!--<img ng-if="picFileHeader != null" ngf-src="picFileHeader" width="100%"   height="100px" style="display:block; margin:auto;"> <br>-->
                                <!--<p>-->
                                    <!--<text-angular style="height: 150px" rows="4" rows="1" class="email-template input-shadow-border" ng-model="emailHF.header" disabled></text-angular>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<div class="row" ng-if="data.delivery">-->
                                        <!--<div class="col-md-6">-->
                                             <!--<span><b>Delivered to</b></span><br>-->
                                            <!--<p>John Doe, 488, Kotte ROad, Pitakotte</p>-->
                                         <!--</div>-->
                                        <!--<div class="col-md-6">-->
                                            <!--<span><b>Shipping Details</b></span><br>-->
                                            <!--<p>Express Delivery</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row" ng-if="data.order">-->
                                        <!--<div class="col-md-12">-->
                                            <!--<span><b>Your Order</b></span><br>-->
                                            <!--<p>Order Number:1234567890</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row"  ng-if="data.order">-->
                                        <!--<div class="col-md-7">-->
                                            <!--<span><b>Item Description</b></span>-->
                                            <!--<br>-->
                                            <!--<br>-->
                                            <!--<p>-->
                                                <!--<img src="./images/small-placeholder.png" class="pull-left" style="margin-right: 5px;">-->
                                                <!--<br>-->
                                                <!--<span>Superman T-shir</span><br>-->
                                                <!--<span>Blue- Blue/UK 9</span><br>-->
                                                <!--<span>Qty : 1 product code: 12345</span>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-5">-->
                                            <!--<span><b>LKR Rs.</b></span>-->
                                            <!--<br>-->
                                            <!--<br>-->
                                            <!--<br>-->
                                            <!--<p>560.00</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row"  ng-if="data.order">-->
                                        <!--<div class="col-md-7">-->
                                            <!--<p>-->
                                                <!--<img src="./images/small-placeholder.png" class="pull-left" style="margin-right: 5px;">-->
                                                <!--<br>-->
                                                <!--<span>Superman Shoes</span><br>-->
                                                <!--<span>Black- Black/9</span><br>-->
                                                <!--<span>Qty : 1 product code: 12345</span>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-5">-->
                                            <!--<br>-->
                                            <!--<p>6000.00</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-12"  ng-if="data.order">-->
                                            <!--<div class="col-md-7 text-right">Sub Total</div>-->
                                            <!--<div class="col-md-5">6560.00</div>-->
                                            <!--<div class="col-md-7 text-right">Delivery</div>-->
                                            <!--<div class="col-md-5">0.00</div>-->
                                            <!--<div class="col-md-7 text-right">TAX</div>-->
                                            <!--<div class="col-md-5">200.00</div>-->
                                            <!--<div class="col-md-7 text-right"><b>Total</b></div>-->
                                            <!--<div class="col-md-5">6760.00</div>-->
                                            <!--<div class="col-md-7 text-right"><b>Payment Method</b></div>-->
                                            <!--<div class="col-md-5">Paypal</div>-->
                                    <!--</div>-->
                                 <!--</p>-->
                                <!--<div class="text-center" style="clear: both;padding-top: 16px">-->
                                    <!--<img width="20%" src="./images/logo.png">-->
                                <!--</div>-->
                                <!--<p  class="text-center" class="text-center"><span>Powered by www.Otenro.com</span> </p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--<div class="md-dialog-buttons">-->
                        <!--<div class="inner-section">-->
                            <!--<md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>-->
                            <!--<md-button class="me-default-button" ng-click="updateHeaderFooterSettings(picFileHeader,emailHF,'save')">Save-->
                            <!--</md-button>-->
                            <!--<md-button class="me-default-button"  ng-click="updateHeaderFooterSettings(picFileHeader,emailHF,'next')">Next</md-button>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</md-tab-body>-->
            <!--</md-tab>-->
            <md-tab ng-disabled=enableTab>
                <md-tab-label>Order Confirmation</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Order Confirmation</h1>

                        </div>
                    </div>
                    <form name="orderConfirmationForm" novalidate>
                    <div class="md-dialog-main">

                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <label>Insert Header Image</label><br>
                                <div class="file-upload-wrapper clearfix width-100">
                                    <div class="cropArea">
                                        <ui-cropper image="myImageHeaderConfirm" area-type="rectangle" aspect-ratio="aspectRatio" result-image="confirmPic" result-image-size="{w:1000,h:400}"   result-image-format="image/jpeg" result-image-quality="0.5">
                                        </ui-cropper>
                                    </div>

                                    <div class="inputField btn-material img-up">
                                        <span >{{buttonNameHeader}}</span>
                                        <div class="img-up1" ng-if="confirmPicImageSelected">
                                            <input type="file" value="file"  ng-click = "cropImageConfirm($event,'1');" id="fileInput1" >
                                        </div>
                                        <div  ng-if="!confirmPicImageSelected" class="img-up1" ng-click="addImageConfirm(confirmPic,'confirmEmail')"></div>

                                    </div>
                                    <md-button class="md-icon-button" aria-label="Delete" ng-click="picFileHeader = null">
                                        <md-icon md-svg-icon="images/delete-icon.svg"></md-icon>
                                    </md-button>
                                </div>
                                <!--********   edited by .sanira    *************-->
                                <!--<label>Header</label>-->
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <!--..........................-->

                                <div class="custom-trix">
                                    <text-angular style="width:75%" rows="4" class="input-shadow-border" ng-model="orderConfirmedEmail.orderConfirmedEmail.header" required></text-angular>
                                    <!--<trix-editorsada style="width:75%" angular-trix rows="4" class="input-shadow-border"  ng-model="emailHF.header" required></trix-editor>-->
                                </div>
                                <p>
                                    <br>
                                    <label>Select below to add to the email</label>
                                    <br>
                                    <md-checkbox aria-label="Delivery and shhipping Details" ng-model="orderConfirmedEmail.orderConfirmedEmail.delivery">
                                        Delivery and shhipping Details
                                    </md-checkbox>
                                    <br>

                                    <md-checkbox aria-label="Order" ng-model="orderConfirmedEmail.orderConfirmedEmail.order">
                                        Order
                                    </md-checkbox>
                                    <br>

                                    <md-checkbox aria-label="Store details" ng-model="orderConfirmedEmail.orderConfirmedEmail.storeDetails">
                                        Store details
                                    </md-checkbox>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4" style="zoom:0.7; background: #ebebeb;">
                                <img ng-if="picFileHeader == null" ng-src="images/1000x200.png"  width="100%" height="80px" style="display: block;margin: 16px auto 0 auto
                                ;"/><br>
                                <img ng-if="picFileHeader != null" ngf-src="picFileHeader[0]" width="100%"   height="100px" style="display:block; margin: 16px auto 0 auto"> <br>
                                <p>
                                    <text-angular style="height: 150px" rows="4" rows="1" class="email-template input-shadow-border" ng-model="orderConfirmedEmail.orderConfirmedEmail.header" disabled></text-angular>
                                </p>
                                <p>
                                    <div class="row" ng-if="orderConfirmedEmail.orderConfirmedEmail.delivery">
                                        <div class="col-md-6">
                                            <span><b>Delivered to</b></span><br>
                                <p>John Doe, 488, Kotte ROad, Pitakotte</p>
                            </div>
                            <div class="col-md-6">
                                <span><b>Shipping Details</b></span><br>
                                <p>Express Delivery</p>
                            </div>
                        </div>
                        <div class="row" ng-if="orderConfirmedEmail.orderConfirmedEmail.order">
                            <div class="col-md-12">
                                <span><b>Your Order</b></span><br>
                                <p>Order Number:1234567890</p>
                            </div>
                        </div>
                        <div class="row"  ng-if="orderConfirmedEmail.orderConfirmedEmail.order">
                            <div class="col-md-7">
                                <span><b>Item Description</b></span>
                                <br>
                                <br>
                                <p>
                                    <img src="./images/small-placeholder.png" class="pull-left" style="margin-right: 5px;">
                                    <br>
                                    <span>Superman T-shir</span><br>
                                    <span>Blue- Blue/UK 9</span><br>
                                    <span>Qty : 1 product code: 12345</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <span><b>LKR Rs.</b></span>
                                <br>
                                <br>
                                <br>
                                <p>560.00</p>
                            </div>
                        </div>
                        <div class="row"  ng-if="orderConfirmedEmail.orderConfirmedEmail.order">
                            <div class="col-md-7">
                                <p>
                                    <img src="./images/small-placeholder.png" class="pull-left" style="margin-right: 5px;">
                                    <br>
                                    <span>Superman Shoes</span><br>
                                    <span>Black- Black/9</span><br>
                                    <span>Qty : 1 product code: 12345</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <br>
                                <p>6000.00</p>
                            </div>
                        </div>
                        <div class="col-md-12"  ng-if="orderConfirmedEmail.orderConfirmedEmail.order">
                            <div class="col-md-7 text-right">Sub Total</div>
                            <div class="col-md-5">6560.00</div>
                            <div class="col-md-7 text-right">Delivery</div>
                            <div class="col-md-5">0.00</div>
                            <div class="col-md-7 text-right">TAX</div>
                            <div class="col-md-5">200.00</div>
                            <div class="col-md-7 text-right"><b>Total</b></div>
                            <div class="col-md-5">6760.00</div>
                            <div class="col-md-7 text-right"><b>Payment Method</b></div>
                            <div class="col-md-5">Paypal</div>
                        </div>
                        </p>
                        <div class="text-center" style="clear: both;padding-top: 16px">
                            <img width="20%" src="./images/logo.png">
                        </div>
                        <div  class="text-center" class="text-center"><span>Powered by www.Otenro.com</span> </div>
                        <br>
                        <br>
                        <br>
                    </div>
                        </div>
                        <md-button class="me-default-button col-1 pull-right reset-margin" ng-click="testEmail('Order confirm')">send test email</md-button>

                    </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="!orderConfirmedEmail.orderConfirmedEmail.header || picFileHeader == null" ng-click="updateEmailSettings(orderConfirmedEmail,'save','orderConfirmedEmail')">Save
                            </md-button>
                            <md-button class="me-default-button" ng-disabled="!orderConfirmedEmail.orderConfirmedEmail.header || picFileHeader == null" ng-click="updateEmailSettings(orderConfirmedEmail,'next','orderConfirmedEmail')">Next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled=enableTab>
                <md-tab-label>Order Fulfill</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Order Fulfill</h1>

                        </div>
                    </div>
                    <form name="orderFulfillForm" novalidate>
                    <div class="md-dialog-main">

                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <label>Insert Header Image</label><br>
                                <div class="file-upload-wrapper clearfix">
                                    <div class="cropArea">
                                        <ui-cropper image="myImageHeaderFulfill" area-type="rectangle" aspect-ratio="aspectRatio" result-image="fulfillPic" result-image-size="{w:1000,h:200}"   result-image-format="image/jpeg" result-image-quality="0.5">
                                        </ui-cropper>
                                    </div>

                                    <div class="inputField btn-material img-up">
                                        <span >{{buttonNameFulfill}}</span>
                                        <div class="img-up1" ng-if="fulfillPicImageSelected">
                                            <input type="file" value="file"  ng-click = "cropImageFulfill($event,'2');" id="fileInput2" >
                                        </div>
                                        <div  ng-if="!fulfillPicImageSelected" class="img-up1" ng-click="addImageFulfill(fulfillPic,'fulfillEmail')"></div>

                                    </div>
                                    <md-button class="md-icon-button" aria-label="Delete" ng-click="picFileHeader2 = null">
                                        <md-icon md-svg-icon="images/delete-icon.svg"></md-icon>
                                    </md-button>
                                </div>
                                <label>Header</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <div class="custom-trix">
                                    <text-angular style="width:75%" rows="4" class="input-shadow-border" ng-model="orderFulfilledEmail.orderFulfilledEmail.header" required></text-angular>
                                    <!--<trix-editorsada style="width:75%" angular-trix rows="4" class="input-shadow-border"  ng-model="emailHF.header" required></trix-editor>-->
                                </div>
                                <p>
                                    <br>
                                    <label>Select below to add to the email</label>
                                    <md-checkbox aria-label="Delivery and shhipping Details" ng-model="orderFulfilledEmail.orderFulfilledEmail.delivery">
                                        Delivery and shhipping Details
                                    </md-checkbox>
                                    <br>

                                    <md-checkbox aria-label="Order" ng-model="orderFulfilledEmail.orderFulfilledEmail.order">
                                        Order
                                    </md-checkbox>
                                    <br>

                                    <md-checkbox aria-label="Store details" ng-model="orderFulfilledEmail.orderFulfilledEmail.storeDetails" >
                                        Store details
                                    </md-checkbox>
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-5" style="zoom:0.7; background: #ebebeb;">
                                <img ng-if="picFileHeader2 == null" ng-src="images/1000x200.png"  width="100%" height="80px" style="display: block;margin: 16px auto 0 auto;"/><br>
                                <img ng-if="picFileHeader2 != null" ngf-src="picFileHeader2[0]" width="100%"   height="100px" style="display:block; margin: 16px auto 0 auto;"> <br>
                                <p>
                                    <text-angular style="height: 150px" rows="4" rows="1" class="email-template input-shadow-border" ng-model="orderFulfilledEmail.orderFulfilledEmail.header" disabled></text-angular>
                                </p>
                                <p>
                                    <div class="row" ng-if="orderFulfilledEmail.orderFulfilledEmail.delivery">
                                        <div class="col-md-6">
                                            <span><b>Delivered to</b></span><br>
                                <p>John Doe, 488, Kotte ROad, Pitakotte</p>
                            </div>
                            <div class="col-md-6">
                                <span><b>Shipping Details</b></span><br>
                                <p>Express Delivery</p>
                            </div>
                        </div>
                        <div class="row" ng-if="orderFulfilledEmail.orderFulfilledEmail.order">
                            <div class="col-md-12">
                                <span><b>Your Order</b></span><br>
                                <p>Order Number:1234567890</p>
                            </div>
                        </div>
                        <div class="row"  ng-if="orderFulfilledEmail.orderFulfilledEmail.order">
                            <div class="col-md-7">
                                <span><b>Item Description</b></span>
                                <br>
                                <br>
                                <p>
                                    <img src="./images/small-placeholder.png" class="pull-left" style="margin-right: 5px;">
                                    <br>
                                    <span>Superman T-shir</span><br>
                                    <span>Blue- Blue/UK 9</span><br>
                                    <span>Qty : 1 product code: 12345</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <span><b>LKR Rs.</b></span>
                                <br>
                                <br>
                                <br>
                                <p>560.00</p>
                            </div>
                        </div>
                        <div class="row"  ng-if="orderFulfilledEmail.orderFulfilledEmail.order">
                            <div class="col-md-7">
                                <p>
                                    <img src="./images/small-placeholder.png" class="pull-left" style="margin-right: 5px;">
                                    <br>
                                    <span>Superman Shoes</span><br>
                                    <span>Black- Black/9</span><br>
                                    <span>Qty : 1 product code: 12345</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <br>
                                <p>6000.00</p>
                            </div>
                        </div>
                        <div class="col-md-12"  ng-if="orderFulfilledEmail.orderFulfilledEmail.order">
                            <div class="col-md-7 text-right">Sub Total</div>
                            <div class="col-md-5">6560.00</div>
                            <div class="col-md-7 text-right">Delivery</div>
                            <div class="col-md-5">0.00</div>
                            <div class="col-md-7 text-right">TAX</div>
                            <div class="col-md-5">200.00</div>
                            <div class="col-md-7 text-right"><b>Total</b></div>
                            <div class="col-md-5">6760.00</div>
                            <div class="col-md-7 text-right"><b>Payment Method</b></div>
                            <div class="col-md-5">Paypal</div>
                        </div>
                        </p>
                        <div class="text-center" style="clear: both;padding-top: 16px">
                            <img width="20%" src="./images/logo.png">
                        </div>
                        <div  class="text-center" class="text-center"><span>Powered by www.Otenro.com</span> </div>
                        <br>
                        <br>
                        <br>
                    </div>
                        </div>
                        <md-button class="me-default-button col-1 pull-right reset-margin" ng-click="testEmail('Order Fulfilled')">send test email</md-button>
                    </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="!orderFulfilledEmail.orderFulfilledEmail.header || picFileHeader2 == null" ng-click="updateEmailSettings(orderFulfilledEmail,'save','orderFulfilledEmail')">Save
                            </md-button>
                            <md-button class="me-default-button" ng-disabled="!orderFulfilledEmail.orderFulfilledEmail.header || picFileHeader2 == null" ng-click="updateEmailSettings(orderFulfilledEmail,'next','orderFulfilledEmail')">Next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled=enableTab>
                <md-tab-label>Order Refund</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Order Refund</h1>

                        </div>
                    </div>
                    <form name="orderRefundForm" novalidate>
                    <div class="md-dialog-main">

                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <label>Insert Header Image</label><br>
                                <div class="file-upload-wrapper clearfix">
                                    <div class="cropArea">
                                        <ui-cropper image="myImageHeaderRefund" area-type="rectangle" aspect-ratio="aspectRatio" result-image="refundPic" result-image-size="{w:1000,h:200}"   result-image-format="image/jpeg" result-image-quality="0.5">
                                        </ui-cropper>
                                    </div>

                                    <div class="inputField btn-material img-up">
                                        <span >{{buttonNameRefund}}</span>
                                        <div class="img-up1" ng-if="refundPicImageSelected">
                                            <input type="file" value="file"  ng-click = "cropImageRefund($event,'3');" id="fileInput3" >
                                        </div>
                                        <div  ng-if="!refundPicImageSelected" class="img-up1" ng-click="addImageRefund(refundPic,'refundEmail')"></div>

                                    </div>
                                    <md-button class="md-icon-button" aria-label="Delete" ng-click="picFileHeader3 = null">
                                        <md-icon md-svg-icon="images/delete-icon.svg"></md-icon>
                                    </md-button>
                                </div>
                                <label>Header</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <div class="custom-trix">
                                    <text-angular style="width:75%" rows="4" class="input-shadow-border" ng-model="orderRefundEmail.orderRefundEmail.header" required></text-angular>
                                    <!--<trix-editorsada style="width:75%" angular-trix rows="4" class="input-shadow-border"  ng-model="emailHF.header" required></trix-editor>-->
                                </div>
                                <p>
                                    <br>
                                    <label>Select below to add to the email</label>
                                    <md-checkbox aria-label="Delivery and shhipping Details" ng-model="orderRefundEmail.orderRefundEmail.delivery">
                                        Delivery and shhipping Details
                                    </md-checkbox>
                                    <br>

                                    <md-checkbox aria-label="Order" ng-model="orderRefundEmail.orderRefundEmail.order">
                                        Order
                                    </md-checkbox>
                                    <br>

                                    <md-checkbox aria-label="Store details" ng-model="orderRefundEmail.orderRefundEmail.storeDetails">
                                        Store details
                                    </md-checkbox>
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-5" style="zoom:0.7; background: #ebebeb;">
                                <img ng-if="picFileHeader3 == null" ng-src="images/1000x200.png"  width="100%" height="80px" style="display: block;margin: 16px auto 0 auto"/><br>
                                <img ng-if="picFileHeader3 != null" ngf-src="picFileHeader3[0]" width="100%"   height="100px" style="display:block; margin: 16px auto 0 auto"> <br>
                                <p>
                                    <text-angular style="height: 150px" rows="4" rows="1" class="email-template input-shadow-border" ng-model="orderRefundEmail.orderRefundEmail.header" disabled></text-angular>
                                </p>
                                <p>
                                    <div class="row" ng-if="orderRefundEmail.orderRefundEmail.delivery">
                                        <div class="col-md-6">
                                            <span><b>Delivered to</b></span><br>
                                <p>John Doe, 488, Kotte ROad, Pitakotte</p>
                            </div>
                            <div class="col-md-6">
                                <span><b>Shipping Details</b></span><br>
                                <p>Express Delivery</p>
                            </div>
                        </div>
                        <div class="row" ng-if="orderRefundEmail.orderRefundEmail.order">
                            <div class="col-md-12">
                                <span><b>Your Order</b></span><br>
                                <p>Order Number:1234567890</p>
                            </div>
                        </div>
                        <div class="row"  ng-if="orderRefundEmail.orderRefundEmail.order">
                            <div class="col-md-7">
                                <span><b>Item Description</b></span>
                                <br>
                                <br>
                                <p>
                                    <img src="./images/small-placeholder.png" class="pull-left" style="margin-right: 5px;">
                                    <br>
                                    <span>Superman T-shir</span><br>
                                    <span>Blue- Blue/UK 9</span><br>
                                    <span>Qty : 1 product code: 12345</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <span><b>LKR Rs.</b></span>
                                <br>
                                <br>
                                <br>
                                <p>560.00</p>
                            </div>
                        </div>
                        <div class="row"  ng-if="orderRefundEmail.orderRefundEmail.order">
                            <div class="col-md-7">
                                <p>
                                    <img src="./images/small-placeholder.png" class="pull-left" style="margin-right: 5px;">
                                    <br>
                                    <span>Superman Shoes</span><br>
                                    <span>Black- Black/9</span><br>
                                    <span>Qty : 1 product code: 12345</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <br>
                                <p>6000.00</p>
                            </div>
                        </div>
                        <div class="col-md-12"  ng-if="orderRefundEmail.orderRefundEmail.order">
                            <div class="col-md-7 text-right">Sub Total</div>
                            <div class="col-md-5">6560.00</div>
                            <div class="col-md-7 text-right">Delivery</div>
                            <div class="col-md-5">0.00</div>
                            <div class="col-md-7 text-right">TAX</div>
                            <div class="col-md-5">200.00</div>
                            <div class="col-md-7 text-right"><b>Total</b></div>
                            <div class="col-md-5">6760.00</div>
                            <div class="col-md-7 text-right"><b>Payment Method</b></div>
                            <div class="col-md-5">Paypal</div>
                        </div>
                        </p>
                        <div class="text-center" style="clear: both;padding-top: 16px">
                            <img width="20%" src="./images/logo.png">
                        </div>
                        <div  class="text-center" class="text-center"><span>Powered by www.Otenro.com</span> </div>
                        <br>
                        <br>
                        <br>
                    </div>
                        </div>
                        <md-button class="me-default-button col-1 pull-right reset-margin" ng-click="testEmail('Order Refund')">send test email</md-button>
                    </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="!orderRefundEmail.orderRefundEmail.header || picFileHeader3 == null" ng-click="updateEmailSettings(orderRefundEmail,'save','orderRefundEmail')">Save
                            </md-button>
                            <md-button class="me-default-button" ng-disabled="!orderRefundEmail.orderRefundEmail.header || picFileHeader3 == null" ng-click="updateEmailSettings(orderRefundEmail,'finish','orderRefundEmail')">Finish</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>
    </md-dialog-content>
</md-dialog>