<md-dialog aria-label="Add Shipping Option">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'order-details');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>

        <div class="md-dialog-main clearfix">
            <fieldset>
                <label><h1>{{oderData.entity.customerName || oderData.entity.registeredName}}</h1></label><br>
                <label><h7>Order No: {{oderData.entity.id}}</h7></label>
            </fieldset>
            <table class="me-simple-table">
                <thead>
                <th class="simple-column">Date Ordererd</th>
                <th class="simple-column">Order Status</th>
                <!--<th class="simple-column">Order Fullfilment Date</th>-->
                <th>&nbsp;</th>
                </thead>
                <tbody>
                <tr ng-repeat="order in orderStatus">
                    <td>{{order.date1|date:'MM/dd/yyyy'}}</td>
                    <td>{{order.name}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-4">
                    <h7>Order Type</h7><br>
                    <label>{{orderType}}</label><br>
                    <h7>Payement Type</h7><br>
                    <label>{{oderData.entity.paymentType}}</label>
                </div>
                <div class="col-md-4" ng-if="oderData.entity.option !== 'pickUp'">
                    <h7>Deliver to:</h7>
                    <div class="row">
                        <div class="col-md-4"><h7>Address</h7></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><h7>Name</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.deliverName}}</h7></div>
                        <div class="col-md-4"><h7>No</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.deliveryNo}}</h7></div>
                        <div class="col-md-4"><h7>Street</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.deliveryStreet}}</h7></div>
                        <div class="col-md-4"><h7>City</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.deliveryCity}}</h7></div>
                        <div class="col-md-4"><h7>Country</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.deliveryCountry}}</h7></div>
                        <div class="col-md-4"><h7>Zip</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.deliveryZip}}</h7></div>
                        <div class="col-md-4"><h7>Mobile</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.telNumber}}</h7></div>
                    </div>
                </div>
                <div class="col-md-4" ng-if="oderData.entity.option == 'pickUp'">
                    <h7>Pick Up from:</h7>
                    <div class="row">
                        <div class="col-md-4"><h7>Location</h7></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><h7>No</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.pickUp.number}}</h7></div>
                        <div class="col-md-4"><h7>Street</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.pickUp.streetAddress}}</h7></div>
                        <div class="col-md-4"><h7>City</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.pickUp.city}}</h7></div>
                        <div class="col-md-4"><h7>Country</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.pickUp.country}}</h7></div>
                        <div class="col-md-4"><h7>Zip</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.pickUp.postalCode}}</h7></div>
                        <div class="col-md-4"><h7>Mobile</h7></div>
                        <div class="col-md-8"><h7>: {{oderData.entity.telNumber}}</h7></div>
                    </div>
                </div>
                <div class="col-md-4" ng-if="oderData.entity.shippingOpt">
                    <h7>Shipping Type:</h7><br>
                    <label>Name : {{oderData.entity.shippingOpt}}</label>
                </div>
            </div>
            <!--<fieldset>-->
                <!--<p>Refunds</p>-->
                <!--<p>Non Refundable</p>-->
            <!--</fieldset>-->


             <div>
                 <h7>Orderded Details</h7>
             </div>

                <table class="me-simple-table table-ordered-data">
                <thead>
                <th width="25%">Product</th>
                <th width="20%">Variant</th>
                <th width="20%">Individual Price</th>
                <th width="20%">Qty</th>
                <th width="25%">Price ({{currency}})</th>
                </thead>
                <tbody>
                <tr ng-repeat="orders in oderData.entity.item">
                    <td ng-if = "orders.imgURL" ><img width="50px" height="50px" style="float:left;padding:3px;" src="{{imageURL}}/{{orders.imgURL}}"><br> {{orders.name}}</td>
                    <td ng-if = "!orders.imgURL" ><img width="50px" height="50px" style="float:left;padding:3px;" src="{{imageURL}}/{{orders.imgDefault}}"><br> {{orders.name}}</td>
                    <td>
                        <div  ng-repeat = "value in oderData.entity.item[$index].variant">{{value.name}} : {{value.vType}}</div>
                    </td>
                    <td>{{orders.price}}</td>
                    <td>{{orders.qty}}</td>
                    <td>{{orders.price*orders.qty}} </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>+Tax</td>
                    <td>{{oderData.entity.tax || 0}}</td>
                </tr>
                <tr ng-if="orderType == 'Pick Up'">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>+Pickup Cost</td>
                    <td>{{oderData.entity.pickupCost || 0}}</td>
                </tr>
                <tr ng-if="orderType != 'Pick Up'">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>+Shipping Cost</td>
                    <td>{{oderData.entity.shippingCost || 0}}</td>
                </tr>
                <tr class="total">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>total</td>
                    <td>{{oderData.entity.amount}}</td>
                </tr>
                </tbody>
            </table>

            <div ng-if="oderData.entity.note">
                </p><p>*note : {{oderData.entity.note}}</p>
            </div>

        </div>

        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="closeDialog()">Close</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
