<md-dialog aria-label="publish-blog">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'preview-blogs');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tab-body>
        <div class="md-dialog-header">
            <div class="md-dialog-header-nav clearfix">
            <h1 class="pull-left">preview a blog</h1>
            <fieldset class="col-2 pull-right reset-margin">
                <input type="text" required="" ng-model="search.title" class="me-search-input" name="name">
                <input type="submit" value="search" class="me-search-button">
            </fieldset>
            </div>
        </div>

        <div class="md-dialog-main clearfix">
            <form class="allItems" novalidate>
            <table class="table">
                <thead>
                <th>Title</th>
                <th>Publish Date</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr dir-paginate="blog in blogList | filter:search | itemsPerPage: pageSize">
                    <td>{{blog.title}}</td>
                    <td>{{blog.createdDate}}</td>
                    <td>
                        <a data-ng-click="editBlog(blog)">Edit</a> /
                        <a data-ng-click="deleteBlog($index,blog)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>

            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                    <md-button class="me-default-button" ng-click="answer('cancel')">OK</md-button>
                </div>
            </div>
        </md-tab-body>

    </md-dialog-content>
</md-dialog>