.container{
  height: 100vh;
  background-color: #47454B; /* edited by .sanira */
}
.flex-row{
  border-radius: 8px;
  display: flex;
  border: 0;
  padding: 10px;
  margin:1%;
  width:100%;
  height:120px;
}

.flex-row img{
  object-fit: cover;
  width: 80px;
  height: 100px;
  object-fit: cover;
  color: #a5a5a5;
  min-width: 80px;
}

.flex-row p{
  font-size: 13px;
  height: 34px;
  overflow: hidden;
  color: #a5a5a5;
}

.flex-row h5{
  font-size: 16px;
}
/* commented by .sanira */

/* .flex-row:last-child {
  padding-bottom: 60px;
}
.flex-row:first-child{
  padding-top: 69px;
} */

/* Newly Added CSS by .Sanira */
.edited{
  display: flex;
  flex-direction: column;
  margin: 18% 0;
  padding: 2%;
  align-items: center;
}

