li{
	padding: 10px;
}

a{
	cursor:pointer;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, .9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}
.navbar-light .navbar-nav .nav-link {
    padding: 0 15px;
    font-size: 12px;
    line-height: 2;
    border: 0;
    transition: color 0.3s ease-out;
    color: #1c1f23;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #b67c5a;
}

.navbar-brand{
  font-size: 15px;
  letter-spacing: 0.3em;
  font-weight: bold;
}
