<div class="page-container">
  <div id="gallery" style="display:none;">
    <ng-template *ngFor="let item of Data.tempImageArray" [ngIf]="item">
      <img  *ngIf="item.videoUrl == null" alt="{{item.name}}" style="display: none"
            src="{{imageUrl}}/{{item.img}}"
            [attr.data-image]="imageUrl/item.img" (load)="imageLoaded($event)">

      <img  *ngIf="item.videoUrl != null" alt="{{item.name}}"  style="display: none"
            data-type="youtube"
            [src]="item.img ? imageUrl+'/'+item.img : ''"
            [attr.data-image]="item.img ? imageUrl+'/'+item.img : ''"
            [attr.data-videoid]="checkUrl(item.videoUrl)" (load)="imageLoaded($event)">
    </ng-template>
  </div>

  <div class="padding">
    <h4 class="text-center main-header-font">{{Data.title}}</h4>
    <div id="article-body-content" class="desc" [innerHtml]="Data.desc | safeHtml"> </div>
  </div>

  <!-- bloc-17 END -->

  <!-- ScrollToTop Button -->
  <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
    <span class="fa fa-chevron-up"></span>
  </a>
  <!-- ScrollToTop Button END-->

</div>
