<div>
  <div class="row mx-auto bgc-white">
    <div class="col-4 col-sm-3 col-md-3 col-lg-3">
      <img src="assets/img/AppMaker Logo.svg" width="72px" class="mt-2 ml-2">
    </div>
    <div class="col-8 col-sm-7 col-md-7">
      <div class="search-container">
        <input type="text" name="search-bar" placeholder="Search..." class="search-input"
                [(ngModel)]="searchInput">
        <button class="btn btn-light search-btn border-1" type="button" (click)="searchHandler()">
          <i class="fa fa-search"></i></button></div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
  </div>
</div>

<!-- home page content -->
<div class="row mx-5p" *ngIf="hasSearchResults">
  <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-0" *ngFor="let app of apps">
    <app-app-card [app]="app"></app-app-card>
  </div>
</div>
<div class="row mx-5p" *ngIf="!hasSearchResults">
    <div class="full-width info padding-top">Sorry, we couldn't find any apps that matched your search term</div>
</div>

<div style="padding-top:21px;"></div>