<md-dialog aria-label="User Profile">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>{{viewProfile}}</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1 >Hello {{userEdit.firstName}}</h1>
                        <ul class="md-dialog-header-nav clearfix">
                            <li>
                                <a ng-click="redirectToDashboard()" class="return-to-app">my apps</a>
                            </li>
                            <li>
                                <a ng-click="redirectToLogin()" class="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-dialog-main">
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Name </label>
                                <br>
                                {{userEdit.firstName}} {{userEdit.lastName}}
                            </fieldset>
                        </div>
                        <fieldset>
                            <label>Email</label>
                            <br>
                            {{userEdit.email}}
                        </fieldset>
                        <fieldset >
                            <label>Account type</label>
                            <br>
                            {{userEdit.accountType}}
                        </fieldset>
                        <fieldset class="text-right">
                            <md-button class="me-default-button" ng-click="close()">Close</md-button>
                            <md-button class="me-default-button" ng-click="goToEditView(2)">Edit Profile</md-button>
                        </fieldset>
                    </div>
                </md-tab-body>
            </md-tab>
            <!-- Start billing view-->
            <md-tab>
                <md-tab-label>{{viewBilling}}</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>billing account</h1>
                        <ul class="md-dialog-header-nav clearfix">
                            <li>
                                <a ng-click="redirectToDashboard()" class="return-to-app">my apps</a>
                            </li>
                            <li>
                                <a ng-click="redirectToLogin()" class="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-dialog-main">
                        <div class="clearfix">
                            <fieldset>
                                <label>Billing Name</label>
                                <br>
                                {{billingEdit.fname}}
                            </fieldset>
                            <fieldset>
                                <label>Billing Address</label>
                                <br>
                                {{billingEdit.address}}
                            </fieldset>
                        </div>
                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="close()">Close</md-button>
                                <md-button class="me-default-button" ng-click="goToEditView(3)">Edit Billing Account</md-button>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <!-- Start profile edit view-->
            <md-tab>
                <md-tab-label></md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1 >Edit Profile</h1>
                        <ul class="md-dialog-header-nav clearfix">
                            <li>
                                <a ng-click="redirectToDashboard()" class="return-to-app">my apps</a>
                            </li>
                            <li>
                                <a ng-click="redirectToLogin()" class="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-dialog-main">
                        <form class="form-signin" accept-charset="UTF-8" role="form" name="editProfile">
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>First name</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="text" name="fname"  ng-model="userEdit.firstName" required />
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>Last name</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="text" name="lname" ng-model="userEdit.lastName" required />
                            </fieldset>
                        </div>
                        <fieldset>
                            <label>Email</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <input type="text" name="email" disabled ng-model="userEdit.email" required />
                        </fieldset>
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Current Password</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="password" name="password"  ng-model="userEdit.currentPassword" />
                            </fieldset>
                        </div>
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Password</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="password" name="password" ng-model="userEdit.password" ng-minlength="7" compare-to="userEdit.confirmPassword" />
                                <span class="help-block " ng-show="editProfile.password.$error.minlength">
                                    <span ng-show="editProfile.password.$error.minlength">Password should have at least 7 characters.</span>
                                </span>
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>Confirm Password</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="password" name="confirmPassword" ng-model="userEdit.confirmPassword"  />
                                <span class="help-block " ng-show="editProfile.confirmPassword.$dirty">
                                    <span ng-show="editProfile.password.$error.compareTo">Password must match.</span>
                                </span>
                            </fieldset>
                        </div>
                        <fieldset >
                            <label>Account type</label>
                            <md-select ng-model="userEdit.accountType">
                                <md-option value="Basic">Basic</md-option>
                                <md-option value="Advanced">Advanced</md-option>
                            </md-select>
                        </fieldset>
                        <fieldset class="text-right">
                            <md-button class="me-default-button" ng-click="backToView(0)">Cancel</md-button>
                            <md-button class="me-default-button" ng-click="editUserProfile(userEdit)">Save</md-button>
                        </fieldset>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
            <!-- Start billing edit view-->
            <md-tab>
                <md-tab-label></md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Edit billing account</h1>
                    </div>
                    <div class="md-dialog-main">
                        <div class="clearfix">
                            <fieldset >
                                <label>Billing Name</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="text" name="name" ng-model="billingEdit.fname" required />
                            </fieldset>
                        </div>
                        <fieldset>
                            <label>Billing Address</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <input type="text" name="name" ng-model="billingEdit.address" required />
                        </fieldset>
                        <fieldset class="col-2">
                            <label>Credit card number</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <input type="text" name="name" ng-model="billingEdit.creditCardNumber" required />
                        </fieldset>
                        <fieldset class="col-2 reset-margin-right">
                            <label>Card type</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <input type="text" name="name" ng-model="billingEdit.cardType" required />
                        </fieldset>
                        <fieldset>
                            <label>CVS code</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <input type="text" name="name" ng-pattern="/[0-9]+/" ui-mask="9999" class="me-xs-input reset-inline" ng-model="billingEdit.cvs" required />
                        </fieldset>

                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="backToView(1)">cancel</md-button>
                                <md-button class="me-default-button" ng-click="saveBillings(billingEdit)">save</md-button>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>