<div class="bloc bgc-white b-parallax animDelay04 " id="bloc-11">

  <div class="container  bloc-xl">
    <div *ngIf="Data.bannerImage">
      <img class="banner-cat" src="{{bannerImageUrl}}/{{Data.bannerImage}}" width="100%" />
    </div>
    <div class="row bgc-white" id="product">
      <div class="col-sm-6">
        <div id="gallery" style="display:none;">
          <ng-template *ngFor="let item of Data.tempImageArray" [ngIf]="item">
            <img *ngIf="item.videoUrl == null" alt="{{item.name}}" src="{{imageUrl}}/{{item.img}}" [attr.data-image]="imageUrl/item.img">

            <img *ngIf="item.videoUrl != null" alt="{{item.name}}" data-type="youtube" src="{{imageUrl}}/{{item.img}}" [attr.data-image]="imageUrl/item.img"
              [attr.data-videoid]="checkUrl(item.videoUrl)">
          </ng-template>

        </div>
      </div>
      <div class="col-sm-6" *ngIf = "selectedVariant">
        <h3 class="mg-md product-header-h1 animated fadeInUp main-header-font">
          {{Data.name}}
        </h3>
        <div class="text-left main-content-font">
          <p *ngIf="discountAvailable == false && availableFirstVariPromo == false">
            <strong>{{currency}}</strong> {{selectedVariant.price| number: '.2'}}</p>
          <h5 *ngIf="discountAvailable == false && availableFirstVariPromo == true">
            <strong style="text-decoration: line-through">{{currency}}{{oldPrice| number: '.2'}}</strong>
          </h5>
          <h4 *ngIf="discountAvailable == false && availableFirstVariPromo == true">
            <strong>{{currency}}</strong> {{newPrice| number: '.2'}}</h4>

          <p style="text-decoration: line-through" *ngIf="discountAvailable == true">
            <strong>{{currency}}</strong> {{oldPrice| number: '.2'}}</p>
          <p *ngIf="discountAvailable == true">
            <strong>{{currency}}</strong> {{newPrice| number: '.2'}}</p>
        </div>
        <p class="text-left main-content-font" *ngIf="!selectedVariant.price">
          <strong>{{currency}}</strong> {{Data.variants[0].price}}
        </p>

        <p class="color">
          <strong style="color:rgb(153, 15, 15)" *ngIf=" Data.variants.length >= 1 && selectedVariant.quantity == 0 && lockBuyButton">Availability: Out of stock</strong>
          <strong style="color: green" *ngIf=" !(Data.variants.length >= 1 && selectedVariant.quantity == 0 && lockBuyButton)">Availability: In stock</strong>

          <!-- <strong>Availability: In stock</strong> -->
          <br>
        </p>

        <div style="display: block; background-color: rgb(10, 10, 20); height: 1px; width: 100%; margin: auto;"></div>

        <p class="color-black spacing-top-text main-header-font">
          <strong>PRODUCT DESCRIPTION</strong>
          <br>
        </p>
        <p class="content-product  main-content-font no-margin" id="details" [innerHTML]="desPart1 | safeHtml" style="font-weight: initial;">
        </p>
        <a class="text-left product-detail padding-bottom" *ngIf="readMore" (click)="readMoreFunct()" style="font-size: 12px;">Read More</a>
        <a class="text-left  product-detail padding-bottom" *ngIf="readMore == false" (click)="readLessFunct()" style="font-size: 12px;"><strong>Read Less</strong></a>

        <div class="blocs-custom-html spacing-bottom">

          <div style="display: block; background-color: rgb(10, 10, 20); height: 1px; width: 100%; margin: auto;"></div>

          <p class="spacing-top spacing-top-text main-header-font">
            <strong>SELECT SPECIFICATIONS</strong>
          </p>

          <div class="row padding-mobile padding-vertical">

            <div class="col-sm-6 main-content-font" *ngIf="Data.selection[0]">
              <select class="form-control margin-bottom" (change)="changeVariant($event.target.value)">
                <option *ngFor="let v1 of selection" [ngValue]="v1.vType"> {{v1.vType}} </option>
              </select>
            </div>

            <div class="col-sm-6 main-content-font" *ngIf="selection1.length > 1">
              <select class="form-control margin-bottom" (change)="changeVariant2($event.target.value)">
                <option *ngFor="let v2 of selection1" [ngValue]="v2.vType"> {{v2.vType}} </option>
              </select>
            </div>

            <div class="col-sm-6 main-content-font" *ngIf="selection2.length > 1">
              <select class="form-control margin-bottom" (change)="changeVariant3($event.target.value)">
                <option *ngFor="let v3 of selection2" [ngValue]="v3.vType"> {{v3.vType}} </option>
              </select>
            </div>

            <div class="col-sm-6 main-content-font" *ngIf="selection3.length > 1">
              <select class="form-control margin-bottom" (change)="changeVariant4($event.target.value)">
                <option *ngFor="let v4 of selection3" [ngValue]="v4.vType"> {{v4.vType}} </option>
              </select>
            </div>
          </div>
          <div class="row padding-mobile">
            <div class="col-sm-3">
              <div class="form-group">
                <input class="form-control main-content-font" type="number" min="1" oninput="validity.valid||(value='');" name="qty" placeholder="QTY"
                  id="qty" value="selectedVariant.buyQuantity" [disabled]="Data.variants.length >= 1 && selectedVariant.quantity == 0 || lockBuyButton == false"
                  [(ngModel)]="selectedVariant.buyQuantity" (ngModelChange)="changeBuyQuantity(selectedVariant.buyQuantity)"
                />
              </div>
            </div>

          </div>
          <div *ngIf = "errBuy" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
        </div>
          <div class="blocs-custom-html spacing-bottom">
            <div style="display: block; background-color: rgb(10, 10, 20); height: 1px; width: 100%; margin: auto;"></div>

            <div class="col-xs-12 text-center text-warning" *ngIf="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity > 1">
              <span>
                Please enter a quantity of {{selectedVariant.quantity}} or less.
              </span>
            </div>
            <div class="col-xs-12 text-center text-warning" *ngIf="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity == 1">
              <span>
                Please enter a quantity of {{selectedVariant.quantity}}.
              </span>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4 class="modal-title main-header-font" id="myModalLabel">Your Product added to the cart!</h4>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 text-center">
                      <img src="{{imageUrl}}/{{selectedVariant.imageUrl || Data.tempImageArray[0].img}}" width="100%">
                    </div>
                    <div class="col-xs-6">
                      <h4 class="main-header-font padding-vertical">
                        <strong> {{Data.name}}</strong>
                      </h4>
                      <p class="main-content-font" *ngFor="let v of dialogVariants">{{v.name}}:{{v.vType}}</p>
                      <h4 class="main-content-font">
                        <strong> {{currency}} {{selectedVariant.price}}</strong>
                      </h4>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-xs-6">
                      <button (click)="close();goToHome();" class="btn btn-d btn-sq btn-lg main-button animDelay02">Continue Shopping</button>
                    </div>
                    <div class="col-xs-6">
                      <button (click)="close();goToCart();" class="btn btn-d btn-sq btn-lg  main-button animDelay02">Checkout</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    

            <div class="voffset padding-mobile" *ngIf="!(Data.variants.length >= 1 && selectedVariant.quantity == 0 && lockBuyButton)">
              <div class="col-xs-6">
                <button (click)='addToCart("buyNowCart")' [disabled]="isBuyBtnDisable" class="btn btn-d btn-sq btn-lg main-button animDelay02 btn-block">BUY NOW</button>
              </div> 
              <div class="col-xs-6">
                <button (click)="addToCart('');open(this.selectedVariant.selection);" [disabled]="isBuyBtnDisable" class="btn btn-d btn-sq btn-lg main-button animDelay02  btn-block">ADD TO CART</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>