<ion-view class="made-easy-background-color made-easy-background-image detailed-content" view-title="Contact Us">
  <ion-content class="padding">
      <div class="list card">
          <div class="item item-body">

                <div class="content made-easy-content-font">

                        <div><label>Address</label> <span>: {{address}}</span></div>

                        <div><label>Tel</label> <span>: {{telPhone}}</span></div>

                        <div><label>E-mail</label> <span>: {{email}}</span></div>

                        <div><label>Web</label> <span>: {{webSite}}</span></div>

                        <!--<div ><label>Map</label> <span>: {{coords}}</span></div>-->




                </div>
            </div>
      </div>
  </ion-content>
</ion-view>
