/* ---- Custom CSS ---- */

.card.col.col-50 {
    margin: 1.5vh 2% 1.5vh 2%;
    max-width: 45%;
    text-align:center;
}

a{
    text-decoration:none;
}

.card{
    padding-top:0px;
}


.add-to-cart .ion-ios-cart-outline:before{
    font-size: x-large;
}
.add-to-cart .ion-ios-plus-empty{

    position: absolute;
    top: -7%;
}
.add-to-cart .ion-ios-plus-empty:before{
    font-size:18px;
}

.back-button {
    left: 3%;
}

.button.activated {
    background: transparent;
}

.item .item-content.activated, .item .item-content.activated.item-complex>.item-content, .item .item-content.active, .item .item-content.active.item-complex>.item-content, .item-complex.activated .item-content, .item-complex.activated .item-content.item-complex>.item-content, .item-complex.active .item-content, .item-complex.active .item-content.item-complex>.item-content, .item.activated, .item.activated.item-complex>.item-content, .item.active, .item.active.item-complex>.item-content {
    border-color: unset;
    background-color: unset;
}

/* Helper Classes */
.center{
    text-align:center;
}

.align-left{
    text-align:left;
}

.align-right{
    text-align:right;
}



.margin {
    margin : 5px;
}

.font-small {
    font-size:2.2vh;
}

.popup-body label{
    border:0;
}

button {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cart-item-header {
    text-transform:uppercase;
    font-size: 2.4vh;
    text-align: center;
    letter-spacing: 1px;
}


.item-checkbox {
    padding: 5px 5px 5px 50px;
    width: 100%;
    border: 0;
}

/*Pickup page styles*/

.pickup .item-checkbox .checkbox{
    zoom: 0.6;
    top:12%;
}

.pickup h3{
    margin-bottom:0;
    padding-bottom:0;
}

.pickup .content{
    zoom:0.8;
    line-height:normal;
    color:#868686;
}

.pickup label {
    padding-left: 30px;
}


/* Delivery page */
.delivery-details .item-checkbox .checkbox{
    zoom: 0.6;
    top: 43px;
    left: -65px;
    position: relative;
}

.delivery-details .item-content{
    white-space:normal;
}

.delivery-details .delivery-form{
    zoom: 0.7;
    padding-left: 73px;
}

.delivery-details .delivery-form label{
    padding-left:0;
    border: 0;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}

/*Payment Page*/
.payment label{
    padding-left: 54px;
    border: 0;
}

.payment .card-form label{
    padding:3px;
    border: 0;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}

.payment .card-form{
    zoom: 0.7;
    padding-left: 72px;
}

.payment .item-checkbox .checkbox{
    zoom: 0.7;
}

.payment .cards-list img{
    opacity:0.4;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.payment .cards-list .selected img{
    opacity:1
}

.payment .cards-list i {
    display:none;
}

.payment .item.item-input input{
    padding-right:0;
}
.title-image {
    margin-left: 20%;
}


/* Remove controls from Firefox , Chrome, safari*/

.removeAr input[type=number]::-webkit-inner-spin-button,
.removeAr input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.removeAr input[type=number] {
  -moz-appearance: textfield;
}
input[type=number] {
  height: inherit;
  line-height: normal;
  padding-top: 0;
}

.no-padding{
    padding:0;
}

