<div class="me-guest" >
  <div class="me-guest-area" >
    <form class="form-signin" accept-charset="UTF-8" role="form" name="register">
      <legend>Register</legend>
      <fieldset>
        <label>Name</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input type="text" name="fname" ng-model="user.fname"  required/>
      </fieldset>
      <fieldset>
        <label> Email </label>
        <img src="../../../images/question-mark.svg" width="12" height="12" />
        <input name="email" type="email" ng-model="user.email" required/>
        <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">
          Email required
        </p>
      </fieldset>
      <fieldset>
        <label>Password</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12">
        <input name="password" type="password" ng-model="user.password" compare-to="user.password_confirm" required>
      </fieldset>
      <fieldset>
        <label> Confirm Password</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input name="password_confirm" ng-model="user.password_confirm" type="password" />
        <p class="help-block" ng-show="user.password_confirm.$dirty && user.password_confirm.$invalid">
          Please match the password.
        </p>

        <span class="help-block " ng-show="register.password_confirm.$dirty">
            <span ng-show="register.password.$error.compareTo">Password must match.</span>
            <span ng-show="register.password_confirm.$error.required">Confirmation password is required.</span>
        </span>
      </fieldset>
      <br/>
      <fieldset class="text-right reset-margin">
        <input type="button" class="me-default-button" ng-model="cancel" ng-click="cancel()" name="cancel" value="Cancel" />
        <button ng-disabled="register.$invalid"   ng-click="authSignUp(user);"  type="button" class="me-default-button">
          Register
        </button>
      </fieldset>
    </form>
  </div>
</div>
