<div class="me-guest" >
  <div class="me-guest-area">
    <form class="form-signin" accept-charset="UTF-8" role="form" name="register" novalidate>
      <legend>Register</legend>
      <fieldset>
        <label>First Name</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input class="input-shadow-border" type="text" name="fname" ng-model="user.fname" ng-enter ="authSignUp(user);"
               required/>
        <span class="error help-block" ng-show="register.fname.$error.required">
          *
        </span>
      </fieldset>
      <fieldset>
        <label>Last Name</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input class="input-shadow-border" type="text" name="lname" ng-model="user.lname" ng-enter ="authSignUp(user);"
               required/>
        <span class="error help-block" ng-show="register.lname.$error.required">
          *
        </span>
      </fieldset>
      <fieldset>
        <label> Email </label>
        <img src="../../../images/question-mark.svg" width="12" height="12" />
        <input class="input-shadow-border" name="email" type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
               style="float:left;" ng-model="user.email" ng-enter ="authSignUp(user);" required/>
        <span class="error help-block" ng-show="register.email.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.email.$dirty && register.email.$invalid">
          Enter a proper email
        </span>
      </fieldset>
      <div class="row password-area-row">
        <fieldset class="password-area">
          <label>Password</label>
          <img src="../../../images/question-mark.svg" width=" 12" height="12">
          <input class="input-shadow-border"  name="password" ng-enter ="authSignUp(user);" type="password"
                  ng-model="user.password" ng-minlength="7" compare-to="user.password_confirm"
                  ng-pattern="passwordRegularExpression"
                  required>
          <span class="error help-block" ng-show="register.password.$error.required">
            *
          </span>
          <span class="help-block register-pw-error-message" ng-show="register.password.$error.minlength">
             <span class="error" ng-show="register.password.$error.minlength">Password should have at least 7 characters.</span>
          </span>
          <span class="help-block register-pw-error-message" ng-show="!(register.password.$error.minlength) && register.password.$error.pattern">
             <span class="error">Password should have at least one lower or Upper letter and one number</span>
          </span>
        </fieldset>
        <fieldset class="password-area reset-margin-right">
          <label> Confirm Password</label>
          <img src="../../../images/question-mark.svg" width=" 12" height="12" />
          <input class="input-shadow-border"  name="password_confirm" ng-enter ="authSignUp(user);" ng-model="user.password_confirm" type="password" required/>
          <span class="error help-block" ng-show="register.password_confirm.$error.required">
            *
          </span>
          <span class="help-block " ng-show="register.password_confirm.$dirty">
              <span class="error" ng-show="register.password.$error.compareTo">Password must match.</span>
          </span>
        </fieldset>
      </div>
      <fieldset>
        <label>Tell us about yourself</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
          <md-select flex="50" ng-model="user.yourselfReason">
            <md-option ng-value="yourSelf.reason" ng-repeat="yourSelf in yourselfReasonList">{{yourSelf.reason}}
            </md-option>
          </md-select>
      </fieldset>
      <br>
      <br/>
      <br/>
      <fieldset class="set-register">
        <input type="button" class="me-default-button" ng-model="cancel" ng-click="cancel()" name="cancel" value="Cancel" />
        <button ng-disabled="register.$invalid"   ng-click="authSignUp(user);"  type="button" class="me-default-button">
          Register
        </button>
      </fieldset>
    </form>
  </div>
</div>
