<div class="me-guest" >
  <div class="me-guest-area" novalidate>
    <form class="form-signin" accept-charset="UTF-8" role="form" name="register">
      <legend>Register</legend>
      <fieldset>
        <label>First Name</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input type="text" name="fname" ng-model="user.fname"  required/>
        <span class="help-block" ng-show="register.fname.$error.required">
          *
        </span>
      </fieldset>
      <fieldset>
        <label>Last Name</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input type="text" name="lname" ng-model="user.lname"  required/>
        <span class="help-block" ng-show="register.lname.$error.required">
          *
        </span>
      </fieldset>
      <fieldset>
        <label> Email </label>
        <img src="../../../images/question-mark.svg" width="12" height="12" />
        <input name="email" type="email" style="float:left;" ng-model="user.email" required/>
        <span class="help-block" ng-show="register.email.$error.required">
          *
        </span>
        <span class="help-block" ng-show="register.email.$dirty && register.email.$invalid">
          Enter a proper email
        </span>
      </fieldset>

      <fieldset class="password-area">
        <label>Password</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12">
        <input  name="password" type="password" ng-model="user.password" ng-minlength="7" compare-to="user.password_confirm" required>
        <span class="help-block" ng-show="register.password.$error.required">
          *
        </span>
        <span class="help-block " ng-show="register.password.$error.minlength">
           <span ng-show="register.password.$error.minlength">Password should have at least 7 characters.</span>
        </span>

      </fieldset>

      <fieldset class="password-area reset-margin-right">
        <label> Confirm Password</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input  name="password_confirm" ng-model="user.password_confirm" type="password" required/>
        <span class="help-block" ng-show="register.password_confirm.$error.required">
          *
        </span>
        <span class="help-block " ng-show="register.password_confirm.$dirty">
            <span ng-show="register.password.$error.compareTo">Password must match.</span>
        </span>
      </fieldset>
      <br>
      <br/>
      <br>
      <br/>
      <br>
      <br/>
      <fieldset class="text-right reset-margin">
        <input type="button" class="me-default-button" ng-model="cancel" ng-click="cancel()" name="cancel" value="Cancel" />
        <button ng-disabled="register.$invalid"   ng-click="authSignUp(user);"  type="button" class="me-default-button">
          Register
        </button>
      </fieldset>
    </form>
  </div>
</div>
