
<!-- bloc-1 -->
<div class="bloc bgc-white bg-cum-sa-te-imbraci-elegant d-bloc hidden-sm hidden-lg hidden-md" id="bloc-1">
	<div class="container bloc-lg">
		<div class="row ">
			<div class="col-sm-12">
				<h1 class="text-center hero-bloc-text  hero-block-text-shadow spacing-bottom">
					Outfit.lk Island wide free delivery
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- bloc-2 -->
<div class="bloc bgc-silver header-image l-bloc animated fadeInDown hidden-xs" id="bloc-2">
	<div class="container bloc-lg">
		<div class="row header-raw-spacing">
			<div class="col-sm-12">
				<h1 class="text-center hero-bloc-text  hero-block-text-shadow">
					Outfit.lk Island wide free delivery
				</h1>
				<h3 class="text-center mg-lg hero-bloc-text-sub hero-block-text-shadow spacing-bottom">
					But don't forget about your jazzy tag line.
				</h3>
			</div>
		</div>
	</div>
</div>

<app-categories [categories]="categories"></app-categories>

<!-- bloc-2 END -->