<md-dialog aria-label="Start" class="create-app-dialog">
    <form>
        <!--
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create App</h2>
            </div>
        </md-toolbar>
        -->
        <md-dialog-content class="create-app-wrapper">
            <div class="me-dialog-phone-view">
                <me-iphone img-src="images/templates/{{selectedTemplate}}"></me-iphone>
            </div>

            <div class="me-dialog-form-view">
                <h1>Rum Punch</h1>
                <label class="font-size-12">
                    Rum Punch is favored by many businesses. It is easy to customise.
                </label>
                <br/><br/>
                <fieldset>
                    <label class="font-size-12">App Name</label>
                        <input class="input-shadow-border" type="text" ng-model="appName" />
                </fieldset>
                <br/><br/>
                <fieldset class="text-right">
                    <button class="me-default-button" ng-click="cancel()">
                        Cancel
                    </button>
                    <button class="me-default-button" ng-click="answer('useful')">
                        Get Started
                    </button>
                </fieldset>
                <!--
                <fieldset>
                    <label class="font-size-12">App Image</label>
                    <input id="inputImage"
                           type="file" accept="image/*" ng-model="image"
                           me-image="image1" resize-max-height="50" resize-max-width="50"
                           resize-quality="0.9" resize-type="image/jpg" />
                </fieldset>
                <fieldset>
                    <label class="font-size-12">App Theme Color</label>
                    <color-picker ng-model="themeColor" color-picker-format="'hex'" color-picker-swatch-only="true"></color-picker>
                </fieldset>
                <fieldset class="reset-margin">
                    <label class="font-size-12">Preview:</label><i ng-hide="image.compressed.dataURL"> No Preview available</i>
                    <img ng-src="{{image.compressed.dataURL}}" />
                </fieldset>
                -->
            </div>
        </md-dialog-content>
        <!--
        <div class="md-actions" layout="row">
            <md-button ng-click="answer('not useful')">
               Cancel
            </md-button>
            <md-button ng-click="answer('useful')">
                Get Started
            </md-button>
        </div>
        -->
    </form>
</md-dialog>
