<footer class="footer">

  <div class="btn-group" role="group" aria-label="footer">
    <button type="button" class="btn btn-default" aria-label="Home" (click)="navigate('')">
      <i class="fa fa-home fa-lg"></i>
    </button>

    <button type="button" class="btn btn-default" aria-label="Policies" (click)="navigate('policies')">
      <i class="fa fa-shield fa-lg"></i>
    </button>
    <button type="button" class="btn btn-default" aria-label="Contact" (click)="navigate('contact')">
      <i class="fa fa-phone fa-lg"></i>
    </button>
    <button type="button" class="btn btn-default" aria-label="My Account" (click)="navigate('appUser')">
      <i class="fa fa-user fa-lg"></i>
    </button>
  </div>
</footer>
