.footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0px -2px 20px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.footer .btn-group{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.footer .btn-group button{
  border: 0;
  color: #989898
}
.footer .btn-group button:active{
  color: #000;
  background-color: transparent;
  box-shadow: none;
}

.footer button.btn.btn-default:active:after {
  content: '';
  width: 55px;
  height: 5px;
  background: black;
  position: absolute;
  left: -5px;
  bottom: -14px;
}
.btn-default:hover{
  background-color: #fff;
}
/*My account modal css*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.sub-button-sub{
    background-image: linear-gradient(to right, #2ba2fa, #0092fc, #0081fb, #006ff8, #0f5af2);
    border-width: 0px !important;
    color: #fff !important;
    padding: 10px;
    border-radius: 20px;
    border-width: 1px !important;
    letter-spacing: 2px;
    border: solid;
    text-transform: uppercase;
}

.sub-button-cancel{
    background-image: linear-gradient(to right, #ff8c2b, #ff8328, #ff7a25, #ff7024, #ff6623);
    border-width: 0px !important;
    color: #fff !important;
    padding: 10px;
    border-radius: 20px;
    border-width: 1px !important;
    letter-spacing: 2px;
    border: solid;
    text-transform: uppercase;
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.12);
  z-index: 10;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  content-alignment: center;
  align-items: center;
  background-color: rgba(15,15,15,0.5);
  border-radius: 5px;
  height: 200px;
  width: 250px;
  box-shadow: 1px 1px 1px 0px darkslategrey;
}

.loader {
  border: 1px solid white;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 80px;
  height: 80px;
  animation-name: loading;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader-text {
  margin-top: 10px;
  padding-top: 10px;
  color: lightgrey;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  animation-name: fading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.description-box{
  margin-top: 10px;
  paddin: 10px 5px 10px 5px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  width: 500px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
}

@keyframes loading{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fading {
  0%, 100% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.95;
  }
}
