    <md-dialog aria-label="Contact Us">

        <!--Google Analytics-->
        <script>
            ga('set', 'page', 'contact-us');
            ga('send', 'pageview');
        </script>

    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab ng-disabled="contactUsTabs.basicInfo">
                <md-tab-label>Contact Us</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Contact Us</h1>
                    </div>
                    <!-- Address | Tel Phone -->
                    <form name="basicInfoForm" novalidate>
                        <div class="md-dialog-main">
                            <fieldset>
                                <!-- Address -->
                                <label>Address</label>
                                <input class="input-shadow-border"  type="text" name="address" ng-model="basicInfo.address" required />
                            </fieldset>
                            <fieldset>
                                <!-- Telephone -->
                                <label>Telephone</label>
                                <!--<input class="input-shadow-border" type="text" name="telPhone" ng-model="basicInfo.telPhone" ng-pattern="/[0-9]+/" ui-mask="(999) 999-9999"  required />-->
                                <input class="input-shadow-border" numbers-only type="text" name="telPhone" ng-model="basicInfo.telPhone" ng-pattern="/[0-9]+/" maxlength="{{phoneLength}}"  required />
                                <div ng-hide="basicInfo.telPhone.length > phoneLength">
                                    <span class="information">Digits left: {{phoneLength - basicInfo.telPhone.length}}</span>
                                </div>
                                <div  ng-show="basicInfo.telPhone.length > phoneLength">
                                    <span>Digits left: </span>
                                    <span class="information" >
                                        {{phoneLength - basicInfo.telPhone.length}}
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <!-- Email -->
                                <label>Email</label>
                                <input type="email" name="email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
                                       ng-model="webInfo.email" required />
                                <span class="error" ng-show="basicInfoForm.email.$error.email || basicInfoForm.email.$error.pattern">Invalid email!</span>
                            </fieldset>
                            <fieldset>
                                <!-- Web Site -->
                                <label>Website</label>
                                <input class="input-shadow-border" type="text" name="website" ng-model="webInfo.webSite"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" required />
                                <br/>
                                <span class="error" ng-show="basicInfoForm.website.$error.pattern">Invalid url!</span>
                            </fieldset>
                            <fieldset>
                                <label>Twitter</label>
                                <input class="input-shadow-border" type="text" name="twitter" ng-model="webInfo.twitter"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="basicInfoForm.twitter.$error.pattern">Invalid url!</span>
                            </fieldset>
                            <fieldset>
                                <label>Facebook</label>
                                <input class="input-shadow-border" type="text" name="facebook" ng-model="webInfo.facebook"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="basicInfoForm.facebook.$error.pattern">Invalid url!</span>
                            </fieldset>
                            <fieldset>
                                <label>Instagram</label>
                                <input class="input-shadow-border" type="text" name="instagram" ng-model="webInfo.instagram"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="basicInfoForm.instagram.$error.pattern">Invalid url!</span>
                            </fieldset>
                            <fieldset>
                                <label>LinkedIn</label>
                                <input class="input-shadow-border" type="text" name="linkedin" ng-model="webInfo.linkedin"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="basicInfoForm.linkedin.$error.pattern">Invalid url!</span>
                            </fieldset>
                            <fieldset>
                                <label>Pinterest</label>
                                <input class="input-shadow-border" type="text" name="pinterest" ng-model="webInfo.pinterest"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" />
                                <br/>
                                <span class="error" ng-show="basicInfoForm.pinterest.$error.pattern">Invalid url!</span>
                            </fieldset>
                            <!--<div class="google-map-wrapper">-->
                                <!--<md-checkbox aria-label="Show Map" ng-model="webInfo.showMap">-->
                                    <!--Show the map on the app-->
                                <!--</md-checkbox>-->
                                <!--<div class="google-map-container">-->
                                    <!--<ui-gmap-google-map  center="map.center" zoom="map.zoom" draggable="true" events="map.events">-->
                                        <!--<ui-gmap-marker ng-repeat="mp in map.markers" coords="mp.coords" icon="mp.icon" idkey="mp.id"></ui-gmap-marker>-->
                                    <!--</ui-gmap-google-map>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<fieldset>-->
                                <!--{{map.markers[0].coords.latitude}}-->
                                <!--<br />-->
                                <!--{{map.markers[0].coords.longitude}}-->
                            <!--</fieldset>-->
                            <div class="md-dialog-buttons">
                                <div class="inner-section">
                                    <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                    <md-button class="me-default-button" ng-click="addContactUs(basicInfo,webInfo,googleMap,0)">save</md-button>
                                    <md-button class="me-default-button" ng-click="addContactUs(basicInfo,webInfo,googleMap,1)">next</md-button>
                                </div>
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="contactUsTabs.policiesInfo">
                <md-tab-label>policies</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>policies</h1>
                    </div>
                    <div class="md-dialog-main">
                        <form name="policies" class="clearfix" novalidate>
                            <!--<fieldset>-->
                                <!--<label>return policy</label>-->
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                                <!--<textarea maxlength="200" class="input-shadow-border" name="returnPolicy" rows="2" ng-model="storeSettings.returnPolicy"></textarea>-->
                                <!--<br />-->
                                <!--<div ng-hide="storeSettings.returnPolicy.length > maxReturnPolicy">-->
                                    <!--<span class="information">Characters left: {{maxReturnPolicy - storeSettings.returnPolicy.length}}</span>-->
                                <!--</div>-->
                                <!--<div  ng-show="storeSettings.returnPolicy.length > maxReturnPolicy">-->
                                    <!--<span>Characters left: </span> <span class="information"> {{maxReturnPolicy - storeSettings.returnPolicy.length}} </span>-->
                                <!--</div>-->
                            <!--</fieldset>-->
                            <fieldset class="no-margin">
                                <label>terms and conditions</label>
                                <md-input-container class="md-block no-margin">
                                    <textarea  class="input-shadow-border" name="termsAndCondition" rows="4" ng-model="storeSettings.termsAndCondition"></textarea>
                                </md-input-container>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                                <!--<br />-->
                                <!--<div ng-hide="storeSettings.termsAndCondition.length > maxTermsAndCondition">-->
                                    <!--<span class="information">Characters left: {{maxTermsAndCondition - storeSettings.termsAndCondition.length}}</span>-->
                                <!--</div>-->
                                <!--<div  ng-show="storeSettings.termsAndCondition.length > maxTermsAndCondition">-->
                                    <!--<span>Characters left: </span> <span class="information"> {{maxTermsAndCondition - storeSettings.termsAndCondition.length}} </span>-->
                                <!--</div>-->
                            </fieldset>
                            <fieldset class="no-margin">
                                <label>privacy policy</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                                <md-input-container class="md-block no-margin">
                                     <textarea  class="input-shadow-border" name="privacyPolicy" rows="4"  ng-model="storeSettings.privacyPolicy"></textarea>
                                </md-input-container>
                                <!--<br />-->
                                <!--<div ng-hide="storeSettings.privacyPolicy.length > maxPrivacyPolicy">-->
                                    <!--<span class="information">Characters left: {{maxPrivacyPolicy - storeSettings.privacyPolicy.length}}</span>-->
                                <!--</div>-->
                                <!--<div  ng-show="storeSettings.privacyPolicy.length > maxPrivacyPolicy">-->
                                    <!--<span>Characters left: </span> <span class="information"> {{maxPrivacyPolicy - storeSettings.privacyPolicy.length}} </span>-->
                                <!--</div>-->
                            </fieldset>
                        </form>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                            <md-button class="me-default-button" ng-click="savePolicies(storeSettings,1)">save</md-button>
                            <md-button class="me-default-button" ng-click="savePolicies(storeSettings,2)">next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="contactUsTabs.aboutUsInfo">
                <md-tab-label>About Us</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>About Us</h1>
                    </div>
                    <div class="md-dialog-main">
                        <form name="aboutUs" novalidate>
                            <fieldset>
                                <label>Heading</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                                <input maxlength="20" class="input-shadow-border" type="text" name="header" ng-pattern="/^[a-zA-Z0-9_ ]*$/"
                                       ng-model="storeSettings.header" required  />
                                <br />
                                <span ng-show="aboutUs.header.$error.pattern">No symbols</span>
                                <div ng-hide="storeSettings.header.length > maxAboutUsHeader">
                                    <span class="information">Characters left: {{maxAboutUsHeader - storeSettings.header.length}}</span>
                                </div>
                                <div  ng-show="storeSettings.header.length > maxAboutUsHeader">
                                    <span>Characters left: </span>
                                    <span class="information"> {{maxAboutUsHeader - storeSettings.header.length}} </span>
                                </div>
                            </fieldset>
                            <fieldset class="no-margin">
                                <label>Content</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <md-input-container class="md-block no-margin">
                                    <textarea  class="input-shadow-border" rows="4" name="content" ng-model="storeSettings.content"></textarea>
                                </md-input-container>
                                <!--<br />-->
                                <!--<div ng-hide="storeSettings.content.length > maxAboutUsContent">-->
                                    <!--<span class="information">Characters left: {{maxAboutUsContent - storeSettings.content.length}}</span>-->
                                <!--</div>-->
                                <!--<div  ng-show="storeSettings.content.length > maxAboutUsContent">-->
                                    <!--<span>Characters left: </span>-->
                                    <!--<span class="information"> {{maxAboutUsContent - storeSettings.content.length}} </span>-->
                                <!--</div>-->
                            </fieldset>
                        </form>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <fieldset class="text-right reset-margin">
                                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                                <md-button class="me-default-button" ng-click="addAboutUs(storeSettings,2)">save</md-button>
                                <md-button class="me-default-button" ng-click="addAboutUs(storeSettings)">Finish</md-button>
                            </fieldset>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

            <!--<md-tab>
                <md-tab-label>Opening Hours</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Opening Hours</h1>
                    </div>
                    <form name="openingHours" novalidate>
                    &lt;!&ndash; Input Table as Open Hours  &ndash;&gt;
                    <div class="md-dialog-main">
                        <table class="me-hours-table">
                            <thead>
                            <tr>
                                <th>Days</th>
                                <th>Hours</th>
                                <th>Minutes</th>
                                <th>&nbsp;</th>
                                <th>Hours</th>
                                <th>Minutes</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Week Days
                                </td>
                                <td>
                                    <input type="number" name="weekDayHours" min="0" max="12" step="1" ng-model="openHours.weekDaysOpenHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                    <span ng-show="openingHours.weekDayHours.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.weekDayHours.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    <input type="number" name="weekDaysOpenMinute" min="00" max="55" step="5" ng-model="openHours.weekDaysOpenMinute" ng-pattern="/^[0-5][0-9]$/" ng-required />
                                    <span ng-show="openingHours.weekDaysOpenMinute.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.weekDaysOpenMinute.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    AM
                                </td>
                                <td>
                                    <input type="number" name="weekDaysCloseHour" min="0" max="12" step="1" ng-model="openHours.weekDaysCloseHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                    <span ng-show="openingHours.weekDaysCloseHour.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.weekDaysCloseHour.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    <input type="number" name="weekDaysCloseMinute" min="00" max="55" step="5" ng-model="openHours.weekDaysCloseMinute" ng-pattern="/^[0-5][0-9]$/" ng-required />
                                    <span ng-show="openingHours.weekDaysCloseMinute.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.weekDaysCloseMinute.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    PM
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Saturday
                                </td>
                                <td>
                                    <input type="number" name="saturdayOpenHour" min="0" max="12" step="1" ng-model="openHours.saturdayOpenHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                    <span ng-show="openingHours.saturdayOpenHour.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.saturdayOpenHour.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    <input type="number" name="saturdayOpenMinute" min="00" max="55" step="5" ng-model="openHours.saturdayOpenMinute" ng-pattern="/^[0-5][0-9]$/" ng-required />
                                    <span ng-show="openingHours.saturdayOpenMinute.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.saturdayOpenMinute.$error.number">Please enter a number!</span>
                                </td>
                                <td>AM</td>
                                <td>
                                    <input type="number" name="saturdayCloseHour" min="0" max="12" step="1" ng-model="openHours.saturdayCloseHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                    <span ng-show="openingHours.saturdayCloseHour.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.saturdayCloseHour.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    <input type="number" name="saturdayCloseMinute" min="00" max="55" step="5" ng-model="openHours.saturdayCloseMinute" ng-pattern="/^[0-5][0-9]$/" ng-required />
                                    <span ng-show="openingHours.saturdayCloseMinute.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.saturdayCloseMinute.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    PM
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sunday
                                </td>
                                <td>
                                    <input type="number" name="sundayOpenHour" min="0" max="12" step="1" ng-model="openHours.sundayOpenHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                    <span ng-show="openingHours.sundayOpenHour.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.sundayOpenHour.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    <input type="number" name="sundayOpenMinute" min="00" max="55" step="5" ng-model="openHours.sundayOpenMinute" ng-pattern="/^[0-5][0-9]$/" ng-required />
                                    <span ng-show="openingHours.sundayOpenMinute.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.sundayOpenMinute.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    AM
                                </td>
                                <td>
                                    <input type="number" name="sundayCloseHour" min="0" max="12" step="1" ng-model="openHours.sundayCloseHour" ng-pattern="/^([0-9]|0[0-9]|1[0-2]|0?[1-9])$/" ng-required />
                                    <span ng-show="openingHours.sundayCloseHour.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.sundayCloseHour.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    <input type="number" name="sundayCloseMinute" min="00" max="55" step="5" ng-model="openHours.sundayCloseMinute" ng-pattern="/^[0-5][0-9]$/" ng-required />
                                    <span ng-show="openingHours.sundayCloseMinute.$error.pattern">Invalid number!</span>
                                    <span ng-show="openingHours.sundayCloseMinute.$error.number">Please enter a number!</span>
                                </td>
                                <td>
                                    PM
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                        </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                            <md-button class="me-default-button" ng-click="addOpenHoursInfo(openHours)">Finish</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>-->
        </md-tabs>
    </md-dialog-content>

    <!--
    <div class="dialog-controls clearfix">
        <button class="md-button" ng-click="answer('cancel')">Cancel</button>
        <button class="md-button" ng-disabled="!contantUsForm.$valid" ng-click="answer()">Ok</button>
    </div>
    -->
</md-dialog>
