 
<app-carousel
   [slides]="slides">   
</app-carousel>

 <div class="container">       
   	<div class="row">
    	<div class="col-md-9">
				<div>
					<table class="table table-bordered table-responsive" cellspacing="0">
						<thead>
							<tr>
								<td width="80px">&nbsp;</td>
								<td><span>Product</span></td>
								<td><span>Price</span></td>
								<td width="15%"><span>Quantity</span></td>
								<td><span>Total</span></td>
								<td><span>remove</span></td>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let c of cartItems let i = index" >
								<td >
									<a>
		                                <img width="80" height="80" src="{{imageUrl}}/{{c.imgURL[0].img}}"><br>
		                            </a>						
		                        </td>
								<td data-title="Product" >
									<div>
										<a [(ngModel)] = "c.name" ngDefaultControl>{{c.name}}</a>							
									</div>
								</td>
								<td data-title="Price" >
							
										<a >${{sign}}{{c.price}}</a>
									
								</td>
								<td data-title="Quantity">
									<div data-trigger="spinner">
										<input type="number" min="1" [(ngModel)]="c.qty"  value="{{c.qty}}" title="Qty"  (change)="buttonDisable(c.qty,c.totalQty ,cartItems.indexOf(c))" ngDefaultControl>		
									</div>
								</td>
								<td data-title="Total">
										<a [(ngModel)] = "c.total" ngDefaultControl>${{sign}}{{c.total * c.qty}}</a>
										
								</td>
								<td>
									<a (click)="removeItem(index)" class="btn btn-remove" title="Remove this item" >
										<i class="fa fa-trash fa-lg"></i>
									</a>					
								</td>
							</tr>
							<tr>
								<td colspan="5" class="text-left">
										<input type="text" placeholder="Coupon code" class="form-control w-50 d-inline align-middle">
										<input type="submit" name="apply_coupon" value="Apply Coupon"  class="btn btn-primary">
								</td>
								<td colspan="1" class="text-right">
									<input type="submit" name="update_cart" value="Update Cart" class="btn btn-primary">
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			<div class="w-50 pull-right clearfix">
				<h5>Cart Total</h5>
				<table cellspacing="0" class="table table-responsive table-bordered" >
					<tbody>
						<tr >
							<th width="82%">Subtotal</th>
							<td data-title="Subtotal">
								<span class="d-inline">£</span>
								<span class="d-inline">875.00</span>
							</td>
						</tr>
						<tr >
							<th>Total</th>
							<td data-title="Total">
								<strong>
									<a [(ngModel)]="total" ngDefaultControl>${{sign}}{{getTotal()}}</a>
								</strong> 
							</td>
						</tr>
					</tbody>
				</table>
				<div>
						<!-- [disabled]='cartItems.length<=0' -->
					<button  class="btn btn-secondary bg-inverse text-white btn-block" (click)="delivery()">
						Delivery
					</button>
					<button class="btn btn-secondary bg-inverse text-white btn-block" (click)='pickupDetails()'>
						pickup
					</button>
				</div>
			</div>
       </div>
              
        <div class="col-md-3">
        	<h5 class="text-uppercase my-3">Categories</h5>
	        <ngb-accordion  [closeOthers]="true" #acc="ngbAccordion" activeIds="">
			  <ngb-panel>
			    <ng-template ngbPanelTitle >
			      <span><i class="fa fa-caret-right pr-3  control-2"></i><i class="fa fa-caret-down pr-3 control-1" ></i> Clothing</span>
			    </ng-template>
			    <ng-template ngbPanelContent>
			   		<ul>
			   			<li>Jackets</li>
			   			<li>Shorts</li>
			   			<li>Pants</li>
			   			<li>Shirts</li>
			   			<li>Sweatshirts</li>
			   		</ul>
			    </ng-template>
			  </ngb-panel>
			  <ngb-panel>
			    <ng-template ngbPanelTitle>
			      <span><i class="fa fa-caret-right pr-3 control-2"></i><i class="fa fa-caret-down pr-3 control-1"></i> Shoes</span>
			    </ng-template>
			    <ng-template ngbPanelContent>
			   		<ul>
			   			<li>Jackets</li>
			   			<li>Shorts</li>
			   			<li>Pants</li>
			   			<li>Shirts</li>
			   			<li>Sweatshirts</li>
			   		</ul>
			    </ng-template>
			  </ngb-panel>
			  
			</ngb-accordion>
        </div>
    </div>
</div>



  <app-newsletter></app-newsletter>

  <hr class="featurette-divider">