<app-carousel
  [slides]="slides">
</app-carousel>


<div class="container">
  <form #f="ngForm" (ngSubmit)="login(f.value)" novalidate>
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control form-control-lg" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" id="username" placeholder="you@example.com"  name="userEmail" userEmail='ngModel' #userEmail="ngModel" ngModel required >
        <div [hidden]="userEmail.valid || userEmail.pristine" class="alert alert-danger">
          <div [hidden]="!userEmail.hasError('required')">Email id is required</div>
          <div [hidden]="!userEmail.hasError('pattern')">Invalid Email</div>
        </div>
      </div>

    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control form-control-lg" id="password"  name="password" password='ngModel' #password="ngModel" ngModel required>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          <div [hidden]="!password.hasError('required')">Password id is required</div>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-sm-6">
       <button [disabled]="loading" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </div>
    <div class="col-sm-6">
       <button [disabled]="loading" (click) = 'register()' class="btn btn-secondary btn-lg btn-block" (click)="register()">Register</button>
    </div>
  </div>
</form>
</div>

<hr class="featurette-divider">
