<ion-view class="made-easy-background-color" view-title="Policies">
  <ion-content >
    <div class="card animated zoomIn">
        <div >

            <div ng-if="privacyPolicy" class="col made-easy-header-font">Privacy Policy</div>
            <div ng-if="privacyPolicy" class="col made-easy-content-font padding text-center" ng-bind-html="privacyPolicy"></div>
             <br>
            <div ng-if="returnPolicy" class="col made-easy-header-font">Return Policy</div>
            <div ng-if="returnPolicy" class="col made-easy-content-font padding text-center" ng-bind-html="returnPolicy"></div>

        </div>
    </div>
  </ion-content>
</ion-view>
