<app-carousel
   [slides]="slides">
</app-carousel>
<!--<div class="categories text-uppercase text-center m-4">-->
  <!--<span class="px-5">Men</span>-->
  <!--<span class="px-5">Women</span>-->
  <!--<span class="px-5">Accessories</span>-->
  <!--<span class="px-5">Gadgets</span>-->
<!--</div>-->
<div class="container">
	<!--<section class="filter">-->
		<!--<div class="clearfix">-->
			<!--<div class="pull-left">-->
			  <!--<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >-->
			    <!--<span class="badge">3</span><i class="icon fa fa-bars"></i> Filters-->
			  <!--</button>-->
			<!--</div>-->

	        <!--<div class="pull-right">-->
	         <!--<div class="pull-left">-->
	          <!--<span class="text-uppercase font-weight-bold pull-left p-3  mr-5">Sort by:</span>-->
		          <!--<div class="dropdown pull-right m-2  mr-5">-->
					    <!--<div ngbDropdown class="d-inline-block">-->
					      <!--<button class="btn btn-secondary" id="dropdownSortBy" ngbDropdownToggle>Select</button>-->
					      <!--<div class="dropdown-menu" aria-labelledby="dropdownSortBy">-->
					        <!--<button class="dropdown-item">Popularity 1</button>-->
					        <!--<button class="dropdown-item">Popularity 2</button>-->
					        <!--<button class="dropdown-item">Popularity 3</button>-->
					      <!--</div>-->
					    <!--</div>-->
				 <!--</div>-->
			  <!--</div>-->
			  <!--<div class="pull-right view">-->
	         	<!--<i class="fa fa-th"></i>-->
	         	<!--<i class="fa fa-list"></i>-->
	           <!--</div>-->
	         <!--</div>-->

		<!--</div>-->
		<!--<div class="collapse " id="collapseExample">-->
		  <!--<div class="card card-block">-->
          <!--<div class="row">-->
            <!--<div class="col-md-3">-->
              <!--<section>-->
                 <!--<h6 class="text-uppercase font-weight-bold">Price</h6>-->
                <!--<div>-->

                    <!--<nouislider [connect]="true" [min]="0" [max]="5000" [step]="1" [(ngModel)]="someRange" (ngModelChange)="onChange($event)"></nouislider>-->
                <!--</div>-->
                 <!--&lt;!&ndash; end .nouislider-price &ndash;&gt;-->
              <!--</section>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
              <!--<section>-->
                <!--<h6 class="text-uppercase font-weight-bold">Categories</h6>-->
                   <!--<div ngbDropdown class="d-inline-block">-->
                    <!--<button class="btn btn-secondary" id="dropdownCategories" ngbDropdownToggle>Select</button>-->
                    <!--<div class="dropdown-menu" aria-labelledby="dropdownCategories">-->
                      <!--<button class="dropdown-item">T-Shirts</button>-->
                      <!--<button class="dropdown-item">Categories 2</button>-->
                      <!--<button class="dropdown-item">Categories 3</button>-->
                    <!--</div>-->
                  <!--</div>-->
              <!--</section>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
              <!--<section>-->
                <!--<h6 class="text-uppercase font-weight-bold">Color</h6>-->
                  <!--<div ngbDropdown class="d-inline-block">-->
                    <!--<button class="btn btn-secondary" id="dropdownColor" ngbDropdownToggle>Select</button>-->
                    <!--<div class="dropdown-menu" aria-labelledby="dropdownColor">-->
                      <!--<button class="dropdown-item">All colors</button>-->
                      <!--<button class="dropdown-item">Color 1</button>-->
                      <!--<button class="dropdown-item">Color 2</button>-->
                    <!--</div>-->
                  <!--</div>-->
              <!--</section>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
              <!--<section>-->
                <!--<h6 class="text-uppercase font-weight-bold">Brand</h6>-->
                 <!--<div ngbDropdown class="d-inline-block">-->
                    <!--<button class="btn btn-secondary" id="dropdownBrand" ngbDropdownToggle>Select</button>-->
                    <!--<div class="dropdown-menu" aria-labelledby="dropdownBrand">-->
                      <!--<button class="dropdown-item">Tom Tailor</button>-->
                      <!--<button class="dropdown-item">Brand 1</button>-->
                      <!--<button class="dropdown-item">Brand 2</button>-->
                    <!--</div>-->
                  <!--</div>-->
              <!--</section>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-md-12 mt-3">-->
              <!--<div class="pull-left p-2">Showing 1 to 10 of 243 products</div>-->
              <!--<button type="reset" class="btn btn-secondary pull-right"><i class="icon fa fa-refresh"></i> Reset Filters</button>-->
            <!--</div>-->
          <!--</div>-->
		  <!--</div>-->
		<!--</div>-->
	<!--</section>-->

        <div class="my-3">
            <section class="row py-3">
              <div class="col-lg-2 col-md-3 col-xs-6 text-center px-0 m-3" *ngFor="let item of results;">
                <a href="#"> <img src="{{imageUrl}}/{{item.imageUrl}}" width="100%" height="100px" /></a>
                <div class="b-goods__category main-content-font">product</div>
                <h3 class="b-goods__name main-header-font">{{item.name}}</h3>
                <div class="b-goods__price main-content-font">{{currency}}{{item.variants[0].price}}</div>
                <div class="b-goods-links">
                  <a (click)= "navigateProd('product',item)" class="btn main-button">add to cart</a>
                </div>
              </div>
          </section>
          <div class="pull-right clearfix">
            <ngb-pagination  [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
          </div>
       </div>



  <!--<app-newsletter></app-newsletter>-->

  <hr class="featurette-divider">
</div>

