    <md-dialog aria-label="Contact Us">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Basic Information</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Basic Information</h1>
                    </div>
                    <form name="basicInfoForm" novalidate>
                        <div class="md-dialog-main">
                            <!-- Address | Tel Phone | Email | Web Site -->
                            <fieldset>
                                <!-- Address -->
                                <label>Address</label>
                                <input type="text" ng-model="basicInfo.address" required />
                            </fieldset>
                            <fieldset>
                                <!-- Telephone -->
                                <label>Telephone</label>
                                <input type="text" ng-model="basicInfo.telPhone" ng-pattern="/[0-9]+/" ui-mask="(999) 999-9999"  required />
                            </fieldset>
                        </div>
                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                                <md-button class="me-default-button" ng-click="addBasicInfo(1,basicInfo)">Next</md-button>
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>Web Information</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Web Information</h1>
                    </div>
                    <form name="webInfoForm" novalidate>
                        <div class="md-dialog-main">
                            <fieldset>
                                <!-- Email -->
                                <label>Email</label>
                                <input type="email" ng-model="webInfo.email" required />
                            </fieldset>
                            <fieldset>
                                <!-- Web Site -->
                                <label>Website</label>
                                <input type="text"  ng-model="webInfo.webSite" required />
                            </fieldset>
                        </div>
                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                                <md-button class="me-default-button" ng-click="addWebInfo(2,webInfo)">Next</md-button>
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>Google Map</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Google Map</h1>
                    </div>
                    <form name="googleMap" novalidate>
                        <div class="md-dialog-main">
                            <div class="google-map-wrapper">
                                <div class="google-map-container">
                                    <ui-gmap-google-map  center="map.center" zoom="map.zoom" draggable="true" events="map.events">
                                        <ui-gmap-marker ng-repeat="mp in map.markers" coords="mp.coords" icon="mp.icon" idkey="mp.id"></ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </div>
                            </div>
                            <fieldset>
                                {{map.markers[0].coords.latitude}}
                                <br />
                                {{map.markers[0].coords.longitude}}
                            </fieldset>
                        </div>
                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                                <md-button class="me-default-button" ng-click="addGoogleMap(3,googleMap)">Next</md-button>
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>Opening Hours</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Opening Hours</h1>
                    </div>
                    <!-- Input Table as Open Hours  -->
                    <div class="md-dialog-main">
                        <table class="me-hours-table">
                            <thead>
                            <tr>
                                <th>Days</th>
                                <th>Hours</th>
                                <th>Minutes</th>
                                <th>&nbsp;</th>
                                <th>Hours</th>
                                <th>Minutes</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Week Days
                                </td>
                                <td>
                                    <input type="number" min="0" max="12" step="1" ng-model="openHours.weekDaysOpenHour" ng-required />
                                </td>
                                <td>
                                    <input type="number" min="00" max="55" step="5" ng-model="openHours.weekDaysOpenMinute" ng-required />
                                </td>
                                <td>
                                    AM
                                </td>
                                <td>
                                    <input type="number" min="0" max="12" step="1" ng-model="openHours.weekDaysCloseHour" ng-required />
                                </td>
                                <td>
                                    <input type="number" min="00" max="55" step="5" ng-model="openHours.weekDaysCloseMinute"ng-required />
                                </td>
                                <td>
                                    PM
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Saturday
                                </td>
                                <td>
                                    <input type="number" min="0" max="12" step="1" ng-model="openHours.saturdayOpenHour" ng-required />
                                </td>
                                <td>
                                    <input type="number" min="00" max="55" step="5" ng-model="openHours.saturdayOpenMinute" ng-required />
                                </td>
                                <td>AM</td>
                                <td>
                                    <input type="number" min="0" max="12" step="1" ng-model="openHours.saturdayCloseHour" ng-required />
                                </td>
                                <td>
                                    <input type="number" min="00" max="55" step="5" ng-model="openHours.saturdayCloseMinute" ng-required />
                                </td>
                                <td>
                                    PM
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sunday
                                </td>
                                <td>
                                    <input type="number" min="0" max="12" step="1" ng-model="openHours.sundayOpenHour" ng-required />
                                </td>
                                <td>
                                    <input type="number" min="00" max="55" step="5" ng-model="openHours.sundayOpenMinute" ng-required />
                                </td>
                                <td>
                                    AM
                                </td>
                                <td>
                                    <input type="number" min="0" max="12" step="1" ng-model="openHours.sundayCloseHour" ng-required />
                                </td>
                                <td>
                                    <input type="number" min="00" max="55" step="5" ng-model="openHours.sundayCloseMinute" ng-required />
                                </td>
                                <td>
                                    PM
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                            <md-button class="me-default-button" ng-click="addOpenHoursInfo(openHours)">Finish</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <!--
    <div class="dialog-controls clearfix">
        <button class="md-button" ng-click="answer('cancel')">Cancel</button>
        <button class="md-button" ng-disabled="!contantUsForm.$valid" ng-click="answer()">Ok</button>
    </div>
    -->
</md-dialog>
