<md-dialog aria-label="ADD STYLES" style="height: 600px">
    <md-dialog-content ng-style="{'background-color': backgroundColor}" class="styles-dialog-content reset-padding">
        <md-tabs class="my-tabs" md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">

            <md-tab>
                <md-tab-label>Background Image</md-tab-label>
                <md-tab-body>
                    <div class="itemsContainer bg-image">
                        <div class="imageOver2">
                            <div class="buttonContain2">
                                <div class="img-up2" >
                                    <label for="file-input2" class="add-image-label">
                                        <span> Add Image </span>
                                    </label>
                                    <input id="file-input2" type="file"  me-file-read="backgroundImg" />
                                </div>
                            </div>
                        </div>
                        <div class="image2">
                            <img src="{{backgroundImg}}" ng-model="backgroundImg" width="275" height="200" alt="Background Preview"/>
                        </div>
                    </div>
                    <br />
                    <div class="text-right">
                        <button class="me-default-button" ng-click="addBackgroundImage(backgroundImg)">Submit</button>
                    </div>
                </md-tab-body>
            </md-tab>


        </md-tabs>
    </md-dialog-content>

    <div class="dialog-controls clearfix">
        <md-button class="me-default-button" ng-click="hide()">Close</md-button>
    </div>
</md-dialog>

