<md-dialog aria-label="Background Image">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Background Image</md-tab-label>
                <md-tab-body>

                    <div class="md-dialog-header">
                        <h1>Background Image</h1>
                    </div>
                    <div class="md-dialog-main">



                        <!--<div class="md-dialog-main">
                            <div class="itemsContainer bg-image">
                                <div class="imageOver2">
                                    <div class="buttonContain2">
                                        <div class="img-up2" >
                                            <label for="file-input2" class="add-image-label bg-image-upload">
                                                <span> Add Image </span>
                                            </label>
                                            <input id="file-input2" type="file"  me-file-read="backgroundImg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="image2">
                                    <img src="{{backgroundImg}}" ng-model="backgroundImg" width="275" height="200" alt="Background Preview"/>
                                </div>
                            </div>
                        </div>-->





                       <div class="file-upload-wrapper clearfix">

                            <div class="cropArea">
                                <img-crop area-type="square" image="myImage" result-image="picFile"></img-crop>
                            </div>
                           <div class="inputField btn-material img-up">
                               <span>Select Image</span>
                               <div class="img-up1">
                                   <input  type="file" ng-click = "cropImage()" id="fileInput" />
                               </div>
                           </div>
                        </div>

                        <div class="uploaded-section pull-left clearfix">
                            <div class="uploaded-new-image">
                                <br>
                                <img ng-if="picFile == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                     height="150" style="display:none" />
                                <img ng-if="picFile != null" ngf-src="picFile" width="150" height="150" style="display:none" />
                            </div>
                        </div>


                        </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="hide()">Close</md-button>
                            <button class="me-default-button" ng-click="addBackgroundImage(picFile)">Submit</button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>

