<div class="page-container">

	<!-- bloc-2 -->
	<div class="bloc bgc-white full-width-bloc l-bloc" id="bloc-2" *ngIf="isSliderDataAvailable == true && prevCategories == false">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-12">
	        <div id="carousel-1" class="carousel no-shadows slide" data-ride="carousel">
	          <div class="carousel-inner" role="listbox">
	            <div class="item active">
	              <img  src="{{imageUrlSlider}}/{{sliderData[0].imageUrl}}" (click)="navigateSliderProd('product',sliderData[0])"  />

	            </div>
	            <div class="item"  *ngFor="let slider of sliderData | slice:1;let i = index">
	              <img src="{{imageUrlSlider}}/{{slider.imageUrl}}" (click)="navigateSliderProd('product',sliderData[i+1])" />

	            </div>
	          </div>
            <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
              <span class="fa fa-chevron-left"></span><span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
              <span class="fa fa-chevron-right"></span><span class="sr-only">Next</span>
            </a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- bloc-2 END -->
	<img class="hidden-xs hidden-sm"  *ngIf="prevCategories" src="{{imageUrl}}/{{currentCategoryImage}}" width="100%" alt="banner"/>


	<app-categories [categories]="categories" [products]="products"></app-categories>

	<!-- bloc-8 -->
	<div class="bloc b-parallax bgc-white l-bloc" id="bloc-8" *ngIf="header && prevCategories == false" >
	  <div class="container bloc-lg">
	    <div class="row">
	      <div class="col-sm-12">
	        <h2 class="text-center header main-header-font">
	          {{header}}
	        </h2>
	        <div class="row">
	          <div class="col-sm-12 main-content-font">
	            <p class="text-center" [innerHTML]="content"></p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- bloc-8 END -->

</div>
<!-- bloc-2 END -->
