section{
    padding-top: 50px;
    padding-bottom: 50px;
}


h2{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

p{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px dotted #b3b3b3;
}

i, li{
	display: inline-block;
	font-size:14px;
    margin-top: 2px;
    margin-bottom: 18px;
    padding-right: 19px;
    font-size: 12px;
    font-weight: 600;
    color: #2a2d32;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@media (max-width: 767px){
	.col-md-8 div{
	    margin-bottom: 20px;
	}
	li, i{
		margin-bottom: 0;
		padding-left: 0;
	}

}