<div class="bloc bgc-white l-bloc none">
  <div class="col-sm-9">
    <div class="row" *ngFor = "let blog of blogData">
      <div class="col-sm-3">

        <img src="{{imageUrl}}/{{blog.imageUrl}}" width="100%">
      </div>
      <div class="col-sm-9">
        <h3 class="header main-header-font">
            {{blog.title}}
        </h3>
<hr>
        <p class="mg-lg blog-content-text" [innerHTML]="blog.shortDesc">
        </p>
        <a class="btn btn-d main-button btn-block btn-lg" (click)="navigate(blog.id)">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    </div>
</div>
