/deep/ .text-editor img{
  width:100%;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 6%;
}
.bgc-white {
    background-color: #ffffff;
}
.voffset {
    margin-top: 30px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
    margin-bottom: 10px
}
.blog-heading {
    font-weight: bold;
}
.mg-sm {
    margin-top: 10px;
    margin-bottom: 5px;
}
.blog-content-text {
    font-family: "Josefin Sans";
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 160px;
    overflow-x: scroll;
}
.main-button {
    background-color: transparent !important;
    border-color: #424242 !important;
    color: rgba(0,0,0,0.6) !important;
    border-radius: 0px;
    border-width: 2px !important;
    border: solid;
    font-family: "Josefin Sans";
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 12px;
    width: 120px;
}
.col-sm-5{
    margin-right: 2%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img{
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1285px){
  img{
    width: 150px;
    height:150px;
  }
}
@media (max-width: 960px){
  .bloc{
    padding:16px;
  }
  img{
    width: 125px;
    height:125px;
  }
}

@media (max-width: 767px){

  img{
    width: 100%;
    object-fit: unset;
    height: 100%;
  }
}
