<ion-view class="im-wrapper login made-easy-background-image made-easy-background-color">
	
	<ion-content >
		<div class="col">
			<h1>Login.</h1>
		</div>
			<form name="loginForm" novalidate>
				<div class="card">
						<div class="list">
							<label class="item item-input item-floating-label">
								<span class="input-label">Email</span>
								<input type="text" placeholder="Email"  ng-model="data.username" ng-required="true">
							</label>
							<label class="item item-input item-floating-label">
								<span class="input-label">Password</span>
								<input type="password" placeholder="Password" ng-model="data.password" ng-required="true">
							</label>

							<label class="item">
								<button class="button button-small button-block button-raised  made-easy-button-setting" ng-click="loginForm.$valid && login()" ng-disabled="loginForm.$invalid">Login</button>
							</label>

						</div>
				</div>
			</form>

			<div class="col center">
				<div>Don't Have an Account?</div>
				<br>
				<button class="button button-small made-easy-button-setting" ui-sref="app.register">Register</button>
			</div>
	</ion-content>
</ion-view>