
#carousel-custom {
    height: 100%;
}
#carousel-custom .carousel-indicators {
    margin: 0;
    overflow-y: hidden;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height:auto;
    margin: 0 auto !important;
    max-width: 100%;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    height: 100px;
    width: 100px;
} #carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}

.name-sale{
    position: absolute;
    top: 5px;
    right: 0;
}

.name-price-old, .name-price-old{
    display: inline-block;
}

.name-label{
    display: inline-block;
}

.quantity input{
    width: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #1c1f23;
    border: none;
    text-align: center;
}
.quantity{
    border: 1px solid #eaeaeb;
    position: relative;
    top: 3px;
}
.quantity span{
    width: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #a8aaab;
    cursor: pointer;
}

.list-inline i,.list-inline li{
    display: inline-block;
    font-size:14px;
    margin-top: 2px;
    margin-bottom: 18px;
    padding-right: 10px;
    font-size: 14px
    font-weight: 600;
    color: #a8aaab;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

footer .fa-random,footer .fa-heart-o{
    color:#b67c5a;
    padding:0 0 0 20px;
}

@media (max-width: 767px){
    .list-inlineli, .list-inlinei{
        margin-bottom: 0;
        padding-left: 0;
    }

}
@media (max-width: 1200px){
    #carousel-custom .carousel-indicators {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
    }
}
@media (max-width: 400px){
    #carousel-custom .carousel-indicators li img {
        width: 80px;
        height: 80px;
    }
    .carousel-item{
        width: 350px;
        height: 350px;
        margin: auto;
    }
}