/* Empty. Add your own CSS if you like */


/*overall app*/
.scroll{
	height: 100%;
}


.item-select select{
    background:transparent;
}

a {
    text-decoration: none;
}
.categories .no-padding {
    padding: 0px !important;
    position:relative;
}


/*categories Page*/

.no-padding {
    padding: 0px !important;
}

.h7{
    position: absolute;
    top: 3%;
    padding: 5px;
}
/* foods page */

.foods .row+.row {
    margin:0px;
}

.catagories_text{
	line-height: 20px;
	letter-spacing: 3px;
	margin-bottom: 20px;
    padding: 0 2px;
}

.button-main{
	background: #000000;
	border-radius: 30px;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0.01px;
	height: 60px;
	padding: 8px
}



/* food page */

.food .item{
	border-right: 0;
}

.food input{
	background: transparent;
	font-size: inherit;
    color: inherit;
    font-weight: inherit;
    border-bottom: 1px solid;
    width: 100%;
}

.food .input-label{
	width: 100%;
}

.food .h8{
    position: absolute;
    width: 50%;
    top: 5%;
    padding: 5%;
}

.mods2_card{

  overflow: hidden;
    margin: 20px 10px;
    border-radius: 10px !important;
    background-color: #fff;
    box-shadow:none !important;

}

/*home page and menu*/

.login .card{
	background-color: rgba(255,255,255,0.8)
}

.made-easy-navigationBarColor .cartSize {
    color: #fff !Important;
    background-color: grey !Important;
    padding: 1px 5px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    top: -6px;
}

.cart i{
	display: block;
	position: absolute;
	right: 20px;
}

.variants i{
	display: none;
}

select{
	background: #fff0 !important;
}

/*checkout page*/
.shopping-cart-total{
    font-weight: 800;
    border: 1px #ccc solid;
}


/*payment page*/

.payment .cards-list img{
    opacity:0.4;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.payment .cards-list .selected img{
    opacity:1
}

.payment .cards-list i {
    display:none;
}

.payment .card-form label {
    padding: 16px;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}

/*helper classes*/

.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}

/* Remove controls from Firefox , Chrome, safari*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.item-error-message {
    font-size: 70%;
    color: red;
}