
ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;
}

/** ----------- Start Custom update Css Class ---------- **/

/* ----- Background Settings ----- */
.made-easy-background-color {
    background-color: #fff !important;
}

.made-easy-background-image{
	background: null;
    background-size: cover;
}
/* ----- Main Navigation Settings ----- */


.made-easy-navigationBarColor{
    background-color: #fff !important;
    color:#444;
    border: 0;
    box-shadow: none;
}

.made-easy-navigationBarColor .bar .button.button-clear{
    color:inherit;
}

.made-easy-navigationBarColor .item {
    border-style:unset;
}


.made-easy-navigationBarColor .list{
    margin-top:10%;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: 0;
    color:inherit;
    padding:6px;
}
/* ----- Footer Settings ----- */
.made-easy-footerColor{
    background-color: #4e6dde;
}
.made-easy-footer-font{
    color:#4e6dde;
    font-family: Ubuntu Light;
    font-size: 12px;
    font-weight: bolder;
}
/* ----- Header Font Settings ----- */
.made-easy-header-font{
    font-size:3vh;
    color: #000;
    font-family: sans-serif;
    font-weight: bolder;
    line-height:normal;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 10px;
    margin: 5px;
}

/* ----- Content Font Settings ----- */
.made-easy-content-font{
    font-size: 14px;
    color: #757575;
    font-family: sans-serif;
    font-weight: lighter;
    line-height:normal;
}

/* ----- Button Font Settings ----- */
.made-easy-button-setting {
    border-color: #444 !important;
    background-color: #ffffff;
    color: #444;
    border-width: 3px !important;
    border-radius: 20px;
    cursor: url(../img/cursor.cur), auto;
    border: solid;
}

/* ----- View Page ----- */

.made-easy-view .item-buy{
    width: 90%;
    border: unset;
    border-bottom: 1px solid #ccc;
}
.made-easy-view .item-error-message{
    color: red;
    font-size: 70%;
}

/** ----------- End Custom update Css Class ---------- **/