<md-dialog aria-label="About Us">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="selectedTab" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Policies</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Policies</h1>
                    </div>
                    <div class="md-dialog-main">
                        <fieldset>
                            <label>Heading</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12" />
                            <input type="text" name="username" ng-model="policies.header" required  />
                        </fieldset>
                        <fieldset>
                            <label>Content</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <!--<trix-editor angular-trix rows="4" ng-model="policies.content"></trix-editor>-->
                            <text-angular rows="4" ng-model="policies.content" required></text-angular>

                        </fieldset>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <fieldset class="text-right reset-margin">
                                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                                <md-button class="me-default-button" ng-click="addPolicies(policies)">add</md-button>
                            </fieldset>
                        </div>
                    </div>
                </md-tab-body>
                </md-tab>

            <md-tab>
                <md-tab-label>About Us</md-tab-label>
                <md-tab-body>
                        <div class="md-dialog-header">
                            <h1>About Us</h1>
                        </div>
                        <div class="md-dialog-main">
                            <fieldset>
                                <label>Heading</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input type="text" name="username" ng-model="about.header" required  />
                            </fieldset>
                            <fieldset>
                                <label>Content</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <textarea  ng-model="about.content"></textarea>
                            </fieldset>
                        </div>
                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <fieldset class="text-right reset-margin">
                                    <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                                    <md-button class="me-default-button" ng-click="addAboutUs(about)">add</md-button>
                                </fieldset>
                            </div>
                        </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>
