.account{
  max-width: 800px;
  margin: 3% auto 2% auto;
}
.container{
  min-height:calc(100vh - 463px);
}
.edit-header{
  display: block;
 }
@media (max-width: 767px) {
  .edit-header{
   display: none;
  }
}
.h-40{
  height: initial;
}
@media (max-width: 480px) {
  .h-40-s {
    height: 40px;
  }
}
@media (max-width: 381px) {
  .h-40-p {
    height: 40px;
  }
}
.under-app-header {
  margin: 30px 0 0 0;
}
