<div class="bloc bgc-white l-bloc" id="bloc-15">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="padding">
          <form [formGroup]="userEditForm" class=" main-content-font">

            <h2 class="mg-md about-us">
              Edit My Details
            </h2>
            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                First Name
              </label>
              <input id=fname class="form-control" type="text" placeholder="Arstina" [formControl]="userEditForm.controls['fName']" required>
              <div *ngIf="userEditForm.controls['fName'].hasError('required')
              && userEditForm.controls['fName'].touched" class="alert alert-danger">
                You must include a First name.
              </div>
              <div *ngIf="!userEditForm.controls['fName'].valid" class="alert alert-danger">
                First Name must only include Alphabetic character and no spaces.
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                Last Name
              </label>
              <input class="form-control" type="text" placeholder="kale" [formControl]="userEditForm.controls['lName']">
              <div *ngIf="userEditForm.controls['lName'].hasError('required')
                && userEditForm.controls['lName'].touched" class="alert alert-danger">
                You must include a Last name.
              </div>
              <div *ngIf="!userEditForm.controls['lName'].valid" class="alert alert-danger">
                Last Name must only include Alphabetic character and no spaces.
              </div>
            </div>

            <!-- ***************************   Email    **************************** -->

            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                Old Email
              </label>
              <input class="form-control" width="50%" [readonly]="true" type="text" placeholder="you@example.com" [formControl]="userEditForm.controls['email']">
              <label for="username" class="sub-header-text-h2">
                New Email
              </label>
              <input class="form-control" width="50%" type="text" placeholder="Enter New Email" [formControl]="userEditForm.controls['emailRe']">
              <div *ngIf=" userEditForm.controls['emailRe'].touched && userEditForm.controls['emailRe'].dirty && userEditForm.controls['emailRe'].invalid && userEditForm.controls['emailRe'].value != ''"
                class="alert alert-danger">
                invalid Email!
              </div>
              <div *ngIf="isEmailDuplicate" class="alert alert-danger animated fadeIn">
                This email already exists!
              </div>
            </div>

            <!-- ***************************   Phone    **************************** -->

            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                Phone
              </label>
              <input class="form-control" type="text" placeholder="+94712345678" maxlength="16" [formControl]="userEditForm.controls['phone']">
              <div *ngIf="userEditForm.controls['phone'].hasError('required')
              && userEditForm.controls['phone'].touched" class="alert alert-danger">
                You must include a Phone Number.
              </div>
              <!--<div *ngIf="!userEditForm.controls['phone'].valid" class="alert alert-danger">-->
                <!--Enter a valid Phone Number (ex: +94123456789)-->
              <!--</div>-->
            </div>

            <!-- ***************************   Address    **************************** -->

            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                House/Apartment Number
              </label>
              <input class="form-control" type="text" placeholder="#244 A" [formControl]="userEditForm.controls['streetNo']">

              <div *ngIf="userEditForm.controls['streetNo'].hasError('required')
                && userEditForm.controls['streetNo'].touched" class="alert alert-danger">
                You must include Street Number.
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                Street Name
              </label>
              <input class="form-control" type="text" placeholder="Your Road" [formControl]="userEditForm.controls['streetName']">

              <div *ngIf="userEditForm.controls['streetName'].hasError('required') && userEditForm.controls['streetName'].touched" class="alert alert-danger">
                You must include Street Name.
              </div>
              <div *ngIf="!userEditForm.controls['streetName'].valid" class="alert alert-danger">
                Invalid Street name, no special Characters & unnecessary spaces. </div>
            </div>

            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                City
              </label>
              <input class="form-control" type="text" placeholder="Your City" [formControl]="userEditForm.controls['city']">

              <div *ngIf="userEditForm.controls['city'].hasError('required') && userEditForm.controls['city'].touched" class="alert alert-danger">
                You must include a City.
              </div>
              <div *ngIf="!userEditForm.controls['city'].valid" class="alert alert-danger">
                City must only include Alphabetic character & no unnecessary spaces. </div>
            </div>

            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                Postal Code/ZIP
              </label>
              <input class="form-control" type="text" placeholder="A-123 (optional)" [formControl]="userEditForm.controls['zip']">

              <!-- <div *ngIf="userEditForm.controls['zip'].hasError('required')
              && userEditForm.controls['zip'].touched" class="alert alert-danger">
                You must include zip code.
              </div> -->
              <div *ngIf="!userEditForm.controls['zip'].valid" class="alert alert-danger">
                Invalid ZIP code (A-123)
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="sub-header-text-h2">
                Country
              </label>
              <select id="country" class="form-control" formControlName="country" (change)="countryChanged(userEditForm.controls['country'].value)">
                <option *ngFor="let c of countries" [ngValue]="c.countryName">
                  {{c.countryName}}
                </option>
              </select>
            </div>
            <div *ngIf="isSuccessDetails" class="alert alert-success animated fadeIn">
              Successfully Changed!
            </div>
            <div class="form-group">
              <button [disabled]="userEditForm.controls['fName'].invalid ||
              userEditForm.controls['lName'].invalid ||
              userEditForm.controls['emailRe'].invalid ||
              userEditForm.controls['phone'].invalid ||
              userEditForm.controls['streetNo'].invalid ||
              userEditForm.controls['streetName'].invalid ||
              userEditForm.controls['zip'].invalid ||
              userEditForm.controls['city'].invalid ||
              userEditForm.controls['country'].invalid" (click)="editUserDetails(userEditForm.value)" class="btn btn-d main-button">Change Details</button>
            </div>

            <div class="padding-bottom">
              <div class="radio">
                <label>
                  <input [checked]="passwordEditable" type="radio" (change)="togglePassword($event)"> Change Password
                </label>
              </div>

              <div *ngIf="passwordEditable">
                <div class="form-group">
                  <label for="username" class="sub-header-text-h2">
                    Current Password
                  </label>
                  <input class="form-control" width="50%" type="password" [formControl]="userEditForm.controls['password']">
                  <div *ngIf="userEditForm.controls['password'].hasError('required')
                  && userEditForm.controls['password'].touched && userEditForm.controls['password'].dirty" class="alert alert-danger">
                    You must include the current password.
                  </div>
                </div>

                <div class="form-group">
                  <label for="username" class="sub-header-text-h2">
                    New Password
                  </label>
                  <input class="form-control" width="50%" type="password" [formControl]="userEditForm.controls['passwordNew']">
                  <div *ngIf="userEditForm.controls['passwordNew'].hasError('required')
                  && userEditForm.controls['passwordNew'].touched && userEditForm.controls['passwordNew'].dirty" class="alert alert-danger">
                    You must include the password.
                  </div>

                  <div *ngIf=" userEditForm.controls['passwordNew'].touched && userEditForm.controls['passwordNew'].dirty && !userEditForm.controls['passwordNew'].valid"
                    class="alert alert-danger">
                    Your password should be at least 8 characters long and should contain UpperCase character, LowerCase character and a Number
                  </div>
                </div>

                <div class="form-group">
                  <label for="username" class="sub-header-text-h2">
                    Confirm Password
                  </label>
                  <input class="form-control" width="50%" type="password" [formControl]="userEditForm.controls['passwordConfirm']">
                  <div *ngIf="userEditForm.controls['passwordConfirm'].hasError('required')
                  && userEditForm.controls['passwordConfirm'].touched && userEditForm.controls['passwordConfirm'].dirty"
                    class="alert alert-danger">
                    You must include the password.
                  </div>
                  <div *ngIf=" userEditForm.controls['passwordConfirm'].touched && userEditForm.controls['passwordConfirm'].dirty && !userEditForm.controls['passwordConfirm'].valid"
                    class="alert alert-danger">
                    Password Missmatch
                  </div>
                </div>

                <div class="form-group">
                  <div *ngIf="isSuccessPassword" class="alert alert-success animated fadeIn">
                    Successfully Changed!
                  </div>
                  <div *ngIf="isInvalidPassword" class="alert alert-danger animated fadeIn">
                    Current password is incorrect, Please try again!
                  </div>
                  <button class="btn btn-d main-button" (click)="changePassword(userEditForm.value)" [disabled]="!userEditForm.controls['password'].valid || !userEditForm.controls['passwordConfirm'].valid || !userEditForm.controls['passwordNew'].valid">
                    Change Password</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
    <app-accepted-payment-type></app-accepted-payment-type>
  </div>
</div>