
<div class="page-container">
    <!-- bloc-9 -->
    <div class="bloc bgc-white l-bloc" id="bloc-9">

        <div *ngIf = "Data.bannerImage">
            <img class="banner-cat" src="{{bannerImageUrl}}/{{Data.bannerImage}}" width="100%" />
        </div>
      <div class="container bloc-lg  padding-top-0">
        <div class="row content-row">

          <div class="col-sm-6 no-padding">
              <div id="gallery" style="display:none;">
                    <ng-template *ngFor="let item of Data.tempImageArray" [ngIf]="item">
                      <img  *ngIf="item.videoUrl == null" alt="{{item.name}}"
                         src="{{imageUrl}}/{{item.img}}"
                         [attr.data-image]="imageUrl/item.img">

                      <img  *ngIf="item.videoUrl != null" alt="{{item.name}}"
                         data-type="vimeo"
                         src="{{imageUrl}}/{{item.img}}"
                         [attr.data-image]="imageUrl/item.img"
                         [attr.data-videoid]="item.videoUrl">
                    </ng-template>

              </div>
          </div>

          <div class="col-sm-6 padding-top margin-top" *ngIf = "selectedVariant">
            <div>
              <p class="text-center product-name main-header-font">
                    {{Data.name}}<br>
              </p>
            </div>
            <div class="spacing-1">
              <p  [innerHTML]="desPart1" style="font-weight: initial;">
               </p>
               <a class=" text-left" *ngIf="!readMore" (click)="readMoreFunct()"><strong>Read More</strong></a>

            </div>
            <p>
              <strong style="color:rgb(153, 15, 15)" *ngIf=" Data.variants.length >= 1 && selectedVariant.quantity == 0 && lockBuyButton">Availability: Out of stock</strong>
              <strong style="color: green" *ngIf=" !(Data.variants.length >= 1 && selectedVariant.quantity == 0 && lockBuyButton)">Availability: In stock</strong>
              <br>
            </p>
            <div>
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <select class="form-control" (change)="changeVariant($event.target.value)">
                        <option  *ngFor="let v1 of selection; let i = index" [ngValue]="v1.vType"> {{v1.vType}} </option>
                      </select>
                    </div>
                </div>
                <div class="col-sm-6"  *ngIf="Data.selection[1]">
                    <div class="form-group">
                     <select class="form-control" (change)="changeVariant2($event.target.value)">
                        <option  *ngFor="let v2 of selection1; let i = index" [ngValue]="v2.vType"> {{v2.vType}} </option>
                      </select>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="Data.selection[2]">
                  <div class="form-group">
                     <select class="form-control" (change)="changeVariant3($event.target.value)">
                        <option  *ngFor="let v3 of selection2; let i = index" [ngValue]="v3.vType"> {{v3.vType}} </option>
                      </select>
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="Data.selection[3]">
                    <div class="form-group">
                      <select class="form-control" (change)="changeVariant4($event.target.value)">
                        <option  *ngFor="let v4 of selection3; let i = index" [ngValue]="v4.vType"> {{v4.vType}} </option>
                      </select>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input class="form-control" type="number" min="1" oninput="validity.valid||(value='');" name="qty" placeholder="QTY"
                  id="qty" value="selectedVariant.buyQuantity" [disabled]="Data.variants.length >= 1 && selectedVariant.quantity == 0 || lockBuyButton == false"
                  [(ngModel)]="selectedVariant.buyQuantity" (ngModelChange)="changeBuyQuantity(selectedVariant.buyQuantity)" />
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="text-left product-details-price main-content-font" >
                <p *ngIf="discountAvailable == false && availableFirstVariPromo == false"><strong>{{currency}}</strong> {{selectedVariant.price| number: '.2'}}</p>
                <h5 *ngIf="discountAvailable == false && availableFirstVariPromo == true">Regular price - <strong style="text-decoration: line-through">{{currency}} {{oldPrice| number: '.2'}}</strong></h5>
                <h4 *ngIf="discountAvailable == false && availableFirstVariPromo == true">Cash price - <strong>{{currency}}</strong> {{newPrice| number: '.2'}}</h4>

                <h5 *ngIf="discountAvailable == true">Regular price - <strong style="text-decoration: line-through">{{currency}} {{oldPrice| number: '.2'}}</strong></h5>
                <h4 *ngIf="discountAvailable == true">Cash price - <strong>{{currency}}</strong> {{newPrice| number: '.2'}}</h4>
              </div>
              <p class="text-left product-details-price main-content-font" *ngIf="!selectedVariant.price">
                <strong>{{currency}}</strong> {{Data.variants[0].price| number: '.2'}}
              </p>
              <p class="text-left  text-danger">
                <strong>0% installment schemes available on credit cards</strong>
              </p>
              <div>
                <div class="row">
                 <div class="col-xs-12 text-center text-warning" *ngIf="selectedVariant.buyQuantity > selectedVariant.quantity">
                    <div  class="alert alert-danger row padding text-center">
                      <div><i class="fa fa-exclamation-triangle"></i> Please enter a quantity of {{selectedVariant.quantity}} or less.</div>
                    </div>
                  </div>
                  <div class="col-xs-12 text-center text-warning"  *ngIf="ifNotSelectedVariantOrQuantity">
                      <div  class="alert alert-danger row padding text-center">
                          <div><i class="fa fa-exclamation-triangle"></i> Please select a colour and quantity.</div>
                      </div>
                  </div>



                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header text-center">
                          <h3 class="modal-title main-header-font" id="myModalLabel">Your Product added to the cart!</h3>
                        </div>
                        <div class="row">
                          <div class="col-xs-5 text-center">
                            <img src="{{imageUrl}}/{{selectedVariant.imageUrl || Data.tempImageArray[0].img}}" width="80%">
                          </div>
                          <div class="col-xs-7">
                            <h3 class="main-content-font">{{Data.name}}</h3>
                            <h4 class="main-content-font" *ngFor="let v of dialogVariants">{{v.name}}:{{v.vType}}</h4>
                            <h4 *ngIf = "discountAvailable == false" class="main-content-font"> {{currency}} {{selectedVariant.price | number: '.2'}}</h4>
                            <h4 *ngIf = "discountAvailable == true" class="main-content-font"> {{currency}} {{newPrice | number: '.2'}}</h4>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="col-sm-4">
                          </div>
                          <div class="col-sm-4">
                            <button (click)="close();goToHome();" class="btn btn-d btn-sq btn-lg main-button btn-block">Continue Shopping</button>
                          </div>
                          <div class="col-sm-4">
                            <button (click)="close();goToCart();" class="btn btn-d btn-sq btn-lg  main-button btn-block">Checkout</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Video Model -->
                  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
                    <div class="modal-dialog" role="document" id="player" data-vimeo-responsive="1">
                      <!-- <div class="modal-content" ">
                      </div> -->
                    </div>
                  </div>


                  <div class="voffset padding-mobile" *ngIf="!(Data.variants.length >= 1 && selectedVariant.quantity == 0 && lockBuyButton)">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                      <button (click)='addToCart("buyNowCart")' class="btn btn-d btn-sq btn-lg main-button btn-block">BUY NOW</button>
                    </div>
                    <div class="col-sm-4">
                      <button (click)="addToCart('');open(this.selectedVariant.selection);" class="btn btn-d btn-sq btn-lg main-button btn-block">
                        <span _ngcontent-c7="" class="feather-icon icon-bag icon-spacer"></span>
                            ADD TO CART
                      </button>
                    </div>
                  </div>
                  <br>
                  <div style="margin-left: 4%;margin-top: 8%;"> Also available at <a href = "https://www.mysoftlogic.lk" target="_blank" rel="noopener noreferrer" >www.mysoftlogic.lk</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

