<md-dialog aria-label="download mobile viewer" class="download-mobile-viewer">
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'download-mobile-previewer');
        ga('send', 'pageview');
    </script>
    <md-dialog-content>
        <md-tabs md-selected="selectedIndex" md-no-ink-bar ="false" md-no-ink="true" md-no-bar  md-center-tabs="false" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Download</md-tab-label>

                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1 class="text-center"> Download mobile previwer </h1>
                    </div>
                    <div class="md-dialog-main">
                        <div class="row">

                            <h4 class="col-md-12 text-center">Please visit the URL or scan the QR code</h4>

                            <h3 class="col-md-12 text-center">
                                <img src="images/QR_Code.png" width="25%">
                            </h3>
                            <h3 class="col-md-12 text-center">
                                <a href="https://play.google.com/store/apps/details?id=com.otenro.mobileviewerv04" target="_blank"><img src="images/googlePlay.png" width="22%"></a>
                                <a href="https://play.google.com/store/apps/details?id=com.otenro.mobileviewerv04" target="_blank"><img src="images/appStore.png" width="20%"></a>
                            </h3>
                        </div>
                        <fieldset class="text-right">
                            <md-button class="me-default-button" ng-click="close()">OK</md-button>
                        </fieldset>
                    </div>
                </md-tab-body>
            </md-tab>
            <!--<md-tab>-->
                <!--<md-tab-label>App-store </md-tab-label>-->

                <!--<md-tab-body>-->
                    <!--<div class="md-dialog-header">-->
                        <!--&lt;!&ndash;<h1 class="text-center"> Download mobile previwer </h1>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="md-dialog-main">-->
                        <!--<div class="row">-->
                            <!--<br>-->
                            <!--<br>-->
                            <!--&lt;!&ndash;<h4 class="col-md-12 text-center">Please visit the URL or scan the QR code to find  the app on App Store</h4>&ndash;&gt;-->
                            <!--<h1 class="col-md-12 text-center">Coming Soon ...</h1>-->
                            <!--<br>-->
                            <!--<br>-->
                            <!--<h3 class="col-md-12 text-center">-->
                                <!--<img src="">-->
                            <!--</h3>-->
                            <!--<h3 class="col-md-12 text-center"></h3>-->
                        <!--</div>-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--<fieldset class="text-right">-->
                            <!--<md-button class="me-default-button" ng-click="close()">OK</md-button>-->
                        <!--</fieldset>-->
                    <!--</div>-->
                <!--</md-tab-body>-->
            <!--</md-tab>-->
            <!--<md-tab>-->
                <!--<md-tab-label>Play-store </md-tab-label>-->

                <!--<md-tab-body>-->
                    <!--<div class="md-dialog-header">-->
                        <!--<h1 class="text-center"> Download mobile previewer </h1>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-main">-->
                        <!--<div class="row">-->
                            <!--<h4 class="col-md-12 text-center">Please visit the URL or scan the QR code to find  the app on Play Store</h4>-->
                            <!--<h3 class="col-md-12 text-center">-->
                                <!--<img src="images/QR_Code.png" width="100%">-->
                            <!--</h3>-->
                            <!--<h3 class="col-md-12 text-center"><a href="https://play.google.com/store/apps/details?id=com.otenro.mobileviewerv04" target="_blank">Visit Link</a></h3>-->
                        <!--</div>-->
                        <!--<fieldset class="text-right">-->
                            <!--<md-button class="me-default-button" ng-click="close()">OK</md-button>-->
                        <!--</fieldset>-->
                    <!--</div>-->
                <!--</md-tab-body>-->

            <!--</md-tab>-->

        </md-tabs>
    </md-dialog-content>
</md-dialog>