<md-dialog aria-label="download mobile viewer" class="download-mobile-viewer">
    <md-dialog-content>
        <md-tabs md-center-tabs="false"
                 md-selected="activeTabIndex"
                 md-no-ink="true"
                 md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Select Store </md-tab-label>

                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1 class="text-center"> Download mobile previwer </h1>
                    </div>
                    <div class="md-dialog-main">
                        <div class="row">
                            <br>
                            <br>
                            <h4 class="col-md-12 text-center">Select your Mobile Store</h4>
                            <br>
                            <br>
                            <h3 class="col-md-6 text-center">App Store</h3>
                            <h3 class="col-md-6 text-center">Play Store</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <fieldset class="text-right">
                            <md-button class="me-default-button" ng-click="close()">OK</md-button>
                        </fieldset>
                    </div>
                </md-tab-body>
            </md-tab>
            <!--<md-tab>-->
                <!--<md-tab-label>App-store </md-tab-label>-->

                <!--<md-tab-body>-->
                    <!--<div class="md-dialog-header">-->
                        <!--<h1 class="text-center"> Download mobile previwer </h1>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-main">-->
                        <!--<div class="row">-->
                            <!--<br>-->
                            <!--<br>-->
                            <!--<h4 class="col-md-12 text-center">Please visit the URL or scan the QR code to find  the app on App Store</h4>-->
                            <!--<br>-->
                            <!--<br>-->
                            <!--<h3 class="col-md-12 text-center">-->
                                <!--<img src="">-->
                            <!--</h3>-->
                            <!--<h3 class="col-md-12 text-center"></h3>-->
                        <!--</div>-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--<fieldset class="text-right">-->
                            <!--<md-button class="me-default-button" ng-click="close()">OK</md-button>-->
                        <!--</fieldset>-->
                    <!--</div>-->
                <!--</md-tab-body>-->
            <!--</md-tab>-->
            <md-tab>
                <md-tab-label>Play-store </md-tab-label>

                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1 class="text-center"> Download mobile previewer </h1>
                    </div>
                    <div class="md-dialog-main">
                        <div class="row">
                            <br>
                            <br>
                            <h4 class="col-md-12 text-center">Please visit the URL or scan the QR code to find  the app on Play Store</h4>
                            <br>
                            <br>
                            <h3 class="col-md-6 text-center">
                                <img src="">
                            </h3>
                            <h3 class="col-md-6 text-center"><a href="" target="_blank"></a></h3>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <fieldset class="text-right">
                            <md-button class="me-default-button" ng-click="close()">OK</md-button>
                        </fieldset>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>
    </md-dialog-content>
</md-dialog>