<md-dialog aria-label="User Profile" class="md-dialog-profile">
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'profile-settings');
        ga('send', 'pageview');
    </script>
    <md-dialog-content>
        <md-tabs md-center-tabs="false"
                 md-selected="activeTabIndex"
                 md-no-ink="true"
                 md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab>
                <md-tab-label>{{viewProfile}}</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1 >Hello {{userEdit.firstName}}</h1>
                        <ul class="md-dialog-header-nav clearfix">
                            <li ng-if="userRole != 'support'">
                                <a ng-click="redirectToDashboard()" class="return-to-app">my apps</a>
                            </li>
                            <li>
                                <a ng-click="redirectToLogin()" class="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-dialog-main">
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Beneficiary’s Name</label>
                                <br>
                                {{userEdit.beneficiaryName}}
                            </fieldset>
                            <fieldset>
                                <label>Name </label>
                                <br>
                                {{userEdit.firstName}} {{userEdit.lastName}}
                            </fieldset>
                        </div>

                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Bank Code</label>
                                <br>
                                {{userEdit.bankCode}}
                            </fieldset>
                            <fieldset>
                                <label>Email</label>
                                <br>
                                {{userEdit.email}}
                            </fieldset>
                        </div>

                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Bank Branch Code</label>
                                <br>
                                {{userEdit.branchCode}}
                            </fieldset>
                            <fieldset>
                                <label>Contact Number</label>
                                <br>
                                {{userEdit.mobile}}
                            </fieldset>
                        </div>

                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Bank Branch Name</label>
                                <br>
                                {{userEdit.branchName}}
                            </fieldset>
                        </div>

                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Bank Account Number</label>
                                <br>
                                {{userEdit.accountNumber}}
                            </fieldset>
                        </div>
                        <!--<fieldset >-->
                            <!--<label>Account type</label>-->
                            <!--<br>-->
                            <!--{{accountType}}-->
                        <!--</fieldset>-->
                        <fieldset class="text-right">
                            <md-button class="me-default-button" ng-click="close()">Close</md-button>
                            <md-button class="me-default-button" ng-click="goToEditView(1)">Edit Profile</md-button>
                        </fieldset>
                    </div>
                </md-tab-body>
            </md-tab>
            <!--&lt;!&ndash; Start billing view&ndash;&gt;-->
            <!--<md-tab>-->
                <!--<md-tab-label>{{viewBilling}}</md-tab-label>-->
                <!--<md-tab-body>-->
                    <!--<div class="md-dialog-header">-->
                        <!--<h1>billing account</h1>-->
                        <!--<ul class="md-dialog-header-nav clearfix">-->
                            <!--<li ng-if="userRole != 'support'">-->
                                <!--<a ng-click="redirectToDashboard()" class="return-to-app">my apps</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ng-click="redirectToLogin()" class="logout">Logout</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-main">-->
                        <!--<div class="clearfix">-->
                            <!--<fieldset>-->
                                <!--<label>Billing Name</label>-->
                                <!--<br>-->
                                <!--{{billingEdit.fname}}-->
                            <!--</fieldset>-->
                            <!--<fieldset>-->
                                <!--<label>Billing Address</label>-->
                                <!--<br>-->
                                <!--{{billingEdit.address}}-->
                            <!--</fieldset>-->
                        <!--</div>-->
                        <!--<div class="md-dialog-buttons">-->
                            <!--<div class="inner-section">-->
                                <!--<md-button class="me-default-button" ng-click="close()">Close</md-button>-->
                                <!--<md-button class="me-default-button" ng-click="goToEditView(3)">-->
                                    <!--Edit Billing Account-->
                                <!--</md-button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-tab-body>-->
            <!--</md-tab>-->
            <!-- Start profile edit view-->
            <md-tab>
                <md-tab-label></md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Edit Profile</h1>
                        <ul class="md-dialog-header-nav clearfix">
                            <li ng-if="userRole != 'support'">
                                <a ng-click="redirectToDashboard()" class="return-to-app">my apps</a>
                            </li>
                            <li>
                                <a ng-click="redirectToLogin()" class="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-dialog-main">
                        <form class="form-signin" accept-charset="UTF-8" role="form" name="editProfile" novalidate>
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>First name</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input class="input-shadow-border"
                                       type="text"
                                       name="fname"
                                       ng-model="userEdit.firstName"
                                       ng-pattern="/^[-a-zA-Z\s]+$/"
                                       required />
                                <span class="error help-block" ng-show="editProfile.fname.$error.required">*</span>
                                <span class="error help-block" ng-show="editProfile.fname.$dirty && editProfile.fname.$invalid">
                                 Enter a proper name
                                 </span>

                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>Last name</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input class="input-shadow-border"
                                       type="text"
                                       name="lname"
                                       ng-model="userEdit.lastName"
                                       ng-pattern="/^[-a-zA-Z]+$/"
                                       required />
                                <span class="error help-block" ng-show="editProfile.lname.$error.required">*</span>
                                <span class="error help-block" ng-show="editProfile.lname.$dirty && editProfile.lname.$invalid">
                                Enter a proper name
                                </span>
                            </fieldset>
                        </div>
                        <fieldset>
                            <label>Email</label>
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <input class="input-shadow-border"
                                   type="text" name="email" disabled ng-model="userEdit.email" required />
                        </fieldset>
                        <!--Mobile number field-->
                        <fieldset>
                            <label> Contact Number </label>
                            <input class="input-shadow-border" name="mobile" type="text" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{3,6}$/im"
                                   style="float:left;" ng-model="userEdit.mobile" required/>
                            <span class="error help-block" ng-show="editProfile.mobile.$error.required">*</span>
                            <span class="error help-block" ng-show="editProfile.mobile.$dirty && editProfile.mobile.$invalid">
                              Enter a valid mobile number
                            </span>
                        </fieldset>
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Current Password</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input class="input-shadow-border"
                                       type="password"
                                       name="password"
                                       ng-model="userEdit.currentPassword" />
                                    <br />
                                <span class="error" ng-show="password">Please enter valid current password</span>
                            </fieldset>
                        </div>
                        <div class="clearfix">
                            <fieldset class="col-2">
                                <label>Password</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input class="input-shadow-border"
                                       type="password"
                                       name="password"
                                       ng-model="userEdit.password"
                                       ng-pattern="passwordRegularExpression"
                                       ng-minlength="7"
                                       compare-to="userEdit.confirmPassword"
                                       >
                                <span class="help-block " ng-show="editProfile.password.$error.minlength">
                                    <span class="error" ng-show="editProfile.password.$error.minlength">
                                        Password should have at least 7 characters.
                                    </span>
                                </span>
                                <span class="help-block "
                                      ng-show="!(editProfile.password.$error.minlength) && editProfile.password.$error.pattern">
                                    <span class="error">Password should have at least one lower or Upper letter and one number</span>
                                </span>
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>Confirm Password</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input class="input-shadow-border"
                                       type="password"
                                       name="confirmPassword"
                                       ng-model="userEdit.confirmPassword"
                                       >
                                <span class="help-block " ng-show="editProfile.confirmPassword.$dirty">
                                    <span class="error" ng-show="editProfile.password.$error.compareTo">Password must match.</span>
                                </span>
                            </fieldset>
                        </div>
                        <!--Beneficiary’s Name-->
                        <fieldset>
                            <label>Beneficiary’s Name</label>
                            <input class="input-shadow-border" type="text" name="beneficiaryName" ng-model="userEdit.beneficiaryName" required/>
                            <span class="error help-block" ng-show="editProfile.beneficiaryName.$error.required">*</span>
                        </fieldset>
                            <!--Bank Code-->
                        <fieldset>
                            <label> Bank Code </label>
                            <input class="input-shadow-border" name="bankCode" type="text" ng-pattern="/^[1-9]\d*$/"
                                   style="float:left;" ng-model="userEdit.bankCode" required/>
                            <span class="error help-block" ng-show="editProfile.bankCode.$error.required">*</span>
                            <span class="error help-block" ng-show="editProfile.bankCode.$dirty && editProfile.bankCode.$invalid">
                            Enter a valid bank code</span>
                        </fieldset>
                        <!--Bank Branch Code-->
                        <fieldset>
                            <label> Bank Branch Code </label>
                            <input class="input-shadow-border" name="branchCode" type="text" ng-pattern="/^[1-9]\d*$/"
                                   style="float:left;" ng-model="userEdit.branchCode" required/>
                            <span class="error help-block" ng-show="editProfile.branchCode.$error.required">*</span>
                            <span class="error help-block" ng-show="editProfile.branchCode.$dirty && editProfile.branchCode.$invalid">
                            Enter a valid branch code</span>
                        </fieldset>
                        <!--Bank Branch Name-->
                        <fieldset>
                            <label>Bank Branch Name</label>
                            <input class="input-shadow-border" type="text" name="branchName" ng-model="userEdit.branchName" required/>
                            <span class="error help-block" ng-show="editProfile.branchName.$error.required">*</span>
                        </fieldset>
                        <!--Bank Account Number-->
                        <fieldset>
                            <label>Bank Account Number</label>
                            <input class="input-shadow-border" type="text" name="accountNumber" ng-model="userEdit.accountNumber" required/>
                            <span class="error help-block" ng-show="editProfile.accountNumber.$error.required">*</span>
                        </fieldset>
                        <!--<fieldset >-->
                            <!--<label>Account type</label>-->
                            <!--<md-select aria-label="Account Type" ng-model="userEdit.accountType">-->
                                <!--<md-option value="Basic">Basic</md-option>-->
                                <!--<md-option value="Advanced">Advanced</md-option>-->
                            <!--</md-select>-->
                        <!--</fieldset>-->
                        <!--mobile verification pin field-->
                            <fieldset ng-show="isPinReqSuccess">
                                <label>Verification Pin </label>
                                <input class="input-shadow-border" ng-enter ="updateUserProfileWithMobile(userEdit)" name="mobileVerificationPin" type="text" ng-model="mobileVerificationPin">
                                <div style="float: right">
                                    <input style="background: #0099FF; text-align: center; color: white; margin-top: 10px" class="input-shadow-border"  ng-click="updateUserProfileWithMobile(userEdit)" name="continue" value="continue" />
                                </div>
                            </fieldset>
                        <fieldset class="text-right">
                            <md-button class="me-default-button" ng-click="backToView(0,'userEdit')">Cancel</md-button>

                            <md-button class="me-default-button" ng-disabled="editProfile.password.$error.compareTo"
                                       ng-click="editUserProfile(userEdit,selected);">Save
                            </md-button>
                        </fieldset>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
            <!-- Start billing edit view-->
            <md-tab>
                <md-tab-label></md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Edit billing account</h1>
                    </div>
                    <div class="md-dialog-main">
                        <form class="form-signin" accept-charset="UTF-8" role="form" name="editBilling" novalidate>
                        <div class="clearfix">
                            <fieldset >
                                <label>Billing Name</label>
                                <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                                <input class="input-shadow-border"
                                       type="text"
                                       name="fname"
                                       maxlength="{{maxMenuCategory}}"
                                       ng-model="billingEdit.fname"
                                       required />
                                <br />
                                <span class="information">Characters left: {{maxMenuCategory - billingEdit.fname.length}}</span>
                            </fieldset>
                        </div>
                        <fieldset>
                            <label>Billing Address</label>
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <input class="input-shadow-bordebackToViewr"
                                   type="text"
                                   name="address"
                                   maxlength="{{maxAddressLength}}"
                                   ng-model="billingEdit.address"
                                   required />
                            <br />
                            <span class="information">Characters left: {{maxAddressLength - billingEdit.address.length}}</span>
                        </fieldset>
                        <fieldset class="col-2">
                            <label>Credit card number</label>
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <input class="input-shadow-border"
                                   type="text"
                                   name="creditCardNumber"
                                   maxlength="{{maxMenuCategory}}"
                                   ng-pattern="/^\d*[1-9]\d*$/"
                                   ng-model="billingEdit.creditCardNumber"
                                   required />
                            <br />
                            <span class="information">Characters left: {{maxMenuCategory - billingEdit.creditCardNumber.length}}</span>
                            <div ng-messages="editBilling.creditCardNumber.$error" ng-show="editBilling.creditCardNumber.$dirty">
                                <div ng-message="pattern"
                                     class="error my-message">That doesn't look like a valid credit card number</div>
                            </div>
                        </fieldset>
                        <fieldset class="col-2 reset-margin-right">
                            <label>Card type</label>
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <input class="input-shadow-border"
                                   type="text"
                                   name="cardType"
                                   ng-pattern="/^[a-zA-Z]+$/"
                                   ng-model="billingEdit.cardType"
                                   required />
                            <span class="help-block " ng-show="editBilling.cardType.$error.pattern">
                                <span class="error">Not a valid card type</span>
                            </span>
                        </fieldset>
                        <fieldset class="col-2">
                            <label>CVS code</label>
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <input class="input-shadow-border"
                                   type="text"
                                   name="cvs"
                                   ng-pattern="/^[0-9]{3,4}$/"
                                   class="me-xs-input reset-inline"
                                   ng-model="billingEdit.cvs"
                                   required />
                            <span class="help-block " ng-show="editBilling.cvs.$error.pattern">
                                <span class="error">Not a valid cvs</span>
                            </span>
                        </fieldset>
                            <div class="btn-view md-dialog-buttons">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="cancel(1)">cancel</md-button>
                                <md-button class="me-default-button" ng-disabled="editBilling.$invalid" ng-click="saveBillings(billingEdit)">save</md-button>
                            </div>
                        </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>