<md-dialog aria-label="AppUser">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>users</h1>
            <ul class="md-dialog-header-nav clearfix">
            </ul>
        </div>
        <div class="md-dialog-main">

            <!--Google Analytics-->
            <script>
                ga('set', 'page', 'registered-user-details');
                ga('send', 'pageview');
            </script>

            <table class="me-simple-table">
                <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Address</th>
                <th>Registered Date</th>
                </thead>
                <tbody>
                <tr ng-repeat="data in appuserList">

                    <td>{{data.firstName}} {{data.lastName}}</td>
                    <th><md-button ng-click="redirect(data)" class="ocolor" >{{data.email}}</md-button> </th>
                    <td>{{data.phone}}</td>
                    <td>{{data.streetNumber}}
                        {{data.streetName}}<br>
                        {{data.city}}<br>
                        {{data.country}}</td>
                    <td>{{data.registeredDate}}</td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="md-dialog-main">
            <form class="allItems" novalidate>

                <div id="grid1" ui-grid="gridOptions1" ui-grid-exporter ui-grid-selection="" class="grid custom-grid"></div>
            </form>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button type="button" class="me-default-button" ng-click="cancel()">Cancel</md-button>
            </div>
        </div>

    </md-dialog-content>
</md-dialog>