<md-dialog aria-label="Add New Sales & Promotion" class="sales-promotion">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'add-sales-and-promotions');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tabs  md-no-ink-bar ="false" md-no-ink="true" md-no-bar  md-center-tabs="false"  md-autoselect="false"
                  md-dynamic-height="true" md-selected="selectedTab">
            <!--Choosing a Sales & Promotion Type -->
            <md-tab >
                <md-tab-label>Sales & Promotion Type</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Choose New Sales & Promotions</h1>
                    </div>
                    <div id="Navigation" class="md-dialog-main">
                        <div class="products-options">
                            <md-list flex>
                                <md-list-item class="md-3-line" >
                                    <div class="md-list-item-text" layout="column">
                                        <h1 ng-click = "navigatePromoType(1)">Store Wide</h1>
                                        <h4>Store Wide</h4>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-3-line"  >
                                    <div class="md-list-item-text" layout="column">
                                        <h1 ng-click = "navigatePromoType(2)">Minimum Order Value</h1>
                                        <h4>Minimum Order Value</h4>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-3-line" >
                                    <div class="md-list-item-text" layout="column">
                                        <h1 ng-click = "navigatePromoType(3)">Category Wide</h1>
                                        <h4>Category Wide</h4>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-3-line" >
                                    <div class="md-list-item-text" layout="column">
                                        <h1 ng-click = "navigatePromoType(4)">Single Product</h1>
                                        <h4>Single Product</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

            <!-- Store Wide content -->
             <md-tab >
                <md-tab-label>Store Wide</md-tab-label>
                <md-tab-body>
                    <md-content layout-padding>
                        <form name="storeWideForm">
                            <div class="md-dialog-header">
                                <h1>Adding Store Wide Promotion</h1>
                            </div>
                            <div class="md-dialog-main">
                                <div class="clearfix">
                                    <div class="row">
                                        <label class="col-md-12 padding-bottom">
                                            Create discount code
                                        </label>
                                        <div class="col-md-5">
                                            <md-input-container class="md-block">
                                                <label>Discount Code</label>
                                                <input md-maxlength="15" maxlength="15"  ng-required="true" name="promoCode" ng-model="storeWide.promoCode">
                                                <div ng-messages="storeWideForm.promoCode.$error" ng-show="storeWideForm.promoCode.$dirty">
                                                    <div ng-message="required">promoCode is required.</div>
                                                    <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2 text-center margin-top">
                                        <label>or</label>
                                        </div>
                                        <div class="col-md-5 margin-top">
                                        <button class="btn-material-2" ng-click="genaratePromoCode('storewide')">Generate Code</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 padding-top">
                                            <md-select  ng-model="storeWide.discountType">
                                                <md-option  value="discount" ng-selected="true">Percentage</md-option>
                                                <md-option  value="discountValue">Value</md-option>
                                            </md-select>
                                        </div>
                                        <div class="col-xs-6">
                                            <md-input-container class="md-block"  ng-if = "storeWide.discountType == 'discountValue'">
                                                <label>Discount</label>
                                                <input md-maxlength="15" maxlength="15"  ng-required="true" name="discount" ng-model="storeWide.discount">
                                                <div ng-messages="storeWideForm.discount.$error" ng-show="storeWideForm.discount.$dirty">
                                                    <div ng-message="required">Discount is required.</div>
                                                    <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container  class="md-block"  ng-if = "storeWide.discountType == 'discount'">
                                                <label>Discount</label>
                                                <input md-maxlength="4" maxlength ="4" ng-pattern="/^100$|^\d{0,2}(\.\d{1,2})? *%?$/"  ng-required="true" name="discountPercent" ng-model="storeWide.discountPercent">
                                                <div ng-messages="storeWideForm.discountPercent.$error" ng-show="storeWideForm.discount.$dirty">
                                                    <div ng-message="required">Name is required.</div>
                                                </div>
                                                <span class="error" ng-show="storeWideForm.discountPercent.$error.pattern">Enter a valid value</span>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <fieldset>
                                        <label>Date</label>
                                        <div class="row">
                                            <adm-dtp ng-model='storeWide.dateFrom' options='{calType: "gregorian", default: today}' class="col-md-5"></adm-dtp>

                                            <label class="col-md-2 text-center padding-top">To</label>

                                            <adm-dtp ng-model='storeWide.dateTo' options='{calType: "gregorian", default: today}' class="col-md-5"></adm-dtp>
                                        </div>
                                    </fieldset>


                                    <fieldset>
                                        <label>Minimum Requirement</label>
                                        <md-radio-group ng-model="storeWide.minimumRequirements">

                                            <md-radio-button value="none" class="md-primary">None</md-radio-button>

                                            <md-radio-button value="minimumOrderValue" class="md-primary">Minimum Purchase Amount</md-radio-button>
                                            <md-input-container  placeholder="" class="md-no-float md-block" flex="50" ng-if = "storeWide.minimumRequirements == 'minimumOrderValue'">
                                                <input md-maxlength="15" maxlength="15" name="minimumOrderValue" ng-model="storeWide.minimumOderValue"  ng-required="true">
                                                <div ng-messages="storeWideForm.minimumOrderValue.$error" ng-show="storeWideForm.minimumOrderValue.$dirty" ng-if = "storeWide.minimumRequirements == 'minimumOrderValue'">
                                                    <div ng-message="required">Minimum order value is required.</div>
                                                </div>
                                            </md-input-container>

                                            <md-radio-button value="minimumOrderQuantity" class="md-primary">Minimum quantity of items</md-radio-button>
                                            <md-input-container  placeholder="" class="md-no-float md-block" flex="50" ng-if = "storeWide.minimumRequirements == 'minimumOrderQuantity'">
                                                <input md-maxlength="15" maxlength="15" name="minimumOrderQuantity" ng-model="storeWide.minimumOrderQuantity"  ng-required="true">
                                                <div ng-messages="storeWideForm.minimumOrderQuantity.$error" ng-show="storeWideForm.minimumOrderQuantity.$dirty" ng-if = "storeWide.minimumRequirements == 'minimumOrderQuantity'">
                                                    <div ng-message="required">Minimum order quantity is required.</div>
                                                </div>
                                            </md-input-container>

                                        </md-radio-group>
                                    </fieldset>


                                    <!--<md-input-container class="md-block">-->
                                        <!--<label>Name</label>-->
                                        <!--<input md-maxlength="15" maxlength="15"  ng-required="true" name="name" ng-model="storeWide.name">-->
                                        <!--<div ng-messages="storeWideForm.name.$error" ng-show="storeWideForm.name.$dirty">-->
                                            <!--<div ng-message="required">Name is required.</div>-->
                                            <!--<div ng-message="md-maxlength">The name must be less than 15 characters long.</div>-->
                                        <!--</div>-->
                                    <!--</md-input-container>-->
                                    <fieldset>
                                        <label>Customer Eligibility</label>
                                        <md-radio-group class="no-margin" ng-model="storeWide.customerEligibility">

                                            <md-radio-button value="everyone" class="md-primary">Everyone</md-radio-button>

                                            <md-radio-button value="specificCustomers" class="md-primary">Sepecific Customers</md-radio-button>
                                            <md-input-container  placeholder="Enter email address" class="md-no-float md-block" flex="75" ng-if = "storeWide.customerEligibility == 'specificCustomers'">
                                                <input md-maxlength="30" maxlength="30" name="specificCustomersEmail" ng-model="storeWide.specificCustomersEmail">
                                                <button class="check-mark-button">&check;</button>
                                            </md-input-container>
                                        </md-radio-group>
                                        <div  ng-if = "storeWide.specificCustomersEmailList">
                                            <span class="email-group">Rakitha@gmail.com <span>&cross;</span></span>
                                        </div>
                                    </fieldset>



                                    <fieldset>
                                        <label>Usage Limits</label><br>
                                        <md-checkbox  aria-label="Limit code usage" ng-model="storeWide.isLimitNumberOfTime">
                                            <label>Limit number of times code can be used</label>
                                        </md-checkbox>
                                        <md-input-container placeholder="Limit" ng-if ="storeWide.isLimitNumberOfTime" class="md-no-float md-block" flex="75">
                                            <input md-maxlength="15" maxlength="15"  ng-required="true" name="limitNumberOfTime" ng-model="storeWide.limitNumberOfTime">
                                            <div ng-messages="storeWideForm.limitNumberOfTime.$error" ng-show="storeWideForm.limitNumberOfTime.$dirty">
                                                <div ng-message="required">Limit is required.</div>
                                                <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                            </div>
                                        </md-input-container>
                                        <md-checkbox  aria-label="Limit user" ng-model="storeWide.isLimitUsers">
                                            <label>Limit one use per customer</label>
                                        </md-checkbox>
                                        <!--<md-input-container  ng-if ="storeWide.isLimitUsers" class="md-block" flex="50">-->
                                        <!--<input  md-maxlength="15" maxlength="15"  ng-required="true" name="Limit users" ng-model="storeWide.limitUsers">-->
                                        <!--<div ng-messages="storeWideForm.limitUsers.$error" ng-show="storeWideForm.limitUsers.$dirty">-->
                                        <!--<div ng-message="required">Limit Users is required.</div>-->
                                        <!--<div ng-message="md-maxlength">The name must be less than 15 characters long.</div>-->
                                        <!--</div>-->
                                        <!--</md-input-container>-->
                                    </fieldset>


                                    <fieldset>
                                        <!--<md-checkbox  aria-label="TnC" ng-model="storeWide.isTermsAndCondition">-->
                                            <!--<label>Terms and conditions</label>-->
                                        <!--</md-checkbox>-->
                                        <label>Terms and conditions</label>
                                        <fieldset>
                                            <textarea type="text" class="input-shadow-border" name="TnC" ng-model="storeWide.termsAndCondition" ></textarea>
                                        </fieldset>
                                    </fieldset>



                                </div>
                            </div>
                            <div class="md-dialog-buttons">
                                <div class="inner-section">
                                    <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                    <md-button class="me-default-button" ng-disabled="storeWideForm.$invalid"
                                               ng-click="saveSalesAndPromotion(storeWide,'storeWide')">Save
                                    </md-button>
                                </div>
                            </div>
                        </form>
                    </md-content>
                </md-tab-body>
            </md-tab>

             Minimum Order Value Content
            <md-tab >
                <md-tab-label>Minimum Order Value</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Minimum Order Value</h1>
                    </div>
                    <md-content layout-padding>
                        <form name="minimumOrderValueForm">
                            <div class="md-dialog-main">
                                <div class="clearfix">

                                    <md-radio-group ng-model="minimumOrderValue.discountType">

                                        <md-radio-button value="discountValue" class="md-primary">Discount Value</md-radio-button>
                                        <md-radio-button value="discountPercentage" class="md-primary">Discount %</md-radio-button>
                                        <md-radio-button value="freeShipping" class="md-primary">Free Shipping</md-radio-button>

                                    </md-radio-group>

                                    <md-input-container class="md-block">
                                        <label>Name</label>
                                        <input md-maxlength="15"  ng-required="true" name="name" ng-model="minimumOrderValue.name">
                                        <div ng-messages="minimumOrderValueForm.name.$error" ng-show="minimumOrderValueForm.name.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex="50">
                                        <label>Minimum Order Value</label>
                                        <input md-maxlength="15"  ng-required="true" name="name" ng-model="minimumOrderValue.minimumOderValue">
                                        <div ng-messages="minimumOrderValueForm.minimumOderValue.$error"
                                             ng-show="minimumOrderValueForm.minimumOderValue.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="50">
                                        <label>Discount</label>
                                        <input md-maxlength="15"  ng-required="true" name="name" ng-model="minimumOrderValue.discount">
                                        <div ng-messages="minimumOrderValueForm.discount.$error" ng-show="minimumOrderValueForm.discount.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                        </div>
                                    </md-input-container>

                                    <fieldset>
                                        <label>Date</label>
                                    </fieldset>
                                    <div class="row">
                                        <adm-dtp ng-model='minimumOrderValue.dateFrom' options='{calType: "gregorian", default: today}' class="col-md-5"></adm-dtp>

                                        <label class="col-md-2 text-center">To</label>

                                        <adm-dtp ng-model='minimumOrderValue.dateTo' options='{calType: "gregorian", default: today}' class="col-md-5"></adm-dtp>
                                    </div>
                                    <br>
                                    <fieldset >
                                            <md-checkbox  aria-label="Limit user" ng-model="minimumOrderValue.isLimitUsers">
                                                <label>Limit users</label>
                                            </md-checkbox>
                                            <md-input-container ng-if="minimumOrderValue.isLimitUsers" class="md-block" flex="50">
                                                <input md-maxlength="15" maxlength="15"  ng-required="true" name="Limit users" ng-model="minimumOrderValue.limitUsers">
                                                <div ng-messages="minimumOrderValueForm.limitUsers.$error" ng-show="minimumOrderValueForm.limitUsers.$dirty">
                                                    <div ng-message="required">Limit Users is required.</div>
                                                    <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                                </div>
                                            </md-input-container>
                                    </fieldset>
                                    <fieldset  >
                                        <md-checkbox  aria-label="Limit code usage" ng-model="minimumOrderValue.isLimitNumberOfTime">
                                            <label>Limit number of times code can be used</label>
                                        </md-checkbox>
                                        <md-input-container ng-if="minimumOrderValue.isLimitNumberOfTime" class="md-block" flex="50">
                                            <input md-maxlength="15" maxlength="15"  ng-required="true" name="Limit users" ng-model="minimumOrderValue.limitNumberOfTime">
                                            <div ng-messages="minimumOrderValueForm.limitNumberOfTime.$error" ng-show="minimumOrderValueForm.limitUsers.$dirty">
                                                <div ng-message="required">Limit Users is required.</div>
                                                <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                            </div>
                                        </md-input-container>
                                    </fieldset>
                                    <fieldset  >
                                        <md-checkbox  aria-label="TnC" ng-model="minimumOrderValue.isTermsAndCondition">
                                            <label>Terms and conditions</label>
                                        </md-checkbox>
                                        <fieldset ng-if="minimumOrderValue.isTermsAndCondition" ><!--ng-if="data.cb5"-->
                                            <textarea type="text" class="input-shadow-border" name="TnC" ng-model="minimumOrderValue.termsAndCondition" required ></textarea>
                                        </fieldset>
                                    </fieldset>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <md-input-container class="md-block">
                                                <label>Promo Code</label>
                                                <input md-maxlength="15" maxlength="15"  ng-required="true" name="name" ng-model="minimumOrderValue.promoCode">
                                                <div ng-messages="minimumOrderValueForm.promoCode.$error" ng-show="minimumOrderValueForm.promoCode.$dirty">
                                                    <div ng-message="required">promoCode is required.</div>
                                                    <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2 text-center margin">
                                            <label>or</label>
                                        </div>
                                        <div class="col-md-5 margin">
                                            <button class="btn-material">Genarate Code</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="md-dialog-buttons">
                                <div class="inner-section">
                                    <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                    <md-button class="me-default-button" ng-disabled="minimumOrderValueForm.$invalid " ng-click="saveSalesAndPromotion(minimumOrderValue,'minimumOrderValue')">Save</md-button>
                                </div>
                            </div>
                        </form>
                    </md-content>
                </md-tab-body>
            </md-tab>

            <md-tab >
                <md-tab-label>Category Wide</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Category Wide</h1>
                    </div>
                    <md-content layout-padding>
                        <form name="categoryWideForm">
                            <div class="md-dialog-main">
                                <div class="clearfix">

                                    <md-radio-group ng-model="categoryWide.discountType">

                                        <md-radio-button value="discountValue" class="md-primary">Discount Value</md-radio-button>
                                        <md-radio-button value="discount" class="md-primary">Discount %</md-radio-button>

                                    </md-radio-group>

                                    <md-input-container class="md-block">
                                        <label>Name</label>
                                        <input md-maxlength="15"  maxlength="15" ng-required="true" name="name" ng-model="categoryWide.name">
                                        <div ng-messages="categoryWideForm.name.$error" ng-show="categoryWideForm.name.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex="50">
                                        <label>Select Category</label>
                                        <md-select
                                                placeholder="Select Category"
                                                ng-model="categoryWide.category">
                                            <md-option ng-value="cat.id" ng-repeat="cat in categories">{{cat.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex="50">
                                        <label>Discount</label>
                                        <input md-maxlength="15" maxlength="15"  ng-required="true" name="name" ng-model="categoryWide.discount">
                                        <div ng-messages="categoryWideForm.discount.$error" ng-show="categoryWideForm.discount.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                        </div>
                                    </md-input-container>

                                    <fieldset>
                                        <label>Date</label>
                                    </fieldset>
                                    <div class="row">
                                        <adm-dtp ng-model='categoryWide.dateFrom' options='{calType: "gregorian", default: today}' class="col-md-5"></adm-dtp>

                                            <label class="col-md-2 text-center">To</label>

                                        <adm-dtp ng-model='categoryWide.dateTo' options='{calType: "gregorian", default: today}' class="col-md-5"></adm-dtp>
                                    </div>
                                    <br>
                                    <fieldset >
                                            <md-checkbox  aria-label="Limit user" ng-model="categoryWide.isLimitUsers">
                                                <label>Limit users</label>
                                            </md-checkbox>
                                            <md-input-container ng-if="categoryWide.isLimitUsers" class="md-block" flex="50">
                                                <input md-maxlength="15"  maxlength="15" ng-required="true" name="Limit users" ng-model="categoryWide.limitUsers">
                                                <div ng-messages="categoryWideForm.limitUsers.$error" ng-show="categoryWideForm.limitUsers.$dirty">
                                                    <div ng-message="required">Limit Users is required.</div>
                                                    <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                                </div>
                                            </md-input-container>
                                    </fieldset>
                                    <fieldset  >
                                        <md-checkbox  aria-label="Limit code usage" ng-model="categoryWide.isLimitNumberOfTime">
                                            <label>Limit number of times code can be used</label>
                                        </md-checkbox>
                                        <md-input-container  ng-if="categoryWide.isLimitNumberOfTime" class="md-block" flex="50">
                                            <input md-maxlength="15" maxlength="15"  ng-required="true" name="Limit users" ng-model="categoryWide.limitNumberOfTime">
                                            <div ng-messages="categoryWideForm.limitNumberOfTime.$error" ng-show="categoryWideForm.limitNumberOfTime.$dirty">
                                                <div ng-message="required">Limit Users is required.</div>
                                                <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                            </div>
                                        </md-input-container>
                                    </fieldset>
                                    <fieldset  >
                                        <md-checkbox  aria-label="TnC" ng-model="categoryWide.isTermsAndCondition">
                                            <label>Terms and conditions</label>
                                        </md-checkbox>
                                        <fieldset ng-if="categoryWide.isTermsAndCondition" ><!--ng-if="data.cb5"-->
                                            <textarea type="text" class="input-shadow-border" name="TnC" ng-model="categoryWide.termsAndCondition" required ></textarea>
                                        </fieldset>
                                    </fieldset>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <md-input-container class="md-block">
                                                <label>Promo Code</label>
                                                <input md-maxlength="15" maxlength="15"  ng-required="true" name="name" ng-model="categoryWide.promoCode">
                                                <div ng-messages="categoryWideForm.promoCode.$error" ng-show="categoryWideForm.promoCode.$dirty">
                                                    <div ng-message="required">promoCode is required.</div>
                                                    <div ng-message="md-maxlength">The promoCode must be less than 15 characters long.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-2 text-center margin">
                                            <label>or</label>
                                        </div>
                                        <div class="col-md-5 margin">
                                            <button class="btn-material">Genarate Code</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="md-dialog-buttons">
                                <div class="inner-section">
                                    <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                    <md-button class="me-default-button" ng-disabled="categoryWideForm.$invalid "
                                               ng-click="saveSalesAndPromotion(categoryWide,'categoryWide')">Save
                                    </md-button>
                                </div>
                            </div>
                        </form>
                    </md-content>
                </md-tab-body>
            </md-tab>

                        <!-- Single Product Content-->
           <md-tab >
                <md-tab-label>Single Product</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Single Product</h1>
                    </div>
                    <md-content layout-padding>
                        <form name="singleProductForm">
                            <div class="md-dialog-main">
                                <div class="clearfix">

                                    <md-radio-group ng-model="singleProduct.discountType" required >

                                        <md-radio-button value="discountValue" class="md-primary">Discount Value</md-radio-button>
                                        <md-radio-button value="discount" class="md-primary">Discount %</md-radio-button>

                                    </md-radio-group>

                                    <md-input-container class="md-block">
                                        <label>Name</label>
                                        <input md-maxlength="15" maxlength="15" ng-required="true" name="name" ng-model="singleProduct.name">
                                        <div ng-messages="singleProductForm.name.$error" ng-show="singleProductForm.name.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                        </div>
                                    </md-input-container>

                                    <fieldset class="row" ng-if = "array.length > 0">
                                        <div class="col-md-6 country-list">
                                            <label>Select Products</label>
                                            <br>
                                            <md-checkbox aria-label="Select All"
                                                         ng-checked="isChecked(selectAll)"
                                                         ng-model = "selectAll"
                                                         md-indeterminate="isIndeterminate()"
                                                         ng-click="toggleAll()">
                                                <span ng-if="isChecked()">Un-</span>Select All
                                            </md-checkbox>

                                            <div ng-repeat="oneProduct in array | orderBy:'name'"
                                                 ng-model="product"  >
                                                <md-checkbox ng-checked="exists(oneProduct, selected)"
                                                             ng-click="toggle(oneProduct, selected)"
                                                             aria-label="oneProduct name" >
                                                    {{oneProduct.name}}<br>
                                                    {{oneProduct.sku}}<br>
                                                    <div ng-repeat="select in oneProduct.selection">
                                                        {{select.name}} - {{select.vType}}
                                                    </div>
                                                </md-checkbox>
                                            </div>
                                        </div>
                                        <div class="col-md-6 country-list">
                                            <label>Selected</label>
                                            <div ng-if ="IsSingleSelection === false" class="md-label" ng-repeat="product in selected">
                                                <!--<span>{{product.name}}</span>-->
                                                <md-checkbox ng-checked="exists(product, selected)"
                                                             ng-click="toggle(product, selected)"
                                                             aria-label="product name" >
                                                    {{product.name}}<br>
                                                    {{product.sku}}<br>
                                                    <div ng-repeat="select in product.selection">
                                                        {{select.name}} - {{select.vType}}
                                                    </div>
                                                </md-checkbox>
                                            </div>
                                            <div ng-if ="IsSingleSelection" class="md-label" ng-repeat="product in selected">
                                               <!-- <span>{{product.name}}</span>-->
                                                <md-checkbox ng-checked="exists(product, selected)"
                                                             ng-click="toggle(product, selected)"
                                                             aria-label="oneProduct.name" >
                                                    {{product.name}}<br>
                                                    {{product.sku}}<br>
                                                    <div ng-repeat="select in product.selection">
                                                        {{select.name}} - {{select.vType}}
                                                    </div>
                                                </md-checkbox>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset ng-if="array.length == 0">
                                        <label> There are no Products left.</label><br><br>
                                    </fieldset>

                                    <md-input-container class="md-block" flex="50" ng-if = "singleProduct.discountType == 'discountValue'">
                                        <label>Discount</label>
                                        <input  md-maxlength="15" maxlength="15"  ng-required="true" name="discount" ng-model="singleProduct.discount">
                                        <div ng-messages="singleProductForm.discount.$error" ng-show="singleProductForm.discount.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="50" ng-if = "singleProduct.discountType == 'discount'">
                                        <label>Discount</label>
                                        <input md-maxlength="2" maxlength ="2" ng-pattern="/^100$|^\d{0,2}(\.\d{1,2})? *%?$/"  ng-required="true" name="discountPercent" ng-model="singleProduct.discountPercent">
                                        <div ng-messages="singleProductForm.discountPercent.$error" ng-show="singleProductForm.discount.$dirty">
                                            <div ng-message="required">Name is required.</div>
                                        </div>
                                        <span class="error" ng-show="singleProductForm.discountPercent.$error.pattern">Enter a valid value</span>
                                    </md-input-container>

                                    <fieldset>
                                        <label>Date</label>
                                    </fieldset>
                                    <div class="row">
                                        <adm-dtp ng-model='singleProduct.dateFrom' options="{default: today,format: 'YYYY/MM/DD',default: today}" class="col-md-5"></adm-dtp>

                                            <label class="col-md-2 text-center">To</label>

                                        <adm-dtp ng-model='singleProduct.dateTo' options='{calType: "gregorian",format: "YYYY/MM/DD", default: today}' class="col-md-5"></adm-dtp>
                                    </div>
                                    <br>
                                    <fieldset >
                                            <md-checkbox  aria-label="Limit user" ng-model="singleProduct.isLimitUsers">
                                                <label>Limit users</label>
                                            </md-checkbox>
                                            <md-input-container ng-if="singleProduct.isLimitUsers" class="md-block" flex="50">
                                                <input md-maxlength="15" maxlength="15"  ng-required="true" name="Limit users" ng-model="singleProduct.limitUsers">
                                                <div ng-messages="singleProductForm.limitUsers.$error" ng-show="singleProductForm.limitUsers.$dirty">
                                                    <div ng-message="required">Limit Users is required.</div>
                                                    <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                                </div>
                                            </md-input-container>
                                    </fieldset>
                                    <fieldset  >
                                        <md-checkbox  aria-label="Limit code usage" ng-model="singleProduct.isLimitNumberOfTime">
                                            <label>Limit number of times code can be used</label>
                                        </md-checkbox>
                                        <md-input-container ng-if="singleProduct.isLimitNumberOfTime" class="md-block" flex="50">
                                            <input md-maxlength="15" maxlength="15"  ng-required="true" name="Limit users" ng-model="singleProduct.limitNumberOfTime">
                                            <div ng-messages="singleProductForm.limitNumberOfTime.$error" ng-show="singleProductForm.limitNumberOfTime.$dirty">
                                                <div ng-message="required">Limit Users is required.</div>
                                                <div ng-message="md-maxlength">The name must be less than 15 characters long.</div>
                                            </div>
                                        </md-input-container>
                                    </fieldset>
                                    <fieldset  >
                                        <md-checkbox  aria-label="TnC" ng-model="singleProduct.isTermsAndCondition">
                                            <label>Terms and conditions</label>
                                        </md-checkbox>
                                        <fieldset ng-if="singleProduct.isTermsAndCondition" ><!--ng-if="data.cb5"-->
                                            <textarea type="text" class="input-shadow-border" name="TnC" ng-model="singleProduct.termsAndCondition" required ></textarea>
                                        </fieldset>
                                    </fieldset>


                                    <div class="row">
                                        <div class="col-md-5">
                                            <md-input-container class="md-block">
                                                <label>Promo Code</label>
                                                <input md-maxlength="15" maxlength="15" ng-required="true" name="name" ng-model="singleProduct.promoCode">
                                                <div ng-messages="singleProductForm.promoCode.$error" ng-show="singleProductForm.promoCode.$dirty">
                                                    <div ng-message="required">promoCode is required.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <!--<div class="col-md-2 text-center margin">-->
                                            <!--<label>or</label>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-5 margin">-->
                                            <!--<button class="btn-material">Genarate Code</button>-->
                                        <!--</div>-->
                                    </div>

                                </div>
                            </div>
                            <div class="md-dialog-buttons">
                                <div class="inner-section">
                                    <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                    <md-button class="me-default-button" ng-disabled="singleProductForm.$invalid || !singleProduct.dateFrom || !singleProduct.dateTo || array.length == 0" ng-click="saveSalesAndPromotion(singleProduct,'singleProduct',selected)">Save</md-button>
                                </div>
                            </div>
                        </form>
                    </md-content>
                </md-tab-body>
            </md-tab>

        </md-tabs>
    </md-dialog-content>

</md-dialog>