<md-dialog aria-label="Sales & Promotions" >

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'show-sales-and-promotions');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>Sales & Promotions</h1>
            <ul class="md-dialog-header-nav clearfix">
                <li>
                    <a class="add-new-item" ng-click="addNewSalesAndPromotions()">Add new</a>
                </li>
            </ul>
        </div>
        <div class="md-dialog-main clearfix">

            <table class="me-simple-table">
                <thead>
                <th class="simple-column">Name</th>
                <th class="simple-column">Order type</th>
                <th class="simple-column">Status</th>
                <th class="simple-column">Used</th>
                <th class="simple-column">Discount</th>
                <th class="simple-column">Date</th>
                <th class="simple-column">edit</th>
                <th class="simple-column">delete</th>
                </thead>
                <tbody>
                <tr ng-repeat="salesAndPromotion in salesAndPromotionList">
                    <td>{{salesAndPromotion.name}}</td>
                    <td>{{salesAndPromotion.salesAndPromotionType}}</td>
                    <td>{{salesAndPromotion.status}}</td>
                    <td ng-if="salesAndPromotion.isLimitNumberOfTime && !salesAndPromotion.isLimitUsers">{{salesAndPromotion.used || '0'}}/{{salesAndPromotion.limitNumberOfTime || '0'}}</td>
                    <td ng-if="!salesAndPromotion.isLimitNumberOfTime && salesAndPromotion.isLimitUsers">{{salesAndPromotion.used || '0'}}/{{salesAndPromotion.limitUsers || '0'}}</td>
                    <td ng-if="salesAndPromotion.isLimitNumberOfTime && salesAndPromotion.isLimitUsers">{{salesAndPromotion.used || '0'}}/{{salesAndPromotion.limitNumberOfTime || '0'}}</td>
                    <td ng-if="!salesAndPromotion.isLimitNumberOfTime && !salesAndPromotion.isLimitUsers">{{salesAndPromotion.used || '0'}}</td>
                    <td ng-if = "salesAndPromotion.discountType == 'discount'">{{salesAndPromotion.discountPercent}} %</td>
                    <td ng-if = "salesAndPromotion.discountType == 'discountValue'">{{salesAndPromotion.discount}}</td>
                    <td ng-if="salesAndPromotion.dateFrom">{{salesAndPromotion.dateFrom | date : "dd.MM.y"}} to  {{salesAndPromotion.dateTo | date : "dd.MM.y"}}</td>
                    <td ng-if="!salesAndPromotion.dateFrom">-</td>
                    <td><img width="25" src="../../../images/edit-icon.svg" ng-click="editShippingInfo(salesAndPromotion)"></td>
                    <td><img width="25" src="../../../images/delete-icon.svg" ng-click="deleteShippingInfo($index,salesAndPromotion)"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel('manage view')">Close</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>