<md-dialog aria-label="Push Message" style="width: 1000px">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'view-push-message');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>push messages</h1>
            <ul class="md-dialog-header-nav clearfix">
                <li>
                    <a class="add-new-item" ng-click="sendPushMessage()">Add New Message</a>
                </li>
                <li class="pull-right">
                    <table>
                        <tr>
                            <td style="vertical-align:bottom">
                                <input class="edit-display-prop custom-file-input pull-left" style="width:100%; display:inherit !important; font-size:9pt;" ng-model="data.file" type = "file" accept=".csv" file-model = "myFile"/>
                            </td>
                            <td>
                                <!--<input class="custom-file-input  pull-left" ng-model="data.file" type = "file" accept=".csv" file-model = "myFile"/>-->
                                <button class="btn-material pull-right"  ng-click = "uploadFile()">UPLOAD CSV FILE</button>
                            </td>
                        </tr>
                        <tr>
                            <!--<fieldset>-->
                                <!--<md-radio-group ng-model='scheduleType' layout="row">-->
                                    <!--<md-radio-button value="A">All Users</md-radio-button>-->
                                    <!--<md-radio-button value="I">Inactive Users </md-radio-button>-->
                                <!--</md-radio-group>-->
                            <!--</fieldset>-->
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a style="padding:0 5% !important;" href=""  ng-click = "downLoadSampleFile()">Download csv template</a>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div class="md-dialog-main">
            <table class="me-checkbox-table">
                <thead>
                    <!--<th class="checkbox-column"><input type="checkbox" /></th>-->
                    <th size="10%">date</th>
                    <th size="50%">message</th>
                    <th size="10%">status</th>
                    <th size="15%">scheduled</th>
                    <th size="15%">Action</th>
                </thead>
                <tbody>
                <tr ng-repeat="data in pushedMessages">
                    <!--<td class="checkbox-row"><input type="checkbox" /></td>-->
                    <td size="10%" ng-model="data.createdDate">{{data.createdDate}}</td>
                    <td size="50%" ng-model="data.message">{{data.message}}</td>
                    <td size="10%" ng-model="data.status" ng-class="{'status-sent': data.status == 'sent', 'status-pending': data.status == 'pending'}">{{data.status}}</td>
                    <td size="15%" ng-model="data.date">{{data.date}}</td>
                    <td size="15%" ng-model="data.id"><a href=""   ng-click = "edit(data)">Edit</a>/<a href=""
                                                         ng-click = "delete(data)">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>

                </div>
            </div>
        </div>

    </md-dialog-content>
</md-dialog>