 <md-dialog aria-label="Push Message Send">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'new-push-message');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>push message</h1>
        </div>

        <div class="md-dialog-main">
            <fieldset>
                <md-radio-group ng-model='pushMessage.type' layout="row">
                    <md-radio-button value="A">All Users</md-radio-button>
                    <md-radio-button value="I">Inactive Users </md-radio-button>
                   <!-- (Who have not used the app for more than 2 days)-->
                </md-radio-group>
            </fieldset>

            <fieldset>
                <label>Message</label>
                <textarea class="input-shadow-border" ng-model="pushMessage.message" rows="3"></textarea>
            </fieldset>
            <fieldset class="text-right">
                <md-button class="me-default-button" ng-click="sendMsgNow(pushMessage)">send message now</md-button>
            </fieldset>
            <hr />

            <fieldset>
                <md-checkbox type="checkbox" ng-model="linkArticle" value="" ng-change="clearArticle(linkArticle)" >
                    LINK AN ARTICLE
                </md-checkbox>
            </fieldset>

            <md-select class="" placeholder="Select Article" ng-model="pushMessage.article" ng-model-options="{trackBy: '$value.id'}" required>
                <md-option ng-value="v" ng-repeat="v in linkedArticles ">{{v.title}}
                </md-option>
                <!--// create new catergory-->
                <!--<md-option ng-click="newcategory ()">Create New Category</md-option>-->
            </md-select>
                <!--<select ng-disabled = "!linkArticle" class="input-shadow-border" ng-model="pushMessage.article" ng-options="v.title for v in articles" ng-change="changeArticleCat(dummyCat.id)"-->
                        <!--required>-->
                <!--</select>-->
            <hr />
            <fieldset>
                <label>Schedule Message</label>
            </fieldset>
            <div class="clearfix">
                <adm-dtp ng-model='pushMessage.date' on-datechange="dateChanged(date)" options='{multiple:false,default: today,format: "DD/MM/YY hh:mm"}'></adm-dtp>
               <!-- <input type="date" ng-model='pushMessage.date'>-->
            </div>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="back()">cancel</md-button>
                <md-button class="me-default-button" ng-click="save(pushMessage)">save</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>