<div class="bloc main-navigation d-bloc" id="bloc-0">
  <div class="container bloc-sm">
    <nav class="navbar row">
      <div class="navbar-header">
        <a class="navbar-brand">
          <span class="special-tag-for-editing-text-with-html"></span>
          <img src="./assets/images/logo.png?dummy={{dummy}}" alt="logo" />
        </a>
        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-1">
        <ul class="site-navigation nav navbar-nav">
          <li>
            <a (click)="navigate('')">Home

            </a>
          </li>
           <li>
            <a (click)="navigate('contact', 'Contact Us')">Contact Us
            </a>
          </li>
           <li>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About
              <span class="caret"></span></a>
              <ul class="dropdown-menu  main-navigation"  role="menu">
                <li>
                  <a class="nav-link" (click)="navigate('aboutus','About Us')">About Us</a>
                </li>
                 <li>
                  <a class="nav-link" (click)="navigate('policies', 'Policies')">Policies</a>
                </li>
                <li>
                  <a class="nav-link" (click)="navigate('terms', 'Terms & Conditions')">Terms & Conditions</a>
                </li>
              </ul>
            </div>
          </li>

          <li  *ngIf="loginStatus">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account
              <span class="caret"></span></a>
              <ul class="dropdown-menu main-navigation"  role="menu">
                <li>
                  <a (click)="navigate('order-history','Order History')">Order History</a>
                </li>
                 <li>
                  <a (click)="navigate('appUser','My Account')">My Account</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a *ngIf="loginStatus" (click)="logout()">
              <span class="ion ion-log-out icon-md"></span>
            </a>
          </li>
          <li>
            <a *ngIf="!loginStatus" (click)="navigate('login/home')">
              <span class="ion ion-log-in icon-md"></span>
            </a>
          </li>
          <li>
            <a (click)="navigate('cart', 'Shopping Cart')">
              <span class="ion ion-android-cart icon-md"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>