<header>
  <div class="bloc main-navigation" id="bloc-0">
    <div class="container bloc-sm">
      <nav class="navbar row">
           <div class="navbar-header">
            <a class="navbar-brand  hidden-xs hidden-sm">
              <span class="special-tag-for-editing-text-with-html"></span>
              <img src="{{imageUrl}}/logo.png&dummy={{dummy}}" alt="logo" (click)="navigate('','')"/>
            </a>
            <a aria-label="menu" id="nav-toggle" class="pull-left ui-navbar-toggle navbar-toggle main-navigation" data-toggle="collapse" data-target=".navbar-2">
              <i class="fa fa-bars"></i>
            </a>
            <a *ngIf="title != 'Home'" aria-label="menu" id="nav-toggle"  class="pull-left ui-navbar-toggle navbar-toggle main-navigation" (click)="goBack()">
              <i class="fa fa-arrow-left"></i>
            </a>
            <div class="mobile-title visible-xs  visible-sm mobileTitle" >{{title}}</div>
            <div class="mobile-cart visible-xs visible-sm" ><i class="fa fa-shopping-cart"  (click)="navigate('cart','Shopping Cart');manualToggle()"></i> <span class="badge main-navigation"  (click)="navigate('cart','Shopping Cart');manualToggle()">{{cartNo}}</span></div>
          </div>
        <div class="collapse navbar-collapse navbar-1 hidden-xs  hidden-sm">
          <ul class="site-navigation nav navbar-nav">
            <li>
              <a (click)="navigate('','')">Home

              </a>
            </li>
              <li>
                  <div class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories
                          <span class="caret"></span></a>
                      <ul class="dropdown-menu  main-navigation"  role="menu">
                          <li *ngFor="let mainCat of categories">
                              <a class="nav-link"  [routerLink]="['']" [queryParams]="{ id:mainCat.id}">{{mainCat.name}}</a>
                          </li>
                      </ul>
                  </div>
              </li>
             <li *ngIf="showOnWebsiteContact">
              <a (click)="navigate('contact', 'Contact Us')">Contact Us
              </a>
            </li>
              <li *ngIf = "enableBlog" >
                  <a (click)="navigate('blogs', 'blogs')">Blog</a>
              </li>
             <li *ngIf="showOnWebsiteAbout || showOnWebsitePolicies">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About
                <span class="caret"></span></a>
                <ul class="dropdown-menu  main-navigation"  role="menu">
                  <li *ngIf="showOnWebsiteAbout">
                    <a class="nav-link" (click)="navigate('aboutus','About Us')">About Us</a>
                  </li>
                   <li *ngIf="showOnWebsitePolicies">
                    <a class="nav-link" (click)="navigate('policies', 'Policies')">Policies</a>
                  </li>
                  <li *ngIf="showOnWebsitePolicies">
                    <a class="nav-link" (click)="navigate('terms', 'Terms & Conditions')">Terms & Conditions</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="feather-icon icon-head icon-sm"></span>
                <span class="caret"></span></a>
                <ul class="dropdown-menu  main-navigation"  role="menu">
                  <li *ngIf="loginStatus">
                    <a   (click)="logout()">Sign Out</a>
                  </li>
                  <li *ngIf="!loginStatus">
                    <a  (click)="navigate('login/home')">Sign In</a>
                  </li>
                  <li  *ngIf="loginStatus">
                    <a (click)="navigate('order-history','Order History')">Order History</a>
                  </li>
                  <li  *ngIf="loginStatus">
                    <a (click)="navigate('appUser','My Account')">My Account</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a (click)="navigate('shop','Search')"><span class="ion ion-search icon-sm"></span></a>
            </li>
            <li>
              <a (click)="navigate('cart', 'Shopping Cart')">
                <span class="fa fa-cart-arrow-down icon-sm"></span>
                {{cartNo}}
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse navbar-2">

          <ul class="site-navigation nav navbar-nav  hidden-lg hidden-md">
              <li>
                <a  data-toggle="collapse" data-target=".navbar-2"  (click)="navigate('','Home')">Home

                </a>
              </li>
               <li>
                <a  data-toggle="collapse" data-target=".navbar-2"  (click)="navigate('contact', 'Contact Us')">Contact Us
                </a>
              </li>
              <li>
                  <a  data-toggle="collapse" data-target=".navbar-2" *ngIf = "enableBlog" (click)="navigate('blogs', 'blogs')">Blog</a>
              </li>
               <li>
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu  main-navigation"  role="menu">
                    <li>
                      <a  data-toggle="collapse" data-target=".navbar-2"  class="nav-link" (click)="navigate('aboutus','About Us')">About Us</a>
                    </li>
                     <li>
                      <a  data-toggle="collapse" data-target=".navbar-2"  class="nav-link" (click)="navigate('policies', 'Policies')">Policies</a>
                    </li>
                    <li>
                      <a  data-toggle="collapse" data-target=".navbar-2"  class="nav-link" (click)="navigate('terms', 'Terms & Conditions')">Terms & Conditions</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu  main-navigation"  role="menu">
                    <li data-toggle="collapse" data-target=".navbar-2" *ngIf="loginStatus">
                      <a   (click)="logout()">Sign Out</a>
                    </li>
                    <li data-toggle="collapse" data-target=".navbar-2" *ngIf="!loginStatus">
                      <a  (click)="navigate('login/home')">Sign In</a>
                    </li>
                    <li data-toggle="collapse" data-target=".navbar-2"  *ngIf="loginStatus">
                      <a (click)="navigate('order-history','Order History')">Order History</a>
                    </li>
                    <li data-toggle="collapse" data-target=".navbar-2"  *ngIf="loginStatus">
                      <a (click)="navigate('appUser','My Account')">My Account</a>
                    </li>
                  </ul>
                </div>
              </li>
               <li class="logo">
                  <a data-toggle="collapse" data-target=".navbar-2" class="text-center" (click)="navigate('','Home')">
                    <img src="{{imageUrl}}/logo.png&dummy={{dummy}}" width="150px">
                  </a>
                </li>
            </ul>
        </div>
      </nav>
    </div>
  </div>
</header>