<!-- <div class="page-container"> -->

<!-- bloc-1 -->

<!--   <div class="bloc bgc-white l-bloc main-navigation" id="bloc-1">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button aria-label="menu" id="nav-toggle" type="button" class="pull-left ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-2">
            <i class="fa fa-bars"></i>
          </button>
          <div class="mobile-title visible-xs mobileTitle" >{{title}}</div>
          <div class="mobile-cart visible-xs" ><i class="fa fa-shopping-cart"  (click)="navigate('cart','Shopping Cart');manualToggle()"></i> <span class="badge main-button"  (click)="navigate('cart','Shopping Cart');manualToggle()">{{cartNo}}</span></div>
        </div>
        <div class="navbar-1">
          <ul class="site-navigation nav navbar-nav">
            <li>
              <a class="navbar-brand"  (click)="navigate('')"><img width="100%" src="assets/images/logo.png?dummy={{dummy}}"></a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('')">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a class="nav-link" (click)="navigate('aboutus')">About Us</a>
                </li>
                 <li>
                  <a class="nav-link" (click)="navigate('policies')">Policies</a>
                </li>
                <li>
                  <a class="nav-link" (click)="navigate('terms')">Terms & Conditions</a>
                </li>
              </ul>
            </li>
            <li class="dropdown" *ngIf="loginStatus">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li *ngIf="loginStatus">
                  <a class="nav-link" (click)="navigate('appUser')">My Account</a>
                </li>
                 <li *ngIf="loginStatus">
                  <a class="nav-link" (click)="navigate('order-history')">Order History</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('contact')">Contact Us</a>
            </li>


            <li>
              <a class="nav-link" (click)="navigate('cart')"><i class="fa fa-shopping-cart" title="Shopping Cart"></i></a>
            </li>
            <li *ngIf="loginStatus">
              <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out" title="Sign out"></i></a>
            </li>
            <li *ngIf="!loginStatus">
              <a class="nav-link" (click)="navigate('login/home')"><i title="Sign in" class="fa fa-sign-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse navbar-2">
          <ul class="site-navigation nav navbar-nav">
            <li>
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('','Home')">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('aboutus','About Us')">About Us</a>
            </li>
            <li>
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('contact', 'Contact Us')">Contact Us</a>
            </li>
            <li>
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('policies', 'Policies')">Policies</a>
            </li>
            <li>
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('terms', 'Terms & Conditions')">Terms & Conditions</a>
            </li>
            <li *ngIf="loginStatus">
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('order-history','Order History')">Order History</a>
            </li>
            <li>
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('cart', 'Shopping Cart')">Cart</a>
            </li>
            <li *ngIf="loginStatus">
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('appUser','My Account')">My Account</a>
            </li>
            <li *ngIf="loginStatus">
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="logout()">Log Out</a>
            </li>
            <li *ngIf="!loginStatus">
              <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link" (click)="navigate('login/home')">Sign In</a>
            </li>
            <li class="logo">
              <a class="navbar-brand"  (click)="navigate('')"><img width="100%" src="assets/images/logo.png?dummy={{dummy}}"></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div> -->
<!-- bloc-1 END -->

<!-- ScrollToTop Button -->
<!--  <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
    <span class="fa fa-chevron-up"></span>
  </a> -->
<!-- ScrollToTop Button END-->

<!-- </div> -->
<!-- bloc-2 END -->


<div class="bloc bgc-outer-space d-bloc" id="bloc-0">
  <div class="container bloc-sm">
    <nav class="navbar row">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <span class="special-tag-for-editing-text-with-html"></span>
          <img src="./assets/images/hf_logo__.png" alt="logo" />
        </a>
        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-1">
        <ul class="site-navigation nav navbar-nav">
          <li>
            <a (click)="navigate('')">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a (click)="navigate('contact', 'Contact Us')">Contact Us
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a (click)="navigate('aboutus','About Us')">About Us
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a (click)="navigate('policies', 'Policies')">Policies
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a (click)="navigate('terms', 'Terms & Conditions')">Terms & Conditions
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Category
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Womens
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="index.html">Office Attire</a>
                      </li>
                      <li>
                        <a href="index.html">Summer Collection</a>
                      </li>
                      <li>
                        <a href="cut-sleves.html">Short sleeves</a>
                      </li>
                      <li>
                        <a href="index.html">Formal Wear</a>
                      </li>
                      <li>
                        <a href="index.html">Shoes</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="index.html">Mens</a>
                </li>
                <li>
                  <a href="index.html">Kids</a>
                </li>
                <li>
                  <a href="index.html">Unisex</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a *ngIf="loginStatus" (click)="logout()">
              <span class="ion ion-log-out icon-md"></span>
            </a>
          </li>
          <li>
            <a *ngIf="!loginStatus" (click)="navigate('login/home')">
              <span class="ion ion-log-in icon-md"></span>
            </a>
          </li>
          <li>
            <a (click)="navigate('cart', 'Shopping Cart')">
              <span class="ion ion-android-cart icon-md"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>