<div class="row">
  <div class="col bgc-light">
    <div class="details-content">
      <div class="row mx-0">
        <div class="col-md-4 col-lg-3">
          <div class="row" style="text-align:right;">
            <div class="col"><i class="icon-close float-left cursor-p" data-dismiss="modal" aria-label="Close"></i></div>
          </div>
          <div class="details-card">
            <div class="row">
              <div class="col details-img">
                <img src="assets/img/Play.svg" width="128px"></div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-center details-name">Addie Barton</p>
                <button class="btn btn-primary p-2 mr-2 mb-2 left-button w-50" type="button">Download</button>
              </div>
            </div>
            <div class="row no-gutters border-orange">
              <div class="col-6" style="width:50%;text-align:center;">
                <p class="text-left" style="font-size:12px;margin-top:9px;color:rgba(33,37,41,0.61);">Subscription</p>
              </div>
              <div class="col-6" style="text-align:center;padding-top:4px;">
                <p style="font-size:13px;margin-top:4px;">LKR50/Monthly</p>
              </div>
            </div>
            <div class="row no-gutters border-orange">
              <div class="col-6" style="width:50%;text-align:center;">
                <p class="text-left" style="font-size:12px;margin-top:9px;color:rgba(33,37,41,0.61);">App Creator</p>
              </div>
              <div class="col-6" style="text-align:center;padding-top:4px;">
                <p style="font-size:13px;margin-top:4px;">rakitha@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="padding-right:29px;">
          <p class="text-left" style="margin-top:10px;">Addie Barton</p>
          <p class="text-left" style="font-size:12px;color:rgba(33,37,41,0.58);">As of 2017, text messages are used by youth and adults for personal, family, business and social purposes. Governmental and non-governmental organizations use text messaging for communication between colleagues. In the 2010s, the
            sending of short informal messages has become an accepted part of many cultures, as happened earlier with emailing.[1] This makes texting a quick and easy way to communicate with friends, family and colleagues, including in
            contexts where a call would be impolite or inappropriate (e.g., calling very late at night or when one knows the other person is busy with family or work activities). Like e-mail and voice mail, and unlike calls (in which the
            caller hopes to speak directly with the recipient), texting does not require the caller and recipient to both be free at the same moment; this permits communication even between busy individuals. Text messages can also be used
            to interact with automated systems, for example, to order products or services from e-commerce websites, or to participate in online contests. Advertisers and service providers use direct text marketing to send messages to
            mobile users about promotions, payment due dates, and other notifications instead of using postal mail, email, or voicemail.<br><br><br></p>
          <div>
            <p class="text-left" style="margin-top:10px;">Feature Graphic</p>
            <div class="row">
              <div class="col-md-6 col-lg-8">
                <img src="assets/img/Feature-Graphic.jpg" width="100%" style="padding-right:5px;padding-left:6px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>