<div class="row">
  <div class="col bgc-light">
    <div class="details-content">
      <div class="row mx-0">
        <div class="col-md-4 col-lg-3">
          <div class="row" style="text-align:right;">
            <div class="col"><i class="icon-close float-left cursor-p" data-dismiss="modal" aria-label="Close"></i></div>
          </div>
          <div class="details-card">
            <div class="row">
              <div class="col details-img">
                <img src="{{appIcon}}" width="128px"></div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-center details-name">{{app.appName}}</p>
                <button class="btn btn-primary p-2 mr-2 mb-2 left-button w-50" type="button" (click)="apkDownloadHandler(app)">Download</button>
              </div>
            </div>
            <div class="row no-gutters border-orange">
              <div class="col-6">
                <p class="text-left">Subscription</p>
              </div>
              <div class="col-6">
                <p class="color-default">LKR{{app.operators[0].amount}}/{{app.operators[0].interval}}</p>
              </div>
            </div>
            <div class="row no-gutters border-orange">
              <div class="col-6">
                <p class="text-left">App Creator</p>
              </div>
              <div class="col-6">
                <p class="color-default">{{app.firstName}}{{app.lastName}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="padding-right:29px;">
          <p class="text-left" style="margin-top:10px;">{{app.appName}}</p>
          <p class="text-left details-description">{{app.fullDescription}}<br><br><br></p>
          <div>
            <p class="text-left" style="margin-top:10px;">Feature Graphic</p>
            <div class="row">
              <div class="col-md-6 col-lg-8">
                <img src="{{featuredImage}}" width="100%" style="padding-right:5px;padding-left:6px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>