<header id="mobile">
	<div class="bloc hidden-lg hidden-md l-bloc main-navigation" id="bloc-0">
		<div class="container block-sm">
			<div class="row">
				<div class="col-sm-12">
						<nav class="navbar nav-invert row mini-nav">
							        <div class="navbar-header">

							          <button  aria-label="menu" id="nav-toggle" type="button" class="pull-left ui-navbar-toggle navbar-toggle" (click)="openNav()">
							            <i class="ion ion-android-menu"></i>
							          </button>
										<button *ngIf="title != 'Home'" aria-label="menu" id="nav-toggle" type="button" class="pull-left ui-navbar-toggle navbar-toggle main-navigation" (click)="goBack()">
											<i class="ion-android-arrow-back"></i>
										</button>
							          <div class="mobile-title visible-xs mobileTitle" >{{title}}</div>
							          <div class="mobile-cart visible-xs" ><i class = "ion-android-cart" (click)="navigate('cart','Shopping Cart');manualToggle()"></i> <span class="badge main-navigation"  (click)="navigate('cart','Shopping Cart');manualToggle()">{{cartNo}}</span></div>
							        </div>
						</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<header>
	<div class="bloc  hidden-sm hidden-xs d-bloc main-navigation" id="bloc-0">
		<div class="container bloc-sm">
			<nav class="navbar row">
				<div class="navbar-header">
					<a class="padding-horizontal"  (click)="navigate('','Home')"><img src="{{imageUrl}}/logo.png&dummy={{dummy}}" alt="logo" height="70px" /></a>
				</div>
					<ul class="site-navigation nav navbar-nav">

						<li *ngFor="let featuredCategory of featuredCategories">
							<div class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span>{{featuredCategory.name}}</span>
									<span class="caret"></span>
								</a>
								<ul *ngIf="featuredCategory.childNodes.length > 0" class="dropdown-menu  main-navigation" role="menu">
									<a *ngFor="let childNode of featuredCategory.childNodes" id="{{childNode.id}}" (mouseenter)="appendChildAfter(childNode.id, featuredCategory.id)"
									 [routerLink]="['']" [queryParams]="{ id: childNode.id }">
										<span>{{childNode.name}}</span>
										<span *ngIf="childNode.childNodes.length > 0" class="caret"></span>
									</a>
								</ul>
							</div>
						</li>
						<li>
							<div class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span>{{nonFeaturedDropdownLabel}}</span>
									<span class="caret"></span></a>
								<ul class="dropdown-menu  main-navigation" role="menu">
									<li *ngFor="let nonFeaturedCategory of nonFeaturedCategories">
										<a [routerLink]="['']" [queryParams]="{ id: nonFeaturedCategory.id}">{{nonFeaturedCategory.name}}</a>
									</li>
								</ul>
							</div>
						</li>
						<li *ngIf="showOnWebsitePolicies">
							<a (click)="navigate('aboutus','About Us')">policies</a>
						</li>
						<li *ngIf="showOnWebsiteAbout">
							<a (click)="navigate('aboutus','About Us')">About us</a>
						</li>
						<li *ngIf="showOnWebsiteContact">
							<a  (click)="navigate('contact', 'Contact Us')">Contact us</a>
						</li>
						<li *ngIf = "enableBlog" >
							<a (click)="navigate('blogs', 'blogs')">Blog</a>
						</li>

						<li>
				            <div class="dropdown">
				              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="ion ion-person icon-sm"></span>
				              <span class="caret"></span></a>
				              <ul class="dropdown-menu  main-navigation"  role="menu">
				                <li *ngIf="loginStatus">
				                  <a   (click)="logout()">Log Out</a>
				                </li>
				                <li *ngIf="!loginStatus">
				                  <a  (click)="navigate('login/home')">Login</a>
				                </li>
                        <li *ngIf="!loginStatus">
                          <a  (click)="goToRegister()">Registration</a>
                        </li>
				                <li  *ngIf="loginStatus">
									<a (click)="navigate('order-history','Order History')">Order History</a>
								</li>
								<li  *ngIf="loginStatus">
									<a (click)="navigate('appUser','My Account')">My Account</a>
								</li>
				              </ul>
				            </div>
				        </li>
						<li>
							<a (click)="navigate('shop','Search')"><span class="ion ion-search icon-sm"></span></a>
						</li>
						<li>
							<a (click)="navigate('cart','Shopping Cart')"><span class="ion ion-android-cart icon-sm"></span> {{cartNo}}</a>
						</li>
					</ul>
			</nav>
		</div>
	</div>
</header>


            <!-- Mobile Navigation -->
  <div id="mySidenav" class="sidenav  main-navigation">
    <div  class="closebtn" (click)="closeNav()">&times;</div>
		<a (click)="navigate('','Home');closeNav()">Home</a>
    	<a (click)="navigate('shop','Search')">Products</a>
		<!-- <a (click)="navigate('aboutus','About Us');closeNav()">About-us</a> -->
		<a (click)="navigate('contact', 'Contact Us');closeNav()">Contact us</a>
		<a *ngIf = "enableBlog" (click)="navigate('blogs', 'blogs');closeNav()">Blog</a>
		<a>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Policies<span class="caret"></span></a>
              <ul class="dropdown-menu  main-navigation w-100"  role="menu">
				<li>
					<a (click)="navigate('policies', 'Policies');closeNav()">Privacy Policy</a>
				</li>

				<li>
					<a (click)="navigate('terms', 'Terms & Conditions');closeNav()">Terms & Conditions</a>
				</li>

              </ul>
            </div>
        </a>
		<a (click)="logout();closeNav()" *ngIf="loginStatus">Log Out</a>
        <a (click)="navigate('login/home');closeNav()"  *ngIf="!loginStatus">Sign In</a>
        <a (click)="navigate('order-history','Order History');closeNav()" *ngIf="loginStatus">Order History</a>
		<a (click)="navigate('appUser','My Account');closeNav()" *ngIf="loginStatus">My Account</a>
	<div class="navbar-brand text-center"   (click)="navigate('','Home');closeNav()"><img src="{{imageUrl}}/logo.png&dummy={{dummy}}" width="150"></div>
  </div>
