.mobile-title{
  margin-top: 8px;
  margin-right: 0;
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  margin-left: 0;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.mobile-cart{
  margin-top: 7px;
  margin-right: 0;
  padding: 5px 20px;
  width: 100%;
  text-align: right;
  margin-left: 0;
  position: absolute;
  font-size: 16px;
}

#nav-toggle{
  top:8px;
}
.ui-navbar-toggle{
  z-index: 1;
  font-size: 18px;
}
.navbar-2 ul, .navbar-2 li{
  border: 0;
}

.logo a{
  width: 100%;
}
.logo img{
  margin: auto;
}

ul li a i{
  font-size: 18px;
}


/*side menu animations*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(230, 232, 234, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;
    display: block;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.w-100{
  width:100%;
}

.site-navigation{
   margin-left:150px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.container{
  max-width: 1300px;
}
@media (min-width: 1200px){
  .container {
    width:1200px;
    
  }
}


@media (min-width: 1300px){
  .container {
    width:1300px;
    
  }
}
