<div class="mdapp-wrapper" ng-class="{menuCollapsed : expand}" >
    <div class="header-beta">We are currently in open beta and you could experience minor issues,
        please do give us feedback on issues and any suggestions to help us improve the system.
        You can contact us on support@otenro.com</div>
    <div class="mdapp-nav">
        <a href="javascript:void(0);" ng-click='clicked()' class="area-expander">
            <img src="images/menu-icon.png" alt="Menu Icon" />
        </a>
        <obl-framework subtitle="ME" icon-file="" class="navigation">
            <obl-menu>
                        <div bind-html-compile="menuButtonView"></div>



                <obl-menu-group label="Design" icon="fa-pencil-square-o">
                    <obl-menu-button ng-if="tempIsNew == 'false' || tempIsNew == 'undefined'" label="Templates" icon="fa fa-file-image-o" click-title="templates"></obl-menu-button>
                    <obl-menu-button ng-if="tempIsNew == 'true' || tempIsNew == true" label="Add Logo" icon="fa fa-file-image-o" click-title="styleAddLogoImage"></obl-menu-button>
                    <obl-menu-button ng-if="tempIsNew == 'true' || tempIsNew == true" label="Add FAV Icon" icon="fa fa-file-image-o" click-title="styleAddFAVIcon"></obl-menu-button>
                   <!-- <obl-menu-button label="Navigation" icon="fa-pencil-square-o" class="md-sub-menu" click-title="navigation"></obl-menu-button>-->
                    <!--<obl-menu-button label="Logo and Title" icon="fa fa-file-image-o" click-title="logoAndTitle"></obl-menu-button>-->

                    <obl-menu-group  label="Styles" icon="fa-pencil-square-o" class="md-sub-menu">
                        <!--
                        <obl-menu-button label="Styles" icon="fa fa-file-image-o" click-title="styles"></obl-menu-button>
                        -->
                        <div ng-if="tempIsNew == 'true' || tempIsNew == true">
                            <div class="styles-settings" ng-controller="webStylesCtrl">
                                <div class="color-settings" >
                                    <h1>Web App Background</h1>
                                    <!--<br>-->
                                    <!--<div class="color-section">Page Title</div>-->
                                    <!--<input ng-model='title' style="margin-bottom: 16px;">-->
                                    <!--<button class="btn btn-material" ng-click="jschange(title)">Change Title</button>-->

                                    <div ng-if="isApplyStyle.color.backgroundColor" class="color-setting clearfix">
                                        <div class="color-section">Background color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="backgroundColor" type="text"
                                                style="background-color: {{backgroundColor}}; color: {{backgroundColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="backgroundColor" type="text">
                                    </div>
                                    <div ng-if="isApplyStyle.color.footerColor" class="color-setting clearfix">
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="footerColor" type="text"
                                                style="background-color: {{footerColor}}; color: {{footerColor}};">
                                        </button>
                                        <div class="color-section">Footer</div>
                                        <input colorpicker="rgba" ng-model="footerColor" type="text">
                                    </div>
                                </div>
                                <!--<div class="other-settings">-->
                                    <!--&lt;!&ndash;<h1>Background Image</h1>&ndash;&gt;-->
                                    <!--<div class="other-setting">-->
                                        <!--<md-checkbox md-no-ink ng-model="editBackgroundImage"-->
                                                     <!--aria-label="Apply Background Image"-->
                                                     <!--ng-change="applyBackgroundImage(editBackgroundImage)">-->
                                            <!--Background Image-->
                                        <!--</md-checkbox>-->
                                        <!--<div ng-show="editBackgroundImage" class="edit-bg-wrapper">-->
                                            <!--<obl-menu-button label="Edit Image" icon="fa fa-file-image-o" click-title="styleEditBackgroundImage"></obl-menu-button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div ng-if="isApplyStyle.color.navigationColor">
                                    <h1>Navigation</h1>
                                    <div class="color-setting">
                                        <div class="color-section">Navigation background Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="navigationBarColor"  type="text"
                                                style="background-color: {{navigationBarColor}}; color: {{navigationBarColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="navigationBarColor" type="text">
                                    </div>
                                    <div class="color-setting">
                                        <div class="color-section">Navigation Font Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="navigationBarFontColor"  type="text"
                                                style="background-color: {{navigationBarFontColor}}; color: {{navigationBarFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="navigationBarFontColor" type="text">
                                    </div>
                                </div>
                                <h1>Typography</h1>
                                <div ng-if="isApplyStyle.typography.header">
                                    <div class="other-setting">
                                        <h2>Header Font</h2>
                                        <select ng-model="headerFontFamilyProp.value" ng-options="v for v in headerFontFamilyProp.values" ng-change="styleFontFamilyChange(headerFontFamilyProp.value,'headerFont')">
                                        </select>
                                    </div>
                                    <!--<div class="other-setting">-->
                                        <!--<h2>Font Size</h2>-->
                                        <!--<select ng-model="headerFontSizeProp.value" ng-options="v for v in headerFontSizeProp.values" ng-change="styleFontSizeChange(headerFontSizeProp.value,'headerFont')">-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <div class="other-setting">
                                        <h2>Font Weight</h2>
                                        <select ng-model="headerFontWeightProp.value" ng-options="v for v in headerFontWeightProp.values" ng-change="styleFontWeightChange(headerFontWeightProp.value,'headerFont')">
                                        </select>
                                    </div>
                                    <div class="color-setting">
                                        <div class="color-section">Header Font Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="headerFontColor"  type="text"
                                                style="background-color: {{headerFontColor}}; color: {{headerFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="headerFontColor" type="text">
                                    </div>
                                </div>
                                <div ng-if="isApplyStyle.typography.content">
                                    <div class="other-setting">
                                        <h2>Content Font</h2>
                                        <select ng-model="contentFontFamilyProp.value" ng-options="v for v in contentFontFamilyProp.values" ng-change="styleFontFamilyChange(contentFontFamilyProp.value,'contentFont')">
                                        </select>
                                    </div>
                                    <!--<div class="other-setting">-->
                                        <!--<h2>Font Size</h2>-->
                                        <!--<select ng-model="contentFontSizeProp.value" ng-options="v for v in contentFontSizeProp.values" ng-change="styleFontSizeChange(contentFontSizeProp.value,'contentFont')">-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <div class="other-setting">
                                        <h2>Font Weight</h2>
                                        <select ng-model="contentFontWeightProp.value" ng-options="v for v in contentFontWeightProp.values" ng-change="styleFontWeightChange(contentFontWeightProp.value,'contentFont')">
                                        </select>
                                    </div>

                                    <div class="color-setting">
                                        <div class="color-section">Content Font Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="contentFontColor" type="text"
                                                style="background-color: {{contentFontColor}}; color: {{contentFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="contentFontColor" type="text">
                                    </div>
                                </div>
                                <div ng-if="isApplyStyle.typography.footer">
                                    <h1>Footer</h1>
                                    <div class="color-setting">
                                        <div class="color-section">Footer Background Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="footerBackColor"  type="text"
                                                style="background-color: {{footerBackColor}}; color: {{footerBackColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="footerBackColor" type="text">
                                    </div>
                                    <div class="color-setting">
                                        <div class="color-section">Footer header Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="footerHeaderFontColor"  type="text"
                                                style="background-color: {{footerHeaderFontColor}}; color: {{footerHeaderFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="footerHeaderFontColor" type="text">
                                    </div>
                                    <div class="color-setting">
                                        <div class="color-section">Footer content Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="footerFontColor"  type="text"
                                                style="background-color: {{footerFontColor}}; color: {{footerFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="footerFontColor" type="text">
                                    </div>
                                </div>


                                <h1 ng-if="isApplyStyle.button">Button</h1>
                                <div ng-if="isApplyStyle.button">
                                    <div class="color-setting clearfix">
                                        <div class="color-section">Button Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="buttonColor"  type="text"
                                                style="background-color: {{buttonColor}}; color: {{buttonColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="buttonColor" type="text">
                                    </div>
                                    <div class="color-setting clearfix">
                                        <div class="color-section">Button Font Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="buttonFontColor"  type="text"
                                                style="background-color: {{buttonFontColor}}; color: {{buttonFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="buttonFontColor" type="text">
                                    </div>
                                    <div class="color-setting clearfix">
                                        <div class="color-section">Button Border Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="buttonBorderColor"  type="text"
                                                style="background-color: {{buttonBorderColor}}; color: {{buttonBorderColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="buttonBorderColor" type="text">
                                    </div>
                                    <div class="other-setting">
                                        <h2>Border size</h2>
                                        <select ng-model="buttonBorderWidthProp.value" ng-options="v for v in buttonBorderWidthProp.values" ng-change="styleButtonBorderWidthChange(buttonBorderWidthProp.value)">
                                        </select>
                                    </div>
                                    <div class="other-setting">
                                        <h2>Border Radius</h2>
                                        <select ng-model="buttonBorderRadiusProp.value" ng-options="v for v in buttonBorderRadiusProp.values" ng-change="styleButtonBorderRadiusChange(buttonBorderRadiusProp.value)">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="tempIsNew == 'false' || tempIsNew == 'undefined'">
                            <div class="styles-settings" ng-controller="StylesCtrl">
                                <div class="color-settings" >
                                    <h1>Background</h1>
                                    <div ng-if="isApplyStyle.color.backgroundColor" class="color-setting clearfix">
                                        <div class="color-section">Background color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="backgroundColor" type="text"
                                                style="background-color: {{backgroundColor}}; color: {{backgroundColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="backgroundColor" type="text">
                                    </div>
                                    <div ng-if="isApplyStyle.color.footerColor" class="color-setting clearfix">
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="footerColor" type="text"
                                                style="background-color: {{footerColor}}; color: {{footerColor}};">
                                        </button>
                                        <div class="color-section">Footer</div>
                                        <input colorpicker="rgba" ng-model="footerColor" type="text">
                                    </div>
                                </div>
                                <div class="other-settings">
                                    <!--<h1>Background Image</h1>-->
                                    <div class="other-setting">
                                        <md-checkbox md-no-ink ng-model="editBackgroundImage"
                                                     aria-label="Apply Background Image"
                                                     ng-change="applyBackgroundImage(editBackgroundImage)">
                                            Background Image
                                        </md-checkbox>
                                        <div ng-show="editBackgroundImage" class="edit-bg-wrapper">
                                            <obl-menu-button label="Edit Image" icon="fa fa-file-image-o" click-title="styleEditBackgroundImage"></obl-menu-button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="isApplyStyle.color.navigationColor">
                                    <h1>Navigation</h1>
                                    <div class="color-setting">
                                        <div class="color-section">Navigation background Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="navigationBarColor"  type="text"
                                                style="background-color: {{navigationBarColor}}; color: {{navigationBarColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="navigationBarColor" type="text">
                                    </div>
                                    <div class="color-setting">
                                        <div class="color-section">Navigation Font Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="navigationBarFontColor"  type="text"
                                                style="background-color: {{navigationBarFontColor}}; color: {{navigationBarFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="navigationBarFontColor" type="text">
                                    </div>
                                </div>


                                <h1>Typography</h1>
                                <div ng-if="isApplyStyle.typography.header">
                                    <div class="other-setting">
                                        <h2>Header Font</h2>
                                        <select ng-model="headerFontFamilyProp.value" ng-options="v for v in headerFontFamilyProp.values" ng-change="styleFontFamilyChange(headerFontFamilyProp.value,'headerFont')">
                                        </select>
                                    </div>
                                    <div class="other-setting">
                                        <h2>Font Size</h2>
                                        <select ng-model="headerFontSizeProp.value" ng-options="v for v in headerFontSizeProp.values" ng-change="styleFontSizeChange(headerFontSizeProp.value,'headerFont')">
                                        </select>
                                    </div>
                                    <div class="other-setting">
                                        <h2>Font Weight</h2>
                                        <select ng-model="headerFontWeightProp.value" ng-options="v for v in headerFontWeightProp.values" ng-change="styleFontWeightChange(headerFontWeightProp.value,'headerFont')">
                                        </select>
                                    </div>
                                    <div class="color-setting">
                                        <div class="color-section">Header Font Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="headerFontColor"  type="text"
                                                style="background-color: {{headerFontColor}}; color: {{headerFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="headerFontColor" type="text">
                                    </div>
                                </div>
                                <div ng-if="isApplyStyle.typography.content">
                                    <div class="other-setting">
                                        <h2>Content Font</h2>
                                        <select ng-model="contentFontFamilyProp.value" ng-options="v for v in contentFontFamilyProp.values" ng-change="styleFontFamilyChange(contentFontFamilyProp.value,'contentFont')">
                                        </select>
                                    </div>
                                    <div class="other-setting">
                                        <h2>Font Size</h2>
                                        <select ng-model="contentFontSizeProp.value" ng-options="v for v in contentFontSizeProp.values" ng-change="styleFontSizeChange(contentFontSizeProp.value,'contentFont')">
                                        </select>
                                    </div>
                                    <div class="other-setting">
                                        <h2>Font Weight</h2>
                                        <select ng-model="contentFontWeightProp.value" ng-options="v for v in contentFontWeightProp.values" ng-change="styleFontWeightChange(contentFontWeightProp.value,'contentFont')">
                                        </select>
                                    </div>

                                    <div class="color-setting">
                                        <div class="color-section">Content Font Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="contentFontColor" type="text"
                                                style="background-color: {{contentFontColor}}; color: {{contentFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="contentFontColor" type="text">
                                    </div>
                                </div>
                                <div ng-if="isApplyStyle.typography.footer">
                                    <div class="other-setting">
                                        <h2>Footer Font</h2>
                                        <div class="">
                                            <select ng-model="footerFontFamilyProp.value" ng-options="v for v in footerFontFamilyProp.values" ng-change="styleFontFamilyChange(footerFontFamilyProp.value,'footerFont')">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="other-setting">
                                        <h2>Font Size</h2>
                                        <select ng-model="footerFontSizeProp.value" ng-options="v for v in footerFontSizeProp.values" ng-change="styleFontSizeChange(footerFontSizeProp.value,'footerFont')">
                                        </select>
                                    </div>
                                    <div class="other-setting">
                                        <h2>Font Weight</h2>
                                        <select ng-model="footerFontWeightProp.value" ng-options="v for v in footerFontWeightProp.values" ng-change="styleFontWeightChange(footerFontWeightProp.value,'footerFont')">
                                        </select>
                                    </div>
                                    <div class="color-setting">
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="footerFontColor" type="text"
                                                style="background-color: {{footerFontColor}}; color: {{footerFontColor}};" >
                                        </button>
                                        <div class="color-section">Footer Font Color</div>
                                        <input colorpicker="rgba" ng-model="footerFontColor" type="text">
                                    </div>
                                </div>


                                <h1 ng-if="isApplyStyle.button">Button</h1>
                                <div ng-if="isApplyStyle.button">
                                    <div class="color-setting clearfix">
                                        <div class="color-section">Button Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="buttonColor"  type="text"
                                                style="background-color: {{buttonColor}}; color: {{buttonColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="buttonColor" type="text">
                                    </div>
                                    <div class="color-setting clearfix">
                                        <div class="color-section">Button Font Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="buttonFontColor"  type="text"
                                                style="background-color: {{buttonFontColor}}; color: {{buttonFontColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="buttonFontColor" type="text">
                                    </div>
                                    <div class="color-setting clearfix">
                                        <div class="color-section">Button Border Color</div>
                                        <button class="color-picker-button pull-left"
                                                colorpicker="rgba"
                                                colorpicker-parent="true"
                                                ng-model="buttonBorderColor"  type="text"
                                                style="background-color: {{buttonBorderColor}}; color: {{buttonBorderColor}};" >
                                        </button>
                                        <input colorpicker="rgba" ng-model="buttonBorderColor" type="text">
                                    </div>
                                    <div class="other-setting">
                                        <h2>Border size</h2>
                                        <select ng-model="buttonBorderWidthProp.value" ng-options="v for v in buttonBorderWidthProp.values" ng-change="styleButtonBorderWidthChange(buttonBorderWidthProp.value)">
                                        </select>
                                    </div>
                                    <div class="other-setting">
                                        <h2>Border Radius</h2>
                                        <select ng-model="buttonBorderRadiusProp.value" ng-options="v for v in buttonBorderRadiusProp.values" ng-change="styleButtonBorderRadiusChange(buttonBorderRadiusProp.value)">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </obl-menu-group>

                    <!--<obl-menu-button label="Checkout Page Style" icon="fa fa-file-image-o" click-title="checkoutPageStyle"></obl-menu-button>-->

                    <!--<obl-menu-button label="Locked Pages" icon="fa fa-file-image-o" click-title="lockedPages"></obl-menu-button>-->

                    <!--<obl-menu-button label="Announcement Bar" icon="fa fa-file-image-o" click-title="announcementBar"></obl-menu-button>-->

                    <obl-menu-button label="Clear Default Data" icon="fa fa-file-image-o" click-title="remove"></obl-menu-button>

                    <!--<obl-menu-button label="Made Easy Badge" icon="fa fa-file-image-o" click-title="madeEasyBadge"></obl-menu-button>-->
                </obl-menu-group>

                <obl-menu-button ng-if="tempIsNew == 'true' || tempIsNew == true"  label="Carousel Banner" icon="fa fa-file-image-o" click-title="carouselBanner"></obl-menu-button>

                <!--For the beta release-->
                <obl-menu-group label="Engage" icon="fa-pencil-square-o">
                    <obl-menu-button ng-if="!isArticleApp" label="Users" icon="fa fa-file-image-o" click-title="users"></obl-menu-button>
                    <obl-menu-button ng-if="!isArticleApp" label="Promotions & Sales" icon="fa fa-file-image-o" click-title="promotionsAndSales"></obl-menu-button>
                    <!--<obl-menu-button label="E-mail Marketing" icon="fa fa-file-image-o" click-title="emailMarketing"></obl-menu-button>-->
                    <!--<obl-menu-button label="Pop up Messages" icon="fa fa-file-image-o" click-title="popUpMessages"></obl-menu-button>-->
                    <obl-menu-button label="Push Messages" icon="fa fa-file-image-o" click-title="pushMessages"></obl-menu-button>
                    <!--<obl-menu-button label="Geofenced Messages" icon="fa fa-file-image-o" click-title="geofencedMessages"></obl-menu-button>-->
                    <!--<obl-menu-button label="Social Lock" icon="fa fa-file-image-o" click-title="socialLock"></obl-menu-button>-->
                    <!--<obl-menu-button label="Detection Tools" icon="fa fa-file-image-o" click-title="detectionTools"></obl-menu-button>-->
                </obl-menu-group>


                <obl-menu-button ng-if="!isArticleApp" label="Analytics" icon="fa-pencil-square-o"  click-title="analytics">  </obl-menu-button>

                <obl-menu-group label="Publish" icon="fa-pencil-square-o">
                    <!--<obl-menu-group label="Website" icon="fa-pencil-square-o" class="md-sub-menu">-->
                        <!--<obl-menu-button label="Website" icon="fa fa-file-image-o" click-title="website"></obl-menu-button>-->
                    <!--</obl-menu-group>-->
                    <obl-menu-group label="Mobile App" icon="fa-pencil-square-o" class="md-sub-menu">
                        <obl-menu-button label="App Store" icon="fa fa-file-image-o" click-title="appStore"></obl-menu-button>
                        <obl-menu-button label="Google Play" icon="fa fa-file-image-o" click-title="googlePlay"></obl-menu-button>
                    </obl-menu-group>
                    <obl-menu-group label="Delete" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">
                    <obl-menu-button label="Delete" icon="fa-cogs" click-title="delete"></obl-menu-button>
                    </obl-menu-group>
                </obl-menu-group>
                <!-- <obl-menu-group label="Settings" icon="fa-cogs"> -->

                   <!-- <obl-menu-button label="About Us" icon="fa fa-file-image-o" click-title="aboutUs"></obl-menu-button>-->
                   <!-- <obl-menu-button label="Policies" icon="fa fa-file-image-o" click-title="policies"></obl-menu-button>-->
                   <!--  <obl-menu-group label="Basic Info" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">
                        <obl-menu-button label="Basic Info" icon="fa-cogs" click-title="basicInfo"></obl-menu-button>
                    </obl-menu-group>
                    <obl-menu-group label="Domain" icon="fa-cogs" class="md-sub-menu md-sub-menu">
                        <obl-menu-button label="Domain" icon="fa-cogs" click-title="domain"></obl-menu-button>
                    </obl-menu-group> -->
                    <!--<obl-menu-group label="Users" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">
                        <obl-menu-button label="Users" icon="fa-cogs" click-title="users"></obl-menu-button>
                    </obl-menu-group>-->
              <!--       <obl-menu-group label="SEO" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">
                        <obl-menu-button label="SEO" icon="fa-cogs" click-title="seo"></obl-menu-button>
                    </obl-menu-group>
                    <obl-menu-group label="Social Media" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">
                        <obl-menu-button label="Social Media" icon="fa-cogs" click-title="socialMedia"></obl-menu-button>
                    </obl-menu-group>
                    <obl-menu-group label="Billing" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">
                        <obl-menu-button label="Billing" icon="fa-cogs" click-title="billing"></obl-menu-button>
                    </obl-menu-group>
                    <obl-menu-group label="Security" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">
                        <obl-menu-button label="Security" icon="fa-cogs" click-title="security"></obl-menu-button>
                    </obl-menu-group>
                    <obl-menu-group label="Backup" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">
                        <obl-menu-button label="Backup" icon="fa-cogs" click-title="backup"></obl-menu-button>
                    </obl-menu-group> -->
                    <!--<obl-menu-group label="Clear Default Data" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">-->
                        <!--<obl-menu-button label="Remove" icon="fa-cogs" click-title="remove"></obl-menu-button>-->
                    <!--</obl-menu-group>-->
                    <!--<obl-menu-group label="Delete" icon="fa-cogs" class="md-sub-menu" class="md-sub-menu">-->
                        <!--<obl-menu-button label="Delete" icon="fa-cogs" click-title="delete"></obl-menu-button>-->
                    <!--</obl-menu-group>-->
                <!-- </obl-menu-group> -->
                <a href="https://www.otenro.com/help/" target="_blank">
                    <li class="obl-selectable-item" role="button" tabindex="0">
                        <div class="obl-noselect ng-binding">
                            Help
                        </div>
                    </li>
                </a>

                <obl-menu-button label="Design my APP" icon="fa-cogs" class="get-assistance" click-title="get-assistance"></obl-menu-button>

            </obl-menu>
        </obl-framework>
        <!--<div ng-transclude></div>-->
    </div>

    <div class="mdapp-content">
        <div class="mdapp-device-selector clearfix">
            <div class="mobile-area">
                <p>Mobile App</p>
                <a class="mobile-icon" href ng-click="changeDevice('mobile')" ng-class="{'current-device': deviceView == 'mobile'}"></a>
                <a class="tablet-icon" href ng-click="changeDevice('tablet')" ng-class="{'current-device': deviceView == 'tabletView'}"></a>
            </div>
            <div class="website-area">
                <div class="pull-left">
                    <p>Website</p>
                    <a  href ng-click="changeDevice('web')" class="desktop-icon size-fix" ng-class="{'current-device': deviceView == 'web'}"></a>
                    <!--<a  href ng-click="temporaryMessage()" class="tablet-icon"></a>-->
                </div>

                <!--<div class="website-area">-->
                    <!--<div class="pull-left">-->
                        <!--<p>Delete</p>-->
                        <!--<a  href ng-click="temporaryMessage()" class="desktop-icon size-fix"></a>-->
                        <!--<a  href ng-click="temporaryMessage()" class="tablet-icon"></a>-->
                    <!--</div>-->
                    <!--<div class="download-section">-->
                  <!--&lt;!&ndash;  <a href ng-click="buildSource()" class="download-link"></a>&ndash;&gt;-->
                    <!--<a href="/edit/buildSource?appId={{appId}}&userId={{userId}}" target="_self" class="download-link"></a>-->
                <!--</div>-->
            </div>
            <div class="user-area">
                <button class="user-settings-button" ng-click="downloadMobileViewer()" type="button" style="margin: 0 10px;">
                    <img src="images/download-mobile.PNG" alt="download mobile viewer" width="23"/>
                </button>
                <button class="user-settings-button" ng-click="profileView()" type="button">
                    <img src="images/user-icon.svg" alt="User Logo" />
                </button>
            </div>
        </div>
        <div class="device-preview" ng-class="deviceView" ng-if="deviceView == 'mobile' || deviceView == 'tabletView'">
            <div class="device-simulator" overflow="scroll">
                    <!--<me-tablet ng-show="tabletView" tmp-url="{{appTemplateUrl}}"></me-tablet>-->
                    <me-iphone device-path="{{deviceView}}" tmp-url="{{appTemplateUrl}}"></me-iphone>

            </div>
        </div>
        <div class="device-preview" ng-class="deviceView" ng-if="deviceView == 'web'">
            <div overflow="scroll">
                    <!--<me-tablet ng-show="tabletView" tmp-url="{{appTemplateUrl}}"></me-tablet>-->
                    <me-iphone device-path="{{deviceView}}" tmp-url="{{appTemplateUrl}}"></me-iphone>

            </div>
        </div>
    </div>
    <div class="change-template-notifi" ng-show="changeTemplate">Please confirm if you are satisfied with this selection <a class="btn-material" ng-click="changePermanently('yes')" >Yes</a> <a class="btn-material" ng-click="changePermanently('no')">no</a></div>
</div>