
<!-- bloc-26 -->
<div class="bloc bgc-white l-bloc b-parallax" id="bloc-26">
  <div class="container bloc-xl">
    <div class="row row-about-main">
      <div class="col-sm-12">
        <h1 class="hidden-xs text-center about-us main-header-font">
          TERMS &amp; Conditions
        </h1>
        
        <p *ngIf="terms"  class=" content-about text-justify main-content-font"   [innerHTML]="terms"> </p>

      </div>
    </div>
    <app-accepted-payment-type></app-accepted-payment-type>
  </div>
</div>
<!-- bloc-26 END -->

