.social-login {
  position: fixed;
  bottom: 0;
}

.login {

}
ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;
}
ion-side-menu-content{
    cursor: url(../img/cursor.cur), auto;
}
.login .panel{
  text-align: center;
}

.panel .social-button {
  padding: 8.5px 17px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  cursor: url(../img/cursor.cur), auto;
}
.panel .social-button-fb{
  padding: 8.5px 17px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: white;
  margin-right:2px;
  margin-left: 20px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  cursor: url(../img/cursor.cur), auto;
}

.panel .create-account-btm {
  background-color: #FFBF0A; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 35px;
  cursor: url(../img/cursor.cur), auto;
  border-radius:4px;
}

.panel {
  margin-top:4%;
}

/** ----------- Start Custom update Css Class ---------- **/

.made-easy-background-color {
    background-color: #b22727 !important;
}

.made-easy-background-image{
    background: url(../img/background.jpg) center;
    background-size: cover;
}
.made-easy-navigationBarColor{
  background-color: rgba(255,255,255,0) !important;
  color:#355766;
  border: 0;
}
.made-easy-navigationBarColor .item {
    border-style:unset;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: 0;
    color:inherit;
}
.made-easy-footerColor{
  background-color: #4e6dde;
}
.made-easy-header-font{
  color:#84cbce;
  font-family: sans-serif;
  font-size: 3.5vh;
  font-weight: bold;
  letter-spacing:1px;
  line-height:normal;
  text-transform: capitalize;
}
.made-easy-content-font{
  color:#2c3f48;
  font-family: sans-serif;
  font-size: 3vh;
  font-weight: lighter;
  line-height:normal;
}
.made-easy-footer-font{
  color:#4e6dde;
  font-family: Ubuntu Light;
  font-size: 12px;
  font-weight: bolder;
}

/* ----- Button Font Settings ----- */
.made-easy-button-setting{
  border-color: transparent;
  background-color: #81d4da;
  color: #fff;
  border-width:1px;
  border-radius:1px;
  cursor: url(../img/cursor.cur), auto;
}

.button.made-easy-button-setting.activated {
    background:#e5e5e5;
}
/* ----- Second Navigation Page ----- */
.made-easy-second-navigation {}
.made-easy-second-navigation .header .header-image{
    text-align:center;
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-second-navigation .content {
    text-align: center;
    cursor: url(../img/cursor.cur), auto;
}

/* ----- Third Navigation Page ----- */
.made-easy-third-navigation {}
.made-easy-third-navigation .header .header-image{
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-third-navigation .content {
    text-align: center  ;
    cursor: url(../img/cursor.cur), auto;
}

/* ----- View Page ----- */
.made-easy-view {}
.made-easy-view .item-name {
    text-align: center;
    color: #006666;
}
.made-easy-view .item-buy{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.made-easy-view .item-error-message{
    color: red;
    font-size: 70%;
}

/* ----- About Us Page ----- */
.made-easy-aboutUs {}
.made-easy-aboutUs .header{}
.made-easy-aboutUs .header .header-image {
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .content {
    text-align: center;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .content .last {
    margin-bottom: 20px;
    cursor: url(../img/cursor.cur), auto;
}

/* ----- Terms Page ----- */
.made-easy-terms {}
.made-easy-terms .content {
    text-align: center;
    cursor: url(../img/cursor.cur), auto;
}

/*------- Button Setting ------- */
.made-easy-button-create-account {
    background-color: #FFBF0A;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: url(../img/cursor.cur), auto;
    border-radius:4px;
    width: 94%;
    margin: 10px;
}



/* ------------------- */

h7 {
  font-family: Helvetica, sans-serif;
  font-size: 35px !important;
  font-weight: 300;
  color:#666 !important;
}
.badge2{
	background-color: transparent;
    padding: 7px 0;
}

/**
 * Badges
 * --------------------------------------------------
 */
a[href]:hover{
    cursor: url(../img/cursor.cur), auto;
}






/** ----------- End Custom update Css Class ---------- **/