<ion-view class="made-easy-background-color" view-title="My Apps" name="dashboard-view" hide-nav-bar="true">

  <ion-header-bar class="made-easy-navigationBarColor bar bar-header" align-title="center">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" ng-click="menuToggle()" style="color:#fff"></button>
      </span>
    </div>
    <div class="title title-center header-item">My Apps</div>
    <div class="buttons buttons-left header-item">
      <span class="right-buttons">
           <button class="button button-icon icon ion-ios-refresh-empty"></button>
      </span>
    </div>
  </ion-header-bar>


  <ion-content scroll="false">
    <div class="list card" style="height:85%">
      <a class="item item-thumbnail-left" ng-repeat="oneApp in appList"
         ng-click="openApp('{{oneApp.userId}}','{{oneApp.id}}','{{oneApp.appName}}')">
        <img  ng-src="https://dashboard.otenro.com/templates/viewImages?userId={{oneApp.userId}}&appId={{oneApp.id}}&{{date}}&img=publish/0.png"  err-src="img/default-app-icon.png" alt="published image">
        <h2>{{oneApp.appName}}</h2>
      </a>
    </div>
    
    <div style="text-align: center; margin-top: 40px;">
      <span>
      <a href="#" class="link" onclick="window.open('http://simatosolutions.com/', '_system', 'location=yes'); return false;"> 
        Built by Simato Solutions</a>
      </span>
    </div>
  </ion-content>
</ion-view>
