<ion-view class="made-easy-background-color" view-title="My Apps" name="dashboard-view" hide-nav-bar="true">

  <ion-header-bar class="made-easy-navigationBarColor bar bar-header" align-title="center">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" ng-click="menuToggle()" style="color:#fff"></button>
      </span>
    </div>
    <div class="title title-center header-item">My Apps</div>
  </ion-header-bar>

  <ion-content scroll="false">
    <div class="list card">
      <a class="item item-thumbnail-left" ng-repeat="oneApp in appList"
         ng-click="openApp('{{oneApp.userId}}','{{oneApp.id}}','{{oneApp.appName}}')">
        <img  ng-src="http://192.168.8.35:1337/templates/viewImages?userId={{oneApp.userId}}&appId={{oneApp.id}}&{{date}}&img=publish/0.png"  err-src="img/no-preview.jpg" alt="published image">
        <h2>{{oneApp.appName}}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
