<ion-side-menus  class="navigation-drawer" enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">

    <ion-nav-bar class="made-easy-navigationBarColor"  align-title="center">
    </ion-nav-bar>

  <ion-nav-view name="menuContent" align="left"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="made-easy-navigationBarColor">
    <ion-content>
      <ion-list>
        <ion-item   class="settings" ng-click="logout()">
          <a class="item-content">
            <h1>Settings</h1>
            <p>@Ideadroid</p>
          </a>
        </ion-item>
        <div class="menu-items-container">
          <div class="menu-item">
            <ion-item menu-close ng-click="clearAllData()">
              <a>
                <i class="icon ion-android-checkmark-circle"></i> Clear all app data
              </a>
            </ion-item>
          </div>
          <div class="menu-item">
            <ion-item menu-close ui-sref="app.dash">
                <i class="icon ion-android-checkmark-circle"></i> My Apps
            </ion-item>
          </div>
          <div class="menu-item">
            <ion-item menu-close ng-click="openInstructions()">
              <a>
                <i class="icon ion-ios-paper-outline"></i> Instructions
              </a>
            </ion-item>
          </div>
          <div class="menu-item">
            <ion-item menu-close ng-click="openTerms()">
              <a>
                <i class="icon ion-ios-cog-outline"></i> Term of services
              </a>
            </ion-item>
          </div>
          <div class="menu-item">
            <ion-item menu-close class="logout"  ng-click="logout()">
              <a>
                <i class="icon ion-log-out"></i> Logout
              </a>
            </ion-item>
          </div>
        </div>
      </ion-list>

      <div class="com-link footer-link">
        <a href="#">Built by Simato Solutions</a>
      </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
