<ion-view view-title="" name="userInfo-view">
  <ion-nav-buttons side="left">
    <h1>settings</h1>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#/main/userInfo" class="button font-size-24">
      <i class="ion-ios-gear-outline"></i>
    </a>
  </ion-nav-buttons>

  <ion-content class="backView">
      <div class="list border-less-list">
        <a class="item" ><i class="ion-android-checkmark-circle"></i>   Clear all app data</a>
        <a class="item" ><i class="ion-ios-paper-outline"></i>   Instructions</a>
        <a class="item" ><i class="ion-ios-cog-outline"></i>   Term of services</a>
        <a class="item" ><i class="ion-ios-person-outline"></i>   Privacy Policy</a>
        <a class="item logout" ng-click="logout()"><i class="ion-log-out"></i>   Logout</a>
      </div>
  </ion-content>

</ion-view>

