<ion-view view-title="{{categoryName}}">
    <ion-content scroll="true" class="made-easy-background-color Paddingspace  article" lazy-scroll>

                <div class="row " ng-if="$index%2==0" ng-repeat="article in artilceList">
                    <div class="col col-50"  ng-if="$index<artilceList.length">
                        <div class="card animated zoomIn">
                            <a href="#/app/articleView/{{artilceList[$index].id}}">
                                <div class="item item-image">
                                    <div class="grad"></div>
                                     <img width="100%" image-lazy-src="{{artilceList[$index].imageUrl}}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-100"/>
                                     <div class="item item-text-wrap">
                                        <div class="made-easy-header-font">{{artilceList[$index].title}}</div>
                                     </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-50" ng-if="($index+1)<artilceList.length">
                        <div class="card  animated zoomIn">
                            <a href="#/app/articleView/{{artilceList[$index+1].id}}">
                                <div class="item item-image">
                                    <div class="grad"></div>
                                    <img width="100%" image-lazy-src="{{artilceList[$index+1].imageUrl}}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-100"/>
                                    <div class="item item-text-wrap">
                                        <div class="made-easy-header-font">{{artilceList[$index+1].title}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

    </ion-content>
</ion-view>