<ion-view class="home made-easy-background-color made-easy-background-color" hide-back-button="false" view-title="Categories">
    <ion-content scroll="false" >


        <div class="header  animated zoomIn">
            <div class="made-easy-background-image"></div>
        </div>

        <div class="row " ng-if="$index%2==0" ng-repeat="article in articleCategoryList">
            <div class="col col-50"  ng-if="$index<articleCategoryList.length">
                <div class="card animated zoomIn">
                    <a href="#/app/home/{{articleCategoryList[$index].id}}/{{articleCategoryList[$index].name}}">
                        <div class="item item-image">
                            <div class="grad"></div>
                            <img width="100%" image-lazy-src="{{articleCategoryList[$index].imageUrl}}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-100"/>
                            <div class="item item-text-wrap">
                                <div class="made-easy-header-font">{{articleCategoryList[$index].name}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col col-50" ng-if="($index+1)<articleCategoryList.length">
                <div class="card  animated zoomIn">
                    <a href="#/app/home/{{articleCategoryList[$index+1].id}}/{{articleCategoryList[$index+1].name}}">
                        <div class="item item-image">
                            <div class="grad"></div>
                            <img width="100%" image-lazy-src="{{articleCategoryList[$index+1].imageUrl}}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-100"/>
                            <div class="item item-text-wrap">
                                <div class="made-easy-header-font">{{articleCategoryList[$index+1].name}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>