
<!-- bloc-8 -->
<div class="bloc b-parallax bgc-white l-bloc" id="bloc-8">
	<div class="container bloc-lg">
		<div class="row padding-horizontal">
			<div class="col-sm-12">
				<p class="text-center header main-header-font hidden-xs">
					ABOUT US
				</p>
				<div class="row">
           			<img  data-src="{{aboutUsUrl}}/ABOUTUS.png" class="img-responsive lazyload" />

					<div class="col-sm-12 padding-top">
						<p class="text-center" [innerHTML]="content">
						</p>
					</div>
				</div>
				<h3 class="main-header-font">Open hours</h3>
	              <p class="main-content-font">Weekdays : {{openWeekdays}}</p>
	              <p class="main-content-font">Saturday : {{openSaturday}}</p>
	              <p class="main-content-font">Sunday : {{openSunday}}</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-8 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->