
ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;
}

/** ----------- Start Custom update Css Class ---------- **/

/* ----- Background Settings ----- */
.made-easy-background-color {
    background-color: #28373e !important;
}

.made-easy-background-image{
	background: url('../img/background.jpg') no-repeat;
    background-size: cover;
}
/* ----- Main Navigation Settings ----- */
.nav-bar-block ion-header-bar {
    background-color: transparent !important;
}

.made-easy-navigationBarColor{
    background-color: #28373e !important;
    color:#fff;
    border: 0;
    box-shadow: none;
}

.made-easy-navigationBarColor .bar .button.button-clear{
    color:inherit;
}

.made-easy-navigationBarColor .item {
    border-style:unset;
}


.made-easy-navigationBarColor .list{
    margin-top:10%;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: 0;
    color:inherit;
    padding:6px;
}
/* ----- Footer Settings ----- */
.made-easy-footerColor{
    background-color: #4e6dde;
}
.made-easy-footer-font{
    color:#4e6dde;
    font-family: Ubuntu Light;
    font-size: 12px;
    font-weight: bolder;
}
/* ----- Header Font Settings ----- */
.made-easy-header-font{
    font-size: 20px;
    color: #00e4cf;
    font-family: sans-serif;
    font-weight: bolder;
    line-height:normal;
    text-transform: uppercase;

}

/* ----- Content Font Settings ----- */
.made-easy-content-font{
    font-size: 14px;
    color: #757575;
    font-family: sans-serif;
    font-weight: lighter;
    line-height:normal;
}

/* ----- Button Font Settings ----- */
.made-easy-button-setting{
    border-color: #dcd8b2 !important;
    background-color: #39b996;
    color: #fff;
    border-width:0px !important;
    border-radius:2px;
    cursor: url(../img/cursor.cur), auto;
    border:solid;
}

/* ----- View Page ----- */

.made-easy-view .item-buy{
    width: 90%;
    border: unset;
    border-bottom: 1px solid #ccc;
}
.made-easy-view .item-error-message{
    color: red;
    font-size: 70%;
}

/** ----------- End Custom update Css Class ---------- **/