<section>
	<h2 class="main-header-font">Contact Info:</h2>
	<p class="main-content-font" *ngIf="description">{{description}}</p>
	<div>
	  <div class="row" *ngIf="address">
	    <div class="col-md-4">
	      <div><i class="icon fa fa-map-marker"></i> Address:</div>
	    </div>
	    <div class="col-md-8">
	      <div class="b-info__info">{{address}}</div>
	    </div>
	  </div>
	  <div class="row" *ngIf="phone">
	    <div class="col-md-4">
	      <div><i class="icon fa fa-phone"></i> Phone:</div>
	    </div>
	    <div class="col-md-8">
	      <div class="b-info__info">{{phone}}</div>
	    </div>
	  </div>
	  <div class="row" *ngIf="email">
	    <div class="col-md-4">
	      <div><i class="icon fa fa-envelope"></i> Email:</div>
	    </div>
	    <div class="col-md-8">
	      <div><a href="mailto:{{email}}">{{email}}</a></div>
	    </div>
		</div>
		<div class="row" *ngIf="website">
	    <div class="col-md-4">
	      <div><i class="icon fa fa-file-text-o"></i> WebSite:</div>
	    </div>
	    <div class="col-md-8">
	      <div><a href="mailto:{{website}}">{{website}}</a></div>
	    </div>
	  </div>
	  <!--<div class="row">-->
	    <!--<div class="col-md-4">-->
	      <!--<div><i class="icon fa fa-user"></i> Share:</div>-->
	    <!--</div>-->
	    <!--<div class="col-md-8">-->
	                <!--<ul class="list-inline">-->
	                  <!--<li  *ngIf="facebook"><a href="{{facebook}}" target="_blank"><i class="icon fa fa-facebook"></i></a></li>-->
	                  <!--<li  *ngIf="twitter"><a href="{{twitter}}" target="_blank"><i class="icon fa fa-twitter"></i></a></li>-->
	                  <!--<li  *ngIf="pinterest"><a href="{{pinterest}}" target="_blank"><i class="icon fa fa-pinterest-p"></i></a></li>-->
	                  <!--<li  *ngIf="linkedin"><a href="{{linkedin}}" target="_blank"><i class="icon fa fa-linkedin"></i></a></li>-->
	                <!--</ul>-->
	    <!--</div>-->
	  <!--</div>-->
	</div>
</section>
