<ion-view view-title="{{categoryName}}" class="made-easy-background-color">
    <ion-content scroll="true" class="article">

        <a href="#/app/articleView/{{article.id}}"  ng-repeat="article in artilceList">
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="row row-no-padding">
                        <div class="col no-padding">
                            <div class="list list-inset-full">
                                <img width="100%" height="inherit" src="{{imageURL}}/{{article.imageUrl}}">
                            </div>
                        </div>
                        <div class="col col-center">

                            <div class="made-easy-header-font">{{article.title}}</div>

                        </div>
                    </div>
                </div>
            </div>
        </a>


    </ion-content>
</ion-view>