.bloc {
    width: 100%;
}

.voffset {
    margin-top: 30px;
}
.row {
    margin: 0;
}

.mg-sm {
    margin-top: 10px;
    margin-bottom: 5px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 160px;
    overflow-x: scroll;
}

.col-sm-5{
    margin-right: 2%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img{
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1285px){
  img{
    width: 150px;
    height:150px;
  }
}
@media (max-width: 960px){
  img{
    width: 125px;
    height:125px;
  }
}

@media (max-width: 767px){

  img{
    width: 100%;
    object-fit: unset;
    height: 100%;
  }
}
