<div class="bloc bgc-white l-bloc none">
  <div class="col-sm-9">
    <div class="row" *ngFor = "let blog of blogData">
      <div class="col-sm-3">
        <img src="{{imageUrl}}/{{blog.imageUrl}}" width="100%">
      </div>
      <div class="col-sm-9">
        <h3 class="header main-header-font">
            {{blog.title}}
        </h3>
        <p class="main-content-font" [innerHTML]="blog.shortDesc">
        </p>
        <a class="btn btn-d main-button btn-block btn-lg" (click)="navigate(blog.id)">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <form class="form-blog">
      <p class="header"  >
        LATEST POSTS
      </p>
      <p class="links" *ngFor = "let blog of blogData" (click)="navigate(blog.id)">
        <a>{{blog.title}}</a>
      </p>
    </form>
  </div>
</div>
