.gridster{
    height: auto !important;
}

.gridster-item{
    width: 161px !important;
    height: 266px !important;
    background: url(/images/mobile-app-bg.png) no-repeat right;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}

.gridster-preview-holder{
    display: none !important;
}

.gridster-item-resizable-handler{
    display: none;
}

.obl-dashboard-apps ul li{
    margin-right: 5px !important;
    margin-bottom: 20px !important;
    outline: none;
}

.obl-dashboard-apps ul li:nth-of-type(4n){
    margin-right: 0 !important;
}

.obl-dashboard-createApp{
    width: 161px;
    height: 266px;
}

.obl-dashboard-createApp button{
    border: none;
    width: 161px;
    height: 266px;
    background: url(/images/create-app-bg.png) no-repeat;
}

.me-app-box-heading{
    display: none;
}

.me-app-box-body{
	cursor: pointer;
	height: 266px;
}

.me-app-box-view{
    left: 3px;
    position: absolute;
    top: 27px;
}

.me-app-name{
    bottom: -20px;
    color: #AAA;
    font-size: 12px;
    font-weight: 300;
    left: -24px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0 #999;
    width: 100%;
}