.gridster{
    height: auto !important;
}

.gridster-item{
    width: 230px !important;
	height: 480px !important;
background: url(/images/Phone_bg.svg) no-repeat right;
position: relative !important;
left: 0 !important;
top: 0 !important;
background-size: 230px 480px;
}

.gridster-preview-holder{
    display: none !important;
}

.gridster-item-resizable-handler{
    display: none;
}

.obl-dashboard-apps ul li{
    margin-right: 2.3% !important;
    margin-bottom: 40px !important;
    outline: none;
	float: left;
}




.obl-dashboard-createApp button{
     border: none;
width: 230px;
height: 480px;
background: url(/images/addTemplate_bg.svg) no-repeat;
background-size: 230px 480px;
}

.me-app-box-heading{
    display: none;
}

.me-app-box-body{
	cursor: pointer;
	height: 266px;
}

.me-app-box-view{
    left: 20px;
position: absolute;
top: 65px;
}

.me-app-name{
    bottom: -20px;
    color: #AAA;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0 #999;
    width: 100%;
}