<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="bloc bgc-white l-bloc" id="bloc-15">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
					<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
				</agm-map>
				<div class="row">
					<div class="col-md-6">
						<app-contact-info [contacts]="contactInfo"></app-contact-info>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
