<div class="page-container padding">
    <div class="bloc bgc-white l-bloc" id="bloc-2">
	    <div class="container bloc-sm">
            <ng-template *ngFor="let category of results;let i = index" [ngIf]="i % 2 === 0">
		        <div class="row row-no-gutters row-padding">
			        <div class="col-xs-6"  (click)="navigateShop('shop',results[i].id,results[i].name,results[i].imageUrl)" *ngIf ="results[i]">
                        <div class="img-focus">  
                             <img src="{{imageUrl}}/{{results[i].imageUrl}}"> 
                        </div>
                        <div class="main-header-font name">
                        {{results[i].name}}
                         </div>
                    </div>
                     <div class="col-xs-6"  (click)="navigateShop('shop',results[i+1].id,results[i+1].name,results[i+1].imageUrl)" *ngIf ="results[i+1]">
                        <div class="img-focus">  
                            <img src="{{imageUrl}}/{{results[i+1].imageUrl}}"> 
                        </div>
                         <div class="main-header-font name">
                            {{results[i+1].name}}
                        </div>
                    </div>
		        </div>
            </ng-template>
        </div>
    </div>
</div>
<!-- My Account Model -->
<div class="modal fade" id="registerModelhome" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div *ngIf="isSubscribing == false">
                    <h3 class="padding-bottom">Subscribe</h3>
                    <div *ngIf = "appPublishDetails">
                        <div  *ngFor = "let operators of appPublishDetails.operators">
                            <div *ngIf = "operators.isEnabled == true || operators.isEnabled == 'true'">
                                <div *ngIf = "operators.interval == 'Daily'">
                                    <p> {{operators.operator | titlecase}} Rs.{{operators.amount}}+tax per day</p>
                                </div>
                                <div *ngIf = "operators.interval == 'Monthly'">
                                    <p> {{operators.operator | titlecase}} Rs.{{operators.amount}}+tax per month</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>The subscription amount will be charged to your mobile phone account and your subscription will be renewed automatically.</p>
                    <p>මෙම සේවාව සදහා දායක මුදල ඔබේ ජංගම දුරකතන ගිණුමෙන් අය කරනු ලැබේ. දායක මුදල් ස්වයංක්‍රීයව නැවත අලුත් කෙරෙනු ලැබේ.</p>
                    <p>இந்த சேவை கட்டணம் உங்கள் தொலைபேசி கணக்கிலிருந்து அறவிடப்படும். உங்களது சேவையானது தானாகவே மீண்டும் மீள் செயட்படுத்தப்படும்.</p>
                </div>
                <div *ngIf="isSubscribing == true">
                    <div class="wrapper">
                        <div class="loader-box">
                            <div class="loader">

                            </div>
                            <div class="loader-text">
                                Subscribing...
                            </div>
                        </div>
                    </div>
                </div>

                <button [disabled]="isSubscribing == true" type="button" class="btn sub-button-sub btn-block" (click)="onSubscribe()"> Subscibe Now</button>
                <button (click)="onCancel()" type="button" class="btn sub-button-cancel btn-block" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>