/** ----------- Start Custom update Css Class ---------- **/
.made-easy-background-color {
    background-color: #10b23e !important;
}
.made-easy-background-image{
    background: url(../img/background.jpg) center;
    background-size: cover;
}
.made-easy-background-color {
    background-color: #ffffff;
    background-size: cover;
}
.made-easy-navigationBarColor{
    background-color: #EAD004;
}
.made-easy-footerColor{
    background-color: #EAD004;
}
.made-easy-header-font{
    color:black;
    font-family: Ubuntu Light;
    font-size: 14;
    font-weight: bold;
}
.made-easy-content-font{
    color: black;
    font-family: Ubuntu Light;
    font-size: 12;
    font-weight: lighter;
}
.made-easy-footer-font{
    color: #B2BEB5;
    font-family: Ubuntu Light;
    font-size: 12;
    font-weight: lighter;
}
.made-easy-button-setting{
    background-color: inherit;
    font-family: Ubuntu Light;
    border-width: inherit;
    border-radius: inherit;
    cursor: url(../img/cursor.cur), auto;
}
.button.disabled, .button[disabled] {
    opacity: .4;
    cursor: default !important;
    pointer-events: none;
}
ion-nav-back-button{
    cursor: url(../img/cursor.cur), auto;
}
ion-nav-bar{
    cursor: url(../img/cursor.cur), auto;
}
ion-nav-view{
    cursor: url(../img/cursor.cur), auto;
}


/* ----- Contact Us Page ----- */
.made-easy-contactUs {
    background-size: cover;
}
.made-easy-contactUs .header{}
.made-easy-contactUs .header .header-image {
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-contactUs .content {
    text-align: center;
}
.made-easy-contactUs .content .last {
    margin-bottom: 20px;
}
.made-easy-contactUs .bottom {
    margin-top: 2.5%;
}

/* ----- Our Stores Page ----- */
.made-easy-aboutUs {
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .header{}
.made-easy-aboutUs .header .header-image {
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .content {
    text-align: center;
    padding: 8px;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .content .last {
    margin-bottom: 20px;
    cursor: url(../img/cursor.cur), auto;
}

ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;
}
a[href]:hover{
    cursor: url(../img/cursor.cur), auto;
}

/* ------------------- */