/** ----------- Start Custom update Css Class ---------- **/
.made-easy-background-color {
    background-color: #10b23e !important;
}
.made-easy-background-image{
    background: url(../img/bg.png) repeat;
    background-size: cover;
}
.made-easy-background-color {
    background-color: #ffffff;
    background-size: cover;
}
.made-easy-navigationBarColor{
    background-color: #EAD004;
}
.made-easy-footerColor{
    background-color: #EAD004;
}
.made-easy-header-font{
    color:#000000;
    font-family: Ubuntu Light;
    font-size: 14px;
    font-weight: bold;
}
.made-easy-content-font{
    color: #000000;
    font-family: Ubuntu Light;
    font-size: 12px;
    font-weight: lighter;
}
.made-easy-footer-font{
    color: #B2BEB5;
    font-family: Ubuntu Light;
    font-size: 12px;
    font-weight: lighter;
}
.made-easy-button-setting{
    background-color: inherit;
    font-family: Ubuntu Light;
    border-width: inherit;
    border-radius: inherit;
    cursor: url(../img/cursor.cur), auto;
}
.button.disabled, .button[disabled] {
    opacity: .4;
    cursor: default !important;
    pointer-events: none;
}
ion-nav-back-button{
    cursor: url(../img/cursor.cur), auto;
}
ion-nav-bar{
    cursor: url(../img/cursor.cur), auto;
}
ion-nav-view{
    cursor: url(../img/cursor.cur), auto;
}

/** --- item Qty err message --- **/
.item-error-message{
    color: red;
    font-size: 70%;
}

/* ----- Contact Us Page ----- */
.made-easy-contactUs {
    background-size: cover;
}
.made-easy-contactUs .header{}
.made-easy-contactUs .header .header-image {
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-contactUs .content {
    text-align: center;
}
.made-easy-contactUs .content .last {
    margin-bottom: 20px;
}
.made-easy-contactUs .bottom {
    margin-top: 2.5%;
}

/* ----- Our Stores Page ----- */
.made-easy-aboutUs {
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .header{}
.made-easy-aboutUs .header .header-image {
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .content {
    text-align: center;
    padding: 8px;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .content .last {
    margin-bottom: 20px;
    cursor: url(../img/cursor.cur), auto;
}

ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;
}
a[href]:hover{
    cursor: url(../img/cursor.cur), auto;
}

/* ------------------- */


.panel .social-button {
    padding: 8.5px 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    margin-left:10px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    cursor: url(../img/cursor.cur), auto;;
}
.panel .social-button-fb{
    padding: 8.5px 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    margin-right:2px;
    margin-left: 20px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    cursor:url(../img/cursor.cur), auto;
}

.panel .create-account-btm {
    width: 58%;
    font-size: 4.0vw;
}

.panel .create-account-btm {
    background-color: #FFBF0A; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 35px;
    cursor:url(../img/cursor.cur), auto;;
    border-radius:4px;
}

.col2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
	font-weight:600;}