<!--<div ng-include=" 'user/header/header.html' "></div>-->
<form name="livePreview" class="clearfix" novalidate>
    <div class="header-beta">We are currently in open beta and you could experience minor issues,
        please do give us feedback on issues and any suggestions to help us improve the system.
        You can contact us on support@otenro.com</div>
    <div class="obl-dashboard-apps-livePreview">
        <fieldset class="text-left">
            <h1 id="livePreviewH1">{{templateViewName}}</h1>
        </fieldset>
        <fieldset class="text-left">
            <label class="font-size-12  reset-margin" >
                    {{templateViewDesc}}
            </label>
        </fieldset>
        <br>
        <fieldset>
            <label class="font-size-12">App Name</label>
            <input class="input-shadow-border" name="appName" type="text" ng-model="appName"
                   ng-enter="answer('useful',appId,tempUrl,tempName,tempCategory)"
                   ng-maxlength="25"
                   ng-blur="checkAppName(appName)"
                   required/>

            <div class="error" ng-if="exist">App Name already exist</div>
        </fieldset>
                <span ng-show="livePreview.appName.$error.maxlength">App Name could contain 25 Characters</span>
        </br>
        <br>
        </br>
        <ul class="grid obl-app-templates clearfix">
            <fieldset class="text-left">
                <button class="me-default-button-preview" ng-click="deleteFile(userId,appId)">
                    Back
                </button>
                <button class="me-default-button-preview" ng-click="answer('useful',appId,tempUrl,tempName,tempCategory)">
                    Get Started
                </button>
            </fieldset>
        </ul>
    </div>
    <div class="mdapp-content-livePreview">
        <div class="device-preview-livePreview" ng-class="tabletView ? 'tabletView' : '!tabletView'">
            <div class="device-simulator" overflow="scroll">
                <me-iphone device-path="{{contentUrl}}" tmp-url="{{appTemplateUrl}}"></me-iphone>
            </div>
        </div>
    </div>
</div>
</form>