<!--<div ng-include=" 'user/header/header.html' "></div>-->
<form name="livePreview" class="clearfix" novalidate>
    <!--<div class="header-beta">We are currently in open beta and you could experience minor issues,-->
        <!--please do give us feedback on issues and any suggestions to help us improve the system.-->
        <!--You can contact us on support@appmaker.lk</div>-->
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'live-preview');
        ga('send', 'pageview');
    </script>

    <div class="mdapp-device-selector2 clearfix">

        <div class="mobile-area">
            <p>Mobile App</p>
            <a class="mobile-icon" href ng-click="changeDevice('mobile')" ng-class="{'current-device': deviceView == 'mobile'}"></a>
            <a class="tablet-icon" href ng-click="changeDevice('tablet')" ng-class="{'current-device': deviceView == 'tabletView'}"></a>
        </div>

        <!--<div class="website-area">-->
            <!--<div class="pull-left">-->
                <!--<p>Website</p>-->
                <!--<a  href ng-click="changeDevice('web')" class="desktop-icon size-fix" ng-class="{'current-device': deviceView == 'web'}"></a>-->
                <!--&lt;!&ndash;<a  href ng-click="temporaryMessage()" class="tablet-icon"></a>&ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->
    </div>
    <div class="obl-dashboard-apps-livePreview">
        <fieldset class="text-left">
            <h1 id="livePreviewH1">{{templateViewName}}</h1>
        </fieldset>
        <fieldset class="text-left">
            <label class="font-size-12  reset-margin" >
                    {{templateViewDesc}}
            </label>
        </fieldset>
        <br>
        <fieldset>
            <label class="font-size-12">App Name</label>
            <input class="input-shadow-border" maxlength="25" name="appName" type="text" ng-model="appName"
                   ng-enter="answer('useful',appId,tempUrl,tempName,tempCategory)" ng-maxlength="25" required/>
        </fieldset>
                <span ng-show="livePreview.appName.$error.maxlength">App Name could contain 25 Characters</span>
        </br>
        <br>
        </br>
        <ul class="grid obl-app-templates clearfix">
            <fieldset class="text-left">
                <button class="me-default-button-preview" ng-click="deleteFile(userId,appId)">
                    Back
                </button>
                <button class="me-default-button-preview" ng-click="answer('useful',appId,tempUrl,tempName,tempCategory,isNew)">
                    Get Started
                </button>
            </fieldset>
        </ul>
    </div>
    <div class="mdapp-content-livePreview">
        <div class="device-preview-livePreview"  ng-class="deviceView" ng-if="deviceView == 'mobile' || deviceView == 'tabletView'">
            <div class="device-simulator" overflow="scroll">
                <me-iphone device-path="{{deviceView}}" tmp-url="{{appTemplateUrl}}"></me-iphone>
            </div>
        </div>
        <div class="device-preview" ng-class="deviceView" ng-if="deviceView == 'web'">
            <div overflow="scroll">
                    <!--<me-tablet ng-show="tabletView" tmp-url="{{appTemplateUrl}}"></me-tablet>-->
                    <me-iphone device-path="{{deviceView}}" tmp-url="{{urlPath1}}"></me-iphone>

            </div>
        </div>
    </div>
</div>
</form>