
<app-carousel
   [slides]="slides">
</app-carousel>


<div class="content">
    <div class="col align-center made-easy-header-font" [innerHTML]="header"></div>
    <div class="col align-center made-easy-content-font" [innerHTML]="content"></div>
</div>

<!--
   <div class="container">
      <div class="row about-main">
        <div class="col-md-12">
          <section class="text-center">
            <h1>Professional Team</h1>
            <h2>Nam in tempus felis, eu eleifend tellus</h2>
            <div>Aliquam rutrum nibh ipsum. Maecenas maximus efficitur lorem vel gravida. Duis sagittis turpis est, in facilisis urna euismod sed. Integer ac lacus ut libero varius tincidunt quis ac lectus. Mauris imperdiet lorem dui, in vulputate augue semper vitae. Fusce luctus ac massa rutrum placerat.</div><img src="http://3.bp.blogspot.com/-zG1KhuD_V10/Tn-mcZiODQI/AAAAAAAAASg/DIG24MXJ7c4/s400/black+color+wallpaper+2.jpg" alt="brand" class="center-block">
          </section>
        </div>
      </div>
  </div>


  <app-marketing-option1-right
      [lists]="lists">
      <div class="row">
        <div class="col-sm-6">
          <h4>Made with love</h4>
          <p>Fusce faucibus et leo ac dignissim. Etiam sit amet est.</p>
        </div>
        <div class="col-sm-6">
          <h4>Durability</h4>
          <p>Nulla sed justo est. Interdum et malesuada fames.</p>
        </div>
      </div>
    </app-marketing-option1-right>

   <app-marketing-option1-left
    [lists]="lists">
     <div class="row">
        <div class="col-sm-6">
          <h4>Made with love</h4>
          <p>Fusce faucibus et leo ac dignissim. Etiam sit amet est.</p>
        </div>
        <div class="col-sm-6">
          <h4>Durability</h4>
          <p>Nulla sed justo est. Interdum et malesuada fames.</p>
        </div>
      </div>
  </app-marketing-option1-left>

      <div class="container progress-list">
        <div class="row">
          <div class="col-md-4">
              <span>9</span>
              <p>Years we are<br>selling clothing</p>
          </div>
          <div class="col-md-4">
             <span>15</span>
             <p>Shops in Europe</p>
          </div>
          <div class="col-md-4">
                <span>100</span>
                <p>Products available<br>every day</p>
          </div>
        </div>
      </div> -->

     <app-newsletter></app-newsletter>


   <hr class="featurette-divider">

