app-page-body{
  min-height: calc(100vh - 139px);
  display: block;
  padding-top: 112px;
}
app-header{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}



@media (max-width: 767px){
	app-page-body{
	  min-height: calc(100vh - 139px);
	  display: block;
	  padding-top: 50px;
      padding-bottom: 89px;
	}

	app-footer{
	  position: fixed;
	  z-index: 9;
	  bottom: 0;
	  width: 100%;
	}
}