<md-dialog aria-label="IOS Store">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'publish-to-app-store');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab >
                <md-tab-label>Apple Developer Account</md-tab-label>
                <md-tab-body >
                    <div class="md-dialog-header">
                        <h1>Developer Account</h1>
                    </div>
                    <div class="md-dialog-main developer-account clearfix">
                        <fieldset>
                            Inviting Team Members<br><br>
                            If you are already have an Apple Develper Account please follow the steps below or visit
                            <a target="_blank"  href="http://developer.apple.com" > http://developer.apple.com </a> to create a new account.
                        </fieldset>

                        <fieldset >
                            <ul>To invite team members,

                                <li>1. Sign in to <a href="https://developer.apple.com/accont">developer.apple.com/accont</a> and click 'People'</li>
                                <li>2. Click invite people.</li>
                                <li class="col-md-12"><img width="100%" src="../images/Apple1.png"></li>
                                <li>3. Enter <a href="">publish@otenro.com</a> email address as admin.
                                    To learn more details about each role click, <a target="_blank"  href="https://developer.apple.com/support/roles/">Learn about roles(https://developer.apple.com/support/roles/)</a>.</li>
                            </ul>
                        </fieldset>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button ng-click="hide()" class="me-default-button">cancel</md-button>
                            <md-button class="me-default-button" ng-click="nextStep(1)">Next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="publishToAppStore.general">
                <md-tab-label>general</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>general</h1>
                    </div>
                    <form name="appStoreForm" novalidate>
                        <div class="md-dialog-main">
                            <fieldset>
                                <label>title name</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input class="input-shadow-border" type="text" name="name" ng-model="appStoreData.name"
                                       maxlength="{{maxName}}"/>
                                <br>
                                <span class="information">Characters left: {{maxName - appStoreData.name.length}}</span>
                            </fieldset>
                            <div class="clearfix">
                                <fieldset class="col-4 profile-image-section">
                                    <label class="reset-inline">Product Image</label>
                                    <a class="feature01 logo-upload">
                                    <span class="overlay01">
                                        <span class="caption01">
                                             <input type="button" class="me-default-button" ngf-select
                                                    ng-model="publishSplash[0]" ngf-accept="image/*"
                                                    value="Upload Image"/>
                                        </span>
                                    </span>
                                        <img ng-show="publishSplash[0] != null" ngf-src="publishSplash[0]"
                                             style="width:120px; height:120px;"/>
                                        <img ng-show="publishSplash[0] == null" ng-src="{{thumbPic}}"
                                             width="120" height="120"/>
                                    </a>
                                </fieldset>
                                <div class="pull-right">
                                    <label class="reset-inline">Screen Shots</label>
                                    <div class="clearfix">
                                        <fieldset class="col-4-1">
                                            <div class="me-file-upload text-right medium">
                                                <div class="upload-wrapper">
                                                    <input type="file" ngf-select ng-model="publishSplash[1]"/>

                                                    <img ng-show="publishSplash[1] != null"
                                                         ngf-src="publishSplash[1]" width="120" height="120"/>
                                                    <img ng-show="publishSplash[1] == null" ng-src="{{thumbPic1}}"
                                                         ng-model="thumbPic1" width="120" height="120"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="col-4-1">
                                            <div class="me-file-upload text-right medium">
                                                <div class="upload-wrapper">
                                                    <input type="file" ngf-select ng-model="publishSplash[2]"/>
                                                    <img ng-show="publishSplash[2] != null"
                                                         ngf-src="publishSplash[2]" width="120" height="120"/>
                                                    <img ng-show="publishSplash[2]== null" ng-src="{{thumbPic2}}"
                                                         ng-model="thumbPic2" width="120" height="120"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="col-4-1">
                                            <div class="me-file-upload text-right medium">
                                                <div class="upload-wrapper">
                                                    <input type="file" ngf-select ng-model="publishSplash[3]"/>
                                                    <img ng-show="publishSplash[3] != null"
                                                         ngf-src="publishSplash[3]" width="120" height="120"/>
                                                    <img ng-show="publishSplash[3] == null" ng-src="{{thumbPic3}}"
                                                         ng-model="thumbPic3" width="120" height="120"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="col-4-1 reset-margin">
                                            <div class="me-file-upload text-right medium">
                                                <div class="upload-wrapper">
                                                    <input type="file" ngf-select ng-model="publishSplash[4]"/>
                                                    <img ng-show="publishSplash[4]!= null"
                                                         ngf-src="publishSplash[4]" width="120" height="120"/>
                                                    <img ng-show="publishSplash[4] == null" ng-src="{{thumbPic4}}"
                                                         ng-model="thumbPic4" width="120" height="120"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <fieldset>
                                    <label>spring board name</label>
                                    <img src="../../../images/question-mark.svg" width="12" height="12">
                                    <input class="input-shadow-border" type="text" name="springBoardName" ng-model="appStoreData.springBoardName"
                                           maxlength="{{maxSpringBoardName}}" required/>
                                    <br>
                                    <span class="information">Characters left: {{maxSpringBoardName - appStoreData.springBoardName.length}}</span>
                                </fieldset>
                                <fieldset class="col-3">
                                    <label>language</label>
                                    <select class="form-control input-shadow-border"
                                            ng-model="appStoreData.language"
                                            ng-options="languages.language as languages.language for languages in languageList"
                                            required>
                                    </select>
                                </fieldset>
                                <fieldset class="col-3">
                                    <label>primary category</label>
                                    <select class="form-control input-shadow-border"
                                            ng-model="appStoreData.primaryCat"
                                            ng-options="catList.category as catList.category for catList in primaryCatList"
                                            required>
                                    </select>
                                </fieldset>
                                <fieldset class="col-3 reset-margin-right">
                                    <label>secondary category</label>
                                    <select class="form-control"
                                            ng-model="appStoreData.secondaryCat"
                                            ng-options="secondaryCat.category as secondaryCat.category for secondaryCat in secondaryCatList"
                                            required>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="clearfix">
                                <fieldset>
                                    <label>description</label>
                                    <textarea class="input-shadow-border" ng-model="appStoreData.desc" rows="2" maxlength="{{maxDesc}}" required></textarea>
                                    <br>
                                    <span class="information">Characters left: {{maxDesc - appStoreData.desc.length}}</span>
                                </fieldset>
                                <fieldset>
                                    <label>keywords</label>
                                    <textarea class="input-shadow-border" ng-model="appStoreData.keywords" rows="2" maxlength="{{maxKeywords}}" required></textarea>
                                    <br>
                                    <span class="information">Characters left: {{maxKeywords - appStoreData.keywords.length}}</span>
                                </fieldset>
                                <fieldset class="col-2">
                                    <label>support url</label>
                                    <img src="../../../images/question-mark.svg" width="12" height="12">
                                    <input class="input-shadow-border" type="text"
                                           ng-model="appStoreData.supportUrl"
                                           name="supportUrl"
                                           ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"
                                           required/>
                                    <span class="error" ng-show="appStoreForm.supportUrl.$error.pattern">Invalid url</span>
                                </fieldset>
                                <fieldset class="col-2 reset-margin-right">
                                    <label>marketing url</label>
                                    <img src="../../../images/question-mark.svg" width="12" height="12">
                                    <input class="input-shadow-border" type="text"
                                           ng-model="appStoreData.marketingUrl"
                                           name="marketingUrl"
                                           ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"
                                           required/>
                                    <span class="error"
                                          ng-show="appStoreForm.marketingUrl.$error.url">Invalid url</span>
                                </fieldset>
                                <fieldset class="col-2">
                                    <label>privacy policy url</label>
                                    <img src="../../../images/question-mark.svg" width="12" height="12">
                                    <input class="input-shadow-border" type="text"
                                           ng-model="appStoreData.privacyPolicyUrl"
                                           name="privacyPolicyUrl"
                                           ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"
                                           required/>
                                    <span class="error"
                                          ng-show="appStoreForm.privacyPolicyUrl.$error.url">Invalid url</span>
                                </fieldset>
                                <fieldset class="col-2 reset-margin-right">
                                    <label>copyrights</label>
                                    <img src="../../../images/question-mark.svg" width="12" height="12">
                                    <input class="input-shadow-border" type="text" ng-model="appStoreData.copyrights" name="copyrights" required/>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="appStoreForm.$invalid"
                                       ng-click="addAppStoreInfo(appStoreData,publishSplash); nextStep(2) ">next
                            </md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="publishToAppStore.contentRating">
                <md-tab-label>content rating</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>content rating</h1>
                        <label class="font-size-12">
                            for each content description choose the level of frequency that best describe your app.
                        </label>
                    </div>
                    <form name="contentRatingForm" novalidate>
                    <div class="md-dialog-main clearfix">
                        <fieldset class="col-3">
                            <label>cartoon violence</label>
                            <select class="input-shadow-border"
                                    ng-model="contentRating.cartoonViolence"
                                    ng-options="contentRating.ratings as contentRating.ratings for contentRating in contentRatingList"
                                    required>
                            </select>
                        </fieldset>
                        <fieldset class="col-3">
                            <label>realistic violence</label>
                            <select class="input-shadow-border"
                                    ng-model="contentRating.realisticViolence"
                                    ng-options="contentRating.ratings as contentRating.ratings for contentRating in contentRatingList"
                                    required>
                            </select>
                        </fieldset>
                        <fieldset class="col-3 reset-margin-right">
                            <label>sexual or nudity</label>
                            <select class="input-shadow-border"
                                    ng-model="contentRating.nudityViolence"
                                    ng-options="contentRating.ratings as contentRating.ratings for contentRating in contentRatingList"
                                    required>
                            </select>
                        </fieldset>
                        <fieldset class="col-3">
                            <label>alcohol, tobacco</label>
                            <select class="input-shadow-border"
                                    ng-model="contentRating.alcoholViolence"
                                    ng-options="contentRating.ratings as contentRating.ratings for contentRating in contentRatingList"
                                    required>
                            </select>
                        </fieldset>
                        <fieldset class="col-3">
                            <label>mature topics</label>
                            <select class="input-shadow-border"
                                    ng-model="contentRating.matureViolence"
                                    ng-options="contentRating.ratings as contentRating.ratings for contentRating in contentRatingList"
                                    required>
                            </select>
                        </fieldset>
                        <fieldset class="col-3 reset-margin-right">
                            <label>simulated gambling</label>
                            <select class="input-shadow-border"
                                    ng-model="contentRating.gamblingViolence"
                                    ng-options="contentRating.ratings as contentRating.ratings for contentRating in contentRatingList"
                                    required>
                            </select>
                        </fieldset>
                        <fieldset class="col-3">
                            <label>profanity</label>
                            <select class="input-shadow-border"
                                    ng-model="contentRating.profanityViolence"
                                    ng-options="contentRating.ratings as contentRating.ratings for contentRating in contentRatingList"
                                    required>
                            </select>
                        </fieldset>
                        <fieldset class="col-3">
                            <label>horror/fear</label>
                            <select class="input-shadow-border"
                                    ng-model="contentRating.horrorViolence"
                                    ng-options="contentRating.ratings as contentRating.ratings for contentRating in contentRatingList"
                                    required>
                            </select>
                        </fieldset>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="contentRatingForm.$invalid"
                                       ng-click="contentRatings(contentRating)">finish</md-button>
                        </div>
                    </div>
                        </form>
                </md-tab-body>
            </md-tab>
            <!--<md-tab ng-disabled="publishToAppStore.information">-->
                <!--<md-tab-label>app review information</md-tab-label>-->
                <!--<md-tab-body>-->
                    <!--<div class="md-dialog-header">-->
                        <!--<h1>app review information</h1>-->
                    <!--</div>-->
                    <!--<form name="appreview" novalidate>-->
                    <!--<div class="md-dialog-main clearfix">-->
                        <!--<fieldset class="col-2">-->
                            <!--<label>first name</label>-->
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <!--<input type="text" ng-maxlength = "20" ng-model="appReview.firstName" name="firstName" required />-->
                            <!--<span class="help-block" ng-show=" appReview.firstName.$error.required">-->
                              <!--*-->
                            <!--</span>-->
                            <!--<span ng-show="appReview.firstName.$error.maxlength">Too lengthy</span>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="col-2 reset-margin-right">-->
                            <!--<label>last name</label>-->
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <!--<input type="text"  ng-maxlength = "20" ng-model="appReview.lastName" name="lastName" required />-->
                            <!--<span class="help-block" ng-show=" appReview.lastName.$error.required">-->
                              <!--*-->
                            <!--</span>-->
                            <!--<span ng-show="appReview.lastName.$error.maxlength">Too lengthy</span>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="col-2">-->
                            <!--<label>email</label>-->
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <!--<input type="email" ng-model="appReview.email" name="emailName" required />-->
                            <!--<span class="help-block" ng-show="appreview.emailName.$error.email">-->
                                <!--Enter a proper email-->
                            <!--</span>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="col-2 reset-margin-right">-->
                            <!--<label>phone number</label>-->
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <!--<input type="number" ng-pattern="/^\d{0,5}(?:\.\d{1,2})?$/" ng-maxlength = "10" ng-model="appReview.phoneNumber" name="phoneNumber" required />-->
                            <!--<span class="help-block" ng-show=" appReview.phoneNumber.$error.required">-->
                              <!--*-->
                            <!--</span>-->
                            <!--<span ng-show="appReview.phoneNumber.$error.maxlength">Too lengthy</span>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="col-2">-->
                            <!--<label>demo account user</label>-->
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <!--<input type="text" ng-maxlength = "20" ng-model="appReview.demoAccountUser" name="demoAccountUser" required />-->
                            <!--<span class="help-block" ng-show=" appReview.demoAccountUser.$error.required">-->
                              <!--*-->
                            <!--</span>-->
                            <!--<span ng-show="appReviewInformationForm.demoAccountUser.$error.maxlength">Too lengthy</span>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="col-2 reset-margin-right">-->
                            <!--<label>demo account password</label>-->
                            <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
                            <!--<input type="password" ng-model="appReview.demoAccountPassword" name="password"-->
                                   <!--ng-minlength="7"-->
                                     <!--ng-pattern="passwordRegularExpression"-->
                                   <!--required/>-->
                            <!--<span class="help-block " ng-show="appreview.password.$error.minlength">-->
                             <!--<span ng-show="appreview.password.$error.minlength">Password should have at least 7 characters.</span>-->
                            <!--</span>-->
                            <!--<span class="help-block " ng-show="!(appreview.password.$error.minlength) && appreview.password.$error.pattern">-->
                               <!--<span >Password should have at least one lower or Upper letter and one number</span>-->
                            <!--</span>-->
                        <!--</fieldset>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--<div class="md-dialog-buttons">-->
                        <!--<div class="inner-section">-->
                            <!--<md-button class="me-default-button" ng-click="cancel()">cancel</md-button>-->
                            <!--<md-button class="me-default-button" ng-click="appReviewInfo(appReview)">next</md-button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-tab-body>-->
            <!--</md-tab>-->
            <!--<md-tab ng-disabled="publishToAppStore.promotions">-->
                <!--<md-tab-label>promotions</md-tab-label>-->
                <!--<md-tab-body>-->
                    <!--<div class="md-dialog-header">-->
                        <!--<h1>promotions</h1>-->
                        <!--<label class="font-size-12">-->
                            <!--please note that the images below have to be screenshots of the app itself, and have to be-->
                            <!--taken from specified device.-->
                            <!--images not meeting required resolution will be resized.-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-main clearfix">-->
                        <!--<fieldset class="col-4">-->
                            <!--<label class="reset-inline">iphone 5</label>-->
                            <!--<div class="me-file-upload medium">-->
                                <!--<div class="upload-wrapper">-->
                                    <!--<input type="file"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="col-4">-->
                            <!--<label class="reset-inline">iphone 5s</label>-->
                            <!--<div class="me-file-upload medium">-->
                                <!--<div class="upload-wrapper">-->
                                    <!--<input type="file"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="col-4">-->
                            <!--<label class="reset-inline">iphone 6</label>-->
                            <!--<div class="me-file-upload medium">-->
                                <!--<div class="upload-wrapper">-->
                                    <!--<input type="file"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="col-4 reset-margin-right">-->
                            <!--<label class="reset-inline">iphone 6s</label>-->
                            <!--<div class="me-file-upload medium">-->
                                <!--<div class="upload-wrapper">-->
                                    <!--<input type="file"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</fieldset>-->
                    <!--</div>-->
                    <!--<div class="md-dialog-buttons">-->
                        <!--<div class="inner-section">-->
                            <!--<md-button class="me-default-button" ng-click="cancel()">cancel</md-button>-->
                            <!--<md-button class="me-default-button">back</md-button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-tab-body>-->
            <!--</md-tab>-->
        </md-tabs>
    </md-dialog-content>
</md-dialog>