
<!-- Main container -->
<div class="page-container">
  <!-- bloc-26 -->
  <div class="bloc b-parallax bgc-white " id="bloc-26">
    <div class="container bloc-lg">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center header main-header-font  hidden-xs">
            TERMS AND CONDITIONS
          </h2>
          <div class="row">
            <div class="col-sm-12 main-content-font" [innerHTML]="terms | safeHtml">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- bloc-26 END -->
</div>