<ion-view view-title="The English Cake Company">
  <ion-content class="padding">
  	<h1>Shopping Cart</h1>
	<div class="list">

	    <div class="item">
	      <h2>Chrismas Cake</h2>
	      <div>
		      	2 items
		       <span class="item-note">Rs. 2000</span>
	      </div>
	      <button class="button button-clear button-assertive reset-padding">Remove</button>
	    </div>

	    <div class="item">
	      <h2>Butter Cake</h2>
	      <div>
		      	2 items
		       <span class="item-note">Rs. 3000</span>
	      </div>
	     <button class="button button-clear button-assertive reset-padding">Remove</button>
	    </div>

	    <div class="item">
	      <h2>Chocolate Cake</h2>
	      <div>
		      	2 items
		       <span class="item-note">Rs. 2500</span>
	      </div>
	      <button class="button button-clear button-assertive reset-padding">Remove</button>
	    </div>
	    <button class="button button-small button-energized add-more">Add More</button>
	    <div class="text-align-right">
	    	 <a ui-sref="pickup" class="button button-buy">Pick Up</a>
	    	 <a ui-sref="delivery" class="button button-buy dark">Delivery</a>
	    </div>
	</div>
  </ion-content>
</ion-view>