<ion-view view-title="The English Cake Company">
	<ion-content class="padding">
		<h1>Delivery</h1>
		<form class="contact-form" id="myorm" name="contactForm" novalidate>
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label" >Name</span>
			    <input type="text" name="customerName" ng-model="delivery.name" required>
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Telephone</span>
                <br>
			      <span> +94 </span>
            <input type="number"  ng-minlength="9" ng-maxlength="10" name="customerNumber" ng-model="delivery.contactNo" required>
          <span class="error-messages"
                 ng-show="contactForm.customerNumber.$dirty
                                                && contactForm.customerNumber.$invalid" >
                  The phone number field should be of 10 digits
          </span>

        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input  name="deliveryEmail" type="email" ng-model="delivery.email" required>
          <span class="error-messages"
                ng-if="contactForm.deliveryEmail.$dirty">
                                    <span class="error-messages" ng-show="contactForm.deliveryEmail.$error.email">Not a valid email address.</span>
                                </span>

        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Delivery Location
          </div>
          <select required ng-model="delivery.location" ng-change="addDeliveryFee(delivery.location.deliveryCharge)"
                  ng-options="location as
                  location.locationName +' Rs '+location.deliveryCharge
                  for location in deliveryLocations">
            <option value="">-- Select Location --</option>
          </select>
			  </label>
        <label class="item item-input item-stacked-label" ng-show="isVisibleAddress">
          <span class="input-label" >Address</span>
          <input type="text" name="deliveryAddress" ng-model="delivery.address" required>
        </label>
        <label class="item">
          <span class="pickupDeliveryInfo ">Select Date and Time for Delivery</span>
          <div class="pickupDeliveryInfo">Delivery is available from <span><br>10:00 am to 8:00 pm everyday</span></div>
        <label class=" item-input item-stacked-label" ng-click="openDatePicker()">
          <span class="input-label">Delivery Date</span>
          <input ng-disabled="true" class="pickup-disable" type="text" placeholder="DD - MM - YYYY"
                 name="customerPickupDate" ng-model="delivery.date" required>
        </label>
        <label class=" item-input item-stacked-label" ng-click="openDateTime()">
          <span class="input-label">Delivery Time</span>
          <input ng-disabled="true" class="pickup-disable" type="text"
                 placeholder="-- : --  --" name="customerPickupTime" ng-model="delivery.time" required>
        </label>
          <div ng-if="isOutOfHours">
          <span class="pickupDeliveryError">Sorry, delivery is not available at that time.<br><span> Please select again.</span></span>
        </div>
          <div ng-if="OutOfDate">
            <span class="pickupDeliveryError">Selected Date & Time has already passed</span>
          </div>

        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Comment</span>
          <input type="text" name="deliveryComment" ng-model="delivery.comment">
        </label>
			</div>
			<div>
        <br>
        <label>
            Total Amount
        </label>
        <span>{{delivery.usdAmount| currency}}</span>
      </div>
      <div ng-show="isVisibleAddress">
        <label>
          Total Amount with Delivery Fee
        </label>
        <span>{{delivery.usdAmountWithDeliveryFee | currency}}</span>
      </div>
			<div class="text-align-right">
	    	 	<a ui-sref="tab.cart" class="button button-buy"  ng-click="reset()">Back</a>
	    	 	<a href="" class="button button-buy dark" ng-disabled="contactForm.$invalid || isOutOfHours == true || OutOfDate == true" ng-click="payNow()">Pay</a>
      </div>
		</form>
	</ion-content>
</ion-view>
