<ion-view hide-nav-bar="true" view-title="The English Cake Company">
	<ion-content class="home-wrapper">
		<img class="banner" src="./img/banner.png" alt="Banner" />
		<div class="list home-menu">
			<a class="item item-icon-right" ui-sref="tab.menu">
				Menu
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<a class="item item-icon-right" ui-sref="tab.about">
				About
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<a class="item item-icon-right" ui-sref="tab.contact">
				Contact
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div>
		<div class="promotions">
			<a class="button button-stable promo-button" ui-sref="promos">
				Promotions <i class="ion-ios-pricetags-outline"></i>
			</a>
		</div>
		<p class="copy-right">&copy Developed By Onbit Labs (Pvt) Ltd</p>
	</ion-content>
</ion-view>
