<ion-view view-title="The English Cake Company">
	<ion-content class="padding">
		<h1>Pick Up</h1>
		<form class="contact-form" name="customerPickupForm" novalidate>
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Name</span>
			    <input type="text" name="customerName" ng-model="pickup.name" required>
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Telephone</span>
          <br>
          <span> +94 </span>
          <input type="number" ng-minlength="10" ng-maxlength="10" name="customerNumber" ng-model="pickup.contactNo" required>
          <span class="error-messages"
                ng-show="customerPickupForm.customerNumber.$dirty
                                                && customerPickupForm.customerNumber.$invalid" >
                  The phone number field should be of 10 digits
          </span>

        </label>
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Branches
			    </div>
			    <select required ng-model="pickup.branch">
            <option ng-repeat="branch in branchLocations" value="{{branch.locationName}}">
              {{branch.locationName}}
            </option>
			    </select>
			  </label>




        <label class="item">
          <span class="pickupDeliveryInfo ">Select Date and Time for Pickup</span>
          <div class="pickupDeliveryInfo">Pick up is available from 8:00 am to 9:00 pm everyday</div>

          <label class="pickupDeliveryInfo " style="width: 100%">Pick Up Time * : {{ pickup.pickTime}}</label>
        <label class=" item-input item-stacked-label" ng-click="openDatePicker()">
          <span class="input-label">Pick Up Date</span>
          <input ng-disabled="true" class="pickup-disable" type="text" placeholder="DD - MM - YYYY" name="customerPickupDate" ng-model="pickup.date" required>
        </label>
        <label class=" item-input item-stacked-label" ng-click="openDateTime()">
          <span class="input-label">Pick Up Time</span>
          <input ng-disabled="true" class="pickup-disable" type="text" placeholder="-- : --  --" name="customerPickupTime" ng-model="pickup.time" required>
        </label></label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Comment</span>
          <input type="text" name="customerComment" ng-model="pickup.comment">
        </label>
        <div>
          <br>
          <label>
            Total Amount
          </label>
          <span>{{pickup.usdAmount| currency}}</span>
        </div>
			</div>
			<div class="text-align-right">
	    	 	<a ui-sref="tab.cart" class="button button-buy">Back</a>
	    	 	<a href="" class="button button-buy dark" ng-disabled="customerPickupForm.$invalid" ng-click="payNow()">Pay</a>
	    	</div>
		</form>
	</ion-content>
</ion-view>
