<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="The English Cake Company">
  <ion-content class="padding">
    <div class="list card">

      <div class=" item-header">
        <h2>{{product.name}}</h2>
      </div>

      <div class=" item-body">
        <img class="full-image" src="{{SERVER_URL}}{{product.logoUrl}}">
        <p>
            {{product.description}}
        </p>
      </div>

      <div class=" item-divider">
        <div class="padding-vertical">

            <div class="row">
              <div class="col"><span>{{product.quantity}}</span></div>
              <div class="col"><ion-radio ng-repeat="item in choice"
                             ng-value="item.value"
                             ng-model="data.choice">
                {{ item.text }}
              </ion-radio></div>
              <div class="col text-align-right">{{product.price | currency:"Rs. " }} <br><br><br>{{product.perSlicePrice | currency:"Rs. " }}</div><br >

        </div>


        </div>

        <label class=" item-input qty-container">
          <span class="input-label">Qty</span>
          <input type="tel" ng-model="product.qty" class="qty-input-box">
        </label>
        <button class="button button-full button-buy" ng-click="buy(data.choice)">Buy</button>
      </div>

      <ul class="social-links">
        <li>
            <a href="https://www.facebook.com/TheEnglishCakeCompany" target="_blank">
              <i class="icon ion-social-facebook"></i>
            </a>
        </li>
        <li>
          <a href="https://plus.google.com/+Tecclk" target="_blank">
            <i class="icon ion-social-googleplus"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/tecclk" target="_blank">
            <i class="icon ion-social-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon ion-social-pinterest"></i>
          </a>
        </li>
      </ul>

    </div>
  </ion-content>
</ion-view>
