<ion-view view-title="The English Cake Company">
  <ion-content class="padding">
	<h1>Welcome</h1>
	<p class="text-align-justify font-size-14">
		There is nothing like The English Cake Company anywhere with its wide range of cakes,
		puddings and savouries, all home-made with only natural ingredients using the best ingredients available.
 		We only make the things we like, just the way we like to eat them... that’s why everyone loves them.
	</p>

	<div class="list card category" ng-repeat="category in categories">
	  <div class="item item-header">
		<h2>{{category.name}}</h2>
	  </div>
    <a href='#/tab/menu/{{category.categoryCode}}'>
      <div class="item item-image">
        <img ng-src="{{SERVER_URL}}{{category.logoUrl}}">
      </div>
    </a>

	  <a class="item item-icon-right positive" href="#/tab/menu/{{category.categoryCode}}">
		<i class="icon ion-ios-arrow-right"></i>
		View Products
	  </a>
	</div>
    <div class="promotions-0">
      <a class="button button-stable promo-button" ui-sref="promos">
        Promotions <i class="ion-ios-pricetags-outline"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
