<ion-view view-title="The English Cake Company">
	<ion-content class="padding">
		<h1>Contact Us</h1>
		<form class="contact-form" name="contactForm">
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Name</span>
			    <input type="text" name="contactForm.name" ng-model="contact.name" placeholder="john" required>
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Email</span>
			    <input type="email" name="email" ng-model="contact.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                 placeholder="john@gmail.com" required>
          <span class="error-messages"
                ng-if="contactForm.email.$dirty && contactForm.email.$invalid">
                                    <span class="error-messages" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">Not a valid email address.</span>
                                </span>
			  </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" name="contactForm.title" ng-model="contact.title" placeholder="Title of comment" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Upload Image (Optional)</span>
          <br>
          <button class="button button-buy" ng-click="upload()">Pick Image</button>
          <p>{{selectImage}}</p>
        </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Comments</span>
			     <textarea name="contactForm.msg" rows="6" ng-model="contact.msg" placeholder="Your comments..." required></textarea>
			  </label>
			</div>
			<button class="button button-full button-buy" ng-disabled="contactForm.$invalid" ng-click="submitContactForm(selectImage,contact)">Send</button>
		</form>

		<h1 class="font-size-14">Address</h1>

		<p>
			2, Sulaiman Terrace,<br/>
			Jawatte road,<br/>
			Colombo 5<br/>
			Sri Lanka<br/>
		</p>

		<h1 class="font-size-14">Get in Touch</h1>

		<p>
			HOTLINE: 077 297 4726<br/>
			The Cakery:  011 250 1344<br/>
			Email: orders@tecclk.com <br/>
			Website: www.tecclk.com<br/>
		</p>

		<ul class="social-links text-align-left">
			<li>
				<a href="https://www.facebook.com/TheEnglishCakeCompany" target="_blank">
				  <i class="icon ion-social-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/tecclk" target="_blank">
				  <i class="icon ion-social-twitter"></i>
				</a>
			</li>
		</ul>
    <div class="promotions-0">
      <a class="button button-stable promo-button" ui-sref="promos">
        Promotions <i class="ion-ios-pricetags-outline"></i>
      </a>
    </div>

	</ion-content>
</ion-view>
