<!-- Main container -->
<div class="page-container">
	<!-- bloc-17 -->
	<div class="bloc bgc-white l-bloc" id="bloc-17">
		<div class="container bloc-lg">
			<div class="row">
				<div class="col-md-3">
					<p class="links hidden-xs hidden-sm">
						LOGIN
					</p>
					<p class="links hidden-xs hidden-sm" (click)='register()'>
						REGISTRATION
					</p>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-sm-12">
							<form class="main-content-font" #f="ngForm" (ngSubmit)="login(f.value)" novalidate>
								<div class="row">
									<div class="col-sm-12">
										<h2 class="text-center header main-header-font">
											LOGIN TO YOUR ACCOUNT
										</h2>
									</div>
								</div>
								<div class="form-group">
									<label>
										User Name
									</label>
									<input class="form-control" type="email" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" id="username" placeholder="you@example.com" name="userEmail" userEmail='ngModel' #userEmail="ngModel" ngModel required />

									 <div *ngIf="userEmail.invalid && loginclicked == true && (userEmail.touched && userEmail.dirty)" class="alert alert-danger">
						                <div *ngIf="userEmail.hasError('required')">Email is required</div>
						                <div *ngIf="userEmail.hasError('pattern')">Invalid Email</div>
						              </div>
								</div>
								<div class="form-group">
									<label>
										Password
									</label>
									<input class="form-control" type="password" id="password" name="password" password='ngModel' #password="ngModel" ngModel required />
									 <div *ngIf="password.invalid &&  loginclicked == true && (password.touched && password.dirty)" class="alert alert-danger">
						                <div *ngIf="password.hasError('required')">Password is required</div>
						             </div>
								</div>
                <a>
                  <div data-toggle="modal" data-target="#myModal">Forgot Password?</div>
                </a>
								<div class="row header-spacing-top">
									 <div  *ngIf="ifInvalidUserPassword"  class="alert alert-danger row padding text-center">
								      <div><i class="fa fa-exclamation-triangle"></i> Email or password is not correct. Please try again.</div>
								    </div>
									<div class="col-sm-4">
									</div>
									<div class="col-sm-4">
										<button [disabled]="loading || userEmail.invalid || password.invalid" type="submit" class="btn btn-d btn-lg main-button btn-block">Login</button>
									</div>
									<div class="col-sm-4">
										<a  (click)='register()' class="btn btn-d btn-lg main-button btn-block">Register</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- bloc-17 END -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

	  <!-- Modal content-->
	  <div class="modal-content" style="margin: 20vh 0;">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">Enter Your Email</h4>
		</div>
		<div class="modal-body">
		  <input class="form-control" #email='ngModel' type="email" name="email" id="email" placeholder="you@example.com"
				  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" ngModel required>
		  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
			<div [hidden]="!email.hasError('required')">email is required</div>
			<div [hidden]="!email.hasError('pattern')">Invalid Email ID</div>
		  </div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="forgotPassword(email.value)">Send</button>
		</div>
	  </div>

	</div>
  </div>

  <div class="col-sm-12" style="margin: 10px 0">
	<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  </div>
  <div class="col-sm-12" style="margin: 10px 0">
	<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
  </div>
