/* Empty. Add your own CSS if you like */

.app-area-view {
    background-color: gold;
}

.app-area-view .app-box {
    background-color: azure;
    border: 10px;
    margin: 5px;
}

/* ---- IONIC ------ */
.inAppBrowserWrap {
    background-color: rgba(0,0,0,0.75);
    color: rgba(235,235,235,1.0);
}
.inAppBrowserWrap menu {
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
.inAppBrowserWrap menu li {
    font-size: 25px;
    height: 25px;
    float: left;
    margin: 0 10px;
    padding: 3px 10px;
    text-decoration: none;
    color: #ccc;
    display: block;
    background: rgba(30,30,30,0.50);
}
.inAppBrowserWrap menu li.disabled {
    color: #777;
}

/* ---- CUSTOM ------ */
body{
    font-family: "Open Sans",sans-serif;
}

.bar .title {
    text-transform: uppercase;
}

.tabs-balanced > .tabs, .tabs.tabs-balanced {
    background-color: #ac2e72;
    background-image: none;
    border-color: #ac2e72;
}
.tabs-striped.tabs-balanced .tabs {
  background-color: #ac2e72;
}
.border-less-list a{
    border: none;
    background-color: #ac2e72;
    color: white;
}
.border-less-list1 a{
    border: none;
    background-color: #fff;
    color: white;
}

.border-less-list a.logout{
    color: #fff !important;
}

.std-button{
    background-color: #9E7BFF;
    color: white;
    border-radius: 13px;
}

.bar.bar-standard {
    background-color: #ac2e72;
    background-image: none;
    border: medium none;
    color: #fff;
}

.bar.bar-balanced .title {
    color: #808080;
}

.bar .button, .bar button {
    font-size: 24px;
    background-color: transparent;
    color: white;
}

h1{
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    line-height: 35px;
    margin: 0 !important;
    padding-left: 10px;
    text-transform: uppercase;
}

.logo-section{
    padding: 80px 0 30px;
    text-align: center;
}

.logo-section h2{
    color: #333333;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}


.my-apps a:nth-of-type(2n+1) {
    background-color: #FAFAFA;
}
.backView {
  background-color:#ac2e72;
}
.view-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ac2e72;
}
.login{
    margin-right: auto;
    width:85%;
    height:85%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 13px;
}
.dashboard{
    margin-right: auto;
    width:95%;
    height:85%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 13px;
}
.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.item-input{
  border-radius: 13px;
}

