/* Empty. Add your own CSS if you like */


.made-easy-background-color{
  background: rgba(159,34,134,1);
  background: -moz-linear-gradient(left, rgba(159,34,134,1) 0%, rgba(255,113,205,1) 84%, rgba(255,113,205,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(159,34,134,1)), color-stop(84%, rgba(255,113,205,1)), color-stop(100%, rgba(255,113,205,1)));
  background: -webkit-linear-gradient(left, rgba(159,34,134,1) 0%, rgba(255,113,205,1) 84%, rgba(255,113,205,1) 100%);
  background: -o-linear-gradient(left, rgba(159,34,134,1) 0%, rgba(255,113,205,1) 84%, rgba(255,113,205,1) 100%);
  background: -ms-linear-gradient(left, rgba(159,34,134,1) 0%, rgba(255,113,205,1) 84%, rgba(255,113,205,1) 100%);
  background: linear-gradient(to right, rgba(159,34,134,1) 0%, rgba(255,113,205,1) 84%, rgba(255,113,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f2286', endColorstr='#ff71cd', GradientType=1 );

}

.made-easy-navigationBarColor{
    background-color: transparent !important;
    color: #fff !important;
    border: 0;
    box-shadow: none;
}
.made-easy-navigationBarColor .bar .button.button-clear{
    color:inherit;
}

.made-easy-navigationBarColor .item {
    border-style:unset;
}


.made-easy-navigationBarColor .list{
    margin-top:30%;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: 0;
    color:inherit;
    padding:6px;
}


.navigation-drawer .menu-left{
    -webkit-transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transform: translate3d(-275%, 0px, 0px);
}


.menu-open .navigation-drawer .menu-left{
    width: 90% !important;
    z-index: 1 !important;
    transform: translate3d(0%, 0px, 0px);

background: rgba(255,113,205,0.6);
background: -moz-linear-gradient(left, rgba(255,113,205,0.6) 0%, rgba(159,34,134,0.94) 84%, rgba(159,34,134,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,113,205,0.6)), color-stop(84%, rgba(159,34,134,0.94)), color-stop(100%, rgba(159,34,134,1)));
background: -webkit-linear-gradient(left, rgba(255,113,205,0.6) 0%, rgba(159,34,134,0.94) 84%, rgba(159,34,134,1) 100%);
background: -o-linear-gradient(left, rgba(255,113,205,0.6) 0%, rgba(159,34,134,0.94) 84%, rgba(159,34,134,1) 100%);
background: -ms-linear-gradient(left, rgba(255,113,205,0.6) 0%, rgba(159,34,134,0.94) 84%, rgba(159,34,134,1) 100%);
background: linear-gradient(to right, rgba(255,113,205,0.6) 0%, rgba(159,34,134,0.94) 84%, rgba(159,34,134,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff71cd', endColorstr='#9f2286', GradientType=1 );


}

.navigation-drawer ion-item{
    background-color: transparent;
    border: 0;

}

.navigation-drawer ion-item a{
    background-color: transparent !important;
    margin-left: 10%;
}

.navigation-drawer .menu-animated{
    transform:unset !important;
}
.navigation-drawer ion-nav-bar{
    border: 0;
    background: transparent;
}
.navigation-drawer .bar.bar-header {
    border: 0;
    background: transparent;
}

.navigation-drawer  ion-header-bar{
    border: transparent;

}

.navigation-drawer  ion-header-bar button{
    background-color:unset !important;
    border: unset;
}

.navigation-drawer .back-button {
    margin: 0 0 0 5px;
}

.navigation-drawer .back-button span{
    display:none;
}

.app-area-view {
    background-color: gold;
}

.app-area-view .app-box {
    background-color: azure;
    border: 10px;
    margin: 5px;
}

/* ---- IONIC ------ */
.inAppBrowserWrap {
    background-color: rgba(0,0,0,0.75);
    color: rgba(235,235,235,1.0);
}
.inAppBrowserWrap menu {
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
.inAppBrowserWrap menu li {
    font-size: 25px;
    height: 25px;
    float: left;
    margin: 0 10px;
    padding: 3px 10px;
    text-decoration: none;
    color: #ccc;
    display: block;
    background: rgba(30,30,30,0.50);
}
.inAppBrowserWrap menu li.disabled {
    color: #777;
}

/* ---- CUSTOM ------ */
body{
    font-family: "Open Sans",sans-serif;
}

.logout{
  position: relative;
  top: calc(22vh);
}

.com-link {
    position: relative;
    top: calc(24vh); 
}

.settings {
  border-bottom: 1px solid #fff !important;
}
.settings h1, .settings p{
  color: #fff !important;
}

.card{
    top: 5%;
    position: relative;
    overflow-y: auto;
    border-radius: 5px;
}

.scroll{
  height:100%;
}

.logo-section{
  height:70vh;
}

/*----- Login.html CSS  ------*/

#email{
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

#password{
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

#mobile{
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

#pin{
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

#login-input-container input{
    height: 20px;
}

.input-label {
    color: grey;
    width: 100%;
    text-align: start;
    padding: 5px 10px;
}
