<ion-view class="made-easy-background-color made-easy-background-image" view-title="Cart">
  <ion-nav-buttons side="left">
        <button class="button back-button buttons icon ion-ios-arrow-back header-item"ng-click="doSomething()">
        </button>
  </ion-nav-buttons>
    <ion-content class="padding" >
        <div class="card">
            <div class="list cart">
                <a class="item item-avatar item-icon-right" href="#"  ng-repeat="item in cartItems">
                    <img src="{{imageURL}}/{{item.imgURL[0].img}}">
                    <i class="dark icon ion-trash-a" ng-click="removeItem($index)"></i>
                    <h2>{{item.name}}</h2>
                    <p ng-repeat="variant in item.variant">{{variant.name}} : {{variant.vType}}</p>
                    <p><span>Qty: </span><input type="number" min="1" value="{{item.qty}}" style="display: inline" ng-model="item.qty" ng-change="buttonDisable(item.qty,item.totalQty, cartItems.indexOf(item))"></p>
                    <p>Price: {{currency}} {{item.total*item.qty}}</p>
                    <!-- Buy Qty error message -->
                    <div class="text-left">
                        <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
                        <div ng-if="item.qty > item.totalQty && item.totalQty > 1" >
                                <span class="animated zoomIn item-error-message">
                                    Please enter a quantity of {{item.totalQty}} or less.
                                </span>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col text-center padding-horizontal padding-bottom made-easy-header-font">
                Total: {{currency}} {{getTotal()}}
            </div>
            <div class="row padding-bottom">


                <button class="button margin button-block button-small made-easy-button-setting"
                        ng-disabled="!getTotal() || buyButtonDisable"
                        ng-click="pickupDetails(cartItems)" >Pick up</button>



                <button class="button margin button-block button-small made-easy-button-setting"
                        ng-disabled="!getTotal() || buyButtonDisable"
                        ng-click="delivery(cartItems)" >Delivery</button>

            </div>
        </div>
  </ion-content>

</ion-view>
