<ion-view class="made-easy-background-image made-easy-background-color" view-title="Pick Up Details">
    <ion-content class="padding">
        <div class="card animated zoomIn">
            <form name="pickupDetails">

                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="details.name" placeholder="Ex : John Dough" required>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Contact number</span>
                        <input type="text" pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$" name="teleNumber" ng-model="details.number" placeholder="Ex : +94712345678" required>
                         <span class="item-error-message" ng-show="pickupDetails.teleNumber.$error.pattern">
                             Enter a proper telephone number
                        </span>
                    </label>
                </div>
                <div class="row">
                    <div class="col col-top"></div>
                    <button class="col col-50 col-center button made-easy-button-setting button-small" ng-disabled="pickupDetails.$invalid" ng-click="pickUp(details)" >Continue</button>
                    <div class="col col-top"></div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
