<ion-view class="made-easy-background-color made-easy-background-image" view-title="{{menuName}}">
    <ion-content class="padding-horizontal home">

        <div ui-sref="tab.item({item:item})"   ng-repeat="item in itemList" >
            <div class="card tab-items">
                <div class="item item-text-wrap no-padding">
                    <div class="row no-padding">
                        <div class="col no-padding">
                            <div class="list list-inset-full">
                                <img width="100%" style="display:flex;" src="{{item.imageUrl}}">
                            </div>
                        </div>
                        <div class="col col-center align-right">

                            <div class="made-easy-content-font">{{item.name}}</div>
                            <span class="made-easy-content-font">{{currency.sign}}{{item.variants[0].price}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
