<div class="bloc bgc-white l-bloc padding-fit-top" id="bloc-15">
  <div class="container bloc-md">
    <div class="row" *ngIf="privacyPolicy">
      <div class="col-sm-12">
        <h2 class="mg-md about-us main-header-font">
          Privacy Policy
        </h2>
        <p class="main-content-font" [innerHTML]="privacyPolicy"> </p>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="returnPolicy">
      <div class="col-sm-12">
        <h2 class="mg-md about-us  main-header-font">
          Return Policy
        </h2>
        <p class="main-content-font" [innerHTML]="returnPolicy"> </p>
      </div>
    </div>
    <app-accepted-payment-type></app-accepted-payment-type>

  </div>
</div>