

/* CUSTOMIZE THE CART
-------------------------------------------------- */

.cart{
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.cart label{
  font-size: 18px;
  display: block;
  margin-top: 20px;
  margin-bottom: 0;
}

.cart .total-price{
  margin-top: 26px;
  font-size: 16px;
  font-weight: 600;
  overflow: auto;
}
.cart .variants{
  font-size: 15px;
  font-weight: 600;
  vertical-align: middle;
  height: 75px;
  display: table-cell;
}

.cart #btn-minus, #btn-plus, #qty{
  display: inline-block;
}

.cart #qty{
  margin-top: 20px;
  position: relative;
  top:1px;
  width: 50%;
}

.cart+.cart{
  border-top: 0;
}
.cart img{
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.cart .delete{
  margin-top: 18px;
}
@media (max-width: 991px) and (min-width: 768px){
 .main-button{
   margin-left: 10px!important;
   margin-right: 10px!important;
 }
}
@media (max-width: 767px) {
  .cart img{
    width: 60px;
    height: 60px;
  }

  .cart #qty{
    width: 100%;
  }

  .no-m-margin{
    margin: 0 !important;
  }

  .no-m-padding{
    padding: 0;
  }
  .cart .variants{
    height: initial;
  }

}
