<!-- bloc-18 -->
<div class="bloc bgc-white none b-parallax tc-outer-space hidden-sm hidden-lg hidden-md" id="bloc-18">
  <div class="container bloc-xl ">
    <div class="row bgc-white row-spacing-mobile">
      <div  *ngIf="cartItems.length != 0">
            <div class="row row-no-gutters"  *ngFor="let item of cartItems ; let i = index">
              <div class="col-xs-6">
                 <img *ngIf="item.imgURL" src="{{imageUrl}}/{{item.imgURL}}" class="img-responsive img-thumb-small-cart center-block lazyload">
                <img *ngIf="!item.imgURL" src="{{imageUrl}}/{{item.imgDefault}}" class="img-responsive img-thumb-small-cart center-block lazyload">
              </div>
              <div class="col-xs-6">
                <p class="mg-md text-siize  text-left  main-header-font">
                  <strong>{{item.name}}</strong>
                </p>
                <p class="sub-header-text-h2 text-justify main-content-font"  *ngFor="let v of item.variant">
                  {{v.name}} : {{v.vType}}
                </p>
                
                <p class="sub-header-text-h2 text-justify main-content-font">
                  QTY : <input class="form-control qty-input" name="qty" id="qty" type="number" min="1" oninput="validity.valid||(value='');"
                  [(ngModel)]="item.qty" value="{{item.qty}}" (change)="buttonDisable(item.qty,item.totalQty ,cartItems.indexOf(item))"
                  ngDefaultControl>
                </p>
                  <!-- Product not available in store -->
                  <div class="col" *ngIf="cartItems[0].totalQty == 0">
                    <span style="color:rgb(180, 30, 30)">
                      Product not available
                    </span>
                  </div>
                  <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
                  <div class="col" *ngIf="item.qty > cartItems[i].totalQty && cartItems[i].totalQty > 1">
                    <span style="color:rgb(180, 30, 30)">
                      Enter a quantity of {{cartItems[i].totalQty}} or less.
                    </span>
                  </div>
                  <div class="col" *ngIf="item.qty > cartItems[i].totalQty && cartItems[i].totalQty == 1">
                    <span style="color:rgb(180, 30, 30)">
                      Enter a quantity of {{cartItems[i].totalQty}}.
                    </span>
                  </div><br>
                  <p class="sub-header-text-h2 text-justify  main-content-font">
                    Price : {{currency}} {{itemPriceCal(item.total,item.qty)}}
                  </p>
                <a (click)="removeItem(i)" class="btn btn-d btn-lg pull-left button-mobile spacing-mobile-button main-button">Remove</a>
              </div>
            </div>
      </div>
      <div class="padding-top" *ngIf="cartItems.length != 0">
        <div class="row row-no-gutters pricing-table lines">
          <div class="col-xs-5">
            <div class="text-siize main-content-font">
              Total amount
            </div>
          </div>
          <div class="col-xs-7">
              <p class="text-right text-siize  main-content-font" *ngIf="cartItems.length > 0" [(ngModel)]="total" ngDefaultControl>
                {{currency}} {{getTotal()}}
              </p>

          </div>
          <div class="col-xs-12">
            <a *ngIf="cartItems.length > 0  && enableDelivery" class="btn btn-d btn-lg pull-right button-spacing-top main-button" (click)="delivery(cartItems)">Delivery</a>
              <a *ngIf="cartItems.length > 0  && enablePickup" class="btn btn-d btn-lg pull-right button-spacing-top main-button" (click)='pickupDetails(cartItems)'>Pickup</a>
          </div>
        </div>
      </div>
      <h1 class="text-center  main-header-font" *ngIf="cartItems.length == 0">There are no products added to the cart</h1>
    </div>
  </div>
</div>
<!-- bloc-18 END -->

<!-- bloc-17 -->
<div class="bloc bgc-white l-bloc hidden-xs" id="bloc-17">
  <div class="container bloc-md">
    <div class="row voffset-md">
        <div class="col-sm-12">
          <h1 class="text-center  about-us main-header-font">
            SHOPPING CART
          </h1>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row product-details" *ngFor="let item of cartItems ; let i = index">
            <div class="col-sm-2">
              <img *ngIf="item.imgURL" src="{{imageUrl}}/{{item.imgURL}}" class="img-thumb-small-cart center-block mg-sm img-responsive lazyload">
              <img *ngIf="!item.imgURL" src="{{imageUrl}}/{{item.imgDefault}}" class="img-thumb-small-cart center-block mg-sm img-responsive lazyload">
            </div>
            <div class="col-sm-3">
              <h4 class="mg-md  text-left main-header-font">
                <strong>{{item.name}}</strong>
              </h4>
              <p class="sub-header-text-h2 text-justify main-content-fontn" *ngFor="let v of item.variant">
                {{v.name}} : {{v.vType}}
              </p>

              <form id="form_5427" novalidate>
                <div class="form-group main-content-font">
                  <label class="sub-header-text-h2">
                    QTY
                  </label>
                  <input class="form-control qty-input" name="qty" id="qty" type="number" min="1" oninput="validity.valid||(value='');"
                    [(ngModel)]="item.qty" value="{{item.qty}}" (change)="buttonDisable(item.qty,item.totalQty ,cartItems.indexOf(item))"
                    ngDefaultControl>
                </div>
              </form>
               <!-- Product not available in store -->
                <div class="col" *ngIf="cartItems[0].totalQty == 0">
                  <span style="color:rgb(180, 30, 30)">
                    Product not available
                  </span>
                </div>
                <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
                <div class="col" *ngIf="item.qty > cartItems[i].totalQty && cartItems[i].totalQty > 1">
                  <span style="color:rgb(180, 30, 30)">
                    Enter a quantity of {{cartItems[i].totalQty}} or less.
                  </span>
                </div>
                <div class="col" *ngIf="item.qty > cartItems[i].totalQty && cartItems[i].totalQty == 1">
                  <span style="color:rgb(180, 30, 30)">
                    Enter a quantity of {{cartItems[i].totalQty}}.
                  </span>
                </div>
                <br>
                <p class="sub-header-text-h2 text-justify  main-content-font">
                  Total Price - {{currency}} {{itemPriceCal(item.total,item.qty)}}
                </p>
            </div>
            <div class="col-sm-4">
              <div class="text-center">
                <a (click)="removeItem(i)" class="btn btn-d btn-lg button-mobile spacing-mobile-button button-top-spacing main-button">Remove</a>
              </div>
            </div>
            <div class="col-sm-3">
              <h4 class="mg-md header-text-h2 text-right main-content-font">
                <strong>price</strong>
              </h4>
              <p class="sub-header-text-h2  text-right main-content-font">
                <strong>{{currency}} {{itemPriceCal(item.total,item.qty)}}</strong>
              </p>
            </div>
        </div>
        
        <div class="row row-no-gutters pricing-table lines">
          <div class="col-xs-6">
            <p class="product-text text-siize main-content-font">
              <strong>Total amount</strong>
            </p>
          </div>
          <div class="col-xs-6">
            <p class="text-right product-text text-siize  main-content-font" *ngIf="cartItems.length > 0" [(ngModel)]="total" ngDefaultControl>
              <strong>{{currency}} {{getTotal()}}</strong>
            </p>
            <p class="text-right product-text text-siize  main-content-font" *ngIf="cartItems.length == 0">There are no Products added to the cart</p>

            <a *ngIf="cartItems.length > 0  && enableDelivery" class="btn btn-d btn-lg pull-right button-spacing-top main-button" (click)="delivery(cartItems)">Delivery</a>
            <a *ngIf="cartItems.length > 0  && enablePickup" class="btn btn-d btn-lg pull-right button-spacing-top main-button" (click)='pickupDetails(cartItems)'>Pickup</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-17 END -->
<div class="col-sm-12" style="margin: 10px 0" *ngIf="successMessage">
  <ngb-alert  type="warning" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
</div>


<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->
