<div class="content"
     style="background:-webkit-linear-gradient(top, rgba(239,239,244,0) 240px, rgba(239,239,244,1) 320px),url(img/background.jpg) no-repeat center top fixed;  background:-moz-linear- gradient(top, rgba(239,239,244,0) 240px, rgba(239,239,244,1) 320px),url(img/background.jpg) no-repeat center top fixed;background: linear-gradient(to top, rgba(239,239,244,0) 240px, rgba(239,239,244,1) 320px),url(img/background.jpg) no-repeat auto center top fixed; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%;">
    <div style="margin-top: 150px;" class="card">
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="menu in menuList">
                <a class="navigate-right btn-lg" href ng-click="link(menu._id,menu.name)">
                    <span class="{{menu.icon}}"></span>
                    {{menu.name}}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="bar bar-standard bar-footer-secondary">
    <a href="#search" class="btn btn-primary btn-block pull-center">
        <span class="fa fa-filter fa-fw"></span>
        Search Menu
    </a>
</div>