<div class="bloc-xl bgc-white l-bloc blog" id="bloc-27" *ngIf = "blogViewData">
  <img class="padding-vertical" src="{{imageUrl}}/{{blogViewData[0].imageUrl}}" width="100%" alt="">
  <div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="header main-header-font margin-vertical">
					{{blogViewData[0].title}}
				</h2>
        <div class="text-editor" [innerHTML] = "blogViewData[0].desc">
        </div>
			</div>
		</div>
  </div>
  <app-accepted-payment-type></app-accepted-payment-type>
</div>
