<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Otenro.com</title>

    <!-- Bootstrap core CSS -->
    <link href="star-landing-page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'add-network-star');
        ga('send', 'pageview');
    </script>
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="star-landing-page/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="star-landing-page/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="star-landing-page/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="star-landing-page/css/new-age.css" rel="stylesheet">
    <link href="star-landing-page/css/style.css" rel="stylesheet">
    <link href="star-landing-page/css/bootstrap-social.css" rel="stylesheet">

    <style>
        .row:before{
            display: none ;
        }
        .container:before, .container:after{
            display: none;
        }
    </style>
</head>

<body id="page-top">

    <!-- Navigation -->

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5"><img src="star-landing-page/img/logo.svg" width="200px"></h1>
                        <div style="height: 155px;position: relative">
                            <p class="item-1">Otenro is everything you need to sell anywhere, to anyone!.</p>

                            <p class="item-2">You can only go as far as you try - Start selling with Otenro </p>

                            <p class="item-3">Build your FREE mobile app today!</p>
                        </div>
                        <div class="row star-social">
                            <div class="col-md-8">
                                <a class="btn btn-block btn-social btn-facebook" ng-click="authenticate('facebook')">
                                    <span class="fa fa-facebook"></span> Sign in with Facebook
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a class="btn btn-block btn-social btn-google" ng-click="authenticate('google')">
                                    <span class="fa fa-google"></span> Sign in with Google+
                                </a>
                            </div>
                            <!--<div class="col-md-8">-->
                                <!--<a class="btn btn-block btn-social btn-twitter" ng-click="register()">-->
                                    <!--<span style="left: 1px;" class="fa fa-at"></span> Sign in with Email-->
                                <!--</a>-->
                            <!--</div>-->
                        </div>
                    </div>

                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img src="star-landing-page/img/appGif.png" alt="Los Angeles" style="width:100%;">
                                            </div>

                                            <div class="item">
                                                <img src="star-landing-page/img/appView.png" alt="Chicago" style="width:100%;">
                                            </div>

                                            <div class="item">
                                                <img src="star-landing-page/img/sample1.png" alt="New york" style="width:100%;">
                                            </div>
                                            <div class="item">
                                                <img src="star-landing-page/img/sample2.png" alt="New york" style="width:100%;">
                                            </div>
                                            <div class="item">
                                                <img src="star-landing-page/img/sample3.png" alt="New york" style="width:100%;">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <footer>
        <div class="container">
            <p>&copy; 2017 Otenro. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="star-landing-page/vendor/popper/popper.min.js"></script>
    <script src="star-landing-page/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="star-landing-page/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="star-landing-page/js/new-age.min.js"></script>
    <script src="star-landing-page/js/index.js"></script>
    <script src="star-landing-page/js/classie.js"></script>

    <script src="star-landing-page/js/modernizr.custom.js"></script>
    <script src="star-landing-page/js/main.js"></script>

</body>

</html>