<!-- bloc-10 -->
<div class="bloc bgc-white l-bloc" id="bloc-10">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12">
        <img src="./assets/images/lazyload-ph.png" data-src="./assets/images/aboutus.png" class="img-responsive lazyload visible-lg-block visible-md-block" />
        <h1 class="text-center mg-sm about-us-heading " [innerHTML]="header"></h1>

        <div class="divider-h divider">
          <span class="divider"></span>
        </div>
        <p class="content-index  text-justify content-index-2" [innerHTML]="content"> </p>

        <div class="container">
          <h2>Open Hours</h2>
          <p>Weekdays : {{openWeekdays}}</p>
          <p>Saturday : {{openSaturday}}</p>
          <p>Sunday : {{openSunday}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- bloc-10 END -->



<hr class="featurette-divider">
