
<div class="page-container padding">
    <div class="bloc bgc-white l-bloc" id="bloc-2">
        <div class="col-size container bloc-sm">
          <div class="row-size row" *ngFor="let article of results"  (click)="navigateProd('product',article)">
              <div class="col-size col-xs-12">  
                  <img src="{{imageUrl}}/{{article.tempImageArray[0].img}}" width="100%">
                   <div class="main-header-font name">{{article.title}}</div>
              </div>
          </div>
      </div>
    </div>
  <!-- ScrollToTop Button -->
  <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
    <span class="fa fa-chevron-up"></span>
  </a>
  <!-- ScrollToTop Button END-->
</div>
