/* Empty. Add your own CSS if you like */
.image-size {
    height: 24% !important;
}

.hk-home-tabs {
    width: 100%;
    margin-top: 400px;
}

.hk-top-image {
    width: 100%;
    height: 400px !important;
}

/* Custom Css for  */

.bar.bar-stable2 {

    color: #444;
}

.item2 {
    border-color: transparent !important;
    background-color: transparent !important;
    color: #F6EBB1;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
}

.list2 {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 50%;
}

.bar2 {
    border: none;
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

.tabs2 {
    border-color: #000 !important;
    background-color: #000 !important;
    color: #fff;
}

.tabs-positive2 {
    border-color: #000 !important;
    background-color: #000 !important;
    color: #fff;
}

.item-text-wrap .item, .item-text-wrap .item-content, .item-text-wrap, .item-text-wrap h1, .item-text-wrap h2, .item-text-wrap h3, .item-text-wrap2 h4, .item-text-wrap h5, .item-text-wrap h6, .item-text-wrap p, .item-complex.item-text-wrap .item-content, .item-body h1, .item-body h2, .item-body h3, .item-body h4, .item-body h5, .item-body h6, .item-body p {
    overflow: visible;
    white-space: normal;
    font-weight: 600 !important;
    font-size: 3.8vw;
    line-height: 3.8vw;
    height: 40px;
    color: #E7C67F;
    float: left;
    margin-top: -60px;
    width: 100%;
    border: none !important;
    height: 40px;
    padding: 30px 5px 10px 5px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.card {
    background: #FFF;
    padding: 0px;
    overflow: hidden;
    width: 40%;
    float: left;
    border-radius: 5px !important;
}

.card, .list-inset {
    margin: 8px 10px !important;
}

.card2 {
    overflow: hidden;
    border-radius: 2px;
    background-color: #fff;
    margin-top: -70px;
    border-radius: 10px;
    height: 100vh;
}

.card2, .list-inset {
    background: #FFF;
    overflow: hidden;
    width: 100%;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow-y: scroll;
    height: 100vh;
}

.item-text-wrap2 .item, .item-text-wrap2 .item-content2, .item-text-wrap2, .item-text-wrap2 h1, .item-text-wrap2 h2, .item-text-wrap2 h3, .item-text-wrap2 h4, .item-text-wrap2 h5, .item-text-wrap2 h6, .item-text-wrap2 p, .item-complexw.item-text-wrapw .item-contentw, .item-body2 h1, .item-body2 h2, .item-body2 h3, .item-body2 h4, .item-body2 h5, .item-body2 h6, .item-body2 p {
    overflow: visible;
    white-space: normal;
    font-weight: 100;
    color: #e7c67f;
    text-align: center;
    border-width: 0px;
    margin-top: 10px;
    background-color: #FFF;
    padding-bottom: 100px;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    width: 275px;
    background-image: url(../img/menu_bg.jpg) !important;
    background-size: 100% 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 200px;
    background-image: url(../img/background.jpg);
    margin-top: -110px;
    background-size: cover;
}

.bar.bar-stable .title {
    padding-top: 15px;
    color: #e7c67f !important;
    background-color: transparent !important;
    font-weight: 800 !important;
    font-size: 16px;
    height: 50px;
    left: 41px;
    right: 41px;
    text-align: center;
}

.tabs {
    margin-top: -49px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: horizontal;
    flex-direction: horizontal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow-x: scroll;

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 100%) !important;

    color: #000 !important;
    position: static !important;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 49px;
    line-height: 49px;
}

.bar.bar-stable {
    height: 100px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */ /* or transparent, or background:none */
}

.scroll-content {
    overflow: visible !important;
    height: 100vh;
    background-color: transparent !important;
    margin-top: -50px;
}

.bar {
    border: none;
    background-image: none !important;
    background-position: none !important;
    background-size: none !important;
    background-repeat: none !important;
}

.row2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

.col2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px !important;
}

.tab-item2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    max-width: 150px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 4.2vw;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    color: #FFF;
}

.bar-stable .button.button-clear {
    border-color: transparent;
    background-image: url(../img/menu.png);
    background-size: 100% auto;
    width: 25px;
    height: 5px;
    margin-top: 15px;
    margin-left: 10px;
    background-repeat: no-repeat;
}

.bar .title {

    line-height: 30px;
}

.item-image {
    border-radius: 10px 10px 0 0;
}

.row {

    padding: 0px !important;
    height: 100%;

}

.col {

    padding: 0px !important;
    height: 100%;
}

.holder {
    padding-right: 20px;
    width: 100%;
    margin-left: 6.8%;
    overflow-y: scroll;
    padding-bottom: 40px;
    background: transparent !important;
}

.made-easy-backgroundColor {
    background-color: #FBF8F3;
}

.scroll {
    padding-top: 50px;
    padding-bottom: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent !important;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: gold;
    fill: white;
}

@-webkit-keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}


.slide-in{
   -webkit-animation: slideInSmooth ease-in 1;
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 10000ms;
  animation-duration: 10000ms;
}


