/* Empty. Add your own CSS if you like */
.image-size{
  height: 24% !important;
}

.hk-home-tabs{
  width: 100%;
  margin-top: 400px;
}

.hk-top-image{
  width: 100%;
  height: 400px !important;
}


/* Custom Css for  */

.pane, .view {
    height: 750px;  /* This should may change only Test */
}