<ion-view view-title="{{menuName}}" class="made-easy-background-color items">
  <ion-content >

        <div class="row" ng-repeat="food in foods"  ng-if="$even">
            <div class="card col-50" ng-click=" navigateFood(foods[$index])" ng-if="$index < foods.length">
                    <img width="100%" ng-src="{{foods[$index].imageUrl}}">
                <div class="col center made-easy-content-font">{{foods[$index].name}}</div>
                <div class="made-easy-content-font">
                   <div class="row">
                       <div class="col  col-center center" >
                          <i class="icon ion-ios-plus"></i>
                       </div>
                       <div class="col col-80 right made-easy-header-font">
                           {{currency.sign}} {{foods[$index].variants[0].price}}
                       </div>

                       <div>
                           <div class="col center made-easy-content-font">{{salesandpromotion.discountType}}</div>
                           <div class="col center made-easy-content-font">{{salesandpromotion.discount}}</div>
                       </div>

                   </div>
                </div>
           </div>
            <div class="card col-50" ng-click="navigateFood(foods[$index+1])" ng-if="($index+1) < foods.length">
                    <img width="100%" ng-src="{{foods[$index+1].imageUrl}}">
                <div class="col center made-easy-content-font">{{foods[$index+1].name}}</div>
                <div class="made-easy-content-font">
                   <div class="row">
                       <div class="col  col-center center">
                           <i class="icon ion-ios-plus"></i>
                       </div>
                       <div class="col col-80 right made-easy-header-font" >
                           {{currency.sign}} {{foods[$index+1].variants[0].price}}
                       </div>
                       <div>
                       <div class="col center made-easy-content-font">{{salesandpromotion.discountType}}</div>
                       <div class="col center made-easy-content-font">{{salesandpromotion.discount}}</div>
                       </div>
                   </div>
                </div>
           </div>
        </div>

    </ion-content>
</ion-view>
