<ion-view view-title="Order History" class="made-easy-background-image made-easy-background-color ">
    <ion-content >

        <div class="list card" data-ng-repeat="order in orderHistory  | filter: {orderHistoryKey: appId}  | orderBy:'':true">
            <div ng-repeat="item in order.item" class="item item-avatar">
                <img src="{{item.imgURL}}">
                <h2>{{item.name}}</h2>
                <h2>{{currency.sign}}{{item.price}}</h2>
                <h2>{{item.qty}}</h2>
            </div>
            <div class="item">
                <p>Total - {{currency.sign}}{{order.amount}}</p>
                <p>Order Date - {{order.createdDate | date:'MM/dd/yyyy'}}</p>
            </div>
        </div>

    </ion-content>
</ion-view>
