.flex {
  display: flex;
}

.inline {
  flex: 1;
}

#subscribe-mail {
  border: none;
  border-radius: 3px 0 0 3px;
  margin: 0 3px 0 0;
  padding: 1.5px 5px;
}

#subscribe-button {
  margin: 0 0 5px 0;
}

#subscribe-container span {
  display: block;
  font-size: 12px;
}

#logo-image-container {
  margin: 10px 0 0 0;
}

#quick-links span {
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  margin: 0 0 10px 0;
}

#quick-links a {
  display: block;
  font-family: sans-serif;
  font-size: 12x;
  margin: 0 0 5px 0;
}


#customer-care-header {
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  margin: 0 0 10px 0;
}

#cutomer-care label {
  display: block;
  font-size: 12px;
  margin: 0 0 10px 0;
}

#cutomer-care a {
  margin: 0 25px 0 0;
}

#footer-bottom {
  margin: 40px 0 0 0;
  display: inline-flex;
  width: 100%;
}

#footer-bottom span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin: 0 20px 0 0;
}

#accepted-payments {
  text-align: end;
  width: 80%;
  padding: 0 10px 0 0;
}

#accepted-payments img {
  margin: 0 10px 0 0;
  width: 35px;
  height: 25px;
}

.appname-if-ipg {
  width: 20%;
}
.appname-if-not-ipg {
  width: 100%;
  text-align: center;
}

.fit-content {
	width: fit-content;
}
