<div ng-if="isAuthenticated">
    <div class="obl-dashboard-wrapper" ng-controller="HeaderController" ng-show="auth.isAuthenticated()">
        <div class="obl-dashboard-header clearfix">
            <h2 ng-hide="welcome"> </h2>
            <p  ng-hide="welcome"> Well come to the technical support area</p>
            <div class="obl-dashboard-settings">
                <button class="user-settings-button" ng-click="profileView()" type="button">
                    <img src="images/user-icon.svg" alt="User Logo" />
                </button>
            </div>
        </div>
    </div>
</div>



    <div ng-cloak>
        <md-content>

            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="AdNetwork">
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="appStoreForm" novalidate>
                                <div class="md-dialog-main">
                                    <div class="clearfix">
                                        <fieldset class="col-2">
                                            <label>AdNetwork Name</label>
                                            <img src="../../../images/question-mark.svg" width="12" height="12">
                                            <input class="input-shadow-border" type="text"
                                                   ng-model="addNetworkData.adagentname"
                                                   name="adagentname"
                                                   required/>

                                        </fieldset>

                                    </div>
                                    <div class="clearfix">
                                        <fieldset class="col-2">
                                            <label>Parameters</label>
                                            <img src="../../../images/question-mark.svg" width="12" height="12">
                                            <input class="input-shadow-border" type="text"
                                                   ng-model="addNetworkData.reqparams"
                                                   name="reqparams"
                                                   required/>
                                            <div>eg: {"clickid":"clickid", "affid":"affid"}</div>
                                        </fieldset>

                                    </div>
                                    <div class="clearfix">
                                        <fieldset class="col-2">
                                            <label>Return Url</label>
                                            <img src="../../../images/question-mark.svg" width="12" height="12">
                                            <input class="input-shadow-border" type="text"
                                                   ng-model="addNetworkData.returnurl"
                                                   name="returnurl"
                                                   required/>
                                            <span class="error"
                                                  ng-show="appStoreForm.privacyPolicyUrl.$error.url">Invalid url</span>
                                        </fieldset>

                                    </div>
                                    <div class="clearfix">
                                        <fieldset class="reset-margin">
                                            <input type="button" class="me-default-button" ng-click="cancel()" name="cancel" value="Cancel" />
                                            <input type="buttonit" ng-click="saveAdNetwork(addNetworkData)" class="me-default-button" name="Save" value="Save" />
                                        </fieldset>
                                    </div>
                                </div>
                            </form>

                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>

    </div>
</form>





