<md-dialog aria-label="publish-article">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'preview-articles');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tab-body>
            <div class="md-dialog-header">
                <div class="md-dialog-header-nav clearfix">
                    <h1 class="pull-left">COMMENTS</h1>
                    <!--<fieldset class="col-2 pull-right reset-margin">-->
                        <!--<input type="text" required="" ng-model="search.title" class="me-search-input" name="name">-->
                        <!--<input type="submit" value="search" class="me-search-button">-->
                    <!--</fieldset>-->
                </div>
            </div>

            <div class="md-dialog-main clearfix">


                <div class="row">
                    <div class="col-sm-3">
                        <p>App Name:</p>
                    </div>
                    <div class="col-sm-3">
                        {{name}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p>Date:</p>
                    </div>
                    <div class="col-sm-3">
                        {{date}}
                    </div>

                </div>

                <p>comment</p>
                <fieldset>
                    <textarea type="text" class="input-shadow-border" name="TnC" ng-model="comment" required ></textarea>

                </fieldset>
              <!--<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>-->
            </div>

            <div class="md-dialog-buttons">
                <div>
                    <!--<md-button class="me-default-button" ng-click="showPublishArticleDialog()">Publish Article</md-button>-->
                    <md-button class="me-default-button" ng-click="cancel('cancel')">Cancel</md-button>
                    <md-button class="me-default-button" ng-click="save('cancel')">Save</md-button>
                </div>
            </div>
            <br>
            <div class = "md-dialog-main clearfix">
                <div class="comment-view">
                    <div ng-repeat = "comments in commentList | orderBy:'-updatedAt'" >
                        <div style="margin-top:4%">
                            <label style="margin-left:1%;">Date: </label>{{comments.createdAt | date:'MM/dd/yyyy'}}
                        </div>
                        <div  style="background-color:rgba(241, 241, 241, 0.925);margin-top:1%;">
                            <!--<label style="margin-left:1%;">User: </label>{{operatorDes(comments.operator)}}<br>-->
                            <label style="margin-top:1%;margin-left:1%;">Comment</label>
                            <div style="margin-left: 3%;">
                                {{comments.comment}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab-body>

    </md-dialog-content>
</md-dialog>