<div ng-if="isAuthenticated">
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'technical-support');
        ga('send', 'pageview');
    </script>
    <div class="obl-dashboard-wrapper" ng-controller="HeaderController" ng-show="auth.isAuthenticated()">
        <div class="obl-dashboard-header clearfix">
            <h2 ng-hide="welcome"> </h2>
            <p  ng-hide="welcome"> Welcome to the technical support area</p>
            <div class="obl-dashboard-settings">
                <button class="user-settings-button" ng-click="profileView()" type="button">
                    <img src="images/user-icon.svg" alt="User Logo" />
                </button>
            </div>
        </div>

    </div>
</div>

<div class="obl-dashboard-wrapper">
    <!--<div class="obl-dashboard-apps">
     All Applications
    </div>-->



    <div class="md-dialog-main clearfix">
        <fieldset ng-style="myObj">
            <input type="text" ng-model="searchData.$" name="search">
            <input type="submit" class="me-search-button">
        </fieldset>

        <md-tabs md-center-tabs="false" md-selected="selectedIndex" md-no-ink="true" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab ng-click="showHideSearchField('app_details')">
                <md-tab-label>App Details</md-tab-label>
                <md-tab-body>

        <form class="allItems" novalidate>
            <table class="table">
                <thead class="obl-dashboard-apps">
                <th>App ID</th>
                <th>App Name</th>
                <th>Email</th>
                <th>App Description</th>
                <th ng-if="user.userRole[0] != 'ADMIN'">Billing</th>
                <th ng-if="user.userRole[0] == 'ADMIN'">apk</th>
                <th>App Status</th>
                <!--<th width="20%">Action</th>-->
                <th ng-if="user.userRole[0] != 'ADMIN'">Comments</th>
                <th ng-if="user.userRole[0] == 'ADMIN'">Service ID</th>
                <th ng-if="user.userRole[0] == 'ADMIN'"></th>
                </thead>

                <tbody>
                <tr ng-repeat="app in appList | filter : searchData">
                    <td ng-click="showAppView(app.id,app.userId)"  style="color:blue;">
                    <!--<a href="{{serverURL}}templates/viewWebTemplateUrl?userId={{app.userId}}&appId={{app.id}}&1493976247494/">-->
                        <u>{{app.uniqueAppId}}</u>
                    <!--</a>-->
                    </td>
                    <td>{{app.appName}}</td>
                    <td>
                        <div ng-repeat="user in userList">
                            <div ng-if="user.id==app.userId">
                                {{user.email}}
                            </div>
                        </div>
                    </td>
                    <td>
                         <a class="tech-support-description" ng-click="appDescriptionView(app.appName,getDes(app.id,'full'),app.id,app.userId)">{{getDes(app.id,'short')}}</a>
                    </td>
                    <td ng-if="user.userRole[0] != 'ADMIN'">
                        <button class="btn-material"  ng-click="approvedOperatorsView(app,userList,getDes(app.id,'manage'))">Manage</button>
                    </td>
                    <td align="left" style="padding:2px 0" ng-if="user.userRole[0] == 'ADMIN'">
                        <md-button style="padding:0; margin:0; margin-left:-12px" class="me-default-button" ng-click = "buildAPK(app)">
                            Build
                        </md-button>
                        <!--<span ng-show = "app.apkStatus=='PENDING'">Building...</span>-->
                    </td>
                    <td>{{app.publishedStatus}}</td>
                <td align="left" ng-if="user.userRole[0] != 'ADMIN'">
                    <u><md-icon ng-click="commentView(app.appName,app.id,getDes(app.id,'comment'),app.createdAt)" md-svg-icon="images/create-icon.svg"></md-icon></u>
                </td>
                    <td align="left" style="padding:2px 8px" class="row"  ng-if="user.userRole[0] == 'ADMIN'">
                                <md-input-container style = "margin-top:0px; margin-bottom:0px;">
                                    <input type="text" name="serviceId" ng-model="app.serviceId" value="{{serviceId}}" />
                                </md-input-container>
                    </td>
                    <td align="left" style="padding:2px 0" ng-if="user.userRole[0] == 'ADMIN'">
                            <!--<md-button class="me-default-button" ng-click = "saveServiceId(app)" ng-hide = "!app.enableSave">-->
                            <md-button class="me-default-button"  style="padding:0; margin:0;" ng-click = "saveServiceId(app)" ng-hide = "false">
                                Save & Submit
                            </md-button>
                    </td>

                </tr>
                </tbody>
            </table>
        </form> </md-tab-body>
            </md-tab>

            <!--<md-tab>-->
                <!--<md-tab-label>Ad Networks</md-tab-label>-->
                <!--<md-tab-body>-->

                    <!--<form class="allItems" novalidate>-->
                        <!--<table class="table">-->
                            <!--<thead class="obl-dashboard-apps">-->
                            <!--<th>Add network name</th>-->
                            <!--<th>Clickid</th>-->
                            <!--<th>AFfid</th>-->
                            <!--<th>Return URL</th>-->
                            <!--<th>Action</th>-->
                            <!--&lt;!&ndash;<th>User Details</th>&ndash;&gt;-->
                            <!--</thead>-->

                            <!--<tbody>-->
                            <!--<tr ng-repeat="app in addNetworkList">-->
                                <!--<td>{{app.adagentname}}</td>-->
                                <!--<td>{{app.clickid}}</td>-->
                                <!--<td>{{app.affid}}</td>-->
                                <!--<td>{{app.returnurl}}</td>-->
                                <!--<td>-->
                                    <!--<a data-ng-click="adNetworkDetails(app)">Edit</a>-->
                                    <!--/-->
                                    <!--<a data-ng-click="deleteAdNetwork(app)">Delete</a>-->
                                <!--</td>-->
                               <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <!--<div><a href="#/viewAdNetworks/"> + Add new network</a></div>-->
                    <!--</form> </md-tab-body>-->
            <!--</md-tab>-->
            <!--<md-tab>-->
                <!--<md-tab-label>Users from Ad Networks</md-tab-label>-->
                <!--<md-tab-body>-->

                    <!--<form class="allItems" novalidate>-->
                        <!--<table class="table">-->
                            <!--<thead class="obl-dashboard-apps">-->
                            <!--<th>User Name</th>-->
                            <!--<th>Ad network</th>-->
                            <!--<th>AFFID</th>-->
                            <!--<th>Created Date</th>-->
                            <!--<th>Last login</th>-->
                            <!--<th>isActive</th>-->
                            <!--<th>Login Count</th>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="app in adUserList">-->
                                    <!--<td> {{app.email}} </td>-->
                                    <!--<td> {{app.adagent}} </td>-->
                                    <!--<td> {{app.affid}} </td>-->
                                    <!--<td> {{app.createdAt}} </td>-->
                                    <!--<td> {{app.lastLoginTime}} </td>-->
                                    <!--<td> {{app.isActive}} </td>-->
                                    <!--<td> {{app.loginCount}} </td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <!--<div><a href="#/viewAdNetworks/"></a></div>-->
                    <!--</form> </md-tab-body>-->
            <!--</md-tab>-->
            <md-tab ng-disabled="enableTab" ng-click="showHideSearchField('register_users')">

                <md-tab-label>Registered users </md-tab-label>
                <md-tab-body>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="vendor/angularUtils-pagination/dirPagination.tpl.html">

                    </dir-pagination-controls>
                    <form class="allItems" novalidate>
                    <table class="table">
                        <thead class="obl-dashboard-apps">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created Date</th>
                        <th>Last login</th>
                        <th>Number of Apps</th>
                        </thead>
                           <tbody>
                           <tr ng-repeat="app in userList">
                            <td> {{app.id}} </td>
                            <td>{{app.firstName}} {{app.lastName}}</td>
                               <td> {{app.email}} </td>
                               <td> {{app.createdAt | date:'yyyy-MM-dd HH:mm:ss' }} </td>
                               <td> {{app.lastLoginTime | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                               <td> {{getAppsCount(app.id)}} </td>
                               <!--<td><a data-ng-click="getUserAppData(app.id)">{{app.id}}</a></td>-->
                           </tr>
                           </tbody>
                    </table>
                </form>
                </md-tab-body>
            </md-tab>

            <md-tab ng-click="showHideSearchField('reports')">
                <md-tab-label>Reports</md-tab-label>
                <md-tab-body>

                    <!--<div class="reports-container">-->

                        <!--<div class="reports-type-container">-->
                            <!--&lt;!&ndash;<div class="technical-support">&ndash;&gt;-->
                                <!--<h6>Select report type</h6>-->
                                <!--<select>-->
                                <!--</select>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="reports-period-container">-->

                            <!--<div class="period-container">-->
                                <!--<h6>Select period</h6>-->
                                <!--<input type="date" placeholder="START DATE">-->
                                <!--<input type="date" placeholder="END DATE">-->
                            <!--</div>-->

                            <!--<div class="operator-container">-->
                                <!--<h6>Select operator</h6>-->
                                <!--<select>-->
                                <!--</select>-->
                            <!--</div>-->

                        <!--</div>-->

                    <!--</div>-->

                        <md-tabs md-center-tabs="false" md-no-ink="true" md-autoselect="false"
                             md-dynamic-height="true">



                        <md-tab>
                            <md-tab-label>Payments</md-tab-label>
                            <md-tab-body>
                                   
                                <form class="allItems" novalidate>
                                    <table class="table" >
                                        <thead class="obl-dashboard-apps">
                                            <tr>
                                                <th>Msisdn</th>
                                                <th>Operator</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                                <th>App Name</th>
                                                <th data-ng-click="sortType = name; sortReverse = !sortReverse;">Date</th>
                                               
                                            </tr>
                                        </thead>  
                                        
                                        <tbody>
                                            <tr ng-repeat="payment in subPayments | orderBy:sortType:sortReverse"> 
                                                <td>{{payment.msisdn}}</td>
                                                <td>{{payment.operator}}</td>
                                                <td>{{payment.status}}</td>
                                                <td>{{payment.amount}}</td>
                                                <td>{{payment.appName}}</td>
                                                <td>{{payment.date | date:"yyyy-MM-dd"}}</td>
                                       
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                        </md-tab-body>
                            </md-tab> 
                        <md-tab>
                            <md-tab-label>Revenue And Traffic Report</md-tab-label>
                            <md-tab-body>
                                <div class="reports-container">

                                    <div class="reports-type-container">
                                        <div layout="column" layout-wrap>
                                            <h6 flex="100">Select report type</h6>
                                            <select placeholder="Select Report Type"  aria-label="Country Name"
                                                    ng-model="revenueAndTrafficReport.report"
                                                    ng-change="reconciliationReportsGet(revenueAndTrafficReport.report)" required >
                                                <option ng-value="oneReport.name" ng-repeat="oneReport in reports">{{oneReport.name}}</option>
                                            </select>


                                            <h6 flex="100">Select operator</h6>
                                            <select placeholder="Select Report Type"  aria-label="Country Name"
                                                    ng-model="revenueAndTrafficReport.operator" required >
                                                <option ng-value="operator.operator" ng-repeat="operator in operators">{{operator.operator}}</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="reports-period-container">

                                        <div class="reports-container">
                                            <h6>Select period</h6>

                                            <form name="revenueAndTrafficReportForm">
                                                <div ng-if="revenueAndTrafficReport.report == 'Date Range'">
                                                    <input type="date"  ng-model="revenueAndTrafficReport.sdate" placeholder="START DATE" onkeydown="return false" required>
                                                    <input type="date" ng-model="revenueAndTrafficReport.edate" placeholder="END DATE" onkeydown="return false" required>
                                                    <Button type="button" class="me-default-button" ng-click="revenueAndTrafficReportData(revenueAndTrafficReport)">Search</Button>
                                                </div>
                                                <div ng-if="revenueAndTrafficReport.report == 'Monthly'" >
                                                    <select ng-model="revenueAndTrafficReport.fromMonth" required>
                                                        <option  ng-repeat="oneMonth in months">{{oneMonth.month}}</option>
                                                    </select>
                                                    <select ng-model="revenueAndTrafficReport.toMonth" required>
                                                        <option  ng-repeat="oneMonth in months">{{oneMonth.month}}</option>
                                                    </select>
                                                    <select ng-model="revenueAndTrafficReport.year" required>
                                                        <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                    </select>
                                                    <Button type="button" class="me-default-button" ng-click="revenueAndTrafficReportData(revenueAndTrafficReport)">Search</Button>
                                                </div>
                                                <div ng-if="revenueAndTrafficReport.report == 'Yearly'">
                                                    <select placeholder="From Year" ng-model="revenueAndTrafficReport.fromYear" required>
                                                        <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                    </select>
                                                    <select placeholder="To Year" ng-model="revenueAndTrafficReport.toYear" required>
                                                        <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                    </select>
                                                    <Button type="button" class="me-default-button" ng-click="revenueAndTrafficReportData(revenueAndTrafficReport)">Search</Button>
                                                </div>

                                                <!--<Button type="button" class="me-default-button" ng-click="getReconciliation(reconciliationReports)">Search</Button>-->
                                            </form>
                                        </div>



                                    </div>
                                </div>



                                <form class="allItems" novalidate>
                                    <a ng-if="(revenueAndTrafficReportResponseData.length > 0)" href="" ng-click='downloadCsv
                                    (revenueAndTrafficReportResponseData,{ filename: "revenueAndTrafficReportData.csv",reportType:"revenueAndTrafficReportData",
                                    reportRange:revenueAndTrafficReport.report})'>
                                        <button style="float: right" type= "button" >CSV</button></a>
                                    <table class="table">
                                        <thead class="obl-dashboard-apps">
                                        <tr>
                                            <th ng-if="revenueAndTrafficReport.report == 'Date Range'">Date</th>
                                            <th ng-if="revenueAndTrafficReport.report == 'Monthly'">Month</th>
                                            <th ng-if="revenueAndTrafficReport.report == 'Yearly'">Year</th>
                                            <th>Operator</th>
                                            <th>AppMaker Revenue</th>
                                            <th>AppMaker Traffic</th>
                                            <th>Total Revenue</th>
                                            <th>Total Traffic</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr  ng-repeat="revenueAndTraffic in revenueAndTrafficReportResponseData">
                                            <td ng-if="revenueAndTrafficReport.report == 'Date Range'">{{revenueAndTraffic.date}}</td>
                                            <td ng-if="revenueAndTrafficReport.report == 'Monthly'">{{revenueAndTraffic.month}}</td>
                                            <td ng-if="revenueAndTrafficReport.report == 'Yearly'">{{revenueAndTraffic.year}}</td>
                                            <td>{{revenueAndTraffic.operator}}</td>
                                            <td>{{revenueAndTraffic.revenue}}</td>
                                            <td>{{revenueAndTraffic.viewCount}}</td>
                                            <td>{{revenueAndTraffic.revenue}}</td>
                                            <td>{{revenueAndTraffic.viewCount}}</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </md-tab-body>
                        </md-tab>


                        <md-tab>
                            <md-tab-label>Application Base Report</md-tab-label>
                            <md-tab-body>
                                <div class="reports-container">

                                    <div class="reports-type-container">
                                        <div layout="column" layout-wrap>
                                            <h6 flex="100">Select report type</h6>
                                            <select placeholder="Select Report Type"  aria-label="Country Name"
                                                    ng-model="applicationBaseReport.report"
                                                    ng-change="reconciliationReportsGet(applicationBaseReport.report)" required >
                                                <option ng-value="oneReport.name" ng-repeat="oneReport in reports">{{oneReport.name}}</option>
                                            </select>


                                            <h6 flex="100">Select Application</h6>
                                            <select placeholder="Select Report Type"  aria-label="Country Name"
                                                    ng-model="applicationBaseReport.appName" required >
                                                <option ng-value="app.appName" ng-repeat="app in apps">{{app.appName}}</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="reports-period-container">

                                        <div class="reports-container">
                                            <h6>Select period</h6>

                                            <form name="applicationBaseReportReportForm">
                                                <div ng-if="applicationBaseReport.report == 'Date Range'">
                                                    <input type="date"  ng-model="applicationBaseReport.sdate" placeholder="START DATE" onkeydown="return false" required>
                                                    <input type="date" ng-model="applicationBaseReport.edate" placeholder="END DATE" onkeydown="return false" required>
                                                    <Button type="button" class="me-default-button" ng-click="applicationBaseReportData(applicationBaseReport)">Search</Button>
                                                </div>
                                                <div ng-if="applicationBaseReport.report == 'Monthly'" >
                                                    <select ng-model="applicationBaseReport.fromMonth" required>
                                                        <option  ng-repeat="oneMonth in months">{{oneMonth.month}}</option>
                                                    </select>
                                                    <select ng-model="applicationBaseReport.toMonth" required>
                                                        <option  ng-repeat="oneMonth in months">{{oneMonth.month}}</option>
                                                    </select>
                                                    <select ng-model="applicationBaseReport.year" required>
                                                        <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                    </select>
                                                    <Button type="button" class="me-default-button" ng-click="applicationBaseReportData(applicationBaseReport)">Search</Button>
                                                </div>
                                                <div ng-if="applicationBaseReport.report == 'Yearly'">
                                                    <select placeholder="From Year" ng-model="applicationBaseReport.fromYear" required>
                                                        <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                    </select>
                                                    <select placeholder="To Year" ng-model="applicationBaseReport.toYear" required>
                                                        <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                    </select>
                                                    <Button type="button" class="me-default-button" ng-click="applicationBaseReportData(applicationBaseReport)">Search</Button>
                                                </div>

                                                <!--<Button type="button" class="me-default-button" ng-click="getReconciliation(reconciliationReports)">Search</Button>-->
                                            </form>
                                        </div>



                                    </div>
                                </div>



                                <form class="allItems" novalidate>
                                    <a ng-if="(applicationBaseReportResponseData.length > 0)" href="" ng-click='downloadCsv
                                    (applicationBaseReportResponseData,{ filename: "applicationBaseReport.csv",reportType:"applicationBaseReport",
                                    reportRange:applicationBaseReport.report})'>
                                        <button style="float: right" type= "button" >CSV</button></a>
                                    <table class="table">
                                        <thead class="obl-dashboard-apps">
                                        <tr>

                                            <th>Application</th>
                                            <th>Type</th>
                                            <th>CaaS Taxable</th>
                                            <th ng-if="applicationBaseReport.report == 'Date Range'">Date</th>
                                            <th ng-if="applicationBaseReport.report == 'Monthly'">Month</th>
                                            <th ng-if="applicationBaseReport.report == 'Yearly'">Year</th>
                                            <th>Operator</th>
                                            <th>Platform Earning</th>
                                            <th>SP Earning</th>
                                            <th>Application Total Revenue</th>
                                            <th>App. Tot. Traffic</th>
                                            <th>New Registrations Count</th>
                                            <th>New Dereg Count</th>
                                            <th>Total Subscribers</th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        <tr  ng-repeat="applicationBase in applicationBaseReportResponseData">
                                            <td>{{applicationBase.appName}}</td>
                                            <td>{{applicationBase.type}}</td>
                                            <td>false</td>
                                            <td ng-if="applicationBaseReport.report == 'Date Range'">{{applicationBase.date}}</td>
                                            <td ng-if="applicationBaseReport.report == 'Monthly'">{{applicationBase.month}}</td>
                                            <td ng-if="applicationBaseReport.report == 'Yearly'">{{applicationBase.year}}</td>
                                            <td>{{applicationBase.operator}}</td>
                                            <td>{{applicationBase.platformEarning | number}}</td>
                                            <td>{{applicationBase.spEarning | number}}</td>
                                            <td>{{applicationBase.appTotRevenue}}</td>
                                            <td>{{applicationBase.appTrafficCount}}</td>
                                            <td>{{applicationBase.subscriptionCount}}</td>
                                            <td>{{applicationBase.unSubscriptionCount}}</td>
                                            <td>{{applicationBase.totSubs}}</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </md-tab-body>
                        </md-tab> 

                        <md-tab>
                            <md-tab-label>Failed Transaction Report</md-tab-label>
                            <md-tab-body>
                                <div class="reports-container">

                                    <div class="reports-type-container">

                                        <div layout="column" layout-wrap>
                                            <h6 flex="100">Select report type</h6>
                                            <select placeholder="Select Report Type"
                                                    ng-model="failedTransactionReport.report"
                                                    ng-change="reconciliationReportsGet(failedTransactionReport.report)" required >
                                                <option ng-value="oneReport.name"
                                                        ng-repeat="oneReport in reports">{{oneReport.name}}</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="reports-period-container">

                                        <div class="reports-container">
                                            <h6>Select period</h6>

                                            <form name="reconciliationForm">
                                                <div ng-if="failedTransactionReport.report == 'Date Range'">
                                                    <input type="date"  ng-model="failedTransactionReport.fromDate" placeholder="START DATE" onkeydown="return false" required>
                                                    <input type="date" ng-model="failedTransactionReport.toDate" placeholder="END DATE" onkeydown="return false" required>
                                                    <Button type="button" class="me-default-button" ng-click="getFailedTransactionData(failedTransactionReport)">Search</Button>
                                                </div>
                                                <!--<Button type="button" class="me-default-button" ng-click="getReconciliation(reconciliationReports)">Search</Button>-->
                                            </form>

                                        </div>



                                    </div>
                                </div>



                                <form class="allItems" novalidate>
                                    <a ng-if="(responseData.length > 0)" href="" ng-click='downloadCsv
                                    (responseData,{ filename: "failedTransaction.csv",reportType:"failedTransaction",reportRange:failedTransactionReport.report})'>
                                        <button style="float: right" type= "button" >CSV</button></a>
                                    <table class="table">
                                        <thead class="obl-dashboard-apps">
                                        <tr>
                                            <th>Date</th>
                                            <th>Service Provider</th>
                                            <th>Application Name</th>
                                            <th>Error Code</th>
                                            <th>Total</th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr  ng-repeat="failedTransaction in responseData">
                                            <td>{{failedTransaction.date}}</td>
                                            <td>{{failedTransaction.operator}}</td>
                                            <td>{{failedTransaction.appName}}</td>
                                            <td>{{failedTransaction.statusCode}}</td>
                                            <td>{{failedTransaction.count}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </md-tab-body>
                        </md-tab>

                        <md-tab>
                            <md-tab-label>Customer Care Report</md-tab-label>
                            <md-tab-body>
                                <div class="reports-container">

                                    <div class="reports-period-container">

                                        <div class="reports-container">
                                            <form name="customerCareReportForm">

                                                <div>
                                                    <h6 flex="100">Msisdn</h6>
                                                    <fieldset ng-style="myObj">
                                                        <input type="text" ng-model="customerCareReport.msisdn">
                                                    </fieldset>
                                                </div>
                                                <h6>Select period</h6>
                                                <div>
                                                    <input type="date"  ng-model="customerCareReport.fromDate" placeholder="START DATE" onkeydown="return false" >
                                                    <input type="date" ng-model="customerCareReport.toDate" placeholder="END DATE" onkeydown="return false" >
                                                    <Button type="button" class="me-default-button" ng-click="getCustomerCareReportData(customerCareReport)">Search</Button>
                                                </div>
                                                <!--<Button type="button" class="me-default-button" ng-click="getReconciliation(reconciliationReports)">Search</Button>-->
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <br>

                                <form class="allItems" novalidate>
                                    <a ng-if="(customerCareReportData.length > 0)" href="" ng-click='downloadCsv
                                    (customerCareReportData,{ filename: "customerCareReport.csv",reportType:"customerCareReport",reportRange:"Date Range"})'>
                                        <button style="float: right" type= "button" >CSV</button></a>
                                    <table class="table">
                                        <thead class="obl-dashboard-apps">
                                        <tr>
                                            <th>MSISDN</th>
                                            <th>App Name</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Charged Amount</th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr  ng-repeat="customerCareReport in customerCareReportData">
                                            <td>{{customerCareReport.msisdn}}</td>
                                            <td>{{customerCareReport.appName}}</td>
                                            <td>{{customerCareReport.dateTime}}</td>
                                            <td>{{customerCareReport.status}}</td>
                                            <td>Rs : {{customerCareReport.amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>Reconciliation Report</md-tab-label>
                            <md-tab-body>
                                <div class="reports-container">

                                    <div class="reports-type-container">
                                        <div layout="column" layout-wrap>
                                             <h6 flex="100">Select report type</h6>

                                             <select placeholder="Select Report Type"  aria-label="Country Name"  ng-model="reconciliationReports.report"
                                                     ng-change="reconciliationReportsGet(reconciliationReports.report)" required >
                                                 <option ng-value="oneReport.name" ng-repeat="oneReport in reports">{{oneReport.name}}</option>
                                             </select>

                                        </div>

                                    </div>

                                <div class="reports-period-container">

                                <div class="reports-container">
                                        <h6>Select period</h6>

                                        <form name="reconciliationForm">
                                            <div ng-if="reconciliationReports.report == 'Date Range'">
                                                <input type="date"  ng-model="reconciliationReports.sdate" placeholder="START DATE" onkeydown="return false" required>
                                                <input type="date" ng-model="reconciliationReports.edate" placeholder="END DATE" onkeydown="return false" required>
                                                <Button type="button" class="me-default-button" ng-click="getReconciliation(reconciliationReports)">Search</Button>
                                            </div>
                                            <div ng-if="reconciliationReports.report == 'Monthly'" >
                                                <select ng-model="reconciliationReports.fromMonth" required>
                                                    <option  ng-repeat="oneMonth in months">{{oneMonth.month}}</option>
                                                </select>
                                                <select ng-model="reconciliationReports.toMonth" required>
                                                    <option  ng-repeat="oneMonth in months">{{oneMonth.month}}</option>
                                                </select>
                                                <select ng-model="reconciliationReports.year" required>
                                                    <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                </select>
                                                <Button type="button" class="me-default-button" ng-click="getReconciliation(reconciliationReports)">Search</Button>
                                            </div>
                                            <div ng-if="reconciliationReports.report == 'Yearly'">
                                                <select placeholder="From Year" ng-model="reconciliationReports.fromYear" required>
                                                    <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                </select>
                                                <select placeholder="To Year" ng-model="reconciliationReports.toYear" required>
                                                    <option ng-repeat="oneYear in years">{{oneYear.year}}</option>
                                                </select>
                                                <Button type="button" class="me-default-button" ng-click="getReconciliation(reconciliationReports)">Search</Button>
                                            </div>

                                            <!--<Button type="button" class="me-default-button" ng-click="getReconciliation(reconciliationReports)">Search</Button>-->
                                        </form>

                                </div>



                                </div>
                                </div>



                                <form class="allItems" novalidate>
                                    <a ng-if="(reconciliationResponseData.length > 0)" href="" ng-click='downloadCsv
                                    (reconciliationResponseData,{ filename: "RECONCILIATION-REPORT.csv",reportType:"RECONCILIATION",
                                    reportRange:reconciliationReports.report})'>
                                        <button style="float: right" type= "button" >CSV</button></a>
                                    <table class="table">
                                        <thead class="obl-dashboard-apps">
                                        <tr>
                                                <th ng-if="reconciliationReports.report == 'Date Range'">Date</th>
                                                <th ng-if="reconciliationReports.report == 'Monthly'">Month</th>
                                                <th ng-if="reconciliationReports.report == 'Yearly'">Year</th>
                                                <th>Service Provider</th>
                                                <th>App ID</th>
                                                <th>Name</th>
                                                <th>Bank Code</th>
                                                <th>Branch Code</th>
                                                <th>Branch Name</th>
                                                <th >Bank A/C No</th>
                                                <th>Service Provider Earnings (LKR)</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr  ng-repeat="reconciliation in reconciliationResponseData">
                                                <td ng-if="reconciliationReports.report == 'Date Range'">{{reconciliation.date}}</td>
                                                <td ng-if="reconciliationReports.report == 'Monthly'">{{reconciliation.month}}</td>
                                                <td ng-if="reconciliationReports.report == 'Yearly'">{{reconciliation.year}}</td>
                                                <td>{{reconciliation.userId}}</td>
                                                <td>{{reconciliation.appId}}</td>
                                                <td>{{reconciliation.name}}</td>
                                                <td>{{reconciliation.bankCode}}</td>
                                                <td>{{reconciliation.branchCode}}</td>
                                                <td>{{reconciliation.branchName}}</td>
                                                <td>{{reconciliation.bankAccountNumber}}</td>
                                                <td>Rs :{{reconciliation.revenue}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </md-tab-body>
                        </md-tab>

                    </md-tabs>

                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</div>


