<div ng-if="isAuthenticated">
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'technical-support');
        ga('send', 'pageview');
    </script>
    <div class="obl-dashboard-wrapper" ng-controller="HeaderController" ng-show="auth.isAuthenticated()">
        <div class="obl-dashboard-header clearfix">
            <h2 ng-hide="welcome"> </h2>
            <p  ng-hide="welcome"> Welcome to the technical support area</p>
            <div class="obl-dashboard-settings">
                <button class="user-settings-button" ng-click="profileView()" type="button">
                    <img src="images/user-icon.svg" alt="User Logo" />
                </button>
            </div>
        </div>

    </div>
</div>

<fieldset ng-style="myObj" ng-if="showSearchField">
    <input type="text" ng-model="searchPublishApps" name="search">
    <input type="submit" value="search" class="me-search-button">
</fieldset>

<div class="obl-dashboard-wrapper">
    <!--<div class="obl-dashboard-apps">
     All Applications
    </div>-->



    <div class="md-dialog-main clearfix">

        <md-tabs md-center-tabs="false" md-selected="selectedIndex" md-no-ink="true" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab ng-click="showHideSearchField('app_details')">
                <md-tab-label>App Details</md-tab-label>
                <md-tab-body>

        <form class="allItems" novalidate>
            <table class="table">
                <thead class="obl-dashboard-apps">
                <th width="10%" align="center">App ID</th>
                <th width="10%">App Name</th>
                <th width="10%">Email</th>
                <th width="12%">App Description</th>
                <th width="6%" ng-if="user.userRole[0] != 'ADMIN'">Billing</th>
                <th width="6%" ng-if="user.userRole[0] == 'ADMIN'">apk</th>
                <th width="10%">App Status</th>
                <!--<th width="20%">Action</th>-->
                <th width="6%" ng-if="user.userRole[0] != 'ADMIN'">Comments</th>
                <th width="15%" ng-if="user.userRole[0] == 'ADMIN'">Service ID</th>
                <th width="6%" ng-if="user.userRole[0] == 'ADMIN'"></th>
                </thead>

                <tbody>
                <tr ng-repeat="app in appList | filter:searchPublishApps">
                    <td ng-click="showAppView(app.id,app.userId)"  style="color:blue;">
                    <!--<a href="{{serverURL}}templates/viewWebTemplateUrl?userId={{app.userId}}&appId={{app.id}}&1493976247494/">-->
                        <u>{{app.uniqueAppId}}</u>
                    <!--</a>-->
                    </td>
                    <td>{{app.appName}}</td>
                    <td>
                        <div ng-repeat="user in userList">
                            <div ng-if="user.id==app.userId">
                                {{user.email}}
                            </div>
                        </div>
                    </td>
                    <td>
                         <a class="tech-support-description" ng-click="appDescriptionView(app.appName,getDes(app.id,'full'),app.id,app.userId)">{{getDes(app.id,'short')}}</a>
                    </td>
                    <td ng-if="user.userRole[0] != 'ADMIN'">
                        <button class="btn-material"  ng-click="approvedOperatorsView(app,userList,getDes(app.id,'manage'))">Manage</button>
                    </td>
                    <td align="center"  ng-if="user.userRole[0] == 'ADMIN'">
                        <md-button class="me-default-button" ng-click = "buildAPK(app)">
                            Build
                        </md-button>
                        <!--<span ng-show = "app.apkStatus=='PENDING'">Building...</span>-->
                    </td>
                    <td>{{app.publishedStatus}}</td>
                <td align="center" ng-if="user.userRole[0] != 'ADMIN'">
                    <u><md-icon ng-click="commentView(app.appName,app.id,getDes(app.id,'comment'),app.createdAt)" md-svg-icon="images/create-icon.svg"></md-icon></u>
                </td>
                    <td align="center" class="row"  ng-if="user.userRole[0] == 'ADMIN'">
                                <md-input-container style = "margin-top:0px; margin-bottom:0px;">
                                    <input type="text" name="serviceId" ng-model="app.serviceId" value="{{serviceId}}" />
                                </md-input-container>

                    </td>
                    <td align="center"  ng-if="user.userRole[0] == 'ADMIN'">
                            <!--<md-button class="me-default-button" ng-click = "saveServiceId(app)" ng-hide = "!app.enableSave">-->
                            <md-button class="me-default-button" ng-click = "saveServiceId(app)" ng-hide = "false">
                                Save & Submit
                            </md-button>
                    </td>

                </tr>
                </tbody>
            </table>
        </form> </md-tab-body>
            </md-tab>

            <!--<md-tab>-->
                <!--<md-tab-label>Ad Networks</md-tab-label>-->
                <!--<md-tab-body>-->

                    <!--<form class="allItems" novalidate>-->
                        <!--<table class="table">-->
                            <!--<thead class="obl-dashboard-apps">-->
                            <!--<th>Add network name</th>-->
                            <!--<th>Clickid</th>-->
                            <!--<th>AFfid</th>-->
                            <!--<th>Return URL</th>-->
                            <!--<th>Action</th>-->
                            <!--&lt;!&ndash;<th>User Details</th>&ndash;&gt;-->
                            <!--</thead>-->

                            <!--<tbody>-->
                            <!--<tr ng-repeat="app in addNetworkList">-->
                                <!--<td>{{app.adagentname}}</td>-->
                                <!--<td>{{app.clickid}}</td>-->
                                <!--<td>{{app.affid}}</td>-->
                                <!--<td>{{app.returnurl}}</td>-->
                                <!--<td>-->
                                    <!--<a data-ng-click="adNetworkDetails(app)">Edit</a>-->
                                    <!--/-->
                                    <!--<a data-ng-click="deleteAdNetwork(app)">Delete</a>-->
                                <!--</td>-->
                               <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <!--<div><a href="#/viewAdNetworks/"> + Add new network</a></div>-->
                    <!--</form> </md-tab-body>-->
            <!--</md-tab>-->
            <!--<md-tab>-->
                <!--<md-tab-label>Users from Ad Networks</md-tab-label>-->
                <!--<md-tab-body>-->

                    <!--<form class="allItems" novalidate>-->
                        <!--<table class="table">-->
                            <!--<thead class="obl-dashboard-apps">-->
                            <!--<th>User Name</th>-->
                            <!--<th>Ad network</th>-->
                            <!--<th>AFFID</th>-->
                            <!--<th>Created Date</th>-->
                            <!--<th>Last login</th>-->
                            <!--<th>isActive</th>-->
                            <!--<th>Login Count</th>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="app in adUserList">-->
                                    <!--<td> {{app.email}} </td>-->
                                    <!--<td> {{app.adagent}} </td>-->
                                    <!--<td> {{app.affid}} </td>-->
                                    <!--<td> {{app.createdAt}} </td>-->
                                    <!--<td> {{app.lastLoginTime}} </td>-->
                                    <!--<td> {{app.isActive}} </td>-->
                                    <!--<td> {{app.loginCount}} </td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <!--<div><a href="#/viewAdNetworks/"></a></div>-->
                    <!--</form> </md-tab-body>-->
            <!--</md-tab>-->
            <md-tab ng-disabled="enableTab" ng-click="showHideSearchField('register_users')">

                <md-tab-label>Registered users </md-tab-label>
                <md-tab-body>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="vendor/angularUtils-pagination/dirPagination.tpl.html">

                    </dir-pagination-controls>
                    <form class="allItems" novalidate>
                    <table class="table">
                        <thead class="obl-dashboard-apps">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created Date</th>
                        <th>Last login</th>
                        <th>Number of Apps</th>
                        </thead>
                           <tbody>
                           <tr ng-repeat="app in userList">
                            <td> {{app.id}} </td>
                            <td>{{app.firstName}} {{app.lastName}}</td>
                               <td> {{app.email}} </td>
                               <td> {{app.createdAt | date:'yyyy-MM-dd HH:mm:ss' }} </td>
                               <td> {{app.lastLoginTime | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                               <td> {{getAppsCount(app.id)}} </td>
                               <!--<td><a data-ng-click="getUserAppData(app.id)">{{app.id}}</a></td>-->
                           </tr>
                           </tbody>
                    </table>
                </form>
                </md-tab-body>
            </md-tab>

            <md-tab ng-click="showHideSearchField('reports')">
                <md-tab-label>Reports</md-tab-label>
                <md-tab-body>

                    <!--<div class="reports-container">-->

                        <!--<div class="reports-type-container">-->
                            <!--&lt;!&ndash;<div class="technical-support">&ndash;&gt;-->
                                <!--<h6>Select report type</h6>-->
                                <!--<select>-->
                                <!--</select>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="reports-period-container">-->

                            <!--<div class="period-container">-->
                                <!--<h6>Select period</h6>-->
                                <!--<input type="date" placeholder="START DATE">-->
                                <!--<input type="date" placeholder="END DATE">-->
                            <!--</div>-->

                            <!--<div class="operator-container">-->
                                <!--<h6>Select operator</h6>-->
                                <!--<select>-->
                                <!--</select>-->
                            <!--</div>-->

                        <!--</div>-->

                    <!--</div>-->

                        <md-tabs md-center-tabs="false" md-no-ink="true" md-autoselect="false"
                             md-dynamic-height="true">



                        <md-tab>
                            <md-tab-label>Payments</md-tab-label>
                            <md-tab-body>
                                   

                                    <table  class="paymentTable">
                                        <thead>
                                            <tr>
                                                <th>Msisdn</th>
                                                <th>Operator</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                                <th>App Name</th>
                                                <th data-ng-click="sortType = name; sortReverse = !sortReverse;">Date</th>
                                               
                                            </tr>
                                        </thead>  
                                        
                                        <tbody>
                                            <tr ng-repeat="payment in subPayments | orderBy:sortType:sortReverse"> 
                                                <td>{{payment.msisdn}}</td>
                                                <td>{{payment.operator}}</td>
                                                <td>{{payment.status}}</td>
                                                <td>{{payment.amount}}</td>
                                                <td>{{payment.appName}}</td>
                                                <td>{{payment.date | date:"yyyy-MM-dd"}}</td>
                                       
                                            </tr>
                                        </tbody>
                                    </table>
                        </md-tab-body>
                            </md-tab> 
                        <md-tab>
                            <md-tab-label>Revenue And Traffic Report</md-tab-label>
                            <md-tab-body>
                                 Revenue And Traffic 
                               
                                
                                <!-- <div class="reports-container">

                                <div class="reports-type-container"> -->
                                <!--<div class="technical-support">-->
                                <!-- <h6>Select report type</h6>
                                <select>
                                </select> -->
                                <!--</div>-->
                                <!-- </div>

                                <div class="reports-period-container">

                                <div class="period-container">
                                <h6>Select period</h6>
                                <input type="date" placeholder="START DATE">
                                <input type="date" placeholder="END DATE">
                                </div>

                                <div class="operator-container">
                                <h6>Select operator</h6>
                                <select>
                                </select>
                                </div>

                                </div>

                                </div> -->

                               
                            </md-tab-body>
                        </md-tab>


                        <md-tab>
                            <md-tab-label>Application Base Report</md-tab-label>
                            <md-tab-body>
                                Application Base Report
                            </md-tab-body>
                        </md-tab> 

                        <md-tab>
                            <md-tab-label>Failed Transaction Report</md-tab-label>
                            <md-tab-body>
                                Failed Transaction Report
                            </md-tab-body>
                        </md-tab>

                        <md-tab>
                            <md-tab-label>Customer Care Report</md-tab-label>
                            <md-tab-body>
                                Customer Care Report
                            </md-tab-body>
                        </md-tab>

                         <md-tab>
                            <md-tab-label>Reconciliation Report</md-tab-label>
                            <md-tab-body>
                                Reconciliation Report
                            </md-tab-body>
                        </md-tab> 

                    </md-tabs>

                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</div>


