<div ng-if="isAuthenticated">
    <div class="obl-dashboard-wrapper" ng-controller="HeaderController" ng-show="auth.isAuthenticated()">
        <div class="obl-dashboard-header clearfix">
            <h2 ng-hide="welcome"> </h2>
            <p  ng-hide="welcome"> Welcome to the technical support area</p>
            <div class="obl-dashboard-settings">
                <button class="user-settings-button" ng-click="profileView()" type="button">
                    <img src="images/user-icon.svg" alt="User Logo" />
                </button>
            </div>
        </div>
    </div>
</div>

<div class="obl-dashboard-wrapper">
    <!--<div class="obl-dashboard-apps">
     All Applications
    </div>-->
    <div class="md-dialog-main clearfix">

        <md-tabs md-center-tabs="false" md-selected="selectedIndex" md-no-ink="true" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab>
                <md-tab-label>App Details</md-tab-label>
                <md-tab-body>

        <form class="allItems" novalidate>
            <table class="table">
                <thead class="obl-dashboard-apps">
                <th>Id</th>
                <th>Application Name</th>
                <th>User Id</th>
                <th>Application Status</th>
                <th>Action</th>
                <!--<th>User Details</th>-->
                </thead>

                <tbody>
                <tr ng-repeat="app in appList">
                    <td><a href="{{serverURL}}templates/viewTemplateUrl?userId={{app.userId}}&appId={{app.id}}&1493976247494/">{{app.id}}</a></td>
                    <td>{{app.appName}}</td>
                    <td>{{app.userId}}</td>
                    <td>{{app.status}}</td>
                    <td>
                        <a  ng-if="app.status=='PENDING'" data-ng-click="getPublishDetails(app.id,app.userId)">Publish</a>
                        <a  ng-if="app.status=='PUBLISHED'" data-ng-click="getPublishDetails(app.id,app.userId)">Update</a>
                        <a  ng-if="app.status=='UPLOADING'" data-ng-click="getPublishDetails(app.id,app.userId)">Finish</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form> </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Ad Networks</md-tab-label>
                <md-tab-body>

                    <form class="allItems" novalidate>
                        <table class="table">
                            <thead class="obl-dashboard-apps">
                            <th>Add network name</th>
                            <th>Clickid</th>
                            <th>AFfid</th>
                            <th>Return URL</th>
                            <th>Action</th>
                            <!--<th>User Details</th>-->
                            </thead>

                            <tbody>
                            <tr ng-repeat="app in addNetworkList">
                                <td>{{app.adagentname}}</td>
                                <td>{{app.clickid}}</td>
                                <td>{{app.affid}}</td>
                                <td>{{app.returnurl}}</td>
                                <td>
                                    <a data-ng-click="adNetworkDetails(app)">Edit</a>
                                    /
                                    <a data-ng-click="deleteAdNetwork(app)">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div><a href="#/viewAdNetworks/"> + Add new network</a></div>
                    </form> </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Users from Ad Networks</md-tab-label>
                <md-tab-body>

                    <form class="allItems" novalidate>
                        <table class="table">
                            <thead class="obl-dashboard-apps">
                            <th>User Name</th>
                            <th>Ad network</th>
                            <th>AFFID</th>
                            <th>Created Date</th>
                            <th>Last login</th>
                            <th>isActive</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="app in adUserList">
                                    <td> {{app.email}} </td>
                                    <td> {{app.adagent}} </td>
                                    <td> {{app.affid}} </td>
                                    <td> {{app.createdAt}} </td>
                                    <td> {{app.lastLoginTime}} </td>
                                    <td> {{app.isActive}} </td>
                            </tr>
                            </tbody>
                        </table>
                        <div><a href="#/viewAdNetworks/"></a></div>
                    </form> </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="enableTab">

                <md-tab-label>Registered users </md-tab-label>
                <md-tab-body>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="vendor/angularUtils-pagination/dirPagination.tpl.html">

                    </dir-pagination-controls> <form class="allItems" novalidate>
                    <table class="table">
                        <thead class="obl-dashboard-apps">
                        <th>User No</th>
                        <th>User Name</th>
                        <th>User Id</th>
                        <th>About User</th>
                        <th>Created Date</th>
                        <th>Last login</th>
                        </thead>
                           <tbody>
                           <tr ng-repeat="app in userList">
                            <td> {{$index +1}} </td>
                            <td> {{app.email}} </td>
                            <td> {{app.id}} </td>
                            <td> {{app.yourselfReason}} </td>
                            <td> {{app.createdAt}} </td>
                             <td> {{app.lastLoginTime}} </td>
                           </tr>
                           </tbody>
                    </table>
                </form> </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="enableTab">

    </div>
</div>


