<!--<div class="me-title-bar">-->
    <!--<div class="row">-->
        <!--<div class="me-logo-area col-sm-6">-->
            <!--<img class="me-icon" ng-src="{{iconFile}}"/>-->

            <!--<div class="me-title-area">-->
                <!--<p class="me-logo-title">{{title}}</p>-->

                <!--<p class="me-logo-sub-title">{{subtitle}}</p>-->
            <!--</div>-->
            <!--<div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()"-->
                 <!--class="obl-collapsed-menu pull-right">-->
                <!--<button type="button" class="btn obl-nav-button">-->
                    <!--<i class="fa fa-bars"></i>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="me-right-side-controls col-sm-6">-->
            <!--<div>-->
                <!--<button class="btn btn-primary">Button1</button>-->
                <!--<button class="btn btn-warning">Button2</button>-->
                <!--<button class="btn btn-success">Button3</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div ng-transclude>

    <!--Google Analytics-->
    <script>
        ga('set', 'page', '/user/ext-modules/oblFrameWork/oblFrameworkTemplate.html');
        ga('send', 'pageview');
    </script>

</div>
<!--<div ui-view class="obl-view" ng-class="{'obl-view-full-width':!isMenuVisible}">-->
<!--</div>-->