/* Empty. Add your own CSS if you like */
ion-slides {
    width: 200px;
    height: 150px;
    display: block;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: 100%;
}

ul {
    margin-left: 10%;
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
    margin-left: 10%;
}
