<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Appmaker</title>
    <base href="/">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--Google Analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

//        ga('create', 'UA-106780646-1', {
//            'cookieDomain': 'none'
//        });
        ga('create', 'UA-87408154-1', 'auto');
        ga('send', 'pageview');
    </script>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <!--need to inject the font-awesome.css from the library-->
  <link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

   <!--STYLES-->
   <link rel="stylesheet" href="/vendor/adm-dtp/ADM-dateTimePicker.min.css">
   <link rel="stylesheet" href="/vendor/angular-bootstrap-colorpicker/colorpicker.css">
   <link rel="stylesheet" href="/vendor/angular-bootstrap-grid-tree/treeGrid.css">
   <link rel="stylesheet" href="/vendor/angular-color-picker/angularjs-color-picker.css">
   <link rel="stylesheet" href="/vendor/angular-gridster/angular-gridster.css">
   <link rel="stylesheet" href="/vendor/angular-loading-bar/loading-bar.css">
   <link rel="stylesheet" href="/vendor/angular-material/angular-material.css">
   <link rel="stylesheet" href="/vendor/angular-toastr/angular-toastr.css">
   <link rel="stylesheet" href="/vendor/angular-ui-grid/ui-grid.css">
   <link rel="stylesheet" href="/vendor/angular-ui-grid/ui-grid.min.css">
   <link rel="stylesheet" href="/vendor/angular-ui-tree/angular-ui-tree.css">
   <link rel="stylesheet" href="/vendor/ng-dialog/ngDialog-theme-default.css">
   <link rel="stylesheet" href="/vendor/ng-dialog/ngDialog.css">
   <link rel="stylesheet" href="/vendor/ng-img-crop-full-extended/ng-img-crop.css">
   <link rel="stylesheet" href="/vendor/ng-inline-edit/ng-inline-edit.css">
   <link rel="stylesheet" href="/vendor/ngCroppie/minified/ng-croppie.min.css">
   <link rel="stylesheet" href="/vendor/ngCroppie/unminified/ng-croppie.css">
   <link rel="stylesheet" href="/vendor/ngDialog/ngDialog-theme-default.css">
   <link rel="stylesheet" href="/vendor/ngDialog/ngDialog.css">
   <link rel="stylesheet" href="/vendor/textAngular/textAngular.css">
   <link rel="stylesheet" href="/vendor/ui-cropper/ui-cropper.css">
   <link rel="stylesheet" href="/styles/ext-modules/oblFrameWork/oblFramework.css">
   <link rel="stylesheet" href="/styles/ext-modules/oblDashboard/oblDashboard.css">
   <link rel="stylesheet" href="/styles/widgets/appBox.css">
   <link rel="stylesheet" href="/styles/common/device/iphone/iphone.css">
   <link rel="stylesheet" href="/styles/common/device/tablet/tablet.css">
   <link rel="stylesheet" href="/styles/ext-modules/oblMenu/oblMenu.css">
   <link rel="stylesheet" href="/styles/edit/logoandtittle/textSlider.css">
   <link rel="stylesheet" href="/styles/edit/appEditArea.css">
   <link rel="stylesheet" href="/styles/welcome/welcomeApp.css">
   <link rel="stylesheet" href="/styles/common/device/devices.min.css">
   <link rel="stylesheet" href="/styles/edit/setting/contactUs/contactUsDialog.css">
   <link rel="stylesheet" href="/styles/edit/styles/textSlider.css">
   <link rel="stylesheet" href="/styles/treeSource/angular-ui-tree.css">
   <link rel="stylesheet" href="/styles/app.css">
   <link rel="stylesheet" href="/styles/bootstrap.css">
   <link rel="stylesheet" href="/styles/buildkit.css">
   <!--STYLES END-->

    <!-- quill text editor styles -->
   <link rel="stylesheet" href="/js/dependencies/quill/quill.snow.css">
   <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
 </head>

  <body>

    <%- body %>

    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, filesin your `assets/linker/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <script src="/vendor/rangy/rangy-core.js"></script>
    <script src="/vendor/rangy/rangy-classapplier.js"></script>
    <script src="/vendor/adm-dtp/ADM-dateTimePicker.min.js"></script>
    <script src="/vendor/angular-animate/angular-animate.js"></script>
    <script src="/vendor/angular-aria/angular-aria.js"></script>
    <script src="/vendor/angular-bind-html-compile/angular-bind-html-compile.js"></script>
    <script src="/vendor/angular-bootstrap-colorpicker/bootstrap-colorpicker-module.js"></script>
    <script src="/vendor/angular-bootstrap-grid-tree/tree-grid-directive.js"></script>
    <script src="/vendor/angular-chart.js"></script>
    <script src="/vendor/angular-chart.js/angular-chart.js"></script>
    <script src="/vendor/angular-color-picker/angularjs-color-picker.js"></script>
    <script src="/vendor/angular-cookies/angular-cookies.js"></script>
    <script src="/vendor/angular-credit-cards/angular-credit-cards.js"></script>
    <script src="/vendor/angular-disable-all/angular-disable-all.js"></script>
    <script src="/vendor/angular-dynamic-locale/tmhDynamicLocale.js"></script>
    <script src="/vendor/angular-gridster/angular-gridster.js"></script>
    <script src="/vendor/angular-hammer/angular-hammer.js"></script>
    <script src="/vendor/angular-loading-bar/loading-bar.js"></script>
    <script src="/vendor/angular-material/angular-material.js"></script>
    <script src="/vendor/angular-messages/angular-messages.js"></script>
    <script src="/vendor/angular-permission/angular-permission.js"></script>
    <script src="/vendor/angular-resource/angular-resource.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="/vendor/angular-toastr/angular-toastr.tpls.js"></script>
    <script src="/vendor/angular-translate/angular-translate.js"></script>
    <script src="/vendor/angular-ui-grid/ui-grid.js"></script>
    <script src="/vendor/angular-ui-grid/ui-grid.min.js"></script>
    <script src="/vendor/angular-ui-mask/mask.js"></script>
    <script src="/vendor/angular-ui-router/angular-ui-router.js"></script>
    <script src="/vendor/angular-ui-tree/angular-ui-tree.js"></script>
    <script src="/vendor/angularUtils-pagination/dirPagination.js"></script>
    <script src="/vendor/chart.js"></script>
    <script src="/vendor/chart.js/Chart.js"></script>
    <script src="/vendor/hammerjs/hammer.js"></script>
    <script src="/vendor/javascript-detect-element-resize/detect-element-resize.js"></script>
    <script src="/vendor/ng-csv/ng-csv.min.js"></script>
    <script src="/vendor/ng-dialog/ngDialog.js"></script>
    <script src="/vendor/ng-file-upload/ng-file-upload.js"></script>
    <script src="/vendor/ng-img-crop-full-extended/ng-img-crop.js"></script>
    <script src="/vendor/ng-inline-edit/ng-inline-edit.js"></script>
    <script src="/vendor/ngCroppie/minified/ng-croppie.min.js"></script>
    <script src="/vendor/ngCroppie/unminified/ng-croppie.js"></script>
    <script src="/vendor/ngDialog/ngDialog.js"></script>
    <script src="/vendor/ngRepeatReorder/ngRepeatReorder.js"></script>
    <script src="/vendor/pdfmake/pdfmake.js"></script>
    <script src="/vendor/pdfmake/vfs_fonts.js"></script>
    <script src="/vendor/rangy/rangy-highlighter.js"></script>
    <script src="/vendor/rangy/rangy-selectionsaverestore.js"></script>
    <script src="/vendor/rangy/rangy-serializer.js"></script>
    <script src="/vendor/rangy/rangy-textrange.js"></script>
    <script src="/vendor/satellizer/satellizer.js"></script>
    <script src="/vendor/textAngular/textAngular-sanitize.js"></script>
    <script src="/vendor/textAngular/textAngular.js"></script>
    <script src="/vendor/textAngular/textAngularSetup.js"></script>
    <script src="/vendor/tinycolor/tinycolor.js"></script>
    <script src="/vendor/tweenlite/TweenLite.min.js"></script>
    <script src="/vendor/ui-cropper/ui-cropper.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/aChart.js"></script>
    <script src="/js/dependencies/angular-chart.js"></script>
    <script src="/js/dependencies/angular-google-maps.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="/js/app.js"></script>
    <script src="/env/development.js"></script>
    <script src="/js/appConfig.js"></script>
    <script src="/js/directives/common/device/deviceModule.js"></script>
    <script src="/js/directives/dashboard/dashboardModule.js"></script>
    <script src="/js/directives/ext-modules/oblFrameWork/oblFrameWorkModule.js"></script>
    <script src="/js/directives/ext-modules/oblDashboard/oblDashBoardModule.js"></script>
    <script src="/js/directives/ext-modules/oblMenu/oblMenuModule.js"></script>
    <script src="/js/directives/edit/appEditModule.js"></script>
    <script src="/js/directives/treeSource/main.js"></script>
    <script src="/js/directives/treeSource/directives/uiTree.js"></script>
    <script src="/js/directives/treeSource/directives/uiTreeHandle.js"></script>
    <script src="/js/directives/treeSource/directives/uiTreeNode.js"></script>
    <script src="/js/directives/treeSource/directives/uiTreeNodes.js"></script>
    <script src="/js/appRoutesConfig.js"></script>
    <script src="/js/controllers/auth/forgotPassword.js"></script>
    <script src="/js/controllers/auth/loginController.js"></script>
    <script src="/js/controllers/auth/registerController.js"></script>
    <script src="/js/controllers/auth/resetPassword.js"></script>
    <script src="/js/controllers/common/device/iphone/iphoneCtrl.js"></script>
    <script src="/js/controllers/common/device/tablet/tabletCtrl.js"></script>
    <script src="/js/controllers/common/headerController.js"></script>
    <script src="/js/controllers/dashboard/dashboardCtrl.js"></script>
    <script src="/js/controllers/dashboard/ext-modules/oblFrameWork/oblFrameworkCtrl.js"></script>
    <script src="/js/controllers/dashboard/ext-modules/oblMenu/oblMenuCtrl.js"></script>
    <script src="/js/controllers/edit/analytics/AnalyticsController.js"></script>
    <script src="/js/controllers/edit/appEditAreaCtrl.js"></script>
    <script src="/js/controllers/edit/article/articleCtrl.js"></script>
    <script src="/js/controllers/edit/carousel/carouselController.js"></script>
    <script src="/js/controllers/edit/commerce/commerceCtrl.js"></script>
    <script src="/js/controllers/edit/commerce/currencyCtrl.js"></script>
    <script src="/js/controllers/edit/commerce/inventoryCtrl.js"></script>
    <script src="/js/controllers/edit/commerce/ipgCtrl.js"></script>
    <script src="/js/controllers/edit/commerce/productsCtrl.js"></script>
    <script src="/js/controllers/edit/commerce/proEditImageCtrl.js"></script>
    <script src="/js/controllers/edit/commerce/shippingCtrl.js"></script>
    <script src="/js/controllers/edit/commerce/taxCtrl.js"></script>
    <script src="/js/controllers/edit/design/templateCtrl.js"></script>
    <script src="/js/controllers/edit/engage/engageCtrl.js"></script>
    <script src="/js/controllers/edit/engage/salesAndPromotionCtrl.js"></script>
    <script src="/js/controllers/edit/engage/userCtrl.js"></script>
    <script src="/js/controllers/edit/logoandtittle/logoAndTittleCtrl.js"></script>
    <script src="/js/controllers/edit/mainmenu/editChildCtrl.js"></script>
    <script src="/js/controllers/edit/mainmenu/editChildImageCtrl.js"></script>
    <script src="/js/controllers/edit/mainmenu/editSubChildCtrl.js"></script>
    <script src="/js/controllers/edit/mainmenu/editSubChildImageCtrl.js"></script>
    <script src="/js/controllers/edit/mainmenu/mainMenuCtrl.js"></script>
    <script src="/js/controllers/edit/publish/publishCtrl.js"></script>
    <script src="/js/controllers/edit/setting/aboutUs/aboutUsCtrl.js"></script>
    <script src="/js/controllers/edit/setting/contactUs/contactUsCtrl.js"></script>
    <script src="/js/controllers/edit/setting/policies/policiesCtrl.js"></script>
    <script src="/js/controllers/edit/styles/StylesCtrl.js"></script>
    <script src="/js/controllers/edit/styles/webStylesCtrl.js"></script>
    <script src="/js/controllers/get-assistance/get-assistance.js"></script>
    <script src="/js/controllers/technicalSupport/technicalSupportCtrl.js"></script>
    <script src="/js/controllers/treeSource/controllers/handleCtrl.js"></script>
    <script src="/js/controllers/treeSource/controllers/nodeCtrl.js"></script>
    <script src="/js/controllers/treeSource/controllers/nodesCtrl.js"></script>
    <script src="/js/controllers/treeSource/controllers/treeCtrl.js"></script>
    <script src="/js/controllers/userProfile/userProfileCtrl.js"></script>
    <script src="/js/controllers/welcome/livePreviewCtrl.js"></script>
    <script src="/js/controllers/welcome/startAppWindowCtrl.js"></script>
    <script src="/js/controllers/welcome/templateCtrl.js"></script>
    <script src="/js/controllers/welcome/welcomeTemplatesCtrl.js"></script>
    <script src="/js/directives/common/device/iphone/meIphoneDrt.js"></script>
    <script src="/js/directives/common/device/tablet/meTabletDrt.js"></script>
    <script src="/js/directives/compareTo.module.js"></script>
    <script src="/js/directives/dashboard/meDashboardDir.js"></script>
    <script src="/js/directives/dashboard/widgets/appBoxDir.js"></script>
    <script src="/js/directives/edit/appEditorDir.js"></script>
    <script src="/js/directives/edit/commerce/commerceDir.js"></script>
    <script src="/js/directives/edit/logoandtittle/fileSizeCheckDir.js"></script>
    <script src="/js/directives/edit/mainmenu/mainMenuDir.js"></script>
    <script src="/js/directives/edit/publish/publishDir.js"></script>
    <script src="/js/directives/edit/setting/contactUs/contactUsDir.js"></script>
    <script src="/js/directives/edit/styles/fileReadDir.js"></script>
    <script src="/js/directives/ext-modules/oblDashboard/oblDashboardDir.js"></script>
    <script src="/js/directives/ext-modules/oblDashboard/oblWidgetBodyDir.js"></script>
    <script src="/js/directives/ext-modules/oblFrameWork/oblFrameworkDir.js"></script>
    <script src="/js/directives/ext-modules/oblMenu/oblMenuButtonDir.js"></script>
    <script src="/js/directives/ext-modules/oblMenu/oblMenuDir.js"></script>
    <script src="/js/directives/ext-modules/oblMenu/oblMenuGroupDir.js"></script>
    <script src="/js/directives/ext-modules/oblMenu/oblMenuItemDir.js"></script>
    <script src="/js/directives/FileUpload.js"></script>
    <script src="/js/directives/ignoreMouseWheel.js"></script>
    <script src="/js/directives/ng-enter.js"></script>
    <script src="/js/directives/ng-image-compress.js"></script>
    <script src="/js/services/auth/accessLevels.js"></script>
    <script src="/js/services/auth/auth.js"></script>
    <script src="/js/services/auth/currentUser.js"></script>
    <script src="/js/services/auth/localStorage.js"></script>
    <script src="/js/services/common/dialogService.js"></script>
    <script src="/js/services/common/oblMenuService.js"></script>
    <script src="/js/services/dashboard/dashboardService.js"></script>
    <script src="/js/services/edit/article/articleService.js"></script>
    <script src="/js/services/edit/carousel/carouselController.js"></script>
    <script src="/js/services/edit/commerce/commerceService.js"></script>
    <script src="/js/services/edit/commerce/currencyService.js"></script>
    <script src="/js/services/edit/commerce/ipgService.js"></script>
    <script src="/js/services/edit/commerce/productService.js"></script>
    <script src="/js/services/edit/commerce/shippingService.js"></script>
    <script src="/js/services/edit/commerce/taxService.js"></script>
    <script src="/js/services/edit/design/templateService.js"></script>
    <script src="/js/services/edit/engage/engageService.js"></script>
    <script src="/js/services/edit/logoandtittle/logoAndTittleService.js"></script>
    <script src="/js/services/edit/mainmenu/mainMenuService.js"></script>
    <script src="/js/services/edit/publish/publishService.js"></script>
    <script src="/js/services/edit/service/appEditAreaResource.js"></script>
    <script src="/js/services/edit/service/inventoryResource.js"></script>
    <script src="/js/services/edit/setting/aboutUs/aboutUsService.js"></script>
    <script src="/js/services/edit/setting/contactUs/contactUsService.js"></script>
    <script src="/js/services/edit/setting/policies/policiesService.js"></script>
    <script src="/js/services/edit/shareUrl/shareUrlService.js"></script>
    <script src="/js/services/edit/styles/stylesService.js"></script>
    <script src="/js/services/edit/styles/webStylesService.js"></script>
    <script src="/js/services/get-assistance/getAssistanceService.js"></script>
    <script src="/js/services/salesAndPromotion/salesAndPromotionService.js"></script>
    <script src="/js/services/technicalSupport/technicalSupportService.js"></script>
    <script src="/js/services/TempUnavilable/comingSoonService.js"></script>
    <script src="/js/services/treeSource/services/helper.js"></script>
    <script src="/js/services/userProfile/userProfileResource.js"></script>
    <script src="/js/services/userProfile/userProfileService.js"></script>
    <script src="/js/services/welcome/welcomeTemplatesResource.js"></script>
    <!--SCRIPTS END-->

    <!-- scripts for quill text editor -->
    <script type="text/javascript" src="/js/dependencies/quill/quill.min.js"></script>
    <script type="text/javascript" src="/js/dependencies/quill/ng-quill.min.js"></script>


    <!--
          Client-side Templates
          ========================

          HTML templates are important prerequisites of modern, rich client applications.
          To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
          that you load these templates client-side.

          By default, your Gruntfile is configured to automatically load and precompile
          client-side JST templates in your `assets/linker/templates` folder, then
          include them here automatically (between TEMPLATES and TEMPLATES END).

          To customize this behavior to fit your needs, just edit your Gruntfile.
          For example, here are a few things you could do:

              + Import templates from other directories
              + Use a different template engine (handlebars, jade, dust, etc.)
              + Internationalize your client-side templates using a server-side
                stringfile before they're served.
      -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/templates.js"></script>
    <!--TEMPLATES END-->

    <!-- Google Analytics -->
    <!--<script>-->
      <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
                <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
              <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
      <!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

      <!--ga('create', 'UA-87408154-1', 'auto');-->
      <!--ga('send', 'pageview');-->

    <!--</script>-->

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/599eb6f7b6e907673de09527/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <div class="footer-beta"><span>Built by <a href = "https://www.simatosolutions.com" target="_blank">Simato Solutions.</a></span></div>

  </body>
</html>
