/* Empty. Add your own CSS if you like */


/*overall app*/
.scroll{
	height: 100%;
}


.item-select select{
    background:transparent;
	height: 100%;
}

/*home page*/
.bottom{
	position: relative;
	top: 50%;
	text-align: center;
}

/*categories Page*/

.categories h3{
	position: absolute;
	top: 0;
	left: 7%;
}

/* items page */

.items .card{
	margin: 6px;
}

.items .col-50{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 46%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 46%;
	-ms-flex: 0 0 46%;
	flex: 0 0 46%;
	max-width: 46%;
}

.items .price{
	background: #444;
	color: #fff;
	border-radius: 3px;
}

.items .align-bot{
   position: absolute;
   bottom: 0;
}

/*home page and menu*/

.login .card{
	background-color: rgba(255,255,255,0.8)
}


.cart i{
	right: 5px !important;
	font-size: 20px !important;
}
.cart a.item {
	padding-left: 65px;
}
.cartSize{
    margin: 17px 5px 0 0;
}

select{
	background: #fff0 !important;
}

/*helper classes*/

.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.title-image {
    margin-left: 20%;
}
/* Remove controls from Firefox , Chrome, safari*/
.removeAr input[type=number]::-webkit-inner-spin-button,
.removeAr input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.removeAr input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
  height: inherit;
  line-height: normal;
  padding-top: 0;
}

.item-error-message{
    color:red;
    white-space:normal;
    zoom: 0.8;
}
input {
	width: 100%;
}
.login .item {
	width: auto;
}


.bar .button{
	min-height: 44px;
	min-width: 25px;
	max-width: 25px;
	margin-bottom: 0;
	max-height: 25px;
	width: 25px;
}