<section>
	<h2>Contact Info:</h2>
	<p *ngIf="contactInfo[0].description">{{contactInfo[0].description}}</p>
	<div>
	  <div class="row" *ngIf="contactInfo[0].address">
	    <div class="col-md-4">
	      <div><i class="icon fa fa-map-marker"></i> Address:</div>
	    </div>
	    <div class="col-md-8">
	      <div class="b-info__info">{{contactInfo[0].address}}</div>
	    </div>
	  </div>
	  <div class="row" *ngIf="contactInfo[0].phone">
	    <div class="col-md-4">
	      <div><i class="icon fa fa-phone"></i> Phone:</div>
	    </div>
	    <div class="col-md-8">
	      <div class="b-info__info">{{contactInfo[0].phone}}</div>
	    </div>
	  </div>
	  <div class="row" *ngIf="contactInfo[0].email">
	    <div class="col-md-4">
	      <div><i class="icon fa fa-envelope"></i> Email:</div>
	    </div>
	    <div class="col-md-8">
	      <div><a href="mailto:{{contactInfo[0].email}}">{{contactInfo[0].email}}</a></div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4">
	      <div><i class="icon fa fa-user"></i> Share:</div>
	    </div>
	    <div class="col-md-8">
	                <ul class="list-inline">
	                  <li  *ngIf="contactInfo[0].facebook"><a href="{{contactInfo[0].facebook}}" target="_blank"><i class="icon fa fa-facebook"></i></a></li>
	                  <li  *ngIf="contactInfo[0].twitter"><a href="{{contactInfo[0].twitter}}" target="_blank"><i class="icon fa fa-twitter"></i></a></li>
	                  <li  *ngIf="contactInfo[0].pinterest"><a href="{{contactInfo[0].pinterest}}" target="_blank"><i class="icon fa fa-pinterest-p"></i></a></li>
	                  <li  *ngIf="contactInfo[0].linkedin"><a href="{{contactInfo[0].linkedin}}" target="_blank"><i class="icon fa fa-linkedin"></i></a></li>
	                </ul>
	    </div>
	  </div>
	</div>
</section>