<!-- bloc-10 -->
<div class="bloc bgc-white l-bloc" id="bloc-10">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="padding-vertical main-header-font">
          Privacy Policy
        </h3>
        <p class="main-content-font" [innerHTML]="privacyPolicy"> </p>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3 class="padding-vertical main-header-font">
          Terms and Conditions
        </h3>
        <p class="main-content-font" [innerHTML]="terms"> </p>
      </div>
    </div>

    <!-- <hr class="featurette-divider"> -->

    <div class="row" *ngIf="defaultTerms">
      <div class="col-sm-12">
        <h3 class="padding-vertical main-header-font">Ideadroid Terms and Conditions</h3>
      </div>
      <div class="main-content-font" [innerHTML]="defaultTerms"></div>
    </div>
  </div>

</div>
<!-- bloc-10 END -->
