<footer class="footer">
    
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" aria-label="Home">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </button>

    <button type="button" class="btn btn-default" aria-label="Heart">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Policies">
      <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="My Account">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </button>
  </div>
</footer>