<!-- bloc-10 -->
<div class="bloc bgc-white l-bloc" id="bloc-10">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-justify mg-sm about-us-heading ">
          Privacy Policy </h3>
        <div class="divider-h divider">
          <span class="divider"></span>
        </div>
        <p class="content-index  text-justify content-index-2" [innerHTML]="privacyPolicy">
        </p>
      </div>
    </div>
  </div>

  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-justify mg-sm about-us-heading ">
          Return Policy </h3>
        <div class="divider-h divider">
          <span class="divider"></span>
        </div>
        <p class="content-index  text-justify content-index-2" [innerHTML]="returnPolicy">
        </p>
      </div>
    </div>
  </div>

</div>
<!-- bloc-10 END -->



<hr class="featurette-divider">
