<div id="header" class="page-container header">

  <!-- bloc-1 -->

  <div class="bloc bgc-white l-bloc main-navigation" id="bloc-1">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button *ngIf="hideBackOnHome" aria-label="menu" id="nav-toggle" type="button" class="pull-left ui-navbar-toggle navbar-toggle"
            (click)="goBack()">
            <i class="fa fa-arrow-left"></i>
          </button>
          <button aria-label="menu" id="nav-toggle" type="button" class="pull-left ui-navbar-toggle navbar-toggle" (click)="openNav()">
            <i class="fa fa-bars lg"></i>
          </button>
          <div *ngIf= "tempName == 'product'; else notProduct">
              <div *ngIf= "title.length > articleSize; else noAnimation" >
                  <div class="mobile-title visible-xs mobileTitle"><marquee class="mar-size">{{title}}</marquee></div>
              </div>
              <ng-template #noAnimation>
                  <div class="mobile-title visible-xs mobileTitle">{{title}}</div>
              </ng-template>
          </div>
          <ng-template #notProduct>
            <div class="mobile-title visible-xs mobileTitle">{{title}}</div>
          </ng-template>
          
         

        </div>
        <div class="navbar-1">
          <ul class="site-navigation nav navbar-nav">
            <li>
              <a class="navbar-brand" (click)="navigate('','')">
                <img width="100%" src="{{logoUrl}}/logo.png">
              </a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('','')">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('aboutus','About us')">About Us</a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('contact','Contact us')">Contact Us</a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('policies','Policies')">Policies</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- bloc-1 END -->

  <!-- Mobile Navigation -->
  <div id="mySidenav" class="sidenav  main-navigation">
    <div class="closebtn" (click)="closeNav()">&times;</div>
    <a (click)="navigate('','')">Home</a>
    <a *ngIf="subscriptionStatus === null || subscriptionStatus === 'UNSUBSCRIBED'" data-toggle="modal" (click) = "openRegisterModel()">Register</a>
    <a *ngIf="subscriptionStatus === 'SUBSCRIBED'" data-toggle="modal" (click) = "openMyAccountModel()">My Account</a>
    <a (click)="navigate('contact','Contact us')">Contact Us</a>
    <a (click)="navigate('policies','Privacy Policy')">Privacy Policy</a>
    <div class="navbar-brand text-center" (click)="navigate('','')">
      <img src="{{logoUrl}}/logo.png">
    </div>
  </div>


  <!-- ScrollToTop Button -->
  <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
    <span class="fa fa-chevron-up"></span>
  </a>
  <!-- ScrollToTop Button END-->

</div>
<!-- bloc-2 END -->



<!-- My Account Model -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="myAccountModel" tabindex="-1" role="dialog" aria-labelledby="myAccountModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div *ngIf = "isUnsubscribing == false">
          <h3 class="padding-bottom">My Account</h3>
          <h4>
            Are you sure you want to unsubscribe from this service?
          </h4>
        </div>
          <div *ngIf="isUnsubscribing == true">
            <div class="wrapper">
              <div class="loader-box">
                <div class="loader">

                </div>
                <div class="loader-text">
                  Un-Subscribing...
                </div>
              </div>
            </div>
          </div>
        <button type="button" [disabled]="isUnsubscribing == true" class="btn sub-button-sub btn-block" (click)="onUnsubscribe()"> Unsubscibe Now</button>
        <button type="button" class="btn sub-button-cancel btn-block" data-dismiss="modal" (click)= "close()">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- My Account Model -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="registerModel" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div *ngIf="isSubscribing == false">
          <h3 class="padding-bottom">Subscribe</h3>
          <div *ngIf = "appPublishDetails">
              <div  *ngFor = "let operators of appPublishDetails.operators">
                <div *ngIf = "operators.isEnabled">
                  <div>
                    <p> {{operators.operator | titlecase}} Rs.{{operators.amount}}+tax per {{getRenewalIntervalNumberOfDaysByIntervalCode(operators.interval)}} day(s)</p>
                  </div>
                </div>
              </div>
          </div>

          <p>The subscription amount will be charged to your mobile phone account and your subscription will be renewed automatically.</p>
          <p>මෙම සේවාව සදහා දායක මුදල ඔබේ ජංගම දුරකතන ගිණුමෙන් අය කරනු ලැබේ. දායක මුදල් ස්වයංක්‍රීයව නැවත අලුත් කෙරෙනු ලැබේ.</p>
          <p>இந்த சேவை கட்டணம் உங்கள் தொலைபேசி கணக்கிலிருந்து அறவிடப்படும். உங்களது சேவையானது தானாகவே மீண்டும் மீள் செயட்படுத்தப்படும்.</p>
        </div>
        <div *ngIf="isSubscribing == true">
          <div class="wrapper">
            <div class="loader-box">
              <div class="loader">

              </div>
              <div class="loader-text">
                Subscribing...
              </div>
            </div>
          </div>
        </div>

        <button [disabled]="isSubscribing == true" type="button" class="btn sub-button-sub btn-block" (click)="onSubscribe()"> Subscibe Now</button>
        <button type="button" class="btn sub-button-cancel btn-block" data-dismiss="modal" (click)= "close()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- My Account Model -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="appStatusModel" tabindex="-1" role="dialog" aria-labelledby="appStatusModelLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3>{{displayMessage}}</h3>
        <br>
        <button type="button" class="btn sub-button-cancel btn-block" data-dismiss="modal" (click)= "close()">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- App push notifications Model -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="appPushNotificationModel" tabindex="-1" role="dialog" aria-labelledby="appStatusModelLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <strong>Notification</strong>
        <br>
        <p>{{pushMessage}}</p>
        <br>
        <button type="button" class="btn sub-button-cancel btn-block" data-dismiss="modal" (click)= "close()">Ok</button>
      </div>
    </div>
  </div>
</div>
