<md-dialog aria-label="Manage Products" style="width:100%; height:100%">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'manage-products');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tabs  md-no-ink-bar ="false" md-no-ink="true" md-no-bar  md-center-tabs="false" md-selected="selectedTab"  md-autoselect="false"
                  md-dynamic-height="true">
            <!--Add Product Tab 1 content -->
            <md-tab>
                <md-tab-label>Sales</md-tab-label>
                <md-tab-body>
                    <md-content>
                        <div class="md-dialog-header">
                            <h1>Store Analytics</h1>
                        </div>
                        <div class="md-dialog-main" style="max-height: 65vh">
                            <label class="margin">Select Period</label>
                            <div layout-gt-xs="row" class="margin">
                                <div flex="33">
                                    <md-datepicker ng-model="sales.fromDate" md-placeholder="Start date" md-open-on-focus></md-datepicker>
                                </div>
                                <div flex="33">
                                    <md-datepicker ng-model="sales.toDate" md-placeholder="End date" md-open-on-focus></md-datepicker>

                                </div>
                            </div>
                            <label class="margin">Select Product</label>
                            <div layout-gt-xs="row" class="margin">
                                <div flex="50">
                                    <md-select ng-model="sales.selectedProducts"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="selectdemoSelectHeader"
                                               aria-label="select product"
                                               multiple>
                                        <md-optgroup>
                                            <md-option ng-value="product.name" ng-repeat="product in products | filter:searchTerm">{{product.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </div>
                                <div flex="50">
                                    <md-button ng-click="getSalesSummary(sales)" class="no-margin margin-horizontal md-raised" style="top:-3px;background:#bdbdbd;color:#fff">Apply</md-button>
                                </div>
                            </div>

                            <label class="margin">Sales</label>
                            <div layout-gt-xs="row" class="margin">
                                <div flex="100">
                                    <canvas id="line" class="chart chart-line" chart-data="salesChartdata.data"
                                            chart-labels="salesChartdata.labels" chart-series="salesChartdata.series" chart-options="salesChartdata.options"
                                            chart-dataset-override="salesChartdata.datasetOverride" chart-click="onClick">
                                    </canvas>
                                </div>
                            </div>
                            <div layout-gt-xs="row" class="margin">
                                <div flex="50" class="padding-vertical">
                                    <table width="100%" class="analytic-table">
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Revenue {{ salesList[0].currency }}</th>
                                        </tr>

                                        <tr ng-repeat="sales in salesList">
                                            <td>{{ sales._id.name }}</td>
                                            <td>{{ sales.count }}</td>
                                            <td>{{ sales.totalPrice }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div flex="20"></div>
                                <div flex="20" class="text-right padding" style="border-left: 1px solid #ccc;">
                                   <h4>Total Revenue</h4>
                                    <h3><b>{{ currency }} {{total}}</b></h3>
                                </div>
                            </div>
                            <div layout-gt-xs="row" class="margin-horizontal">
                                <a href="" ng-click="downloadFile(sales,'sales')">Download Full Report</a>
                            </div>
                        </div>
                        <div class="md-dialog-buttons padding-top">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="close()">Close</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Tax</md-tab-label>
                <md-tab-body>
                    <md-content>
                        <div class="md-dialog-header">
                            <h1>Tax Analytics</h1>
                        </div>
                        <div class="md-dialog-main" style="max-height: 65vh">
                            <label class="margin">Select Period</label>
                            <div layout-gt-xs="row" class="margin">
                                <div flex="33">
                                    <md-datepicker ng-model="tax.fromDate" md-placeholder="Start date" md-open-on-focus></md-datepicker>
                                </div>
                                <div flex="33">
                                    <md-datepicker ng-model="tax.toDate" md-placeholder="End date" md-open-on-focus></md-datepicker>

                                </div>

                                <div flex="50">
                                    <md-button ng-click="getTaxSummary(tax)" class="no-margin margin-horizontal md-raised" style="top:-3px;background:#bdbdbd;color:#fff">Apply</md-button>
                                </div>
                            </div>

                            <label class="margin">Tax</label>
                            <div layout-gt-xs="row" class="margin  padding-bottom">
                                <div flex="100">
                                    <canvas id="line" class="chart chart-line" chart-data="taxChartdata.data"
                                            chart-labels="taxChartdata.labels" chart-series="taxChartdata.series" chart-options="taxChartdata.options"
                                            chart-dataset-override="taxChartdata.datasetOverride" chart-click="onClick">
                                    </canvas>
                                </div>
                            </div>
                            <md-input-container class="margin-horizontal" flex="33">
                                <label>Search Country</label>
                                <input ng-model="tax.country">
                            </md-input-container>
                            <div layout-gt-xs="row" class="margin-horizontal">
                                <div flex="50">
                                    <table width="100%" class="analytic-table">
                                        <tr>
                                            <th>Country</th>
                                            <th>Sales {{ taxList[0].currency }}</th>
                                            <th>Tax {{ taxList[0].currency }}</th>
                                        </tr>

                                        <tr ng-repeat="tax in taxList">
                                            <td>{{ tax._id.country }}</td>
                                            <td>{{ tax.totalSales }}</td>
                                            <td>{{ tax.taxTotal }}</td>
                                        </tr>
                                        <!--<tr>
                                            <td>Sri Lanka</td>
                                            <td>4200.00</td>
                                            <td>300.00</td>
                                        </tr>-->
                                    </table>
                                </div>
                                <div flex="20"></div>
                                <div flex="20" class="text-right padding" style="border-left: 1px solid #ccc;">
                                   <h4>Total Tax</h4>
                                    <h3><b>{{ currency}} {{tax_total}}</b></h3>
                                </div>
                            </div>
                            <div layout-gt-xs="row" class="margin-horizontal">
                                <a href="" ng-click="downloadFile(tax,'tax')">Download Full Report</a>
                            </div>
                        </div>
                        <div class="md-dialog-buttons padding-top">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="close()">Close</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>shipping</md-tab-label>
                <md-tab-body>
                    <md-content>
                        <div class="md-dialog-header">
                            <h1>Shipping Analytics</h1>
                        </div>
                        <div class="md-dialog-main" style="max-height: 65vh">
                            <label class="margin">Select Period</label>
                            <div layout-gt-xs="row" class="margin">
                                <div flex="33">
                                    <md-datepicker ng-model="shipping.fromDate" md-placeholder="Start date" md-open-on-focus></md-datepicker>
                                </div>
                                <div flex="33">
                                    <md-datepicker ng-model="shipping.toDate" md-placeholder="End date" md-open-on-focus></md-datepicker>

                                </div>

                                <div flex="50">
                                    <md-button ng-click="getShippingSummary(shipping)" class="no-margin margin-horizontal md-raised" style="top:-3px;background:#bdbdbd;color:#fff">Apply</md-button>
                                </div>
                            </div>

                            <label class="margin">Shipments</label>
                            <div layout-gt-xs="row" class="margin  padding-bottom">
                                <div flex="100">
                                    <canvas id="line" class="chart chart-line" chart-data="shippingChartdata.data"
                                            chart-labels="shippingChartdata.labels" chart-series="shippingChartdata.series" chart-options="shippingChartdata.options"
                                            chart-dataset-override="shippingChartdata.datasetOverride" chart-click="onClick">
                                    </canvas>
                                </div>
                            </div>
                            <md-input-container class="margin-horizontal" flex="33">
                                <label>Search Country</label>
                                <input type="text" ng-model="shipping.country"  ng-change="countrySearch(shipping.country)">
                            </md-input-container>
                            <div layout-gt-xs="row" class="margin-horizontal">
                                <div flex="50">
                                    <table width="100%" class="analytic-table">
                                        <tr>
                                            <th>Country</th>
                                            <th>Shipping Type </th>
                                            <th>Shipping {{ shppingList[0].currency }}</th>
                                        </tr>

                                        <tr ng-repeat="shipping in shppingList | filter : countryName">
                                            <td>{{ shipping._id.country }}</td>
                                            <td>{{ shipping._id.shippingOpt }}</td>
                                            <td>{{ shipping.totalShippingCost }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div flex="20"></div>
                                <div flex="20" class="text-right padding" style="border-left: 1px solid #ccc;">
                                   <h4>Total Shipping</h4>
                                    <h3><b>{{ currency }} {{shpping_total}}</b></h3>
                                </div>
                            </div>
                            <div layout-gt-xs="row" class="margin-horizontal">
                                <a href="" ng-click="downloadFile(shipping,'shipping')">Download Full Report</a>
                            </div>
                        </div>
                        <div class="md-dialog-buttons padding-top">
                            <div class="inner-section">
                                <md-button class="me-default-button" ng-click="close()">Close</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>