<ion-view class="made-easy-background-image made-easy-background-color" view-title="Check Out">
    <ion-content >
        <div class="card animated zoomIn">
            <div class="col align-center made-easy-header-font">
                Check Out
            </div>
            <div class="row shopping-cart-header">
                <div class="col col-50">Item</div>
                <div class="col">Qty</div>
                <div class="col">Price</div>
                <div class="col"></div>
            </div>
            <div class="cartItems" ng-repeat="item in cartItems" >
                <div class="row shopping-cart-items">
                    <div class="col col-50" ng-model="item.name" ng-class="{hideName: !setActive, showName: setActive}" ng-click="setActive = !setActive ">{{item.name}}</div>
                    <div class="col" ng-model="item.qty" >{{item.qty}}</div>
                    <div class="col" ng-model="item.total" >{{(item.total)*(item.qty)}}</div>
                </div>
            </div>
            <div ng-if="hideShipping">
                <div class="row">
                    <div class="col"></div>
                    <div class="align-right col col-50">Shipping</div>
                    <div class="col" ng-model="shipping" >{{currency}}{{shippingCost}}</div>
                </div>
            </div>
            <div ng-hide="hide" >
                <div class="row">
                    <div class="col"  ></div>
                    <div class="align-right col col-50" ng-model="tax" >Tax({{tax}}%)</div>
                    <div class="col" ng-model="tax" >{{currency}}{{taxTotal}}</div>
                </div>
            </div>

            <div >
                <div class="row shopping-cart-total">
                    <div class="col col-50">Total</div>
                    <div class="col" ng-model="quantity">{{totalQuantity}}</div>
                    <div class="col" ng-model="total" >{{currency}}{{totalPrice}}</div>
                </div>
            </div>

            <div>
                <div class="row shopping-cart-total">
                    <div class="col col-50">Promotion code</div>
                    <input style="border-bottom: 1px solid #ccc;" type="text" ng-model="promotionCode">
                </div>
            </div>
            
            <div>
                <!--Change the error messages accordingly-->
                <div ng-if="overWeight">Over weight. Cannot ship</div>
                <div ng-if="underWeight">Under weight. Cannot ship</div>
            </div>

            <div class="row ">
                <button class="col margin button button-block button-small made-easy-button-setting"  ng-click="$ionicGoBack()">Cancel</button>
                <button class="col margin button button-block button-small made-easy-button-setting" ng-click="pay(promotionCode)" >Pay</button>
            </div>
        </div>
    </ion-content>
</ion-view>
