<ion-view class="made-easy-background-color made-easy-background-image" view-title="Menu">
    <ion-content class="padding">
        <ion-slides slider="data.slider" options="options" class="menu-items">
            <ion-slide-page ng-repeat="category in categoryList" >

                    <a href="#/tab/menu/{{category.id}}/{{category.name}}">
                        <div class="card padding">
                            <div class="header">
                                <div class="header-image">
                                    <img href="#/tab/menu/{{category.id}}/{{category.name}}" ng-src="{{category.imageUrl}}" width="100%">
                                </div>
                            </div>

                            <div class="made-easy-header-font">
                                <p class="align-center">{{category.name}}</p>
                            </div>

                        </div>
                    </a>

                </ion-slide-page>
            </ion-slides>
    </ion-content>
</ion-view>
