/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
:host  /deep/ .carousel {
  margin-bottom: 1.5rem;
}
/* Since positioning the image, we need to help out the caption */
:host  /deep/ .carousel-caption {
  z-index: 10;
  bottom: 3rem;
  height: 55%;
}

/* Declare heights because of positioning of img element */
:host  /deep/ .carousel-item {
  height: calc(50vh);
  background-color: #777;
}
 :host  /deep/ .carousel-item > img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

:host  /deep/ .carousel-control-prev, :host  /deep/ .carousel-control-next, :host  /deep/ .carousel-indicators{
	display: none;
}

/* CUSTOMIZE THE CART
-------------------------------------------------- */

.cart{
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.cart label{
  font-size: 18px;
  display: block;
  margin-top: 20px;
  margin-bottom: 0;
}

.cart .total-price{
  margin-top: 26px;
  font-size: 16px;
  font-weight: 600;
  overflow: auto;
}
.cart .variants{
  font-size: 15px;
  font-weight: 600;
  vertical-align: middle;
  height: 75px;
  display: table-cell;
}

.cart #btn-minus, #btn-plus, #qty{
  display: inline-block;
}

.cart #qty{
  margin-top: 20px;
  position: relative;
  top:1px;
  width: 50%;
}

.cart+.cart{
  border-top: 0;
}
.cart img{
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.cart .delete{
  margin-top: 18px;
}



@media (max-width: 991px) {
  .cart img{
    width: 60px;
    height: 60px;
  }

  .cart #qty{
    width: 100%;
  }

  .no-m-margin{
    margin: 0 !important;
  }

  .no-m-padding{
    padding: 0;
  }
  .cart .variants{
    height: initial;
  }

}
