
/** ----------- Start Custom update Css Class ---------- **/

.made-easy-background-color {
    background-color: #10b23e !important;
}
.made-easy-background-image{
    background: url(../img/background.jpg) center;
    background-size: cover;
}
.made-easy-navigationBarColor{
  background-color: inherit;
}
.made-easy-footerColor{
  background-color: inherit;
}
.made-easy-header-font{
    color: #00ff00;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.made-easy-content-font{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.made-easy-footer-font{
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.made-easy-button-setting{
  background-color: inherit;
  font-family: inherit;
  border-width: inherit;
  border-radius: inherit;
}

/* ----- View Page ----- */
.made-easy-view {}
.made-easy-view .item-desc {
    text-align: center;
}



/* ----- About Us Page ----- */
.made-easy-aboutUs {}
.made-easy-aboutUs .header{}
.made-easy-aboutUs .header .header-image {
    width: 100%;
    height: auto;
}
.made-easy-aboutUs .content {
    text-align: center;
    padding: 8px;
}
.made-easy-aboutUs .content .last {
    margin-bottom: 20px;
}

/* ----- Terms Page ----- */
.made-easy-terms {}
.made-easy-terms .content {
    text-align: center;
}


/* ----- Help Page ------ */
.made-easy-help {}
.made-easy-help .content{
    text-align: center;
}

ion-view{
    cursor: url(../img/Mouse_point.png), auto;
}
ion-content{
    cursor: url(../img/Mouse_point.png), auto;
}
ion-pane{
    cursor: url(../img/Mouse_point.png), auto;
}
ion-list{
    cursor: url(../img/Mouse_point.png), auto;
}
ion-nav-title{
    cursor: url(../img/Mouse_point.png), auto;
}

/** ----------- End Custom update Css Class ---------- **/


.item-image .title {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 15px;
    /*color: #fff;*/
    font-size: 1.38462em;
    line-height: 25px;
    text-align: left;
    z-index: 3;
    width: 100%;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}