
/** ----------- Start Custom update Css Class ---------- **/

.made-easy-backgroundColor{
  background-color: inherit;
}
.made-easy-navigationBarColor{
  background-color: inherit;
}
.made-easy-footerColor{
  background-color: inherit;
}
.made-easy-header-font{
  color: inherit;
  padding-top:inherit;
  font-weight: inherit;
}
.made-easy-content-font{
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.made-easy-footer-font{
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.made-easy-button-setting{
  background-color: inherit;
  font-family: inherit;
  border-width: inherit;
  border-radius: inherit;
}
ion-view{
    cursor: url(../img/Mouse_point.png), auto;
}
ion-content{
    cursor: url(../img/Mouse_point.png), auto;
}
ion-pane{
    cursor: url(../img/Mouse_point.png), auto;
}
ion-list{
    cursor: url(../img/Mouse_point.png), auto;
}
ion-nav-title{
    cursor: url(../img/Mouse_point.png), auto;
}

/** ----------- End Custom update Css Class ---------- **/