
/** ----------- Start Custom update Css Class ---------- **/

.made-easy-background-color {
    background-color: #10b23e !important;
}
.made-easy-background-image{
    background: url(../img/background.jpg) center;
    background-size: cover;
}
/* ----- Main Navigation Settings ----- */
.made-easy-navigationBarColor{
    background-color: #fff !important;
    color:#fff;
    border: 0;
}
.made-easy-navigationBarColor .item {
    border-style:unset;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: unset;
    color:inherit;
}
.made-easy-footerColor{
    background-color: inherit;
}
.made-easy-header-font{
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: uppercase;
}
.made-easy-content-font{
    color: inherit;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: lighter;
}
.made-easy-footer-font{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.made-easy-button-setting{
    background-color: inherit;
    font-family: inherit;
    border-width: inherit;
    border-radius: inherit;
}

/* ----- View Page ----- */
.made-easy-view {}
.made-easy-view .item-desc {
    text-align: justify;
    padding: 10px;
}



/* ----- About Us Page ----- */
.made-easy-aboutUs {}
.made-easy-aboutUs .header{}
.made-easy-aboutUs .header .header-image {
    width: 100%;
    height: auto;
}
.made-easy-aboutUs .content {
    text-align: center;
    padding: 8px;
}
.made-easy-aboutUs .content .last {
    margin-bottom: 20px;
}

/* ----- Terms Page ----- */
.made-easy-terms {}
.made-easy-terms .content {
    text-align: center;
}


/* ----- Help Page ------ */
.made-easy-help {}
.made-easy-help .content{
    text-align: center;
}

ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;
}
ion-pane{
    cursor: url(../img/cursor.cur), auto;
}
ion-list{
    cursor: url(../img/cursor.cur), auto;
}
ion-nav-title{
    cursor: url(../img/cursor.cur), auto;
}

/** ----------- End Custom update Css Class ---------- **/


.item-image .title {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 15px;
    /*color: #fff;*/
    font-size: 1.38462em;
    line-height: 25px;
    text-align: left;
    z-index: 3;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;

    /*add white background --*/
}
.custom-bg{
    background-color:rgba(255,255,255,0.7);
}
.menu .item-content{
    color:unset;
}

/*-- give space between images -- */

.space{
    margin: 1.4px;
}


/*--Text center the Page--*/

.blocktext {
    display: block;
    width: 100%;
    text-align: center !important;
    left: 0 !important;
}

.category-ion-item{
    background-color: rgba(255, 255, 255, 0.54);
}

/*--reduce the font size--*/

.fsize {
    font-size: 2.5em;
}

/*---full background--- */
.category-item-image{
    text-align:center;
    display:block;
}


.category-item-image img {
    display: block;
    object-fit: cover;
}

/*----background Text ----*/
.backgroundtext
{
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 15px;
    /*color: #fff;*/
    font-size: 1.38462em;
    line-height: 25px;
    text-align: left;
    z-index: 3;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}

.back-button {
    left: 3%;
}
