<ion-view class="made-easy-background-color made-easy-background-image" hide-back-button="false" view-title="Categories">
    <ion-content  class="category">

        <ion-slides  options="options" slider="data.slider" >
            <ion-slide-page ng-repeat="category in articleCategoryList | orderBy:'id'">
                <div ng-click="navigateArticles(category.id,category.name)">
                    <div class="content_slider">
                        <div >{{category.name}}</div>
                    </div>
                </div>
            </ion-slide-page>

        </ion-slides>


        <div ng-repeat="category in articleCategoryList | orderBy:'id'" ng-click="navigateArticles(category.id,category.name)">
            <div>
                <img width="100%" src="{{category.imageUrl}}" />
            </div>
            <div class="col">
                <div class="made-easy-header-font">{{category.name}}</div>
            </div>
        </div>


    </ion-content>
</ion-view>