<div class="obl-dashboard-wrapper">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'dashboard');
        ga('send', 'pageview');
    </script>

    <div class="obl-dashboard-header clearfix">
        <h2></h2>
        <p>Select the app you would like to work on</p>
        <div class="obl-dashboard-settings">
            <button class="user-settings-button" ng-click="profileView()" type="button">
                <img src="images/user-icon.svg" alt="User Logo" />
            </button>
        </div>
    </div>
    <div class="obl-dashboard-apps">
        <div gridster="gridsterOpts">
            <ul class="clearfix">
                <li class="obl-dashboard-createApp">
                    <button type="button" ui-sref="welcomeTemplates"></button>
                </li>
                <li gridster-item="item" ng-repeat="item in widgets">
                    <obl-widget-body></obl-widget-body>
                </li>
            </ul>
        </div>
    </div>
</div>
