<ion-view>
	<ion-header-bar class="bar-assertive">
		<h1 class="title"></h1>
		<div class="buttons">
			<button class=" button button-clear ion-close-round" ng-click="closeLogin()"></button>
		</div>
	</ion-header-bar>
	<ion-content class="im-wrapper login made-easy-background-image made-easy-background-color">
		<div class="col">
			<h1>Login.</h1>
		</div>
			<form name="loginForm" novalidate>
				<div class="card">
						<div class="list">
							<label class="item item-input item-floating-label">
								<span class="input-label">Email</span>
								<input type="text" placeholder="Email"  ng-model="data.username" ng-required="true">
							</label>
							<label class="item item-input item-floating-label">
								<span class="input-label">Password</span>
								<input type="password" placeholder="Password" ng-model="data.password" ng-required="true">
							</label>

							<label class="item">
								<button class="button button-block button-raised  made-easy-button-setting color-invert" ng-click="loginForm.$valid && login()">Login</button>
							</label>

						</div>
				</div>
			</form>

			<div class="col center">Don't Have an Account?</div>
				<button class="col center button made-easy-button-setting" ng-click="register()">Register</button>
	</ion-content>
</ion-view>