

<div class="container">
  <div class="row cart" *ngFor="let item of cartItems">
    <div class="col-md-1 col-xs-2 no-m-padding">
      <img src="{{imageUrl}}/{{item.imgURL[0].img}}">
    </div>
    <div class="col-md-8 col-xs-6">
      <div class="row">
        <div class="col-md-6">
          <label class="no-m-margin main-header-font">{{item.name}}</label>
          <span class="single-price main-content-font"> {{currency}} {{item.price}}</span>
        </div>
        <div class="col-md-3">
          <div class="variants text-center no-m-margin main-content-font">
            <span *ngFor="let v of item.variant">{{v.name}} : {{v.vType}}<br></span>
          </div>
        </div>
        <div class="col-md-3">
          <input class="form-control no-m-margin main-content-font" name="qty" id="qty" type="number" min="1" oninput="validity.valid||(value='');" [(ngModel)]="item.qty"
            value="{{item.qty}}" (change)="buttonDisable(item.qty,item.totalQty ,cartItems.indexOf(item))" ngDefaultControl>
        </div>

        <!-- Product not available in store -->
        <div class="col" *ngIf="cartItems[0].totalQty == 0">
          <span>
            Product not available
          </span>
        </div>

        <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
        <div class="col" *ngIf="item.qty > cartItems[0].totalQty && cartItems[0].totalQty > 1">
          <span>
            Please enter a quantity of {{cartItems[0].totalQty}} or less.
          </span>
        </div>
        <div class="col" *ngIf="item.qty > cartItems[0].totalQty && cartItems[0].totalQty == 1">
          <span>
            Please enter a quantity of {{cartItems[0].totalQty}}.
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-3 no-m-padding">
     <div class="total-price  main-content-font text-center">
       {{currency}} {{item.total * item.qty}}
     </div>
    </div>
    <div class="col-md-1 col-xs-1 no-m-padding">
     <div class="delete text-center  main-content-font">
       <a (click)="removeItem(index)" class="btn btn-remove" title="Remove this item">
         <i class="fa fa-trash fa-lg  main-content-font"></i>
       </a>
     </div>
    </div>
  </div>



	<div class="row text-center">
		<div class="col-md-12 text-center margin-vertical main-content-font">
      <h4 [(ngModel)]="total" ngDefaultControl>Cart Total: {{currency}} {{getTotal()}}</h4>
    </div>
    <div class="col-md-6 col-xs-6">
      <!-- [disabled]='cartItems.length<=0' -->
      <button class="btn main-button text-white btn-block" (click)="delivery(cartItems)">
        Delivery
      </button>
    </div>
    <div class="col-md-6 col-xs-6">
      <button class="btn main-button text-white btn-block" (click)='pickupDetails(cartItems)'>
        pickup
      </button>
    </div>
	</div>
  <div class="bloc bgc-white l-bloc" id="bloc-0">
    <div class=" bloc-sm">
    </div>
  </div>
</div>




