/** ----------- Start Custom update Css Class ---------- **/
.made-easy-background-color {
    background-color: #fff !important;
}
.made-easy-background-image{
    background: none;
    background-size: cover;
}

.made-easy-navigationBarColor{
    background-color: #fff;
    color:#000;
    border: 0;
}
.made-easy-navigationBarColor .item {
    border-style:unset;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: unset;
    color:inherit;
}
.made-easy-footerColor{
    background-color: #EAD004;
}
.made-easy-header-font{
   color: #000;
   font-family: sans-serif;
   font-size: 30px;
   font-weight: bold;
   text-transform: lowercase;
   letter-spacing: 2px;
}
.made-easy-content-font{
    color: #444;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: lighter;
}
.made-easy-footer-font{
    color: #B2BEB5;
    font-family: Ubuntu Light;
    font-size: 12px;
    font-weight: lighter;
}

/* ----- Button Font Settings ----- */
.made-easy-button-setting{
    border-color: rgb(0, 0, 0);
     background-color: #ffffff;
     color: #000;
     border-width: 3px;
     border-radius: 3px;
     cursor: url(../img/cursor.cur), auto;
     font-weight: bold;
}

.button.made-easy-button-setting.activated {
    background:#e5e5e5;
}

.button.disabled, .button[disabled] {
    opacity: .4;
    cursor: default !important;
    pointer-events: none;
}
ion-nav-back-button{
    cursor: url(../img/cursor.cur), auto;
}
ion-nav-bar{
    cursor: url(../img/cursor.cur), auto;
}
ion-nav-view{
    cursor: url(../img/cursor.cur), auto;
}

/** --- item Qty err message --- **/
.item-error-message{
    color: red;
    font-size: 70%;
}
.item-buy{
    width: 100%;
    border: unset;
    border-bottom: 1px solid #ccc;
}

/* ----- Contact Us Page ----- */
.made-easy-contactUs {
    background-size: cover;
}
.made-easy-contactUs .header{}
.made-easy-contactUs .header .header-image {
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-contactUs .content {
    text-align: center;
}
.made-easy-contactUs .content .last {
    margin-bottom: 20px;
}
.made-easy-contactUs .bottom {
    margin-top: 2.5%;
}

/* ----- Our Stores Page ----- */
.made-easy-aboutUs {
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .header{}
.made-easy-aboutUs .header .header-image {
    width: 100%;
    height: auto;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .content {
    text-align: center;
    padding: 8px;
    cursor: url(../img/cursor.cur), auto;
}
.made-easy-aboutUs .content .last {
    margin-bottom: 20px;
    cursor: url(../img/cursor.cur), auto;
}

ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;

}

a[href]:hover{
    cursor: url(../img/cursor.cur), auto;
}

/* ------------------- */
