    <div ng-if="isAuthenticated">
        <div class="obl-dashboard-wrapper" ng-controller="HeaderController" ng-show="auth.isAuthenticated()">
            <div class="obl-dashboard-header clearfix">
                <h2 ng-hide="welcome"> </h2>
                <p  ng-hide="welcome"> Well come to the technical support area</p>
                <div class="obl-dashboard-settings">
                    <button class="user-settings-button" ng-click="profileView()" type="button">
                        <img src="images/user-icon.svg" alt="User Logo" />
                    </button>
                </div>
            </div>
        </div>
    </div>



    <md-input-container>
        <label><b>STORE LISTING</b></label>
    </md-input-container>
    <br>

    <form name="publishForm">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="PRODUCT DETAILS">
                    <md-tab-body>
                    <md-content class="md-padding">
                        <md-input-container class="md-block" flex="50">
                            <label>language</label>
                            <input name="language" ng-model="publishDetails[0].language" >
                            <div ng-messages="publishForm.language.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="50">
                            <label>Application Title</label>
                            <input name="favoriteColor" md-maxlength="30" ng-model="publishDetails[0].title" required>
                            <div ng-messages="publishForm.title.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="50">
                            <label>Short description</label>
                            <input name="favoriteColor" md-maxlength="80" ng-model="publishDetails[0].shortDescription" required>
                            <div ng-messages="publishForm.shortDescription.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="50">
                            <label>Full description</label>
                        <textarea type="area" required  md-maxlength="4000" name="description" rows="2"
                                ng-model="publishDetails[0].fullDescription" > </textarea>
                            <div ng-messages="publishForm.fullDescription.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                    </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab label="GRAPHIC ASSETS">
                    <md-content class="md-padding">
                        <div ng-cloak>
                            Screenshots*
                            <md-content>
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="Phone">
                                        <md-content class="md-padding">
                                            <img ng-if="splash[0] != null" ngf-src="splash[0]" height="150px" width="84px"/>
                                            <img ng-if="splash[1] != null" ngf-src="splash[1]" height="150px" width="84px"/>
                                            <img ng-if="splash[2] != null" ngf-src="splash[2]" height="150px" width="84px"/>
                                            <img ng-if="splash[3] != null" ngf-src="splash[3]" height="150px" width="84px"/>

                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Tablet">
                                        <md-content class="md-padding">
                                            <img src="images/aimp(512x512).png" alt="Smiley face" height="100" width="100">
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Android TV">
                                        <md-content class="md-padding">
                                            <img src="images/images.jpg" alt="Smiley face" height="100" width="100">
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Android Wear">
                                        <md-content class="md-padding">
                                            <img src="images/aimp(512x512).png" alt="Smiley face" height="100" width="100">
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-content>
                        </div>
                        <br>
                        Hi-res icon*
                        Default – English (United States) – en-US
                        512 x 512
                        32-bit PNG (with alpha)
                        <br>
                        <img ng-if="splash[4] != null" ngf-src="splash[4]" height="100" width="100"/>
                        <br>
                        Feature Graphic
                        Default – English (United States) – en-US
                        1024 w x 500 h
                        JPG or 24-bit PNG (no alpha)
                        <br>
                        <!--<img src="images/feature_graphic.png" alt="Feature Graphic" height="150px" width="317px">-->
                        <img ng-if="splash[4] != null" ngf-src="splash[4]" height="150px" width="317px"/>
                    </md-content>

                </md-tab>
                <md-tab label="CATEGORIZATION">
                    <md-content class="md-padding">
                        <md-input-container>
                            <label> Application type</label>
                            <input name="favoriteColor" md-maxlength="80" ng-model="publishDetails[0].applicationType" required>
                            <div ng-messages="publishForm.applicationType.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label> Category</label>
                            <input name="favoriteColor" md-maxlength="80" ng-model="publishDetails[0].primaryCategory" required>
                            <div ng-messages="publishForm.primaryCategory.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label> Content rating</label>
                            <input name="favoriteColor" md-maxlength="80" ng-model="publishDetails[0].contentRating" required>
                            <div ng-messages="publishForm.contentRating.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="CONTACT DETAILS">
                    <md-content class="md-padding">
                        <md-input-container>
                            <label>Website</label>
                            <input name="favoriteColor" md-maxlength="80" ng-model="publishDetails[0].website" required>
                            <div ng-messages="publishForm.website.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Email</label>
                            <input name="favoriteColor" md-maxlength="80" ng-model="publishDetails[0].email" required>
                            <div ng-messages="publishForm.email.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="PRIVACY POLICY">
                    <md-content class="md-padding">
                        <md-input-container>
                            <label> Privacy Policy</label>
                            <input name="favoriteColor" md-maxlength="80" ng-model="publishDetails[0].privacyPolicy" required>
                            <div ng-messages="publishForm.privacyPolicy.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="Download ZIP">
                    <md-content class="md-padding">
                        <md-input-container>
                            <div class="download-section">
                                <a href="/edit/buildSource?appId={{appId}}&userId={{userId}}" target="_self">Download ZIP</a>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
        <a href="#technicalSupport">Application list</a>
    </div>
    </form>





