
<div class="page-container">
  <!-- bloc-25 -->
  <div class="bloc b-parallax bgc-white" id="bloc-25">
    <div class="container bloc-lg">
      <div class="row">
        <div class="col-sm-12">
          <div class="row" >
            <div class="col-sm-12">
              <h2 class="hidden-xs hidden-sm text-center header main-header-font header-spacing-top" *ngIf="returnPolicy">
                Return Policy
              </h2>
              <p class="header-spacing-top main-content-font text-editor" *ngIf="returnPolicy"  [innerHTML]="returnPolicy | safeHtml">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-25 END -->
<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->
