<md-dialog aria-label="Edit Image">
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'manage-category-menu');
        ga('send', 'pageview');
    </script>
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>Change Image</h1>
        </div>
        <div class="md-dialog-main">
            <form name="productForm" novalidate>
                <fieldset>
                    <div class="me-file-upload regular">
                        <div class="upload-wrapper">
                            <input  type="file" ngf-select ng-model="newImageFile" name="newImageFile" accept="image/*" required />
                            <span>Browse</span>
                        </div>
                    </div>
                    <img ng-show="newImageFile != null" ngf-src="newImageFile" width="164" height="164" />
                </fieldset>
            </form>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                <md-button class="me-default-button" ng-click="updateImage(newImageFile)">Update</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>