<md-dialog aria-label="Edit Child Menu">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'add-category');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>{{heading}}</h1>
        </div>
        <div class="md-dialog-main">
            <form name="catForm" novalidate>
                <fieldset>
                    <label for="input-title">Name</label>
                    <input class="input-shadow-border" type="text" name="name" id="input-title" ng-model="menu.name" ng-pattern="/^[a-zA-Z0-9_ ]*$/"
                           maxlength="{{maxMenuCategory}}" required/>
                    <br>
                    <span class="error" ng-show="catForm.name.$error.pattern">No symbols</span>

                    <span class="information">Characters left: {{maxMenuCategory - menu.name.length}}</span>
                </fieldset>
                <br>
                <fieldset>
                    <!--<div class="file-upload-wrapper clearfix">
                        <p class="file-upload-msg">Select a image to upload</p>
                        <div class="pull-left">
                            <div class="me-file-upload rounded">
                                <div class="upload-wrapper">
                                    <input type="button" ngf-select ng-model="picFile" ngf-accept="image/*"
                                           aria-invalid="true" ngf-change="addImage(picFile)" required/>
                                    <span>select image</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uploaded-section clearfix">
                        <div class="uploaded-new-image">
                            <p>Selected image</p>
                            <img ng-if="picFile == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                 height="150"/>
                            <img ng-if="picFile != null" ngf-src="picFile" width="150" height="150"  required />
                        </div>
                    </div>-->

                        <div class="file-upload-wrapper clearfix">
                            <div class="cropArea">
                                <img-crop image="myImage" area-type="rectangle" aspect-ratio="secondNaviAspectRatio" result-image="picFile" result-image-size="iSizeSecond" result-image-format="image/jpeg" result-image-quality="0.5">
                                </img-crop>
                            </div>

                            <!--<md-button ng-click="openImageEditorDialog(400,200)">Open</md-button>-->

                            <div class="inputField btn-material img-up">
                                <span >{{buttonName}}</span>
                                <div class="img-up1" ng-if="imageSelected">
                                    <!--<input id="imgUp" ng-model="photo"-->
                                           <!--onchange="angular.element(this).scope().openImageEditorDialog(this,100,100)"-->
                                           <!--type="file"-->
                                           <!--accept="image/*" />-->
                                    <input type="file" value="file" ng-click = "cropImage();" id="fileInput" >
                                </div>
                                <!--<div  ng-if="!imageSelected" class="img-up1" ng-disabled="picFile == null" ng-click="addImage(picFile)"></div>-->

                            </div>
                        </div>

                        <div class="uploaded-section image-upload clearfix" style="width:35%">
                            <div class="uploaded-new-image">
                                <img ng-if="picFile == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                     height="150" style="display:none" />
                                <img ng-if="picFile != null" ngf-src="picFile" width="150" height="150" style="display:none" />
                            </div>
                            <div class="uploaded-old-images">
                                <p>Uploaded Images</p>
                                <div class="old-images clearfix">
                                    <div class="old-image">
                                        <input type="button" ng-click="deleteImg(0)" value='delete'
                                               class="image-delete-button"/>
                                        <img ng-click="setImage()" ng-if="tmpImage[0] == null"
                                             src="../../../images/small-placeholder.png" width="80" height="80"/>
                                        <img ng-click="setImage(0)" ng-if="tmpImage[0] !== null" ngf-src="tmpImage[0]"
                                             width="80" height="80"/>
                                    </div>
                                </div>
                                </div>
                            </div>

                </fieldset>
            </form>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancelCategory()">Cancel</md-button>
                <md-button class="me-default-button" ng-disabled="catForm.$invalid" ng-click="addNewCategory(mainImg,menu)">Save</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
