<md-dialog aria-label="Menu Tree">
    <md-dialog-content>
        <form novalidate>
            <div class="md-dialog-header">
                <h1>Manage Categories</h1>
                <ul class="md-dialog-header-nav clearfix">
                    <li>
                        <a class="add-new-item"  ng-click="goToAddNewMenuItemView()">Add New Category</a>
                    </li>
                    <li>
                        <a class="add-new-item"  ng-click="clearDefaultData()">Clear Default Data</a>
                    </li>
                </ul>
            </div>
            <div class="md-dialog-main">
                <table class="me-simple-table" >
                    <thead>
                        <tr>
                            <th width="30%">Name</th>
                            <th width="20%">Move up/Down</th>
                            <th width="10%">Edit</th>
                            <th width="10%">
                                <md-checkbox aria-label="Checkbox Delete" ng-checked="isChecked()" ng-click="toggleAll()"> Delete </md-checkbox>                                 
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-sortable = "filesSortConfig" >
                    <tr id ="listArr" ng-repeat="item in menuItems | orderBy: 'orderNo'">
                        <td class="sortable" >{{item.name}}</td>
                        <td><img width="15%" style="margin-right:3%;" src="../../../images/up-arrow.svg" ng-click="moveUp(menuItems,$index)"><img width="15%" src="../../../images/down-arrow.svg" ng-click="moveDown(menuItems,$index)"></td>
                        <td><img width="32%" src="../../../images/edit-icon.svg" ng-click="goToEditMenuItemView(item)"></td>
                       <td>
                            <md-checkbox aria-label="{{item.id}}" ng-checked="exists(item.id, selected)" ng-click="toggleDelete(item.id, selected)"></md-checkbox>
                       </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- TODO : Later, ui-tree may be use -->
            <script type="text/ng-template" id="nodes_renderer1.html">
                <div ui-tree-handle class="tree-node tree-node-content">
                    <div class="tree-node-content clearfix">
                        <a class="menu-toggle" data-nodrag ng-click="toggle(this)"></a>
                            <span ng-class="{'btn-expand': collapsed, 'btn-hide': !collapsed}"></span>
                        </a>
                         Change the text box width into 370px and programmatically reduce it by 20px
                        <input type="text" ng-model="node.name" class="menu-add-input" />
                        <input type="button" value="Edit" ng-hide="node.link" data-nodrag ng-click="edit(this)" class="btn-edit">

                        <div class="menu-controls">
                            <a class="btn-delete" data-nodrag ng-click="removes(this)"></a>
                            <!--<a class="btn-add-sub reset-margin-right" ng-if="topLevel != 'secondNavi'" data-nodrag ng-click="newSubItem(this)"></a>-->
                        </div>

                        <button class="pull-right btn-icon-picker btn-xs dropdown-toggle" type="button">
                            <i class="glyphicon glyphicon-asterisk"></i>
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'"></li>
                </ol>
            </script>
            <!--<div class="md-dialog-main">-->
                <!--<div ui-tree id="tree1-root">-->
                    <!--<ol ui-tree-nodes="" ng-model="menuItems">-->
                        <!--<li ng-repeat="node in menuItems" ui-tree-node ng-include="'nodes_renderer1.html'"></li>-->
                    <!--</ol>-->
                <!--</div>-->
            <!--</div>-->

            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="deleteCategories(selected)">Delete</md-button>
                    <!--<md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>-->
                    <md-button class="me-default-button" ng-click="hide()">Close</md-button>
                    <!--<md-button class="me-default-button" ng-click="">Save</md-button>-->
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>