

<div class="container">
  <div class="row cart" *ngFor="let item of cartItems ; let i = index">
    <div class="col-md-1 col-xs-2 no-m-padding">
      <img *ngIf = "item.imgURL" src="{{imageUrl}}/{{item.imgURL}}">
      <img *ngIf = "!item.imgURL" src="{{imageUrl}}/{{item.imgDefault}}">
    </div>
    <div class="col-md-8 col-xs-6">
      <div *ngIf="cartItems.length > 0" class="row">
        <div class="col-md-6">
          <label class="no-m-margin main-header-font">{{item.name}}</label>
          <span class="single-price main-content-font"> {{currency}} {{item.price}}</span>
        </div>
        <div class="col-md-3">
          <div class="variants text-center no-m-margin main-content-font">
            <span data-slide-to="1" data-target="#myCarousel" *ngFor="let v of item.variant">{{v.name}} : {{v.vType}}<br></span>
          </div>
        </div>
        <div class="col-md-3">
          <input class="form-control no-m-margin main-content-font" name="qty" id="qty" type="number" min="1" oninput="validity.valid||(value='');" [(ngModel)]="item.qty"
            value="{{item.qty}}" (change)="buttonDisable(item.qty,item.totalQty ,cartItems.indexOf(item))" ngDefaultControl>
        </div>

        <!-- Product not available in store -->
        <div class="col" *ngIf="cartItems[0].totalQty == 0">
          <span>
            Product not available
          </span>
        </div>

        <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
        <div class="col" *ngIf="item.qty > cartItems[i].totalQty && cartItems[i].totalQty > 1">
          <span style="color:rgb(180, 30, 30)">
            Enter a quantity of {{cartItems[i].totalQty}} or less.
          </span>
        </div>
        <div class="col" *ngIf="item.qty > cartItems[i].totalQty && cartItems[i].totalQty == 1">
          <span style="color:rgb(180, 30, 30)">
            Enter a quantity of {{cartItems[i].totalQty}}.
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-3 no-m-padding">
     <div class="total-price  main-content-font text-center">
       {{currency}} {{itemPriceCal(item.total,item.qty)}}
     </div>
    </div>
    <div class="col-md-1 col-xs-1 no-m-padding">
     <div class="delete text-center  main-content-font">
       <a (click)="removeItem(index)" class="btn btn-remove" title="Remove this item">
         <i class="fa fa-trash fa-lg  main-content-font"></i>
       </a>
     </div>
    </div>
  </div>



	<div class="row text-center">
		<div class="col-md-12 text-center margin-vertical main-content-font">
      <h4 *ngIf="cartItems.length > 0" [(ngModel)]="total" ngDefaultControl>Cart Total: {{currency}} {{getTotal()}}</h4>
      <h4 *ngIf="cartItems.length == 0">There are no Products added to the cart</h4>
    </div>
    <div class="col-md-6 col-xs-6">
      <!-- [disabled]='cartItems.length<=0' -->
      <button *ngIf="cartItems.length > 0" class="btn main-button text-white btn-block" (click)="delivery(cartItems)">
        Delivery
      </button>
    </div>
    <div class="col-md-6 col-xs-6">
      <button *ngIf="cartItems.length > 0" class="btn main-button text-white btn-block" (click)='pickupDetails(cartItems)'>
        pickup
      </button>
    </div>
	</div>
  <div class="bloc bgc-white l-bloc" id="bloc-0">
    <div class=" bloc-sm">
    </div>
  </div>
</div>

<div class="col-sm-12" style="margin: 10px 0">
  <ngb-alert *ngIf="successMessage" type="warning" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
</div>




