<div class="page-container">

	<div class="bloc bgc-white l-bloc" id="bloc-2">
		<div class="container bloc-sm">

        <div class="flex-row">
          <div class="flex-col" (click)="navigateShop('shop',1,'Aris')">
            <img src="assets/images/secondNavi/1.png" >
            <div>Aris</div>
          </div>
          <div class="flex-col">
            <img src="assets/images/secondNavi/2.png" >
            <div>Leo</div>
          </div>
          <div class="flex-col">
            <img src="assets/images/secondNavi/3.png">
            <div>Sagittarius</div>
          </div>
        </div>

         <div class="flex-row">
          <div class="flex-col">
            <img src="assets/images/secondNavi/4.png" >
            <div>Taurus</div>
          </div>
          <div class="flex-col">
            <img src="assets/images/secondNavi/5.png" >
            <div>Virgo</div>
          </div>
          <div class="flex-col">
            <img src="assets/images/secondNavi/6.png">
            <div>Capricorn</div>
          </div>
        </div>

    </div>
  </div>

<div class="bloc bgc-white l-bloc" id="bloc-0">
  <div class="container bloc-sm">
  </div>
</div>
