<section *ngFor="let contact of contacts">
      <div class="col-sm-12">
        <p class="header text-center  main-header-font">
          Softlogic Max Branches
        </p>
      </div>

        <!--<div class="row voffset row-space-top spacing-top">-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Ja-Ela (KZone)-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
             <!--No 43. KZone, Kapuwatta,<br> Ja-Ela.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Wattala "A"-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 165, Negombo Road,<br> Wattala.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Negombo-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 217, Colombo Road,<br> Negombo.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row voffset row-space-top spacing-top">-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Ja-Ela "B"-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
             <!--No 150, Negombo Road,<br> Ja Ela.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Kiribathgoda-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 145, kandy Road,<br> Kiribathgoda.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Samsung Store-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 41, Edward Lane,<br> Duplication Road, Colombo 3.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row voffset row-space-top spacing-top">-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Nuwara - Eliya-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
             <!--Favourites Complex,<br> New Bazaar, Nuwara Eliya.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Havelock-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 232/1, Havelock Road,<br> Colombo 05.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Thalawathugoda-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 531, Capital Mall,<br> Madiwella Road, Thalawathugoda.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row voffset row-space-top spacing-top">-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Rajagiriya-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
             <!--No 937/A,<br> Kotte Road, Ethul Kotte.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Kandy City Center-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--L2-30, Kandy City Center,<br>05, Dalada Veediya, Kandy.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Kohuwala-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 135, Dutugamunu Street,<br> Kohuwala.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row voffset row-space-top spacing-top">-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Samsung Flagship Store AGOB-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
             <!--No 30/31, Samsung Flagship Store, Arcade Independence Square<br> Auditor Genaral Office Building, Colombo 07.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Moratuwa-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--K-Zone, No 340(B7),<br> Katubedda, Moratuwa.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Mount Lavinia-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 156 & 156 1/1, Galle Road,<br> Ratmalana.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row voffset row-space-top spacing-top">-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Panadura Max B ODEL-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
             <!--No 29/A, Jayathilaka Mw,<br> Panadura.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Kalubowila-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
             <!--No 53, Hospital Road,<br> Kalubowila, Dehiwala.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Panadura A-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--No 141, Galle Road,<br> Panadura.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row voffset row-space-top spacing-top">-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Colombo 03-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
             <!--No 402, Galle Road,<br> Colombo 03.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<p class="main-header-font text-center-xs">-->
              <!--Softlogic Max Jaffna-->
            <!--</p>-->
            <!--<p class="main-content-font text-center-xs">-->
              <!--Shop No's- 1,2,3,4, No 420, Cargills Square<br> hospital Road, Jaffna.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
  <!--</div>-->

          <!--</div>-->
            <ng-template  *ngFor="let branch of contact.branches;let i = index" [ngIf]="i % 3 == 0">
              <div class="row voffset row-space-top spacing-top">
                <div class="col-sm-4" *ngIf="contact.branches[i]">
                  <p class="main-header-font text-center-xs">
                    {{ contact.branches[i].name}}
                  </p>
                  <p class="main-content-font text-center-xs">
                    {{contact.branches[i].address}}
                  </p>
                </div>
                <div class="col-sm-4" *ngIf="contact.branches[i+1]">
                  <p class="main-header-font text-center-xs">
                    {{contact.branches[i+1].name}}
                  </p>
                  <p class="main-content-font text-center-xs">
                    {{contact.branches[i+1].address}}
                  </p>
                </div>
                <div class="col-sm-4" *ngIf="contact.branches[i+2]">
                  <p class="main-header-font text-center-xs">
                    {{contact.branches[i+2].name}}
                  </p>
                  <p class="main-content-font text-center-xs">
                    {{contact.branches[i+2].address}}
                  </p>
                </div>
              </div>
            </ng-template>






        <div class="divider-h">
          <span class="divider"></span>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <a *ngIf="contact.contactInfo.facebook" href="{{ contact.contactInfo.facebook }}" target="_blank" ><span class="ion ion-social-facebook icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.contactInfo.linkedin" href="{{ contact.contactInfo.linkedin }}" target="_blank" ><span class="ion ion-social-linkedin icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.contactInfo.twitter" href="{{ contact.contactInfo.twitter }}" target="_blank" ><span class="ion ion-social-twitter icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.contactInfo.instagram" href="{{ contact.contactInfo.instagram }}" target="_blank" ><span class="ion ion-social-instagram icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.contactInfo.pinterest" href="{{ contact.contactInfo.pinterest }}" target="_blank" ><span class="ion ion-social-pinterest icon-md icon-spacing-right"></span></a>
          </div>
        </div>
</section>
