<section *ngFor="let contact of contacts">
      <div class="col-sm-12">
        <p class="header text-center  main-header-font">
          Softlogic Max Branches
        </p>
      </div>

          <!--</div>-->
            <ng-template  *ngFor="let branch of contact.branches;let i = index" [ngIf]="i % 3 == 0">
              <div class="row voffset row-space-top spacing-top">
                <a class="col-sm-4" *ngIf="contact.branches[i]"  href="https://www.google.com/maps/?q={{contact.branches[i].branch.latitude}},{{contact.branches[i].branch.longitude}}" target="_blank">
                  <p class="main-header-font text-center-xs">
                    {{ contact.branches[i].name}}
                  </p>
                  <p class="main-content-font text-center-xs">
                    {{contact.branches[i].address}}
                  </p>
                </a>
                <a class="col-sm-4" *ngIf="contact.branches[i+1]"  href="https://www.google.com/maps/?q={{contact.branches[i+1].branch.latitude}},{{contact.branches[i+1].branch.longitude}}" target="_blank">
                  <p class="main-header-font text-center-xs">
                    {{contact.branches[i+1].name}}
                  </p>
                  <p class="main-content-font text-center-xs">
                    {{contact.branches[i+1].address}}
                  </p>
                </a>
                <a class="col-sm-4" *ngIf="contact.branches[i+2]"  href="https://www.google.com/maps/?q={{contact.branches[i+2].branch.latitude}},{{contact.branches[i+2].branch.longitude}}" target="_blank">
                  <p class="main-header-font text-center-xs">
                    {{contact.branches[i+2].name}}
                  </p>
                  <p class="main-content-font text-center-xs">
                    {{contact.branches[i+2].address}}
                  </p>
                </a>
              </div>
            </ng-template>






        <div class="divider-h">
          <span class="divider"></span>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <a *ngIf="contact.contactInfo.facebook" href="{{ contact.contactInfo.facebook }}" target="_blank" ><span class="ion ion-social-facebook icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.contactInfo.linkedin" href="{{ contact.contactInfo.linkedin }}" target="_blank" ><span class="ion ion-social-linkedin icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.contactInfo.twitter" href="{{ contact.contactInfo.twitter }}" target="_blank" ><span class="ion ion-social-twitter icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.contactInfo.instagram" href="{{ contact.contactInfo.instagram }}" target="_blank" ><span class="ion ion-social-instagram icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.contactInfo.pinterest" href="{{ contact.contactInfo.pinterest }}" target="_blank" ><span class="ion ion-social-pinterest icon-md icon-spacing-right"></span></a>
          </div>
        </div>
</section>
