<div class="page-container">

	<div class="bloc bgc-white l-bloc" id="bloc-2">
		<div class="container bloc-sm">
			<div class="row visible-lg-block visible-md-block">
					<div *ngIf="isSliderDataAvailable == true"id="carousel-1" class="carousel no-shadows slide animated puffIn col-sm-12" data-ride="carousel">
					<div class="carousel-inner" *ngIf="isSliderDataAvailable == true">
							<div class="item active">
								<img src="{{imageUrlSlider}}/{{sliderData[0].imageUrl}}" />
								<div class="carousel-caption">
								</div>
							</div>
							<div class="item" *ngFor="let slider of sliderData | slice:1;let i = index">
								<img src="{{imageUrlSlider}}/{{slider.imageUrl}}" />
								<div class="carousel-caption">
								</div>
							</div>
					</div>
						<a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
							<span class="fa fa-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
							<span class="fa fa-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
			</div>
			<div class="bloc bgc-white l-bloc">
				<ng-template *ngFor="let item of results;let i = index" [ngIf]="i % 4 === 0">
						<div class="row category margin-top">
							<div class="col-xs-6 col-sm-3" *ngIf="results[i]" [ngStyle]="getWidth(i,results.length)">
								<a (click)="navigateShop('shop',results[i].id,results[i].name)">
                  <div class="main-header-font">{{results[i].name}}</div>
									<img src="./assets/images/lazyload-ph.png" data-src="{{imageUrl}}/{{results[i].imageUrl}}" class="img-responsive animated puffIn animDelay02 lazyload"
									 width="100%" height="100%">
									<!-- <img src="{{imageUrl}}/{{results[i].imageUrl}}" class="img-responsive" height="100%" width="100%" /> -->
								</a>
							</div>
							<div class="col-xs-6 col-sm-3" *ngIf="results[i+1]">
								<a (click)="navigateShop('shop',results[i+1].id,results[i+1].name)">
                  <div  class="main-header-font">{{results[i+1].name}}</div>
                  <img src="./assets/images/lazyload-ph.png" data-src="{{imageUrl}}/{{results[i+1].imageUrl}}" class="img-responsive animated puffIn animDelay04 lazyload"
									 width="100%" height="100%">
								</a>
							</div>
							<div class="col-xs-6 col-sm-3" *ngIf="results[i+2]" [ngStyle]="getWidth(i,results.length)">
								<a (click)="navigateShop('shop',results[i+2].id,results[i+2].name)">
                  <div class="main-header-font">{{results[i+2].name}}</div>
                  <img src="./assets/images/lazyload-ph.png" data-src="{{imageUrl}}/{{results[i+2].imageUrl}}" class="img-responsive animated puffIn animDelay06 lazyload"
									 width="100%" height="100%">
								</a>
							</div>
							<div class="col-xs-6 col-sm-3" *ngIf="results[i+3]">
								<a (click)="navigateShop('shop',results[i+3].id,results[i+3].name)">
                  <div class="main-header-font">{{results[i+3].name}}</div>
                  <img src="./assets/images/lazyload-ph.png" data-src="{{imageUrl}}/{{results[i+3].imageUrl}}" class="img-responsive animated puffIn animDelay08 lazyload"
									 width="100%" height="100%">
								</a>
							</div>
						</div>
				</ng-template>
			</div>

      <!-- bloc-3 -->
      <div class="bloc bgc-white l-bloc visible-lg-block visible-md-block padding-vertical" id="bloc-3">
          <div class="row bgc-gainsboro raw featured no-margin">
            <div class="col-sm-6">
              <h2 class="mg-lg sub-header-text main-header-font">
                Featured Product
              </h2>
              <h2 class="spacing1 mg-clear main-header-font">
                {{randomedArr[0].name}}
              </h2>
              <p class="content-index mg-lg main-content-font">
                {{randomedArr[0].detailedDesc}}
              </p>
              <a class="col-sm-6 btn btn-d btn-lg main-button" (click)="navigateFeaturedProd('product',randomedArr[1])">More Info</a>
            </div>
            <div class="col-sm-6">
              <img src="{{imageUrlProd}}/{{randomedArr[0].imageUrl}}"
                   class="img-responsive lazyload" height="567" width="570" />
            </div>
          </div>
      </div>
      <!-- bloc-3 END -->

      <!-- bloc-4 -->
      <div class="bloc bgc-white l-bloc visible-lg-block visible-md-block padding-vertical" id="bloc-4">
          <div class="row raw bgc-pale-silver featured no-margin">
            <div class="col-sm-6">
              <img src="{{imageUrlProd}}/{{randomedArr[1].imageUrl}}" class="img-responsive lazyload"
               height="567" width="570" />
            </div>
            <div class="col-sm-6">
              <h2 class="mg-lg sub-header-text main-header-font">
                Featured Product
              </h2>
              <h2 class="mg-sm spacing1 main-header-font">
                {{randomedArr[1].name}}
              </h2>
              <p class="mg-lg content-index main-content-font">
                {{randomedArr[1].detailedDesc}}
              </p>
              <a class="col-sm-6 btn btn-d btn-lg main-button" (click)="navigateFeaturedProd('product',randomedArr[1])">More Info</a>
            </div>
          </div>
      </div>
      <!-- bloc-4 END -->

    </div>
  </div>
</div>

<div class="bloc bgc-white l-bloc" id="bloc-0">
  <div class="container bloc-sm">
  </div>
</div>
