.category a{
  position: relative;
}
.category a div{
  position: absolute;
  z-index: 1;
  padding: 10px;
}

.button-hover {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.button-hover a{
  top:55%;
  position: relative;
}

.button-hover:hover{
  opacity: 1;
}

:host  /deep/ .featurette-heading {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* news letter
------------------------- */

:host  /deep/ .b-form-newsletter {
  padding: 70px 25px 0 25px !important;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
 :host  /deep/ .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }


}

@media (min-width: 86em) {
 :host  /deep/ .featurette-heading {
    margin-top: 11rem;
  }
}

@media (max-width: 767px) {
 .category{
   margin: 0;
 }
 .category div{
   padding: 0;
 }
}







