  <section>
    <h2 class="main-header-font">Send us an Email:</h2>
    <div id="success"></div>
    <form class="main-content-font" id="contactForm" action="#" method="post">
      <div class="row">
        <div class="col-md-6">
          <input id="user-name" type="text" name="user-name" placeholder="Your Name*" required class="form-control">
          <input id="user-email" type="email" name="user-email" placeholder="Email*" class="form-control">
        </div>
        <div class="col-md-6">
          <input id="user-subject" type="text" name="user-subject" placeholder="Subject" class="form-control last-block_mrg-btn_0">
          <input id="user-phone" type="tel" name="user-phone" placeholder="Phone" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <textarea id="user-message" rows="5" placeholder="Enter your review*" required class="form-control"></textarea>
          <button class="btn  main-button btn-lg">Send Message</button>
        </div>
      </div>
    </form>
  </section>
