<ion-view view-title="Details">

    <ion-content class="made-easy-background-image made-easy-background-color food">


        <div class="card-full row no-padding">

            <div class="col no-padding">
                <ion-slide-box options="sliderOptions" slider="sliderDelegate">
                    <ion-slide ng-repeat="image in images">
                        <div class="h8 made-easy-header-font"> {{foodInfo.name}}</div>

                        <img width="100%" ng-src="{{imageURL}}/{{image.img}}" >
                    </ion-slide>
                </ion-slide-box>


            </div>
        </div>
        <div class="card mods2_card">
            <div class="item item-text-wrap ">

                <div class="list">

                    <a class="item item-icon-right" href="#">
                        <h2 class="made-easy-content-font"> Price - {{currency.sign}} {{selectedVariant.price}}</h2>
                        <i class="icon ion-cash"></i>
                    </a>

                    <a class="item item-icon-right" href="#">
                        <h2 class="made-easy-content-font">
                            <input type="number" min="1"
                                   placeholder="Enter Quantity"
                                   ng-model="selectedVariant.buyQuantity"
                                   ng-change="changeBuyQuantity(selectedVariant.buyQuantity)"
                                   ng-hide="lockBuyButton">
                        </h2>
                        <i class="icon ion-pricetags"></i>
                    </a>

                    <a class="item" href="#">

                        <label class="col item-input item-select no-padding" ng-if="foodInfo.selection[0]">
                            <div class="made-easy-content-font input-label">
                                Select {{foodInfo.selection[0].name}}
                            </div>
                            <select ng-model="selectedVariant"
                                    class="made-easy-content-font"
                                    ng-options="variant.vType  for variant in selection |unique:'vType' "
                                    ng-change="changeVariant(selectedVariant)"
                                    ng-click="selectedVariant.buyQuantity = ''">
                            </select>
                        </label>
                        <label class="col item-input item-select no-padding" ng-if="foodInfo.selection[1]">
                            <div class="made-easy-content-font input-label">
                                Select {{foodInfo.selection[1].name}}
                            </div>
                            <select ng-model="selectedVariant1"
                                    class="made-easy-content-font"
                                    ng-options="variant.vType  for variant in selection1 |unique:'vType' "
                                    ng-change="changeVariant2(selectedVariant1)"
                                    ng-click="selectedVariant.buyQuantity = ''">
                            </select>
                        </label>
                        <label class="col item-input item-select no-padding" ng-if="foodInfo.selection[2]">
                            <div class="made-easy-content-font input-label">
                                Select {{foodInfo.selection[2].name}}
                            </div>
                            <select ng-model="selectedVariant3"
                                    class="made-easy-content-font"
                                    ng-options="variant.vType  for variant in selection2 |unique:'vType'"
                                    ng-change="changeVariant3(selectedVariant3)"
                                    ng-click="selectedVariant.buyQuantity = ''">
                            </select>
                        </label>
                        <label class="col item-input item-select no-padding" ng-if="foodInfo.selection[3]">
                            <div class="made-easy-content-font input-label">
                                Select {{foodInfo.selection[3].name}}
                            </div>
                            <select ng-model="selectedVariant4"
                                    class="made-easy-content-font"
                                    ng-options="variant.vType  for variant in selection3 |unique:'vType'"
                                    ng-change="changeVariant4(selectedVariant4)"
                                    ng-click="selectedVariant.buyQuantity = ''">
                            </select>
                        </label>

                    </a>

                    <a class="item " href="#">
                        <div class="made-easy-content-font">{{foodInfo.detailedDesc}}</div>
                    </a>

                </div>
            </div>
        </div>

                    <!-- Buy Qty error message -->
                    <div class="row text-center">
                        <!-- Product not available in store -->
                        <div class="col" ng-if="selectedVariant.quantity == 0">
                        <span class="animated zoomIn item-error-message">
                            Product not available
                        </span>
                        </div>
                        <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
                        <div class="col" ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity > 1">
                        <span class="animated zoomIn item-error-message">
                            Please enter a quantity of {{selectedVariant.quantity}} or less.
                        </span>
                        </div>
                        <div class="col" ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity == 1">
                        <span class="animated zoomIn item-error-message">
                            Please enter a quantity of {{selectedVariant.quantity}}.
                        </span>
                        </div>
                    </div>
                    <!-- Buy Button -->
                    <div class="row item center ">
                        <div class="col col-center">
                            <button class="col col-80 button button-raised  made-easy-button-setting icon-left ion-ios-cart "
                                    ng-disabled="isBuyBtnDisable || !selectedVariant.buyQuantity || lockBuyButton"
                                    ng-click="addToCart()">
                                Add to cart
                            </button>
                        </div>
                    </div>



    </ion-content>
</ion-view>
