<md-dialog aria-label="AppUser">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>users</h1>
            <ul class="md-dialog-header-nav clearfix">
            </ul>
        </div>
        <div class="md-dialog-main">

            <table class="me-simple-table">
                <thead>
                <th>Name</th>
                <th>Email</th><br>
                <th>Phone No</th>
                <th>Address</th>
                <th>Registered Date</th>


                </thead>
                <tbody>
                <tr ng-repeat="data in appuserList">

                    <td>{{data.firstName}} {{data.lastName}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.phone}}</td>
                    <td>{{data.streetNumber}},{{data.streetName}},<br>
                        {{data.city}},<br>
                        {{data.country}}</td>
                    <td>{{data.registeredDate}}</td>

                </tr>
                </tbody>
            </table>


        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>


            </div>
        </div>
    </md-dialog-content>
</md-dialog>