<md-dialog aria-label="AppUser">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>Users</h1>
        </div>
        <div class="md-dialog-main clearfix">

            <md-tab ng-disabled="enableTab">

                <md-tab-label>App Registered user </md-tab-label>
                <md-tab-body>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="vendor/angularUtils-pagination/dirPagination.tpl.html">

                    </dir-pagination-controls> <form class="allItems" novalidate>
                    <table class="table">
                        <thead class="obl-dashboard-apps">
                        <th>User No</th>
                        <th>User Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Postal Code</th>
                        <th>Phone No</th>

                        </thead>
                        <tbody>
                        <tr dir-paginate="app in userList | filter:search | itemsPerPage: 100">
                            <a ng-repeat="user in user">
                                <td> {{$index +1}} </td>
                                <td> {{app.email}} </td>
                                <td> {{app.id}} </td>
                                <td> {{app.yourselfReason}} </td>
                                <td> {{app.createdAt}} </td>
                        </tr>
                        </tbody>
                    </table>




                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>


                </form> </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="enableTab">



            </div>
        </div>
    </md-dialog-content>
</md-dialog>