<md-dialog aria-label="Push Message Send">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>push message</h1>
        </div>
        <div class="md-dialog-main">
            <fieldset>
                <label>Message</label>
                <textarea rows="3"></textarea>
            </fieldset>
            <fieldset class="text-right">
                <md-button class="me-default-button">send message now</md-button>
            </fieldset>
            <hr />
            <fieldset>
                <label>Scheduled Message</label>
            </fieldset>
            <div class="clearfix">
                <adm-dtp ng-model='date'></adm-dtp>
            </div>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                <md-button class="me-default-button" ng-click="save(date)">save</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>