<md-dialog aria-label="Push Message Send">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>push message</h1>
        </div>
        <div class="md-dialog-main">
            <fieldset>
                <label>Message</label>
                <textarea rows="3"></textarea>
            </fieldset>
            <fieldset class="text-right">
                <md-button class="me-default-button">send message now</md-button>
            </fieldset>
            <hr />
            <fieldset>
                <label>Scheduled Message</label>
            </fieldset>
            <div class="clearfix">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput">
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>
            </div>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                <md-button class="me-default-button" ng-click="save(data)">save</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>