<md-dialog aria-label="Add Shipping Option">
    <div>

        <div class="md-dialog-main clearfix">

            <fieldset>
                <label><h1>{{user.firstName}} {{user.lastName}}</h1></label><br>
            </fieldset>
            <table class="me-simple-table">
                <thead>
                <th>Email</th><br>
                <th>Address</th>
                <th>Phone no</th>
                <th>Registered Date</th>
                </thead>

                <tbody>
                <tr>
                    <fieldset>
                        <td>{{user.email}}</td>
                    </fieldset>
                    <td>{{user.streetNumber}},{{user.streetName}},<br>
                        {{user.city}},<br>
                        {{user.country}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.registeredDate}}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <label>Orders History</label>
            </div>
            <table class="me-simple-table">
                <thead>
                <th>Date</th><br>
                <!--<th>Item</th>-->
                <th>Order Status</th>
                <th>Value</th>
                </thead>
                <tr>
                <tr ng-repeat="order in orders ">
                   <td>{{order.createdAt|date:'MM/dd/yyyy'}}</td>
                <!--{{order.date1|date:'MM/dd/yyyy'}}-->
                   <td>{{order.fulfillmentStatus}}</td>
                   <td>{{order.amount}}</td>
                </tr>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                <!--<md-button class="me-default-button" > Show</md-button>-->
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
