<md-dialog aria-label="Add Shipping Option">
    <div>

        <div class="md-dialog-main clearfix">

            <fieldset>
                <label><h1>{{oderData.entity.customerName || oderData.entity.registeredName}}</h1></label><br>
            </fieldset>
            <table class="me-simple-table">
                <thead>
                <th>Email</th><br>
                <th>Address</th>
                <th>Phone no</th>
                <th>Registered Date</th>
                </thead>

                <tbody>
                <tr ng-repeat="data in appuserList">
                    <fieldset>

                    <td>{{data.email}}</td>

                        </fieldset>
                    <td>{{data.streetNumber}},{{data.streetName}},<br>
                        {{data.city}},<br>
                        {{data.country}}</td>
                    <td>{{data.phone}}</td>
                    <td>{{data.registeredDate}}</td>
                </tr>
                </tbody>
            </table>


            <div>
                <h7>Orders History</h7>
            </div>

            <table class="me-simple-table">
                <thead>
                <th>Date</th><br>
                <th>Item</th>
                <th>Order Status</th>
                <th>Value</th>
                </thead>
                <tr>
                <tr class="list card" data-ng-repeat="order in orderHistory  | filter: {orderHistoryKey: appId}  | orderBy:'':true">
                    <tr ng-repeat="item in order.item" class="item item-avatar">
                <tr ng-repeat="orders in oderData.entity.item">


                    <td>{{order.date1|date:'MM/dd/yyyy'}}}</td>
                    <td>{{item.name}}</td>
                    <td>{{order.name}}</td>
                    <td>{{oderData.entity.amount}}</td>
                </tr>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>

            </div>
        </div>
    </md-dialog-content>
</md-dialog>
