
<div class="container border-bottom mt-5">
  <div class="row">
    <div class="col-md-7 p-0">
          <div id="carousel-custom" class="carousel slide row" data-ride="carousel">
            <ol class="carousel-indicators col-lg-12 col-xl-2 p-0">

                <li  data-target="#carousel-custom" data-slide-to="0" class="active">
                   <img src="{{imageUrl}}/{{Data.tempImageArray[0].img}}" width="100%">
                </li>
                <li  data-target="#carousel-custom" data-slide-to="1" *ngIf="Data.tempImageArray[1]">
                   <img src="{{imageUrl}}/{{Data.tempImageArray[1].img}}" width="100%">
                </li>
                <li  data-target="#carousel-custom" data-slide-to="2"  *ngIf="Data.tempImageArray[2]">
                   <img src="{{imageUrl}}/{{Data.tempImageArray[2].img}}" width="100%">
                </li>
                <li  data-target="#carousel-custom" data-slide-to="3"  *ngIf="Data.tempImageArray[3]">
                   <img src="{{imageUrl}}/{{Data.tempImageArray[3].img}}" width="100%">
                </li>
                <li  data-target="#carousel-custom" data-slide-to="4"  *ngIf="Data.tempImageArray[4]">
                   <img src="{{imageUrl}}/{{Data.tempImageArray[4].img}}" width="100%">
                </li>
                <li  data-target="#carousel-custom" data-slide-to="5"  *ngIf="Data.tempImageArray[5]">
                   <img src="{{imageUrl}}/{{Data.tempImageArray[5].img}}" width="100%">
                </li>
                <li  data-target="#carousel-custom" data-slide-to="6" *ngIf="Data.tempImageArray[6]">
                   <img src="{{imageUrl}}/{{Data.tempImageArray[6].img}}" width="100%">
                </li>
                <li  data-target="#carousel-custom" data-slide-to="7" *ngIf="Data.tempImageArray[7]">
                   <img src="{{imageUrl}}/{{Data.tempImageArray[7].img}}" width="100%">
                </li>
            </ol>

            <div class='carousel-outer col-lg-12 col-xl-10 p-0'>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid" width="100%" style="height:100%" src="{{imageUrl}}/{{Data.tempImageArray[0].img}}" alt="First slide" >
                </div>
                <div class="carousel-item" *ngFor="let img of Data.tempImageArray | slice:1">
                  <img class="d-block img-fluid" width="100%" style="height:100%" src="{{imageUrl}}/{{img.img}}" alt="slides">
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <section class="border-bottom">
        <div class="name-category">{{catName}}</div>
        <h3>{{Data.name}}</h3>
        <div class="name-price color-primary">${{sign}}{{Data.variants[0].price}}</div>
        <!-- <div class="name-price-old">$130.00</div> -->
        <div class="name-sale">sale</div>
        <div class="name-description">{{Data.detailedDesc}}</div>
      </section>
                  <!-- end b-goods-->

                   <div class="row my-4" *ngIf="Data.selection[0]">
                      <label class="col-md-4 name-label">{{Data.selection[0].name}}:</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="selectedVariant1" (ngModelChange)="changeVariant(selectedVariant1)" >
                          <option  *ngFor="let c of selection">{{c.vType}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="row my-4" *ngIf="selection1.length !=0">
                        <label class="name-label col-md-4">{{Data.selection[1].name}}:</label>

                        <div class="col col-50 align-left">
                            <select class="form-control"  [(ngModel)]="selectedVarient2" (ngModelChange)="changeVariant2(selectedVarient2)" >
                                <option *ngFor="let c of selection1" [ngValue]="c.vType"> {{c.vType}} </option>
                              </select>
                        </div>

                    </div>

                    <div class="row my-4" *ngIf="selection2.length !=0">
                        <label class="name-label col-md-4">{{Data.selection[2].name}}:</label>

                        <div class="col col-50 align-left">
                            <select class="form-control"  [(ngModel)]="selectedVarient3" (ngModelChange)="changeVariant3(selectedVarient3)" >
                                <option *ngFor="let c of selection2" [ngValue]="c.vType"> {{c.vType}} </option>
                              </select>
                        </div>

                    </div>

                    <div class="row my-4" *ngIf="selection3.length !=0">
                        <label class="name-label col-md-4">{{Data.selection[3].name}}:</label>

                        <div class="col col-50 align-left">
                            <select class="form-control"  [(ngModel)]="selectedVarient4" (ngModelChange)="changeVariant4(selectedVarient4)" >
                                <option *ngFor="let c of selection3" [ngValue]="c.vType"> {{c.vType}} </option>
                              </select>
                        </div>
                    </div>

                              <!-- Product not available in store -->
                    <div class="col" *ngIf="selectedVariant.quantity == 0">
                              <span>
                                  Product not available
                              </span>
                  </div>


            <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
            <div class="col" *ngIf="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity > 1">
                        <span>
                            Please enter a quantity of {{selectedVariant.quantity}} or less.
                        </span>
            </div>
            <div class="col" *ngIf="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity == 1">
                        <span>
                            Please enter a quantity of {{selectedVariant.quantity}}.
                        </span>
            </div>

            <div class="pb-4 border-bottom">
              <div class="d-inline quantity mr-2 p-2">
                <span (click)="descrease()"> - </span>
                <input type="number"  min="1" value="selectedVariant.buyQuantity" [(ngModel)]="selectedVariant.buyQuantity" (ngModelChange)="changeBuyQuantity(selectedVariant.buyQuantity)">
                <span (click)="increase()"> + </span>

              </div>
              <button (click) = 'addToCart()'  class="pull-right clearfix d-inline btn btn-lg btn-primary btn-effect" [disabled]=" selectedVariant.buyQuantity <= 0 ">add to cart</button>
            </div>

                    <footer class="mt-5">
                      <div class="row">
                        <div class="col-12 name-label">Share:</div>
                             <ul class="col-12 d-inline list-inline pr-0">
                              <li ><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="home-1.html"><i class="fa fa-random"></i></a></li>
                              <li><a href="home-1.html"><i class="fa fa-heart-o"></i> </a></li>
                            </ul>

                        <!-- end social-list-->
                      </div>

                    </footer>
    </div>
  </div>

</div>


  <app-newsletter></app-newsletter>

  <hr class="featurette-divider">
