
<div class="bloc bgc-white l-bloc b-parallax" id="bloc-24">
  <div class="container bloc-xl">
    <div class="row row-about-main">
      <div class="col-sm-12">
        <h1 class="mg-md text-center about-us" [innerHTML]="header"> </h1>
        <div class="row row-about">
          <div class="col-sm-6">
            <img src="{{aboutUsUrl}}/ABOUTUS.png"  class="img-responsive lazyload">
          </div>
          <div class="col-sm-6">
            <div class="contebt-about-medium text-justify">
              <h3 class="main-header-font">Open hours</h3>
              <div class="main-content-font"><p class="font-16">Weekdays : {{openWeekdays}}</p></div>
              <div class="main-content-font"><p class="font-16">Saturday : {{openSaturday}}</p></div>
              <div class="main-content-font"><p class="font-16">Sunday : {{openSunday}}</p></div>
            </div>
          </div>
        </div>
        <p class="content-about text-justify main-content-font" [innerHTML]="content"> </p>
      </div>
    </div>
  </div>
</div>
<!-- bloc-24 END -->