<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>

    <ion-nav-bar class="made-easy-navigationBarColor">

      <ion-nav-back-button class="button button-icon button-clear ion-ios-arrow-back"></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-if="showMenu"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button  ui-sref="app.cart" class="button button-icon button-clear ion-bag"></button>
        <h6 class="made-easy-navigationBarColor cartSize">{{parentobj.cartSize}}</h6>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent" align="left"></ion-nav-view>
</ion-side-menu-content>

  <ion-side-menu side="left" class="made-easy-navigationBarColor">
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.category">
          Homeeeeeeeeeeeeeeeeeeee
        </ion-item>
        <ion-item menu-close ui-sref="app.category">
          Menu
        </ion-item>
        <ion-item menu-close ui-sref="app.orderHistory">
          Order History
        </ion-item>
        <ion-item menu-close ui-sref="app.contactUs">
          Contact Us
        </ion-item>
        <ion-item menu-close ui-sref="app.policies">
          Policies
        </ion-item>
        <ion-item menu-close ui-sref="app.aboutUs" ui-sref-opts="{reload: true, notify: true}">
          About Us
        </ion-item>
        <ion-item menu-close ui-sref="app.terms">
          Terms & Conditions
        </ion-item>
        <ion-item menu-close ui-sref="app.login" ng-if="!parentobj.userLog ">
          Login
        </ion-item>
        <ion-item menu-close ui-sref="app.login"  ng-click="logout()" ng-if="parentobj.userLog ">
          Logout
        </ion-item>
        <br />
        <ion-item ng-if="allowOtenroToPromote" class="title-image" menu-close>
          <a class="made-easy-navigationBarColor" href="#"
             onclick="window.open('http://www.otenro.com/','_system','location=yes'); return false;">
            Created on otenro.com</a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
