<ion-view class="made-easy-background-image made-easy-background-color" view-title="Shipping">
    <ion-content >
        <div class="card animated zoomIn delivery-details">
            <form name="shippingForm" novalidate>
                <div class="row">
                    <div class="col center made-easy-header-font">Select an Option</div>
                </div>

                <ion-checkbox ng-repeat="ship in shippingData"  ng-model="details.shipping" ng-true-value="{{ship}}" class="checkbox-dark item-checkbox-left" >
                    <h3>{{ship.optionName}}</h3>
                    <span >{{ship.shippingOption}}</span>
                </ion-checkbox>

                <div class="row center">
                    <div class="col col-top"> </div>
                    <div class="col col-67 col-center">
                        <button class="button button-raised  made-easy-button-setting"
                                ng-disabled="!details.shipping || details.$invalid"
                                ng-click="addShipping(details)" >
                            Check Out
                        </button>
                    </div>
                    <div class="col col-bottom"> </div>
                </div>
            </form>
        </div>


    </ion-content>
</ion-view>
