<ion-view class=" made-easy-background-color" view-title="Location">
    <ion-content >
        <div class="card animated zoomIn delivery-details">
            <div class="row">
                <div class="col center made-easy-header-font">Select a location</div>
            </div>


            <ion-checkbox ng-model="details.location"  class="checkbox-dark" ng-true-value="'old'">
                <label >
                    <h3>Home</h3>
                    <div ng-if="user.name">{{user.name}}</div>
                    <div ng-if="user.streetNumber">{{user.streetNumber}},{{user.streetName}},{{user.city}},{{user.zip}},{{user.country}}</div>
                </label>
            </ion-checkbox >

            <ion-checkbox ng-model="details.location"  class="checkbox-dark" ng-true-value="'New'">
                <label >
                    <h3>New Location</h3>
                </label>
            </ion-checkbox>

            <form name="delivery" novalidate>
                <div class="list"   ng-if="details.location == 'New'">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="details.name" placeholder="Name" required>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Street Number</span>
                        <input type="text" ng-model="details.streetNumber" placeholder="Street number" required>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Street Name</span>
                        <input type="text" ng-model="details.streetName" placeholder="Street Name" required>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">City</span>
                        <input type="text" ng-model="details.city" placeholder="City" required>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">Country</div>
                        <select  placeholder="Select Country" ng-model="details.country" required>
                            <option ng-value="country.countryName" ng-repeat="country in countries">{{country.countryName}}
                            </option>
                        </select>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Zip / Postal Code</span>
                        <input type="text" ng-model="details.zip" placeholder="Zip or Postal code" required>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Contact Number</span>
                        <input type="text" name="teleNumber" ng-model="details.phone" placeholder="Contact Number"
                               ng-pattern="/^[\+]?[(]?[0-9]{2}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,5}$/im"
                               required>
                        <span class="help-block" ng-show="delivery.teleNumber.$error.pattern">
                             Enter a proper telephone number
                        </span>
                    </label>
                </div>


                <div class="row">
                    <div class="col center">
                        <h6>Total Amount : {{currency.sign}}{{amount}}</h6>
                    </div>
                </div>

                <div class="center col">
                    <button class="button button-raised  made-easy-button-setting" ng-click="details = '' ; details.location = 'New';details.number= '' ">Clear</button>
                    <button class="button button-raised  made-easy-button-setting" ng-disabled="!details.location || delivery.$invalid" ng-click="deliver(details)" >Next</button>
                </div>
            </form>

        </div>

    </ion-content>
</ion-view>
