<ion-view class="made-easy-background-color food">
<!--     <ion-header-bar class="bar-assertive">
        <h1 class="title">{{foodInfo.name}}</h1>
        <div class="buttons">
            <button class=" button button-clear ion-close-round" ng-click="closeItem()"></button>
        </div>
    </ion-header-bar> -->
    <ion-content >
        <div class="col center made-easy-header-font">  {{foodInfo.name}}</div>

        <div class="row">

            <div class="col">
                <ion-slide-box options="sliderOptions" slider="sliderDelegate" show-pager="false">
                    <ion-slide ng-repeat="image in images">
                        <img width="100%" ng-src="{{imageURL}}/{{image.img}}" >
                    </ion-slide>
                </ion-slide-box>

              
            </div>
        </div>
        <div class="row">
      
                <div class="col made-easy-header-font">
                    Price - {{currency.sign}} {{selectedVariant.price}}
                </div>
        </div> 
        <div class="row">
                <div class="col made-easy-header-font">
             
                    <input type="number" min="1"
                           placeholder="Enter Quantity"
                           ng-model="selectedVariant.buyQuantity"
                           ng-change="changeBuyQuantity(selectedVariant.buyQuantity)">

                </div>
        </div>


        <div class="row variants">
            <label class="col item-input item-select" ng-if="foodInfo.selection[0]">
                <div class="made-easy-header-font input-label">
                    Select {{foodInfo.selection[0].name}}
                </div>
                <select ng-model="selectedVariant"
                        class="made-easy-header-font"
                        ng-options="variant.vType  for variant in selection |unique:'vType' "
                        ng-change="changeVariant(selectedVariant)">
                </select>
            </label>
            <label class="col item-input item-select no-padding" ng-if="foodInfo.selection[1]">
                <div class="made-easy-header-font input-label">
                    Select {{foodInfo.selection[1].name}}
                </div>
                <select ng-model="selectedVariant1"
                        class="made-easy-header-font"
                        ng-options="variant.vType  for variant in selection1 |unique:'vType' "
                        ng-change="changeVariant2(selectedVariant1)">
                </select>
            </label>
            <label class="col item-input item-select no-padding" ng-if="foodInfo.selection[2]">
                <div class="made-easy-header-font input-label">
                    Select {{foodInfo.selection[2].name}}
                </div>
                <select ng-model="selectedVariant3"
                        class="made-easy-header-font"
                        ng-options="variant.vType  for variant in selection2 |unique:'vType'"
                        ng-change="changeVariant3(selectedVariant3)">
                </select>
            </label>
            <label class="col item-input item-select no-padding" ng-if="foodInfo.selection[3]">
                <div class="made-easy-header-font input-label">
                    Select {{foodInfo.selection[3].name}}
                </div>
                <select ng-model="selectedVariant4"
                        class="made-easy-header-font"
                        ng-options="variant.vType  for variant in selection3 |unique:'vType'"
                        ng-change="changeVariant4(selectedVariant4)">
                </select>
            </label>
           <!--  <ion-list>
              <ion-radio ng-repeat="variant in foodInfo.variants" ng-change="changeVariant(selectedVariant)" ng-model="selectedVariant" ng-value="'{{variant.vType}}'" >{{variant.vType}}</ion-radio>
            </ion-list> -->
             
        </div>
        <div class="col">
            <h4 class="col made-easy-header-font">Description</h4>
            <div class="col left made-easy-content-font">
                {{foodInfo.detailedDesc}}
            </div>
        </div>      

                    <!-- Buy Qty error message -->
                    <div class="row">
                        <!-- Product not available in store -->
                        <div ng-if="selectedVariant.quantity == 0">
                        <span class="animated zoomIn item-error-message">
                            Product not available
                        </span>
                        </div>
                        <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
                        <div ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity > 1">
                        <span class="animated zoomIn item-error-message">
                            Please enter a quantity of {{selectedVariant.quantity}} or less.
                        </span>
                        </div>
                        <div ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity == 1">
                        <span class="animated zoomIn item-error-message">
                            Please enter a quantity of {{selectedVariant.quantity}}.
                        </span>
                        </div>
                    </div>
                    <!-- Buy Button -->
                    <div class="row item center ">
                        <div class="col col-center">
                            <button class="col col-80 button button-raised  made-easy-button-setting"
                                    ng-disabled="isBuyBtnDisable || !selectedVariant.buyQuantity  || lockBuyButton"
                                    ng-click="addToCart()">
                                Add to cart
                            </button>
                        </div>
                    </div>

        </div>
    </ion-content>
</ion-view>
