
<ion-view view-title="Register" class="im-wrapper login made-easy-background-image made-easy-background-color">

  <ion-content >
    <div class="col">
      <h1>Register.</h1>
    </div>
      <div class="list card">

        <form name="signUpForm">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name" ng-model="data.fname" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name" ng-model="data.lname" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" name="email" placeholder="Email" ng-model="data.email" ng-required="true">
                <span class="help-block" ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
              Enter a proper email
            </span>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="data.password" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Street Number</span>
                <input type="text" placeholder="Street Number" ng-model="data.streetNumber" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Street Name</span>
                <input type="text" placeholder="Street Name" ng-model="data.streetName" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">City</span>
                <input type="text" placeholder="City" ng-model="data.city" ng-required="true">
              </label>
              <label class="item item-input item-select">
                <span class="input-label">Country</span>
                <select  placeholder="Select Category" ng-model="data.country" required>
                  <option ng-value="country.countryName" ng-repeat="country in countries">{{country.countryName}}
                  </option>
                </select>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Zip / Postal Code</span>
                <input type="text" placeholder="Zip / Postal Code" ng-model="data.zip" ng-required="true">
              </label>
              <label class="item item-input item-floating-label removeAr">
                <span class="input-label">Phone Number</span>
                <input type="number" placeholder="Phone Number" ng-model="data.phone" ng-required="true">
              </label>
              <label class="item">
                <button class="button button-block button-raised  made-easy-button-setting" ng-click="signUpForm.$valid && signUp()">
                  Sign up
                </button>
              </label>

            </div>
          </form>

      </div>

  </ion-content>
</ion-view>
