
<ion-view view-title="Register" class="im-wrapper login made-easy-background-image made-easy-background-color">

  <ion-content >
    <div class="col">
      <h1>Register.</h1>
    </div>
      <div class="list card">

        <form name="signUpForm">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name" ng-model="data.fname" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name" ng-model="data.lname" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" name="email" placeholder="Email"
                       ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                       ng-model="data.email" ng-required="true">
                <span class="item-error-message" ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
              Enter a proper email
            </span>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" name="password" placeholder="Password" ng-pattern="passwordRegularExpression" ng-model="data.password" ng-required="true" >
                 <span class="help-block register-pw-error-message" ng-show="signUpForm.password.$error.minlength">
                <span class="item-error-message" ng-show="signUpForm.password.$error.minlength">Password should have at least 7 characters.</span>
                </span>
                <span class="help-block register-pw-error-message" ng-show="!(signUpForm.password.$error.minlength) && signUpForm.password.$error.pattern">
                <span class="item-error-message">Password should have at least one lower or Upper letter and one number</span>
                </span>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">House/Apartment Number</span>
                <input type="text" placeholder="Street Number" ng-model="data.streetNumber" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Street Name</span>
                <input type="text" placeholder="Street Name" ng-model="data.streetName" ng-required="true">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">City</span>
                <input type="text" placeholder="City" ng-model="data.city" ng-required="true">
              </label>
              <label class="item item-input item-select">
                <span class="input-label">Country</span>
                <select  placeholder="Select Category" ng-model="data.country" required>
                  <option ng-value="country.countryName" ng-repeat="country in countries">{{country.countryName}}
                  </option>
                </select>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Postal Code/ZIP</span>
                <input type="text" placeholder="Zip / Postal Code" ng-model="data.zip" ng-required="true">
              </label>
              <label class="item item-input item-floating-label removeAr">
                <span class="input-label">Phone Number</span>
                <input type="text"  pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|
                                                    2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|
                                                    4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$"
                       name="phone"  placeholder="Phone Number" ng-model="data.phone" ng-required="true">
                <div class="row">
                  <div ng-if="signUpForm.phone.$error.pattern">
                                                    <span class="animated zoomIn item-error-message">
                                                        not a phone number(ex:+94771234567)
                                                    </span>
                  </div>
                </div>
              </label>
              <label class="item item-input item-stacked-label ">
                <div class="row">
                  <div ng-if="signUpForm.$error.required && signUpForm.$dirty">
                                                    <span class="animated zoomIn item-error-message">
                                                        All the fields needs to be filled
                                                    </span>
                  </div>
                </div>
              </label>
              <label class="item">
                <button class="button button-block button-raised  made-easy-button-setting" ng-click="signUpForm.$valid && signUp()" ng-disabled="signUpForm.$invalid">
                  Sign up
                </button>
              </label>

            </div>
          </form>

      </div>

  </ion-content>
</ion-view>
