<li class="obl-selectable-item" ng-click="clicked()">
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'dashboard');
        ga('send', 'pageview');
    </script>
    <div class="obl-noselect">
        {{label}}
    </div>
</li>

<div ng-show="isOpen" class="obl-subitem-section">
    <li>
        <div class="obl-noselect">
            {{label}}
        </div>
    </li>
    <a href="javascript:void(0);" ng-click="back()" class="obl-menu-back">
        <img src="images/arrow-icon.svg" alt="Arrow Icon" />
    </a>
    <ul ng-transclude></ul>
</div>