.bgc-white {
    background-color: #ffffff;
}

.d-bloc .panel, .l-bloc {
    color: rgba(0,0,0,.5);
}
.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 3%;
}
#bloc-27 p {
    font-size: 36px;
    line-height: 39px;
}

.about-us {
    font-family: "Josefin Sans";
    font-weight: bold;
    text-align: center;
    border-style: dotted;
    border-width: 0px 0px 1px 0px;
    padding: 18px 18px 18px 18px;
    border-color: rgba(214,214,214,0.7);
    color: #5E5E5E!important;
    text-shadow: 1px 2px 0px #EAEAEA;
    text-transform: uppercase;
    margin-top: 2%;
}
#bloc-28 p {
    font-family: "Josefin Sans";
}

.large-text {
    font-size: 20px;
    font-family: "Josefin Sans";
}
.voffset {
    margin-top: 30px;
}