<div class="padding-fit-top">
  <div *ngIf="isSliderDataAvailable == true" id="carousel-example-generic" class=" carousel no-padding no-shadows slide animated puffIn col-sm-12"
        data-ride="carousel">

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{{imageUrlSlider}}/{{sliderData[0].imageUrl}}" (click)="navigateSliderProd('product',sliderData[0])" />
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item" *ngFor="let slider of sliderData | slice:1;let i = index">
            <img src="{{imageUrlSlider}}/{{slider.imageUrl}}" (click)="navigateSliderProd('product',sliderData[i+1])" />
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        </a>
  </div>

  <app-categories [categories]="categories"></app-categories>
</div>