<div class="padding-fit-top">
  <div *ngIf="isSliderDataAvailable == true && prevCategories == false">
    <div  id="carousel-example-generic" class="carousel slide no-padding   col-sm-12" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{{imageUrlSlider}}/{{sliderData[0].imageUrl}}" (click)="navigateSliderProd('product',sliderData[0])" width="100%"/>
        </div>
        <div class="item" *ngFor="let slider of sliderData | slice:1;let i = index">
          <img src="{{imageUrlSlider}}/{{slider.imageUrl}}" (click)="navigateSliderProd('product',sliderData[i+1])"  width="100%"/>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <img  *ngIf="prevCategories" src="{{imageUrl}}/{{currentCategoryImage}}" width="100%" />

  <app-categories [categories]="categories" [products]="products"></app-categories>
</div>


<!-- Modal -->
<div class="modal fade" id="verificationEmailModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Verify email">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center main-header-font" id="thank you title">Thank you !</h3>
		<div class="text-center main-content-font margin-vertical">You have Successfully verified your email.</div>
		 <button type="button" class="btn main-button" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>