<!-- Page preloader -->
<div id="loading">
    <div id="preloader">
        <span></span>
        <span></span>
    </div>
</div>
<div class="addNetwork">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'add-network');
        ga('send', 'pageview');
    </script>

    <div ng-hide="expand" class="expand">
        <!-- Your logo -->
        <img src="./images/made-easy-logo.svg" alt="" class="brand-logo fadeIn" />

        <section>
            <h1 class="videoFadeIn">Get your business online today.</h1>

                <h2 class="videoFadeIn">Sign up for free beta</h2>

                <div class="row slideInUp">
                    <div class="col-md-6">
                            <a class="btn btn-primary btn-lg btn-block" ng-click="authenticate('facebook')">
                                <i class="fa fa-facebook-square"></i> &nbsp; Sign in with Facebook</a>
                    </div>
                    <div class="col-md-6">
                            <a class="btn btn-warning btn-lg btn-block" ng-click="authenticate('google')">
                                <i class="fa fa-google-plus"></i>&nbsp;Sign in with Google+</a>
                    </div>
                </div>
                <div class="row slideInUp">
                    <div class="col-md-6">
                        <a class="btn btn-primary btn-lg btn-block" ng-click="register()">Register</a>
                    </div>
                </div>
        </section>
    </div>
      <!--Video is & autoplays, placed after major DOM elements for performance & has an image fallback  -->

    <video loop id="video-background"  plays-inline class="videoFadeIn">
        <source src="./videos/starter-vid.mp4" type="video/mp4">
    </video>

    <div class="controls">
        <a class="btn " ng-click="play()">
            <i class="fa fa-play " aria-hidden="true"></i>
        </a>
        <a class="btn " ng-click="pause()">
            <i class="fa fa-pause " aria-hidden="true"></i>
        </a>
        <a class="btn "  ng-click="expand = !expand">
            <i class="fa fa-expand" aria-hidden="true"></i>
        </a>
    </div>
</div>
