<style>
    .ng-scope{
        height: 100%;
    }
</style>
<div class="me-guest">
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'forgot-password');
        ga('send', 'pageview');
    </script>
    <div class="me-guest-area">
        <form accept-charset="UTF-8" role="form" name="forgotPassword" novalidate>
            <legend>Forgot your password?<!--{{"login.form.title" | translate}}--></legend>
            <fieldset>
                <label> email </label>
                <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                <input class="input-shadow-border" name="email" type="email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
                       style="float:left;" ng-model="email" required/>
                <span class="error help-block" ng-show="forgotPassword.email.$error.required">
                 *
                </span>
                <span class="error help-block" ng-show="forgotPassword.email.$dirty && forgotPassword.email.$invalid">
                 Enter a proper email
                </span>
            </fieldset>
            <fieldset class="reset-margin text-right">
                <input type="button" class="me-default-button" ng-model="cancel" ng-click="cancel()" name="cancel" value="back" />
                <button ng-disabled="forgotPassword.$invalid" ng-click="submitVerification(email)" type="button" class="me-default-button">
                    <!--{{"login.button.title" | translate}}-->
                    Send me a verification link
                </button>
            </fieldset>
        </form>
    </div>
</div>

