<div class="me-guest">
  <div class="me-guest-area" id="in" ng-submit="submit()" name="register" novalidate>
    <form accept-charset="UTF-8" role="form">
      <legend>Login<!--{{"login.form.title" | translate}}--></legend>
      <fieldset>
        <label>email </label>
        <img src="../../../images/question-mark.svg" width="12" height="12">
        <input class="input-shadow-border" ng-enter ="submit()" name="email" type="text" ng-model="user.email" required>
        <span class="help-block" ng-show="register.email.$dirty && register.email.$invalid">
          <!--{{"login.error.email.required" | translate}}-->
          Enter a proper email
        </span>
      </fieldset>
      <fieldset>
        <label>password </label>
        <img src="../../../images/question-mark.svg" width="12" height="12">
        <input class="input-shadow-border" ng-enter ="submit()" name="password" type="password" value="" ng-model="user.password" required/>
      </fieldset>
      <fieldset>
        <label class="font-size-12 reset-margin">
          <a class="me-guest-reset-link" ui-sref="anon.forgetPassword">forget password?</a>
        </label>
      </fieldset>
      <fieldset>
        <label class="font-size-12 reset-margin">
          not an existing member
          <a class="me-guest-reset-link" ng-click = "register()">sign up</a>
          here or login with
        </label>
      </fieldset>
      <fieldset class="terms">
        <input class="me-guest-fb-login pull-left" ng-click="authenticate('facebook')"
               type="button"/>
        <input class="me-guest-google-login pull-left" ng-click="authenticate('google')"
               type="button" src="images/google-plus-icon.png" />
        <div>By signing in you agree to our  <a class="me-guest-reset-link" target="_blank" href="https://www.otenro.com/terms.pdf">Terms & Conditions</a></div>
      </fieldset>
      <fieldset class="reset-margin text-right">
        <input type="button" class="me-default-button" ng-model="cancel" ng-click="cancel()" name="cancel" value="Cancel" />
        <button ng-disabled="register.$invalid" type="submit" class="me-default-button">
          <!--{{"login.button.title" | translate}}-->
          login
        </button>
      </fieldset>
    </form>
  </div>
</div>

