<!-- Google Code for Otenro 2 Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
  goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 1004452499;
    w.google_conversion_label = "3xH9CNO9w3EQk_X63gM";
    w.google_remarketing_only = false;
  }
  // DO NOT CHANGE THE CODE BELOW.
  goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    var opt = new Object();
    opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  /* ]]> */
</script>
<script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion_async.js">
</script>

<!--Google Analytics-->
<script>
    ga('set', 'page', 'user-register');
    ga('send', 'pageview');
</script>

<!--<script type="text/javascript">-->
    <!--var verifyCallback = function(response) {-->
        <!--document.getElementById('recaptcha_response_field').value=response;-->
    <!--};-->


    <!--var onloadCallback = function() {-->
        <!--grecaptcha.render('recaptcha_widget', {-->
            <!--'sitekey' : '6LdkazYUAAAAACFDe56WJ5pgdy2g3_PFOG7dtG1v',-->
            <!--'callback' : verifyCallback,-->
        <!--});-->


    <!--};-->
<!--</script>-->

<!--<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"-->
        <!--async defer>-->
<!--</script>-->



<div class="me-guest" >
  <div class="me-guest-area">
    <form class="form-signin" accept-charset="UTF-8" role="form" name="register" novalidate>
      <legend>Register</legend>
      <fieldset>
        <label>First Name</label>
        <!--<img src="../../../images/question-mark.svg" width=" 12" height="12" />-->
        <input class="input-shadow-border" type="text" name="fname" ng-model="user.fname" ng-pattern="/^[-a-zA-Z\s]+$/"  ng-enter ="authSignUp(user);"
               required/>
        <span class="error help-block" ng-show="register.fname.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.fname.$dirty && register.fname.$invalid">
          Enter a proper name
        </span>
      </fieldset>
      <fieldset>
        <label>Last Name</label>
        <!--<img src="../../../images/question-mark.svg" width=" 12" height="12" />-->
        <input class="input-shadow-border" type="text" name="lname" ng-model="user.lname" ng-pattern="/^[-a-zA-Z]+$/" ng-enter ="authSignUp(user);"
               required/>
        <span class="error help-block" ng-show="register.lname.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.lname.$dirty && register.lname.$invalid">
          Enter a proper name
        </span>
      </fieldset>
      <fieldset>
        <label> Email </label>
        <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
        <input class="input-shadow-border" name="email" type="email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
               style="float:left;" ng-model="user.email" ng-enter ="authSignUp(user);" required/>
        <span class="error help-block" ng-show="register.email.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.email.$dirty && register.email.$invalid">
          Enter a proper email
        </span>
      </fieldset>
      <!--country-->
      <fieldset>
        <label>Country</label>
        <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
        <!--<input type="text" name="country" ng-pattern="/^[a-zA-Z_ ]*$/" required ng-model="pickup.country" />-->
        <md-select placeholder="Select Country"  aria-label="Country Name" class="" ng-model="user.country" ng-change = "getCountryCode(user.country)" required>
          <md-option ng-value="oneCountry.countryName" ng-repeat="oneCountry in countryList | orderBy:'countryName'">{{oneCountry.countryName}}</md-option>
        </md-select>
        <br />
      </fieldset>
      <!--mobile number field-->
      <fieldset>
        <label> Contact Number </label>
        <div class="row">
          <div class="col-sm-2">
            <input class="input-shadow-border" style="width:50px" name="countryCode" type="text" ng-model="user.countryCode" readonly>
          </div>
          <div ng-if="user.country == 'Sri Lanka'"  class="col-sm-6">
            <input class="input-shadow-border" ng-disabled = "!user.country" name="mobile" type="text" ng-pattern="/^[1-9][0-9]*$/"
                   style="float:left;margin-left:-20px" ng-model="user.mobile" ng-enter ="authSignUp(user);" maxlength="{{phoneNoLength}}" required/>
            <span class="error help-block" ng-show="register.mobile.$error.required">
          *
        </span>
          </div>
          <div ng-if="user.country != 'Sri Lanka'" class="col-sm-6">
            <input class="input-shadow-border" ng-disabled = "!user.country" name="mobile" type="text" ng-pattern="/^[0-9]*$/"
                   style="float:left;margin-left:-20px" ng-model="user.mobile" ng-enter ="authSignUp(user);" maxlength="{{phoneNoLength}}" minlength="10" required/>
            <span class="error help-block" ng-show="register.mobile.$error.required">
          *
        </span>
          </div>
        </div>

        <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->

        <span class="error help-block" ng-show="user.country == 'Sri Lanka' && register.mobile.$dirty && register.mobile.$invalid">
          Enter a valid mobile number eg:777123456
        </span>
        <span class="error help-block" ng-show="user.country != 'Sri Lanka' && register.mobile.$dirty && register.mobile.$invalid">
          Enter a valid mobile number, minimum 10 digits and only numbers allowed.
        </span>
        <!--<span class="error help-block" ng-show="user.country != 'Sri Lanka' && register.mobile.$dirty && register.mobile.$error.minlength">-->
          <!--Enter a valid mobile number eg:777123456-->
        <!--</span>-->
      </fieldset>
      <div class="row password-area-row">
        <fieldset class="password-area">
          <label>Password</label>
          <!--<img src="../../../images/question-mark.svg" width=" 12" height="12">-->
          <input class="input-shadow-border"  name="password" ng-enter ="authSignUp(user);" type="password"
                  ng-model="user.password" ng-minlength="7" compare-to="user.password_confirm"
                  ng-pattern="passwordRegularExpression"
                  required>
          <span class="error help-block" ng-show="register.password.$error.required">
            *
          </span>
          <span class="help-block register-pw-error-message" ng-show="register.password.$error.minlength">
             <span class="error" ng-show="register.password.$error.minlength">Password should have at least 7 characters.</span>
          </span>
          <span class="help-block register-pw-error-message" ng-show="!(register.password.$error.minlength) && register.password.$error.pattern">
             <span class="error">Password should have at least one lower or Upper letter and one number</span>
          </span>
        </fieldset>
        <fieldset class="password-area reset-margin-right">
          <label> Confirm Password</label>
          <!--<img src="../../../images/question-mark.svg" width=" 12" height="12" />-->
          <input class="input-shadow-border"  name="password_confirm" ng-enter ="authSignUp(user);" ng-model="user.password_confirm" type="password" required/>
          <span class="error help-block" ng-show="register.password_confirm.$error.required">
            *
          </span>
          <span class="help-block " ng-show="register.password_confirm.$dirty">
              <span class="error" ng-show="register.password.$error.compareTo">Password must match.</span>
          </span>
        </fieldset>
      </div>
      <!--Bank details -->
      <!--Beneficiary’s Name-->
      <fieldset>
        <label>Beneficiary’s Name</label>
        <!--<img src="../../../images/question-mark.svg" width=" 12" height="12" />-->
        <input class="input-shadow-border" type="text" name="beneficiaryName" ng-model="user.beneficiaryName" ng-enter ="authSignUp(user);"
               required/>
        <span class="error help-block" ng-show="register.beneficiaryName.$error.required">
          *
        </span>
      </fieldset>
      <!--Bank Code-->
      <fieldset>
        <label> Bank Code </label>
        <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
        <input class="input-shadow-border" name="bankCode" type="text" ng-pattern="/^[1-9]\d*$/"
               style="float:left;" ng-model="user.bankCode" ng-enter ="authSignUp(user);" required/>
        <span class="error help-block" ng-show="register.bankCode.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.bankCode.$dirty && register.bankCode.$invalid">
          Enter a valid bank code
        </span>
      </fieldset>
      <fieldset ng-if = "user.country == 'Malaysia'">
        <label> SWIFT BIC code </label>
        <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
        <input class="input-shadow-border" name="swiftCode" type="text" ng-pattern="/^[1-9A-z]\d*$/"
               style="float:left;" ng-model="user.swiftCode" ng-enter ="authSignUp(user);" required/>
        <span class="error help-block" ng-show="register.swiftCode.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.swiftCode.$dirty && register.swiftCode.$invalid">
          Enter a valid swift code
        </span>
      </fieldset>
      <!--Bank Branch Code-->
      <fieldset>
        <label> Bank Branch Code </label>
        <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
        <input class="input-shadow-border" name="branchCode" type="text" ng-pattern="/^[1-9]\d*$/"
               style="float:left;" ng-model="user.branchCode" ng-enter ="authSignUp(user);" required/>
        <span class="error help-block" ng-show="register.branchCode.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.branchCode.$dirty && register.branchCode.$invalid">
          Enter a valid branch code
        </span>
      </fieldset>
      <!--Bank Branch Name-->
      <fieldset>
        <label>Bank Branch Name</label>
        <!--<img src="../../../images/question-mark.svg" width=" 12" height="12" />-->
        <input class="input-shadow-border" type="text" name="branchName" ng-model="user.branchName" ng-enter ="authSignUp(user);"
               required/>
        <span class="error help-block" ng-show="register.branchName.$error.required">
          *
        </span>
      </fieldset>
      <!--Bank Account Number-->
      <fieldset>
        <label>Bank Account Number</label>
        <!--<img src="../../../images/question-mark.svg" width=" 12" height="12" />-->
        <input class="input-shadow-border" type="text" name="accountNumber" ng-model="user.accountNumber" ng-enter ="authSignUp(user);"
               required/>
        <span class="error help-block" ng-show="register.accountNumber.$error.required">
          *
        </span>
      </fieldset>

      <!--<fieldset>-->
        <!--<label>Tell us about yourself</label>-->
        <!--<img src="../../../images/question-mark.svg" width=" 12" height="12" />-->
          <!--<md-select aria-label="Your Self" flex="50" ng-model="user.yourselfReason">-->
            <!--<md-option ng-value="yourSelf.reason" ng-repeat="yourSelf in yourselfReasonList">{{yourSelf.reason}}-->
            <!--</md-option>-->
          <!--</md-select>-->
      <!--</fieldset>-->

      <fieldset>
        <md-checkbox ng-model="user.terms" aria-label="Terms & Conditions" required>
          I agree to Ideadroid <a target="_blank" href="http://ideadroid.ideamart.io/appmakerterms.pdf" style="font-size: 12px;">Terms & Conditions</a>
        </md-checkbox>
      </fieldset>
      <div ng-show="isPinReqSuccess">
        <fieldset>
          <label>Verification Pin </label>
          <!--<img src="../../../images/question-mark.svg" width="12" height="12">-->
          <input class="input-shadow-border" name="pin" type="text" ng-model="verificationPin">
        </fieldset>
        <!--<div style="float: right">-->
          <!--<input style="background: #0099FF; text-align: center; color: white;" class="input-shadow-border"  ng-click="submitPin(user.pin)" name="continue" value="continue" />-->
        <!--</div>-->
      </div>
       <br>
      <!--<fieldset>-->
        <!--<div  id="recaptcha_widget">-->
        <!--</div>-->
        <!--<input ng-model="user.captcha" type="hidden" id="recaptcha_response_field" name="recaptcha_response_field" />-->
      <!--</fieldset>-->

      <fieldset class="set-register">
        <input type="button" class="width-35 padding-horizontal-16-10 me-default-button" ng-model="cancel" ng-click="cancel()" name="cancel" value="Cancel" />
        <button ng-disabled="register.$invalid"   ng-click="authSignUp(user);"  type="button" class="me-default-button">
          Register
        </button>
      </fieldset>
    </form>
  </div>
</div>
