<!-- Google Code for Otenro 2 Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
  goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 1004452499;
    w.google_conversion_label = "3xH9CNO9w3EQk_X63gM";
    w.google_remarketing_only = false;
  }
  // DO NOT CHANGE THE CODE BELOW.
  goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    var opt = new Object();
    opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  /* ]]> */
</script>
<script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion_async.js">
</script>

<!--Google Analytics-->
<script>
    ga('set', 'page', 'user-register');
    ga('send', 'pageview');
</script>

<script type="text/javascript">
    var verifyCallback = function(response) {
        document.getElementById('recaptcha_response_field').value=response;
    };


    var onloadCallback = function() {
        grecaptcha.render('recaptcha_widget', {
            'sitekey' : '6LdkazYUAAAAACFDe56WJ5pgdy2g3_PFOG7dtG1v',
            'callback' : verifyCallback,
        });


    };
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>



<div class="me-guest" >
  <div class="me-guest-area">
    <form class="form-signin" accept-charset="UTF-8" role="form" name="register" novalidate>
      <legend>Register</legend>
      <fieldset>
        <label>First Name</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input class="input-shadow-border" type="text" name="fname" ng-model="user.fname" ng-enter ="authSignUp(user);" ng-pattern="/^[a-zA-Z]+$/"
               required/>
        <span class="error help-block" ng-show="register.fname.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.fname.$invalid && register.fname.$dirty">
           Enter a proper first name
         </span>
      </fieldset>
      <fieldset>
        <label>Last Name</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
        <input class="input-shadow-border" type="text" name="lname" ng-model="user.lname" ng-enter ="authSignUp(user);" ng-pattern="/^[a-zA-Z]+$/"
               required/>
        <span class="error help-block" ng-show="register.lname.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.lname.$invalid && register.lname.$dirty">
           Enter a proper last name
         </span>
      </fieldset>
      <fieldset>
        <label> Email </label>
        <img src="../../../images/question-mark.svg" width="12" height="12" />
        <input class="input-shadow-border" name="email" type="email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
               style="float:left;" ng-model="user.email" ng-enter ="authSignUp(user);" required/>
        <span class="error help-block" ng-show="register.email.$error.required">
          *
        </span>
        <span class="error help-block" ng-show="register.email.$dirty && register.email.$invalid">
          Enter a proper email
        </span>
      </fieldset>
      <div class="row password-area-row">
        <fieldset class="password-area">
          <label>Password</label>
          <img src="../../../images/question-mark.svg" width=" 12" height="12">
          <input class="input-shadow-border"  name="password" ng-enter ="authSignUp(user);" type="password"
                  ng-model="user.password" ng-minlength="7" compare-to="user.password_confirm"
                  ng-pattern="passwordRegularExpression"
                  required>
          <span class="error help-block" ng-show="register.password.$error.required">
            *
          </span>
          <span class="help-block register-pw-error-message" ng-show="register.password.$error.minlength">
             <span class="error" ng-show="register.password.$error.minlength">Password should have at least 7 characters.</span>
          </span>
          <span class="help-block register-pw-error-message" ng-show="!(register.password.$error.minlength) && register.password.$error.pattern">
             <span class="error">Password should have at least one lower or Upper letter and one number</span>
          </span>
        </fieldset>
        <fieldset class="password-area reset-margin-right">
          <label> Confirm Password</label>
          <img src="../../../images/question-mark.svg" width=" 12" height="12" />
          <input class="input-shadow-border"  name="password_confirm" ng-enter ="authSignUp(user);" ng-model="user.password_confirm" type="password" required/>
          <span class="error help-block" ng-show="register.password_confirm.$error.required">
            *
          </span>
          <span class="help-block " ng-show="register.password_confirm.$dirty">
              <span class="error" ng-show="register.password.$error.compareTo">Password must match.</span>
          </span>
        </fieldset>
      </div>
      <fieldset>
        <label>Tell us about yourself</label>
        <img src="../../../images/question-mark.svg" width=" 12" height="12" />
          <md-select aria-label="Your Self" flex="50" ng-model="user.yourselfReason">
            <md-option ng-value="yourSelf.reason" ng-repeat="yourSelf in yourselfReasonList">{{yourSelf.reason}}
            </md-option>
          </md-select>
      </fieldset>

      <fieldset>
        <md-checkbox ng-model="terms" aria-label="Terms & Conditions" required>
          I agree to Otenro <a target="_blank" href="https://www.otenro.com/terms.pdf">Terms & Conditions</a>
        </md-checkbox>
      </fieldset>
       <br>
      <fieldset>
        <div  id="recaptcha_widget">
        </div>
        <input ng-model="user.captcha" type="hidden" id="recaptcha_response_field" name="recaptcha_response_field" />
      </fieldset>

      <fieldset class="set-register">
        <input type="button" class="me-default-button" ng-model="cancel" ng-click="cancel()" name="cancel" value="Cancel" />
        <button ng-disabled="register.$invalid"   ng-click="authSignUp(user);"  type="button" class="me-default-button">
          Register
        </button>
      </fieldset>
    </form>
  </div>
</div>
