<div class="height-100vh me-guest">
    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'reset-password');
        ga('send', 'pageview');
    </script>
    <div class="me-guest-area">
        <form accept-charset="UTF-8" role="form" name="resetPassword" novalidate>
            <legend>Reset your password?<!--{{"login.form.title" | translate}}--></legend>
            <fieldset class="password-area">
                <label>New Password</label>
                <img src="../../../images/question-mark.svg" width=" 12" height="12">
                <input class="input-shadow-border"  name="password" type="password"
                       ng-model="password" ng-minlength="7" compare-to="password_confirm"
                       ng-pattern="passwordRegularExpression"
                       required>
                <span class="help-block" ng-show="resetPassword.password.$error.required">
                  *
                </span>
                <span class="help-block " ng-show="resetPassword.password.$error.minlength">
                   <span class="error" ng-show="resetPassword.password.$error.minlength">Password should have at least 7 characters.</span>
                </span>
                <span class="help-block " ng-show="!(resetPassword.password.$error.minlength) && resetPassword.password.$error.pattern">
                   <span class="error">Password should have at least one lower or Upper letter and one number</span>
                </span>

            </fieldset>

            <fieldset class="password-area reset-margin-right">
                <label> Confirm Password</label>
                <img src="../../../images/question-mark.svg" width=" 12" height="12" />
                <input class="input-shadow-border"  name="password_confirm" ng-model="password_confirm" type="password" required/>
            <span class="help-block" ng-show="resetPassword.password_confirm.$error.required">
              *
            </span>
            <span class="help-block " ng-show="resetPassword.password_confirm.$dirty">
                <span class="error" ng-show="resetPassword.password.$error.compareTo">Password must match.</span>
            </span>
            </fieldset>
            <div class="reset-margin text-right">
                <input type="button" class="me-default-button" ng-model="cancel" ng-click="cancel()" name="cancel" value="Cancel" />
                <button ng-disabled="resetPassword.$invalid" ng-click="submitVerification(password)" type="button" class="me-default-button">
                    <!--{{"login.button.title" | translate}}-->
                    Ok
                </button>
            </div>
        </form>
    </div>
</div>

