<div style="width: 100vw;
            background: #fff;
            padding: 1%;
            background-image: url('/images/when-mobile-body.svg');
            background-repeat: no-repeat;
            height: 100vh;
            background-size: contain;
            background-position: top center;">
    <section>

        <div class="container">
            <div style="text-align:center;
                        padding-bottom:27px;">
                <img src="/images/made-easy-logo.png" style="height: 60px;
                                                             padding: 12px;
                                                             margin-top: 10px;">
                <p style="text-shadow: none;text-transform: none;font-size: 23px;padding-top:32px;color:rgb(60, 60, 60);font-weight:300;padding-right:30px;padding-left:30px;">We don't currently support log in or registration through a smart phone. Please visit us from a computer to start building your app.</p>
                <a class="btn btn-primary btn-lg" role="button" href="https://ideamart.io" style="background-color:rgb(60, 60, 60);margin-top:21px; color: #fff !important;">
                    <i class="fa fa-chevron-left"></i>&nbsp; &nbsp;GO BACK</a>
            </div>
        </div>
    </section>

    <div style="margin-top: 69px;
                background-color: rgba(255,255,255,0);
                padding: 40px 0;
                color: #4b4c4d;
                text-align: center;">
        <footer>
            <div class="social"></div>
            <p style="  margin-top: 15px;
                        text-align: center;
                        font-size: 13px;
                        color: #a52f74;
                        margin-bottom: 0;
                        font-weight: 600;">
                © 2018&nbsp;<a style="color: #007bff !important;" href="https://ideamart.io">Ideamart.io</a>. All Rights Reserved. Built by
                <a style="color: #007bff !important;" href="https://www.simatosolutions.com/">Simato Solutions.</a></p>
        </footer>
    </div>
</div>