

<header class="when-mobile">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="header-content mx-auto">
                    <a href="https://www.otenro.com"><img src="/images/logo.png" width="40%"></a>
                    <p></p>
                    <br>
                    <h1 style="color: #a52f73;font-size: 20px;text-transform: none;">We dont currently support log in or registration through a smart phone. Please visit us from a computer to start building your mobile app. </h1>
                    <p></p>
                    <br><br>
                    <a href="https://www.otenro.com" class="btn btn-outline">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</header>


<footer class="when-mobile">
    <div class="container">
        <p>&copy; 2017 Otenro.com. All Rights Reserved.</p>
     </div>
</footer>
