


.no-padding{
  padding:0;
}
.padding-left{
  padding-left: 16px;
}

.padding-right{
  padding-right:16px;
}

.padding-top{
  padding-top: 16px;
}

.padding-bottom{
  padding-bottom: 16px;
}

.padding-vertical{
  padding-top:16px;
  padding-bottom: 16px;
}

.padding-horizontal{
  padding: 0 16px;
}

.padding{
  padding: 16px !important;
}

.no-margin{
  margin:0;
}

.margin-left{
  margin-left: 16px;
}

.margin-right{
  margin-right:16px;
}

.margin-top{
  margin-top: 16px;
}

.margin-bottom{
  margin-bottom: 16px;
}

.margin-vertical{
  margin: 16px 0;
}

.margin-horizontal{
  margin: 0 16px;
}

.margin{
  margin: 16px !important;
}

::-webkit-scrollbar{
    width: 10px;
    height: 100%;
}

::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.1);
  /*  border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;*/
}

::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.4);
   /* border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;*/
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* Hide Object */
.object-hidden{
	display:none;
}



  /*####### Main style changes on Otenro ########*/

  .main-header-font{
    letter-spacing: 0em;
    background-color: transparent;
    color: #5E5E5E!important;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  
    /*font-size: 20px;*/
  }
  .main-content-font{
    letter-spacing: 0.1em;
    color: #424242!important;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-size: 14px;*/
  }
  .main-background{
    background-color: #FFFFFF !important;
    overflow-x: hidden;
  }
  .made-easy-background-image{
    background: null;
    background-size: cover;
  }
  .main-navigation{
    background-color: #46454A !important;
    color: rgba(255,255,255,.6);
  }
  .main-navigation a{
    color: inherit !important;
    font-size: 14px;
    text-transform: uppercase;
  }

  .main-button{
    background-color: #FF9300 !important;
    border-color: rgba(66, 66, 66, 0) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 6px;
    border-width: 1px !important;
    border: solid;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 10px;
  }
  .main-button:hover {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  }
  .main-button:active {
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  }
  .main-footer-back{
    background-color:#47454b !important;
  }
  .main-footer-header{
    color:#fff;
  }
  .main-footer-font{
    color:#fff;
  }

  .cursor-p{
    cursor: pointer;
  }

  .banner-cat{
    height: 35vh;
    object-fit: cover;
    object-position: top;
  }