<ion-view view-title="{{selectedArticle.title}}" class="made-easy-background-color ">
    <ion-content class="article-view">
        <div class="padding">
                    <div class="item item-image padding">
                        <ion-slide-box options="sliderOptions" slider="sliderDelegate" >
                            <ion-slide>
                                <img src="{{imageURL}}/{{selectedArticle.imageUrl}}" >
                            </ion-slide>
                        </ion-slide-box>
                    </div>
                    <div class="item item-text-wrap">
                        <div class="padding-vertical made-easy-header-font text-center" >{{selectedArticle.title}}</div>

                        <div ng-bind-html="selectedArticle.desc" class="padding-vertical made-easy-content-font"></div>
                    </div>
        </div>
    </ion-content>
</ion-view>