
<div class="obl-dashboard-wrapper" ng-controller="HeaderController" ng-show="auth.isAuthenticated()">
    <div class="obl-dashboard-header clearfix">
        <h2 ng-hide="welcome"><img src="images/made-easy-logo.png" alt="logo" width="22%"></h2>
        <p  ng-hide="welcome">Select the app you would like to work on</p>
        <h2 ng-show="welcome">select a app</h2>

        <div class="obl-dashboard-settings">
            <button class="user-settings-button" ng-click="profileView()" type="button">
                <img src="images/user-icon.svg" alt="User Logo" />
            </button>
        </div>
        <!--<ul  class="template-categories"  >
            <li><a ng-click="getCategoryData();" >All</a></li>
            <li ng-repeat="item in category">
                <a ng-click="getCategoryData(item.templateCategory);" >{{item.category_name}}</a>
            </li>
        </ul>-->
    </div>

</div>