
<app-carousel
	 [slides]="slides">
</app-carousel>

<div class="row">
  <ng-template *ngFor="let item of results;let i = index" [ngIf]="i % 5 === 0">
  	<div class="col-md-6 my-3" *ngIf="results[i]">
      <a  [routerLink]="['/shop',item.id,item.name]">
            <img src="{{imageUrl}}/{{results[i].imageUrl}}" class="img-responsive" width="100%" />
      </a>
  	</div>
  	<div class="col-md-6 my-3" *ngIf="results[i+1]">
      <a  [routerLink]="['/shop',item.id,item.name]">
          <img src="{{imageUrl}}/{{results[i+1].imageUrl}}" class="img-responsive" width="100%" />
      </a>
  	</div>
    <div class="col-md-4 my-3" *ngIf="results[i+2]">
      <a  [routerLink]="['/shop',item.id,item.name]">
          <img src="{{imageUrl}}/{{results[i+2].imageUrl}}" class="img-responsive" width="100%"/>
      </a>
  	</div>
  	<div class="col-md-4 my-3" *ngIf="results[i+3]">
      <a  [routerLink]="['/shop',item.id,item.name]">
         <img src="{{imageUrl}}/{{results[i+3].imageUrl}}" class="img-responsive" width="100%"/>
      </a>
  	</div>
  	<div class="col-md-4 my-3" *ngIf="results[i+4]">
      <a  [routerLink]="['/shop',item.id,item.name]">
         <img src="{{imageUrl}}/{{results[i+4].imageUrl}}" class="img-responsive" width="100%"/>
      </a>
  	</div>
  </ng-template>
 </div>

	<h1 class="px-5 my-5">Popular Products</h1>
		 <owl-carousel  [options]="owlOptions"
		 [carouselClasses]="['owl-carousel', 'owl-theme', 'owl-theme_mod-a', 'enable-owl-carousel', 'js-zoom-gallery']">
	       <div *ngFor="let img of images">
	          <section>
	              <div>
	              	<a> <img src="http://lorempixel.com/160/180/{{img}}"/></a>
	                <div class="name-category">category</div>
	                <h4 >Epimetheus</h4>
	                <div class="name-price main-content-font">$450</div>
	                <div class="button-hover">
                      <a class="btn btn-primary text-white" (click)="navigate('product')">add to cart</a>
                  </div>
	              </div>
	            </section>
	       </div>
	    </owl-carousel>

  <app-newsletter></app-newsletter>

  <hr class="featurette-divider">

