
<app-carousel
  [slides]="slides">
</app-carousel>

<div class="container">
  <!-- Content here -->
  <div>
    <div class="row main-header-font">
      <dt class="col">
        Item
      </dt>
      <dt class="col">
        Order Date
      </dt>
      <dt class="col">
        Item Name
      </dt>
      <dt class="col">
        Price
      </dt>
      <dt class="col">
        Quantity
      </dt>
      <dt class="col">
        Total
      </dt>
    </div>
  </div>
  <div *ngFor="let order of orderHistory">
    <div class="row main-content-font"  *ngFor="let item of order.item" >
      <div class="col my-3" >
        <img src="{{imageURL}}/{{item.imgURL[0].img}}" width="100%">
      </div>
      <div class="col my-auto">
        {{order.createdAt | date:'MM/dd/yyyy'}}
      </div>
      <div class="col my-auto">
        {{item.name}}
      </div>
      <div class="col my-auto">
        {{sign}}{{item.price}}
      </div>
      <div class="col my-auto">
        {{item.qty}}
      </div>
      <div class="col my-auto">
        {{sign}}{{order.amount}}
      </div>
    </div>
  </div>
</div>

<!--<app-newsletter></app-newsletter>-->


<hr class="featurette-divider">

