<ion-content class="made-easy-background-image made-easy-background-color">
	<div class="animated zoomIn">
		<form name="loginForm" novalidate>
			<div class="card padding">
					<div class="row">
						<div class="col center padding made-easy-header-font">Enter Login Details</div>
					</div>
					<div class="list">
					<label class="item item-input">
						<span class="input-label">Email:</span>
						<input type="text"  ng-model="data.username" ng-required="true">
					</label>
					<label class="item item-input">
						<span class="input-label">Password:</span>
						<input type="password" ng-model="data.password" ng-required="true">
					</label>

					<div class="row">
						<div class="col col-top"></div>
						<button class="col col-75 col-center button button-small made-easy-button-setting" ng-click="loginForm.$valid && login()">
							Login
						</button>
						<div class="col col-bottom"></div>
					</div>
					</div>
			</div>
			<div class="row">

				<!--<a class="social-button" ng-click="authenticate('google')"> Google</a>
				<a class="social-button-fb" ng-click="authenticate('facebook')" >Facebook</a>-->

				<button class="col button made-easy-button-setting button-small" ng-click="singUp()">Create Your Account</button>
			</div>
		</form>
	</div>
</ion-content>