<div>
  <div>
    <div class="bloc b-parallax bgc-white" id="bloc-14">
      <div class="container bloc-xl">
        <div class="row bgc-white">
          <div class="col-sm-3">
            <a class="a-btn a-block links link-spacing-top color animated fadeInUp hidden-xs">BILLING ADDRESS</a>
            <a class="a-btn a-block links color animated fadeInUp animDelay02 hidden-xs">REVIEW AND PAYMENT</a>
          </div>
          <div class="col-sm-9" *ngIf='formType == "delivery"'>
              <h2 class="mg-md header-text-h1 spacing-top-text main-header-font">
                SHIPPING ADDRESS
              </h2>

              <div class="row">
                <div class="col-sm-6" *ngIf="showUser">
                  <div class="radio">
                    <label>
                      <input type="radio" name="radioOld" value="oldUser" id="showLoggedUser" (change)="check('oldUser')" [checked]="oldUser" />{{loggedUserData.name}}&nbsp;{{loggedUserData.lname}}
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <p>
                        {{loggedUserData.streetNumber}} &nbsp;{{loggedUserData.streetName}},&nbsp;
                        <br>{{loggedUserData.city}}, {{loggedUserData.zip}}
                        <br>{{loggedUserData.country}}
                        <br> Phone: {{loggedUserData.phone}}&nbsp;
                        <br>
                        <br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="!showUser">
                  <a (click)="login()" class="a-btn a-block color">Returning customer? </a>
                </div>
              </div>

              <div class="radio">
                <label>
                  <input type="radio" name="radioNew" value="newUser" id="showNewUser" (ngModelChange)="check('newUser')" [(ngModel)]="newUser"
                    [checked]="!showUser" />Enter a new address
                </label>
              </div>

              <form [formGroup]="complexForm" *ngIf="newUser" (ngSubmit)="submitForm(complexForm.value)" id="form_28872" novalidate class="spacing-form animated fadeInUp animDelay04">
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label class="sub-header-text-h2">
                            FIRST NAME
                          </label>
                          <input id=fname class="form-control" type="text" placeholder="Arstina" [formControl]="complexForm.controls['fName']" required>
                          <div *ngIf="complexForm.controls['fName'].hasError('required')
                        && complexForm.controls['fName'].touched && complexForm.controls['fName'].dirty" class="alert alert-danger">
                            You must include a First name.
                          </div>
                          <div *ngIf="!complexForm.controls['fName'].valid && complexForm.controls['fName'].touched && complexForm.controls['fName'].dirty"
                            class="alert alert-danger">
                            First Name must only include Alphabetic character and no spaces.
                          </div>
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                          <label class="sub-header-text-h2">
                            LAST NAME
                          </label>
                          <input class="form-control" type="text" placeholder="kale" [formControl]="complexForm.controls['lName']">
                          <div *ngIf="complexForm.controls['lName'].hasError('required')
                        && complexForm.controls['lName'].touched && complexForm.controls['lName'].dirty" class="alert alert-danger">
                            You must include a Last name.
                          </div>
                          <div *ngIf="!complexForm.controls['lName'].valid && complexForm.controls['lName'].touched && complexForm.controls['lName'].dirty"
                            class="alert alert-danger">
                            Last Name must only include Alphabetic character and no spaces.
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                         <div class="form-group">
                          <label class="sub-header-text-h2">
                              HOUSE/APARTMENT NUMBER
                            </label>
                            <input class="form-control" type="text" placeholder="#244 A" [formControl]="complexForm.controls['streetNo']">

                            <div *ngIf="complexForm.controls['streetNo'].hasError('required')
                          && complexForm.controls['streetNo'].touched && complexForm.controls['streetNo'].dirty" class="alert alert-danger">
                              You must include Street Number.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label class="sub-header-text-h2">
                            STREET NAME
                          </label>
                          <input class="form-control" type="text" placeholder="Your Road" [formControl]="complexForm.controls['streetName']">

                          <div *ngIf="complexForm.controls['streetName'].hasError('required')
                        && complexForm.controls['streetName'].touched  && complexForm.controls['streetName'].dirty" class="alert alert-danger">
                            You must include Street Name.
                          </div>
                          <div *ngIf="!complexForm.controls['streetName'].valid && complexForm.controls['streetName'].touched && complexForm.controls['streetName'].dirty"
                            class="alert alert-danger">
                            Invalid Street name, no special Characters & unnecessary spaces.                      </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                       <div class="form-group">
                            <label class="sub-header-text-h2">
                              CITY
                            </label>
                            <input class="form-control" type="text" placeholder="Your City" [formControl]="complexForm.controls['city']">

                            <div *ngIf="complexForm.controls['city'].hasError('required')
                          && complexForm.controls['city'].touched && complexForm.controls['city'].dirty" class="alert alert-danger">
                              You must include a City.
                            </div>
                              <div *ngIf="!complexForm.controls['city'].valid && complexForm.controls['city'].touched && complexForm.controls['city'].dirty"
                                class="alert alert-danger">
                                City must only include Alphabetic character & no unnecessary spaces.                      
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label class="sub-header-text-h2">
                            POSTAL CODE/ZIP
                          </label>
                          <input class="form-control" type="text" placeholder="A-123" [formControl]="complexForm.controls['zip']">

                          <div *ngIf="complexForm.controls['zip'].hasError('required')
                        && complexForm.controls['zip'].touched && complexForm.controls['zip'].dirty" class="alert alert-danger">
                            You must include zip code.
                          </div>
                          <div *ngIf="!complexForm.controls['zip'].valid && complexForm.controls['zip'].touched && complexForm.controls['zip'].dirty"
                            class="alert alert-danger">
                            Invalid ZIP code (A-123)
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label class="sub-header-text-h2">
                          COUNTRY
                        </label>
                        <select id="country" class="form-control" formControlName="country" [(ngModel)]="selectedCountry" (change)="countryChanged();check('newUser',selectedCountry);">
                          <option *ngFor="let c of countries" [ngValue]="c.countryName">
                            {{c.countryName}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label class="sub-header-text-h2">
                            E-MAIL ADDRESS
                          </label>
                          <input class="form-control" type="text" placeholder="you@example.com" [formControl]="complexForm.controls['email']">

                          <div *ngIf="complexForm.controls['email'].hasError('required')
                        && complexForm.controls['email'].touched && complexForm.controls['email'].dirty" class="alert alert-danger">
                            You must include an email.
                          </div>
                          <div *ngIf="!complexForm.controls['email'].valid && complexForm.controls['email'].touched && complexForm.controls['email'].dirty"
                            class="alert alert-danger">
                            invalid Email
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="sub-header-text-h2">
                          TELEPHONE
                        </label>
                        <input class="form-control" type="text" placeholder="+94712345678" maxlength="16" [formControl]="complexForm.controls['phone']">

                        <div *ngIf="complexForm.controls['phone'].hasError('required')
                      && complexForm.controls['phone'].touched && complexForm.controls['phone'].dirty" class="alert alert-danger">
                          You must include a Phone Number.
                        </div>
                        <div *ngIf="!complexForm.controls['phone'].valid && complexForm.controls['phone'].touched && complexForm.controls['phone'].dirty"
                            class="alert alert-danger">
                            Enter a valid Phone Number (ex: +94123456789)
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
              <form class="row" [formGroup]="shippingForm">
                <div class="margin-bottom padding-bottom  col-md-12" *ngIf="newUser && complexForm.valid || oldUser">
                    <h3 class="main-header-font">Shipping Options</h3>
                    <div class="radio main-content-font" *ngFor="let ship of shippingData, let idx = index">
                      <label>
                        <input id="delivery" [formControl]="shippingForm.controls['shippingOption']" name="shippingOptions" type="radio" class="custom-control-input" value="{{ship.optionName}}" [(ngModel)]="details.shipping"
                          (change)='addShipping(ship,$event,complexForm.value)' > {{ship.optionName}}
                      </label>
                    </div>
                </div>
              </form>
          </div>

          <div class="col-sm-9" *ngIf='formType == "pickup"'>
              <h2 class="mg-md header-text-h1 spacing-top-text  main-header-font">
                PICKUP ADDRESS
              </h2>
              <div class="padding-vertical" *ngIf="!showUser">
                <a (click)="login()" class="a-btn a-block color">Returning customer? Click here to login.</a>
              </div>
              <form [formGroup]="pickupForm" (ngSubmit)="submitForm(pickupForm.value)" novalidate class="spacing-form animated fadeInUp animDelay04">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="sub-header-text-h2">
                        NAME
                      </label>
                      <input class="form-control" name="name" id="name" placeholder="Arstina" [formControl]="pickupForm.controls['name']">
                      <div *ngIf="pickupForm.controls['name'].dirty || pickupForm.controls['name'].touched">
                        <div *ngIf="pickupForm.controls['name'].hasError('required')
                        && pickupForm.controls['name'].touched" class="alert alert-danger">
                          You must include a Name.
                        </div>
                        <div *ngIf="!pickupForm.controls['name'].valid" class="alert alert-danger">
                          Name must only include Alphabetic character
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <label class="sub-header-text-h2">
                        E-MAIL ADDRESS
                      </label>
                      <input class="form-control" type="text" placeholder="you@example.com" [formControl]="pickupForm.controls['email']">

                      <div *ngIf="pickupForm.controls['email'].hasError('required')
                    && pickupForm.controls['email'].touched && pickupForm.controls['email'].dirty" class="alert alert-danger">
                        You must include an email.
                      </div>
                      <div *ngIf="!pickupForm.controls['email'].valid && pickupForm.controls['email'].touched && pickupForm.controls['email'].dirty"
                        class="alert alert-danger">
                        invalid Email
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label class="sub-header-text-h2">
                        TELEPHONE
                      </label>
                      <input class="form-control" type="text" maxlength="16" placeholder="+94712345678" [formControl]="pickupForm.controls['phone']">
                      <div *ngIf="pickupForm.controls['phone'].dirty || pickupForm.controls['phone'].touched">
                        <div *ngIf="pickupForm.controls['phone'].hasError('required')
                        && pickupForm.controls['phone'].touched" class="alert alert-danger">
                          You must include a Phone Number.
                        </div>
                        <div *ngIf="!pickupForm.controls['phone'].valid" class="alert alert-danger">
                          Enter a valid Phone Number (ex: +94123456789)
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12" *ngIf="pickupForm.valid">
                      <h4 class="my-3 main-header-font">Select a Location</h4>
                      <div class="row main-content-font">
                        <div class="col-sm-12 radio" *ngFor="let pick of pickup, let idx = index">
                          <label>
                            <input id="pickup" #r type="radio" name="pickup" value="{{pick.locationName}}" class="custom-control-input" (click)='checkout(pickup[idx],pickupForm.value)'>
                            <b>{{pick.locationName}}</b>
                            <div>{{pick.number}}, {{pick.streetAddress}}, {{pick.city}}, {{pick.postalCode}}, {{pick.country}}.</div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
          </div>

          <div class="col-sm-3" *ngIf='isSelected && complexForm.valid && sign && totalPrice || isSelected && pickupForm.valid && sign && totalPrice'>
          </div>
          <div class="col-sm-9" *ngIf='isSelected && complexForm.valid && sign && totalPrice || isSelected && pickupForm.valid && sign && totalPrice'>
              <hr class="featurette-divider">
              <div class="padding-vertical">
                <h3 class="main-header-font">Your order</h3>
                <table class="table table-responsive">
                  <thead class="main-header-font">
                    <tr>
                      <th width="89%" style="text-align: left">Item</th>
                      <th width="100%" style="text-align: center">Qty</th>
                      <th width="100%" style="text-align: right">Price</th>
                    </tr>
                  </thead>
                  <tbody class="main-content-font">
                    <tr *ngFor="let itm of cartItems">
                      <td style="text-align: left"> {{itm.name}}&nbsp;</td>
                      <td style="text-align: center"> {{itm.qty}}&nbsp;</td>
                      <td style="text-align: right">
                        <span>{{sign}}{{itemPriceCal(itm.total,itm.qty)}}</span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr *ngIf='!hideShipping'>
                      <th style="text-align: left">Shipping</th>
                      <td></td>
                      <td style="text-align: right">{{sign}}{{chkShippingCost}}</td>
                    </tr>
                    <tr *ngIf='chkPickupCost > 0'>
                      <th style="text-align: left">Pick up cost</th>
                      <td></td>
                      <td style="text-align: right">{{sign}}{{chkPickupCost}}</td>
                    </tr>
                    <tr>
                      <th style="text-align: left">Tax({{chkTax}}%)</th>
                      <td></td>
                      <td style="text-align: right">{{sign}}{{taxTotal}}</td>
                    </tr>
                    <tr class="order-total">
                      <th style="text-align: left" class="main-header-font">Total</th>
                      <td style="text-align: center">
                        <strong>
                          <span class="main-header-font">{{totalQuantity}}</span>
                        </strong>
                      </td>
                      <td style="text-align: right">
                        <strong>
                          <span class="main-header-font">{{sign}}{{totalPrice}}</span>
                        </strong>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <br>
                <div class="form-check">
                  <label>
                    <input type="checkbox" (change)="checkNote(note)" [(ngModel)]="note" name="check">
                    <span class="label-text"> Add special Note(optional)</span>
                  </label>
                  <div class="form-group" *ngIf="note">
                    <textarea type="text" class="form-control" value="noteDes" [(ngModel)]="noteDes"></textarea>
                  </div>
                </div>
              </div>


              <h1 class="main-content-font" *ngIf="overWeight">Over weight. Cannot ship</h1>
              <h1 class="main-content-font" *ngIf="underWeight">Under weight. Cannot ship</h1>

              <div class="custom-controls-stacked main-content-font padding-vertical" *ngIf="isSelected && !(overWeight || underWeight) && complexForm.valid || isSelected && !(overWeight || underWeight) && pickupForm.valid">
                    <h3 class="main-header-font">Select Payment Type</h3>
                    <div *ngIf="deliveryShow" class="mt-3">

                      <div class="radio">
                        <label>
                          <input type="radio" name="deliveryShow" value="cashOnDelivery" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> Cash On Delivery
                        </label>
                      </div>
                    </div>

                    <div *ngIf="pickupShow" class="mt-3">
                      <div class="radio">
                        <label>
                          <input type="radio" name="pickupShow" value="cashOnPickup" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> Cash On Pickup
                        </label>
                      </div>
                    </div>

                    <div *ngIf="paypalShow" class="mt-3">
                      <div class="radio">
                        <label>
                          <input type="radio" name="paypalShow" value="paypal" (click)="buyWithPayPal(noteDes)" [(ngModel)]="paymentType" (ngModelChange)="ps=true"
                            class="custom-control-input"> PayPal
                        </label>
                      </div>
                    </div>

                    <div *ngIf="stripeShow" class="mt-3">
                      <div class="radio">
                        <label>
                          <input type="radio" name="stripeShow" value="creditcard" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> Stripe
                        </label>
                      </div>
                    </div>

                    <div *ngIf="braintreeShow" class="mt-3">
                      <div class="radio">
                        <label>
                          <input type="radio" name="braintreeShow" value="braintree" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> Braintree
                        </label>
                      </div>
                    </div>

                    <div *ngIf="authorizeNet" class="mt-3">
                      <div class="radio">
                        <label>
                          <input type="radio" name="authorizeNet" value="authorizeNet" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> AuthorizeNet
                        </label>
                      </div>
                    </div>

                    <div *ngIf="payhere" class="mt-3">
                      <div class="radio">
                        <label>
                          <input type="radio" name="payhere" value="payhere" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> PayHere
                        </label>
                      </div>
                    </div>

                    <form *ngIf="paymentType == 'cashOnPickup' || paymentType == 'cashOnDelivery'" name="cashPaymentFrom" novalidate class="row my-4">
                      <div class="col-sm-12 margin-left">
                        <h5 *ngIf="paymentType == 'cashOnDelivery'">Confirm payment by cash on delivery</h5>
                        <h5 *ngIf="paymentType == 'cashOnPickup'">Confirm payment by cash on pickup</h5>
                        <button *ngIf="!showSpinner" class="btn main-button btn-lg col-xs-12 col-sm-3" (click)="confirmCashPayment(noteDes)">Confirm</button>
                        <div *ngIf="showSpinner" class="loader"></div>
                        <p *ngIf="showSpinner">Processing...</p>
                      </div>
                      <div class="col-sm-12" style="margin: 10px 0">
                        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
                      </div>
                      <div class="col-sm-12" style="margin: 10px 0">
                        <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
                      </div>
                    </form>

                    <form name="payHereFrom" *ngIf="paymentType == 'payhere'" novalidate>
                      <div class="col-sm-12 margin-left" >
                        <span class="col input-label" *ngIf="paymentType == 'payhere'">Confirm payment by payHere</span>
                        <div class="row cart-buttons">
                          <div class="col-sm-12"></div>
                          <button class="btn main-button btn-lg col-xs-12 col-sm-3" (click)="payHere(noteDes)">Confirm</button>
                        </div>
                      </div>

                    </form>

                    <form name="cashPaymentFrom" novalidate class="row my-4" *ngIf="paymentType == 'paypal'">
                      <div class="col-sm-12">
                        <h5>Click to pay with PayPal</h5>
                        <app-paypal-payment></app-paypal-payment>
                      </div>
                    </form>


                    <form #myForm="ngForm" (ngSubmit)="submit(myForm.value,paymentType,noteDes)" novalidate class="row margin-vertical" *ngIf="paymentType == 'creditcard' || paymentType == 'authorizeNet'">
                        <label class="form-group col-sm-6">
                          <label>Charge Amount</label>
                          <input class="form-control" placeholder="Charge Amount" type="text" [(ngModel)]="card.amount" name="cardAmount" disabled>
                        </label>
                        <label class="form-group col-sm-6">
                          <label>Name on card</label>
                          <input class="form-control" placeholder="Name on card*" type="text" #userName='ngModel' name='userName' ngModel required>
                          <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
                            <div [hidden]="!userName.hasError('required')">User Name is required</div>
                            <!-- <div [hidden]="!streetNumber.hasError('pattern')">Your password should contain UpperCase, LowerCase and number</div> -->
                          </div>
                        </label>

                        <label class="form-group col-sm-6">
                          <label>Card Number</label>
                          <input class="form-control" minlength="15" maxlength="19" placeholder="Card Number*" pattern="[0-9]+" type="text" name="number"
                            #number='ngModel' cc-type="card.cardType" ngModel required>
                          <div [hidden]="number.valid || number.pristine" class="alert alert-danger">
                            <div [hidden]="!number.hasError('required')">Credit card required</div>
                            <div [hidden]="!number.hasError('pattern')">Credit card must consist of only numbers</div>
                            <div [hidden]="!number.hasError('minlength')">Credit card must be 15-19 digits</div>
                          </div>
                        </label>
                        <label class="form-group col-sm-6">
                          <label class="input-label">Card CVC</label>
                          <input class="form-control" placeholder="Card CVC*" type="text" name='cvc' minlength="3" maxlength="4" pattern="[0-9]+" #cvc='ngModel'
                            cc-type="cardNumber.$ccType" ngModel required>
                          <div [hidden]="cvc.valid || cvc.pristine" class="alert alert-danger">
                            <div [hidden]="!cvc.hasError('required')">Security code required</div>
                            <div [hidden]="!cvc.hasError('pattern')">Security code must contain only numbers</div>
                            <div [hidden]="!cvc.hasError('minlength')">Security code must be 3-4 digits</div>
                          </div>
                        </label>

                        <div class="form-group col-sm-6">
                          <label>Expiration Date:</label>
                          <div class="row form-group col-sm-12">
                            <div class="form-group col-sm-6">
                              <label>Month :</label>
                              <select name="exp_month" class="form-control" id="selectedMonth" ngModel required>
                                <option *ngFor="let m of months" [ngValue]="m">{{m}} </option>
                              </select>
                            </div>
                            <div class="form-group col-sm-6">
                              <label>Year :</label>
                              <select name="exp_year" class="form-control" id="selectedYear" ngModel required>
                                <option *ngFor="let y of years" [ngValue]="y">{{y}} </option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group col-sm-12">
                          <button *ngIf="!showSpinner" type="submit" class="btn  main-button btn-lg" [disabled]='myForm.valid == false || ePay'>Make Payment</button>
                          <div *ngIf="showSpinner" class="loader"></div>
                          <p *ngIf="showSpinner">Processing...</p>

                          <!-- <button *ngIf="paymentType == 'authorizeNet'" type="submit" (click)='authorizeCreditCardMethod(card)' class="btn btn-primary btn-lg">MAKE PAYMENT</button> -->
                          <div *ngIf = "ePay" class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong> Your Order has been successfully processed!
                          </div>
                          <div *ngIf = "ePayFail" class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Invalid Card details!, Please check your data!
                          </div>
                          <div *ngIf = "ePayNull" class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Please provide card details!
                          </div>
                          <!-- <div class="col-sm-12" style="margin: 10px 0">
                            <ngb-alert *ngIf="ePayFail" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
                          </div>
                          <div class="col-sm-12" style="margin: 10px 0">
                            <ngb-alert *ngIf="ePayNull" type="info" (close)="nullMessage = null">{{ nullMessage }}</ngb-alert>
                          </div> -->
                        </div>
                    </form>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
