/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
:host  /deep/ .carousel {
  margin-bottom: 1.5rem;
}
/* Since positioning the image, we need to help out the caption */
:host  /deep/ .carousel-caption {
  z-index: 10;
  bottom: 3rem;
  height: 55%;
}

/* Declare heights because of positioning of img element */
:host  /deep/ .carousel-item {
  height: calc(50vh);
  background-color: #777;
}
 :host  /deep/ .carousel-item > img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

:host  /deep/ .carousel-control-prev, :host  /deep/ .carousel-control-next, :host  /deep/ .carousel-indicators{
	display: none;
}

/* CUSTOMIZE THE ACCORDIAN
-------------------------------------------------- */

:host /deep/ .active .control-1{
  display: none;
}
:host /deep/ .control-1{
  display: inline-block;
}
:host /deep/ .active .control-2{
  display: inline-block;
}
:host /deep/  .control-2{
  display: none;
}
:host /deep/ ngb-accordion .card{
  border:0;
}
:host /deep/ ngb-accordion .card-header{
  border:0;
  padding: 0px 1.25rem ;
}
.loader {
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* added by .sanira */
.checkout-set-padding-vertical{
  padding-top: 0;
  padding-bottom: 0;
}
.checkout-set-padding-horizontal{
  padding-left:20px;
  padding-right:10px;
}
.checkout-divider{
  margin:0;
}
