<!-- Main container -->
<div class="page-container">

    <!-- bloc-19 -->
    <div class="bloc bgc-white l-bloc" id="bloc-19">
      <div class="container bloc-md">
        <div class="row content-row">
          <div class="col-sm-12">
            <p class="header text-center">
              Order history
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- bloc-19 END -->

    <!-- bloc-20 -->
    <div class="bloc bgc-white l-bloc main-content-font" id="bloc-20">
      <div class="container"  *ngFor="let order of orderHistory">
            <h4 class="col-md-12 main-content-font">ORDER ID : {{order.id}}</h4>
            <h4 class="col-md-12 main-content-font">ORDER DATE : {{order.createdAt | date: 'dd/MM/yyyy'}}</h4>
            <div *ngIf="order.note">
              <h5 class="col-md-12 main-content-font"><strong>*Note</strong> : {{order.note}}</h5>
            </div>
            <div class="row content-cards" *ngFor="let item of order.item">
                  <div class="col-sm-3">
                    <img *ngIf="item.imgURL" src="{{imageURL}}/{{item.imgURL}}" class="center-block img-responsive lazyload">
                    <img *ngIf="!item.imgURL" src="{{imageURL}}/{{item.imgDefault}}" class="center-block img-responsive lazyload">
                  </div>
                  <div class="col-sm-6">
                    <p class="product-name padding-top main-header-font">
                      {{item.name}}
                    </p>
                    <p class="spacing-2">
                      <span *ngFor="let v of item.variant"><strong>{{v.name}}</strong> - {{v.vType}}<br><br></span>
                      <strong>PRICE</strong> -  {{sign}} {{item.price}}<br><br>
                      <strong>QTY</strong> -  {{item.qty}}<br><br>
                    </p>
                  </div>
                  <div class="col-sm-3">
                    <p class="product-name  padding-top text-right text-left-xs">
                      TOTAL PRICE
                    </p>
                    <p class="spacing-2 text-right text-left-xs">
                      <strong>{{sign}} {{order.amount}}</strong>
                    </p>
                    <div class="row">
                      <div class="col-sm-6">
                      </div>
                      <div class="col-sm-6">
                        <div class="text-center">
                          <a class="btn btn-d btn-lg button spacing-3 main-button"><span class="ion ion-plus-round icon-spacer"></span>Buy Again</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <hr>
      </div>
    </div>
    <!-- bloc-20 END -->
</div>

