
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div class="container">
	<div class="row">
		<div class="col-md-6">
		 	<app-feedback></app-feedback>
		</div>
		<div class="col-md-6">
		 	<app-contact-info
		 		[contact]="contactInfo"></app-contact-info>
		</div>
	</div>
</div>


  <app-newsletter></app-newsletter>

  <hr class="featurette-divider">