<!--<div class="bloc bgc-white l-bloc  visible-lg-block visible-md-block" id="bloc-0">-->
  <!--<div class="container bloc-sm">-->
      <!--<app-carousel [slides]="slides"> </app-carousel>-->
  <!--</div>-->
<!--</div>-->

<!-- <div class="container login">
  <form #f="ngForm" (ngSubmit)="login(f.value)" class="main-content-font">
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control form-control-lg" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          id="username" placeholder="you@example.com" name="userEmail" userEmail='ngModel' #userEmail="ngModel" ngModel required>
        <div *ngIf="userEmail.invalid && loginclicked == true && (userEmail.touched && userEmail.dirty)" class="alert alert-danger">
          <div *ngIf="userEmail.hasError('required')">Email is required</div>
          <div *ngIf="userEmail.hasError('pattern')">Invalid Email</div>
        </div>
      </div>

    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control form-control-lg" id="password" name="password" password='ngModel' #password="ngModel"
          ngModel required="required">
        <div *ngIf="password.invalid &&  loginclicked == true && (password.touched && password.dirty)" class="alert alert-danger">
          <div *ngIf="password.hasError('required')">Password is required</div>
        </div>
      </div>
    </div>

    <div  *ngIf="ifInvalidUserPassword"  class="alert alert-danger row padding text-center">
      <div><i class="fa fa-exclamation-triangle"></i> Email or password is not correct. Please try again.</div>
    </div>
    <div class="row padding">
      <div class="col-xs-6">

        <button [disabled]="loading || userEmail.invalid || password.invalid" type="submit" class="btn  main-button btn-lg btn-block">Login</button>
      </div>
      <div class="col-xs-6">

        <a (click)='register()' class="btn  main-button btn-lg btn-block">Register</a>
      </div>
    </div>
  </form>
</div> -->

<div class="bloc bgc-white l-bloc" id="bloc-15">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<div class="padding">
					<form #f="ngForm" (ngSubmit)="login(f.value)" novalidate>
						<h2 class="mg-md about-us">
							LOGIN
						</h2>
						<div class="form-group">
							<label for="username" class="sub-header-text-h2">
								User name or email addresss
							</label>
              <input type="email" class="form-control" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              id="username" placeholder="you@example.com" name="userEmail" userEmail='ngModel' #userEmail="ngModel" ngModel required/>
              <div *ngIf="userEmail.invalid && loginclicked == true && (userEmail.touched && userEmail.dirty)" class="alert alert-danger">
                <div *ngIf="userEmail.hasError('required')">Email is required</div>
                <div *ngIf="userEmail.hasError('pattern')">Invalid Email</div>
              </div>
            </div>
						<div class="form-group">
							<label for="password" class="sub-header-text-h2">
								Password*
							</label>
							<input type="password" class="form-control" id="password" name="password" password='ngModel' #password="ngModel"
              ngModel required/>
              <div *ngIf="password.invalid &&  loginclicked == true && (password.touched && password.dirty)" class="alert alert-danger">
                <div *ngIf="password.hasError('required')">Password is required</div>
              </div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="radio">
									<label>
										<input type="radio" name="radioSetOne" value="option1" id="rememberMe" />Remember me
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="radio">
									<label>
										<input type="radio" name="radioSetOne" value="option1" id="forgotPass" />Forgot my password
									</label>
								</div>
							</div>
            </div>
            <button [disabled]="loading || userEmail.invalid || password.invalid" type="submit" class="btn btn-d btn-lg button-buy">Login</button>
					</form>
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
  </div>
</div>

