<ion-content>
	<div class="login animated zoomIn">
		<form name="loginForm" novalidate>
			<div class="card">
					<h5 class="made-easy-header-font">ENTER LOGIN DETAILS</h5>
					<label class="item item-input item-floating-label">
						<span class="made-easy-content-font input-label">Email</span>
						<input type="text" placeholder="Email" ng-model="data.username" ng-required="true">
					</label>
					<label class="item item-input item-floating-label">
						<span class="made-easy-content-font input-label">Password</span>
						<input type="password" placeholder="Password" ng-model="data.password" ng-required="true">
					</label>
					<div class="row">
						<div class="col"></div>
						<button class="col col-67 button button-block button-small made-easy-button-setting" ng-click="loginForm.$valid && login()">
							Login
						</button>
						<div class="col"></div>
					</div>
				</div>
			<div class="row">

				<!--<a class="social-button" ng-click="authenticate('google')"> Google</a>
				<a class="social-button-fb" ng-click="authenticate('facebook')" >Facebook</a>-->

				<div class="col button button-block made-easy-button-setting" ng-click="singUp()">Create your Account</div>
			</div>
		</form>
	</div>
</ion-content>