
ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;
}

/** ----------- Start Custom update Css Class ---------- **/

/* ----- Background Settings ----- */
.made-easy-background-color {
    background-color: #fff !important;
}

.made-easy-background-image{
	background: url('../img/background.png') no-repeat;
    background-size: cover;
}
/* ----- Main Navigation Settings ----- */
.made-easy-navigationBarColor{
    background-color: #ffffff !important;
    color: #000;
    border: 0;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

.made-easy-navigationBarColor .bar .button.button-clear{
    color:inherit;
}

.made-easy-navigationBarColor .item {
    border-style:unset;
}


.made-easy-navigationBarColor .list{
    margin: 50% 0 0px 12%;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: 0;
    color:inherit;
    padding:6px;
}
/* ----- Footer Settings ----- */
.made-easy-footerColor{
    background-color: #4e6dde;
}
.made-easy-footer-font{
    color:#4e6dde;
    font-family: Ubuntu Light;
    font-size: 12px;
    font-weight: bolder;
}
/* ----- Header Font Settings ----- */
.made-easy-header-font{
    font-size: 14px;
    color: #04de57;
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    line-height:normal;
}

/* ----- Content Font Settings ----- */
.made-easy-content-font{
    font-size: 12px;
    color: #333333;
    font-family: sans-serif;
    font-weight: lighter;
    line-height:normal;
}

/* ----- Button Font Settings ----- */
.made-easy-button-setting{
    border-color: #dcd8b2 !important;
    background-color: #232126;
    color: #fff;
    border-width:0px !important;
    border-radius:2px;
    cursor: url(../img/cursor.cur), auto;
    border:solid;
}

/* ----- View Page ----- */

.item-buy{
    width: 100%;
    border-bottom: 1px solid #ccc !important;
}
.made-easy-view .item-error-message{
    color: red;
    font-size: 70%;
}

/** ----------- End Custom update Css Class ---------- **/