<!-- Created by Shashan on 02/02/2018 -->

<md-dialog aria-label="Carousel Management" style="width:800px;height:750px">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'add-carousel-banner');
        ga('send', 'pageview');
    </script>

    <md-dialog-content >
        <div class="md-dialog-header">
            <h1 class="margin-top">Upload Carousel Image</h1>
        </div>


        <form name="form" novalidate>
            <div class="md-dialog-main clearfix" style="max-height: 64vh">

                <fieldset>
                    <label for="input-title">Name</label>
                    <input class="input-shadow-border" type="text" name="name" id="input-title" ng-model="menu.name"
                           maxlength="{{maxMenuSlider}}"/>
                    <br>
                    <span class="information">Characters left: {{maxMenuSlider - menu.name.length}}</span>
                </fieldset>
                <br>
                <div layout-gt-xs="row" class="margin">
                    <div class="file-upload-wrapper clearfix">
                        <div class="cropArea">
                            <ui-cropper image="myImage" area-type="rectangle" aspect-ratio="aspectRatio" result-image="picFile" result-image-size="size"   result-image-format="image/jpeg" result-image-quality="0.5">
                            </ui-cropper>
                        </div>

                        <div class="inputField btn-material img-up">
                            <span >{{buttonName}}</span>
                            <div class="img-up1" ng-if="imageSelected">
                                <input type="file" value="file"  ng-click = "cropImage($event);" id="fileInput" >
                            </div>
                            <div  ng-if="!imageSelected" class="img-up1" ng-click="addImage(picFile)"></div>

                        </div>

                    </div>
                    <div class="uploaded-section image-upload clearfix" style="width:35%">
                        <div class="uploaded-new-image">
                            <img ng-if="picFile == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                 height="150" style="display:none" />
                            <img ng-if="picFile != null" ngf-src="picFile" width="150" height="150" style="display:none" />
                        </div>
                        <div class="uploaded-old-images">
                            <p>Uploaded Product Images</p>
                            <div class="old-images clearfix">
                                <div class="old-image">
                                    <div>
                                        <input type="button" ng-click="deleteImg(0)" value='delete'
                                               class="image-delete-button"/>
                                        <img ng-click="setImage()" ng-if="tmpImage[0] == null"
                                             src="../../../images/small-placeholder.png" height="100%"/>
                                        <img ng-click="setImage(0)" ng-if="tmpImage[0] !== null" ngf-src="tmpImage[0]"
                                              height="100%"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div layout-gt-xs="row" class="margin">
                    <label flex="30" style="margin-top: 6px;">Select Category</label>
                    <div flex="50">
                        <md-select ng-model="catModel" ng-change="changeCat(catModel,'{{cat.id}}')"
                                   data-md-container-class="selectdemoSelectHeader"
                                   aria-label="select category">
                            <md-optgroup>
                                <md-option ng-repeat="cat in categories" ng-value="cat" ng-selected="cat.id == catModel.id">{{cat.name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </div>
                    <div flex="20" class="margin-horizontal">
                        <img width="15%" style="margin-top: 6px;" src="../../../images/delete-icon.svg" ng-click="deleteSelctedCat()">
                    </div>
                </div>
                <div layout-gt-xs="row" class="margin">
                    <label flex="30" style="margin-top: 6px;">Select Product</label>
                    <div flex="50">
                        <md-select ng-model="prodModel" ng-change="changeProd(prodModel,'{{prod.id}}')"
                                   data-md-container-class="selectdemoSelectHeader"
                                   aria-label="select product">
                            <md-optgroup>
                                <md-option ng-if="catModel" ng-repeat="prod in products" ng-value="prod" ng-selected="prod.id == prodModel.id">{{prod.name}}</md-option>

                            </md-optgroup>
                        </md-select>
                    </div>
                    <div flex="20" class="margin-horizontal"class="margin-horizontal">
                        <img width="15%" style="margin-top: 6px;" src="../../../images/delete-icon.svg" ng-click="deleteSelctedProd()">
                    </div>
                </div>
            </div>

            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="cancelAdd()">Close</md-button>
                    <md-button type="submit" class="me-default-button" ng-click="addSliderImage(mainImg,menu,catModel,prodModel)" >Save</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>