<div class="page-container header">

  <!-- bloc-1 -->

  <div class="bloc bgc-white l-bloc main-navigation" id="bloc-1">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button *ngIf="hideBackOnHome" aria-label="menu" id="nav-toggle" type="button" class="pull-left ui-navbar-toggle navbar-toggle" (click)="goBack()">
            <i class="fa fa-arrow-left"></i>
          </button>
          <button aria-label="menu" id="nav-toggle" type="button" class="pull-left ui-navbar-toggle navbar-toggle" (click)="openNav()">
            <i class="fa fa-bars lg"></i>
          </button>
          <div class="mobile-title visible-xs mobileTitle" >{{title}}</div>

        </div>
        <div class="navbar-1">
          <ul class="site-navigation nav navbar-nav">
            <li>
              <a class="navbar-brand"  (click)="navigate('')"><img width="100%" src="assets/images/logo.png"></a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('')">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('aboutus')">About Us</a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('contact')">Contact Us</a>
            </li>
            <li>
              <a class="nav-link" (click)="navigate('policies')">Policies</a>
            </li>
            
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- bloc-1 END -->

  <!-- Mobile Navigation -->
  <div id="mySidenav" class="sidenav  main-navigation">
    <div  class="closebtn" (click)="closeNav()">&times;</div>
    <a (click)="navigate('','Home')">Home</a>
    <a data-toggle="modal" data-target="#registerModel">Register</a>
    <a  data-toggle="modal" data-target="#myAccountModel">My Account</a>
    <a (click)="navigate('contact','Contact us')">Contact Us</a>
    <a (click)="navigate('policies','Privacy Policy')">Privacy Policy</a>
    <div class="navbar-brand text-center"   (click)="navigate('')"><img src="assets/images/logo.png"></div>
  </div>


  <!-- ScrollToTop Button -->
  <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
    <span class="fa fa-chevron-up"></span>
  </a>
  <!-- ScrollToTop Button END-->

</div>
<!-- bloc-2 END -->



<!-- My Account Model -->
<div class="modal fade" id="myAccountModel" tabindex="-1" role="dialog" aria-labelledby="myAccountModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h3 class="padding-bottom">My Account</h3>
        <p>Rs.20+tax per day</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>

        <button type="button" class="btn sub-button-sub btn-block"> Unsubscibe Now</button>
        <button type="button" class="btn sub-button-cancel btn-block" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- My Account Model -->
<div class="modal fade" id="registerModel" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h3 class="padding-bottom">My Account</h3>
        <p>Rs.20+tax per day</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>
        <p>You will be charged on your Dialog mobile and your subscription will be renewed automatically.</p>

        <button type="button" class="btn sub-button-sub btn-block"> Subscibe Now</button>
        <button type="button" class="btn sub-button-cancel btn-block" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
