 
<app-carousel
   [slides]="slides">   
</app-carousel>

<div class="container">
      <div class="row">
        <div class="col-md-9 ">
          <div>
            <p>Have a coupon? <a >Click here to enter your code</a></p>
    <!--         <form method="post">
              <p>
                <input type="text" name="coupon_code" placeholder="Coupon code" id="coupon_code" value="">
              </p>
              <p>
                <input type="submit" class="button" name="apply_coupon" value="Apply Coupon">
              </p> -->
         <!--    </form> -->
            <form name="checkout" method="post" action="checkout/" enctype="multipart/form-data" _lpchecked="1">
              	<div class="row">
	             	 <div class="col">
		                <h4 class="mb-4">Billing Details</h4>
		                <div class="form-group d-table-cell pr-4">
						    <label for="fname">First Name</label>
						    <input type="text" class="form-control" id="fname" aria-describedby="fname">
						</div>
						<div class="form-group d-table-cell pb-4">
						    <label for="lname">Last Name</label>
						    <input type="text" class="form-control" id="lname" aria-describedby="lname">
						</div>
						<div class="form-group pb-4">
						    <label for="cname">Company name</label>
						    <input type="text" class="form-control" id="cname" aria-describedby="cname">
						</div>
						<div class="form-group d-table-cell pr-4">
						    <label for="email">Email address</label>
						    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
						</div>
						<div class="form-group d-table-cell pb-4">
						    <label for="phone">Phone</label>
						    <input type="tel" class="form-control" id="phone" aria-describedby="phone">
						</div>
						<div class="form-group pb-4">
						    <label for="address">Address</label>
						    <textarea class="form-control" id="address" rows="3"></textarea>
						</div>
	              	</div>
	                <div class="col">
	                    <h4 class="mb-4">Additional Information</h4>
	                    <div class="form-group">
						    <label for="orderNotes">Order Notes</label>
						    <textarea class="form-control" id="orderNotes" rows="5" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
						</div>
	                </div>
              </div>
              <h4 id="order_review_heading">Your order</h4>
                <table class="table table-bordered table-responsive">
                  <thead>
                    <tr>
                      <th width="89%">Product</th>
                      <th width="100%">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> BLU VIVO 5 Smartphone&nbsp; <strong>× 1</strong></td>
                      <td><span>£</span><span>875.00</span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Subtotal</th>
                      <td><span>£</span><span>875.00</span></td>
                    </tr>
                    <tr class="order-total">
                      <th>Total</th>
                      <td><strong>
	                      	<span>£</span>
	                      	<span>875.00</span>
	                      </strong>
	                  </td>
                    </tr>
                  </tfoot>
                </table>
                <div>
	                <div class="form-check">
				        <label class="form-check-label text-uppercase font-weight-bold">
				            <input class="form-check-input" type="radio" name="paymentMethods" id="paymentMethods1" value="option1" checked>
				            Payment Method 1
				        </label>
				    </div>
				    <div class="form-check">
				        <label class="form-check-label text-uppercase font-weight-bold">
				            <input class="form-check-input" type="radio" name="paymentMethods" id="paymentMethods2" value="option2">
				            Payment Method 2
				        </label>
				    </div> 
				    <div class="form-check">
				        <label class="form-check-label text-uppercase font-weight-bold">
				            <input class="form-check-input" type="radio" name="paymentMethods" id="paymentMethods3" value="option3">
				            Payment Method 3
				        </label>
				    </div>
                  <div>
                    <input type="submit" class="btn btn-secondary bg-inverse text-white btn-block text-uppercase"  id="place_order" value="Place order" data-value="Place order">
                  </div>
                </div>
            </form>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase my-3">Categories</h5>
	        <ngb-accordion  [closeOthers]="true" #acc="ngbAccordion" activeIds="">
			  <ngb-panel>
			    <ng-template ngbPanelTitle >
			      <span><i class="fa fa-caret-right pr-3  control-2"></i><i class="fa fa-caret-down pr-3 control-1" ></i> Clothing</span>
			    </ng-template>
			    <ng-template ngbPanelContent>
			   		<ul>
			   			<li>Jackets</li>
			   			<li>Shorts</li>
			   			<li>Pants</li>
			   			<li>Shirts</li>
			   			<li>Sweatshirts</li>
			   		</ul>
			    </ng-template>
			  </ngb-panel>
			  <ngb-panel>
			    <ng-template ngbPanelTitle>
			      <span><i class="fa fa-caret-right pr-3 control-2"></i><i class="fa fa-caret-down pr-3 control-1"></i> Shoes</span>
			    </ng-template>
			    <ng-template ngbPanelContent>
			   		<ul>
			   			<li>Jackets</li>
			   			<li>Shorts</li>
			   			<li>Pants</li>
			   			<li>Shirts</li>
			   			<li>Sweatshirts</li>
			   		</ul>
			    </ng-template>
			  </ngb-panel>
			  
			</ngb-accordion>
          
        </div>
      </div>
    </div>

    

  <app-newsletter></app-newsletter>

  <hr class="featurette-divider">