<!--<div ng-include=" 'user/header/header.html' "></div>-->
    <div class="obl-dashboard-apps-livePreview">
        <fieldset class="text-left">
            <h1 id="livePreviewH1">Rum Punch</h1>
        </fieldset>
        <fieldset class="text-left">
            <label class="font-size-12  reset-margin" >
                Rum Punch is favored by many businesses.
                It is easy to customise
            </label>
        </fieldset>
        <br>
        <fieldset>
            <label class="font-size-12"> Name</label>
            <input type="text" ng-model="appName" />
        </fieldset>
        </br>
        <br>
        </br>
        <ul class="grid obl-app-templates clearfix">
            <fieldset class="text-left">
                <button class="me-default-button" ng-click="deleteFile(userId,appId)">
                    Back
                </button>
                <button class="me-default-button" ng-click="answer('useful',appId,tempUrl,tempName,tempCategory)">
                    Get Started
                </button>
            </fieldset>
        </ul>
    </div>
    <div class="mdapp-content-livePreview">
        <div class="device-preview-livePreview" ng-class="tabletView ? 'tabletView' : '!tabletView'">
            <div class="device-simulator" overflow="scroll">
                <me-tablet ng-show="tabletView" tmp-url="{{appTemplateUrl}}"></me-tablet>
                <me-iphone ng-show="!tabletView" tmp-url="{{appTemplateUrl}}"></me-iphone>
            </div>
        </div>
    </div>
</div>