<!--<div ng-include=" 'user/header/header.html' "></div>-->
<form name="livePreview" class="clearfix" novalidate>
    <div class="obl-dashboard-apps-livePreview">
        <fieldset class="text-left">
            <h1 id="livePreviewH1">{{templateViewName}}</h1>
        </fieldset>
        <fieldset class="text-left">
            <label class="font-size-12  reset-margin" >
                    {{templateViewDesc}}
            </label>
        </fieldset>
        <br>
        <fieldset>
            <label class="font-size-12">App Name</label>
            <input name="appName" type="text" ng-model="appName" ng-pattern="/^[A-Za-z0-9\s]*$/"
                   ng-enter="answer('useful',appId,tempUrl,tempName,tempCategory)" ng-maxlength="25" required/>
        </fieldset>
                <span ng-show="livePreview.appName.$error.pattern">Symbols cannot be included in the app name</span>
                <span ng-show="livePreview.appName.$error.maxlength">App Name could contain 25 Characters</span>
        </br>
        <br>
        </br>
        <ul class="grid obl-app-templates clearfix">
            <fieldset class="text-left">
                <button class="me-default-button-preview" ng-click="deleteFile(userId,appId)">
                    Back
                </button>
                <button class="me-default-button-preview" ng-click="answer('useful',appId,tempUrl,tempName,tempCategory)">
                    Get Started
                </button>
            </fieldset>
        </ul>
    </div>
    <div class="mdapp-content-livePreview">
        <div class="device-preview-livePreview" ng-class="tabletView ? 'tabletView' : '!tabletView'">
            <div class="device-simulator" overflow="scroll">
                <me-tablet ng-show="tabletView" tmp-url="{{appTemplateUrl}}"></me-tablet>
                <me-iphone ng-show="!tabletView" tmp-url="{{appTemplateUrl}}"></me-iphone>
            </div>
        </div>
    </div>
</div>
</form>