
<div ng-if="isAuthenticated" ng-include=" 'user/header/header.html' "></div>
<div class="header-beta">We are currently in open beta and you could experience minor issues,
    please do give us feedback on issues and any suggestions to help us improve the system.
    You can contact us on support@otenro.com</div>
<div class="obl-dashboard-wrapper">
    <div class="obl-dashboard-apps">
        <ul class="grid obl-app-templates clearfix">
            <li ng-repeat="template in templates">
                <a ng-click="viewApp(template.id,template.imageUrl,template.template_name,template.templateCategory)" >
                    <div  id ="image">
                        <img class = "main_image" ng-src="images/templates/{{template.imageUrl}}" />
                        <img class ="second_image"  ng-src="images/templates/{{template.gifImageUrl}}" />
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>