<div ng-if="isAuthenticated" ng-include=" 'user/header/header.html' "></div>
<div ng-if="nonAuthenticated">
    <div class="header-beta">We are currently in open beta and you could experience minor issues,
        please do give us feedback on issues and any suggestions to help us improve the system.
        You can contact us on support@otenro.com</div>
    <div class="obl-dashboard-wrapper">
        <div class="obl-dashboard-header clearfix">
            <h2 ng-hide="welcome"> MY APPS</h2>
            <p  ng-hide="welcome">Select the app you would like to work on</p>
            <h2 ng-show="welcome">select a app</h2>

            <div class="obl-dashboard-settings">
                <button class="user-settings-button" ng-click="profileView()" type="button">
                    <img src="images/user-icon.svg" alt="User Logo" />
                </button>
            </div>
        </div>
    </div>
</div>
<div class="obl-dashboard-wrapper">
    <div class="obl-dashboard-apps">
        <ul class="grid obl-app-templates clearfix">
            <li ng-repeat="template in templates">
                <a ng-click="viewApp(template.id,template.imageUrl,template.template_name,template.templateCategory)" >
                    <div  id ="image">
                        <img class = "main_image" ng-src="images/templates/{{template.imageUrl}}" />
                        <img class ="second_image"  ng-src="images/templates/{{template.gifImageUrl}}" />
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>