<md-dialog aria-label="Push Message Send">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>Edit Category</h1>
        </div>
        <div class="md-dialog-main">
            <fieldset>
                 <label>Category</label>
                 <input type="text" ng-model="edit_Category.name">
            </fieldset>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                <md-button class="me-default-button" ng-click="editCategory(edit_Category)">Edit</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>