<md-dialog aria-label="publish-article">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'preview-articles');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <md-tab-body>
        <div class="md-dialog-header">
            <div class="md-dialog-header-nav clearfix">
            <h1 class="pull-left">Manage Pages</h1>
            <fieldset class="col-2 pull-right reset-margin">
                <input type="text" required="" ng-model="search.title" class="border-1px me-search-input" name="name">
                <input type="submit" value="search" class="me-search-button">
            </fieldset>
            </div>
        </div>

        <div class="md-dialog-main clearfix">
            <form class="allItems" novalidate>
            <table class="table">
                <thead>
                <th style="vertical-align: top;">Title</th>
                <th style="vertical-align: top;">Category</th>
                <th style="vertical-align: top;">Status</th>
                <th style="vertical-align: top;">Publish<br><font style="font-size:9px">Date & Time</font></th>
                <th style="vertical-align: top;">Expiry<br><font style="font-size:9px">Date & Time</font></th>
                <th style="vertical-align: top;">Action</th>
                </thead>
                <tbody>
                <tr dir-paginate="article in articleList | filter:search | itemsPerPage: pageSize">
                    <td>{{article.title}}</td>
                    <td>{{article.categoryName}}</td>
                    <td>{{article.status}}</td>
                    <td>{{article.publishDate}}</td>
                    <td>{{article.expiryDate}}</td>
                    <td>
                        <a data-ng-click="editArticle(article)">Edit</a> /
                        <a data-ng-click="deleteArticle($index,article)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>

            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="showPublishArticleDialog()">Create Page</md-button>
                    <md-button class="me-default-button" ng-click="ok('cancel')">cancel</md-button>
                </div>
            </div>
        </md-tab-body>

    </md-dialog-content>
</md-dialog>