<md-dialog aria-label="publish-article" style="width:850px;">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', 'publish-article');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>create page</h1>
        </div>
        <form name="articleForm" novalidate>
            <div class="md-dialog-main clearfix">

                <fieldset>
                    <label>page Category</label>
                    <select class="input-shadow-border" ng-model="dummyCat.id" ng-options="v.name for v in dummyCat" ng-change="changeArticleCat(dummyCat.id)"
                            required>
                    </select>
                </fieldset>
                <fieldset>
                    <label>Title</label>
                    <input class="input-shadow-border" type="text" name="title" ng-model="article.title" max-length="maxArticleTitle"
                           required />
                    <!--<br />-->
                    <span ng-show="articleForm.title.$dirty && articleForm.title.$error.required" class="error">Titile is required</span>
                    <!--<div ng-hide="article.title.length > maxArticleTitle">-->
                        <!--<span class="information">Characters left: {{maxArticleTitle - article.title.length}}</span>-->
                    <!--</div>-->
                    <!--<div ng-show="article.title.length > maxArticleTitle">-->
                        <!--<span class="information">Characters left: {{maxArticleTitle - article.title.length}} </span>-->
                    <!--</div>-->
                </fieldset>
                <span ng-show="articleForm.title.$error.maxlength" class="error">Too lengthy</span>

                <fieldset>
                    <label>publish date and time</label>
                    <div class="clearfix">
                        <adm-dtp ng-disabled="true" ng-model='article.publishDate' options='{multiple:false, calType: "gregorian", default: today, freezeInput:true}' ></adm-dtp>
                        <!-- <input type="date" ng-model='pushMessage.date'>-->
                    </div>
                </fieldset>
                <fieldset>
                    <label>Expiry date and time</label>
                    <div class="clearfix">
                        <adm-dtp ng-disabled="true" ng-model='article.expiryDate' options='{multiple:false, calType: "gregorian", default: today,  freezeInput:true}' ></adm-dtp>
                        <!-- <input type="date" ng-model='pushMessage.date'>-->
                    </div>
                </fieldset>

                <fieldset>

                        <div class="file-upload-wrapper-article clearfix">
                            <div class="cropArea ">

                                <ui-cropper image="myImage" area-type="rectangle" aspect-ratio="thirdNaviAspectRatio" result-image="picFile" result-image-size="iSizeThird"
                                            result-image-format="image/jpeg" result-image-quality="0.5">
                                </ui-cropper>

                            </div>

                            <div class="inputField btn-material img-up">
                                <span>{{buttonName}}</span>
                                <div class="img-up1" ng-if="!picFile">
                                    <input type="file" value="" ng-click="cropImage();" id="fileInput" class="file" size="100">

                                </div>
                                <div ng-if="picFile" class="img-up1" ng-click="addImage(picFile)"></div>

                            </div>
                        </div>

                        <div class="uploaded-section clearfix">
                            <div class="uploaded-old-images">
                                <p>Uploaded Images/ Videos</p>
                                <!--{{tmpImage.length}}-->
                                <div class="old-images clearfix">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="old-image">
                                                    <input type="button" ng-click="deleteImg(0)" value='delete' class="image-delete-button" />
                                                    <img ng-click="setImage()" ng-if="tmpImage[0].img == null" src="../../../images/small-placeholder.png" width="80" height="80"
                                                    />
                                                    <img id="1" ng-click="defImg(0)" ng-if="tmpImage[0].img !== null" ngf-src="tmpImage[0].img" width="80" height="80" />
                                                </div>
                                            </td>

                                            <td>
                                                <div class="old-image">
                                                    <input type="button" ng-click="deleteImg(1)" value='delete' class="image-delete-button" />
                                                    <img ng-click="setImage()" ng-if="tmpImage[1].img == null" src="../../../images/small-placeholder.png" width="80" height="80"
                                                    />
                                                    <img id="2" ng-click="defImg(1)" ng-if="tmpImage[1].img !== null" ngf-src="tmpImage[1].img" width="80" height="80" />
                                                </div>
                                                <md-checkbox ng-change="chng(tmpImage[1].url, 1)" ng-disabled = "!(tmpImage[0].img) && tmpImage.length <= 1" id="chk_videoUrl2" class="padding-top" ng-model="tmpImage[1].url" aria-label="Checkbox 1">
                                                    Add Youtube Video
                                                </md-checkbox>
                                                <input placeholder="Youtube video Link"  ng-disabled="!tmpImage[1].url" class="input-shadow-border article-youtube" type="text" id="videoUrl2" name="videoUrl2"
                                                      ng-model="tmpImage[1].videoUrl" width="10px" ng-keyup="change()" required />
                                                <span class="error"><p style="color:red;" id="err_videoUrl2"></p></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="old-image">
                                                    <input type="button" ng-click="deleteImg(2)" value='delete' class="image-delete-button" />
                                                    <img ng-click="setImage()" ng-if="tmpImage[2].img == null" src="../../../images/small-placeholder.png" width="80" height="80"
                                                    />
                                                    <img id="3" ng-click="defImg(2)" ng-if="tmpImage[2].img !== null" ngf-src="tmpImage[2].img" width="80" height="80" />
                                                </div>
                                                <md-checkbox ng-change="chng(tmpImage[2].url, 2)" ng-disabled = "!(tmpImage[1].url || (tmpImage[1].img && tmpImage[1].videoUrl || tmpImage[1].img || tmpImage[2].img))" id="chk_videoUrl3" class="padding-top" ng-model="tmpImage[2].url" aria-label="Checkbox 1">
                                                    Add Youtube Video
                                                </md-checkbox>
                                                <input  placeholder="Youtube video Link"  ng-disabled="!tmpImage[2].url" class="input-shadow-border article-youtube" type="text" id="videoUrl3" name="videoUrl3"
                                                       ng-model="tmpImage[2].videoUrl" width="10px" ng-keyup="change()" required />
                                                <span class="error"><p style="color:red;" id="err_videoUrl3"></p></span>
                                            </td>

                                            <td>
                                                <div class="old-image">
                                                    <input type="button" ng-click="deleteImg(3)" value='delete' class="image-delete-button" />
                                                    <img ng-click="setImage()" ng-if="tmpImage[3].img == null" src="../../../images/small-placeholder.png" width="80" height="80"
                                                    />
                                                    <img id="4" ng-click="defImg(3)" ng-if="tmpImage[3].img !== null" ngf-src="tmpImage[3].img" width="80" height="80" />
                                                </div>
                                                <md-checkbox ng-change="chng(tmpImage[3].url, 3)" ng-disabled = "!(tmpImage[2].url || (tmpImage[2].img && tmpImage[2].videoUrl || tmpImage[2].img || tmpImage[3].img))" id="chk_videoUrl4" class="padding-top" ng-model="tmpImage[3].url" aria-label="Checkbox 1">
                                                    Add Youtube Video
                                                </md-checkbox>
                                                <input placeholder="Youtube video Link"  ng-disabled="!tmpImage[3].url" class="input-shadow-border article-youtube" type="text" id="videoUrl4" name="videoUrl4"
                                                       ng-model="tmpImage[3].videoUrl" width="10px" ng-keyup="change()" required />
                                                <span class="error"><p style="color:red;" id="err_videoUrl4"></p></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="old-image">
                                                    <input type="button" ng-click="deleteImg(4)" value='delete' class="image-delete-button" />
                                                    <img ng-click="setImage()" ng-if="tmpImage[4].img == null" src="../../../images/small-placeholder.png" width="80" height="80"
                                                    />
                                                    <img id="5" ng-click="defImg(4)" ng-if="tmpImage[4].img !== null" ngf-src="tmpImage[4].img" width="80" height="80" />
                                                </div>
                                                <md-checkbox ng-change="chng(tmpImage[4].url, 4)" ng-disabled = "!(tmpImage[3].url || (tmpImage[3].img && tmpImage[3].videoUrl || tmpImage[3].img || tmpImage[4].img))" id="chk_videoUrl5" class="padding-top" ng-model="tmpImage[4].url" aria-label="Checkbox 1">
                                                    Add Youtube Video
                                                </md-checkbox>
                                                <input  placeholder="Youtube video Link" ng-disabled="!tmpImage[4].url" class="input-shadow-border article-youtube" type="text" id="videoUrl5" name="videoUrl5"
                                                       ng-model="tmpImage[4].videoUrl" width="10px" ng-keyup="change()" required/>
                                                <span class="error"><p style="color:red;" id="err_videoUrl5"></p></span>
                                            </td>
                                            <s></s><td>
                                                <div class="old-image">
                                                    <input type="button" ng-click="deleteImg(5)" value='delete' class="image-delete-button" />
                                                    <img ng-click="setImage()" ng-if="tmpImage[5].img == null" src="../../../images/small-placeholder.png" width="80" height="80"
                                                    />
                                                    <img id="6" ng-click="defImg(5)" ng-if="tmpImage[5].img !== null" ngf-src="tmpImage[5].img" width="80" height="80" />
                                                </div>
                                                <md-checkbox ng-change="chng(tmpImage[5].url, 5)" ng-disabled = "!(tmpImage[4].url || (tmpImage[4].img && tmpImage[4].videoUrl || tmpImage[4].img || tmpImage[5].img))" id="chk_videoUrl6" class="padding-top" ng-model="tmpImage[5].url" aria-label="Checkbox 1">
                                                    Add Youtube Video
                                                </md-checkbox>
                                                <input placeholder="Youtube video Link" ng-disabled="!tmpImage[5].url" class="input-shadow-border article-youtube" type="text" id="videoUrl6" name="videoUrl6"
                                                       ng-model="tmpImage[5].videoUrl" width="10px" ng-keyup="change()" required />
                                            <span class="error"><p style="color:red;" id="err_videoUrl6"></p></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <!-- </div>-->
                </fieldset>

                <fieldset style="clear:both">
                    <label>Add Page Details</label>
                    <div class="custom-trix">
                        <!--<trix-editor class="textEditor input-shadow-border"-->
                        <!--name="editorText"-->
                        <!--ng-maxlength="1000"-->
                        <!--angular-trix ng-model="article.desc"-->
                        <!--required></trix-editor>-->
                        <text-angular name="editorText" ng-model="article.desc" required></text-angular>

                    </div>

                </fieldset>
                <fieldset style="margin-bottom:0px;">
                    <span ng-show="articleForm.editorText.$error.maxlength">Too lengthy</span>
                    </td>
                </fieldset>
            </div>
        </form>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-if="cancelButton_chk == 'publishArticle' " ng-click="ok('cancel')">Cancel</md-button>
                <md-button class="me-default-button" ng-if="cancelButton_chk != 'publishArticle' " ng-click="answer('cancel')">Cancel</md-button>
                <md-button class="me-default-button" ng-disabled="!dummyCat.id || !article.title || !tmpImage[0] || !article.desc || articleForm.videoUrl5.$error.pattern || articleForm.videoUrl6.$error.pattern
                            || articleForm.videoUrl4.$error.pattern || articleForm.videoUrl3.$error.pattern || articleForm.videoUrl2.$error.pattern"
                           ng-click="publishArticle(mainImg,article)">Publish</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>