<section *ngFor="let contact of contacts">
        <p class="text-center contact-text">
          {{contact.address}}
        </p>
        <p class="text-center contact-text">
          {{contact.telPhone}}<br>{{contact.email}}<br>
        </p>
        <p class="text-center">
          {{contact.webSite}}<br>
        </p>
        <div class="divider-h">
          <span class="divider"></span>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <a *ngIf="contact.facebook" href="{{ contact.facebook }}" target="_blank" ><span class="ion ion-social-facebook icon-md icon-spacing-right"></span></a> 
            <a *ngIf="contact.linkedin" href="{{ contact.linkedin }}" target="_blank" ><span class="ion ion-social-linkedin icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.twitter" href="{{ contact.twitter }}" target="_blank" ><span class="ion ion-social-twitter icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.instagram" href="{{ contact.instagram }}" target="_blank" ><span class="ion ion-social-instagram icon-md icon-spacing-right"></span></a>
            <a *ngIf="contact.pinterest" href="{{ contact.pinterest }}" target="_blank" ><span class="ion ion-social-pinterest icon-md icon-spacing-right"></span></a>
          </div>
        </div>
</section>
