<ion-view>
	<ion-nav-title>{{categoryCtrl.category.name}}</ion-nav-title>
	<ion-pane>
		<ion-content class="made-easy-background-image made-easy-background-color">
			<ion-list>
				<ion-item class="category-ion-item card" data-ui-sref="app.item({itemId: item._id})" data-ng-repeat="item in categoryCtrl.items track by $index">
					<div class="row row-wrap category-items animated zoomIn">
						<div class="col col-top"></div>
						<div data-ng-if="item.imageUrl" class="col col col-center">
							<!--<img data-ng-src="img/article/{{item.imageUrl}}" alt="{{item.title}}" />-->
							<img width="100%" height="100%" data-ng-src="{{item.imageUrl}}" alt="{{item.title}}" />
						</div>
						<div class="col col-top"></div>
					</div>

					<div class="category-item-tools col animated zoomIn" data-ng-class="{'col-66' : item.img}">
						<h3 data-ng-bind-html="item.title|trustHtml "></h3>
						<!--<div class="row">-->
						<!--<div class="col col-40"><i class="icon ion-radio-waves"></i>{{item.source}}</div>-->
						<!--<div class="col col-60 right-align item-category"><i class="icon ion-clock"></i>{{item.date | date:'MMM d, y'}}</div>-->
						<!--</div>-->
					</div>
				</ion-item>
			</ion-list>
			<ion-infinite-scroll ng-if="!categoryCtrl.noMoreItemsAvailable" on-infinite="categoryCtrl.loadData()" distance="10%"></ion-infinite-scroll>
		</ion-content>
	</ion-pane>
</ion-view>