<ion-view view-title="">
  <ion-content>
    <h1>Account</h1>
    <form class="std-form">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="" />
        </label>
        <label class="item item-input">
          <input type="tel" placeholder="" />
        </label>
        <label class="item item-input">
          <input type="text" placeholder="" />
        </label>
        <label class="item item-input">
          <input type="text" placeholder="" />
        </label>
      </div>
      <button class="btn btn-positive btn-block">
        <span class="fa fa-pencil-square-o fa-fw"></span>
      </button>
    </form>
  </ion-content>
</ion-view>
