<ion-view view-title="">
  <ion-content>
    <h1>Register</h1>
    <form class="std-form">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input item-stacked-label">
          <input type="password" placeholder="Password">
        </label>
        <label class="item item-input item-stacked-label">
          <input type="password" placeholder="Confirm Password">
        </label>
      </div>
      <button class="button button-full button-positive"><i class="ion-location"></i> Get Location</button>
      <button class="button button-full button-balanced"><i class="ion-compose"></i> Register</button>
    </form>
    <p class="text-center">Already a Member?</p>
    <div class="text-center">
      <a class="user-links" href="#/tab/login"><i class="ion-android-unlock rounded-link"></i> Login</a>
    </div>
  </ion-content>
</ion-view>
