/*custom styles*/
.orderItem{
  margin-top: 50px;
}
.cliente {
  margin-top:5px;
  border: #2b2929 medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color:lavender;
}

/*-----------------------------------------------------------------------------------
	    index
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
  margin:0;
  padding:0;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,button{transition: all .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}

/*#page-loading-blocs-notifaction{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("./assets/images/pageload-spinner.gif") no-repeat center center;}*/

/* = Blocs
-------------------------------------------------------------- */

.bloc{
  width:100%;
  clear:both;
  background: 50% 50% no-repeat;
  padding:0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}

.bloc{
  padding: 0;
}


.bloc .container{
  padding-left:0;
  padding-right:0;
}


/* Sizes */

.bloc-lg{
  padding:100px 50px;
}
.bloc-sm{
  padding:20px 50px;
}



/* Row Margin Offsets */

.voffset{
  margin-top:30px;
}
.voffset-md{
  margin-top:50px;
}
.voffset-lg{
  margin-top:80px;
}

/* Column No Gutters */

.row-no-gutters{
  margin-right:0;
  margin-left:0;
}
.row.row-no-gutters > [class^="col-"],.row.row-no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Bloc text custom styling */

#bloc-3 h2{
  font-size: 25px;
}
#bloc-3 p{
  font-size: 18px;
  line-height: 32px;
}
#bloc-4 h2{
  font-size: 25px;
}
#bloc-4 p{
  font-size: 18px;
  line-height: 32px;
}
#bloc-5 p{
  font-size: 30px;
  line-height: 31px;
}
#bloc-7 h1{
  font-size: 28px;
  line-height: 28px;
}
#bloc-10 h3{
  font-size: 20px;
  line-height: 27px;
}
#bloc-10 p{
  font-size: 17px;
}
#bloc-14 h3{
  font-size: 22px;
}
#bloc-14 p{
  font-size: 16px;
  line-height: 28px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
  margin-bottom: 8px;
}
.navbar-brand{
  height:auto;
  padding:3px 15px;
  font-size:25px;
  line-height:44px;
  width: 100%;
}
.navbar-brand img{
  margin:auto;
  width: 250px;
}
.nav-center .navbar-brand img{
  margin:0;
}
/*.navbar .nav{*/
/*padding-top: 2px;*/
/*margin-right: -16px;*/
/*float:right;*/
/*z-index:1;*/
/*}*/
.nav > li{
  float:left;
  margin: auto 0;
  font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
  text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
  background:transparent;
}
.navbar-toggle{
  border: 0px;
}
.navbar-toggle:hover{
  background:transparent!important;
}
/*.navbar-toggle .icon-bar{*/
/*background-color: rgba(0,0,0,.5);*/
/*width: 26px;*/
/*}*/
/* Inverted navbar */

.nav-invert .navbar .nav{
  float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
  float:right;
  position:relative;
  z-index:2;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    text-align: center;
    padding: 5px !important;
  }
}
@media (min-width: 768px) and  (max-width:908px) {
  .navbar-nav > li > a {
    padding: 5px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .navbar-1{
    display: block;
  }
  .navbar-2{
    display: none !important;
  }
}
@media (max-width: 767px) {
  .navbar-1{
    display: none;
  }
  .navbar-2{
    visibility: visible;
  }
}


@media (min-width: 768px){
  .site-navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
    color:#484848;
  }
  .nav-invert .site-navigation{
    left:0;
    right:0;
  }
  .nav-center{
    text-align:center;
  }
  .nav-center .navbar-header{
    width:100%;
  }
  .nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
    float: none;
    display:inline-block;
  }
  .nav-center .site-navigation{
    position:relative;
    width:100%;
    right:0;
    margin-right:0px;
    margin-top:20px;
  }
  .nav-center.mini-nav .navbar-toggle{
    float:none;
    margin: 10px auto 0;
  }
}
.nav > li > .dropdown a{
  background: none!important;
  display: block;
  padding: 14px 15px;
}

nav .caret{
  margin: 0 5px;
}
/* Dropdown Menus SubMenu */
.dropdown-menu .dropdown-menu{
  top:-8px;
  left:100%;
}
.dropdown-menu .dropmenu-flow-right{
  top:100%;
  left:0;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
  border: 4px solid black;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
  margin: 6px -5px 0 0!important;
  float: right;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
  margin:0;
}
.mg-sm{
  margin-top:10px;
  margin-bottom:5px;
}
.mg-md{
  margin-top:10px;
  margin-bottom:20px;
}
.mg-lg{
  margin-top:10px;
  margin-bottom:40px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn.pull-right{
  margin: 0 0 5px 5px;
}


/* Prevent ugly blue glow on chrome and safari */
button{
  outline: none!important;
}

.btn-rd{
  border-radius: 40px;
}
.a-btn{
  padding: 6px 10px 6px 0;
  line-height: 1.42857143;
  display:inline-block;
}
.text-center .a-btn{
  padding: 6px 0;
}
.a-block{
  width:100%;
  text-align:left;
}
.text-center .a-block{
  text-align:center;
}
.btn .caret{
  margin:0 0 0 5px}.dropdown a .caret{
                     margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
                                        padding: 3px 20px;
                                      }

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
  font-size:18px!important;
}




/* = Panels
-------------------------------------------------------------- */
.panel{
  border:0;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
}

.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
  border-radius:0;
}
.panel-rd{
  border-radius:30px;
}
.panel-rd .panel-heading{
  border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
  border-radius:0 0 29px 29px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
  padding:20px 0;
}
.divider-h span{
  display: block;
  border-top:1px solid transparent;
}
.divider-half{
  width: 50%;
  margin: 0 auto;
}
.dropdown-menu .divider-h,.dropdown-menu .divider-half{
  padding:0;
}


/* = Carousel
-------------------------------------------------------------- */

.carousel{
  display:inline-block;
  vertical-align:bottom;
}
.full-width-bloc .carousel{
  width:100%;
}
.carousel .item img{
  margin-right:auto;
  margin-left:auto;
}
.carousel-control span{
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control{
  color:#FFF!important;
  text-shadow: none;
}
.carousel-indicators li{
  margin: 0 4px;
}
.carousel-indicators .active{
  margin: 0 4px -1px;
}
.carousel-control.left span{
  margin-left:-15px;
}

.no-shadows .carousel-control.left, .no-shadows .carousel-control.right{
  background-image: none;
}


/* ScrollToTop button */

.scrollToTop{
  width:40px;
  height:40px;
  position:fixed;
  bottom:70px;
  right:10px;
  display: none;
  opacity: 0;
  z-index: 500;
  transition: all .3s ease-in-out;
}
.scrollToTop span{
  margin-top: 6px;
}
.showScrollTop{
  font-size: 14px;
  opacity: 1;
  display: block;
}

/* Hide Object */
.object-hidden{
  display:none;
}

/* = Custom Styling
-------------------------------------------------------------- */

.container{
  max-width:1170px;
}
.hero-bloc-text{
  font-size:55px;
}
.hero-bloc-text-sub{
  font-size:36px;
}

.sub-header-text{
  font-size:44px;
  letter-spacing:5px;
  text-transform:uppercase;
  text-decoration:none;
  padding:13px 13px 13px 13px;
}
.spacing1{
  padding:0px 0px 0px 13px;
  height:45px;
  border-style:solid;
  border-width:0px 0px 2px 0px;
  margin-bottom:51px;
  border-color:rgba(255,255,255,0.4);
  font-weight:700 !important;
  margin-top:-20px;
}

.button-circular-radius{
  border-radius:60px 60px 60px 60px;
  text-transform:uppercase;
  padding:10px 15px 10px 15px;
  font-size:16px;
}

.divider{
  background-color:transparent;
  border-color:#112C42;
  padding-top:0px;
  text-shadow:0px 0px 0px #000000;
}

.button-circular-radius-small{
  font-size:14px;
}

.products{
  width:380px;
}
.div{
  width:380px;
  height:380px;
  background-repeat:no-repeat;
  background-position:center top;
  background-size:380px auto;
  padding-top:20px;
  border-style:none;
}
.label{
  background-size:3px auto;
}
label{
  background-size:380px auto;
}
.product-header{
  font-size:28px;
  text-align:center;
  text-shadow:2px 0px 6px rgba(0,0,0,0.3);
}

.div2{
  margin-top:-30%;
}
.margin{
  margin-top:55%;
}
.name-label{
  padding: 15px 5px 0 5px;
  font-size:20px;
  width:100%;
  text-align:center;
}
.price-label{
  padding-left:30px;
  padding-right:30px;
  font-size:18px;
  text-align:center;
  width:100%;
}
.button-margin{
  margin-bottom:10px;
}
.button-outline{
  background-color:#FFFFFF;
  border-style:solid;
}
.dopdown-list{
  width:100%;
  box-shadow:0px 0px 0px rgba(0,0,0,0.0);
  background-clip:padding-box!important;
  -webkit-background-clip:padding-box!important;
  font-size:18px;
}
.dropdown{
  font-size:20px;
}
.rounded-radius-button{
  border-radius:30px 30px 30px 30px;
  padding:10px 15px 10px 15px;
  border-color:#636C84;
  background-color:#636C84;
  font-size:23px;
}
.search{
  font-size:20px;
  display:none;
  padding:20px 20px 20px 28px;
  width:3%;
}
.raw{
  padding: 10px 0px 10px 0px;
}
.heading1{
  font-size:22px;
  width:100%;
  border-radius:6px 6px 6px ;
  padding:12px 12px 12px 12px;
}
.heading-small{
  font-size:22px;
  padding-left:15px;
}
.link1{
  font-size:24px;
  padding:11px 11px 11px 11px;
}
.link-2{
  font-size:20px;
}
.row2{
  margin-top:-9%;
}
.product-detail{
  padding-left:20px;
  padding-right:20px;
  border-color:rgba(217,0,0,0.0);
  border-style:none;
}
.row3{
  padding:10px 10px 40px 10px;
}
.prices-space{
  padding-top:4%;
}
.icon-2{
  padding-right:0px;
  margin:29px 0px 0px 30px;
}
.panel-detail{
  margin-top:20px;
}
.social-media-details{
  margin-top:10px;
  padding-right:30%;
}
.social-media-details-heading{
  margin-top:8%;
}
.social-header{
  padding-left:0px;
  margin-top:13px;
  margin-left:80px;
}

/* = Mobile adjustments
-------------------------------------------------------------- */
@media (max-width: 1120px)
{
  .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) and (min-width: 768px)
{
  .nav-center.navbar .nav{
    max-width:100%
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.b-parallax{background-attachment:scroll;}}
@media (max-width: 991px)
{
  .container{width:100%;}
  .b-parallax{background-attachment:scroll;}
  .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
  .bloc-group, .bloc-group .bloc{display:block;width:100%;}
  .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{padding-left: 10px;padding-right: 10px;}
}
@media (max-width: 767px)
{
  .page-container{
    overflow-x: hidden;
    position:relative;
  }
  h1,h2,h3,h4,h5,h6,p,#disqus_thread{
    padding-left:10px!important;
    padding-right:10px!important;
  }
  #hero-bloc h1{
    font-size:40px;
  }
  #hero-bloc h2{
    font-size:34px;
  }
  #hero-bloc h3{
    font-size:25px;
  }
  .b-parallax{
    background-attachment:scroll;
  }
  .navbar .nav{
    padding-top: 0;
    border-top:1px solid rgba(0,0,0,.2);
    float:none!important;
  }
  .navbar.row{
    margin-left: 0;
    margin-right: 0;
  }
  .site-navigation{
    position:inherit;
    transform:none;
    -webkit-transform:none;
    -ms-transform:none;
  }
  .nav > li{
    margin-top: 0;
    border-bottom:1px solid rgba(0,0,0,.1);
    background:rgba(0,0,0,.05);
    text-align: left;
    padding-left:15px;
    width:100%;
  }
  .nav > li:hover{
    background:rgba(0,0,0,.08);
  }
  .dropdown .dropdown a .caret{
    float: none;
    margin: 5px 0 0 10px!important;
    border: 4px solid black;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
  }



  .hero{
    padding:50px 0;
  }
  .hero-nav{
    left:-1px;
    right:-1px;
  }
  .navbar-collapse{
    padding:0;
    overflow-x: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-brand img{
    width:auto;
    margin: auto;
  }
  .nav-invert .navbar-header{
    float: none;
    width:100%;
  }
  .nav-invert .navbar-toggle{
    float:left;
  }
  .bloc{
    padding-left: 0;
    padding-right: 0;
  }
  .bloc-sm {
    padding: 0;
  }
  .bloc-xxl,.bloc-xl,.bloc-lg{
    padding: 40px 0;
  }
  .bloc-sm,.bloc-md{
    padding-left: 0;
    padding-right: 0;
  }
  .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
    padding-left:0;padding-right:0;
  }
  .a-block{
    padding:0 10px;
  }
  .btn-dwn{
    display:none;
  }
  .voffset{
    margin-top:0px;
  }
  .voffset-md{
    margin-top:20px;
  }
  .voffset-lg{
    margin-top:30px;
  }
  form{
    padding:5px;
  }
  .close-lightbox{
    display:inline-block;
  }
  .video-bg-container{
    display:none;
  }
  .blocsapp-device-iphone5{
    background-size: 216px 425px;
    padding-top:60px;
    width:216px;
    height:425px;
  }
  .blocsapp-device-iphone5 img{
    width: 180px;
    height: 320px;
  }
}

@media (max-width: 400px)
{
  .bloc{
    padding-left: 0;
    padding-right: 0;
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
@media (max-width: 767px){
  .bloc-mob-center-text{
    text-align:center;
  }
  .blocs-team-avatar{
    max-width:280px;
  }
  .blocs-team-header{
    text-align:center;
  }
  .blocs-team-details{
    text-align:center;
  }
  .blocs-team-first-social{
    margin-left:41%;
  }
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background: #666;
}

/* added by .sanira */
p img{
  width:100%;
  margin-bottom: 5%;
}
.desc p{
  margin: 0 !important;
  line-height: normal !important;
}
.desc p:last-child{
  margin-bottom: 15% !important;
}

