<span>
	<div class="profile-box">
		<div >
			<img ng-src="{{imageURL}}/{{requestDetail.imageUrl}}" width="100%" height="auto"/>
		</div>
		<div class="profile-content">
			<div class="animated rubberBand item-name" >
				<div class="made-easy-header-font">{{requestDetail.name}}</div>
			</div>
			<div class="animated zoomIn">
				<div class="made-easy-content-font">{{requestDetail.detailedDesc}}</div>
			</div>
			<div class="row">
				<div class="col2 font-size:12px ">Size</div>
				<div class="col2 font-size:12px">Price</div>
				<div class="col2 font-size:12px">Qty</div>
			</div>
			<div class="row">
				<select ng-model="selectedVariant"
						ng-options="variant.size  for variant in requestDetail.variants"
						ng-change="changeVariant(selectedVariant)">
				</select>
				<div style="font-size:12px; width:1000px;">
					{{currency.sign}} : {{selectedVariant.price}}
				</div>
					<div>
					<input type="number"
						   class="item-buy-quantity"
						   ng-model="selectedVariant.buyQuantity">
				</div>
			</div>
			<div class="row">
				<p class="animated zoomIn item-error-message"
				   ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity != 1">
					Please enter a quantity of {{selectedVariant.quantity}} or less.
				</p>
				<p class="animated zoomIn item-error-message"
				   ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity == 1">
					Please enter a quantity of {{selectedVariant.quantity}}.
				</p>
			</div>
		</div>
	</div>
	<div ng-show="footerSecondary" class="bar bar-standard bar-footer-secondary">
		<button ng-click="qtyMinus()" class="btn btn-positive pull-left"><span class="fa fa-minus fa-lg"></span></button>
		<h1 class="title pull-center">
			{{'load.detail.Quantity' | translate}} {{itemCount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</h1>
		<button ng-click="addItem(showData)" class="btn btn-negative pull-right" translate>load.detail.BtnOrder</button>
		<!--<div class="total-footer pull-right">Total : {{ itemCount * showData.menu_price | currency }}</div>-->
		<button ng-click="qtyPlus()" class="btn btn-positive pull-right"><span class="fa fa-plus fa-lg"></span></button>
	</div>
</span>