<ul class="cardss grid">
    <li ng-repeat="showData in requestData" ng-click="link(showData.id,
    showData.productName)" class="cards-item">
        <img class="media-object pull-left" width="64" height="64" ng-src="{{serviceApi}}templates/viewImages?img=thirdNavi/{{showData.imageUrl }}&userId={{userId}}&appId={{appId}}">
        <span class="cards-name">
		  <div class="made-easy-header-font">{{showData.name}}</div>
		</span>
        <div class="pulls-right">
            <span class="cards-progress">
			<span class="cards-progress-labels">
			  <span class="cards-price">
				<button class="btn btn-primary">{{showData.price | currency:requestCurrency}}</button>
			  </span>
            </span>
            </span>
            <span class="cards-end-date pull-left">
			  <div class="made-easy-content-font">{{showData.name}}</div>&nbsp;&nbsp;
		   </span>
            <span class="cards-stage" ng-if=" showData.menu_disc!=0">-{{showData.menu_disc}}%
		  </span>
        </div>
    </li>
</ul>
