<ion-view view-title="{{menuName}}">
  <ion-content class="made-easy-background-image made-easy-background-color">
        <a ng-repeat="food in foods" ng-click="navigateFood(food)">
            <div class="card animated zoomIn">
                <div class="padding">
                    <img width="100%" ng-src="{{imageURL}}/{{food.imageUrl}}">
                </div>
                <div class="row item item-text-wrap">
                   <div class="col">
                       <div class="made-easy-header-font">{{food.name}}</div>
                       <span class="made-easy-content-font">{{currency.sign}} {{food.variants[0].price}}  </span>
                   </div>
                    <button class="button button-icon col col-20 add-to-cart">
                        <i class="made-easy-content-font icon ion-ios-cart-outline"></i>
                        <i class="made-easy-content-font icon ion-ios-plus-empty"></i>
                    </button>
                </div>
           </div>
        </a>
    </ion-content>
</ion-view>
