<md-dialog aria-label="publish-article">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>publish an article</h1>
        </div>
        <form name="articleForm" novalidate>
        <div class="md-dialog-main clearfix">

            <fieldset>
                <label>Article Category</label>
                    <select ng-model="articleCat.value"
                            ng-options="v.id as v.name for v in articleCat.values"
                            ng-change="changeArticleCat(articleCat.value)">
                    </select>
            </fieldset>
            <fieldset>
                <label>Title</label>
                <input type="text" name="title" ng-pattern="/^[a-zA-Z0-9_ ]*$/" ng-model="article.title" required />
                <br />
                <span ng-show="articleForm.title.$error.pattern">No symbols</span>
                <div ng-hide="article.title.length > maxArticleTitle">
                    <span>Characters left: {{maxArticleTitle - article.title.length}}</span>
                </div>
                <div  ng-show="article.title.length > maxArticleTitle">
                    <span>Characters left: </span> <span style="color: #ff0404 "> {{maxArticleTitle - article.title.length}} </span>
                </div>
            </fieldset>
            <span ng-show="articleForm.title.$error.maxlength">Too lengthy</span></td>
            <fieldset class="col-2">
               <!-- <div class="md-dialog-header">
                    <h1>Upload Image</h1>
                </div>-->

                <!--<div class="md-dialog-main">-->
                    <div class="file-upload-wrapper clearfix">
                        <p class="file-upload-msg" style="font-size:16px;">Crop your image</p>
                        <div class="pull-left">
                            <input  class="pull-left" type="file" ng-click = "cropImage()" id="fileInput" />
                        </div>
                        <div class="cropArea">
                            <img-crop area-type="square" image="myImage" result-image="picFile"></img-crop>
                        </div>
                    </div>

                    <div class="uploaded-section pull-left clearfix">
                        <div class="uploaded-new-image">
                            <br>
                            <img ng-if="picFile == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                 height="150" style="display:none" />
                            <img ng-if="picFile != null" ngf-src="picFile" width="150" height="150" style="display:none" />

                            <button class="me-upload-image-button" ng-click="addImage(picFile)">Upload Image
                            </button>
                        </div>
                        <div class="uploaded-old-images">
                            <p>Uploaded Product Images</p>
                            <div class="old-images clearfix">
                                <div class="old-image">
                                    <input type="button" ng-click="deleteImg(0)" value='delete'
                                           class="image-delete-button"/>
                                    <img ng-click="setImage()" ng-if="tmpImage[0] == null"
                                         src="../../../images/small-placeholder.png" width="80" height="80"/>
                                    <img ng-click="setImage(0)" ng-if="tmpImage[0] !== null" ngf-src="tmpImage[0]"
                                         width="80" height="80"/>
                                </div>
                            </div>
                        </div>
                    </div>
               <!-- </div>-->
            </fieldset>

            <fieldset class="pull-left">
                <label>Text</label>
                <trix-editor class="textEditor" name="editorText" ng-maxlength="200" angular-trix ng-model="article.desc"></trix-editor>
                <label class="desc">Description</label>
            </fieldset>
            <fieldset style="margin-bottom:0px;">
            <span ng-show="articleForm.editorText.$error.maxlength">Too lengthy</span></td>
            </fieldset>
        </div>
        </form>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                <md-button class="me-default-button" ng-click="publishArticle(mainImg,article)">Publish</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>