<md-dialog aria-label="publish-article">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>publishing an article</h1>
        </div>

        <div class="md-dialog-main clearfix">

            <fieldset>
                <label>Article Category</label>
                    <select ng-model="articleCat.value"
                            ng-options="v.id as v.name for v in articleCat.values"
                            ng-change="changeArticleCat(articleCat.value)">
                    </select>
            </fieldset>
            <fieldset>
                <label>Title</label>
                <input type="text" name="title" ng-model="article.title" required />
            </fieldset>
            <fieldset class="col-2">
                <label>Images</label>
                <form class="pull-right" name="productForm" novalidate>
                    <div class="me-file-upload regular">
                        <div class="upload-wrapper">
                            <input type="button" ngf-select ng-model="picFile" ngf-accept="image/*" aria-invalid="true" ngf-change="addImage(picFile)" required />
                            <span >Browse Images</span>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <br>
                <div class="uploaded-old-images">

                    <div class="old-images clearfix">
                        <div class="old-image">
                            <input type="button" ng-click="deleteImg(0)" value='delete' class="image-delete-button" />
                                <img ng-click="setImage()" ng-if="picFile == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                <img ng-click="setImage(0)" ng-if="picFile != null" ngf-src="picFile" width="80" height="80" />
                                <!--<img ng-click="setImage(0)" ng-if="tmpImage[0] !== null" ngf-src="tmpImage[0]"  width="80" height="80" />-->
                        </div>
                            <!--<div class="old-image">-->
                                <!--<input type="button" ng-click="deleteImg(1)" value='delete' class="image-delete-button" />-->
                                <!--<img ng-click="setImage()" ng-if="picFile2 == null" src="../../../images/small-placeholder.png" width="80" height="80" />-->
                                <!--<img ng-click="setImage(1)" ng-if="picFile2!== null" ngf-src="picFile2"  width="80" height="80" />-->
                            <!--</div>-->
                        </div>
                    </div>
            </fieldset>

            <fieldset class="col-1 reset-margin-right">
                <label>Preview</label>
                <br>
                <div class="image pull-left">
                    <img ng-if="picFile == null" ng-src="../../../images/medium-placeholder.png" width="150" height="150" />
                    <img ng-if="picFile != null" ngf-src="picFile" width="250" height="150" />
                </div>
            </fieldset>

            <fieldset class="pull-left">
                <label>Text</label>
                <trix-editor angular-trix ng-model="article.desc"></trix-editor>
            </fieldset>
        </div>

        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                <md-button class="me-default-button" ng-click="publishArticle(mainImg,article)">Publish</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>