<md-dialog aria-label="Push Message">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>Categories</h1>
            <ul class="md-dialog-header-nav clearfix">
                <li>
                    <a class="add-new-item" ng-click="addCategoryDialog('categories')">Add New Category</a>
                </li>
            </ul>
        </div>
        <div class="md-dialog-main clearfix">
            <table class="table">
                <thead>
                <th class="checkbox-column"><input type="checkbox" /></th>
                <th class="message-column">Category Name</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr ng-repeat="data in categoryList">
                    <td class="checkbox-row"><input type="checkbox" /></td>
                    <td ng-model="data.name">{{data.name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <a ng-click="deleteCategory(data.id)">Delete</a>/
                        <a ng-click="editCategoryDialog(data)">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>

            </div>
        </div>
    </md-dialog-content>
</md-dialog>