<md-dialog aria-label="Edit Child Menu" style="height: 600px">
    <md-dialog-content>
        <section class="af-wrapper">
            <h1>Edit Child Menu</h1><br/>
            <form class="af-form" name="catForm" novalidate>
                <fieldset>
                    <label for="input-title">Name</label>
                    <input type="text" name="name" ng-model="child.name" id="input-title" required />
                    <i ng-show="catForm.name.$error.required">*required</i>
                </fieldset>
                <fieldset>
                    <label for="input-title">Description</label>
                    <input type="text" name="desc" ng-model="child.desc" id="input-des" required />
                    <i ng-show="catForm.desc.$error.required">*required</i>
                </fieldset>
                <fieldset>
                    <label>Main Menu</label>
                    <md-select class="" placeholder="Select Main Menu" ng-model="child.mainId">
                        <md-option ng-value="mainMenu.id" ng-repeat="mainMenu in mainMenus">{{mainMenu.name}}</md-option>
                    </md-select>
                </fieldset>
                <!--class="profile-image-section"-->
                <fieldset class="profile-image-section">
                    <label class="reset-inline">Child Menu Image</label>
                    <a class="feature01 reset-margin">
                            <span class="overlay01">
                                <span class="caption01">
                                    <input type="button" ng-click="editChildImage(child.imageUrl,child)" value="Change Image" class="me-default-button" />
                                </span>
                            </span>
                        <img ng-src="{{imageURL}}&img=categories/{{child.imageUrl}}" width="120" height="120" />
                    </a>
                </fieldset>
                <fieldset class="text-right reset-margin">
                    <button class="me-default-button" ng-disabled="!catForm.$valid" ng-click="updateChild(child)">Edit</button>
                </fieldset>
            </form>
        </section>
    </md-dialog-content>

    <div class="dialog-controls clearfix">
        <md-button ng-click="cancelChild()">Cancel</md-button>
        <md-button ng-click="childFinish()">Ok</md-button>
    </div>
</md-dialog>