<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">{{foodInfo.name}}</h1>
        <div class="buttons">
            <button class=" button button-clear ion-close-round" ng-click="closeItem()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="made-easy-background-color">
        <div class="row">

            <div class="col">
                <ion-slide-box options="sliderOptions" slider="sliderDelegate" show-pager="false">
                    <ion-slide ng-repeat="image in images">
                        <img width="100%" ng-src="{{image.img}}" >
                    </ion-slide>
                </ion-slide-box>

                <h4>Description</h4>
                <div class="left col made-easy-content-font">
                    {{foodInfo.detailedDesc}}
                </div>
            </div>
        </div>
        <div class="row">
            <label class="item item-input">
                <div class="input-label">
                    Price - {{currency.sign}} {{selectedVariant.price}}
                </div>
            </label>
            <label class="item item-input">
                <div class="col input-label">
                    <input type="number" min="1"
                           class="item-buy"
                           placeholder="Quantity"
                           ng-model="selectedVariant.buyQuantity"
                           ng-change="changeBuyQuantity(selectedVariant.buyQuantity)">

                </div>
            </label>

        </div>
        <div class="col">
            <label class="col item item-input item-select" ng-if="foodInfo.selection[0]">
                <div class="input-label">
                    {{foodInfo.selection[0].name}}
                </div>
                <select ng-model="selectedVariant"
                        ng-options="variant.vType  for variant in selection |unique:'vType' "
                        ng-change="changeVariant(selectedVariant)">
                </select>
            </label>
            <label class="col item item-input item-select" ng-if="foodInfo.selection[1]">
                <div class="input-label">
                    {{foodInfo.selection[1].name}}
                </div>
                <select ng-model="selectedVariant1"
                        ng-options="variant.vType  for variant in selection1 |unique:'vType' "
                        ng-change="changeVariant2(selectedVariant1)">
                </select>
            </label>
            <label class="col item item-input item-select" ng-if="foodInfo.selection[2]">
                <div class="input-label">
                    {{foodInfo.selection[2].name}}
                </div>
                <select ng-model="selectedVariant3"
                        ng-options="variant.vType  for variant in selection2 |unique:'vType' "
                        ng-change="changeVariant3(selectedVariant3)">
                </select>
            </label>
            <label class="col item item-input item-select" ng-if="foodInfo.selection[3]">
                <div class="input-label">
                    {{foodInfo.selection[3].name}}
                </div>
                <select ng-model="selectedVariant4"
                        ng-options="variant.vType  for variant in selection3 |unique:'vType' "
                        ng-change="changeVariant4(selectedVariant4)">
                </select>
            </label>
        </div>

        <!-- Buy Qty error message -->
        <div class="row text-center">
            <!-- Product not available in store -->
            <div class="col" ng-if="selectedVariant.quantity == 0">
                        <span class="animated zoomIn item-error-message">
                            Product not available
                        </span>
            </div>
            <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
            <div class="col" ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity > 1">
                        <span class="animated zoomIn item-error-message">
                            Please enter a quantity of {{selectedVariant.quantity}} or less.
                        </span>
            </div>
            <div class="col" ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity == 1">
                        <span class="animated zoomIn item-error-message">
                            Please enter a quantity of {{selectedVariant.quantity}}.
                        </span>
            </div>
        </div>
        <!-- Buy Button -->
        <div class="row center">
            <div class="col col-top"> </div>
            <div class="col col-67 col-center">
                <button class="button button-raised  made-easy-button-setting"
                        ng-disabled="isBuyBtnDisable || !selectedVariant.buyQuantity"
                        ng-click="addToCart()">
                    Add to cart
                </button>
            </div>
            <div class="col col-bottom"> </div>
        </div>

        </div>
    </ion-content>
</ion-modal-view>
