<ion-view class="made-easy-background-image made-easy-background-color" view-title="Payment">
    <ion-content class="ion-list">
        <div class="card payment">
            <form>
                <ion-checkbox ng-show="deliveryShow" ng-model="payment.type"  class="checkbox-positive" ng-true-value="'cashOnDelivery'">
                    <h3>Cash On Delivery</h3>
                </ion-checkbox >

                <ion-checkbox ng-show="pickupShow" ng-model="payment.type"  class="checkbox-positive" ng-true-value="'cashOnPickup'">
                    <h3>Cash On Pickup</h3>
                </ion-checkbox >

                <ion-checkbox ng-show="paypalShow" ng-model="payment.type"  class="checkbox-positive" ng-true-value="'paypal'">
                    <h3>Pay Pal</h3>
                </ion-checkbox >

                <ion-checkbox ng-show="stripeShow"  ng-model="payment.type"  class="checkbox-positive" ng-true-value="'creditcard'">
                    <h3>Stripe</h3>
                </ion-checkbox >

                <ion-checkbox ng-show="braintreeShow"  ng-model="payment.type"  class="checkbox-positive" ng-true-value="'braintree'">
                    <h3>Braintree</h3>
                </ion-checkbox >

                <ion-checkbox ng-show="authorizeNet"  ng-model="payment.type"  class="checkbox-positive" ng-true-value="'authorizeNet'">
                    <h3>AuthorizeNet</h3>
                </ion-checkbox >
                <ion-checkbox ng-change="openAppBrowser()" ng-show="payHere"  ng-model="payment.type"  class="checkbox-positive" ng-true-value="'payHere'">
                    <h3>PayHere</h3>
                </ion-checkbox >

            </form>

            <div class="card-form list padding-right" ng-if="payment.type == 'creditcard'">
                <form name="paymentForm" ng-submit="makeStripePayment(card)">
                    <span class="col input-label">Select Card Type*</span>
                    <div class="row cards-list">
                        <ion-checkbox  ng-model="card.cardType" ng-class="card.cardType == 'visa' ? 'selected' : ''" class="checkbox-positive" ng-true-value="'visa'">
                            <img src="img/visa.png">
                        </ion-checkbox >
                        <ion-checkbox ng-model="card.cardType" ng-class="card.cardType == 'mastercard' ? 'selected' : ''" class="checkbox-positive" ng-true-value="'mastercard'">
                            <img width="75px" src="img/Mastercard.png">
                        </ion-checkbox >
                        <ion-checkbox  ng-model="card.cardType" ng-class="card.cardType == 'amex' ? 'selected' : ''" class="checkbox-positive" ng-true-value="'amex'">
                            <img src="img/amex.png">
                        </ion-checkbox >
                    </div>
                    <!--<select placeholder="Card type" ng-model="card.cardType" ng-options="type for type in ['Visa', 'American Express', 'MasterCard']"></select>-->

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Charge Amount</span>
                        <input placeholder="Charge Amount" type="text" ng-model="card.amount" ng-disabled="true" name="cardAmount" >
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Name on card</span>
                        <input placeholder="Name on card*" type="text" ng-model="card.userName" name= >
                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Card Number</span>
                        <input placeholder="Card Number*" type="text" ng-model="card.number" name="cardNumber" cc-number cc-type="card.cardType" >
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Card CVC</span>
                        <input placeholder="Card CVC*" type="text" ng-model="card.cvc" cc-type="cardNumber.$ccType">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Expiration Date:</span>
                        <!-- <div cc-exp>
                          <input ng-model="card.exp_month" cc-exp-month style="height:30px;width:50px;border:1px solid grey; text-align:center" />
                          <input ng-model="card.exp_year" cc-exp-year style="height:30px;width:50px;border:1px solid grey; text-align:center" />
                        </div> -->
                        <div class="list row">
                            <label class="col col-33 item item-input ">
                                <span class="input-label item-stacked-label">Month :</span>
                                <input placeholder="06" type="text" ng-model="card.exp_month" ng-model="card.number">
                            </label>
                            <div class="col col-20"></div>
                            <label class="col col-33 item item-input item-stacked-label">
                                <span class="input-label">Year :</span>
                                <input placeholder="2016" type="text" ng-model="card.exp_year" ng-model="card.number" >
                            </label>
                        </div>
                    </label>
                    <div class="row">
                        <div class="col col-top"></div>
                        <button type="submit" class="col col-67 button button-raised  made-easy-button-setting">MAKE PAYMENT</button>
                        <div class="col col-top"></div>
                    </div>
                    <!--
                    <p ng-show="paymentForm.cardNumber.$error.ccNumberType">That's not a valid {{card.cardType}}</p>
                    <p ng-show="paymentForm.$invalid">That's not a valid Card Information</p>
                  --><!--
                            <pre style="font-size:smaller">{{paymentForm}}</pre>
                            <pre style="font-size:smaller">{{card | json}}</pre>
                            <pre style="font-size:smaller">{{cardNumber | json}}</pre>
                    -->
                </form>
            </div>
            <div class="card-form list padding-right" ng-if="payment.type == 'authorizeNet'">
                <form name="paymentForm" ng-submit="authorizeCreditCard(card)">
                    <span class="col input-label">Select Card Type*</span>
                    <div class="row cards-list">
                        <ion-checkbox  ng-model="card.cardType" ng-class="card.cardType == 'Visa' ? 'selected' : ''" class="checkbox-positive" ng-true-value="'Visa'">
                            <img src="img/visa.png">
                        </ion-checkbox >
                        <ion-checkbox ng-model="card.cardType" ng-class="card.cardType == 'MasterCard' ? 'selected' : ''" class="checkbox-positive" ng-true-value="'MasterCard'">
                            <img width="75px" src="img/Mastercard.png">
                        </ion-checkbox >
                        <ion-checkbox  ng-model="card.cardType" ng-class="card.cardType == 'AmericanExpress' ? 'selected' : ''" class="checkbox-positive" ng-true-value="'AmericanExpress'">
                            <img src="img/amex.png">
                        </ion-checkbox >
                    </div>
                    <!--<select placeholder="Card type" ng-model="card.cardType" ng-options="type for type in ['Visa', 'American Express', 'MasterCard']"></select>-->

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Charge Amount</span>
                        <input placeholder="Charge Amount" type="text" ng-model="card.amount" ng-disabled="true" name="cardAmount" >
                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Card Number</span>
                        <input placeholder="Card Number*" type="text" ng-model="card.number" name="cardNumber" cc-number cc-type="card.cardType" >
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Card CVC</span>
                        <input placeholder="Card CVC*" type="text" ng-model="card.cvc" cc-type="cardNumber.$ccType">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Expiration Date:</span>
                        <!-- <div cc-exp>
                          <input ng-model="card.exp_month" cc-exp-month style="height:30px;width:50px;border:1px solid grey; text-align:center" />
                          <input ng-model="card.exp_year" cc-exp-year style="height:30px;width:50px;border:1px solid grey; text-align:center" />
                        </div> -->
                        <div class="list row">
                            <label class="col col-33 item item-input ">
                                <span class="input-label item-stacked-label">Month :</span>
                                <input placeholder="06" type="text" ng-model="card.exp_month" ng-model="card.number">
                            </label>
                            <div class="col col-20"></div>
                            <label class="col col-33 item item-input item-stacked-label">
                                <span class="input-label">Year :</span>
                                <input placeholder="2016" type="text" ng-model="card.exp_year" ng-model="card.number" >
                            </label>
                        </div>
                    </label>
                    <div class="row">
                        <div class="col col-top"></div>
                        <button type="submit" class="col col-67 button button-small button-block made-easy-button-setting">MAKE PAYMENT</button>
                        <div class="col col-top"></div>
                    </div>
                    <!--
                    <p ng-show="paymentForm.cardNumber.$error.ccNumberType">That's not a valid {{card.cardType}}</p>
                    <p ng-show="paymentForm.$invalid">That's not a valid Card Information</p>
                  --><!--
                            <pre style="font-size:smaller">{{paymentForm}}</pre>
                            <pre style="font-size:smaller">{{card | json}}</pre>
                            <pre style="font-size:smaller">{{cardNumber | json}}</pre>
                    -->
                </form>
            </div>

            <div class="card-form list padding-right" ng-if="payment.type == 'braintree'">
                <div ng-show="step == 'verification'">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Cardholder name" ng-model="card.cardholder">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Number" ng-model="card.number">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="CVV" ng-model="card.cvv">
                        </label>

                        <label class="item item-input">
                            <span class="input-label">Expire month</span>
                            <input type="text" placeholder="mm" ng-model="card.expiration_month">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Expire year</span>
                            <input type="text" placeholder="yy" ng-model="card.expiration_year">
                        </label>
                    </div>
                    <div class="padding">
                        <button class="button button-block button-positive" ng-click="saveCard(card)" ng-disabled="!ready">Save</button>
                    </div>
                </div>


                <div ng-show="step == 'checkout'">
                    <span class="made-easy-content-font">{{currency}} : {{amount}}  </span>
                    <div class="padding">
                        <button class="button button-block button-positive" ng-click="pay()" ng-disabled="!ready">Pay</button>
                    </div>
                </div>

                <div ng-show="step == 'done'">
                    <p>Transaction completed with transaction id: {{ transactionId }}</p>
                </div>
            </div>
            <form name="cashPaymentFrom" novalidate>
                <div class="card-form list padding-right" ng-if="payment.type == 'cashOnPickup' || payment.type == 'cashOnDelivery'">
                    <span class="col input-label" ng-if="payment.type == 'cashOnDelivery'">Confirm payment by cash on delivery</span>
                    <span class="col input-label" ng-if="payment.type == 'cashOnPickup'">Confirm payment by cash on pickup</span>
                    <div class="row cart-buttons">
                        <div class="col-33"></div>
                        <button class="button button-block button-small made-easy-button-setting" ng-click="confirmCashPayment()" >Confirm</button>
                    </div>
                </div>

            </form>
            <form name="cashPaymentFrom" novalidate>
                <div class="card-form list padding-right" ng-if="payment.type == 'paypal'">
                    <div class="row cart-buttons">
                        <div class="col-33"></div>
                        <button class="button button-raised  made-easy-button-setting" ng-click="buyWithPayPal()" >Buy with PayPal</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>