
<img *ngIf="categories" class="banner-cat" src="{{imageUrl}}/{{categories.imageUrl}}" width="100%" />


<!-- bloc-4 -->
<div class="bloc bgc-white l-bloc bloc-md" id="bloc-4">
	<div class="container">
		<div class="hidden-xs hidden-sm row content-row">
			<div class="col-sm-12">
				<h2 class="header text-center  main-header-font">
					New Arrivals
				</h2>
			</div>
		</div>
		<div class="row voffset row-bottom- row-mobile none animDelay02">
			<div *ngIf = "categories">
				<a  class="col-sm-4" *ngFor="let prod of categories.products;" [routerLink]="['/product', prod.name, prod.id]">
					<img src="{{imageUrl1}}/{{prod.tempImageArray[prod.defaultImage].img}}" class="img-responsive lazyload" />
					<h3 class="mg-md product-name text-center main-content-font">
						<strong>{{prod.name}}</strong>
					</h3>
					<div *ngIf = "!checkForPromo(prod)" class="text-center product-content productPromo main-content-font">
						Price - {{currency}} {{prod.variants[0].price| number: '.2'}}
					</div>
					<div *ngIf = "checkForPromo(prod)" class="text-center product-content productPromo main-content-font">
						<h6 style ="margin-top:0px;margin-bottom:5px">Regular Price - <strong style="text-decoration: line-through">{{currency}} {{prod.variants[0].price| number: '.2'}}</strong></h6>
						<h5 style ="margin-top:0px;margin-bottom:5px">Cash Price - <strong >{{currency}} {{getDiscountPrice(prod.variants[0].sku,prod.variants[0].price)| number: '.2'}}</strong></h5>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="text-center" *ngIf="!checkSoldOut(prod)">
								<a [routerLink]="['/product', prod.name, prod.id]" class="btn btn-d btn-lg main-button btn-block"><span class="feather-icon icon-paper icon-spacer"></span>Details</a>
							</div>
							<div  class="text-center" *ngIf="checkSoldOut(prod)" class="text-center button-margin">
								<h4 href="#" class="text-warning">Sold Out!</h4>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div *ngIf = "showComingSoon">
				<h1 style="text-align: center;">COMING SOON!</h1>
			</div>


		</div>
	</div>
</div>
<!-- bloc-4 END -->
