/* Empty. Add your own CSS if you like */

.bar.bar-white{
    background-color: #fff;
    background-image: none;
    border-color: #fff;
    color: #444;
    cursor: url(../img/cursor.cur), auto;
}

.button-toggle{
    box-shadow: none;
    color: #444;
    cursor: url(../img/cursor.cur), auto;
}

.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius:6px !important;
}

.button.button-positive {
    cursor: url(../img/cursor.cur), auto;
}


.item-complex .item-content, .item-radio .item-content {
    background-color:transparent;
    padding: 8px 0 8px 30px;
}


ion-side-menu .list{
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

ion-side-menu .list .activated{
    background:transparent !important;
}


.bar.bar-stable .title {
    color: #75A3B8 !important;
    font-family:"Times New Roman", Times, serif;
    cursor: url(../img/cursor.cur), auto;
}

.bar .title{
    cursor: url(../img/cursor.cur), auto;
}

.cards{
    max-width: 100%;
    border-radius:5px;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    2px 4px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         2px 4px 5px 0px rgba(50, 50, 50, 0.25);
    background-color: #fff;
    float: left;
    width:100%;
}

.res-nav .col-50{
    padding:3%;
}


.bar .buttons-right span {
    cursor: url(../img/cursor.cur), auto;
    margin-left:0;
}

label {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
    color:#666;
}

.button-calm {
    cursor: url(../img/cursor.cur), auto;
}

.padding .card, .padding .list-inset {
    margin-left: 0;
    margin-right: 0;
}


.side-menu-image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100vh;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.popup-title {
    font-size:4vh;
    padding-bottom:1em;
}

.popup-sub-title, .popup-body label{
    font-size:2.5vh;
    line-height: normal;
.pickup-checkbox
}



.swiper-slide{
    text-align:center;
}

ion-header-bar button{
    border: 0;
    background-color:transparent !important;
}

.swiper-container-horizontal > .swiper-pagination {
    display: none;
}

.content{
    padding: 5px;
}

.description {
    height:17vh;
}

.swiper-button-next, .swiper-button-prev{
    background :unset !important;
}

.order-item-slide .swiper-button-next {
    top: 25%;
    right: -2px;
}

.order-item-slide .swiper-button-prev {
    top: 25%;
    left: 20px;
}

.cart-item-header {
    text-transform:uppercase;
    font-size: 2.4vh;
    text-align: center;
    letter-spacing: 1px;
}

.shopping-cart-header{
    font-size:2.6vh;
    color: #a0a0a0;
}

.shopping-cart-items{
    font-size:2.8vh;
    color: #a0a0a0;
}

.shopping-cart-total{
    font-size:2.8vh;
    color: #000;
}

.cartItems p {
    text-align: left;
}

.cart-buttons button {
    margin: auto 3px;
}

.back-button {
    left: 3%;
}


ion-item .item.item-complex {
    background: transparent;
    border-color: transparent !important;
    text-transform: capitalize;
    line-height: 7vh;
}

.item-checkbox{
    padding:10px 5px 10px 50px;
    width:100%;
    border:0;
}

button {
    text-transform: uppercase;
    letter-spacing: 2px;

}

.bar-header {
    border-bottom-width: 0px;
}

.bar {
    background-color:unset;
}

/*helper classes*/
.align-left{
    text-align:left;
}

.align-right{
    text-align:right;
}

.align-center{
    text-align:center;
}

div {
    line-height: normal;
}

/* Delivery page */
.delivery-details .item-checkbox .checkbox{
     zoom: 0.7;
     top: 38px;
     left: -56px;
    position: relative;
    -moz-transform-origin: center right;
    -moz-transform: scale(0.6);

}

.delivery-details .item-content{
    white-space:normal;
}

.delivery-details .delivery-form{
    zoom: 0.7;
    padding-left: 26px;
}

.delivery-details .delivery-form label{
    padding-left:0;
    border: 0;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}


/*Payment Page*/
.payment label{
    padding-left: 57px;
}

.payment .card-form label{
    padding-left:5px;
    border: 0;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}

.payment .card-form{
    zoom: 0.7;
    padding-left: 17px;
}

.payment .item-checkbox .checkbox{
    zoom: 0.7;
    -moz-transform-origin: left;
    -moz-transform: scale(0.6);

}

.payment .cards-list img{
    opacity:0.4;
}

.payment .cards-list .selected img{
    opacity:1
}

.payment .cards-list i {
    display:none;
}

.payment .item.item-input input{
    padding-right:0;
}

/*Pickup page styles*/

.pickup .item-checkbox .checkbox{
    zoom: 0.6;
    top:16%;
}

.pickup h3{
    margin-bottom:0;
    padding-bottom:0;
}

.pickup .content{
    zoom:0.8;
    line-height:normal;
    color:#868686;
}

.pickup label {
    padding-left: 30px;
}

.signbutton
{

    font-size: 9px;
}

.margin {
    margin : 5px;
}
.title-image {
    margin-left: 20%;
}
/* Remove controls from Firefox , Chrome, safari*/

.removeAr input[type=number]::-webkit-inner-spin-button,
.removeAr input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.removeAr input[type=number] {
  -moz-appearance: textfield;
}
input[type=number] {
  height: inherit;
  line-height: normal;
  padding-top: 0;
}
.item-error-message{
    color:red;
    font-size: 70%;
}
.no-padding{
    padding:0;
}

input {
    width: 100%;
}
