<section>
	<h2 class="main-header-font">Contact Info:</h2>
	<p class="main-content-font" *ngIf="description">{{description}}</p>
	<div>
		<div class="row" *ngIf="address">
			<div class="col-md-3">
				<div>
					<i class="main-button fa fa-map-marker"></i> <span class="main-content-font">Address:</span></div>
			</div>
			<div class="col-md-9">
				<div class="main-content-font">{{address}}</div>
			</div>
		</div>
		<div class="row" *ngIf="phone">
			<div class="col-md-3">
				<div>
          <i class="main-button fa fa-phone"></i>  <span class="main-content-font">Phone:</span></div>
			</div>
			<div class="col-md-9">
				<div class="main-content-font">{{phone}}</div>
			</div>
		</div>
		<div class="row" *ngIf="email">
			<div class="col-md-3">
				<div>
          <i class="main-button fa fa-envelope"></i>  <span class="main-content-font">Email:</span></div>
			</div>
			<div class="col-md-9">
				<div>
					<a class="main-content-font" href="mailto:{{email}}">{{email}}</a>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="website">
			<div class="col-md-3">
				<div>
          <i class="main-button  fa fa-file-text-o"></i>  <span class="main-content-font">WebSite:</span></div>
			</div>
			<div class="col-md-9">
				<div>
					<a class="main-content-font" href="mailto:{{website}}">{{website}}</a>
				</div>
			</div>
		</div>
		<!--<div class="row">-->
		<!--<div class="col-md-4">-->
		<!--<div><i class="icon fa fa-user"></i> Share:</div>-->
		<!--</div>-->
		<!--<div class="col-md-8">-->
		<!--<ul class="list-inline">-->
		<!--<li  *ngIf="facebook"><a href="{{facebook}}" target="_blank"><i class="icon fa fa-facebook"></i></a></li>-->
		<!--<li  *ngIf="twitter"><a href="{{twitter}}" target="_blank"><i class="icon fa fa-twitter"></i></a></li>-->
		<!--<li  *ngIf="pinterest"><a href="{{pinterest}}" target="_blank"><i class="icon fa fa-pinterest-p"></i></a></li>-->
		<!--<li  *ngIf="linkedin"><a href="{{linkedin}}" target="_blank"><i class="icon fa fa-linkedin"></i></a></li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--</div>-->
	</div>
</section>
