section{
    padding-top: 50px;
    padding-bottom: 50px;
}


h2{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px dotted #b3b3b3;
}
.social-media{
  display: flex;
}

.row{
  margin: 10px -15px;
}

@media (max-width: 767px){
	.col-md-9 div{
	    margin-bottom: 20px;
      padding-left: 27px;
	}
	li, i{
		margin-bottom: 0;
		padding-left: 0;
	}

}
