@font-face {
    font-family: 'amble-regular';
    src:url(../fonts/Amble-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Aller-Bd';
    src:url(../fonts/Aller-Bd.ttf) format('truetype');
}

/* Global Styles */

html,
body {
    height: 100%;
}

body {
	font-family: 'amble-regular',Helvetica,Arial,sans-serif;
	background-color: #BEAC7C;
    /* padding-top: 50px; */
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

a:focus{
	outline: none;
}

.img-portfolio {
    margin-bottom: 30px;
    width: 400px;
    height: 200px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 60%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
     width: 100%;
}

.footer-bg {
    background: rgba(0, 0, 0, 0) url("../images/footer-bg.jpg") repeat-x scroll 0 0;
    padding: 20px 0;
}

.footer-bg  p {
    color: #fff;
    font-family: "amble-regular";
    font-size: 0.875em;
    text-align: left;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
    margin-top: 0px;
    color: #000000;
}

.navbar-inverse {
    background-color: #5d3a23;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #1D1810;
    color: #beac7c;
}

.main-wrapper{
	width: 100%;	
}

.page-wrapper{
	padding-top: 30px;
	width: 100%;	
}

.white-bg{
	background-color: #FFF;
}

.other-page-header{
	width: 100%;
    height: 300px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.home-pg{
    background-image: url('../images/header_img.jpg');
}
.about-pg{
	background-image: url('../images/header_img2.jpg');
}

.services-pg{
	background-image: url('../images/header_img3.jpg');
}

.contact-pg{
	background-image: url('../images/header_img.jpg');

}

.social-links{
	margin: 20px 0;
	padding: 0;
}

.social-links li{
	display: inline;
	float: left;
	margin-right: 20px;
}

.social-links li a {
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -999999px;
}

.social-links li a.fb{
	background: url('../images/social-media-fb.png') no-repeat -7px 0;
}

.social-links li a.gp{
	background: url('../images/social-media-gp.png') no-repeat -3px 0;	
}

/*Chelvan*/

.header_bottom{
    background:url(../images/header_bg.png);
}
.logo{
    float:left;
    position:absolute;
    background:url(../images/logo_bg.png);
    padding:30px;
    margin-top:-135px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    margin-top: px;
}
.header-top{
padding-top: 0px;
width: 100%;
background: url('../images/logo_bg.png');
background-repeat: repeat-x;

}

.container-contact {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-brand {  

  float: left;
  height: 100px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  background-image: url('../images/logo_bg.png');


}


/*about us*/

.section-background{
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    text-transform: uppercase;
    background: url('../images/section-header.png');
    text-align: center;
    background-size: cover;
}
.page-header{
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    border-bottom: none;
    padding-top: 85px;
    padding-bottom: 40px;
    font-size: 34px;
}
.breadcrumb{
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}
.breadcrumb .active{
    color: #fff;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #fff;
    content: "\f3d3";
    font-family: "ionicons";
}
.breadcrumb a{
    color: #fff;
    border: 1px solid transparent;
    text-decoration: none;
    padding: 5px;
}
.breadcrumb a:hover{
    color: #fff;
    border: 1px solid #fff;
}
.section-title{
    color: #313131;
    text-align: center;
}
.form-control{
width: 100%;

}



.col-lg-5{
    float: right;;
}

/*Contact us submit button*/
.btn-primary{
float: right;

}

.tcmap{
    width: 100%;
    height: 160px; 
}


/*Welcome massage starts*/
.services_desc h2{
    color:#8F8042;
    font-family: 'Aller_Bd';
    font-size:1.8em;
    text-transform: uppercase;
    padding-bottom:5px;
}
.services_desc p{
    font-size: 0.85em;
    padding: 5px 0;
    color: #8C8061;
    line-height: 1.8em;
}
.services_desc p span{
    font-family: 'ambleregular';
}
.cont{
    display: block;
    float:left;
    margin:2% 0 2% 0;
}

/*contact textarea starts */
.contact-form textarea{
    height: 194px;
}


/*contact text are ends */

.fbicon{
    background-image: url('Styles/images/social-icons/btn_facebook.png');
    background-repeat: no-repeat;;
}

/*Welcome message ends*/

/*Home Page Cetagory Title*/
.col-sm-6  h3{
    color: #BDA954;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-family: 'Aller_Bd';
 
}

.sign-in-container{
    height: auto;
}

/*price font*/
.price{
    font-size: 12px;
}


.catdiv{
 width: 230px;
 height: 200px;

}

.about_desc h2{
    font-size:2em;
}

/*Home Page Product Details*/

/*.col-sm-6{
    width: 750px;
    height: 450px;
}

.cat-img{
  padding-bottom:10px; 
  margin-bottom:20px; 
  margin-top:10px; 
  border-bottom:#BDAC7C thin dotted; 
  width: 50%;"
  
}*/



/*about us*/
/*Chelvan*/