
/*details view css*/
.kkcc-btn-success {
    color: #fff;
    background-color: #857240;
    border-color: #857240;
}

.form-control {
    width: 40px;
    text-align: center;
}

/******************************************************
*************************Table*************************
******************************************************/
table{
    width: 100%;
}

/* cart view Table */
.me-cart-view-table .radio input[type="radio"]{
	position: relative;
	margin: 0;
}

.well{
	background-color: black
}