.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.29);
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .indeterminate {
  background-color: rgba(0, 0, 0, 0.76);
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; }
}


.no-padding{
  padding:0;
}
.padding-left{
  padding-left: 16px;
}

.padding-right{
  padding-right:16px;
}

.padding-top{
  padding-top: 16px;
}

.padding-bottom{
  padding-bottom: 16px;
}

.padding-vertical{
  padding-top:16px;
  padding-bottom: 16px;
}

.padding-horizontal{
  padding: 0 16px;
}

.padding{
  padding: 16px !important;
}

.no-margin{
  margin:0;
}

.margin-left{
  margin-left: 16px;
}

.margin-right{
  margin-right:16px;
}

.margin-top{
  margin-top: 16px;
}

.margin-bottom{
  margin-bottom: 16px;
}

.margin-vertical{
  margin: 16px 0;
}

.margin-horizontal{
  margin: 0 16px;
}

.margin{
  margin: 16px !important;
}


::-webkit-scrollbar{
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.1);
  /*  border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;*/
}

::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.4);
  /* border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;*/
}
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0;
  }
}

/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* Hide Object */
.object-hidden{
	display:none;
}



  /*####### Main style changes on Otenro ########*/

  .main-header-font{
    /*font-size: 6vh;*/
    letter-spacing: 0em;
    color:#000;
    font-family: Arial;
    font-weight: bold;
  }
  .main-content-font{
    /*font-size: 12px;*/
    letter-spacing: 0.1em;
    color: #757575;
    font-family: Arial;
    font-weight: 400;
  }
  .main-background{
    background-color: #FFFFFF !important;
    overflow-x: hidden;
  }
  .made-easy-background-image{
    background: null;
    background-size: cover;
  }
  .main-navigation{
    background-color: #fff !important;
    color: #444;
  }
  .main-navigation a{
    color: inherit !important;
    font-size: 14px;
    text-transform: uppercase;
  }

  .main-button{
    background-color: #ffffff !important;
    border-color: #444 !important;
    border-width:0px !important;
    color: #444 !important;
    border-radius: 20px;
    border-width: 1px !important;
    border: solid;
  }
  .main-button:hover {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  }
  .main-button:active {
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  }
  .main-footer-back{
    background-color: #000 !important;
  }
  .main-footer-header{
    color:#fff;
  }
  .main-footer-font{
    color:rgb(207, 189, 172);
  }
