
.name-sale{
    position: absolute;
    top: 5px;
    right: 0;
}

.name-price-old, .name-price-old{
    display: inline-block;
}

.name-label{
    display: inline-block;
}

.quantity input{
    width: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #1c1f23;
    border: none;
    text-align: center;
}
.quantity{
    border:1px solid #d8d8d8;
    position: relative;
    top: 3px;
}
.quantity span{
    width: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #a8aaab;
    cursor: pointer;
}

.list-inline i,.list-inline li{
    display: inline-block;
    font-size:14px;
    margin-top: 2px;
    margin-bottom: 18px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #a8aaab;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}


#gallery{
    margin:auto;
    width: 550px !important;
    height: 618px !important;
}
/deep/ .text-editor img{
           width:100%;
       }
       
@media (max-width: 768px){
    #gallery{
        width: 450px !important;
        height: 518px !important;
    }
}


@media (max-width: 768px){
    #gallery{
        width: 550px !important;
        height: 618px !important;
    }
}


@media (max-width: 1200px){
    #gallery{
        width: 450px !important;
        height: 518px !important;
    }
}

@media (max-width: 910px){
    #gallery{
        width: 350px !important;
        height: 418px !important;
    }
}

/deep/ .ug-gallery-wrapper .ug-slider-wrapper{
           background-color: rgba(0,0,0,0) !important;
       }

/deep/.ug-slider-wrapper .ug-item-wrapper{
          background-color:  rgba(0,0,0,0) !important;
      }

/deep/ .ug-theme-panel .ug-strip-panel{
           background-color: rgba(0, 0, 0, 0) !important;
       }
/deep/ .ug-videoplayer .ug-videoplayer-button-close {
           display: none !important;
       }