<div class="page-container">
  <!--<div class="bloc bgc-white l-bloc visible-lg-block visible-md-block" id="bloc-13">-->
    <!--<div class="container bloc-sm">-->
      <!--<div class="row">-->
          <!--<img src="./assets/images/lazyload-ph.png" data-src="./assets/images/T-212%20.png" class="img-responsive lazyload" />-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!-- bloc-13 END -->

  <!-- bloc-14 -->
  <div class="bloc bgc-white l-bloc" id="bloc-14">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row bgc-gainsboro voffset-md">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 product-carousel">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="{{imageUrl}}/{{Data.tempImageArray[0].img}}" alt="{{Data.name}}">
                    </div>
                    <div class="item" *ngFor="let item of Data.tempImageArray |slice:1" >
                      <img src="{{imageUrl}}/{{item.img}}" alt="{{item.name}}">
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">

              <div class="panel panel-detail">
                <div class="panel-heading">
                  <h3 class="mg-clear link1 ">
                    <a class="link-2">Product Details</a>
                    <br>
                  </h3>
                </div>
                <p class=" text-left product-detail main-content-font" id="details">
                  {{Data.detailedDesc}}
                </p>
                <div class="panel-heading">
                  <h3 class="mg-clear main-header-font">
                    {{Data.name}}
                  </h3>
                </div>
                <div class="panel-body">
                  <p class="prices main-content-font">
                    {{currency}} {{Data.variants[0].price}}
                  </p>
                  <div class="divider-h">
                    <span class="divider"></span>
                  </div>


                  <div class="row main-content-font" *ngIf="Data.selection[0]">
                    <p class="col-md-3">{{Data.selection[0].name}}:</p>
                    <div class="col-md-6">
                      <select class="form-control main-content-font" [(ngModel)]="selectedVariant1" (ngModelChange)="changeVariant(selectedVariant1)">
                        <option *ngFor="let c of selection">{{c.vType}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row main-content-font" *ngIf="Data.selection[1]">
                    <p class="col-md-3">{{Data.selection[1].name}}:</p>

                    <div class="col-md-6">
                      <select class="form-control main-content-font" [(ngModel)]="selectedVariant2" (ngModelChange)="changeVariant2(selectedVariant2)">
                        <option *ngFor="let c of selection1" [ngValue]="c.vType"> {{c.vType}} </option>
                      </select>
                    </div>

                  </div>
                  <div class="row main-content-font" *ngIf="Data.selection[2]">
                    <p class="col-md-3">{{Data.selection[2].name}}:</p>

                    <div class="col-md-6">
                      <select class="form-control main-content-font" [(ngModel)]="selectedVariant3" (ngModelChange)="changeVariant3(selectedVariant3)">
                        <option *ngFor="let c of selection2" [ngValue]="c.vType"> {{c.vType}} </option>
                      </select>
                    </div>

                  </div>

                  <div class="row main-content-font" *ngIf="Data.selection[3]">
                    <p class="col-md-3">{{Data.selection[3].name}}:</p>

                    <div class="col-md-6">
                      <select class="form-control main-content-font" [(ngModel)]="selectedVariant4" (ngModelChange)="changeVariant4(selectedVariant4)">
                        <option *ngFor="let c of selection3" [ngValue]="c.vType"> {{c.vType}} </option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <div class="row main-content-font">
                    <div class="col-md-3">
                      <p>Enter Quantity:</p>
                    </div>
                    <div class="col-md-6">
                      <!--<span>-->
                      <!--<button class="btn btn-default" (click)="descrease()" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>-->
                      <!--</span>-->
                      <input type="number" min="1" oninput="validity.valid||(value='');" class="form-control  main-content-font" name="qty" id="qty" value="selectedVariant.buyQuantity" [disabled]="lockBuyButton == false" [(ngModel)]="selectedVariant.buyQuantity"
                             (ngModelChange)="changeBuyQuantity(selectedVariant.buyQuantity)" style="display: inline;width: 100%;position: relative;top: 1px">
                      <!--<span>-->
                      <!--<button class="btn btn-default" (click)="increase()" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>-->
                      <!--</span>-->
                    </div><!-- /input-group -->
                  </div><!-- /.row -->

                  <div class="row"><!-- Product not available in store -->
                    <div class="col-xs-12 text-center text-warning" *ngIf="selectedVariant.quantity == 0">
                      <span>
                        Product not available
                      </span>
                    </div>
                    <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
                    <div class="col-xs-12 text-center text-warning" *ngIf="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity > 1">
                      <span>
                        Please enter a quantity of {{selectedVariant.quantity}} or less.
                      </span>
                    </div>
                    <div class="col-xs-12 text-center text-warning" *ngIf="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity == 1">
                      <span>
                        Please enter a quantity of {{selectedVariant.quantity}}.
                      </span>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center margin-top">
                      <button (click)='addToCart()' [disabled]="isBuyBtnDisable" class="btn btn-d btn-lg main-button">add to cart</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bloc-14 END -->

  <div class="bloc bgc-white l-bloc" id="bloc-0">
    <div class="container bloc-sm">
    </div>
  </div>

  <!-- bloc-17 END -->

  <!-- ScrollToTop Button -->
  <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
    <span class="fa fa-chevron-up"></span>
  </a>
  <!-- ScrollToTop Button END-->

</div>
