.desc{
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.carousel-control{
  height: 86%;
}
.page-container{
  padding-top: 58px;
}

/deep/ .ug-gallery-wrapper .ug-slider-wrapper{
         background-color: rgba(0,0,0,0) !important;
       }

/deep/.ug-slider-wrapper .ug-item-wrapper{
        background-color:  rgba(0,0,0,0) !important;
      }

/deep/ .ug-theme-panel .ug-strip-panel{
         background-color: rgba(0, 0, 0, 0) !important;
       }
/deep/ .ug-videoplayer .ug-videoplayer-button-close{
         background-image: none !important;
       }