<!-- Main container -->
<div class="page-container bloc bloc-xl  bloc-xl-mobile">

    <!-- bloc-19 -->
    <div class="bloc bgc-white l-bloc  hidden-xs" id="bloc-19">
      <div class="container bloc-md">
        <div class="row content-row">
          <div class="col-sm-12">
            <h1 class="header text-center main-header-font">
              Order history
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- bloc-19 END -->

    <!-- bloc-20 -->
    <div class="bloc bgc-white l-bloc main-content-font" id="bloc-20">
      <div class="container" *ngIf="orderHistory && orderHistory.length == 0">
        <h1 class="main-header-font">You don't have any order history!</h1>
      </div>
      <div class="container order-history-li"  *ngFor="let order of orderHistory">
            <h5 class="col-md-12 main-content-font">ORDER ID : {{order.id}}</h5>
            <h5 class="col-md-12 main-content-font">ORDER DATE : {{order.createdAt | date: 'dd/MM/yyyy'}}</h5>
            <div *ngIf="order.note">
              <h5 class="col-md-12 main-content-font"><strong>*Note</strong> : {{order.note}}</h5>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row content-cards" *ngFor="let item of order.item">
                      <div class="col-sm-6">
                        <img *ngIf="item.imgURL" src="{{imageURL}}/{{item.imgURL}}" class="center-block img-responsive lazyload">
                        <img *ngIf="!item.imgURL" src="{{imageURL}}/{{item.imgDefault}}" class="center-block img-responsive lazyload">
                      </div>
                      <div class="col-sm-6">
                        <p class="product-name padding-top main-header-font">
                          {{item.name}}
                        </p>
                        <p class="spacing-2">
                          <span *ngFor="let v of item.variant"><strong>{{v.name}}</strong> - {{v.vType}}<br><br></span>
                          <strong>PRICE</strong> -  {{sign}} {{item.price}}<br><br>
                          <strong>QTY</strong> -  {{item.qty}}<br><br>
                           <a  (click)="buyAgain(item)" class="btn btn-d btn-lg button main-button"><span class="ion ion-plus-round icon-spacer"></span>Buy Again</a>
                        </p>
                      </div>
                      <hr class="col-sm-12">
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="row">
                        <div class="col-sm-12">
                          <p class="product-name  padding-top text-right text-left-xs">
                            TOTAL PRICE
                          </p>
                          <p class="spacing-2 text-right text-left-xs">
                            <strong>{{sign}} {{order.amount}}</strong>
                          </p>
                        </div>
                  </div>
              </div>
            </div>


      </div>
    </div>
    <!-- bloc-20 END -->
</div>

