<div class="page-container">
  <div class="bloc bgc-white l-bloc" id="bloc-0">
      <img class="cat-image" src="{{imageUrl1}}/{{catImage}}" width="100%">

      <div class="margin prod" *ngFor="let article of results" (click)="navigateProd('product',article)">
          <img src="{{imageUrl}}/{{article.tempImageArray[0].img}}" width="100%">
          <div class="main-header-font name">{{article.title}}</div>
      </div>
  </div>

  <!-- ScrollToTop Button -->
  <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
    <span class="fa fa-chevron-up"></span>
  </a>
  <!-- ScrollToTop Button END-->
</div>
