
<div class="page-container">
  <!-- bloc-25 -->
  <div class="bloc b-parallax bgc-white" id="bloc-25">
    <div class="container bloc-lg">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="hidden-xs  text-center header main-header-font" >
            Delivery Policy
          </h2>
          <div class="row" >
            <div class="col-sm-12">
              <div class="header-spacing-top main-content-font">
                <p><strong>Delivery Times from purchased date</strong></p>
                <p>Within Colombo District: Between 1-3 Business Days</p>
                <p>Outside of Colombo District: Between 3-7 Business Days</p>
                <p>
                  Delivery times are only guidelines, not guarantees. Smartfit  will not offer compensation for deliveries that do not arrive within the specified time frames. We aim to deliver your order as promptly as possible. However, we don’t have control over your order once it has been passed to the courier company. Some deliveries may be late due to your location, accidents for local disruptions. In these instances, Smartfit  will not be liable for any consequential loss. Please ensure that you check your delivery before signing for it.
                </p>
                <p>
                  Pickup is available at the website price on stocked items from our showrooms. Please let us know by email to info@smartfit.lk or call us on 0772208080
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-25 END -->
<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->
