.obl-dashboard-wrapper{
    background-color: #F2F2F2;
}

.obl-dashboard-header{
    border-bottom: 1px solid #DBDBDB;
    min-height: 80px;
    padding: 40px 50px 20px 50px;
}

.obl-dashboard-header h2{
    color: #959595;
    float: left;
    font-size: 20px;
    font-weight: 400;
    height: 39px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
	width: 20%;
}

.obl-dashboard-header p{
    color: #959595;
    float: left;
    font-size: 19px;
    height: 39px;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 63.8%;;
}

.obl-dashboard-header .template-categories li{
    float: left;
    display: inline;
    margin: 4px 25px 0 0;
}

.obl-dashboard-header .template-categories li a,
.obl-dashboard-settings .dropdown-menu li a{
    color: #959595;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
}

.obl-dashboard-settings{
    float: right;
    margin-right: 10px;
}

.obl-dashboard-settings .dropdown-menu li{
    margin-bottom: 5px;
}

.obl-dashboard-settings button{
    border: none;
    padding: 0;
    height: 39px;
}

.obl-dashboard-settings .dropdown-menu{
    float: none;
    left: -48px;
    min-width: 130px;
    top: 44px;
    padding: 10px 0;
}

.obl-dashboard-header .template-categories{
    float: right;
    margin: 28px 29.8% 0 0;
    padding: 0;
    height: 39px;
    line-height: 58px;
    font-weight: 800 !important;
}

.obl-dashboard-apps{
    text-align: center;
}



.obl-mobile-app{
    float: left;
    width: 161px;
    height: 266px;
    margin-right: 283px;
    position: relative;
    background: url(../../../images/mobile-app-bg.png) no-repeat;
}

.obl-mobile-app img{
    left: 5px;
    position: absolute;
    top: 28px;
}

.obl-app-templates{
    margin: 0;
    padding: 0;
}
.obl-app-templates2{
    margin: 0;
    padding: 0;
}

.obl-app-templates li{
    display: inline;
    float: left;
    margin-right: 263px;
}
.obl-app-templates2 li{
    display: inline;
    float: left;
    margin-right: 263px;
}

.obl-app-templates li a{
   display: block;
   width: 230px;
   height: 480px;
   position: relative;
   background:url(../../../images/Phone_bg.svg) no-repeat;
   background-size: 230px 444px !important;
}

.obl-app-templates2 li .screen{
    left: 0;
    top: 0;
    display: block;
    width: 800px;
    height: 645px;
    position: relative;
    background: url(../../../images/responsiveness-screen.svg) no-repeat;
    background-size: 100%;
}

.obl-app-templates2 li .mobile{
    display: block;
    width: 210px;
    height: 430px;
    position: relative;
    z-index: 4;
    top: -618px;
    left: 480px;
    background: url(../../../images/responsiveness-mobile.png) no-repeat;
    background-size: 100%;
}

.obl-app-templates li a img{
    height: auto;
    position: absolute;
    top: 61px;
    width: 189px;
	height:330px;
    left: 21px;
}
.obl-app-templates2 li a .img-screen{
    height: auto;
    position: absolute;
    top: 40px;
    width: 726px;
    height: 474px;
    left: 42px;
    border-radius: 3px;
}
.obl-app-templates2 li a .img-mobile{
    height: auto;
    position: absolute;
    top: 55px;
    width: 184px;
    height: 328px;
    left: 13px;
    border-radius: 3px;
}

@media (min-width: 996px) and (max-width: 1350px) {
    .obl-app-templates2 li .screen{
        width: 660px;
        left: 28px;
    }
    .obl-app-templates2 li .mobile{
        width: 185px;
        left: 418px;
    }
    .obl-app-templates2 li a .img-screen{
        top: 32px;
        width: 599px;
        height: 393px;
        left: 35px;
    }
    .obl-app-templates2 li a .img-mobile{
        top: 48px;
        width: 163px;
        height: 288px;
        left: 11px;
    }
}


.me-dialog-phone-view{
    float: left;
    height: 99mm;
    overflow: hidden;
    padding-left: 0;
    width: 180px;
}

.me-dialog-phone-view .iphone{
     background: url(../../../../images/iphone-small-bg.png) no-repeat;
}

.me-dialog-form-view{
    width: 360px;
    float: left;
    padding: 45px 0 0 15px;
}

.me-dialog-form-view h1{
    margin-bottom: 10px;
}

.create-app-wrapper{
    padding: 30px;
}

.app-description{
     color: #7F7F7F;
}

.obl-widget-header{
    position: relative;
    color: white;
    background-color: #F6F6F6;
    font-size: 18px;
    border-bottom: 1px solid black;
    min-height: 30px;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.obl-widget-header-buttons{
    position: absolute;
    top: 0;
    right: 0;
}

.obl-widget-header-buttons .btn{
    margin: 4px;
    margin-top: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.obl-dashboard-apps-livePreview{
	Width:35%;
	padding:30px 0 30px 30px;
    position:relative;
    top:-100px;
    z-index: 3;
}
/*.obl-dashboard-apps-livePreview{
    width: 35%;
    margin: 0 auto;
    margin-left:100px;
    padding: 50px 0;
}*/

.obl-dashboard-tab-height{
    height:85vh;
}
.obl-dashboard-tab-height .obl-dashboard-apps{
    height:100%;
}
.obl-dashboard-tab-height md-tabs{
    height:100%;
}
.obl-dashboard-tab-height h3{
    font-weight:900;
    color:#000;
    text-transform:uppercase;
}
.obl-dashboard-tab-height h5{
    color: #000;
    line-height: inherit;
    letter-spacing: 1px;
    overflow: auto;
    max-height: 75px;
    height:75px
}
.obl-dashboard-tab-height span h5{
    height:27px;
}


.obl-dashboard-tab-height .col-sm-12 span, .obl-dashboard-tab-height .col-md-4 span, .obl-dashboard-tab-height .col-lg-5 span{
    font-size:12px;
    text-transform:capitalize;
    color:#000;
    font-weight:900;
}
.obl-dashboard-tab-height .img-thumbnail{
    max-width:32%;
}
.obl-dashboard-tab-height .img-thumbnail2{
    max-width:15%;
    padding: 0 1px;
}

.dashboard-dialog{
    width:20%;
}