/* Empty. Add your own CSS if you like */


/*overall app*/
.scroll{
	height: 100%;
}


.item-select select{
    background:transparent;
}

a {
    text-decoration: none;
}

/*categories Page*/
.app-name{
	font-size: 2em;
    text-align: center;
    position: absolute;
    top: 8%;
    transform: rotate(-8deg);
    font-style: italic;
    text-shadow: 0px 3px 7px #cccc65;
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: normal;
}

.categories {
    position: relative;
    top: 31%;
}

.categories .card{
	margin: 0 -17px;
	height: 150px;
	transform: rotate(4deg);
	border-top: 1px solid #fff;  
	border-bottom: 1px solid #fff;
}

.categories .card img{
	transform: rotate(-4deg);
	max-width: 115%;
    width: 115%;
    position: absolute;		
    top: -13%;
}
.categories h3{
	position: relative;
    top: 50px;
    transform: rotate(-4deg);
    text-align: center;
}

/* foods page */

.items .card{
	margin: 6px;
}

.items .col-50{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 46.5%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 46.5%;
	-ms-flex: 0 0 46.5%;
	flex: 0 0 46.5%;
	max-width: 46.5%;
}


.items .align-bot{
   position: absolute;
   bottom: 0;
}


.items i{
    font-size: 20px;
}

/* food page */

.food .item{
	border-right: 0;
}

.food input{
	background: transparent;
	font-size: inherit;
    color: inherit;
    font-weight: inherit;
    border-bottom: 1px solid;
    width: 100%;
}

.food .input-label{
	width: 100%;
}

/*home page and menu*/

.login .card{
	background-color: rgba(255,255,255,0.8)
}

.made-easy-navigationBarColor .cartSize {
    color: #fff !Important;
    background-color: crimson !Important;
    padding: 1px 5px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    top: -6px;
}

.cart .item-thumbnail-left img{
	border-radius: 0;

}

.cart .list .item{
    min-height: 90px;
	padding-bottom: 50px;
}

.cart-row{
	border-top: 1px solid #929292;
	border-bottom: 1px solid #929292;
}

.cart-row .col{
    padding:0;
}

.cart-row h2{
    white-space: normal;
}

.cart .row+.row {
    margin-top: 0;
    padding-top: 5px;
    border-top: 0;
}

.cart .delete{
    background-color: crimson;
    color: #fff;
    font-size: 10px;
    flex: 0;
    padding: 29px 3px;
}


.variants i{
	display: none;
}

select{
	background: #fff0 !important;
}

/*checkout page*/
.shopping-cart-total{
    font-weight: 800;
    border: 1px #ccc solid;
}


/*payment page*/

.payment .cards-list img{
    opacity:0.4;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.payment .cards-list .selected img{
    opacity:1
}

.payment .cards-list i {
    display:none;
}

.payment .card-form label {
    padding: 16px;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}

/*helper classes*/

.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}


/*Media Quaries*/
@media screen and (min-width: 500px) {


.categories .card{
	height: 250px;
}

.categories .card img{
    top: -16%;
}

.categories h3{
    top: 80px;
}


}

@media screen and (min-width: 1001px) {


.categories .card{
	height: 275px;
}

.categories .card img{
    top: -22%;
}

.categories h3{
    top: 100px;
}

}

/* Remove controls from Firefox , Chrome, safari*/


.removeAr input[type=number]::-webkit-inner-spin-button,
.removeAr input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.removeAr input[type=number] {
  -moz-appearance: textfield;
}
input[type=number] {
  height: inherit;
  line-height: normal;
  padding-top: 0;
}


.item-error-message{
    color:red;
}

input {
    width: 100%;
}
