
ion-content{
    cursor:url(../img/cursor.cur), auto;
}

ion-nav-buttons{
    cursor:url(../img/cursor.cur), auto;
}

a{
    cursor:url(../img/cursor.cur), auto;
}

/** ----------- Start Custom update Css Class ---------- **/
.made-easy-background-color {
    background-color: #10b23e !important;
}
.made-easy-background-image{
    background: url(../img/background.jpg) center;
    background-size: cover;
}
.made-easy-navigationBarColor{
  background-color: inherit;
  color:#000;
  border: 0;
}
.made-easy-navigationBarColor .item {
    border-style:unset;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: unset;
    color:inherit;
}

.made-easy-footerColor{
  background-color: #4e6dde;
}

.made-easy-header-font{
    color: #a46a2c;
    font-family: sans-serif;
    font-weight: bolder;
    font-size:14px;
    line-height: normal;
    text-align: center;
}

.made-easy-content-font{
  color:#7F7E7D;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: lighter;
  line-height: normal;
}
.made-easy-footer-font{
  color:#387ef5;
  font-family: Ubuntu Light;
  font-size: 12px;
  font-weight: bolder;
}

/* ----- Button Font Settings ----- */
.made-easy-button-setting{
  border-color: #a46a2c;
  background-color: #fff;
  color:#a46a2c;
  border-width:4px;
  border-radius:15px;
  cursor: url(../img/cursor.cur), auto;
}

.button.made-easy-button-setting.activated {
    background:#e5e5e5;
}

/* ----- View Page ----- */
.made-easy-view .item-buy{
    width: 100%;
    border: unset;
    border-bottom: 1px solid #ccc;
}
.item-error-message{
    color: red;
    font-size: 70%;
}

/* ------------------- */

.badge2{
    background-color: transparent;
    padding: 7px 0;
}

.buttons .buttons-right .header-item{
    cursor:url(../img/cursor.cur), auto;
}
.title-left{
    cursor:url(../img/cursor.cur), auto;
}

.col{
    cursor: url(../img/cursor.cur), auto;
}


/** ----------- End Custom update Css Class ---------- **/

