/* Empty. Add your own CSS if you like */
.cursor-body{
    cursor: url(../img/cursor.cur), auto;
}
.bar.bar-white{
  background-color: #fff;
  background-image: none;
  border-color: #fff;
  color: #444;
  cursor: url(../img/cursor.cur), auto;
}

.button-toggle{
  box-shadow: none;
  color: #444;
  cursor:url(../img/cursor.cur), auto;
}

.button-clear.button-clear {
    color: #444;
    cursor:url(../img/cursor.cur), auto;
}

.panel .fblogin {
    color: rgb(255, 255, 255);
    cursor: url(../img/cursor.cur), auto;;
    display: block;
    float: left;
    top: 40px;
    left: 0px;
    height: 50px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 290px;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(rgb(86, 120, 188), rgb(49, 74, 123)) repeat scroll 0% 0% / auto padding-box border-box;
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(86, 120, 188), rgb(49, 74, 123)) repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(49, 74, 123);
    border-right: 1px solid rgb(42, 64, 105);
    border-bottom: 1px solid rgb(42, 64, 105);
    border-left: 1px solid rgb(42, 64, 105);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
    padding: 10px 18px;
}

.card .item, .list-inset .item, .padding > .list .item, .padding-horizontal > .list .item {
    margin-right: 0;
    margin-left: 0;
	border-color:transparent !important;
	margin-bottom:10px;
}

.card .item.item-input input {
    padding-right: 44px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #666;}


.login_title{
	color:#75A3B8;
	font-size:16px;
font-weight: 600;
font-family:"Times New Roman", Times, serif;
line-height: 1.2;
text-align:center;
padding-bottom:20px;}

.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	border-radius:6px !important;
}

.button.button-positive {
    border-color: transparent;
    background-color: #75a3b8 !important;
	width:100%;
	cursor:url(../img/cursor.cur), auto;
}
.panel .create-account-btm {
    width: 58%;
    font-size: 4.0vw;
}
.panel .social-button-fb{
	background-color:#2A68B0;}

.panel .social-button {
	background-color:#00BAFF;
}
.item-complex .item-content, .item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    background-color: #fff;
    border-color:transparent !important ;
}

.item-complex {
    padding: 0;
	border-color:transparent !important ;
	font-size:14px;
	color:#AFAFAF;
	padding-left:40px;
}

.setting{
	font-family:"Times New Roman", Times, serif;
	padding-left:40px;
	font-size:20px;
	color:#75A3B8;
	border-color:transparent !important;
	}


	.item {

    border-style:none !important;
}
.item2{

    border-style:solid!important;
}
.bar .bar-header{
cursor: url(../img/cursor.cur), auto;
}

.bar.bar-stable .title {
    color: #75A3B8 !important;
	font-family:"Times New Roman", Times, serif;
	cursor: url(../img/cursor.cur), auto;
}

.bar .title.title-left {
    text-align: left;
	color: #75A3B8 !important;
	font-family:"Times New Roman", Times, serif;
	width: 100%;
	cursor: url(../img/cursor.cur), auto;
	margin-top: 20px;
    margin-left: -45px;
}
.cards{
	max-width: 100%;
margin: 50px auto;
padding-right: 1em;
margin:15px;
border-radius:5px;
-webkit-box-shadow: 2px 4px 5px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    2px 4px 5px 0px rgba(50, 50, 50, 0.25);
box-shadow:         2px 4px 5px 0px rgba(50, 50, 50, 0.25);
background-color: white;
}

.item h2{
	color: #75A3B8 !important;
	font-family:"Times New Roman", Times, serif;
	font-weight:600;
	padding-bottom: 10px;
    border-bottom: solid thin RGBA(117, 163, 184, 0.29);
	}

.item-thumbnail-left > img:first-child {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
	border-radius:5px !important;
	cursor: url(../img/cursor.cur), auto;
}

hr{
	color:#CCC;
}

.item p:last-child {
    margin-bottom: 0;
	color:#929292 !important;
	text-align: left;
}

.bar .buttons-right span {
    margin-left: 18px !important;
    display: inherit;
    padding-right: 10px !important;
    cursor: url(../img/cursor.cur), auto;

}

h4, .h4 {
    font-size: 18px;
font-weight: 500;
color: #999;
font-family: "Times New Roman", Times, serif;
text-align: center;
border-bottom: solid;
border-width: thin;
padding-bottom: 10px;
}

label {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
	color:#666;
}

.row2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
	color:#CCC;
	font-size:10px;
}

.panel2 .social-button {
    background:#70A1B3;
    padding: 8.5px 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    cursor: url(../img/cursor.cur), auto;
}

.panel2{
margin: 0;
padding: 0;
border: 0;
vertical-align: middle;
font: inherit;
font-size: 100%;
padding: 2px;
text-align: center;
	}


h2:first-child{
	font-family:"Times New Roman", Times, serif;
	border-bottom:solid;
	border-width:thin;
	border-bottom-color:#CCC;
	padding-bottom:10px;
	color:#73A3B9;
	margin:5px;
	font-size:20px;
}

.card .item:first-child {
	color:#666;
    font-size: 14px;
}

.card .item{
	font-size:14px;
	color:#666;
    margin-right: 0;
    margin-left: 0;
    border-color: transparent !important;
    margin-bottom: 10px;
}

.panel .create-account-btm2 {
  background-color: #FFBF0A; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: url(../img/cursor.cur), auto;;
  border-radius:4px;
  width:100%;
}

h3:first-child{
font-family:"Times New Roman", Times, serif;
	border-bottom:solid;
	border-width:thin;
	border-bottom-color:#CCC;
	padding-bottom:10px;
	color:#73A3B9;
	margin:5px;
	font-size:20px;
	text-align:center;
}

p{
	color:#666;
	text-align:center;
}

.item-thumbnail-left{
	border-radius:5px;
	cursor: url(../img/cursor.cur), auto;
	}

.ng-binding{
	text-align:left;
	padding:8px;
	}

.button-calm {
	border-color: transparent;
    background-color: #75a3b8 !important;
    width: 100%;
    cursor:url(../img/cursor.cur), auto;
	}

	.padding .card, .padding .list-inset {
    margin-left: 0;
    margin-right: 0;
}
.button-block{
    cursor: url(../img/cursor.cur), auto;
}

.contact {
	text-align:center;
}


h2, .h2 {

	font-family: "Times New Roman", Times, serif;
border-bottom: solid;
border-width: thin;
border-bottom-color: #CCC;
padding-bottom: 10px;
color: #73A3B9;
margin: 5px;
font-size: 20px;
text-align: center;}

.showName {
max-width: 100%;
text-align:left;
}
.hideName {
max-width: 50%;
text-align:left;
}
.popup-body{
    text-align:center;
    color:#70A1B3;
}
.popup-buttons{
    text-align: center;
    position: relative;
    left: 30%;
    width: 20%;
    cursor:url(../img/cursor.cur), auto;
}


