/* Empty. Add your own CSS if you like */

.bar.bar-white{
  background-color: #fff;
  background-image: none;
  border-color: #fff;
  color: #444;
}

.button-toggle{
  box-shadow: none;
  color: #444;
}

.button-clear.button-clear {
    color: #444;
}

.panel .fblogin {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    top: 40px;
    left: 0px;
    height: 50px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 290px;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(rgb(86, 120, 188), rgb(49, 74, 123)) repeat scroll 0% 0% / auto padding-box border-box;
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(86, 120, 188), rgb(49, 74, 123)) repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(49, 74, 123);
    border-right: 1px solid rgb(42, 64, 105);
    border-bottom: 1px solid rgb(42, 64, 105);
    border-left: 1px solid rgb(42, 64, 105);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
    padding: 10px 18px;
}