
ion-view{
    cursor: url(../img/cursor.cur), auto;
}
ion-content{
    cursor: url(../img/cursor.cur), auto;
}

/** ----------- Start Custom update Css Class ---------- **/

.made-easy-background-color {
    background-color: #10b23e !important;
}

.made-easy-background-image{
    background: url(../img/background.jpg) center;
    background-size: cover;
}
.made-easy-navigationBarColor{
  background-color: #fff;
}
.made-easy-footerColor{
  background-color: #4e6dde;
}
.made-easy-header-font{
  color:#B8A47F;
  font-family: sans-serif;
  font-size : 4vh;
  font-weight: bolder;
  text-transform: capitalize;
  text-align:center;
}
.made-easy-content-font{
  color:#787878;
  font-family: sans-serif;
  font-size: 3vh;
  font-weight: lighter;
}
.made-easy-footer-font{
  color:#4e6dde;
  font-family: Ubuntu Light;
  font-size: 12px;
  font-weight: bolder;
}
.made-easy-button-setting{
  background-color: #2e62be;
  font-family: Ubuntu Light;
  border-width: 3px;
  border-radius: 3px;
  cursor: url(../img/cursor.cur), auto;
}

/* ----- View Page ----- */

.made-easy-view .item-buy{
    width: 90%;
    border: unset;
    border-bottom: 1px solid #ccc;
}
.made-easy-view .item-error-message{
    color: red;
    font-size: 70%;
}



/** ----------- End Custom update Css Class ---------- **/