/* ---- Custom CSS ---- */

.card.col.col-50 {
    margin: 2%;
    max-width: 45%;
    text-align:center;
}

a{
    text-decoration:none;
}

.card{
    padding-top:0px;
}

.center{
    text-align:center;
}

.margin {
    margin : 5px;
}

.font-small {
    font-size:2.2vh;
}

.popup-body label{
    border:unset;
}


.made-easy-navigationBarColor .item {
    border-style:unset;
}

.made-easy-navigationBarColor ion-item , .made-easy-navigationBarColor .item-content, .made-easy-navigationBarColor button {
    background:transparent;
    border: unset;
}
