<div class="page-container padding">

  <div class="bloc bgc-white l-bloc" id="bloc-2">
    <div class="container bloc-sm">


      <div class="row" *ngFor="let category of results"  (click)="navigateShop('shop',category.id,category.name,category.imageUrl)">
        <div class="col-xs-12">
            <img src="{{imageUrl}}/{{category.imageUrl}}" width="100%">
        </div>
         <div class="col-xs-12 ">
            <div class="main-header-font name">{{category.name}}</div>
        </div>
      </div>

    </div>
  </div>
</div>
