<ion-view view-title="Contact Us">
    <ion-content class="made-easy-background-image made-easy-background-color made-easy-aboutUs">
        <div class="content item-tools animated zoomIn">
            <div class="made-easy-header-font" ng-bind-html="header"></div>
            <div class="made-easy-content-font" ng-bind-html="content">
            </div>
            <div class="made-easy-content-font">Email: {{email}}</div>
            <div class="made-easy-content-font">Address: {{address}}</div>
            <div class="made-easy-content-font">Tel: {{telPhone}}</div>
            <div class="made-easy-content-font">Web : {{webSite}}</div>
            <div class="map" id="map"></div>
        </div>

    </ion-content>
</ion-view>