<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar bar-header made-easy-navigationBarColor">
			<ion-nav-back-button class="icon ion-ios-arrow-back"></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" class="made-easy-navigationBarColor" data-ng-controller="PrimaryMenuController as menuCtrl">
		<ion-content>
			<ion-list>
				<ion-item menu-close data-ui-sref="app.categories">
					Home
				</ion-item>
				<ion-item menu-close data-ng-repeat="link in menuCtrl.menu track by $index" data-ui-sref="{{link.sref}}">
					{{link.name}}
				</ion-item>
				<ion-item menu-close data-ui-sref="app.contactUs">
					Contact Us
				</ion-item>
				<ion-item menu-close data-ui-sref="app.aboutus">
					About Us
				</ion-item>
				<ion-item menu-close href="#/app/policies">
					Policies
				</ion-item>
				<ion-item menu-close href="#/app/terms">
					Terms & Conditions
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
