<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">{{"modal.modal_window" | i18n}}</h1>
		<button class="button modal-select-close-button" ng-click="appCtrl.closeModal()">{{"modal.close" | i18n}}</button>
	</ion-header-bar>

	<ion-content scroll="false">
		<ion-list>
			<ion-item><a class="item-content">{{"modal.item01" | i18n}}</a></ion-item>
			<ion-item><a class="item-content">{{"modal.item01" | i18n}}</a></ion-item>
			<ion-item><a class="item-content">{{"modal.item01" | i18n}}</a></ion-item>
			<ion-item><a class="item-content">{{"modal.item01" | i18n}}</a></ion-item>
			<ion-item><a class="item-content">{{"modal.item01" | i18n}}</a></ion-item>
			<ion-item><a class="item-content">{{"modal.item01" | i18n}}</a></ion-item>
		</ion-list>
	</ion-content>

</ion-modal-view>