<md-dialog aria-label="Logo and Title">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', '/user/edit/logoandtittle/logoAndTitleView.html');
        ga('send', 'pageview');
    </script>

    <md-dialog-content ng-style="{'background-color': backgroundColor}">
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Header Image</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Logo and Title</h1>
                    </div>
                    <div class="md-dialog-main clearfix">
                        <div class="itemsContainer header-image pull-left">
                            <div class="imageOver">
                                <div class="buttonContain">
                                    <div class="img-up">
                                        <label for="file-input" class="add-image-label">
                                            <span>Add Image</span>
                                        </label>
                                        <input id="file-input" type="button" ngf-validate="{size: {min: 10, max: '2MB'}, width: {min: 100, max:180}, height: {min: 100, max: 40}
                ratio: '2x1', duration: {min: '10s', max: '5m'}, pattern: '.jpg'}" class="me-default-button" ngf-select ng-model="picFile" value="Add Image" required />
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <img ng-show="picFile != null" ngf-src="picFile" width="100" height="50" />
                                <img ng-show="picFile == null" ng-src="{{thumbPic}}" ng-model="thumbPic" width="100" height="50" />
                            </div>
                        </div>

                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="addLogoImage(picFile)">Submit</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>
<!--<md-button class="me-default-button" ng-click="addLogoImages(picFile)">Submit</md-button>-->

