<ion-view view-title="" name="dashboard-view">

  <ion-nav-buttons side="left">
    <h1>my apps</h1>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#/main/userInfo" class="button font-size-24">
      <i class="ion-ios-gear-outline"></i>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list border-less-list my-apps">
      <a class="item item-thumbnail-left" ng-repeat="oneApp in appList" ng-click="openApp('{{oneApp.userId}}','{{oneApp.id}}')">
        <img src="img/no-preview.jpg" alt="No preview available">
        <h2>{{oneApp.appName}}</h2>
        <p>App description goes here...</p>
      </a>
    </div>
  </ion-content>

  </ion-view>

<!--
<h3 class="title">E-mail : {{username}}</h3>
This is your App Dashboard.
<br>
<button class="button button-full button-positive" ng-click="getAllApps()">
  Show My All Apps
</button>
<br>
-->
