<ion-view view-title="app viewer" name="login-view">
  <ion-content>
    <div class="logo-section">
      <img src="../img/logo.png" alt="logo" width="112" />
      <h2>Log into your Madeeasy account to start testing your Madeeasy apps </h2>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
      <br />
      <button class="button button-full std-button" ng-click="login(data)">Login</button>
    </div>
  </ion-content>
</ion-view>
