<ion-view view-title="" name="userInfo-view">
  <ion-nav-buttons side="left">
    <h1>settings</h1>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#/main/userInfo" class="button font-size-24">
      <i class="ion-ios-gear-outline"></i>
    </a>
  </ion-nav-buttons>

  <ion-content>
      <div class="list border-less-list">
        <a class="item" >Clear all app data</a>
        <a class="item" >Instructions</a>
        <a class="item" >Term of services</a>
        <a class="item" >Privacy Policy</a>
        <a class="item logout" ng-click="logout()">Logout</a>
      </div>
  </ion-content>

</ion-view>

<!--
<ul class="list">
  <li class="item">
    User Name : {{userName}}
  </li>
  <li class="item">
    Email : {{userEmail}}
  </li>
  <li class="item">
    Total Apps : {{totalApps}}
  </li>
</ul>
-->
