
/*Filter */

.filter button{
    width: 190px;
    padding: 11px 10px 9px 20px;
    font-size: 11px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.filter button .badge {
    float: right;
    width: 18px;
    height: 18px;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    font-size: 100%;
    background-color: #b67c5a;
}

.filter button i{
  color: #b67c5a;
}

.filter .dropdown .dropdown-item{
  padding: 10px;
}


.filter .view i{
    width: 40px;
    height: 40px;
    padding-top: 12px;
    color: #a8aaab;
    border: 1px solid #eaeaeb;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

.filter .view i:active{
   background-color: #b67c5a;
   color:#fff;
   border: 1px solid #b67c5a;
}

.b-goods__category {
    margin-top: 16px;
    font-size: 10px;
    font-weight: 500;
    color: #7b7d7f;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


.b-goods__name {
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #1c1f23;
}

.b-goods__price {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #b67c5a;
}

.b-goods-links {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.b-goods-links a{
  top:55%;
  position: relative;
}

.b-goods-links:hover{
  opacity: 1;
}
.col-lg-2.col-md-3.col-xs-6.text-center:hover {
  box-shadow: 0 5px 30px rgba(4, 4, 4, 0.1);
}
.col-lg-2.col-md-3.col-xs-6.text-center {
  overflow: hidden;
}

.col-lg-2.col-md-3.col-xs-6.text-center:hover img {
  transform: scale(1.1);
}
.col-lg-2.col-md-3.col-xs-6.text-center img {
  transition: all 0.3s;
}

:host  /deep/  .page-link{
  border:0;
  color:#1c1f23;
  font-weight: bolder;
  font-size: 16px;
}

/* Carousel base class */
:host  /deep/ .carousel {
  margin-bottom: 1.5rem;
}
/* Since positioning the image, we need to help out the caption */
:host  /deep/ .carousel-caption {
  z-index: 10;
  bottom: 3rem;
  height: 55%;
}

/* Declare heights because of positioning of img element */
:host  /deep/ .carousel-item {
  height: calc(50vh);
  background-color: #777;
}
 :host  /deep/ .carousel-item > img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

:host  /deep/ .carousel-control-prev, :host  /deep/ .carousel-control-next, :host  /deep/ .carousel-indicators{
  display: none;
}

.categories{
    position: relative;
    top: -175px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
}
