<ion-view class="made-easy-background-image made-easy-background-color" view-title="{{foodInfo.name}}">
    <ion-content class=" made-easy-view">
        <div class="food">
            <div class="card">
                <div class="header_image animated order-item-slide">
                    <ion-slide-box options="sliderOptions" slider="sliderDelegate" >
                        <ion-slide ng-repeat="image in images">
                            <img ng-src="{{imageURL}}/{{image.img}}" >
                        </ion-slide>
                    </ion-slide-box>
                </div>


                <div class="animated rubberBand item-name" >
                    <div class="col made-easy-header-font">{{foodInfo.name}}</div>
                </div>
                <div class="animated zoomIn">
                    <div class="col made-easy-content-font align-center">{{foodInfo.detailedDesc}}</div>
                </div>
                <div class="cart-item-header">
                    <div class="row" ng-if="foodInfo.selection[0]">
                        <div class="col col-50 align-right">
                            {{foodInfo.selection[0].name}} :
                        </div>
                        <div class="col col-50 align-left">
                            <select ng-model="selectedVariant"
                                    class="item-buy"
                                    ng-options="variant.vType  for variant in selection |unique:'vType'"
                                    ng-change="changeVariant(selectedVariant)"
                                    ng-click="selectedVariant.buyQuantity = ''">
                            </select>
                        </div>
                    </div>
                    <div class="row" ng-if="foodInfo.selection[1]">
                        <div class="col col-50 align-right">
                            {{foodInfo.selection[1].name}} :
                        </div>
                        <div class="col col-50 align-left">
                            <select ng-model="selectedVariant1"
                                    class="item-buy"
                                    ng-options="variant.vType  for variant in selection1 |unique:'vType'"
                                    ng-change="changeVariant2(selectedVariant1)"
                                    ng-click="selectedVariant.buyQuantity = ''">
                            </select>
                        </div>
                    </div>
                    <div class="row" ng-if="foodInfo.selection[2]">
                        <div class="col col-50 align-right">
                            {{foodInfo.selection[2].name}} :
                        </div>
                        <div class="col col-50 align-left">
                            <select ng-model="selectedVariant3"
                                    class="item-buy"
                                    ng-options="variant.vType  for variant in selection2 |unique:'vType'"
                                    ng-change="changeVariant3(selectedVariant3)"
                                    ng-click="selectedVariant.buyQuantity = ''">
                            </select>
                        </div>
                    </div>
                    <div class="row" ng-if="foodInfo.selection[3]">
                        <div class="col col-50 align-right">
                            {{foodInfo.selection[3].name}} :
                        </div>
                        <div class="col col-50 align-left">
                            <select ng-model="selectedVariant4"
                                    class="item-buy"
                                    ng-options="variant.vType  for variant in selection3 |unique:'vType'"
                                    ng-change="changeVariant4(selectedVariant4)"
                                    ng-click="selectedVariant.buyQuantity = ''">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50 align-right">
                            Price :
                        </div>
                        <div class="col col-50 align-left">
                            {{currency.sign}} {{selectedVariant.price}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50 col-center align-right">
                            Qty :
                        </div>
                        <div class="col col-50 align-left">
                            <input type="number" min="1"
                                   class="item-buy"
                                   ng-model="selectedVariant.buyQuantity"
                                   ng-change="changeBuyQuantity(selectedVariant.buyQuantity)"
                                   ng-hide="lockBuyButton">
                        </div>
                    </div>
                </div>

                <!-- Buy Qty error message -->
                <div class="row align-center">
                    <!-- Product not available in store -->
                    <div class="col" ng-if="selectedVariant.quantity == 0">
                                <span class="animated zoomIn item-error-message">
                                    Product not available
                                </span>
                    </div>
                    <!-- If Buy-Qty greater than Selected-Variant-Available Qty -->
                    <div class="col" ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity > 1">
                                <span class="animated zoomIn item-error-message">
                                    Please enter a quantity of {{selectedVariant.quantity}} or less.
                                </span>
                    </div>
                    <div class="col" ng-if="selectedVariant.buyQuantity > selectedVariant.quantity && selectedVariant.quantity == 1">
                                <span class="animated zoomIn item-error-message">
                                    Please enter a quantity of {{selectedVariant.quantity}}.
                                </span>
                    </div>
                </div>
                <!-- Bye Button -->
                <div class="row">
                    <div class="col col-top"> </div>
                    <div class="col col-67 col-center">
                        <button class="col button button-small button-block made-easy-button-setting"
                                ng-disabled="isBuyBtnDisable || !selectedVariant.buyQuantity || lockBuyButton"
                                ng-click="addToCart()">
                            add to cart
                        </button>
                    </div>
                    <div class="col col-bottom"> </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </ion-content>
</ion-view>