<div class="container">

  <div class="bloc bgc-white l-bloc" id="bloc-0">
    <div class="container bloc-sm">
    </div>
  </div>

  <div  *ngFor="let order of orderHistory">
    <div class="row cart" *ngFor="let item of order.item">
      <div class="col-md-1 col-xs-2 no-m-padding">
        <img src="{{imageURL}}/{{item.imgURL[0].img}}">
      </div>
      <div class="col-md-8 col-xs-6">
        <div class="row">
          <div class="col-md-6">
            <label class="no-m-margin">{{item.name}}</label>
            <span class="single-price"> {{sign}} {{item.price}}</span>
          </div>
          <div class="col-md-3">
            <div class="variants text-center no-m-margin">
              <span  *ngFor="let v of item.variant">{{v.name}} : {{v.vType}}<br></span>
            </div>
          </div>
          <div class="col-md-3">
            <span class="no-m-margin" id="qty">Qty: {{item.qty}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-4 no-m-padding">
        <div class="total-price text-center">
          {{sign}} {{order.amount}}
        </div>
      </div>
    </div>
  </div>


  <div class="bloc bgc-white l-bloc" id="bloc-0">
    <div class="container bloc-sm">
    </div>
  </div>

</div>
