
/* CUSTOMIZE THE Order History
-------------------------------------------------- */

.cart{
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.order{
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.order:first-child{
  border-top:none;
}
.order:last-child{
  border-bottom:none;
}
.order+.order{
  border-top: 0;
}

.cart label{
  font-size: 18px;
  display: block;
  margin-top: 6px;
  margin-bottom: 0;
}

.cart .total-price{
  margin-top: 41px;
  font-size: 16px;
  font-weight: 600;
  overflow: auto;
}
.cart .variants{
  font-size: 15px;
  font-weight: 600;
  vertical-align: middle;
  height: 80px;
  display: table-cell;
}

.cart #btn-minus, #btn-plus, #qty{
  display: inline-block;
}

.cart #qty{
  margin-top: 29px;
  position: relative;
  top:1px;
}

.cart+.cart{
  border-top: 0;
}
.cart img{
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.cart .total-price span{
  display: block;
}

@media (max-width: 767px) {
  .cart img{
    width: 100px;
    height: 100px;
  }

  .cart #qty{
    width: 100%;
  }

  .no-m-margin{
    margin: 0 !important;
  }

  .no-m-padding{
    padding: 0;
  }
  .cart .variants{
    height: initial;
  }
  .cart .total-price{
    text-align: left;
    margin-top: 0;
    padding-left: 5px;
    font-size: 14px;
  }
  .cart .total-price span{
    display: inline-block;
  }
}
