<nav class="navbar navbar-toggleable-md navbar-light py-4">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav mx-auto text-uppercase font-weight-bold">
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('home')">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('aboutus')">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('aboutus')">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('policies')">Policies</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('terms')">Terms & Conditions</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('contact')">Contact</a>
      </li>
    </ul>
  
  </div>
</nav>
