<md-dialog aria-label="Add Product">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>Add Product</h1>
        </div>
        <form name="productForm" novalidate>
            <div class="md-dialog-main">
                <fieldset>
                    <label for="input-name">Name</label>
                    <input type="text" name="fullname" ng-model="product.name" id="input-name" required/>
                    <i ng-show="productForm.fullname.$error.required">*required</i>
                </fieldset>
                <fieldset>
                    <label for="input-price">Price</label>
                    <input type="number" name="price" for="Price" ng-model="product.price" id="input-price" required/>
                    <i ng-show="productForm.price.$error.required">*required</i>
                </fieldset>
                <fieldset>
                    <label>Child</label>
                    <md-select class="" placeholder="Select Child Menu" name="child" ng-model="product.childId" required>
                        <md-option ng-value="child.id" ng-repeat="child in categories">{{child.name}}</md-option>
                    </md-select>
                    <i ng-show="productForm.child.$error.required">*required</i>
                </fieldset>
                <fieldset class="profile-image-section">
                    <label class="reset-inline">Product Image</label>
                    <a class="feature01 reset-margin">
                        <span class="overlay01">
                            <span class="caption01">
                                 <input type="button" class="me-default-button" ngf-select ng-model="picFile"  ngf-accept="image/*" value="Add Image" required />
                            </span>
                        </span>
                        <img ng-show="picFile != null" ngf-src="picFile" width="120" height="120" />
                        <img ng-show="picFile == null" ng-src="{{thumbPic}}" ng-model="thumbPic" width="120" height="120" />
                    </a>
                </fieldset>
                <fieldset class="text-right">
                    <input type="submit" class="me-default-button" ng-disabled="!productForm.$valid" ng-click="addProducts(picFile,product)" value="Add Product" />
                </fieldset>
            </div>
            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                    <md-button class="me-default-button" ng-click="addProFinish()">Ok</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>