<md-dialog aria-label="Manage Products">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="selectedTab" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Product Type</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Choose Product Type</h1>
                    </div>
                    <div class="md-dialog-main">
                        <div class="shipping-options">
                            <a ng-click='addType("Physical")' href="javascript:void(0);">
                                <h1>Physical</h1>
                                <label>An item that is shipped to your customers</label>
                            </a>
                            <a ng-click='addType("Digital")' href="javascript:void(0);">
                                <h1>Digital</h1>
                                <label>Content that is downloaded</label>
                            </a>
                            <a ng-click='addType("Service ")' href="javascript:void(0);">
                                <h1>Services</h1>
                                <label>Provide a Service</label>
                            </a>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                            <md-button class="me-default-button" ng-click="nextStep(1)">Next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Add Details</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Add Product</h1>
                    </div>
                    <form name="productForm" novalidate>
                        <div class="md-dialog-main">
                            <div class="clearfix">
                                <fieldset class="col-2">
                                    <label for="input-name">Name</label>
                                    <input type="text" name="fullname" ng-model="product.name" id="input-name" required />
                                </fieldset>
                                <fieldset class="col-2">
                                    <label for="input-price">Price</label>
                                    <input type="text" name="price" for="Price" ng-model="product.price" id="input-price" required />
                                </fieldset>
                                <fieldset class="col-2">
                                    <label>Child</label>
                                    <md-select class="" placeholder="Select Child Menu" ng-model="product.childId" required>
                                        <md-option ng-value="child.id" ng-repeat="child in categories">{{child.name}}</md-option>
                                    </md-select>
                                </fieldset>
                                <!--<fieldset class="col-2 profile-image-section">-->
                                    <!--<label class="reset-inline fie-upload-text-gap">Product Image</label>-->
                                    <!--<a class="feature01 reset-margin">-->
                                        <!--<span class="overlay01">-->
                                            <!--<span class="caption01">-->
                                                 <!--<input type="button" class="me-default-button" ngf-select ng-model="picFile"  ngf-accept="image/*" value="Add Image" required />-->
                                            <!--</span>-->
                                        <!--</span>-->
                                        <!--<img ng-show="picFile != null" ngf-src="picFile" width="120" height="120" />-->
                                        <!--<img ng-show="picFile == null" ng-src="{{thumbPic}}" ng-model="thumbPic" width="120" height="120" />-->
                                    <!--</a>-->
                                <!--</fieldset>-->
                            </div>
                            <!--<fieldset class="text-right">-->
                                <!--<input type="submit" class="me-default-button" ng-disabled="!productForm.$valid" ng-click="addProducts(picFile,product)" value="Add Product" />-->
                            <!--</fieldset>-->
                        </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                            <md-button class="me-default-button" ng-click="nextStep(2)">Next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Price & Variants</md-tab-label>
                <md-tab-body>
                    <!--
                    <div class="md-dialog-header">
                        <h1>Price & Variants</h1>
                    </div>
                    <div class="md-dialog-main">
                        <table class="me-hours-table">
                            <thead>
                                <th>Product Type</th>
                                <th>Product Name</th>
                                <th>Weight</th>
                                <th>Price</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cloths</td>
                                    <td>Levis</td>
                                    <td>130grms</td>
                                    <td>$12.95</td>
                                </tr>
                                <tr>
                                    <td>Monday</td>
                                    <td>Christmas Cake</td>
                                    <td>130grms</td>
                                    <td>$5.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                            <md-button class="me-default-button" ng-click="nextStep(3)">Next</md-button>
                        </div>
                    </div>
                    -->

                    <div class="md-dialog-header">
                        <h1>Pricing & Uploads</h1>
                    </div>
                    <div class="md-dialog-main">
                        <div class="file-upload-wrapper clearfix">
                            <p class="file-upload-msg">Select a product to upload</p>
                            <div class="pull-left">
                                <div class="me-file-upload rounded">
                                    <div class="upload-wrapper">
                                        <input type="file" accept="image/*" aria-invalid="true" required />
                                        <span>Select Product</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uploaded-section clearfix">
                            <div class="uploaded-new-image">
                                <p>Selected Product</p>
                                <img src="../../../images/medium-placeholder.png" width="150" height="150" />
                                <button class="me-upload-image-button">Upload Product</button>
                            </div>
                            <div class="uploaded-old-images">
                                <p>Add Pricing</p>
                                <fieldset>
                                    <p>Product Price</p>
                                    <input type="text" name="name" class="me-xs-input reset-inline" required />
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                            <md-button class="me-default-button" ng-click="nextStep(3)">Next</md-button>
                        </div>
                    </div>

                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Upload Image</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>Upload Image</h1>
                    </div>
                    <div class="md-dialog-main">
                        <div class="file-upload-wrapper clearfix">
                            <p class="file-upload-msg">Upload your product images</p>
                            <div class="pull-left">
                                <div class="me-file-upload rounded">
                                    <div class="upload-wrapper">
                                        <input type="button" ngf-select ng-model="picFile" ngf-accept="image/*" aria-invalid="true" ngf-change="changeImage()" required />
                                        <span >Browse Images</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uploaded-section clearfix">
                            <div class="uploaded-new-image">
                                <p>Browsed Image</p>
                                <img ng-if="picFile == null" ng-src="../../../images/medium-placeholder.png" width="150" height="150" />
                                <img ng-if="picFile != null" ngf-src="picFile" width="150" height="150" />

                                <button class="me-upload-image-button" ng-click="addImage(picFile)">Upload Image</button>
                            </div>
                            <div class="uploaded-old-images">
                                <p>Uploaded Product Images</p>
                                <div class="old-images clearfix">

                                    <img ng-click="setImage()" ng-if="tmpImage[0] == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                    <img ng-click="setImage(0)" ng-if="tmpImage[0] !== null" ngf-src="tmpImage[0]"  width="80" height="80" />

                                    <img ng-click="setImage()" ng-if="tmpImage[1] == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                    <img ng-click="setImage(1)" ng-if="tmpImage[1] !== null" ngf-src="tmpImage[1]" width="80" height="80" />

                                    <img ng-click="setImage()" ng-if="tmpImage[2] == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                    <img ng-click="setImage(2)" ng-if="tmpImage[2] !== null" ngf-src="tmpImage[2]" width="80" height="80" />

                                    <img ng-click="setImage()" ng-if="tmpImage[3] == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                    <img ng-click="setImage(3)" ng-if="tmpImage[3] !== null" ngf-src="tmpImage[3]" width="80" height="80" />

                                    <img ng-click="setImage()" ng-if="tmpImage[4] == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                    <img ng-click="setImage(4)" ng-if="tmpImage[4] !== null" ngf-src="tmpImage[4]" width="80" height="80" />

                                    <img ng-click="setImage()" ng-if="tmpImage[5] == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                    <img ng-click="setImage(5)" ng-if="tmpImage[5] !== null" ngf-src="tmpImage[5]" width="80" height="80" />

                                    <img ng-click="setImage()" ng-if="tmpImage[6] == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                    <img ng-click="setImage(6)" ng-if="tmpImage[6] !== null" ngf-src="tmpImage[6]" width="80" height="80" />

                                    <img ng-click="setImage()" ng-if="tmpImage[7] == null" src="../../../images/small-placeholder.png" width="80" height="80" />
                                    <img ng-click="setImage(7)" ng-if="tmpImage[7] !== null" ngf-src="tmpImage[7]" width="80" height="80" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                            <md-button class="me-default-button" ng-click="addProducts(mainImg,product)"  >Finish</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <!--
    <div class="dialog-controls clearfix">
        <md-button class="me-default-button" ng-click="hide()">Close</md-button>
    </div>
    -->
</md-dialog>