<md-dialog aria-label="Add Tax Option">
    <md-dialog-content>
        <form novalidate>
            <div class="md-dialog-header">
                <h1>Add Tax Option</h1>
            </div>
            <div class="md-dialog-main">
                <fieldset>
                    <label>country</label>
                    <img src="../../../images/question-mark.svg" width="12" height="12" />
                    <input type="text" name="taxCountry" ng-model="tax.country" required />
                </fieldset>
                <fieldset>
                    <label>tax amount</label>
                    <img src="../../../images/question-mark.svg" width="12" height="12" />
                    <input type="number" name="taxAmount" ng-model="tax.taxAmount" required />
                </fieldset>
                <fieldset>
                    <md-checkbox ng-model="tax.isApplyShippingCharge" aria-label="charges">
                        Apply to Shipping Charges
                    </md-checkbox>
                    <md-checkbox ng-model="tax.isApplyServicesCharge" aria-label="services">
                        Apply to Services
                    </md-checkbox>
                </fieldset>
            </div>
            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="backToTaxesView()">cancel</md-button>
                    <md-button class="me-default-button" ng-click="addNewTaxOption(tax)">add</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>