<md-dialog aria-label="Add Tax Option">
    <md-dialog-content>
        <form name="taxOption" novalidate>
            <div class="md-dialog-header">
                <h1>Add Tax Option</h1>
            </div>
            <div class="md-dialog-main">
                <fieldset>
                    <label>Tax Name</label>
                    <img src="../../../images/question-mark.svg" width="12" height="12" />
                    <input class="input-shadow-border" type="text" name="taxName" min="0" max="100" ng-model="tax.taxName" required />
                </fieldset>
                <!--<fieldset>-->
                    <!--<label>country</label>-->
                    <!--<img src="../../../images/question-mark.svg" width="12" height="12" />-->
                    <!--&lt;!&ndash;<input type="text" ng-pattern="/^[a-zA-Z]*$/" name="taxCountry" ng-model="tax.country" required />&ndash;&gt;-->
                    <!--<md-select aria-label="Countries" class=""  ng-model="tax.country" ng-disabled="isDisabled" required>-->
                        <!--<md-option ng-value="oneCountry.countryName" ng-repeat="oneCountry in countryList | orderBy:'countryName'">{{oneCountry.countryName}}</md-option>-->
                    <!--</md-select>-->
                    <!--<br />-->
                    <!--<span ng-show="taxOption.taxCountry.$error.pattern">Characters only</span>-->
                <!--</fieldset>-->
                <fieldset class="row">
                    <div class="col-md-6 country-list">
                        <label>Country List</label>
                        <br>
                        <md-checkbox aria-label="Select All"
                                     ng-checked="isChecked()"
                                     md-indeterminate="isIndeterminate()"
                                     ng-click="toggleAll()">
                            <span ng-if="isChecked()">Un-</span>Select All
                        </md-checkbox>

                        <div ng-repeat="oneCountry in countryList | orderBy:'countryName'"
                             ng-model="country" required>
                            <md-checkbox ng-checked="exists(oneCountry, selected)"
                                         ng-click="toggle(oneCountry, selected)"
                                         aria-label="oneCountry.countryName" >{{oneCountry.countryName}}
                            </md-checkbox>
                        </div>
                    </div>
                    <div class="col-md-6 country-list">
                        <label>Restricted Countries</label>
                        <div ng-if ="IsSingleSelection === false" class="md-label" ng-repeat="country in selected">
                            <!--<span>{{country.countryName}}</span>-->
                            <md-checkbox ng-checked="exists(country, selected)"
                                         ng-click="toggle(country, selected)"
                                         aria-label="oneCountry.countryName" >{{country.countryName}}
                            </md-checkbox>
                        </div>
                        <div ng-if ="IsSingleSelection" class="md-label" ng-repeat="country in selected">
                            <!--<span>{{country.countryName}}</span>-->
                            <md-checkbox ng-checked="exists(country, selected)"
                                         ng-click="toggle(country, selected)"
                                         aria-label="oneCountry.countryName" >{{country.countryName}}
                            </md-checkbox>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label>Tax percentage</label>
                    <img src="../../../images/question-mark.svg" width="12" height="12" />
                    <input class="input-shadow-border" type="number" name="taxAmount" min="0" max="100" ng-model="tax.taxAmount" required />
                </fieldset>
                <fieldset>
                    <md-checkbox class="col-md-6" ng-model="tax.isApplyShippingCharge" aria-label="charges">
                        Apply to Shipping Charges
                    </md-checkbox>
                    <md-checkbox class="col-md-6" ng-model="tax.isApplyServicesCharge" aria-label="services">
                        Apply to Services
                    </md-checkbox>
                </fieldset>
            </div>
            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="backToTaxesView()">cancel</md-button>
                    <md-button class="me-default-button" ng-click="addNewTaxOption(tax,selected)">add</md-button>

                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>