<md-dialog aria-label="Edit Image">
    <md-dialog-content>
        <form class="clearfix" name="productForm" novalidate>
            <div class="md-dialog-header">
                <h1>Edit Image</h1>
            </div>
            <div class="md-dialog-main">
                <fieldset>
                    <div class="me-file-upload regular">
                        <div class="upload-wrapper">
                            <input type="file" ngf-select ng-model="newImageFile" name="newImageFile" accept="image/*" required />
                            <span>Browse</span>
                        </div>
                    </div>
                    <img ng-show="newImageFile != null" ngf-src="newImageFile" width="164" height="164" />
                </fieldset>
            </div>
            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                    <md-button class="me-default-button" ng-click="updateCatImage(newImageFile)">Update</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
