<md-dialog aria-label="Categories">
    <md-dialog-content>
        <form id="names" role="catform" novalidate>
            <div class="md-dialog-header">
                <h1>Manage Product Category</h1>
                <ul class="md-dialog-header-nav clearfix">
                    <li>
                        <a class="add-new-item" ng-click="addNewCat()">Add New Category</a>
                    </li>
                </ul>
            </div>
            <div class="md-dialog-main">
                <div class="form-group has-feedback transition clearfix" ng-repeat="showCategory in categories">
                    <fieldset>
                        <label>Name</label>
                        <input type="text" tabindex="{{$index + 1}}" ng-model="showCategory.name" />
                    </fieldset>
                    <fieldset>
                        <label>Description</label>
                        <input type="text" tabindex="{{$index + 1}}" ng-model="showCategory.desc" ng-class="{'last-player': $index == menuItems.length-1}" />
                    </fieldset>
                    <fieldset>
                        <label>Main Menu</label>
                        <md-select class="" placeholder="Select Main Menu" ng-model="showCategory.mainId">
                            <md-option ng-value="mainMenu._id" ng-repeat="mainMenu in mainMenus">{{mainMenu.name}}</md-option>
                        </md-select>
                    </fieldset>
                    <fieldset class="profile-image-section">
                        <label class="reset-inline">Category Image</label>
                        <a class="feature01 reset-margin">
                            <span class="overlay01">
                                <span class="caption01">
                                    <input class="me-default-button commerce-tab" type="button" ng-click="editCat(showCategory.imageUrl,showCategory.id)" value="Change Image" />
                                </span>
                            </span>
                            <img ng-src="{{imageURL}}&img=secondNavi/{{showCategory.imageUrl}}" width="120" height="120" />
                        </a>
                    </fieldset>
                    <fieldset>
                        <input type="button" class="me-default-button reset-margin" ng-click="deleteCategory($index)" value="Delete" />
                    </fieldset>
                </div>
           </div>
            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                    <md-button class="me-default-button" ng-click="updateCategory()">Ok</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>