<md-dialog aria-label="Store Settings">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="selectedTab" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>general</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>general</h1>
                    </div>
                    <div class="md-dialog-main">
                        <form class="clearfix" novalidate>
                            <fieldset class="col-2">
                                <label>select a currency</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <select class="form-control"
                                        ng-model="storeSettings.currency"
                                        ng-options=" oneCurrency.sign as oneCurrency.currency for oneCurrency in currencyList">
                                </select>
                            </fieldset>
                            <fieldset class="col-1 reset-margin-right">
                                <label>measurement standard</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <select class="form-control"
                                        ng-model="storeSettings.measurementStandard"
                                        ng-options="measurementStandards.measurementStandard as measurementStandards.measurementStandard for measurementStandards in measurementTypeList">
                                </select>
                            </fieldset>
                            <fieldset class="col-2">
                                <label>next order number </label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input type="text" ng-model="storeSettings.orderNumber" name="name" required />
                            </fieldset>
                            <fieldset class="col-2 reset-margin-right">
                                <label>express checkout</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <div class="on-off-switch">
                                    <input type="checkbox" ng-model="storeSettings.expressCheckout" name="on-off-switch" class="on-off-switch-checkbox" id="on-off-switch-1" >
                                    <label class="on-off-switch-label" for="on-off-switch-1">
                                        <span class="on-off-switch-inner"></span>
                                        <span class="on-off-switch-switch"></span>
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label>select site type</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <select class="form-control"
                                        ng-model="storeSettings.siteType"
                                        ng-options="siteTypes.siteType as siteTypes.siteType for siteTypes in siteTypeList">
                                </select>
                            </fieldset>
                            <fieldset>
                                <label>allow madeeasy to promote</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <div class="on-off-switch">
                                    <input type="checkbox" ng-model="storeSettings.allowPromote" name="on-off-switch" class="on-off-switch-checkbox" id="on-off-switch-2">
                                    <label class="on-off-switch-label" for="on-off-switch-2">
                                        <span class="on-off-switch-inner"></span>
                                        <span class="on-off-switch-switch"></span>
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label>address</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <textarea rows="2" ng-model="storeSettings.address" ></textarea>
                            </fieldset>
                            <br />
                            <h2>business hours</h2>
                            <table class="me-hours-table">
                                <thead>
                                    <th>Day</th>
                                    <th colspan="2">Open from</th>
                                    <th colspan="2">Open till</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in openHours">
                                    <td ng-model="data.day">{{data.day}}</td>
                                    <td ng-if="status == 'Closed'">_ _ _ _</td>
                                    <td ng-if="status != 'Closed'"
                                        inline-edit="data.open"
                                        inline-edit-callback="OpenHoursUpdateHandler(newValue)"
                                        inline-edit-btn-edit=""
                                        inline-edit-on-blur="save"
                                        inline-edit-on-click></td>
                                    <td ng-if="status == 'Closed'"></td>
                                    <td ng-if="status != 'Closed'"><select ng-model="amPm">
                                        <option value="am">am</option>
                                        <option value="pm">pm</option>
                                    </select>
                                    </td>
                                <td ng-if="status == 'Closed'">_ _ _ _</td>
                                <td ng-if="status != 'Closed'"
                                    inline-edit="data.close"
                                    inline-edit-callback="OpenHoursUpdateHandler(newValue)"
                                    inline-edit-btn-edit=""
                                    inline-edit-on-blur="save"
                                    inline-edit-on-click></td>
                                  <td ng-if="status == 'Closed'"></td>
                                  <td ng-if="status != 'Closed'"><select ng-model="amPm">
                                      <option value="am">am</option>
                                      <option value="pm">pm</option>
                                  </select>
                                </td>
                                <td><select ng-model="status">-->
                                        <option value="Open">Open</option>
                                        <option value="Closed">Closed</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br />
                            <fieldset>
                                <label>select language</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <select class="form-control"
                                        ng-model="storeSettings.language"
                                        ng-options="languages.language as languages.language for languages in languageList">
                                </select>
                            </fieldset>
                            <fieldset>
                                <label>time and region</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <select class="form-control"
                                        ng-model="storeSettings.timeAndRegion"
                                        ng-options="timeAndRegions.timeAndRegion as timeAndRegions.timeAndRegion for timeAndRegions in timeAndRegionList">
                                </select>
                            </fieldset>
                            <fieldset>
                                <label>connect a domain</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <input type="text" ng-model="storeSettings.connectDomain" name="name" required />
                            </fieldset>
                            <fieldset>
                                <label>search engine description</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <textarea ng-model="storeSettings.searchEngineDesc" rows="2"></textarea>
                            </fieldset>
                        </form>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                            <md-button class="me-default-button" ng-click="saveStoreSettings(1,storeSettings,openHours)">next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>policies</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>policies</h1>
                    </div>
                    <div class="md-dialog-main">
                        <form class="clearfix" novalidate>
                            <fieldset>
                                <label>return policy</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <textarea rows="2" ng-model="policies.returnPolicy"></textarea>
                            </fieldset>
                            <fieldset>
                                <label>terms and conditions</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <textarea rows="2" ng-model="policies.termsAndCondition"></textarea>
                            </fieldset>
                            <fieldset>
                                <label>privacy policy</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12" />
                                <textarea rows="2" ng-model="policies.privacyPolicy"></textarea>
                            </fieldset>
                        </form>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                            <md-button class="me-default-button" ng-click="savePolicies(2,policies)">next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>social media</md-tab-label>
                <md-tab-body >
                    <div class="md-dialog-header">
                        <h1>social media</h1>
                    </div>
                    <div class="md-dialog-main">
                        <label>social media integration</label>
                        <ul class="social-connect">
                            <li>
                                <a href="javascript:void(0);" class="facebook-connect">connect to facebook</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="google-connect">connect to google plus</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="twitter-connect">connect to twitter</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="tumbler-connect">connect to tumbler</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="pinterest-connect">connect to pinterest</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
                            <md-button class="me-default-button" ng-click="nextStep(3)">next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>users</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>users</h1>
                        <ul class="md-dialog-header-nav clearfix">
                            <li>
                                <a class="add-new-item" ng-click="addNewUser()">Add New User</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-dialog-main">
                        <label>current users</label>
                        <div class="users-section">
                            <div class="user-profile user-profile-selected clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>senduran</h1>
                                        <p>system admin</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                            <div class="user-profile clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>rakitha</h1>
                                        <p>system user</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                            <div class="user-profile clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>ishan</h1>
                                        <p>system user</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                            <div class="user-profile clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>rakitha</h1>
                                        <p>system user</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                            <div class="user-profile clearfix">
                                <ul class="users-list">
                                    <li class="clearfix">
                                        <img src="../images/user-profile.png" alt="User Profile Image" />
                                        <h1>ishan</h1>
                                        <p>system user</p>
                                    </li>
                                </ul>
                                <ol class="breadcrumb">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="answer()">Finish</md-button>
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>