<md-dialog aria-label="Inventory" style="width:900px">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="selectedIndex" md-no-ink="true" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab>
                <md-tab-label>Email Delivery</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Email Delivery</h1>
                        </div>
                    </div>
                    <form name="emailDeliveryForm" novalidate>
                        <div class="md-dialog-main">
                            <fieldset class="fieldset-default-size">
                                <label>from email</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input  type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                        name="fromEmail" required ng-model="emailDel.fromEmail"/>
                                <span class="error"
                                      ng-show="emailDeliveryForm.fromEmail.$error.email || emailDeliveryForm.fromEmail.$error.pattern">
                                    Invalid Email Address
                                </span>
                            </fieldset >
                            <fieldset class="fieldset-default-size">
                                <label>reply to email</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                       name="replyToEmail" required ng-model="emailDel.replyToEmail"/>
                                <span class="error"
                                      ng-show="emailDeliveryForm.replyToEmail.$error.email || emailDeliveryForm.replyToEmail.$error.pattern">
                                    Invalid Email Address
                                </span>
                            </fieldset>
                            <fieldset class="fieldset-default-size">
                                <label>alert email</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                       name="alertEmail" required ng-model="emailDel.alertEmail"/>
                                <span class="error"
                                      ng-show="emailDeliveryForm.alertEmail.$error.email || emailDeliveryForm.alertEmail.$error.pattern">
                                    Invalid Email Address
                                </span>
                            </fieldset>
                            <fieldset class="fieldset-default-size">
                                <label>alert at</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="input" ng-pattern="/^[0-9]+$/" name="alertAt" class="input-shadow-border me-xs-input reset-inline" required
                                       ng-model="emailDel.alertAt"/>
                                <span class="error"
                                      ng-show="emailDeliveryForm.alertAt.$error.pattern">
                                    Numbers only
                                </span>
                               <!-- <span>%</span>-->
                            </fieldset>

                        </div>

                        <div class="md-dialog-buttons">
                            <div class="inner-section">
                                <!--<md-button class="me-default-button" ng-click="saveEmailDeliInfo(emailDel,'save')">Save-->
                                <!--</md-button>-->
                                <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                <md-button class="me-default-button" ng-disabled="emailDeliveryForm.$invalid" ng-click="saveEmailDeliInfo(emailDel,'next')">Next</md-button>
                            </div>

                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="enableTab">

                <md-tab-label>Account Settings</md-tab-label>
                <md-tab-body>

                    <div class="md-dialog-header">
                        <h1>Account Settings</h1>
                    </div>
                    <md-content layout-padding>
                        <form name="emailSettingsForm">
                            <div class="md-dialog-main">
                                <div class="clearfix">

                                    <md-input-container class="md-block" flex="50">
                                        <label>Domain name</label>
                                        <input required md-maxlength="50"  name="domainName" ng-model="emailSettings.domainName">
                                        <div ng-messages="emailSettingsForm.domainName.$error" ng-show="emailSettingsForm.domainName.$dirty">
                                            <div ng-message="required">Domain Name is required.</div>
                                            <div ng-message="md-maxlength">The name must be less than 50 characters long.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Username</label>
                                        <input required md-maxlength="50"  name="emailUsername" ng-model="emailSettings.emailUsername">

                                        <div ng-messages="emailSettingsForm.emailUsername.$error" ng-show="emailSettingsForm.emailUsername.$dirty">
                                            <div ng-message="required">Email Username is required.</div>
                                        </div>
                                    </md-input-container>


                                    <md-input-container class="md-block">
                                        <label>password</label>
                                        <input required name="emailPassword" ng-model="emailSettings.emailPassword">
                                        <!--<md-checkbox ng-model="isShow" aria-label="Show Password">-->
                                            <!--Show-->
                                        <!--</md-checkbox>-->
                                        <div ng-messages="emailSettingsForm.emailPassword.$error" ng-show="emailSettingsForm.emailPassword.$dirty">
                                            <div ng-message="required">Password is required.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <md-checkbox ng-model="emailSettings.sslEnabled" aria-label="Finished?">
                                            SSL enabled
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="md-dialog-buttons">
                                <div class="inner-section">
                                    <md-button class="me-default-button" ng-click="updateEmailSettings(emailSettings,'save')">Save
                                    </md-button>
                                    <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                                    <md-button class="me-default-button" ng-disabled="emailSettingsForm.$invalid"  ng-click="updateEmailSettings(emailSettings,'next')">Next</md-button>
                                </div>
                            </div>
                        </form>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled=enableTab>
                <md-tab-label>Header and Footer</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Header and Footer</h1>

                        </div>
                    </div>
                    <form name="headerFooterForm" novalidate>
                    <div class="md-dialog-main">
                        <fieldset>
                            <label>Header</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <div class="custom-trix">
                                <trix-editor style="width:75%" angular-trix rows="4" class="input-shadow-border"  ng-model="emailHF.header" required></trix-editor>
                            </div>
                            <!--<div class="file-upload-wrapper clearfix">-->
                                <!--<p class="file-upload-msg">Upload your product images</p>-->
                                <!--<div class="pull-left">-->
                                    <!--<div class="me-file-upload rounded">-->
                                        <!--<div class="upload-wrapper">-->
                                            <!--<input type="button" ngf-select ng-model="picFileHeader" ngf-accept="image/*"-->
                                                   <!--aria-invalid="true" ngf-change="changeImage()" required/>-->
                                            <!--<span>Browse Images</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="email-image-upload uploaded-section clearfix">
                                <div class="uploaded-new-image3">
                                    <p>Insert Header Image</p>
                                    <img ng-if="picFileHeader == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                         height="150"/>
                                    <img ng-if="picFileHeader != null" ngf-src="picFileHeader" width="150" height="150"/>

                                    <button class="btn-material" ngf-select ng-model="picFileHeader" ngf-accept="image/*"
                                            aria-invalid="true" ngf-change="changeImage()" required>Upload Image
                                    </button>

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>footer</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <div class="custom-trix">
                                <trix-editor style="width:75%" angular-trix rows="4" class="input-shadow-border"  ng-model="emailHF.footer"></trix-editor>
                            </div>
                            <div class="email-image-upload uploaded-section clearfix">
                                <div class="uploaded-new-image3">
                                    <p>insert footer Image</p>
                                    <img ng-if="picFileFooter == null" ng-src="../../../images/medium-placeholder.png" width="150"
                                         height="150"/>
                                    <img ng-if="picFileFooter != null" ngf-src="picFileFooter" width="150" height="150"/>

                                    <button class="btn-material" ngf-select ng-model="picFileFooter" ngf-accept="image/*"
                                            aria-invalid="true" ngf-change="changeImage()" required >Upload Image
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="updateHeaderFooterSettings(picFileHeader,picFileFooter,emailHF,'save')">Save
                            </md-button>
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                            <md-button class="me-default-button"  ng-click="updateHeaderFooterSettings(picFileHeader,picFileFooter,emailHF,'next')">Next</md-button>
                        </div>
                    </div>

                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled=enableTab>
                <md-tab-label>Order Confirmation</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Order Confirmation</h1>

                        </div>
                    </div>
                    <form name="orderConfirmationForm" novalidate>
                    <div class="md-dialog-main">
                        <fieldset>
                            <label>order confirmed email</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <div class="custom-trix">
                                <trix-editor angular-trix rows="4" class="input-shadow-border" ng-model="OConfirm.orderConfirmedEmail" required></trix-editor>
                            </div>
                        </fieldset>
                        <md-button class="me-default-button col-1 pull-right reset-margin" ng-click="testEmail('Order confirm')">send test email</md-button>

                    </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="updateEmailSettings(OConfirm,'save')">Save
                            </md-button>
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="orderConfirmationForm.$invalid" ng-click="updateEmailSettings(OConfirm,'next')">Next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled=enableTab>
                <md-tab-label>Order Fulfill</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Order Fulfill</h1>

                        </div>
                    </div>
                    <form name="orderFulfillForm" novalidate>
                    <div class="md-dialog-main">
                        <fieldset>
                            <label>order fulfilled email</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <div class="custom-trix">
                                <trix-editor angular-trix rows="4" class="input-shadow-border" ng-model="Ofulfilled.orderFulfilledEmail" required></trix-editor>
                            </div>
                        </fieldset>
                        <md-button class="me-default-button col-1 pull-right reset-margin" ng-click="testEmail('Order Fulfilled')">send test email</md-button>
                    </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="updateEmailSettings(Ofulfilled,'save')">Save
                            </md-button>
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="orderFulfillForm.$invalid" ng-click="updateEmailSettings(Ofulfilled,'next')">Next</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled=enableTab>
                <md-tab-label>Order Refund</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">Order Refund</h1>

                        </div>
                    </div>
                    <form name="orderRefundForm" novalidate>
                    <div class="md-dialog-main">
                        <fieldset>
                            <label>order refunded email</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <div class="custom-trix">
                                <trix-editor angular-trix rows="4" class="input-shadow-border" ng-model="ORefund.orderRefundEmail" required></trix-editor>
                            </div>
                        </fieldset>
                        <md-button class="me-default-button col-1 pull-right reset-margin" ng-click="testEmail('Order Refund')">send test email</md-button>
                    </div>
                    </form>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="updateEmailSettings(ORefund,'save')">Save
                            </md-button>
                            <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="orderRefundForm.$invalid" ng-click="updateEmailSettings(ORefund,'next')">Finish</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>
    </md-dialog-content>
</md-dialog>