<md-dialog aria-label="Taxes">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>taxes</h1>
            <ul class="md-dialog-header-nav clearfix">
                <li>
                    <a class="add-new-item" ng-click="addTaxOption()">Add Tax Option </a>
                </li>
            </ul>
        </div>
        <div class="md-dialog-main clearfix">
            <fieldset>
                <label>tax details</label>
                <img src="../../../images/question-mark.svg" width="12" height="12">
            </fieldset>
            <table class="me-simple-table">
                <thead>
                    <th class="simple-column">Country</th>
                    <th class="simple-column">Amount</th>
                    <th class="simple-column">Edit</th>
                    <th class="simple-column">Delete</th>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.country}}</td>
                    <td>{{item.taxAmount}} %</td>
                    <td><img width="25" src="../../../images/edit-icon.svg" ng-click="editTaxInfo(item)"></td>
                    <td><img width="25" src="../../../images/delete-icon.svg" ng-click="deleteTaxInfo($index,item)"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">cancel</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>