<md-dialog aria-label="Products">
    <md-dialog-content>
        <form name="productForm" novalidate>
            <div class="md-dialog-header">
                <h1>Manage Products</h1>
                <ul class="md-dialog-header-nav clearfix">
                    <li>
                        <a class="add-new-item" ng-click='addNewPro()'>Add New Product</a>
                    </li>
                </ul>
            </div>
            <div class="md-dialog-main">
                <div class="product-view has-feedback transition clearfix" ng-repeat="showProduct in products">
                    <fieldset>
                        <label>Name</label>
                        <input type="text" tabindex="{{$index + 1}}" ng-model="showProduct.name" />
                    </fieldset>
                    <fieldset>
                        <label>Price</label>
                        <input type="number" tabindex="{{$index + 1}}" ng-model="showProduct.price" />
                    </fieldset>
                    <fieldset class="profile-image-section">
                        <label class="reset-inline fie-upload-text-gap">Add A Product Image</label>
                        <a class="feature01 reset-margin">
                        <span class="overlay01">
                            <span class="caption01">
                                <input class="me-default-button commerce-tab" type="button" ng-click="editProImage(showProduct.imageUrl,showProduct.id)" value="Change Image" />
                            </span>
                        </span>
                            <img ng-src="{{imageURL}}&img=thirdNavi/{{showProduct.imageUrl}}" width="120" height="120" />
                        </a>
                    </fieldset>
                    <fieldset>
                        <label>Child</label>
                        <md-select class="" placeholder="Select Main Menu" ng-model="showProduct.childId">
                            <md-option ng-value="child.id" ng-repeat="child in categories">{{child.name}}</md-option>
                        </md-select>
                    </fieldset>
                    <fieldset>
                        <input type="button" class="me-default-button reset-margin" ng-click="deleteProduct($index)" value="Delete" />
                    </fieldset>
                </div>
            </div>
            <div class="md-dialog-buttons">
                <div class="inner-section">
                    <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                    <md-button class="me-default-button" ng-click="updateProduct()">Ok</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>