<md-dialog aria-label="Orders" class="md-dialog-l">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
            <md-tab>
                <md-tab-label>all orders</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <div class="md-dialog-header-nav clearfix">
                            <h1 class="pull-left">orders</h1>
                            <fieldset class="col-2 pull-right reset-margin">
                                <input type="text" required="" class="me-search-input" name="name">
                                <input type="submit" value="search" class="me-search-button">
                            </fieldset>
                        </div>
                    </div>
                    <div class="md-dialog-main">
                        <table class="me-checkbox-table">
                            <thead>
                                <th class="checkbox-column">
                                    <md-checkbox md-no-ink ng-model="" aria-label="Check all"></md-checkbox>
                                </th>
                                <th>orders</th>
                                <th class="order-columns">date</th>
                                <th class="order-columns">customer</th>
                                <th>payment status</th>
                                <th>fulfillment status</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in ordersList">
                                <td class="checkbox-row">
                                    <md-checkbox md-no-ink ng-model="" aria-label="Check one item"></md-checkbox>
                                </td>
                                <td># {{order.orderId}}</td>
                                <td>{{order.createdAt}}</td>
                                <td>{{order.customerName}}</td>
                                <td>{{order.paymentStatus}}</td>
                                <td>{{order.fulfillmentStatus}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="hide()">Close</md-button>
                            <md-button class="me-default-button">export as csv</md-button>
                            <md-button class="me-default-button">refunded</md-button>
                            <md-button class="me-default-button">fulfilled</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>orders fulfilled</md-tab-label>
                <md-tab-body>

                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>orders unfulfilled</md-tab-label>
                <md-tab-body >

                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>orders refunded</md-tab-label>
                <md-tab-body>

                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>