<md-dialog aria-label="Shipping">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>shipping</h1>
            <ul class="md-dialog-header-nav clearfix">
                <li>
                    <a class="add-new-item" ng-click="addShippingOption()">Add Shipping Option</a>
                </li>
            </ul>
        </div>
        <div class="md-dialog-main clearfix">
            <fieldset>
                <label>shipping classes</label>
                <img src="../../../images/question-mark.svg" width="12" height="12">
            </fieldset>
            <table class="me-simple-table">
                <thead>
                    <th class="simple-column">option name</th>
                    <th class="simple-column">shipping type</th>
                    <th class="simple-column">edit</th>
                    <th class="simple-column">delete</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.optionName}}</td>
                        <td>{{item.shippingOption}}</td>
                        <td><img width="25" src="../../../images/edit-icon.svg" ng-click="editShippingInfo(item)"></td>
                        <td><img width="25" src="../../../images/delete-icon.svg" ng-click="deleteShippingInfo($index,item)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="cancel()">Cancel</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>