<md-dialog aria-label="Shipping">
    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>shipping</h1>
            <ul class="md-dialog-header-nav clearfix">
                <li>
                    <a class="add-new-item" ng-click="addShippingOption()">Add Shipping Option</a>
                </li>
            </ul>
        </div>
        <div class="md-dialog-main clearfix">
            <fieldset>
                <label>shipping classes</label>
                <img src="../../../images/question-mark.svg" width="12" height="12">
            </fieldset>
            <table class="me-simple-table">
                <thead>
                    <th class="simple-column">option name</th>
                    <th class="simple-column">shipping type</th>
                    <th class="simple-column">delete</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Name 1</td>
                        <td>weight based</td>
                        <td><a href="javascript:void(0);">delete</a></td>
                    </tr>
                    <tr>
                        <td>Name 2</td>
                        <td>Fixed rate</td>
                        <td><a href="javascript:void(0);">delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="hide()">Close</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>