.idea/
.tmp/
OtenroMobile/mobileViewer/www/lib/
api/.DS_Store
api/templates/.DS_Store
api/templates/foodDemoApp/.DS_Store
api/templates/foodDemoApp/.idea/
api/templates/foodDemoApp/img/.DS_Store
api/templates/foodDemoApp2/.DS_Store
api/templates/foodDemoApp2/img/.DS_Store
apps/.DS_Store
apps/hybrid/.DS_Store
apps/hybrid/cakeFactory/.DS_Store
apps/hybrid/cakeFactory/platforms/.DS_Store
apps/hybrid/cakeFactory/platforms/android/assets/www/cordova_plugins.js
apps/hybrid/cakeFactory/platforms/android/assets/www/js/services/promotionService.js
apps/hybrid/cakeFactory/platforms/android/assets/www/lib/angular-animate/
apps/hybrid/cakeFactory/platforms/android/assets/www/lib/angular-sanitize/
apps/hybrid/cakeFactory/platforms/android/assets/www/lib/angular-ui-router/
apps/hybrid/cakeFactory/platforms/android/assets/www/lib/angular/
apps/hybrid/cakeFactory/platforms/android/assets/www/lib/platform.js/
apps/hybrid/cakeFactory/platforms/android/com.paypal.cordova.mobilesdk/
apps/hybrid/cakeFactory/platforms/android/platform_www/cordova_plugins.js
apps/hybrid/cakeFactory/platforms/android/platform_www/js/
apps/hybrid/cakeFactory/platforms/android/src/
apps/hybrid/cakeFactory/platforms/ios/
apps/hybrid/cakeFactory/resources/.DS_Store
apps/hybrid/cakeFactory/resources/android/
apps/hybrid/cakeFactory/resources/ios/.DS_Store
apps/hybrid/cakeFactory/resources/ios/icon/.DS_Store
apps/hybrid/cakeFactory/resources/ios/icon/icon-50.psd
apps/hybrid/cakeFactory/resources/ios/icon/icon-60@3x copy.png
apps/hybrid/cakeFactory/resources/ios/splash/.DS_Store
apps/hybrid/cakeFactory/resources/ios/splash/Default-568h@2x~iphone.psd
apps/hybrid/cakeFactory/www/.DS_Store
apps/hybrid/cakeFactory/www/img/.DS_Store
apps/hybrid/cakeFactory/www/lib/.DS_Store
apps/hybrid/cakeFactory/www/lib/angular-animate/
apps/hybrid/cakeFactory/www/lib/angular-sanitize/
apps/hybrid/cakeFactory/www/lib/angular-ui-router/
apps/hybrid/cakeFactory/www/lib/angular/
apps/hybrid/cakeFactory/www/lib/ionic-platform-web-client/
apps/hybrid/cakeFactory/www/lib/ionic-service-core/
apps/hybrid/cakeFactory/www/lib/jquery/
apps/hybrid/cakeFactory/www/lib/platform.js/
assets/.DS_Store
assets/images/.DS_Store
assets/images/templates/fashionApp/clothing.gif
assets/images/templates/resturant/clothing.gif
assets/resources/
assets/vendor/
bower.zip
bower_components/
build/
config/.DS_Store
config/ssl/.DS_Store
config/local.js
config/ssl/sslforfree.zip
config/ssl/sslforfree/
mobileApps/
node.zip
node_modules/
gen/
nohup.out
transaction.log
combined.log/
error.log/
exceptions.log/
