
  <div class="row p-4 border-bottom hidden-md-down">
    <div class="col-md-4 hidden-sm-down">
            <div class="d-inline px-3"><a href="facebook.com"><i class="icon fa fa-facebook"></i></a></div>
            <div class="d-inline px-3"><a href="twitter.com"><i class="icon fa fa-twitter"></i></a></div>
            <div class="d-inline px-3"><a href="pinterest-p.com"><i class="icon fa fa-pinterest-p"></i></a></div>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
        <span class="text-uppercase navbar-brand main-header-font">{{title}}</span>
    </div>
    <div class="col-md-4 text-right">
        <div class="d-inline px-3  hidden-sm-down"><a href="#"  ><i class="fa fa-search"></i></a></div>
        <div class="d-inline px-3  hidden-sm-down">
            <a (click)="navigate('cart')">
              <i aria-hidden="true" class="fa fa-shopping-cart"></i>
              <span class="badge bg-primary">{{cartNo}}</span>
            </a>
        </div>
    </div>
  </div>

<nav class="navbar navbar-toggleable-md py-2 navbar-light main-navigation" >
  <div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <a class="navbar-brand hidden-lg-up">
    <div class="text-center">
          <span class="text-uppercase  main-header-font">{{title}}</span>
    </div>
  </a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mx-auto text-uppercase font-weight-bold">
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('home')">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('aboutus')">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('shop')">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('policies')">Policies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('terms')">Terms & Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('cart')">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('order-history')">Order History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('register')">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('contact')">Contact</a>
      </li>
    </ul>

  </div>
</nav>

