<div class="other-page-header about-pg"></div>
<div ng-include=" 'views/navigation.html' "></div>

<!-- Page Content -->
<div class="page-wrapper white-bg about-page-wrapper">
	<div class="container">
		<div class="services_desc">
			<br/><br/>
			<h2>About Us</h2>
			<br>
			<div class="image group">
				<div class="grid images_3_of_1">
					<img src="images/eli cakery.jpg" alt="" />
				</div>
				<div class="grid span_2_of_1">
					<h3>Our Story</h3>
					<p>
						The English Cake Company started in December 2012 at the Good Market at
						Battaramulla after some friends came for dinner and	suggested our cakes
						might be popular there. Since the first day, all the goodies have been a
						hit and we’ve never looked back.
						All our cakes are made to my favorite recipes collected
						(and tweaked) over time from friends, family, my travels and
						my mum who’s a trained baker and confectioner.
					</p>
					<br>
					<h3>Our Company</h3>
					<p>
						We intend to carry on producing high quality cakes
						and puddings using the best ingredients while keeping them affordable.
						All our cakes are made just the way I like to eat them myself,
						and I hope you like them too!
						We are always trying to be environmentally friendly
						with our packaging and containers. Where possible,
						all our ingredients are sourced locally from small businesses
					</p>
					<br>
					<h3>Our Goal</h3>
					<p>
						Always keep the products fresh and high quality,
						paying close attention to every single product coming out of our kitchens.
						Completely stop using plastics and use recyclable materials for our packaging.
						Work with local small businesses to help each other and select the best of ingredients.
						Source items from small local businesses who produce all natural products
						with no artificial additives and encourage people to stop using artificial colors,
						preservatives and additives
					</p>
					<br/><br/>
				</div>
			</div>
	</div>
	</div>
	<div class="items_desc">
		<div class="wrap">
			<div class="section group">
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						 <img ng-src="images/Yamu-logo.jpg" alt="Yamu" />
					</div>
					<div class="text list_2_of_1">
						<h3>Yamu</h3>
						<p>
							Seriously, the English Cake Company makes some amazing sweets and savories.
							It's run by a home baker and her family and they make really tasty sweets like brownies,
							lemon and...
						</p>
						<div class="read_more">
							<a href="http://www.yamu.lk/place/the-cakery/" target="_blank">Read More</a>
						</div>
					</div>
				</div>
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						<img ng-src="images/Daily-FT-logo.jpg" alt="Daily FT" />
					</div>
					<div class="text list_2_of_1">
						<h3>Daily FT</h3>
						<p>
							What would you say if you were told to try a piece of beetroot and chocolate cake?
							While it looked very chocolaty with chocolate sauce dripping over its edges...
						</p>
						<div class="read_more">
							<a href="http://www.ft.lk/2013/03/23/scrumptious-english-delights/" target="_blank">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="section group">
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						<img ng-src="images/Daily-Mirror-logo.jpg" alt="Daily Mirror" />
					</div>
					<div class="text list_2_of_1">
						<h3>Daily Mirror</h3>
						<p>After having developed a mutual love for creating delicious paninis and wholesome baked goodies at the Good Market every Thursday...</p>
						<div class="read_more"><a href="http://life.dailymirror.lk/article/6156/the-cakery-and-panino-" target="_blank">Read More</a></div>
					</div>
				</div>
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
					   <img src="images/MTV-Sports-logo.jpg" alt="MTV Sports" style="margin-bottom:5px;" />
					</div>
					<div class="text list_2_of_1">
						<h3>MTV Sports</h3>
						<p>Interview with MTV Sports</p>
						<div class="read_more"><a href="http://www.youtube.com/watch?v=Oups7YoZN0o" target="_blank">Watch on Youtube</a></div>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>
