<!DOCTYPE HTML>
<title>Cheese Cakes | The English Cake Company</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../../css/style.css" rel="stylesheet" type="text/css"  media="all" />

<script type="text/javascript" src="../../js/jquery.min.js"></script>

<!-- CSS files -->
<link rel="stylesheet" type="text/css" href="../../jPayPalCart/jPayPalCart.css" />
<!-- Script files -->
<script src="../../jPayPalCart/jPayPalCart.js" type="text/javascript"></script>

<script type="text/javascript" >
    jQuery(function(){
        jQuery("#menu-button-id").click( function(){
            jQuery("#menu-id").slideToggle('slow');
        });

        var pageUrl = jQuery(location).attr('search');
        var searchId = pageUrl.split("=");
        var item = searchId[1];
        --item;

        //jQuery.get('http://onbitlabs.com:1338/products/oneUSD',function(data) {
        //var oneDoller = data.result;
        var oneDoller = 143.6;
        console.log(oneDoller); // onbitlabs.com // Only Testing

        jQuery(document).ready(function(){
            // Create a basic cart
            jQuery("#myCart").PayPalCart({
                virtual: false,             //set to true where you are selling virtual items such as downloads
                quantityupdate: true,       //set to false if you want to disable quantity updates in the cart
                currency: 'LKR',            //set to your trading currency - see PayPal for valid options
                currencysign: 'Rs:',          //set the currency symbol
                minicartid: 'minicart',     //element to show the number of items and net value
                persitdays: 0,              //set to -1 for cookie-less cart for single page of products,
                oneDoller : oneDoller	    // 0 (default) persits for the session,
                // x (number of days) the basket will persits between visits
            });

            // Start Modify ------------
            jQuery(function() {
                var isCheckOut = localStorage.getItem('isCheckOut');
                if(isCheckOut){
                    if(isCheckOut == 'true'){
                        jQuery("#checkoutButtonview").hide();
                    }else{
                        jQuery("#checkoutButtonview").show();
                        localStorage.setItem('pickUpBranch',0);
                        localStorage.setItem('deliveryCharge',0);
                        localStorage.setItem('tempAddress','');
                    }
                }else {
                    localStorage.setItem('isCheckOut',false);
                    localStorage.setItem('pickUpBranch',0);
                    localStorage.setItem('deliveryCharge',0);
                    localStorage.setItem('tempAddress','');
                    jQuery("#checkoutButtonview").show();
                }

            });
            jQuery("#deliveryOption").hide();
            jQuery('#checkoutButtonview').click(function() {
                jQuery("#shoppingCartArea").hide();
                jQuery("#deliveryOption").show();
                localStorage.setItem('isCheckOut',true);
            });
            jQuery('#submitDeliveryOption').click(function() {
                localStorage.setItem('isSelectDeliveryOption',true);
                jQuery("#shoppingCartArea").show();
                jQuery("#deliveryOption").hide();
                jQuery("#checkoutButtonview").hide();
            });

            jQuery('#myCart').click(function(){
                //jQuery('#myCart').css("background-color", "red");
            })

            // End Modify  ------------------

            jQuery('.addToCartFull').click(function() {
                var isCheckOut = localStorage.getItem('isCheckOut');
                if(isCheckOut == 'false') {
                    console.log('is check')
                    jQuery('#myCart').PayPalCart('add', fullCode, fullName, QuantityFull, fullPrice, 0);
                }
            });

            jQuery('.addToCartSlice').click(function() {
                var isCheckOut = localStorage.getItem('isCheckOut');
                if(isCheckOut == 'false') {
                    jQuery('#myCart').PayPalCart('add', fullCodeAddPieces, fullNameAddPieces, QuantitySlice, slicePrice, 0);
                }
            });

            jQuery('.addLocation').click(function() {
                var linkValue = jQuery( ".addLocation option:selected" ).val();
                var tempAddress = jQuery("#address_line_01").val();
                localStorage.setItem('deliveryCharge',linkValue);
                localStorage.setItem('tempAddress',tempAddress);
                jQuery('#myCart').PayPalCart('updateLocation',linkValue);
            });

            jQuery(function() {
                var deliveryCharge = localStorage.getItem('deliveryCharge');
                var tempAddress = localStorage.getItem('tempAddress');
                if(deliveryCharge){
                    jQuery(".addLocation").val(deliveryCharge);
                    jQuery("#address_line_01").val(tempAddress);
                    jQuery('#myCart').PayPalCart('updateLocation',deliveryCharge);
                }else {
                    jQuery("#address_line_01").val('');
                    jQuery("#address_lines").hide();
                }
            });

            jQuery("#address_line_01").on("change paste keyup", function() {
                var tempAdd = jQuery(this).val();
                localStorage.setItem('tempAddress',tempAdd);
            });

            jQuery('.addBranch').click(function() {
                var linkValue = jQuery( ".addBranch option:selected" ).val();
                localStorage.setItem('pickUpBranch',linkValue);
            });

            jQuery(function() {
                var pickUpBranch = localStorage.getItem('pickUpBranch');
                if(pickUpBranch){
                    jQuery(".addBranch").val(pickUpBranch);
                }
            });
        });

        //	});

        if (jQuery("#setFull").is(":checked")) {
            jQuery("#fullView").show();
            jQuery("#piecesView").hide();
        }
        jQuery("input[name='payPalPay']").click(function () {
            if (jQuery("#setFull").is(":checked")) {
                jQuery("#fullView").show();
                jQuery("#piecesView").hide();
            } else {
                jQuery("#fullView").hide();
                jQuery("#piecesView").show();
            }
        });

        jQuery(function(){
            var pickUpBranch = localStorage.getItem('pickUpBranch');
            var deliveryCharge = localStorage.getItem('deliveryCharge');

            var radios = jQuery('input:radio[name=deliveryOption]');
            if(pickUpBranch != 0) {
                if (radios.is(':checked') === false) {
                    radios.filter('[value=pickUp]').prop('checked', true);
                    if (jQuery("#pickUp").is(":checked")) {
                        jQuery("#pickUpView").show();
                        jQuery("#deliveryView").hide();
                    }
                }
            }else if(deliveryCharge != 0) {
                if (radios.is(':checked') === false) {
                    radios.filter('[value=delivery]').prop('checked', true);
                    if (jQuery("#delivery").is(":checked")) {
                        jQuery("#pickUpView").hide();
                        jQuery("#deliveryView").show();
                    }
                }
            }else{
                if (radios.is(':checked') === false) {
                    radios.filter('[value=pickUp]').prop('checked', true);
                    if (jQuery("#pickUp").is(":checked")) {
                        jQuery("#pickUpView").show();
                        jQuery("#deliveryView").hide();
                    }
                }
            }
        });




        // End Coding -------------------------------------------------- //
    });
</script>
</head>
<body>

<!---start-content---->
<div class="main">
    <div class="header">
        <div class="header_img">
        <img src="../../images/header_img3.jpg" alt="" />
        </div>
        <div class="header_bottom">
        <div class="wrap">
        <div class="logo">
        <a href="../../index.html"><img src="../../images/logo.png" alt="" /></a>
        </div>
        <div class="menu">
        <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../../about.html">About</a></li>
        <li><a href="../../services.html">Services</a></li>
        <li><a href="../../contact.html">Contact</a></li>
        <div class="clear"></div>
        </ul>
        </div>
        <div class="clear"></div>
        </div>
        </div>
    </div>
    <div class="wrap">
        <div class="section group">
            <div class="cont span_2_of_3 services_desc">
                <div id="myCart" class="cart-section"></div>
            </div>
        </div>
    </div>

</div>
<!---End-main---->
<!---Footer---->
<div class="copy-right">
    <div class="wrap">
        <p class="company_name">The English Cake Company &copy; 2015 All Rights Reseverd</p>
        <p class="developed">Developed by <a href="http://www.verticalmedia.lk" target="_blank">VerticalMedia</a></p>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>