<div class="other-page-header home-pg"></div>
<div ng-include=" 'views/navigation.html' "></div>

<div class="delivery-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="services_desc">
                <h2>Our Service</h2>
            </div>
            <!-- Delivery Option  -->
             <div class="text-info">
                <label>
                    <input type="radio" ng-change="selectDeliveryOption('pickUp')" ng-model="deliveryOption" value="pickUp"> Pick up
                </label>
                <label>
                    <input type="radio" ng-change="selectDeliveryOption('delivery')" ng-model="deliveryOption" value="delivery"> Delivery
                </label>

                <!-- PickUp -->
                <div ng-if="deliveryOption == 'pickUp'" class="delivery-option">
                    <form name="pickUpForm">
                    <ul class="delivery-form-controls">
                        <li>
                            <label>Pick Up Branch *</label>
                            <select ng-model="selectedBranch"
                            ng-options="branch.locationName for branch in branchLocations"
                            ng-change="saveBranchName(selectedBranch.locationName)"
                            required>
                                <option value="">-- Select Branch --</option>
                            </select>
                        </li>
                        <li class="delivery-address-section">
                            <label>Name *</label>
                            <input type="text" class="form-control" ng-model="deliveryAddress.name" ng-change="saveDeliveryAddress(deliveryAddress)" required>
                            <label>Contact Number *</label>
                            <input class="form-control" type="text" name="phone" ng-model="deliveryAddress.contactNumber"
                                   ➥ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/"
                                   ng-change="saveDeliveryAddress(deliveryAddress)" required>
                            <span class="error-message"
                                  ng-show="pickUpForm.phone.$dirty
                                            && pickUpForm.phone.$invalid" >
                                            The phone number field should be of 10 digits
                            </span>
                        </li>
                        <li class="delivery-address-section">
                            <label>Email *</label>
                            <input class="form-control delivery-email" name="userEmail" type="email" ng-model="deliveryAddress.email"
                                         ng-change="saveDeliveryAddress(deliveryAddress)"  required>
                            <span ng-if="pickUpForm.userEmail.$dirty">
                                <span ng-show="pickUpForm.userEmail.$error.email">Not a valid email address.</span>
                            </span>
                        </li>
                        <li>
                            <span ng-if="!(setPickUpDate)"> Select Date and Time for Pickup </span>
                            <div>We are Open 8.00 am - 9.00 p.m. everyday</div>
                            <label style="width: 100%">Pick Up  Date * : {{ setPickUpDate}}</label>
                            <label style="width: 100%">Pick Up Time * : {{ setPickUpTime}}</label>
                            <div ng-if="isPassedDate">
                                <span> Selected Date & Time has already passed </span>
                            </div>
                            <div ng-if="isOutOfHours">
                                <span>Sorry, Pick Up Time out side of opening hours. Please, Select again.</span>
                            </div>
                            <datetimepicker ng-model="pickUpDate.date"
                                            min-date = "{{minDate}}"
                                            data-datetimepicker-config="{ minuteStep : 30 }"
                                            ng-change="savePickUpDate(pickUpDate.date)" required></datetimepicker>
                        </li>
                        <li>
                            <label>Comment</label>
                            <textarea name="comment" style="width:100%"  rows="3" ng-model="comment" ng-change="saveComment(comment)"></textarea>
                        </li>
                    </ul>
                        <button ng-disabled="(!(pickUpForm.$valid)) || (isPassedDate) || (isOutOfHours)"
                                ng-click="pickUpForm.$valid && goShoppingCart()"
                                class="btn kkcc-btn-success">
                            Submit
                        </button>
                    </form>
                </div>
                <!-- Delivery -->
                <div ng-if="deliveryOption == 'delivery'" class="delivery-option">
                    <form name="deliveryForm">
                        <ul class="delivery-form-controls">
                        <li>
                            <label>Delivery Location *</label>
                            <select ng-model="selectedLocation"
                            ng-options="location.locationName+'  Rs: '+location.deliveryCharge+'.00' for location in deliveryLocations"
                            ng-change="saveLocationName(selectedLocation)"
                            required>
                                <option value="">-- Select Location --</option>
                            </select>
                        </li>
                        <li class="delivery-address-section">
                            <label>Name *</label>
                            <input type="text" class="form-control" ng-model="deliveryAddress.name" ng-change="saveDeliveryAddress(deliveryAddress)" required>
                            <label>Address Line 01 *</label>
                            <input type="text" class="form-control" ng-model="deliveryAddress.line01" ng-change="saveDeliveryAddress(deliveryAddress)" required>
                            <label>Address Line 02 *</label>
                            <input type="text" class="form-control" ng-model="deliveryAddress.line02" ng-change="saveDeliveryAddress(deliveryAddress)" required>
                            <label>City *</label>
                            <input type="text" class="form-control" ng-model="deliveryAddress.city" ng-change="saveDeliveryAddress(deliveryAddress)" required>
                            <label>Contact Number *</label>
                            <input class="form-control" type="text" name="phone" ng-model="deliveryAddress.contactNumber"
                                       ➥ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/"
                                       ng-change="saveDeliveryAddress(deliveryAddress)" required>
                            <span class="error-message"
                                  ng-show="deliveryForm.phone.$dirty
                                            && deliveryForm.phone.$invalid" >
                                            The phone number field should be of 10 digits
                            </span>
                        </li>
                        <li class="delivery-address-section">
                            <label>Email *</label>
                            <input class="form-control delivery-email" name="userEmail" type="email" ng-model="deliveryAddress.email"
                                   ng-change="saveDeliveryAddress(deliveryAddress)"  required>
                        <span ng-if="pickUpForm.userEmail.$dirty">
                            <span ng-show="pickUpForm.userEmail.$error.email">Not a valid email address.</span>
                        </span>
                        </li>
                        <li>
                            <span ng-if="!(setDeliveryDate)"> Select Date and Time for Delivery </span>
                            <div>We are delivery 8.00 am - 9.00 p.m. everyday</div>
                            <label style="width: 100%">Delivery Date * : {{ setDeliveryDate}}</label>
                            <label style="width: 100%">Delivery Time * : {{ setDeliveryTime}}</label>
                            <div ng-if="isPassedDate">
                                <span> Selected Date & Time has already passed </span>
                            </div>
                            <div ng-if="isOutOfHours">
                                <span>Sorry, Delivery Time out side of delivery hours. Please, Select again.</span>
                            </div>
                            <datetimepicker ng-model="delivery.date"
                                            min-date = "{{minDate}}"
                                            data-datetimepicker-config="{ minuteStep : 30 }"
                                            ng-change="saveDeliveryDate(delivery.date)" required></datetimepicker>
                        </li>
                        <li>
                            <label>Comment</label>
                            <textarea name="comment" style="width:100%"  rows="3" ng-model="comment" ng-change="saveComment(comment)"> </textarea>
                        </li>
                    </ul>
                        <button ng-disabled="(!(deliveryForm.$valid)) || (isPassedDate) || (isOutOfHours)"
                                ng-click="deliveryForm.$valid && goShoppingCart()"
                                class="btn kkcc-btn-success">
                           Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>