<div class="other-page-header home-pg"></div>
<div ng-include=" 'views/navigation.html' "></div>
<!---start-content-->
<div class="white-bg details-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img ng-src="{{SERVER_URL}}{{product.logoUrl}}" alt="{{product.name}}"/>
            </div>
            <div class="col-md-6 about_desc reset-padding">
                <h2>{{product.name}}</h2>
                <p>{{product.description}}</p>

                <div class="table-responsive">
                  <table class="table me-cart-view-table">
                        <tr>
                            <td>
                                <label class="radio">
                                    <input type="radio" name="selectCakeQuantity" ng-model="cakeType" value="full">
                                    <span class="options-labels">{{product.quantity}}</span>
                                </label>
                            </td>
                            <td class="text-right">Rs : {{product.price}}</td>
                        </tr>
                         <tr ng-if="!(product.perSlicePrice == 0)">
                            <td >
                                <label class="radio">
                                    <input type="radio" name="selectCakeQuantity" ng-model="cakeType" value="slice">
                                    <span class="options-labels">Per Slice</span>
                                </label>
                            </td>
                            <td class="text-right">Rs : {{product.perSlicePrice}}</td>
                        </tr>
                  </table>
                </div>
                <!-- full -->
                <div ng-if="cakeType == 'full'">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="qty-label">Quantity : </label>
                            <input type="text" class="form-control kkcc-form-control" ng-model="cakeFullQuantity">
                        </div>
                        <button class="btn kkcc-btn-success" ng-click="cart.addItem(product.itemCode, product.name, product.price , cakeFullQuantity)">
                            <i class="icon-shopping-cart icon-white" /> Add to Cart
                        </button>
                    </form>
                </div>
                <!-- slice -->
                <div ng-if="cakeType == 'slice'">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="qty-label">Quantity : </label>
                            <input type="text" class="form-control" ng-model="cakeSliceQuantity">
                        </div>
                        <button class="btn kkcc-btn-success" ng-click="cart.addItem(product.itemCode, product.name+' - Slice', product.perSlicePrice, cakeSliceQuantity)">
                            <i class="icon-shopping-cart icon-white" /> Add to Cart
                        </button>
                    </form>
                </div>
                      <!-- items -->
                <table class="table table-bordered tbl-shopping-cart">
                    <!-- header -->
                    <tr>
                        <th></th>
                        <th><b>Item</b></th>
                        <th class="tdCenter"><b>Quantity</b></th>
                        <th class="tdRight"><b>Price</b></th>
                    </tr>

                    <!-- empty cart message -->
                    <tr ng-hide="cart.getTotalCount() > 0" >
                        <td class="tdCenter" colspan="4">
                            Your cart is empty.
                        </td>
                    </tr>

                    <!-- cart items -->
                    <tr ng-repeat="item in cart.items | orderBy:'name'">
                        <td>
                            <button
                                class="btn btn-danger" type="button"
                                ng-click="cart.addItem(item.sku, item.name, item.price, -1000)">x</button>
                        </td>
                        <td>{{item.name}}</td>
                        <td class="tdCenter">
                            <div class="input-append">
                                <!-- use type=tel instead of  to prevent spinners -->
                                <input
                                    class="form-control qty-input" type="number"
                                    ng-model="item.quantity"
                                    ng-change="cart.saveItems()" />
                            </div>
                        </td>
                        <td class="tdRight">Rs {{item.price * item.quantity}}</td>
                    </tr>

                    <!-- footer -->
                    <tr>
                        <td></td>
                        <td><b>Total</b></td>
                        <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                        <td class="tdRight"><b>Rs {{cart.getTotalPrice()}}</b></td>
                    </tr>
                </table>

                <div class="clearfix">
                    <div class="pull-left">
                        <button
                                class="btn "
                                onclick="window.location.href='#'">
                            <i class="icon-chevron-left" /> Back to Store
                        </button>
                    </div>
                    <button class="btn btn kkcc-btn-success pull-right" onclick="window.location.href='#delivery'" ng-disabled="cart.getTotalCount() < 1">
                        Checkout
                    </button>
                </div>

            </div>

        </div>
    </div>
    <div>
        <div class="main">
            <div class="wrap">
                <div class="services_desc">
                    <h2>{{product.categoryCode}}</h2>
                </div>
                <div class="menu_list reset-padding">
                    <div class="section group">
                        <div class="group">
                            <div class="product-tile" ng-repeat="oneProduct in allProductsReqCategory">
                                <a href="#detail/{{oneProduct.id}}">
                                    <img class="catdiv" ng-src="{{SERVER_URL}}{{oneProduct.logoUrl}}" />
                                </a>
                                <li>
                                    <a href="#detail/{{oneProduct.id}}">
                                        <span class="item_name">{{oneProduct.name}}</span>
                                        <span class="price">Rs {{oneProduct.price}}</span>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>