
		<div class="header_bottom">
			<div class="wrap">
				<div class="logo">
				  <a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div>
					<a id="menu-button-id" href="javascript:void(0);" data-toggle="collapse" data-target="#menu-id" class="navbar-toggle menu-button">
						<span></span>
						<span></span>
						<span></span>
					</a>
					<div class="clear"></div>
				</div>

				<h3 id="menu-id" class="menu" ng-controller="navigationController">
					<ul>
						<li ng-class="{active:isActive('/')}"><a href="#/">Home</a></li>
						<li ng-class="{active:isActive('/about')}"><a href="#/about">About</a></li>
						<li ng-class="{active:isActive('/services')}"><a href="#/services">Services</a></li>
						<li ng-class="{active:isActive('/contact')}"><a href="#/contact">Contact</a></li>
						<li ng-class="{active:isActive('/shoppingCart')}">
							<a href="#/shoppingCart">
								<h4 class="cart-items-count">{{cart.getTotalCount()}}</h4>
								<img src="images/Cart.png" class="cart_img">
							</a>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
