
		<div class="header_bottom">
			<div class="wrap">
				<div class="logo">
				  <a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div>
					<a id="menu-button-id" href="javascript:void(0);" class="menu-button">
						<span></span>
						<span></span>
						<span></span>
					</a>
					<div class="clear"></div>
				</div>
				
				<div id="menu-id" class="menu">
					<ul>
						<li class="active"><a href="#/">Home</a></li>
						<li><a href="#/about">About</a></li>
						<li><a href="#/services">Services</a></li>
						<li><a href="#/contact">Contact</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>