<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- items -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td></td>
                    <td><b>Item</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>                    
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>
                        <button 
                            class="btn btn-danger" type="button"                             
                            ng-click="cart.addItem(item.sku, item.name, item.price, -1000)">x</button>
                    </td>
                    <td>{{item.name}}</td>
                    <td class="tdCenter">
                        <div class="input-append">
                            <!-- use type=tel instead of  to prevent spinners -->
                            <input
                                class="span3 text-center" type="tel" 
                                ng-model="item.quantity" 
                                ng-change="cart.saveItems()" />
                            <button 
                                class="btn btn-success" type="button" 
                                ng-disabled="item.quantity >= 1000"
                                ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button>
                            <button 
                                class="btn btn-inverse" type="button" 
                                ng-disabled="item.quantity <= 1"
                                ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
                        </div>
                    </td>
                    <td class="tdRight">Rs {{item.price * item.quantity}}</td>              
                </tr>
             
                <!-- footer -->
                <tr class="well">
                    <td></td>
                    <td><b>
                        <div ng-if="!(cart.getDeliveryCharges() > 0)">Total</div>
                        <div ng-if="cart.getDeliveryCharges() > 0">Sub Total
                        </div>
                        </b>
                    </td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>RS {{cart.getTotalPrice()}}</b></td>                   
                </tr>
                <!-- delivery charges -->
                <tr ng-if="cart.getDeliveryCharges() > 0">
                    <td>
                    </td>
                    <td>
                        Delivery Charges :  
                    <td/>             
                    <td> 
                        <b>Rs {{cart.getDeliveryCharges()}}</b> 
                    </td>
                <tr>

                <tr class="well" ng-if="cart.getDeliveryCharges() > 0">
                    <td></td>
                    <td><b>Total with delivery Charges</b></td>
                    <td class="tdCenter"></b></td>
                    <td class="tdRight"><b>RS {{cart.getTotalPrice()}}</b></td>                   
                </tr>

            </table>
        </div>

        <!-- buttons -->
        <div class="span4">
            <p class="text-info">
                <!-- <button 
                    class="btn " 
                    onclick="window.location.href='#'">
                    <i class="icon-chevron-left" /> back to store
                    
                </button> -->
            <!--     <button 
                    class="btn btn-danger" 
                    ng-click="cart.clearItems()" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <i class="icon-trash icon-white" /> clear cart
                </button> -->
                          
            </p>

            <br/><br/>

            <p class="text-info">

                <div ng-if="true">                        
                      <button
                        class="btn kkcc-btn-success"
                        ng-click="cart.checkout('PayPal')"
                        ng-model="isSubmitButtonDisableValue"
                        ng-disabled="cart.getTotalCount() < 1">
                        <i class="icon-ok icon-white" /> Submit
                    </button>
                </div>
                <div ng-if="cart.getTotalCount() < 1">
                    <button 
                    class="btn " 
                    onclick="window.location.href='#'">
                    <i class="icon-chevron-left" /> back to store                    
                    </button>
                </div>
                <div ng-if="false">
                    <button
                        class="btn btn-block btn-primary"
                        ng-click="cart.checkout('PayPal')"
                        ng-disabled="cart.getTotalCount() < 1">
                        <i class="icon-ok icon-white" /> check out using PayPal
                    </button>
                </div>
            </p>
        </div>
    </div>
</div>
