
<div class="header">
		<!--start-image-slider---->
		<div class="slider">					     
			 <div class="fluid_container">
				<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
					<div data-thumb="../styles/images/slider-1.jpg" data-src="../styles/images/slider-01.jpg">
						<div style="width:400px; height:200px; padding-right:20px; margin-top: 15%; float:right;">
							<div class="text list_2_of_2">
								<h3>Chocolate Cake</h3>
								<p>Soft chocolate cake with 2 layers of dark or white chocolate icing</p>
								<h2>Rs 160/=</h2>
								<div class="read_more"><a href="Categories/LayerCakes/details.html?id=5">Read More</a></div>
							</div> 
						</div>            
					</div>     
	   
					<div data-thumb="../styles/images/slider-2.jpg" data-src="../styles/images/slider-02.jpg">
						<div style="width:400px; height:200px; padding-right:20px; margin-top: 15%; float:right;  ">
							<div class="text list_2_of_2">
								<h3>The Minty Way</h3>
								<p>2 layers of rich mint chocolate cake sandwiched with peppermint cream and chocolate shavings</p>
								<h2>Rs 290/=</h2>
								<div class="read_more"><a href="Categories/LayerCakes/details.html?id=6">Read More</a></div>
							</div>                      
					   </div>   
					</div>
				
					<div data-thumb="../styles/images/slider-3.jpg" data-src="../styles/images/slider-03.jpg">
						<div style="width:400px; height:200px; padding-right:20px; margin-top: 15%; float:right;  ">
							<div class="text list_2_of_2">
								<h3>Gourmet Cheesecake</h3>
								<p>Creamy baked cheesecake, Raspberry & White choc, Blueberry & Dark Choc, Passion fruit, Caramel Swirl, Chocolate swirl or Dark Chocolate Cheesecake</p>
								<h2>Rs 480/=</h2>
								<div class="read_more"><a href="Categories/CheeseCakes/details.html?id=2">Read More</a></div>

							</div>
						</div> 
					</div>
					
					
					<div data-thumb="../styles/images/slider-4.jpg" data-src="../styles/images/slider-04.jpg">
						<div style="width:400px; height:200px; padding-right:20px; margin-top: 15%; float:right;  ">
							<div class="text list_2_of_2">
								<h3>Squidgy Chocolate Log</h3>
								<p>Flourless soft sponge rolled with whipped cream and fresh chocolate mousse</p>
								<h2>Rs 340/=</h2>
								<div class="read_more"><a href="Categories/Logs/details.html?id=1">Read More</a></div>
							</div> 
						</div>                       
					</div>
				</div>
		</div>

			<div class="clear"></div>					       
		</div>
		<!--End-image-slider---->

	<script type="text/javascript">
		jQuery(function(){
			jQuery('#camera_wrap_1').camera({
				thumbnails: true
			});
			jQuery("#menu-button-id").click( function(){
				jQuery("#menu-id").slideToggle('slow');
			});
		});
	</script>   
		