<!-- bloc-10 -->
<div class="bloc bgc-white l-bloc" id="bloc-10">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12">
        <img  data-src="{{aboutUsUrl}}/ABOUTUS.png" class="img-responsive lazyload visible-lg-block visible-md-block" />
        <!-- <h1 class="text-center margin-top padding-vertical main-header-font" [innerHTML]="header"></h1> -->
        <h3 class="padding-vertical main-header-font" [innerHTML]="header"> </h3>
        <p class="main-content-font" [innerHTML]="content"> </p>

        <div class="container">
          <h2 class="main-header-font">Open Hours</h2>
          <p class="main-content-font">Weekdays : {{openWeekdays}}</p>
          <p class="main-content-font">Saturday : {{openSaturday}}</p>
          <p class="main-content-font">Sunday : {{openSunday}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- bloc-10 END -->



<hr class="featurette-divider">
