/*********************************
*********** App Edit Page*********
*********************************/

.image-cropper {
    position: relative;
    overflow: hidden;
}

.image-cropper  img {
    position: relative;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:100%;
    height:250px;
    border-radius:4px;
}

/*
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
*/


.mdapp-wrapper{
    width: 100%;
    position: relative;
}


.mdapp-nav{
    text-align: right;
    min-height: 762px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e9e9e9;
    width: 270px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
}

.mdapp-content-livePreview{
    min-height: 762px;
    background-color: #F2F2F2;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    padding-left: 35%;
    width: 100%;
    text-align:center;
    position: absolute;
    top: 130px;
}
.mdapp-content{
    min-height: 762px;
    background-color: #F2F2F2;
    padding-left: 270px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
}

.mdapp-nav .logo{
    width: 85px;
    margin-bottom: 10px;
}

.mdapp-nav .area-expander{
    display: inline-block;
    font-size: 26px;
    margin: 30px 6px 62px 0;
    width: 37px;
}

.mdapp-nav .area-expander img{
    width: 36px;
}

.mdapp-edit-area{
    background-color: gray;
    height: 100%;
    margin-top: 20px;
    position: absolute;
    width: 270px;
    z-index: 20;
    left: -270px;
}

.mdapp-device-selector{
    font-weight: 300;
    padding-top: 35px;
}
.mdapp-device-selector2{
    font-weight: 300;
    padding-top: 35px;
    margin-left:35%;
}
.mdapp-device-selector3{
    font-weight: 300;
    padding-top: 35px;
    margin-left:10%;
}

.mdapp-device-selector p{
    margin: 0 0 5px 0;
    font-size: 1em;
    color: #666;
}

.menuCollapsed .mdapp-nav{
    left: -225px;
}

.menuCollapsed .mdapp-content{
    padding-left: 45px;
}

/********************************/
.website-area,
.mobile-area,
.user-area{
    float: left;
}

/* ME-2778 Hide all tasks which say coming soon <- made changes to hide the Desktop view since it is comming soon */
.mobile-area{
   width: 50%;
   text-align: right;
   padding: 10px 15px 0 0;
   margin-left: 53px;
}


/*.mobile-area{*/
    /*width: 50%;*/
    /*text-align: center;*/
    /*padding: 10px 15px 0 0;*/
    /*border-right: 1px solid #CCC;*/
    /*width: 88%;*/
    /*padding: 5px 25px 0px 14%;*/
/*}*/

.mobile-area a, .website-area a{
    display: inline-block;
    height: 30px;
    text-decoration: none;
    width: 30px;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-area a.mobile-icon,
.website-area a.mobile-icon{
    background-image: url(/images/mobile-icon.svg);
}

.mobile-area a.tablet-icon,
.website-area a.tablet-icon{
    background-image: url(/images/tablet-icon.svg);
}

.mobile-area a.desktop-icon,
.website-area a.desktop-icon{
    background-image: url(/images/desktop-icon.svg);
}

.current-device{
    border: 1px solid #999;
}

.size-fix{
    background-size: 90% !important;
}

.website-area{
     width: 38%;
     padding: 10px 25px 0 15px;
     text-align: left;
}

.user-area{
    margin-left: 30%;
    padding: 10px 0;
}
.user-settings-button {
    margin: 0 10px;
}
.user-area button{
    border: medium none;
}

.user-area .dropdown-menu{
    float: none;
    left: -48px;
    min-width: 130px;
    top: 44px;
    padding: 10px 0;
}

.user-area .dropdown-menu li{
    margin-bottom: 5px;
}

.user-area .dropdown-menu li a{
    color: #959595;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.device-preview-livePreview{
    width: 100%;
    margin: 0 auto;
}

.device-preview-appView{
    width: 100%;
    margin-left: -20%;
}

.device-preview{
    padding-top: 22px;
    width: 100%;
}

.device-simulator{
    height: 669px;
    margin: 0 auto;
    width: 324px;
}



.tabletView .device-simulator{
    width: 700px;;
}

.download-section{
    margin-top: 18px;
    float: right;
}

.download-link{
    background-image: url(/images/download-icon.png);
    background-size: auto auto !important;
}

.download-link:hover{
    color: #666;
}

/********************************
*************Menu Tree***********
********************************/
.tree-node-content a{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.menu-add-button{
    background: #E9E8E9 url("/images/menu-add-icon.png") no-repeat 8px center;
    border: medium none;
    font-size: 16px;
    font-weight: 300;
    height: 32px;
    margin-bottom: 20px;
    padding: 0 9px 1px 20px;
    text-align: right;
    width: 155px;
}

.menu-toggle{
    cursor: pointer;
    display: inline-block;
    margin: 8px 0 0 10px;
}

.btn-group {
    margin-bottom: 10px;
    margin-left: 0 !important;
}

.btn-expand{
    background: url("/images/menu-expand-icon.svg") no-repeat center;
    border: medium none;
    display: inline-block;
    height: 10px;
    padding: 0;
    text-indent: -999999px;
    width: 10px;
    background-size: 10px 10px;
}

.btn-hide{
    background: url("/images/menu-hide-icon.svg") no-repeat center;
    border: medium none;
    display: inline-block;
    height: 10px;
    padding: 0;
    text-indent: -999999px;
    width: 10px;
    background-size: 10px 10px;
}

.btn-delete{
    background: url("/images/menu-delete-icon.png") no-repeat center;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    padding: 0;
    text-indent: -999999px;
    width: 17px;
    margin-right: 30px;
}

.btn-add-sub{
    background: url("/images/menu-add-icon.png") no-repeat center;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    padding: 0;
    text-indent: -999999px;
    width: 16px;
}

.btn-edit{
    background-color: transparent;
    border: medium none;
    color: #c5c5c5;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    right: 190px;
    text-transform: uppercase;
    width: 90px;
}

.btn-icon-picker{
    background-color: #f1f1f1;
    border-left: 1px solid #e3e2e3;
    border-right: 1px solid #e3e2e3;
    border-bottom: none;
    border-top: none;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    color: #666;
    height: 38px;
    line-height: 38px;
    padding: 2px 10px;
    width: 75px;
}

.btn-icon-picker .caret{
    margin-bottom: 9px;
    margin-left: 12px;
}

.glyphicon{
    font-size: 20px;
    line-height: 2em !important;
    top: 6px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background-color: #f1f1f2;
    border-color: #f1f1f2;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/* --- Tree --- */
.tree-node {
    border: 1px solid #f1f1f2;
    background-color: #f1f1f2;
    color: #7c9eb2;
    margin-bottom: 1px;
}

.tree-node input[type='text']{
    background-color: #f1f1f2 !important;
    border: 1px solid transparent !important;
    font-size: 13px !important;
    height: 32px !important;
    line-height: 32px !important;
    width: auto !important;
    margin-top: 3px;
    box-shadow: none;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    padding: 0 10px 0 0;
    position: relative;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-controls{
    float: right;
    height: 38px;
    margin-left: 30px;
    padding-top: 9px;
    text-align: right;
}

/********************************/
.md-button{
    transition: none;
}

a.md-button.md-primary,
.md-button.md-primary {
    color: #666 !important;
    font-size: 0.75em;
    letter-spacing: 3px;
    cursor: pointer;
    border:1px solid transparent
}
a.md-button.md-primary:hover,
.md-button.md-primary:hover {
    color: #666 !important;
    border-color: #666;
}

a.md-button:hover:not([disabled]),
.md-button:hover:not([disabled]){
    background-color: #CCC;
}

.menu-group-header{
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 100%;
}

/********************************
*********Styles Settings*********
********************************/
.styles-settings{
    height: 542px;
    margin: 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.styles-settings h1,
.styles-settings h2{
    color: inherit;
    font-weight: 300;
    text-transform: capitalize;
}

.styles-settings h1{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.styles-settings h2{
    font-size: 12px;
    padding: 1.7em 0 0 0;
    padding-bottom:0;
}


.other-setting{
    display: flex;
    flex-direction:column;
    align-items:center;
}

.color-section{
    font-size: 12px;
    padding: 1.7em 0;
}

.styles-settings h1{
    margin: 65px 0 18px;
    padding-bottom: 2px;
}

.color-setting {
    color: #333;
    display: flex;
    flex-direction:column;
    align-items:center;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 2px;
    outline: medium none;
    padding:0.2em 1em;
    text-decoration: none;
    position: relative;
}

.color-setting input{
    margin-right: 0 !important;
    margin: 1.7em 0;
    padding-left: 0 !important;
    height: 20px !important;
    width: 64% !important;
    font-size: 10px !important;
}
.other-settings input{
    margin-right: 0 !important;
    margin: 1.7em 0;
    padding-left: 0 !important;
    height: 20px !important;
    width: 100% !important;
    font-size: 10px !important;
}

.other-setting select{
    margin: 1.7em 0 1.7em 0;
    font-size: 10px;
    height: 20px;
    padding-left: 0;
    width: 59.48%;
}
.other-setting md-checkbox{
    margin:0.6em 0;
}

.other-setting{
    padding:0.2em 0.36em;
}

.other-setting a{
    color: #333;
    font-weight: 300;
    letter-spacing: 2px;
}

.other-setting a:hover{
    text-decoration: none;
}

.other-setting .md-label span{
    display: block;
    font-size: 10px;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
}

.edit-bg-wrapper button{
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #666;
    font-size: 0.65em;
    font-weight: 600;
    padding: 0 7px;
    text-shadow: none;
    transform: none;
    transition: none 0s ease 0s;
}

.edit-bg-wrapper button:hover{
    background-color: transparent;
    border: 1px solid #666;
    color: #666;
    transform: none;
    transition: none 0s ease 0s;
}

.edit-bg-wrapper .obl-selectable-item:hover{
    color: #666;
    background-color: transparent;
    transform: none;
    transition: none 0s ease 0s;
}

.edit-bg-wrapper obl-menu-button:hover{
    background-color: transparent;
}
/*Styles for text edit*/
trix-editor ul li {
    list-style-type: disc;
    margin-left: 10px;
}
trix-editor ol li {
    list-style-type: decimal;
    margin-left: 10px;
}
trix-editor {
    padding: 4px 20px;
}

a {
    color: inherit !important;
}
 .disabled-class{
     color: #bfbfbf;
 }