
	<div style="margin-top: 70px; margin-left:10px; margin-left: 10px; margin-right:10px; "><img src="img/front_image.png" width="100%" height="auto"/></div>
    <div style="margin-top: -10px;" class="card">	
	  
      
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href="#promo">
				
				<div class="media-body" translate>
					load.home.BtnPromo
				</div>
			</a>
		</li>
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href="#bestSeller">
				
				<div class="media-body" translate>
					load.home.BtnBestSeller
				</div>
			</a>
		</li>
		
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href="#contact">
				
				<div class="media-body" translate>
					load.home.BtnContact
				</div>
			</a>
		</li>
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href ng-click="goShare()">
				
				<div class="media-body" translate>
					load.home.Btnshare
				</div>
			</a>
		</li>
		<li class="table-view-cell">
			<a class="navigate-right btn-lg" href ng-click="goExit()">
				
				<div class="media-body" translate>
					load.home.BtnExit
				</div>
			</a>
		</li>
	  </ul>
	</div>
</div>
<div class="bar bar-standard bar-footer-secondary">
	<a href="#search" class="btn btn-primary btn-block pull-center">
		<span class="fa fa-search fa-fw"></span> 
		Search Menu
	</a>
</div>