<div class="bloc bgc-white l-bloc" id="bloc-0">
  <div class="container bloc-sm">
    
    <div class="list-group">
      <a class="list-group-item flex-row" (click)="navigateProd('product','item')">
        <img src="assets/images/thirdNavi/sample.png" >
        <div>
          <h5 class="list-group-item-heading">Your horoscope for 07/04/2018</h5>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
      </a>
      <a class="list-group-item flex-row">
        <img src="assets/images/thirdNavi/sample.png" >
        <div>
          <h5 class="list-group-item-heading">Your horoscope for 06/04/2018</h5>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
      </a>
      <a class="list-group-item flex-row">
        <img src="assets/images/thirdNavi/sample.png">
        <div>
          <h5 class="list-group-item-heading">Your horoscope for 05/04/2018</h5>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
      </a>
      <a class="list-group-item flex-row" *ngFor="let article of results;let i = index" (click)="navigateProd('product',article)">
        <img src="{{imageUrl}}/{{article.imageUrl}}">
        <div>
          <h5 class="list-group-item-heading">{{article.title}}</h5>
          <p class="list-group-item-text">{{description[i]}}</p>
        </div>
      </a>
    </div>
    
  </div>
</div>

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
  <span class="fa fa-chevron-up"></span>
</a>
<!-- ScrollToTop Button END-->
