/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
:host  /deep/ .carousel {
  margin-bottom: 1.5rem;
}
/* Since positioning the image, we need to help out the caption */
:host  /deep/ .carousel-caption {
  z-index: 10;
  bottom: 3rem;
  height: 55%;  
}

/* Declare heights because of positioning of img element */
:host  /deep/ .carousel-item {
  height: calc(100vh - 66px);
  background-color: #777;
}
 :host  /deep/ .carousel-item > img {
    min-width: 100%;
    object-fit: cover;
}

@media (max-width: 1199px){
   :host  /deep/ .carousel-item {
      height: 500px;
  }

}

@media (max-width: 991px){
   :host  /deep/ .carousel-item {
      height: 350px;
  }
}

@media (max-width: 767px){
   :host  /deep/ .carousel-item{
      height: 160px;
      margin-top: 0;
  }

  :host  /deep/ .carousel-caption {
    display: none;
  }
}

@media (max-width: 480px){
  :host  /deep/ .carousel-item{
      height: 150px;
  }
}
/* owl carousel
------------------------- */


:host  /deep/ .owl-item section{
  text-align:center;
}

.button-hover {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.button-hover a{
  top:55%;
  position: relative;
}

.button-hover:hover{
  opacity: 1;
}

:host  /deep/ .featurette-heading {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* news letter
------------------------- */

:host  /deep/ .b-form-newsletter {
  padding: 70px 25px 0 25px !important;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
 :host  /deep/ .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }


}

@media (min-width: 86em) {
 :host  /deep/ .featurette-heading {
    margin-top: 11rem;
  }
}







