/*-----------------------------------------------------------------------------------
	    index
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,button{transition: all .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:50px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}

/* = Full Width Blocs
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}
.full-width-bloc .navbar{
	margin-left: 0px;
	margin-right: 0px;
}


/* Background Effects */

.b-parallax{
	background-attachment:fixed;
}


/* Dark theme */


.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}


.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .panel,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .btn-wire,.d-bloc .panel .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}

/* Column No Gutters */

.row-no-gutters{
	margin-right:0;
	margin-left:0;
}
.flex-center{
	justify-content: center;
    display: flex;
}
.row.row-no-gutters > [class^="col-"],.row.row-no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

/* Bloc text custom styling */


/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	width: 100%;
}
.navbar-brand img{
	max-height: 70px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar-brand img[src$=svg]{
	min-width:100px;
}
.nav-center .navbar-brand img{
	margin:0;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
	position:relative;
	z-index:2;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
		color:#484848;
	}
	.nav-invert .site-navigation{
		left:0;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		right:0;
		margin-right:0px;
		margin-top:20px;
	}
.nav-center.mini-nav .navbar-toggle{
	float:none;
	margin: 10px auto 0;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}
/* Dropdown Menus SubMenu */
	.dropdown-menu .dropdown-menu{
	top:-8px;
	left:100%;
}
.dropdown-menu .dropmenu-flow-right{
	top:100%;
	left:0;
	margin-left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
	border: 4px solid black;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin: 6px -5px 0 0!important;
	float: right;
}

/* Force Mini Menu */
.navbar-header{
	float: none;
}
.navbar-toggle{
	display: block;
}
 .navbar-collapse.collapse{
	display: none!important;
}
 .navbar-collapse.collapse.in{
	display: block!important;
}
 .site-navigation{
}
.nav-invert .navbar-header{
	float: none;
	 width:100%;
}
.nav-invert .navbar-toggle{
	float:left;
}

/* Nav Special Classes */
.nav-special{
	overflow-y:scroll;
}
.nav-special .site-navigation{
	top:0;
	left:0;
	width:100%;
	position: relative!important;
	max-width: 100%!important;
	z-index: 1000;
}
.nav-special .nav > li{
	width:100%;
	background: none!important;
	border:0!important;
}
.nav-special.collapsing{
	-webkit-transition: none;
	transition: none;
	height:100%!important;
	background: none!important;
}
.nav-special .navbar-nav .open .dropdown-menu{
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}
.blocsapp-special-menu{
	position: absolute;
	z-index:10000;
}
.nav-special.fullscreen-nav .caret,.nav-special.fullscreen-nav .dropdown-menu .dropdown .caret{
	border-width: 8px;
}

/* Animate Menu Symbol */
.navbar-toggle{
	transition: all .1s linear;
}
.selected-nav{
	opacity: 0;
	transform: scale(0.3);
	transition: all .1s linear;
}


/* Special Menu Close Button */
.close-special-menu{
	position: fixed;
	display: block;
	width: 25px;
	height:25px;
	top:16px;
	right:10px;
	z-index: 10000;
}
.nav-invert .sidebar-nav .close-special-menu{
	left:260px;
}
.close-special-menu .close-icon{
	display: block;
	width:100%;
	height:1px;
	transform: rotate(45deg);
	margin-top:12px;
}
.close-special-menu .close-icon:after{
	content:"";
	display:inherit;
	width:inherit;
	height:inherit;
	background: inherit;
	transform: rotate(90deg);
}
.lock-scroll{
	overflow:hidden;
	transition: background .3s linear;
}
.nav-special::-webkit-scrollbar{
	-webkit-appearance: none;
	width:0;
	height:0;
}
.nav-special .dropdown-menu .dropdown .caret{
	border-top-color: rgba(255,255,255,.8);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	margin: 0 0 0 5px;
	float: none;
}
.blocsapp-special-menu .site-navigation.pull-right{
	float:none!important;
}

/* Nav Special Close Button */
.close-special-menu .close-icon{
	background:#fff;
}
.blocsapp-special-menu blocsnav{
	background: #000;
}

/* Side Bar Navigation */
.sidebar-nav{
	position: fixed;
	right: -300px;
	top: 0;
	bottom: 0;
	width: 300px;
	z-index: 1000;
	transition: all .2s linear;
}
.nav-invert .sidebar-nav{
	right: auto;
	left: -300px;
}
 .sidebar-nav .nav > li a{
	color:rgba(255,255,255,.8);
}
 .sidebar-nav .nav > li a:hover{
	color:#FFF;
}
 .open.sidebar-nav{
	right: 0;
	transition: all .2s linear;
}
.nav-invert .open.sidebar-nav{
	left: 0;
	transition: all .2s linear;
}

/* Content Tint */
.content-tint{
	z-index: -1;
	transition: background .2s linear;
}
.content-tint.on{
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	z-index: 1001;
	background:rgba(0,0,0,.4);
}
.content-tint.on:hover{
	background:rgba(0,0,0,.1);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}


/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.a-btn{
	padding: 6px 10px 6px 0;
	line-height: 1.42857143;
	display:inline-block;
}
.text-center .a-btn{
	padding: 6px 0;
}
.a-block{
	width:100%;
	text-align:left;
}
.text-center .a-block{
	text-align:center;
}
.icon-spacer{
	margin-right:5px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}




.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
	padding:20px 0;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}
.dropdown-menu .divider-h,.dropdown-menu .divider-half{
	padding:0;
}

/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* = Carousel
-------------------------------------------------------------- */

.carousel{
	display:inline-block;
	vertical-align:bottom;
}
.full-width-bloc .carousel{
	width:100%;
}
.carousel .item img{
	margin-right:auto;
	margin-left:auto;
}
.carousel-control span{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.carousel-control{
	color:#FFF!important;
	text-shadow: none;
}
.carousel-indicators li{
	margin: 0 4px;
}
.carousel-indicators .active{
	margin: 0 4px -1px;
}
.carousel-control.left span{
	margin-left:-15px;
}

.no-shadows .carousel-control.left, .no-shadows .carousel-control.right{
	background-image: none;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */


.container{
	max-width:1170px;
}
.button-category{
	border-radius:0px 0px 0px ;
	width:100%;
	height:100%;
	min-height:100%;
	min-width:100%;
	max-width:100%;
	max-height:100%;
	padding-top:14%;
	margin:0;
	padding-bottom:14%;
	font-size:3.1vw;
	letter-spacing:5px;
	text-transform:uppercase;
}
.button-category:hover{
	font-size:3vw;
	border-style:solid;
	border-color:#FEFFFF;
	border-width:2px 2px 2px 2px;
}
.orbitrack{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	color: #fff;

}
.orbitrack:hover{
	background-size:110% auto;
	background-position: center center;
    background-repeat: no-repeat;
	color: #fff;

}

.button-category-single-button{
	border-radius:0px 0px 0px ;
	width:100%;
	padding-top:10%;
	padding-bottom:10%;
	font-size:3.1vw;
	margin: 0;
	text-transform:uppercase;
	letter-spacing:5px;
}
.treadmills{
	color: #fff;
	background-size:100% auto;
	background-position:center center;
	background-repeat:no-repeat;
}
.treadmills:hover{
	border-style:solid;
	border-width:2px 2px 2px 2px;
	border-color:#FEFFFF;
	background-size:110% auto;
	background-position:center center;
	background-repeat:no-repeat;
	font-size:3vw;
	color: #fff;

}
.product-name{
	font-size:20px;
	color:#5E5E5E!important;
	font-weight:bold;
	letter-spacing:3px;
	line-height:20px;
	border-style:dotted;
	border-width:0px 0px 1px 0px;
	padding-bottom:8px;
	padding-top:7px;
	text-transform: capitalize;
}
.product-content{
	padding:7px 0px 14px 0px;
	font-size:12px;
}
.button{
	width:100%;
	border-radius:0px 0px 0px ;
	background-color:transparent;
	color:#424242!important;
	font-weight:bold;
	font-size:12px;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#424242;
	margin-bottom:15px;
}

.content-cards{
	padding:14px 14px 14px 14px;
	background-color:#FEFFFF;
	border-radius:2px 2px 2px ;
}
.header{
    font-weight: bold;
    text-align: center;
    border-style: dotted;
    border-width: 0px 0px 1px 0px;
    margin-top: 11px;
    border-color: rgba(214,214,214,0.7);
    color: #5E5E5E!important;
    text-shadow: 1px 2px 0px #EAEAEA;
    text-transform: uppercase;
}
.quote-text{
	font-size:20px;
	font-weight:bold;
	line-height:30px;
}
.spacing-1{
	padding-bottom:20px;
}
.product-details-price{
	font-size:20px;
	color:#424242!important;
	font-weight:bold;
	border-style:dotted;
	border-width:1px 0px 1px 0px;
	padding-top:10px;
	padding-bottom:8px;
}
.spacing-2{
	padding-bottom:9px;
}
.spacing-3{
	margin-top:56px;
}
.spacing-4{
	margin-top:0px;
	padding-top:27px;
}
.spacing-left{
	padding-left:11px;
}
.padding-left-shipping{
	padding-left:18px;
}
.header-spasing-top{
}
.header-spacing-top{
	padding-top:5px;
}
.form-names-row-{
	border-width:0px 0px 1px 0px;
	border-style:dotted;
	padding:36px 0px 0px 0px;
}
.row-top-border-{
	border-style:dotted;
	border-width:1px 0px 1px 0px;
	padding-top:15px;
}
.links{
	color:#929000!important;
	border-style:dotted;
	border-width:0px 0px 1px 0px;
	padding-top:24px;
}
.links:active{
	color:#FFFFFF!important;
}
.links:hover{
	color:#424242!important;
}
.contact-text{
	font-size:15px;
	color:#424242!important;
}
.icon-spacing-right{
	padding-right:17px;
}
.contact-row-spacing-{
	padding-left:44%;
}

/* = Mobile adjustments
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 992px) and (min-width: 768px)
{
    .navbar .nav{
		max-width:80%
    }
	.nav-center.navbar .nav{
		max-width:100%
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.b-parallax{background-attachment:scroll;}}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {.b-parallax{background-attachment:scroll;}}
@media (max-width: 991px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
    .bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{padding:0 20px;padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .dropdown .dropdown a .caret{
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }

    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 100px;
    		max-width: 250px;
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left;
        margin-left:-3px;
    }
    .bloc{
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 10px !important;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container, .bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none;
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .video-bg-container{
        display:none;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 400px)
{
    .bloc{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 991px){
	.contact-row-spacing-{
	padding-left:39%;
}
 }
/* Drop Down Navigation */
@media (min-width: 767px) and (max-width: 991px){

.mini-nav .special-dropdown-nav .site-navigation{
	display: block;
	position: absolute;
	top: 80%;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.mini-nav .special-dropdown-nav .site-navigation li{
	width:100%;
}
.special-dropdown-nav.collapsing{
	transition: height 0.001s;
}
.mini-nav .special-dropdown-nav .site-navigation li a{
	color: rgba(0,0,0,.6)!important;
}
 }
@media (max-width: 767px){
  .navbar-toggle{
    width:26px;
    margin-top:-5px;
    padding-right:0px;
    margin-right:0px;
  }
  .bloc-mob-center-text{
    text-align:center;
  }
  .mobile-footer-label{
    font-size:8px;
    text-transform:uppercase;
    line-height:14px;
    padding-top:5px;
  }
  .orbitrack{
    font-size:3.1vw;
  }
  .nordic-track{
    font-size:3.1vw;
  }
  .treadmills{
    font-size:3.1vw;
  }
  .content-cards{
    padding:14px 14px 14px 14px;
    margin-top:9px;
  }
  .content-row{
    padding:2% 2% 2% 2%;
  }
  .spacing-left{
    padding-left:11px;
  }
  .header{
    font-size:18px;
  }
  .contact-row-spacing-{
    padding-left:38%;
  }
   .sidebar-nav{
    width:230px;
  }
  .nav-special.sidebar-nav .nav > li{
    width:80%;
  }
  .nav-invert .sidebar-nav .close-special-menu{
    left:200px;
  }
  /* = Text Mobile Alignment Classes
  -------------------------------------------------------------- */
  .text-left-xs{
    text-align:left;
  }
  .text-right-xs{
    text-align:right;
  }
  .text-center-xs{
    text-align:center;
  }
  .nav-toggle{
    width:20px;
  }
  .padding-top-0{
    padding:0;
  }
  ::-webkit-scrollbar{
    width: 0px;
    height:0;
  }

}

.breadcrumb{
	background: #eaeaea;
	margin-bottom: 0;
}

body, html {
	overflow-x:hidden;
 }

.productPromo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50px;
}

.productPromo h5, .productPromo h6{
	margin-top:0px;
	margin-bottom:5px
}
