.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-margin{
   margin: 5px 0;
}

.sold-out{
    height: 55px;
}