<!-- Footer - bloc-27 -->
<div class="bloc main-footer-back hidden-lg hidden-md hidden-sm l-bloc" id="bloc-27">
	<div class="container bloc-sm">
		<div class="row row-no-gutters flex-center">
			<div class="col-xs-3" (click)="navigate('', 'Home')" >
				<div class="text-center">
					<span class="feather-icon icon-air-play icon-sm main-footer-font"></span>
				</div>
				<div class="text-center-xs mobile-footer-label main-footer-font">
					Home
				</div>
			</div>
			<div class="col-xs-3" *ngIf="loginStatus" (click)="navigate('appUser','My Account')">
				<div class="text-center">
					<span class="feather-icon icon-head icon-sm main-footer-font"></span>
				</div>
				<div class="text-center-xs mobile-footer-label main-footer-font"  >
					User
				</div>
			</div>
			<div class="col-xs-3"  (click)="navigate('shop', 'Search')">
				<div class="text-center">
					<span class="feather-icon icon-search icon-sm main-footer-font"></span>
				</div>
				<div class="text-center-xs mobile-footer-label main-footer-font">
					Search
				</div>
			</div>
			<div class="col-xs-3"  (click)="navigate('contact', 'Contact Us')">
				<div class="text-center">
					<span class="feather-icon icon-speech-bubble icon-sm main-footer-font"></span>
				</div>
				<div class="text-center-xs mobile-footer-label main-footer-font">
					Contact
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-27 END -->

<!-- Footer - bloc-28 -->
<div class="bloc hidden-xs main-footer-back d-bloc" id="bloc-28">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-4">
				<h3 class="mg-md bloc-mob-center-text text-left main-footer-header">
					About
				</h3>
				<a  (click)="navigate('', 'Home')"  class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Home</a>
				<a  *ngIf="!loginStatus" routerLink="/login/foot" routerLinkActive="active" class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Login</a>
				<a  *ngIf="!loginStatus" routerLink="/register/foot" routerLinkActive="active"   class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Register</a>
				<a  (click)="navigate('contact', 'Contact Us')" class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Contact us</a>
			</div>
			<div class="col-sm-4" *ngIf="isShowFollowUs()">
				<h3 class="mg-md bloc-mob-center-text text-left main-footer-header">
					Follow Us
				</h3>
				<a  *ngIf="isTwitterUrlExists()" href="{{ getTwitterUrl() }}" target="_blank" class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Twitter</a>
				<a  *ngIf="isFacebookUrlExists()"  href="{{ getFacebookUrl() }}"  target="_blank"  class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Facebook</a>
				<a  *ngIf="isLinkedInUrlExists()" href="{{ getLinkedInUrl() }}" target="_blank"  class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Linked-in</a>
				<a *ngIf="isInstagramUrlExists()" href="{{ getInstagramrUrl() }}" target="_blank"  class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Instagram</a>
				<a *ngIf="isPinterestUrlExists()"  href="{{ getPinterestrUrl() }}"  target="_blank"  class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Pinterest</a>
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md bloc-mob-center-text text-left main-footer-header">
					Company
				</h3>
				<!--<a (click)="navigate('terms','Terms')"	class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Terms and Conditionss</a>-->
		        <a (click)="navigate('policies','Policies')" class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Privacy Policy</a>
		        <a (click)="navigate('warranty-conditions', 'Warranty Conditions')" class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Warranty Conditions</a>
		        <a (click)="navigate('delivery-policy', 'Delivery Policy')" class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Delivery Policy</a>
		        <a (click)="navigate('return-policy', 'Return Policy')" class="a-btn a-block bloc-mob-center-text pull-left-block main-footer-font">Return Policy</a>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-28 END -->
