<div class="other-page-header contact-pg"></div>

<div ng-include=" 'views/navigation.html' "></div>

<div class="main white-bg">
	<div class="wrap">
		<div class="contact_desc">
			<div class="contact-form">
				<h2>Contact Us</h2>
				<p>
					<span>
						Your comments and feedback are highly appreciated as these enable us to maintain our high standards by
						letting us know what is working well and what may need to be improved. <br/><br/>
						Please take a moment to let us know what you think about our products / service / anything else.
					</span>
				</p>
				<br/>
				<form name="contactUsComment">
					<div method="post"  action="" class="left_form" name="contact" >
						<div>
							<span><label>Name</label></span>
							<span><input name="userName" type="text" class="textbox" ng-model="contactForm.name" required></span>
						</div>
						<div ng-class="{'has-error':contactUsComment.userEmail.$invalid && contactUsComment.userEmail.$dirty}">
							<span><label>Email</label></span>
							<span><input name="userEmail" type="email" class="textbox" ng-model="contactForm.email"></span>
						<span class="help-block has-error" ng-if="contactUsComment.userEmail.$dirty">
						<span ng-show="contactUsComment.userEmail.$error.required">Email address is required.</span>
						<span ng-show="contactUsComment.userEmail.$error.email">Not a valid email address.</span>
						</span>
						</div>
						<div>
							<span><lable>Phone Number</lable></span>
							<input type="number" name="phone" ng-model="contactUsComment.phone"
								   ➥ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/"/>
							<span ng-show="contactUsComment.phone.$dirty
							&& contactUsComment.phone.$invalid">The phone number field should be
								of 10 digits</span>
						</div>
					</div>
					<div class="right_form">
						<div>
							<span><label>Comments</label></span>
							<span><textarea name="userMsg" rows="35" ng-model="contactForm.msg" required> </textarea></span>
						</div>
						<div class="contact-button-wrapper">
							<span><input ng-click='submitContactForm(contactForm)' type="submit" value="Submit"  class="myButton" /></span>
						</div>
					</div>
				</form>
				<div class="clear"></div>
			</div>
			<div class="content_bottom">
				<div class="company_address">
					<h2>Get in Touch With Us</h2>
					<h3>Address</h3>
					<p>2a Sulaiman Terrace</p>
					<p>Jawatta Road,</p>
					<p>Colombo 5.</p>
					<div class="seperator"></div>
					<h3>Opening Hours</h3>
					<p>7.00am till 10:00pm Everyday</p>
					<div class="seperator"></div>
					<p>The Cakery : 0112501344</p>
					<p>HOTLINE: 077 297 4726</p>
					<div class="seperator"></div>
					<p>Email:
						<span><a href="#">orders@tecclk.com</a></span>
					</p>
					<p>Follow on:
						<span><a href="https://www.facebook.com/TheEnglishCakeCompany" target="_blank">Facebook</a></span>,
						<span><a href="https://twitter.com/tecclk" target="_blank">Twitter</a></span>
					</p>
				</div>
				<div class="contact_info">
					<h2>Find Us Here</h2>
					<!--<div id="googleMap" class="gMap" ng-controller="mapCtrl"></div>-->
					<static-gmap size="750x400"
								 markers="{ color: 'red', label: 'The English Cake Company', coords: [6.8929988, 79.8661994] }"
								 sensor="false" zoom="16"></static-gmap>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</div>


    
    