<div class="other-page-header services-pg"></div>

<div ng-include=" 'views/navigation.html' "></div>

<!-- Page Content -->
<div class="page-wrapper white-bg">	
<div class="main">
		<div class="wrap">
			<div class="section group">
				<div class="cont span_2_of_3 services_desc">
					<h2>Our Services</h2>					
					<div class="image group">
						<div class="grid images_3_of_1">
							<img src="images/delivery.jpg" alt="" />
						</div>
						<div class="grid span_2_of_1">
							<h3>Delivery</h3>
							<p>We now do delivery both savories and cakes as well</p>
							<table width="100%">
								<tbody>
									<tr>
										<td><p><span>Colombo 5,7,8</span></p></td>
										<td><p><span>LKR 150</span></p></td>
									</tr>
									
									<tr>
										<td><p><span>Colombo 3,4,6</span></p></td>
										<td><p><span>LKR 200</span></p></li>
									</tr>
							
									<tr>
										<td><p><span>Colombo 2, Nugegoda, Rajagiriya</span></p></td>
										<td><p><span>LKR 250</span></p></td>							
									</tr>
									
									<tr>
										<td><p><span>Kotte</span></p></td>    
										<td><p><span>LKR 300</span></p></td>									
									</tr>
									
									<tr>
										<td><p><span>Colombo1, 9-15, Bataramulla, Palawatta, Mt. Lavania</span></p></td>
										<td><p><span>LKR 400</span></p></td>
									</tr>

									<tr>
										<td><p><span>Other</span></p></td>
										<td><p><span>Please ask</span></p></td>
									</tr>
								</tbody>
							</table>
							<p>We accept <img src="images/visa-mastercard-logo.jpg" alt="visa mastercard" style="vertical-align: middle" /> or cash on delivery</p>
						</div>
					</div>
					
					<div class="image group">
						<div class="grid images_3_of_1">
							<img src="images/dining.jpg" alt="" />
						</div>
						<div class="grid span_2_of_1">
							<h3>Dining </h3>
							<p>Description about Dining</p>
						</div>
					</div>
					<div class="image group">
						<div class="grid images_3_of_1">
							<img src="images/catering.jpg" alt="" />
						</div>
						<div class="grid span_2_of_1">
							<h3>Catering </h3>
							<p>Description about Catering</p>						         	  	
						</div>
					 </div>
				</div>
				
				<div class="lsidebar sidebar offers_list">
					<h2>Our Promise</h2>
					<div class="promise_area">
						<p>" Always fresh "</p>
						<p>" Always home made "</p>
						<p>" No artificial colours, flavours or additives "</p>
						<p>" Always real fruit or natural flavours "</p>
						<p>" We refuse to compromise on quality, freshness and taste "</p>
					</div>
					
					<div class="archives">
						<h2>Our Menu</h2>
						<ul>
							<li><a href="takeaway-leaflets_new.doc" class="menu-download-links">Download an up-to-date copy of the <span>Sweet Menu</span></a></li>
							
							<li><a href="takeaway-leaflets_savouries.doc" class="menu-download-links">Download an up-to-date copy of the <span>Savoury menu</span></a></li>
													
						</ul>
					</div>
					
				</div> 
			</div>        	    
		</div> 
	</div>
</div>
<!-- /.container -->

<!-- <div ng-include=" 'common/footer.html' "></div> -->