
/deep/ .text-editor img{
    width:100%;
}

/* ABOUT MAIN CONTENT
-------------------------------------------------- */
.about-main{
	padding:100px 0;
}

.about-main h1{
    font-size: 40px;
    font-weight: 700;
    color: #1c1f23;
}

.about-main h2{
	margin-top: 10px;
    margin-bottom: 27px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #b67c5a;
}

.about-main div{
	margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.9;
    color: #7b7d7f;
}
