<md-dialog aria-label="Google Play">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab>
                <md-tab-label>general</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>general</h1>
                    </div>
                    <form name="generalForm" novalidate>
                    <div class="md-dialog-main">
                        <fieldset>
                            <label>title name</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <input type="text" name="name" ng-model="playStoreData.name"
                                   ng-pattern="/^[a-zA-Z0-9_ ]*$/" maxlength="{{maxName}}" required/>
                            <br>
                            <span ng-show="generalForm.name.$error.pattern">No symbols</span>
                            <br>
                            <span>Characters left: {{maxName - playStoreData.name.length}}</span>
                        </fieldset>
                        <div class="clearfix">
                            <fieldset class="col-4 profile-image-section">
                                <label class="reset-inline">logo</label>
                                <a class="feature01 logo-upload">
                                    <span class="overlay01">
                                        <span class="caption01">
                                             <input type="button" class="me-default-button" ngf-select ng-model="picFile" ngf-accept="image/*" value="Add Image"/>
                                        </span>
                                    </span>
                                    <img ng-show="picFile != null" ngf-src="picFile" style="width:120px; height:120px;" />
                                    <img ng-show="picFile == null" ng-src="{{thumbPic}}" ng-model="thumbPic" width="120" height="120" />
                                </a>
                            </fieldset>

                            <div class="pull-right">
                                <label class="reset-inline">Screen Shots</label>
                                <div class="clearfix">
                                    <fieldset class="col-4-1">
                                        <div class="me-file-upload text-right medium">
                                            <div class="upload-wrapper">
                                                <input type="file" ngf-select ng-model="splash.splash1"/>
                                                <img ng-show="splash.splash1 != null" ngf-src="splash.splash1" width="80" height="120" />
                                                <img ng-show="splash.splash1 == null" ng-src="{{thumbPic1}}" ng-model="thumbPic1" width="80" height="120" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="col-4-1">
                                        <div class="me-file-upload text-right medium">
                                            <div class="upload-wrapper">
                                                <input type="file" ngf-select ng-model="splash.splash2"/>
                                                <img ng-show="splash.splash2 != null" ngf-src="splash.splash2" width="80" height="120" />
                                                <img ng-show="splash.splash2 == null" ng-src="{{thumbPic2}}" ng-model="thumbPic2" width="80" height="120" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="col-4-1">
                                        <div class="me-file-upload text-right medium">
                                            <div class="upload-wrapper">
                                                <input type="file" ngf-select ng-model="splash.splash3"/>
                                                <img ng-show="splash.splash3 != null" ngf-src="splash.splash3" width="80" height="120" />
                                                <img ng-show="splash.splash3 == null" ng-src="{{thumbPic3}}" ng-model="thumbPic3" width="80" height="120" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="col-4-1 reset-margin">
                                        <div class="me-file-upload text-right medium">
                                            <div class="upload-wrapper">
                                                <input type="file" ngf-select ng-model="splash.splash4"/>
                                                <img ng-show="splash.splash4 != null" ngf-src="splash.splash4" width="80" height="120" />
                                                <img ng-show="splash.splash4 == null" ng-src="{{thumbPic4}}" ng-model="thumbPic4" width="80" height="120" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <fieldset>
                                <label>spring board name</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input type="text" name="springBoardName" ng-model="playStoreData.springBoardName"
                                       ng-pattern="/^[a-zA-Z0-9_ ]*$/" maxlength="{{maxSpringBoardName}}" required/>
                                <br>
                                <span ng-show="generalForm.springBoardName.$error.pattern">No symbols</span>
                                <br>
                                <span>Characters left: {{maxSpringBoardName - playStoreData.springBoardName.length}}</span>
                            </fieldset>
                            <fieldset class="col-3">
                                <label>language</label>
                                    <select class="form-control"
                                            ng-model="playStoreData.language"
                                            ng-options="languages.language as languages.language for languages in languageList"
                                            required>
                                    </select>
                            </fieldset>
                            <fieldset class="col-3">
                                <label>category</label>
                                <select class="form-control"
                                        ng-model="playStoreData.primaryCat"
                                        ng-options="catList.category as catList.category for catList in primaryCatList"
                                        required>
                                </select>
                            </fieldset>
                        </div>
                        <div class="clearfix">
                            <fieldset>
                                <label>description</label>
                                <textarea ng-model="playStoreData.desc" rows="2" maxlength="{{maxDesc}}" required></textarea>
                                <br>
                                <span>Characters left: {{maxDesc - playStoreData.desc.length}}</span>
                            </fieldset>
                            <fieldset>
                                <label>keywords</label>
                                <textarea ng-model="playStoreData.keywords" rows="2" maxlength="{{maxKeywords}}" required></textarea>
                                <br>
                                <span>Characters left: {{maxKeywords - playStoreData.keywords.length}}</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button">cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="generalForm.$invalid"
                                       ng-click="addGooglePlayInfo(picFile,playStoreData,splash)">next</md-button>
                        </div>
                    </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>promotions</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>promotions</h1>
                        <label class="font-size-12">
                            please note that the images below have to be screenshots of the app itself, and have to be taken from specified device.
                            images not meeting required resolution will be resized.
                        </label>
                    </div>
                    <div class="md-dialog-main clearfix">
                        <fieldset class="col-4">
                            <label class="reset-inline">iphone 5</label>
                            <div class="me-file-upload medium">
                                <div class="upload-wrapper">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-4">
                            <label class="reset-inline">iphone 5s</label>
                            <div class="me-file-upload medium">
                                <div class="upload-wrapper">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-4">
                            <label class="reset-inline">iphone 6</label>
                            <div class="me-file-upload medium">
                                <div class="upload-wrapper">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-4 reset-margin-right">
                            <label class="reset-inline">iphone 6s</label>
                            <div class="me-file-upload medium">
                                <div class="upload-wrapper">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button">cancel</md-button>
                            <md-button class="me-default-button">save</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>

<!--<fieldset class="col-4">-->
<!--<label class="reset-inline">logo</label>-->
<!--<div class="me-file-upload small">-->
<!--<div class="upload-wrapper">-->
<!--<input type="button" class="me-default-button" ngf-select ng-model="picFile"  ngf-accept="image/*" required />-->
<!--<img ng-show="picFile != null" ngf-src="picFile" width="120" height="120" />-->
<!--<img ng-show="picFile == null" ng-src="{{thumbPic}}" ng-model="thumbPic" width="120" height="120" />-->
<!--</div>-->
<!--</div>-->
<!--</fieldset>-->