<md-dialog aria-label="Google Play">
    <md-dialog-content>
        <md-tabs md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false"
                 md-dynamic-height="true">
            <md-tab ng-disabled="publishToAppStore.general">
                <md-tab-label>general</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>general</h1>
                    </div>
                    <form name="generalForm" novalidate>
                    <div class="md-dialog-main">
                        <fieldset>
                            <label>Title</label>
                            <img src="../../../images/question-mark.svg" width="12" height="12">
                            <input class="input-shadow-border" type="text" name="title" ng-model="playStoreData.title"
                                   maxlength="{{maxTitle}}" required/>
                            <br>
                            <span class="information">Characters left: {{maxTitle - playStoreData.title.length}}</span>
                        </fieldset>

                        <div class="clearfix">
                            <fieldset>
                                <label>Short description</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <textarea class="input-shadow-border" name="shortDescription" ng-model="playStoreData.shortDescription"
                                       maxlength="{{maxShortDescription}}" required></textarea>
                                <br>
                                <span class="information">Characters left: {{maxShortDescription - playStoreData.shortDescription.length}}</span>
                            </fieldset>

                        </div>
                        <div class="clearfix">
                            <fieldset>
                                <label>full description</label>
                                <textarea class="input-shadow-border" ng-model="playStoreData.fullDescription" rows="8" maxlength="{{maxFullDescription}}" required></textarea>
                                <br>
                                <span class="information">Characters left: {{maxFullDescription - playStoreData.fullDescription.length}}</span>
                            </fieldset>
                            <!--<fieldset>
                                <label>keywords</label>
                                <textarea class="input-shadow-border" ng-model="playStoreData.keywords" rows="2" maxlength="{{maxKeywords}}" required></textarea>
                                <br>
                                <span>Characters left: {{maxKeywords - playStoreData.keywords.length}}</span>
                            </fieldset>-->
                        </div>
                        <div class="row">
                            <fieldset class="col-md-3">
                                <label class="reset-inline">Hi-res icon(512 x 512)</label>
                                <a class="feature01 logo-upload">
                                    <span class="overlay01">
                                        <span class="caption01">
                                           <input type="button" class="me-default-button" ngf-select name="splash1"
                                                 ng-model="splash[4]" ngf-accept="image/*" ngf-change="validateSize(splash[4],'512','512')"
                                                 value="Add Image" ngf-validate="{width: {min: 512, max:512}, height: {min: 512, max: 512}}"/>

                                        </span>
                                    </span>
                                    <img ng-if="splash[4] != null" ngf-src="splash[4]"  style="width:120px; height:120px;" />
                                    <img ng-show="splash[4] == null" ng-src="{{thumbPic}}" ng-model="thumbPic" width="120" height="120" />
                                </a>
                            </fieldset>

                            <fieldset class="col-md-4">
                                <label class="reset-inline">Feature Graphic(1024 w x 500 h)</label>
                                <a class="feature01 logo-upload">
                                    <span class="overlay01">
                                        <span class="caption01">
                                           <input type="button" class="me-default-button" ngf-select
                                                  ng-model="splash[5]" ngf-accept="image/*" ngf-change="validateSize(splash[5],'1024','500')"
                                                  value="Add Image" ngf-validate="{width: {min: 1024, max:1024}, height: {min: 500, max: 500}}" />
                                        </span>
                                    </span>
                                    <img ng-if="splash[5] != null" ngf-src="splash[5]"  style="width:120px; height:120px;" id="FeatureGraphic"/>
                                    <!--                             <img ng-show="picFile != null" ngf-src="picFile" style="width:120px; height:120px;" />-->
                                    <img ng-show="splash[5] == null" ng-src="{{thumbPic}}" ng-model="thumbPic" width="307" height="150" />
                                </a>
                            </fieldset>

                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <label class="reset-inline">Screen Shots</label>
                            <div class="clearfix">
                                <fieldset class="col-4">
                                    <div class="me-file-upload text-right medium">
                                        <div class="upload-wrapper">
                                            <input type="file" ngf-select ng-model="splash[0]" />
                                            <img ng-show="splash[0] != null" ngf-src="splash[0]" width="120" height="120" />
                                            <img ng-show="splash[0]== null" ng-src="{{thumbPic1}}" ng-model="thumbPic1" width="120" height="120" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="col-4">
                                    <div class="me-file-upload text-right medium">
                                        <div class="upload-wrapper">
                                            <input type="file" ngf-select ng-model="splash[1]"/>
                                            <img ng-show="splash[1] != null" ngf-src="splash[1]" width="120" height="120" />
                                            <img ng-show="splash[1]== null" ng-src="{{thumbPic2}}" ng-model="thumbPic2" width="120" height="120" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="col-4">
                                    <div class="me-file-upload text-right medium">
                                        <div class="upload-wrapper">
                                            <input type="file" ngf-select ng-model="splash[2]"/>
                                            <img ng-show="splash[2] != null" ngf-src="splash[2]" width="120" height="120" />
                                            <img ng-show="splash[2] == null" ng-src="{{thumbPic3}}" ng-model="thumbPic3" width="120" height="120" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="col-4 reset-margin">
                                    <div class="me-file-upload text-right medium">
                                        <div class="upload-wrapper">
                                            <input type="file" ngf-select ng-model="splash[3]"/>
                                            <img ng-show="splash[3] != null" ngf-src="splash[3]" width="120" height="120" />
                                            <img ng-show="splash[3] == null" ng-src="{{thumbPic4}}" ng-model="thumbPic4" width="120" height="120" />
                                        </div>
                                    </div>
                                </fieldset>


                            </div>
                          </div>
                        </div>
                        <div class="clearfix">
                            <fieldset class="col-3">
                                <label>language</label>
                                    <select class="input-shadow-border form-control"
                                            ng-model="playStoreData.language"
                                            ng-options="languages.language as languages.language for languages in languageList"
                                            required>
                                    </select>
                            </fieldset>
                            <fieldset class="col-3">
                                <label>category</label>
                                <select class="input-shadow-border form-control"
                                        ng-model="playStoreData.primaryCat"
                                        ng-options="catList.category as catList.category for catList in primaryCatList"
                                        required>
                                </select>
                            </fieldset>

                        </div>
                        <div class="clearfix">
                            <fieldset>
                                <label>Email</label>
                                <img src="../../../images/question-mark.svg" width="12" height="12">
                                <input class="input-shadow-border"
                                       type="email"
                                       ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                       name="email" ng-model="playStoreData.email" required/>
                                <span class="error help-block" ng-show="generalForm.email.$dirty && generalForm.email.$invalid">
                                        Enter a proper email
                                </span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button class="me-default-button" ng-click="hide()">cancel</md-button>
                            <md-button class="me-default-button" ng-disabled="generalForm.$invalid"
                                       ng-click="addGooglePlayInfo(picFile,playStoreData,splash)">finish</md-button>
                        </div>
                    </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="publishToAppStore.promotions">
                <md-tab-label>promotions</md-tab-label>
                <md-tab-body>
                    <div class="md-dialog-header">
                        <h1>promotions</h1>
                        <label class="font-size-12">
                            please note that the images below have to be screenshots of the app itself, and have to be taken from specified device.
                            images not meeting required resolution will be resized.
                        </label>
                    </div>
                    <div class="md-dialog-main clearfix">
                        <fieldset class="col-4">
                            <label class="reset-inline">iphone 5</label>
                            <div class="me-file-upload medium">
                                <div class="upload-wrapper">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-4">
                            <label class="reset-inline">iphone 5s</label>
                            <div class="me-file-upload medium">
                                <div class="upload-wrapper">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-4">
                            <label class="reset-inline">iphone 6</label>
                            <div class="me-file-upload medium">
                                <div class="upload-wrapper">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-4 reset-margin-right">
                            <label class="reset-inline">iphone 6s</label>
                            <div class="me-file-upload medium">
                                <div class="upload-wrapper">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="md-dialog-buttons">
                        <div class="inner-section">
                            <md-button ng-click="hide()" class="me-default-button">cancel</md-button>
                            <md-button class="me-default-button">save</md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>

<!--<fieldset class="col-4">-->
<!--<label class="reset-inline">logo</label>-->
<!--<div class="me-file-upload small">-->
<!--<div class="upload-wrapper">-->
<!--<input type="button" class="me-default-button" ngf-select ng-model="picFile"  ngf-accept="image/*" required />-->
<!--<img ng-show="picFile != null" ngf-src="picFile" width="120" height="120" />-->
<!--<img ng-show="picFile == null" ng-src="{{thumbPic}}" ng-model="thumbPic" width="120" height="120" />-->
<!--</div>-->
<!--</div>-->
<!--</fieldset>-->