<md-dialog aria-label="Add Currency">

    <!--Google Analytics-->
    <script>
        ga('set', 'page', '/user/edit/commerce/currency/currencyView.html');
        ga('send', 'pageview');
    </script>

    <md-dialog-content>
        <div class="md-dialog-header">
            <h1>Add Currency</h1>
        </div>
        <div class="md-dialog-main">
            <form name="productForm" novalidate>
                <fieldset>
                    <label>Currency list</label>
                    <select class="form-control"
                            ng-model="oneCurrency.currency"
                            ng-options=" oneCurrency.sign as oneCurrency.currency for oneCurrency in currencyList">
                    </select>
                </fieldset>
               <fieldset class="text-right reset-margin">
                   <input type="submit" class="me-default-button" ng-click='addCurrency()' value="Set Currency" />
               </fieldset>
            </form>
        </div>
        <div class="md-dialog-buttons">
            <div class="inner-section">
                <md-button class="me-default-button" ng-click="answer('cancel')">Cancel</md-button>
                <md-button class="me-default-button" ng-click="answer()">Ok</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>