<div class="container">
  <!--<app-carousel [slides]="slides"></app-carousel>-->

  <div *ngIf='formType == "delivery"'>

    <!-- <div class="row padding-vertical">
            <form name="test" #myForm="ngForm" (ngSubmit)="test()" class="container main-content-font" novalidate>
                <p>Is "myForm" valid? {{myForm.valid}}</p>
      <div class="col-md-7">
        <div class="row main-content-font">
          <h3 class="col-sm-12 main-header-font">Billing Details</h3>
          <div class="form-group col-sm-6 mt-3">
            <label for="fname">First Name</label>
            <div>
                <input class="form-control" pattern="[a-zA-Z][a-zA-Z ]+" type="text" #fname='ngModel' name="fname" id="fname" placeholder="Arstina"
                       ngModel required>
                <div [hidden]="fname.valid || fname.pristine" class="alert alert-danger">
                  <div [hidden]="!fname.hasError('required')">First Name is required</div>
                  <div [hidden]="!fname.hasError('pattern')">Only alphabetsallowed</div>
                </div>
              </div>          </div>
          <div class="form-group col-sm-6 mt-3">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]='lname' name="lname" [value]="lname" id="lname" aria-describedby="lname">
          </div>
          <div class="form-group col-sm-6">
            <label for="email">Email address</label>
            <input type="email" [(ngModel)]='email' name="address" [value]="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="form-group col-sm-6">
            <label for="phone">Phone</label>
            <input type="tel" [(ngModel)]='phone' name="phone" [value]="phone" class="form-control" id="phone" aria-describedby="phone">
          </div>
          <div class="form-group col-sm-6">
            <label for="phone">House/Apartment Number</label>
            <input type="text" [(ngModel)]='streetNumber' name="streetNo" [value]="streetNumber" class="form-control" id="streetNumber" aria-describedby="streetNumber">
          </div>
          <div class="form-group col-sm-6">
            <label for="email">street Name</label>
            <input type="email" [(ngModel)]='streetName' name="streetName" [value]="streetName" class="form-control" id="streetName" aria-describedby="streetName">
          </div>
          <div class="form-group col-sm-6">
            <label for="cname">City</label>
            <input type="text" [(ngModel)]='city' name="city" [value]="city" class="form-control" id="cname" aria-describedby="cname">
          </div>
          <div class="form-group col-sm-6">
            <label for="phone">Postal Code/ZIP</label>
            <input type="number" [(ngModel)]='zip' name="postal" [value]="zip" class="form-control" id="zip" aria-describedby="zip">
          </div>
          <div class="form-group col-sm-12">
            <select name="country" [(ngModel)]="country" (ngModelChange)="countryChanged(country)" class="form-control">
              <option *ngFor="let c of countries" [selected]="country==c.countryName" value = '{{c.countryName}}'> {{c.countryName}} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <h3 class="main-header-font">Shipping Options</h3>

        <div class="radio main-content-font" *ngFor="let ship of shippingData, let idx = index">
          <label>
            <input  #r  name="shipping" type="radio" class="custom-control-input" value="{{ship.optionName}}" [(ngModel)]="details.shipping" (change)='addShipping(ship,$event)'>
            {{ship.optionName}} <span>({{ship.shippingOption}})</span>
          </label>
        </div>
      </div>
    </form>
    </div> -->

    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group">
        <label>First Name:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input id=fname class="form-control" type="text" placeholder="Arstina" [formControl]="complexForm.controls['fName']" required>

        <div *ngIf="complexForm.controls['fName'].hasError('required')
        && complexForm.controls['fName'].touched && complexForm.controls['fName'].dirty" class="alert alert-danger">
          You must include a First name.
        </div>
        <div *ngIf="!complexForm.controls['fName'].valid && complexForm.controls['fName'].touched && complexForm.controls['fName'].dirty" class="alert alert-danger">
          First Name must only include Alphabetic character and no spaces.
        </div>
        <!-- <div *ngIf="complexForm.controls['fName'].hasError('minlength')
        && complexForm.controls['fName'].touched" class="alert alert-danger">
          Your first name must be at least 4 characters long.
        </div>
        <div *ngIf="complexForm.controls['fName'].hasError('maxlength')
        && complexForm.controls['fName'].touched" class="alert alert-danger">
          Your last name cannot exceed 10 characters.
        </div> -->

      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="kale" [formControl]="complexForm.controls['lName']">

        <div *ngIf="complexForm.controls['lName'].hasError('required')
        && complexForm.controls['lName'].touched && complexForm.controls['lName'].dirty" class="alert alert-danger">
          You must include a Last name.
        </div>
        <div *ngIf="!complexForm.controls['lName'].valid && complexForm.controls['lName'].touched && complexForm.controls['lName'].dirty" class="alert alert-danger">
          Last Name must only include Alphabetic character and no spaces.
        </div>
        <!-- <div *ngIf="complexForm.controls['lName'].hasError('minlength')
        && complexForm.controls['lName'].touched" class="alert alert-danger">
          Your first name must be at least 4 characters long.
        </div>
        <div *ngIf="complexForm.controls['lName'].hasError('maxlength')
        && complexForm.controls['lName'].touched" class="alert alert-danger">
          Your last name cannot exceed 10 characters.
        </div> -->

      </div>
      <div class="form-group">
        <label>Email:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="you@example.com" [formControl]="complexForm.controls['email']">

        <div *ngIf="complexForm.controls['email'].hasError('required')
        && complexForm.controls['email'].touched && complexForm.controls['email'].dirty" class="alert alert-danger">
          You must include an email.
        </div>
        <div *ngIf="!complexForm.controls['email'].valid && complexForm.controls['email'].touched && complexForm.controls['email'].dirty" class="alert alert-danger">
          invalid Email
        </div>

      </div>
      <div class="form-group">
        <label>Phone:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="+94712345678" maxlength="16" [formControl]="complexForm.controls['phone']">

        <div *ngIf="complexForm.controls['phone'].hasError('required')
        && complexForm.controls['phone'].touched && complexForm.controls['phone'].dirty" class="alert alert-danger">
          You must include a Phone Number.
        </div>
        <div *ngIf="!complexForm.controls['phone'].valid && complexForm.controls['phone'].touched && complexForm.controls['phone'].dirty" class="alert alert-danger">
          Enter a valid Phone Number (ex: +94123456789)
        </div>

      </div>
      <div class="form-group">
        <label>House/Apartment Number:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="#244 A" [formControl]="complexForm.controls['streetNo']">

        <div *ngIf="complexForm.controls['streetNo'].hasError('required')
        && complexForm.controls['streetNo'].touched && complexForm.controls['streetNo'].dirty" class="alert alert-danger">
          You must include Street Number.
        </div>

      </div>
      <div class="form-group">
        <label>Street Name:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="Your Road" [formControl]="complexForm.controls['streetName']">

        <div *ngIf="complexForm.controls['streetName'].hasError('required')
        && complexForm.controls['streetName'].touched  && complexForm.controls['streetName'].dirty" class="alert alert-danger">
          You must include Street Name.
        </div>
      </div>
      <div class="form-group">
        <label>City:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="Your City" [formControl]="complexForm.controls['city']">

        <div *ngIf="complexForm.controls['city'].hasError('required')
        && complexForm.controls['city'].touched && complexForm.controls['city'].dirty" class="alert alert-danger">
          You must include a City.
        </div>

      </div>
      <div class="form-group">
        <label>Postal Code/ZIP:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="70000" [formControl]="complexForm.controls['zip']">

        <div *ngIf="complexForm.controls['zip'].hasError('required')
        && complexForm.controls['zip'].touched && complexForm.controls['zip'].dirty" class="alert alert-danger">
          You must include zip code.
        </div>
        <div *ngIf="!complexForm.controls['zip'].valid && complexForm.controls['zip'].touched && complexForm.controls['zip'].dirty" class="alert alert-danger">
          invalid zip code
        </div>
      </div>
      <label>Country:</label>
      <select id="country" class="form-control" formControlName="country" (change)="countryChanged()">
        <option *ngFor="let c of countries" [ngValue]="c.countryName">
          {{c.countryName}}
        </option>
      </select>
      <br>
      <div class="col-md-5" *ngIf="complexForm.valid">
        <h3 class="main-header-font">Shipping Options</h3>

        <div class="radio main-content-font" *ngFor="let ship of shippingData, let idx = index">
          <label>
            <input id="delivery" #r name="shipping" type="radio" class="custom-control-input" value="{{ship.optionName}}" [(ngModel)]="details.shipping"
              (change)='addShipping(ship,$event,complexForm.value)' [ngModelOptions]="{standalone: true}"> {{ship.optionName}}
            <span>({{ship.shippingOption}})</span>
          </label>
        </div>
      </div>
    </form>

  </div>


  <div class="row main-content-font" *ngIf='formType == "pickup"'>

    <h3 class="col-sm-12 mb-4 main-header-font">Pickup Details</h3>

    <form [formGroup]="pickupForm" (ngSubmit)="submitForm(pickupForm.value)">
      <div class="form-group">
        <label for="name" class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input class="form-control" name="name" id="name" placeholder="Arstina" [formControl]="pickupForm.controls['name']">
        </div>
        <div *ngIf="pickupForm.controls['name'].dirty || pickupForm.controls['name'].touched">
        <div *ngIf="pickupForm.controls['name'].hasError('required')
        && pickupForm.controls['name'].touched" class="alert alert-danger">
          You must include a Name.
        </div>
        <div *ngIf="!pickupForm.controls['name'].valid" class="alert alert-danger">
          Name must only include Alphabetic character
        </div>
        </div>
      </div>

      <div class="form-group">
        <label for="pkPhone" class="col-2 col-form-label">Phone</label>
        <div class="col-10">
          <input class="form-control" type="text" maxlength="16" placeholder="+94712345678" [formControl]="pickupForm.controls['phone']">
        </div>
        <div *ngIf="pickupForm.controls['phone'].dirty || pickupForm.controls['phone'].touched">
        <div *ngIf="pickupForm.controls['phone'].hasError('required')
        && pickupForm.controls['phone'].touched" class="alert alert-danger">
          You must include a Phone Number.
        </div>
        <div *ngIf="!pickupForm.controls['phone'].valid" class="alert alert-danger">
          Enter a valid Phone Number (ex: +94123456789)
        </div>
        </div>
      </div>

      <div class="col-sm-12" *ngIf="pickupForm.valid">
        <h4 class="my-3 main-header-font">Select a Location</h4>
        <div class="row main-content-font">
          <div class="radio" *ngFor="let pick of pickup, let idx = index">
            <label>
              <input id="pickup" #r type="radio" name="pickup" value="{{pick.locationName}}" class="custom-control-input" (click)='checkout(pickup[idx],pickupForm.value)'>
              <b>{{pick.locationName}}</b>
              <div>{{pick.number}}, {{pick.streetAddress}}, {{pick.city}}, {{pick.postalCode}}, {{pick.country}}.</div>
            </label>
          </div>
        </div>

      </div>
    </form>
    <!-- <div class="form-group col-sm-6">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]='name' class="form-control" id="name" aria-describedby="name" required>
    </div>

    <div class="form-group col-sm-6">
      <label for="pkPhone">Phone</label>
      <input type="tel" [(ngModel)]='pkPhone' class="form-control" id="pkPhone" aria-describedby="pkPhone" required>
    </div> -->



  </div>


  <hr class="featurette-divider">



  <div *ngIf='isSelected && complexForm.valid && sign && totalPrice || isSelected && pickupForm.valid && sign && totalPrice'>
    <h3 class="main-header-font">Your order</h3>
    <table class="table table-responsive">
      <thead class="main-header-font">
        <tr>
          <th width="89%">Item</th>
          <th width="100%" style = "text-align: center">Qty</th>
          <th width="100%">Price</th>
        </tr>
      </thead>
      <tbody class="main-content-font">
        <tr *ngFor="let itm of cartItems">
          <td> {{itm.name}}&nbsp;</td>
          <td style = "text-align: right"> {{itm.qty}}&nbsp;</td>
          <td>
            <span>{{sign}}{{itemPriceCal(itm.total,itm.qty)}}</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr *ngIf='hideShipping'>
          <th>Shipping</th>
          <td></td>
          <td >{{sign}}{{chkShippingCost}}</td>
        </tr>
        <tr *ngIf='chkPickupCost > 0'>
          <th>Pick up cost</th>
          <td></td>
          <td>{{sign}}{{chkPickupCost}}</td>
        </tr>
        <tr>
          <th>Tax({{chkTax}}%)</th>
          <td></td>
          <td>{{sign}}{{taxTotal}}</td>
        </tr>
        <tr class="order-total">
          <th class="main-header-font">Total</th>
          <td>
            <strong>
              <span class="main-header-font">{{totalQuantity}}</span>
            </strong>
          </td>
          <td>
            <strong>
              <span class="main-header-font">{{sign}}{{totalPrice}}</span>
            </strong>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>


  <br>
  <div *ngIf="overWeight">Over weight. Cannot ship</div>
  <div *ngIf="underWeight">Under weight. Cannot ship</div>

  <div class="custom-controls-stacked main-content-font" *ngIf="isSelected && !(overWeight || underWeight) && complexForm.valid || isSelected && !(overWeight || underWeight) && pickupForm.valid">
    <h3 class="main-header-font">Select Payment Type</h3>
    <div *ngIf="deliveryShow" class="mt-3">

      <div class="radio">
        <label>
          <input type="radio" name="deliveryShow" value="cashOnDelivery" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> Cash On Delivery
        </label>
      </div>
    </div>

    <div *ngIf="pickupShow" class="mt-3">
      <div class="radio">
        <label>
          <input type="radio" name="pickupShow" value="cashOnPickup" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> Cash On Pickup
        </label>
      </div>
    </div>

    <div *ngIf="paypalShow" class="mt-3">
      <div class="radio">
        <label>
          <input type="radio" name="paypalShow" value="paypal" (click)="buyWithPayPal()" [(ngModel)]="paymentType" (ngModelChange)="ps=true"
            class="custom-control-input"> PayPal
        </label>
      </div>
    </div>

    <div *ngIf="stripeShow" class="mt-3">
      <div class="radio">
        <label>
          <input type="radio" name="stripeShow" value="creditcard" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> Stripe
        </label>
      </div>
    </div>

    <div *ngIf="braintreeShow" class="mt-3">
      <div class="radio">
        <label>
          <input type="radio" name="braintreeShow" value="braintree" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> Braintree
        </label>
      </div>
    </div>

    <div *ngIf="authorizeNet" class="mt-3">
      <div class="radio">
        <label>
          <input type="radio" name="authorizeNet" value="authorizeNet" [(ngModel)]="paymentType" (ngModelChange)="ps=true" class="custom-control-input"> AuthorizeNet
        </label>
      </div>
    </div>

    <form *ngIf="paymentType == 'cashOnPickup' || paymentType == 'cashOnDelivery'" name="cashPaymentFrom" novalidate class="row my-4">
      <div class="col-sm-12 margin-left">
        <h5 *ngIf="paymentType == 'cashOnDelivery'">Confirm payment by cash on delivery</h5>
        <h5 *ngIf="paymentType == 'cashOnPickup'">Confirm payment by cash on pickup</h5>
        <button class="btn main-button btn-lg col-xs-12 col-sm-3" (click)="confirmCashPayment()">Confirm</button>
      </div>
      <div class="col-sm-12" style="margin: 10px 0">
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      </div>
    </form>

    <form name="cashPaymentFrom" novalidate class="row my-4" *ngIf="paymentType == 'paypal'">
      <div class="col-sm-12">
        <h5>Click to pay with PayPal</h5>
        <app-paypal-payment></app-paypal-payment>
      </div>
    </form>


    <form #myForm="ngForm" (ngSubmit)="submit(myForm.value,paymentType)" novalidate class="row margin-vertical" *ngIf="paymentType == 'creditcard' || paymentType == 'authorizeNet'">

      <!-- <p>Is "myForm" valid? {{myForm.valid}}</p> -->

      <label class="form-group col-sm-6">
        <label>Charge Amount</label>
        <input class="form-control" placeholder="Charge Amount" type="text" [(ngModel)]="card.amount" name="cardAmount" disabled>
      </label>
      <label class="form-group col-sm-6">
        <label>Name on card</label>
        <input class="form-control" placeholder="Name on card*" type="text" #userName='ngModel' name='userName' ngModel required>
        <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
          <div [hidden]="!userName.hasError('required')">User Name is required</div>
          <!-- <div [hidden]="!streetNumber.hasError('pattern')">Your password should contain UpperCase, LowerCase and number</div> -->
        </div>
      </label>

      <label class="form-group col-sm-6">
        <label>Card Number</label>
        <input class="form-control" minlength="15" maxlength="19" placeholder="Card Number*" pattern="[0-9]+" type="text" name="cardNumber"
          #number='ngModel' cc-type="card.cardType" ngModel required>
        <div [hidden]="number.valid || number.pristine" class="alert alert-danger">
          <div [hidden]="!number.hasError('required')">Credit card required</div>
          <div [hidden]="!number.hasError('pattern')">Credit card must consist of only numbers</div>
          <div [hidden]="!number.hasError('minlength')">Credit card must be 15-19 digits</div>
        </div>
      </label>
      <label class="form-group col-sm-6">
        <label class="input-label">Card CVC</label>
        <input class="form-control" placeholder="Card CVC*" type="text" name='cvc' minlength="3" maxlength="4" pattern="[0-9]+" #cvc='ngModel'
          cc-type="cardNumber.$ccType" ngModel required>
        <div [hidden]="cvc.valid || cvc.pristine" class="alert alert-danger">
          <div [hidden]="!cvc.hasError('required')">Security code required</div>
          <div [hidden]="!cvc.hasError('pattern')">Security code must contain only numbers</div>
          <div [hidden]="!cvc.hasError('minlength')">Security code must be 3-4 digits</div>
        </div>
      </label>

      <div class="form-group col-sm-6">
        <label>Expiration Date:</label>
        <div class="row form-group col-sm-12">
          <div class="form-group col-sm-6">
            <label>Month :</label>
            <select name="month" class="form-control" id="selectedMonth" ngModel required>
              <option *ngFor="let m of months" [ngValue]="m">{{m}} </option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label>Year :</label>
            <select name="year" class="form-control" id="selectedYear" ngModel required>
              <option *ngFor="let y of years" [ngValue]="y">{{y}} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <button type="submit" class="btn  main-button btn-lg" [disabled]='myForm.valid == false'>Make Payment</button>
        <!-- <button *ngIf="paymentType == 'authorizeNet'" type="submit" (click)='authorizeCreditCardMethod(card)' class="btn btn-primary btn-lg">MAKE PAYMENT</button> -->
      </div>
    </form>


  </div>


</div>



<!--<app-newsletter></app-newsletter>-->

<hr class="featurette-divider">
